[2018-05-14 13:16] revolunet opened #1 "FAQ, Fiches"
La clé de liaison entre FAQ, Fiches doit être l'article du code (en plus du thème si précisé)

[2018-05-14 13:19] revolunet opened #2 "Fiches : verifs URLS"
Vérifier les URLS vers les fiches :

http://travail-emploi.gouv.fr/mot/fiches-pratiques-du-droit-du-travail

en profiter pour récupérer les textes de référence

[2018-05-14 13:22] revolunet opened #3 "liens vers texte articles"
Lorsqu'on présente un article :

 - afficher un extrait
 - afficher lien vers legifrance

[2018-05-14 13:24] revolunet opened #4 "liste des services de renseignement DIRECCTE"
Afficher contacts en fonction geoloc user

[2018-05-14 13:29] revolunet opened #5 "base ACCO"
verif contenu base ACCO : https://www.data.gouv.fr/fr/datasets/acco-accords-dentreprise/

[2018-05-14 14:14] revolunet commented on #3
extraire les textes de eposeidon : https://github.com/SocialGouv/code-du-travail-data/blob/master/dataset/nomenclatures-20180413.json

[2018-05-14 14:30] revolunet opened #6 "FAQ: ouverture blocs"
afficher fleche pour comprendre qu'il faut dérouler

[2018-05-14 14:48] revolunet opened #7 "FAQ : liens textes"
dans la réponse :

 - afficher infobulle avec texte article si ref article détéctée
 - afficher infobulle avec nom + line convention collective

[2018-05-17 10:22] #6 closed, assigned to nobody

[2018-05-17 10:23] revolunet commented on #3
les textes peuvent être édités dans `articles.js`

[2018-05-17 10:23] #3 closed, assigned to nobody

[2018-05-17 10:25] revolunet commented on #1
les FAQ et Articles sont maintenant affichés si les clés themes ou articles matchent

[2018-05-17 10:25] #1 closed, assigned to nobody

[2018-05-23 09:20] revolunet opened #13 "search IDCC"

[2018-05-23 09:23] kemar opened #14 "Renommer un item du filtre "type de votre contrat""
CTT n'est pas *Contrat à temps partiel* mais **Contrat de travail temporaire**.

[2018-05-23 09:28] kemar opened #15 "Réinitialiser le filtre lors du clic sur le titre."
Pour reproduire :

- se rendre dans `Accueil > Contrat de travail`
- appliquer un filtre choisi dans `Quel est le type de votre contrat ?`
- cliquer sur le titre

Résultat : la liste est toujours filtrée.

Résultat attendu : la liste n'est plus filtrée.

[2018-05-23 12:12] jrduscher commented on #4
/!\ certains liens renvoient vers l'UC ou la DIRECCTe, une nouvelle passe de vérif  plus précise s'impose.

dept | lien | check avril 2019
-- | --
Ain | http://auvergne-rhone-alpes.direccte.gouv.fr/Vos-interlocuteurs-17741|ddz
Aisne | http://hauts-de-france.direccte.gouv.fr/Nos-coordonnees-et-acces
Allier | http://auvergne-rhone-alpes.direccte.gouv.fr/Vos-interlocuteurs-17742
alpes Maritime | http

[2018-05-23 12:32] jrduscher opened #18 "Métriques/indicateurs ★★★★★: Enrichir le prototype"
Il serait bien pour la démo, que le bouton envoyer déclenche une action:
- soit simplement un retour en page d'accueil
-  soit un message factice d'accusé réception du commentaire " Merci de votre participation", avec un retour à l'accueil
- soit la prise en compte bien réelle de cet élément...

_"Aidez-nous à nous améliorer
Avons-nous répondu à votre question ?★★★★★

Vos commentaires constructifs

[2018-05-23 12:37] revolunet commented on #18
envoyer un email à codedutravail@beta.gouv.fr ?

[2018-05-23 13:36] jrduscher opened #19 "filtres à construire: durée du travail"
je ne pense pas que ce soit la version définitive. Mais si ça ne te fais pas perdre de temps de commencer avec ça; sinon je revois ma copie plus vite.

"Votre mode d'organisation ou de répartition de la durée du travail"

Ordre attendu des propositions:
- période hebdomadaire, travail à temps plein
- période supérieure à la semaine
- forfait

- travail à temps partiel
- travail intermittent
- autr

[2018-05-23 15:23] jrduscher opened #21 "réorganisation : page "Rupture CDI""
Ordonnancement:
1er niveau: Principes de la rupture ; Licenciement, Rupture conventionnelle, Rupture à l'initative du salarié
2ème niveau: cas particulier, retraite

[2018-05-23 15:30] #14 closed, assigned to nobody

[2018-05-23 15:38] jrduscher opened #22 "ajouter un encart "en cas de blocage""
après la page d'accueil prévoir: un bouton de retour+ renvoi rens+ aidez nous à améliorer...

[2018-05-23 15:47] #15 closed, assigned to nobody

[2018-05-24 08:47] jrduscher opened #25 "Fil d'ariane"
fil pas assez vibile niveau ergonomique

[2018-05-24 09:08] revolunet opened #26 "Articulation + CCN"
Fusionner les blocs "Articulation" et "CCN"

[2018-05-24 09:18] revolunet opened #27 "fiches service-public"
Fiches dispos en XML ici : https://lecomarquage.service-public.fr/vdd/3.0/part/zip/vosdroits-latest.zip

 - builder une liste de titre/url/tags pour intégrer comme pour les fiches ministere du travail

[2018-05-24 09:27] jrduscher opened #29 "créer un renvoi vers télérc (urgent/DEMo)"
https://www.telerc.travail.gouv.fr/RuptureConventionnellePortailPublic/jsp/site/Portal.jsp

le lien doit s'afficher sur la page résultat de la rupture conventionnelle , tag :1700

[2018-05-24 12:07] #13 closed, assigned to revolunet

[2018-05-24 12:25] jrduscher opened #30 "Autres sources de droit raffinés [trop tard pour démo, donc pas urgent]"
-> Il faudra integrer les fiches services publics
-> Il faudra intégrer les "articles du Code BFC"

Comment intégrer de manière durable d'autres sources de droit raffiné à venir?

[2018-05-24 12:28] revolunet commented on #18
Ajouter des infos lors de l'envoi d'email :
 - [x] navigateur
 - [x] parcours utilisateur

[2018-05-24 12:29] revolunet commented on #30
de manière durable, idéalement il faudrait que chaque service nous propose soit une API soit un dump de leurs données pour que l'on puisse mettre à jour régulièrement

[2018-05-24 12:54] jrduscher opened #32 "Regroupements de tags : partie Période d'essai (CDI)"
niveau 1:

 Définition | Une clause nécessaire du contrat de travail | Généralités

niveau 2:

| Durée maximale par   catégories de salariés | Exceptions relatives à la   durée|  Renouvellements :   possibilités et durée

niveau 3: Délai de prévenance et   Rupture par le salarié | Délai de prévenance et   Rupture par l'employeur

niveau 4: stagiaire

[2018-05-24 12:55] #29 closed, assigned to nobody

[2018-05-24 13:00] #21 closed, assigned to nobody

[2018-05-24 13:08] #32 closed, assigned to nobody

[2018-05-24 14:59] #26 closed, assigned to revolunet

[2018-05-24 14:59] #18 closed, assigned to revolunet

[2018-05-24 15:34] #25 closed, assigned to nobody

[2018-05-25 08:31] jrduscher opened #34 "Compatibilité CDTN avec Chrome uniquement"

[2018-05-25 08:50] jrduscher opened #35 "[DEMO - facultatif]Liens vers les services de renseignement des SIT"
- enrichir le lien vers les services de renseignement : l'user doit pouvoir trouver les coordonnées de son service de renseignement en cherchant son département.

Ain | http://auvergne-rhone-alpes.direccte.gouv.fr/Vos-interlocuteurs-17741|
-- | --| --
Aisne | http://hauts-de-france.direccte.gouv.fr/Nos-coordonnees-et-acces
Allier | http://auvergne-rhone-alpes.direccte.gouv.fr/Vos-interlocuteurs-17

[2018-05-25 09:22] #22 closed, assigned to nobody

[2018-05-25 14:31] #35 closed, assigned to nobody

[2018-05-25 15:51] jrduscher opened #37 "Ajout d'une aide dans la modal "choisissez votre CCN""
info pour trouver la CCN. comment l'integrer?

**Comment trouver ma convention collective ?**
	Elle doit figurer au bulletin de paie, et sur une notice remise à l’embauche ou sur le contrat de travail
	Sur l’affichage obligatoire dans l’entreprise (avec les modalités de consultation en entreprise)
Quelle est la CCN applicable :
•	En principe celle relevant de l’activité principale dans l’entrepr

[2018-05-29 10:12] jrduscher opened #39 "Calcul d'indemnité de licenciement: ajout de CCN"
Proposer un outil pour le calcul de l’indemnité de licenciement
-  tag "300" : **indemnité de licenciement**. ( L1234-9  **R1234-5**; L1234-9;   L1234-10; L1234-11; **R1234-2**; **R1234-1**; **R1234-4**;

- tag "1700": l'article L2137-11 cite l'article L1234-9

Sur TeleRC on a un outil permettant de simuler l’indemnité légale de RC  (même calcul que le licenciement donc)
- https://www.telerc.trava

[2018-05-29 10:26] jrduscher opened #40 "Licenciement sans CRS: baremisation de l'indemnisation"
Principe :
Le licenciement jugé sans cause réelle et sérieuse entraîne le droit à la réintégration du salarié dans l'entreprise. Mais en cas de refus par le salarié/l'employeur, le juge décidera du versement par l'employeur d'une indemnité au salarié.
- Le montant de cette indemnité est décidée par le juge, dans les limites fixées par le texte. Elle est modulée, en fonction de **l'ancienneté des s

[2018-05-29 12:09] jrduscher opened #41 "Première approche de la jurisprudence"
(Brouillon à compléter)
Constats:
- au niveau juridique: une information complète doit intégrer les avancées en matière de jurisprudence, La place de la jurisprudence est de plus en plus importante dans le corpus de droit du travail.

=> Pour l'usager elle peut apporter un **élément de réponse** à son problème, en l'absence d'un texte légal ou réglementaire ou dans l'imprécision du texte seul au r

[2018-05-29 12:28] revolunet commented on #41
J'ai trouvé ces autres bases, je ne sais pas si ca peut aider :

 - https://www.data.gouv.fr/fr/datasets/capp/#_
 - http://www.conseil-etat.fr/Decisions-Avis-Publications/Decisions/ArianeWeb
 - http://www.aca-europe.eu/index.php/fr/dec-nat-fr

[2018-05-29 12:30] revolunet commented on #41
- https://juricaf.org/

[2018-06-08 15:21] revolunet commented on #34
fixé ici : e73f72fada0f26a4c275b98997264367c8c4dc6c

[2018-06-08 15:21] #34 closed, assigned to nobody

[2018-06-08 15:46] jrduscher opened #42 "affichage des données de site teleRC"
Rupture conventionnelle id tagn° 1700.

Intégrer la RC aux réponses contextualisées

* calcul du délai de retraction
https://www.telerc.travail.gouv.fr/RuptureConventionnellePortailPublic/jsp/site/Portal.jsp?page=calculerdelairetractation
* calcul de l'indemnité légale de rupture conventionnelle
https://www.telerc.travail.gouv.fr/RuptureConventionnellePortailPublic/jsp/site/Portal.jsp?page_id=14

[2018-06-08 15:47] revolunet commented on #42
Dans le cas ou tag=1700, tu veux que tele RC doit apparaitre en priorité ?

a quel endroit ca aurait le plus de sens ?

[2018-06-11 10:01] jrduscher commented on #39
Proposition calcul indemnité légale de licenciement. Amélioration 1.( amélioration à suivre: CCN)
tag 300

## principe
 - Thème: contrat de travail
 - sous thème: licencimeent
 - sous thème: indemnité de licenciement
 - type de contrat: CDI
 - profil: salarié/employeur
 - type de réponse: principe
 - CCN: toutes ( pour l'instant)

## Calcul de l'indemnité légale
 - Thème: contrat de travail
 - sou

[2018-06-11 12:37] jrduscher opened #44 "tags eposeidons La rupture conventionnelle 1700"
proposition.

1700 | Contrat de travail > Rupture de contrat   à durée Indéterminée (CDI) > Rupture conventionnelle > Rupture   conventionnelle | R1237-3;   L1237-16; L1237-13; L1237-12; L1237-14; L1237-11; L1237-15
-- | -- | --
1710 | Contrat de travail > Rupture de contrat à durée Indéterminée (CDI)   > Rupture conventionnelle > Rupture conventionnelle> Principe | L1237-11 |   |  
1720 | Contrat

[2018-06-12 12:19] jrduscher opened #45 "Articles du code du travail- Etape 2"
Afficher dans la page résultat de la maquette tous les articles concernés par le biais d'elasticsearch.

[2018-06-12 12:27] jrduscher opened #46 "SMIC et autres variables"
Principe: pouvoir afficher des valeurs à jours sur des indicateurs. Intégrer ces indicateurs au moteur de recherche de sorte à :
- ce qu'une recherche sur le moteur de recherche renvoie à la valeur
- comme sur wikipedia, qu'un survol du mot "SMIC" dans une réponse renvoie à un calque (par exemple calque) renvoyant la valeur
=> trouver une source de donnée data ou min, ou les textes eux mêmes, bref

[2018-06-12 12:37] jrduscher opened #47 "test nveaux tags cible table faq"
je le pose  là sachant qu'il y aura des bugs...
[{
    "reponse": " La rupture conventionnelle est le résultat d'un commun accord entre l'employeur et le salarié. Elle doit être écrite. Sans l’accord de de votre employeur,  vous ne pouvez pas faire de rupture conventionnelle.
Que faire?
•	Rester dans l'entreprise.
•	Relancer l'employeur : La rupture est toujours possible par la suite, si l’employe

[2018-06-13 08:24] jrduscher opened #48 "Déterminer les dispositions spécifiques de chaque CCN par data-mining"
serait il possible techniquement de faire émerger de la compraison des CCN, des notions: alinéas, intitulé qui permettrait d'isoler des dipositions conventionnelles particulières qui ne font pas échos à un article du code du travail ( indemnité chou-blanc en boulangerie, classfication, heures pour recherche d'emploi)
L'idée est dans un premier temps de pouvoir révéler ce type de dispositions, et l

[2018-06-13 09:12] jrduscher commented on #39
** Intégration des modalités de calcul de l'indemnité de licenciement au regard de la CCN industries Chimiques.**

- art 28 avenant n°1;
- art 21 avenant n°2; https://www.legifrance.gouv.fr/affichIDCCArticle.do;jsessionid=38B0AA67BBD8B6C8FCC43C5472DA30CE.tpdila08v_3?idArticle=KALIARTI000005846462&cidTexte=KALITEXT000005677795&dateTexte=29990101&categorieLien=id
- art 14  avenant n°3;

Un accord po

[2018-06-13 09:55] jrduscher opened #49 "Trouver une CCN à partir d'un SIRET"
L'idée: demander le siret/siren de l'établissement/entreprise; renvoyer une **suggestion** de convention collective applicable. Il faut une porte de sortie ( saisir CCN dans la liste par exemple) - la règle n'est pas systématiques, notamment en cas de multiactivité-

Une CCN est applicable à une entreprise lorsque l'actvité principale de l'entreprise correpsond à une des activités incluses dans le

[2018-06-13 12:46] jrduscher commented on #46
Sur data gouv, on peut retracer le SMIC sur pluesieurs années au plus près en 2015. quand il ya relèvement du SMIC, il ya un décret portant le même intituléi; Dernier décret en vigueur sur la question: https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000036240563&fastPos=1&fastReqId=264557100&categorieLien=cid&oldAction=rechTexte

Tag "eposeidons remaniés"sur lesquels greffer le disp

[2018-06-13 15:50] jrduscher opened #50 "fiche de travail: CCN industrie chimique"
1) liste des entreprises adhérentes à l'UIC: http://www.uic.fr/Industrie-chimique/Entreprises-adherentes
2)

[2018-06-14 08:07] jrduscher opened #51 "Modélisation. Période d'essai."
**CDI**
Objectif: afficher les principes, durées maximales,
Code du Travail. art. L1221-19 à 23:https://www.legifrance.gouv.fr/affichCode.do;jsessionid=C3BB88846F68BE6145677F5EAB5D6764.tplgfr36s_3?idSectionTA=LEGISCTA000019071115&cidTexte=LEGITEXT000006072050&dateTexte=20180614

* qu'est ce qu'une période d'essai: citer le corps de l'article L1221-20
* Pour qu'il y ait période d'essai, cela doit ê

[2018-06-14 08:10] jrduscher commented on #51
_**Conditions de l'article L.1221-22 du code du travail.**

Les durées des périodes d'essai fixées par les articles L. 1221-19 et L. 1221-21 ont un caractère impératif, à l'exception :

- de durées plus longues fixées par les accords de branche conclus avant la date de publication de la loi n° 2008-596 du 25 juin 2008 portant modernisation du marché du travail ;

- de durées plus courtes fixées pa

[2018-06-14 08:10] jrduscher commented on #51
Test avec la convention de branche: Chimie, industrie chimique.

Industrie Chimique.
Article généréal 9.2 CCN:
**Renouvellement**=non
catégorie: ouvrier
référence texte: Avenant n°1, du 11 févreier 1971
réf_art:Article 3
date_texte:1992

 //[3. Période d'essai - Les modalités et la durée de la période d'essai sont définies dans les différents avenants. **La période d'essai n'est pas renouvelable**

[2018-06-14 13:00] revolunet commented on #39
Spécifications au top :)

Il manque quelques exemples de calculs "validés" qui pourront servir à des tests unitaires pour valider l'algo.

Quelques questions :
 - l'ancienneté est-elle forcément un nombre entier ?

-> je fais quelques itérations ici : https://codesandbox.io/s/6wryx6zpvr

je te propose pour l'instant le scenario suivant:

Janvier | 1000
-- | --
février | 1000
Mars | 1000
Avril | 10

[2018-06-14 13:47] jrduscher commented on #51
**Période d'essai en boulangerie**
Renouvellement= non
date=1978
Durée: 30 jours
catégorie: null/all

IDCC 843
Texte de base
**Convention collective nationale de la boulangerie-pâtisserie du 19 mars 1976.**
Etendue par arrêté du 21 juin **1978 JONC 28 juillet 1978.**
Période d'essai

Article 17 En savoir plus sur cet article...
En vigueur étendu
Le contrat de travail n'est considéré comme définiti

[2018-06-14 14:28] jrduscher commented on #51
Période d'essai en Hôtels, Café, Restaurant
Renouvellement: oui, **sauf** salariés de niveau I, échelon 1.
Renouvellement:" un accord écrit devra être établi entre les parties."
Date 1997
Ouvrier: 1 mois
ETAM:2 mois
Cadre: 3 mois;
"cadre sup acrd de gré à gré"
"Champs d'applicaiton géographique":

IDCC 1979

    Texte de base

    Convention collective nationale des hôtels, cafés restaurants (HCR)

[2018-06-14 16:05] revolunet opened #52 "hotfixes demo"
- [ ] ajouter un champ de recherche
 - [ ] recherche "SMIC" "SMIC horaire" : https://github.com/SocialGouv/code-du-travail-explorer/issues/46
 - [ ] question employeur / salarié

[2018-06-15 09:24] jrduscher commented on #39
hey c'est plutôt pas mal! d'autant que j'avais pas vu ton commentaire plus tôt. j'aime bien le préremplissage des salaires.  Cool. quelques petites choses:
1) Ce serait cool de pouvoir choper le détail du calcul avec le résultat.
2) Problème: pour les cas ancienneté inférieur à 9 mois, la faute grave, il y a un message d'erreur. Me suis planté dans la spec, ca doit pas juste afficher un message, m

[2018-06-15 13:42] jrduscher commented on #46
https://www.insee.fr/fr/statistiques/1375188 la donnée, et les explications sont disponibles sur ce site.

[2018-06-15 13:53] jrduscher commented on #46
fiches ministères sur ce thème:
{
    source: "Ministère du travail",
    href:
      "http://travail-emploi.gouv.fr/droit-du-travail/remuneration-et-participation-financiere/remuneration/article/le-montant-du-smic-brut-horaire",
    title: "Le montant du SMIC"
  },
  {
    source: "Ministère du travail",
    href:
      "http://travail-emploi.gouv.fr/droit-du-travail/remuneration-et-participation

[2018-06-20 12:03] jrduscher opened #54 "passe de vérification affichage ordering"
constat : il manque la famille de tags "contrats divers" dans contrat de travail en naviguant sur le proto

[2018-06-20 13:47] revolunet commented on #7
cf https://framagit.org/parlement-ouvert/metslesliens

[2018-06-22 13:11] jrduscher opened #56 "Sigles [WIP]"
Signification | Sigle
-- | --
accident de travail | AT
actions de sociétés d'investissement à capital variable| SICAV
activité principale exercée | APE
Agence nationale pour l'amélioration des conditions de travail | ANACT
aide au chômeur créant ou reprenant une entreprise | ACCRE/ACRE
application de gestion des dossiers des ressortissants étrangers en france | AGDREF
Bâtiment et Travaux Publics |

[2018-06-22 15:20] jrduscher commented on #56
Tenir compte de la structure des sigles X.X.X. XXX X-X-X

[2018-06-28 15:18] jrduscher opened #57 "4 questions en droit du travail"
**Heures pour la recherche d’emploi ( Industrie chimique)** : _Rupture du CDI_

1) > « Ai je le droit de rechercher un emploi sur mes heures de travail en fin de contrat ?(Industrie chimique) « 

Dans votre branche d’activité, il est prévu qu’en cours de préavis, des heures soient accordées (et payées par l’employeur).

En dehors de la période d’essai :
Par tranches d’heures correspondant à une se

[2018-07-03 09:08] kemar commented on #57
@jrduscher pour chaque question il me faudrait idéalement les infos suivantes :

- "branche": "COMMERCES À PRÉDOMINANCE ALIMENTAIRE",
- "theme": "RUPTURE DU CONTRAT DE TRAVAIL",
- "themes": [31700, 31800],

[2018-07-04 11:31] #57 closed, assigned to nobody

[2018-07-05 15:28] jrduscher opened #59 "[WIP] déploiement tags personnlaisés depuis eposeidon màj juillet 2018"
164400	Santé Sécurité > Sécurité: Généralités > Principes généraux de prévention (PGP)> Obligations de l'employeur > Mesures d eprévention L4121-1;
164400	Santé Sécurité > Sécurité: Généralités > Principes généraux de prévention > Obligations de sécurité l'employeur > PGP L4121-2;
164400	Santé Sécurité > Sécurité: Généralités > Principes généraux de prévention > Obligations de sécurité de l'employ

[2018-07-05 15:50] jrduscher commented on #41
n° de pourvoi | instance | date | nom | conclusions | theme | sous thèmes | commentaire | articles du   code du travail |   |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
  |   | 11/01/2008 | fin du CNE |   |   |   |   |   |   |   |   |   |   |   |   |   |   |  
  | CA de Paris | 01/04/2004 |   |   | discrimination cumulée | discrimin

[2018-07-06 08:10] jrduscher opened #60 "Intégration de téléservices et formulaires"
- l'objet de l'issue est de centraliser les formulaires et procédures-

- Régularisation des heures CPF:
[Demande-de-régularisation-heures-CPF.pdf](https://github.com/SocialGouv/code-du-travail-explorer/files/2169530/Demande-de-regularisation-heures-CPF.pdf)
 - Lettre type licenciement prévu par un décret de 2017
 https://www.legifrance.gouv.fr/eli/decret/2017/12/29/MTRT1733898D/jo/texte/fr

- Fic

[2018-07-09 16:30] jrduscher opened #62 "[WIP] nouvelle passe articulation des sources hiérarchie des normes"
n°texte |   | CHAMP | dixit | principe syn
-- | -- | -- | -- | --
L2251-1 |   | accord de branche/loi     CCN/ Loi     Accord d'entreprise/loi     Convention d'entreprise/loi | Une convention ou un accord peut   comporter des stipulations plus favorables aux salariés que les dispositions   légales en vigueur. Ils ne peuvent déroger aux dispositions qui revêtent un   caractère d'ordre public. | pri

[2018-07-13 14:22] jrduscher opened #63 "Filtrer dans les fiches les éléments fonction publique"
Filtrer les éléments fonction publique pour gagner  -un peu- en pertinence.

'Accident du travail',//FP
'Allocation de soutien familial (ASF)',
'Allocations',
'Allocations versées à partir du 1er enfant',
'Allocations versées à partir du 2e enfant',
'Aménagement du temps de travail',
'Arrêt maladie',
'Astreintes et permanences',
"Autorisations d'absence pour événement familial",
'Autorisations pro

[2018-07-13 14:39] jrduscher opened #64 "Tests unitaires"
**> Question : Solde de tout compte, paiement, versement en plusieurs fois imposé par l'employeur contre mon gré? :**
1) en posant toute la question ( un mail complet): FAQ: aucune bonne réponse , SP-FR: 1er résultat correct ( "Reçu pour solde de tout compte" la réponse est dans la fiche). fiches ministères dans les choux. Code du Travail ( à l'ouest)

 **> Réponse attendue:** (Article L1234-20, A

[2018-07-17 07:43] jrduscher opened #65 "[WIP] Modèles de lettre de licenciement ( Décret n° 2017-1820 du 29 décembre 2017 établissant des modèles types de lettres de notification de licenciement )"
Le texte prévoit des modèles de notification de licenciement, dans le but d'aider l'employeur à rédiger les lettres de licenciement. Cette mesure vient compléter d'autres dispositions en vue de sécuriser la rupture du contrat de travail.

Les  différents modèles couvrent :
* LICENCIEMENT POUR MOTIF PERSONNEL DISCIPLINAIRE (FAUTE(S) SÉRIEUSE(S), GRAVE(S) OU LOURDE(S))
* LICENCIEMENT POUR INAPTITUDE

[2018-07-17 07:47] jrduscher commented on #65
MODÈLE DE LETTRE DE LICENCIEMENT POUR MOTIF PERSONNEL DISCIPLINAIRE (FAUTE(S) SÉRIEUSE(S), GRAVE(S) OU LOURDE(S)) - ARTICLES L. 1232-1 ET L. 1331-1 DU CODE DU TRAVAIL

S'agissant d'un licenciement pour motif disciplinaire, l'employeur dispose d'un délai de deux mois à compter de sa connaissance des faits fautifs pour engager la procédure disciplinaire.

L'application du présent modèle est sans inc

[2018-07-17 07:47] jrduscher commented on #65
MODÈLE DE LETTRE DE LICENCIEMENT POUR INAPTITUDE - ARTICLES L. 1226-2-1 (INAPTITUDE D'ORIGINE NON PROFESSIONNELLE) ET L. 1226-12 DU CODE DU TRAVAIL (INAPTITUDE D'ORIGINE PROFESSIONNELLE)

L'application du présent modèle est sans incidence sur l'application des stipulations conventionnelles ou contractuelles plus favorables applicables au contrat de travail du salarié licencié.
S'agissant d'un lice

[2018-07-17 07:48] jrduscher commented on #65
MODÈLE DE LETTRE DE LICENCIEMENT POUR MOTIF PERSONNEL NON DISCIPLINAIRE - ARTICLE L. 1232-1 DU CODE DU TRAVAIL

L'application du présent modèle est sans incidence sur l'application des stipulations conventionnelles ou contractuelles plus favorables applicables au contrat de travail du salarié licencié.
Dénomination sociale et adresse du siège social de l'entreprise
Lieu et date
Nom, prénom et adre

[2018-07-17 07:48] jrduscher commented on #65
MODÈLE DE LETTRE DE LICENCIEMENT POUR MOTIF ÉCONOMIQUE INDIVIDUEL

L'application du présent modèle est sans incidence sur l'application des stipulations conventionnelles ou contractuelles plus favorables applicables au contrat de travail du salarié licencié.
La lettre de licenciement ne peut être adressée moins de sept jours ouvrables à compter de la date prévue de l'entretien préalable de licenci

[2018-07-17 07:48] jrduscher commented on #65
MODÈLE DE LETTRE DE LICENCIEMENT POUR MOTIF ÉCONOMIQUE POUR LES PETITS LICENCIEMENTS COLLECTIFS (MOINS DE 10 SALARIÉS DANS UNE MÊME PÉRIODE DE TRENTE JOURS OU AU MOINS 10 SALARIÉS DANS UNE MÊME PÉRIODE DE TRENTE JOURS DANS UNE ENTREPRISE DE MOINS DE 50 SALARIÉS)

L'application du présent modèle est sans incidence sur l'application des stipulations conventionnelles ou contractuelles plus favorables

[2018-07-17 07:48] jrduscher commented on #65
MODÈLE DE LETTRE DE LICENCIEMENT POUR MOTIF ÉCONOMIQUE (GRANDS LICENCIEMENTS COLLECTIFS AVEC PLAN DE SAUVEGARDE DE L'EMPLOI (PSE) : AU MOINS 10 LICENCIEMENTS SUR UNE MÊME PÉRIODE DE TRENTE JOURS DANS UNE ENTREPRISE DE PLUS DE 50 SALARIÉS)

    L'application du présent modèle est sans incidence sur l'application des stipulations conventionnelles ou contractuelles plus favorables applicables au cont

[2018-07-17 08:29] jrduscher opened #66 "procédure de licenciement"
calcul des délais et explications.
comment faire? legal design? donner l'info ou une info personnalisé avec les délais en présence?

Calcul des délais.
-prise en compte des particuliarités de procédure en fonction du motif
- procédure spécifique si salarié protégé:
-sanction disciplinaire: date de la faute(*règle)
- procédure: (le phasage+ les délais]

- contestation
  Motivation de la lettre de l

[2018-07-18 15:12] jrduscher commented on #62
* **Exclure les dispositions d'ordre public de la maquette qui ont été identifiées depuis la loi trav.( archi OP,CDC, DS)**
*** exclure provisoirement la partie 4 du code du travail
*** prévoir un disclaimer sur le contenu de l'accord d'entreprise***

[2018-07-19 15:01] kemar commented on #56
Je ferme cette issue.

Les synonymes sont pris en compte.

Voir le dépôt de code consacré aux données et à Elasticsearch https://github.com/SocialGouv/code-du-travail-data/blob/master/dataset/synonyms.json

[2018-07-19 15:01] #56 closed, assigned to nobody

[2018-07-24 11:50] jrduscher commented on #44
versée dans une issue globale sur la màj eposeidon

[2018-07-24 13:07] jrduscher opened #68 "liens"
Santé Sécurité du travail: ( tous les articles L4***-**, R4***-**, D4***-**): www.inrs.fr
Bâtiment: Art R4534-**; R4323-5* : www.oppbtp.fr

L1121-1; Reglement Intérieur; Contrat de Travail:
 https://www.cnil.fr/fr/deliberations

Rupture conventionelle : telerc

Jurisprudences:
Cour de cassation: https://www.courdecassation.fr/jurisprudence_2/
Conseil d'Etat: http://www.conseil-etat.fr/Decisions-Av

[2018-07-24 13:42] jrduscher opened #70 "Ajouter des informations complémentaires générales sur le droit du travail"
Qu'est ce que le code du travail numérique?
Qu'est ce qu'une convention collective?
Comment trouver ma convention collective?
Combien d'article dans le code du travail?
Qui est la ministre du travail?
Qui est le Directeur général du Travail?
Qu'est ce qu'une DIRECCTE?

Comemnt fonctionne la hierarchie des normes
Qu'est ce que la loi Travail?
Les ordonnances Macron, c'est quoi?

qu'est ce que le sa

[2018-07-25 12:09] jrduscher commented on #62
/!\ BLOC 1 ( CCN>AE sauf si AE "garanties au moins équivalentes") - L2253-1.
Pour certains thèmes, CCN>AE, **uniquement si "étendu".

BLOC 1 :

Il s’agit des 13 domaines listés à l’article L. 2253-1:

6° Les mesures suivantes relatives à la durée du travail, à la répartition et à l’aménagement des horaires :

- régime d’équivalence (*),

- nombre d'heures entraînant la qualification de travailleur

[2018-07-25 12:13] jrduscher commented on #62
BLOC 1:
CCN> AE. Primauté absolue de l'accord de branche dans plusieurs domaines du bloc 1?
-les points du bloc 1 sur la dure du travail
- les points qui concernent CDD et CTT.
-CDI de chantier

[2018-07-26 12:45] jrduscher opened #71 "disclaimer"
https://trello.com/c/qBxwquqV/185-integrer-le-disclaimer-renforc%C3%A9-beta

[2018-08-23 15:27] jeremiecook opened #78 "Nouvelle UI : Indiquer visuellement le focus sur le champ de recherche"
Pour l'accessibilité (notamment lors de la navigation par tabulation), il serait bien d'indiquer visuellement le champ en état "focus"

Cf : https://jeremiecook.github.io/code-du-travail-html/

[2018-08-23 15:30] kemar commented on #78
Oui merci mais c'est déjà le cas et c'est le `focus` par défaut du navigateur qui fait le job.

C.f. https://www.tjvantoll.com/2013/01/28/stop-messing-with-the-browsers-default-focus-outline/

[2018-08-23 15:45] jeremiecook commented on #78
Perso, je n’ai aucun changement au focus sur Firefox...

[2018-08-23 15:53] kemar commented on #78
Oui c'est vrai ! Je ré-ouvre pour creuser ce point. Un contre avis ici notamment http://adrianroselli.com/2017/02/avoid-default-browser-focus-styles.html

[2018-08-24 09:30] kemar commented on #78
Donc, je constate que ma stratégie de laisser la gestion du `focus` au navigateur ne marche pas bien 😢

Le focus par défaut de Firefox :

- est très peu visible [bug 251198](https://bugzilla.mozilla.org/show_bug.cgi?id=251198) (vieux de presque 15 ans)
- a un comportement très inconsistent [bug 1112717](https://bugzilla.mozilla.org/show_bug.cgi?id=1112717)

Les power users peuvent configurer la ta

[2018-08-24 09:30] #78 closed, assigned to nobody

[2018-08-30 15:47] revolunet commented on #71
closable ?

[2018-08-30 15:49] #52 closed, assigned to nobody

[2018-08-30 15:51] revolunet commented on #49
BDCC ne permettrait-il pas d'extraire l'IDCC en fonction du SIRET ?

[2018-08-30 15:53] #27 closed, assigned to nobody

[2018-08-30 15:54] #7 closed, assigned to nobody

[2018-08-30 15:55] #2 closed, assigned to nobody

[2018-08-30 15:56] jrduscher commented on #39
**Hierarchie des normes:**

Textes officiels
 Textes applicables
### Consultez votre convention ou accord d'entreprise.

Il n'y a pas de clause sur ce thème au niveau de l'accord d'entreprise?
- Consultez votre convention collective ou l'accord à portée plus large: Ils peuvent comporter des clauses sur ce thèmes qui vous sont opposables.

Il n'y a aucune clause sur ce thème : tant dans l'accord d'

[2018-08-31 09:04] revolunet opened #79 "Ajout metas social sharing"

[2018-09-04 09:58] jrduscher opened #80 "Problèmes de requêtes ES"
https://trello.com/c/MnRD2NjX/12-cas-a-traiter

[2018-09-06 10:34] jrduscher opened #81 "Intégrer la liste des conseillers du salarié"
thème:  accompagnemnt des salariés/ entretien de licenciement.

Bas Rhin (067)
http://grand-est.direccte.gouv.fr/sites/grand-est.direccte.gouv.fr/IMG/pdf/arrete_du_02_03_2018.pdf

Haut-Rhin (068)
**http://grand-est.direccte.gouv.fr/Les-conseillers-du-salaries-18337**
http://grand-est.direccte.gouv.fr/sites/grand-est.direccte.gouv.fr/IMG/pdf/liste_des_conseillers_du_salarie_haut-rhin_avec_mise_a_jo

[2018-09-06 12:19] jrduscher opened #82 "Intégrer la liste des défenseurs syndicaux"
Puy de Dôme ( 063)
http://auvergne-rhone-alpes.direccte.gouv.fr/sites/auvergne-rhone-alpes.direccte.gouv.fr/IMG/pdf/liste_defenseurs_syndicaux_puy-de-dome_au_08-06-2018.pdf

ARA page dédiée:
http://auvergne-rhone-alpes.direccte.gouv.fr/Defenseurs-syndicaux-en-Auvergne-Rhone-Alpes

[2018-09-06 14:33] revolunet commented on #81
doit apparaitre sur les thèmes :
 - rupture du contrat / licenciement...

[2018-09-06 14:33] revolunet commented on #82
doit apparaitre sur les thèmes : contestation

[2018-09-06 15:25] jrduscher opened #83 "Intégrer les service de santé au travail"
IDF:
095
http://idf.direccte.gouv.fr/sites/idf.direccte.gouv.fr/IMG/pdf/sst_agrees_95.pdf

[2018-09-06 16:10] revolunet opened #84 "Liste inspection du travail"
Carto vers toutes les inspections : https://lespacedescartes.maps.arcgis.com/apps/webappviewer/index.html?id=a6001854d98f484f97e930b78aa39ecd

[2018-09-06 16:14] revolunet opened #85 "Test unitaire période d'essai boulangerie. Tests unitaires Sprint 17-28 septembre 2018"
## query = période d'essai boulangerie

### question : "précisez le thème svp"

 - durée initiale ?
 - renouvellement ?
 - durée max ?
 - rupture ?

### résultats pour "durée initiale"
 - réponse FAQ (aucune actuellement)
 - fiche MIN.T : cas général durée periode d'essai
 - fiche SP : cas général periode d'essai
 - disclaimer hierarchie des normes CDT + CCN + AE - L2253-3 (sauf renouvellement ->

[2018-09-06 16:18] revolunet opened #86 "Page "contact""
reprendre le disclaimer + formulaire + inscription newsletter

ajouter lien dans footer

[2018-09-06 16:19] revolunet commented on #71
remplacé par #86

[2018-09-06 16:19] #71 closed, assigned to nobody

[2018-09-06 16:20] revolunet commented on #70
-> produire ces informations sous forme d'une FAQ dédiée qui pourra être intégrée dans le moteur

[2018-09-06 16:29] revolunet commented on #68
Titre | URL | Contexte
-----|------|------
INRS | www.inrs.fr | Santé Sécurité du travail: ( tous les articles L4***-, R4*-, D4*-)
OPP BTP | www.oppbtp.fr | Bâtiment: Art R4534-; R4323-5*
CNIL | https://www.cnil.fr/fr/deliberations | L1121-1; Reglement Intérieur; Contrat de Travail:
TeleRC | https://www.telerc.travail.gouv.fr | Rupture conventionelle

[2018-09-06 16:37] revolunet commented on #63
intention : déprioriser les résultats contenant "service public" si ce terme n'est pas dans la requête

[2018-09-06 16:39] revolunet opened #87 "Disclaimer fonction publique"
Si la question a un rapport avec la fonction publique, afficher un disclaimer + les résultats SP

[2018-09-06 16:49] HelaG commented on #83
@revolunet le tableau est en pdf 😓

@jrduscher si on veut exploiter ces données, est-ce que tu penses qu'on pourrait les récupérer à la source ? Passer un coup de fil à quelqu'un à la Direccte idf ?

[2018-09-06 16:53] revolunet commented on #83
Oui :/ déjà on pourrait fournir le bon PDF en fonction du département. avec les sources on pourra être en effet plus précis

[2018-09-06 16:54] jrduscher commented on #83
arriver au moins à savoir si notre servie peut espérer répondre à l’usager comme ci :

Objectif primaire : déterminer au moins la faisabilité dans les cas ci-après.  ( au mieux sortir avec une extraction de DB sous le bras)

Optimum : le salarié peut savoir qui est son médecin du travail.
Existe-t-il une base de donnée permettant en renseignant des donnes entreprise de connaitre le SST associé

Mé

[2018-09-06 16:56] #54 closed, assigned to nobody

[2018-09-06 16:58] jrduscher commented on #50
si un texte de CCN n'est pas en vigueur dans la CCN chimie, il sera malgré tout opposable aux entreprises figurant dans la liste.

[2018-09-06 17:03] revolunet commented on #49
Input (autocomplete) :
 - Nom entreprise + commune
 - ou N° SIRET

Output :
 - code activité APE -> correspondance code NAF
 - trouver numéro IDCC + liens convention correspondante

[2018-09-06 17:06] revolunet commented on #49
@yfmadaule : a part SIRENE, y-a-t-il des APIs existantes qui pourraient nous aider ?

objectif : retrouver la CC à partir du numéro SIRET (ou adresse établissement)

[2018-09-06 17:08] HelaG commented on #83
On essayera d'appeler la personne en charge alors ;)

[2018-09-06 17:09] #47 closed, assigned to nobody

[2018-09-06 17:09] jrduscher commented on #70
https://github.com/SocialGouv/code-du-travail-explorer/issues/46

[2018-09-06 17:10] #46 closed, assigned to nobody

[2018-09-06 17:10] #45 closed, assigned to nobody

[2018-09-06 17:11] revolunet commented on #44
cf #59

[2018-09-06 17:11] #44 closed, assigned to nobody

[2018-09-06 17:14] revolunet commented on #40
-> https://www.service-public.fr/particuliers/vosdroits/F1848

[2018-09-06 17:15] #30 closed, assigned to nobody

[2018-09-06 17:18] revolunet commented on #4
source à éditer : https://github.com/SocialGouv/code-du-travail-explorer/blob/master/src/data/services-de-renseignement.json

[2018-09-07 11:55] jrduscher commented on #83
@HelaG Il ya un potentiel à disposer de bonnes données bien pertinentes pour l'usager en agitant le niveau national ( DGT). On verra pour le mode dégradé après: Mais si le pdf est une gêne, je pense qu'il n'y a pas d'obstacle à ce qu'on obtienne le doc original ( sans doute un xls ou un csv).

[2018-09-07 13:19] revolunet commented on #49
En regardant avec mon code APE, cela me propose 4 IDCC :

<img width="360" alt="capture d ecran 2018-09-07 a 15 18 27" src="https://user-images.githubusercontent.com/124937/45221354-68ae2980-b2b1-11e8-9012-0a2dd62d876a.png">

Dans ce cas, on proposerait les 4 choix à l'usager ?

https://socialgouv.github.io/conventions-collectives/

[2018-09-07 13:28] jrduscher commented on #81
Fait. amélioration à prévoir: date du fichier en lien, normalisation des fichiers mises en ligne avec la MAESIC, regler la question Mayotte.

[2018-09-10 08:45] revolunet commented on #39
Nouvelle version : https://codesandbox.io/s/6wryx6zpvr

Points non traités :
 - "ancienneté ininterrompue"
 - faut grave + ancienneté < 9 mois
 - hierarchie

[2018-09-10 10:06] jrduscher commented on #84
attention, il s'agit de l'Ile de France uniquement.

[2018-09-10 10:13] jrduscher opened #88 "internet explorer version MAS Affichage tuiles"
non prioritaire.

les liens URL des PC en interne renvoient systématiquement vers une ouverture d'internet explorer dans une version 11.0.80.
La page principale s'affiche, mais les premières requêtes renvoient vers l'erreur suivante:
"An unexpected error has occurred."

L'idée à mon sens serait de détecter la version de l'utilisateur, et de proposer à minima un disclaimer invitant l’utilisateur d'

[2018-09-10 10:14] revolunet commented on #88
Oui, on va faire en sorte que cela fonctionne aussi dans IE 😃

[2018-09-17 09:39] jrduscher commented on #60
http://idf.direccte.gouv.fr/Vous-etes-salarie-en-risque-de-licenciement-pour-inaptitude
demande de RQTH auprès des MDPH.

[2018-09-18 07:38] jrduscher commented on #62
Constat: les champs telles que le transfert de contrat de travail ou le télétravail n'apparaissent que dans la partie générique du contrat de travail, ces dispositions tendent donc à s'appliquer quel que soit le type de contrat. L'application de la règle "Le particulier prime sur le général" pourrait servir à améliorer la pertinence des recherches effectués, et des questions posées.

En matières d

[2018-09-18 09:33] jrduscher commented on #62
Contrat de professionnalisation.
principe peut être en cdi ou cdd.
principe: les dispositions du code du travail sont applicables aux salariés en contrat de professionnalisation, sauf si elles sont incompatibles  avec les exigences de formation. (qui l'apprécie?)

Si CDD: articles CDD applicables sauf articles spécifiques: renouvellement du cdd article L6325-7 >(articles CDD : L1243-5; L1243-9;

[2018-09-18 09:34] jrduscher commented on #62
Dispositions jeunes travailleurs: principe de spécialité
Dipositions jeunes travailleurs, si rien: code du travail

[2018-09-18 13:29] jrduscher commented on #85
test unitaire: indemnisation en cas de licenciement sans cause réelle et sérieuse.
Test:  indemnisation licenciement sans crs
test : indemnisation licenciement abusif

mêmes résultats: renvoi vers la fiche https://www.service-public.fr/particuliers/vosdroits/F33999.

Attendu:
fiche service public: la grille figure dans la fiche. ( voir ci dessus)
fiche ministère:  http://travail-emploi.gouv.fr/dro

[2018-09-18 14:02] jrduscher opened #89 "CDTN : harcelement moral / risques psychosociaux"

[2018-09-19 10:31] jrduscher commented on #62
ajouter la liste des travaux danegreux : https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006081686
liste des travaux inslabures : https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006081686

[2018-09-19 12:26] jrduscher opened #90 "Ajouter les sanctions prévues par le CDT"
objectif: enrichir les données de réponse, et en particulier côté employeur avec les sanctions rpévues par le code du trvail selon le camo correzpondnat à la question posée.
-  lier les tags epos entre eux, pour faire ressortir une table de correspondance entre les articles du code et les sanctions qui peuvent s'y rapporter.
- faire ressortir : proposer l'affichage de  la peine encouru en fonction

[2018-09-19 15:05] jrduscher opened #91 "CDTN version dév postée par revolunet le 19/09"
_"Livraison d’une instance de dev : https://codedutravail-dev.num.social.gouv.fr

- ajout d’urls fixes pour les faq+fiches
- contenu directement intégré sur faq+fiches
- intégration des thèmes de Jeremie sur “rupture de contrat” (la navigation est là mais pas (encore) le contenu)
- intégration pour tests d’un champ de suggestions sur les FAQ+fiches

Les pages de résultats (Faq, fiche) sont encore

[2018-09-19 15:54] jrduscher commented on #91
feedback JR:
- thèmes et sous thèmes:  Je crois que cela pourra parler à nos utilisateurs. la navigation est fluide. Problème constaté, on est pas exhaustif, on ne gagnerait pas en lisibilité à l'être, mais il faut une porte de sortie pour l'utilisateur. dans les exemples données on a  pas la prise d'acte de rupture pour l'instant par exemple.
- suggestions à la saisie: je valide carrément, ca a l

[2018-09-19 16:07] revolunet opened #92 "[ok pour mise en prod]contenu intégré : mise en forme"
- Améliorer le rendu des contenu intégré pour se rapprocher de la présentation chez les fournisseurs (service-public...)
 - ajout info sur la date de publication/validité
 - lien vers la source

[2018-09-19 16:08] revolunet commented on #91
Je réponds dans la foulée : merci :)

 - thèmes / sous-thèmes : on peut remplir le thème rupture pour voir ce que cela donne. dans chaque "question" on pourra ajouter des suggestions vers autres sujets connexes.

 - suggestions : on peut intégrer le contenu que l'on souhaite; j'ai limité à FAQ+fiches pour l'instant

 - contenu intégré : oui travail de mise en forme à prévoir; il faudra peut-être a

[2018-09-19 16:24] jrduscher opened #93 "issue à supprimer"

[2018-09-19 16:32] jrduscher commented on #93
"

[2018-09-20 07:14] revolunet opened #94 "MAJ données ePoseidon"
- [ ] Mettre à jour les données des tags
 - [ ] Utiliser comme source principale pour le CDT

[2018-09-20 07:15] revolunet opened #95 "Page Article du code"
Page de lecture d'un article

[2018-09-20 07:16] revolunet opened #96 "Page fiche service-public"

[2018-09-20 07:16] revolunet opened #97 "Page fiche ministère du Travail"

[2018-09-20 07:16] revolunet opened #98 "[ok pour mise en prod] Page FAQ"

[2018-09-20 07:17] revolunet opened #99 "Intégrer outil choix CCN"
Proposer l'outil lorsque l'on recherche sa convention collective

[2018-09-20 07:18] revolunet commented on #92
cf mockups https://projects.invisionapp.com/share/DBMWXF74F2G#/screens/308308614

#95 #96 #97 #98

<img width="1427" alt="capture d ecran 2018-09-20 a 09 16 52" src="https://user-images.githubusercontent.com/124937/45802103-22e06080-bcb6-11e8-90f8-c0371a5b2002.png">

[2018-09-20 07:21] revolunet commented on #37
cf #99

[2018-09-20 09:11] jrduscher commented on #85
https://github.com/SocialGouv/code-du-travail-explorer/issues/93

"question": "A quelle date mon salaire doit être versé ?"

"question": " Mon contrat de travail prend fin. Quels documents mon employeur doit me remettre ?"

"question": "Comment sont payées les heures supplémentaires ?"

"question": "Est-ce que mon employeur peut m’obliger à faire des heures supplémentaires ?"

"question": "Mon emp

[2018-09-20 10:07] revolunet opened #100 "intégrer les thèmes dans la recherche"
Les thèmes (en bas) doivent aussi apparaitre dans les résultats

[2018-09-20 11:27] jrduscher commented on #85
"question": "A quelle date mon salaire doit être versé ?"

Question | A quelle date mon salaire doit être versé ?
A quelle date mon salaire doit être versé ?
La loi ne prévoit pas de date précise mais impose un versement une fois par mois.

Fiche Ministère du travail | Le versement du salaire : quand et comment est-il versé ?
• Le salaire doit être versé une fois par mois, à date fixe. • La rémuné

[2018-09-20 12:17] jrduscher commented on #93
**indemnisation en cas de licenciement sans cause réelle et sérieuse.**
Test: indemnisation licenciement sans crs
test : indemnisation licenciement abusif

mêmes résultats: renvoi vers la fiche https://www.service-public.fr/particuliers/vosdroits/F33999.

**Attendu:**
fiche service public: la grille figure dans la fiche. ( voir ci dessus)
fiche ministère: http://travail-emploi.gouv.fr/droit-du-tra

[2018-09-20 12:18] jrduscher commented on #93
**Mon contrat de travail prend fin. Quels documents mon employeur doit me remettre **?****
= documents de fin de contrat, documents obligatoires
= rupture du contrat
= certificat de travail, solde de tout compte, attestation pole emploi

**Suggestions :
I) Principe/cas général :**

FAQ | Mon contrat de travail prend fin. Quels documents mon employeur doit me remettre ?
Fiche Service- Public.fr |Qu

[2018-09-20 12:18] jrduscher commented on #93
**"question": "A quelle date mon salaire doit être versé ?"**

Question | A quelle date mon salaire doit être versé ?
A quelle date mon salaire doit être versé ?z
La loi ne prévoit pas de date précise mais impose un versement une fois par mois.

Fiche Ministère du travail | Le versement du salaire : quand et comment est-il versé ?
• Le salaire doit être versé une fois par mois, à date fixe. • La r

[2018-09-21 07:52] jrduscher commented on #87
* L'utilisateur doit choisir secteur privé ou secteur public.
* L’utilisateur "secteur privé" doit se voir proposer uniquement des résultats secteurs privé.
* L’utilisateur "secteur public" est invité à poser sa question, il est également informé que le site n'a pas vocation première à traiter du secteur public.

=> Kemar avait mis en place un système de filtres des termes fonction public dans ES,

[2018-09-21 07:56] revolunet commented on #87
un wording à proposer pour le texte à afficher ?

[2018-09-21 08:29] jrduscher commented on #87
Le code du travail numérique,  n'a pas vocation à traiter des problématiques des agents publics des trois fonctions publics. En effet, il ne dépendent pas du droit du travail, mais de textes spécifiques. (Les agents publics ne pourront se prévaloir des réponses trouvées sur le code du travail numérique).

En tant qu'agent public, quelques réponses sont malgré tout à votre disposition sur l'onglet

[2018-09-21 08:37] jrduscher commented on #85
**Mon contrat de travail prend fin. Quels documents mon employeur doit me remettre **?****
= documents de fin de contrat, documents obligatoires
= rupture du contrat
= certificat de travail, solde de tout compte, attestation pole emploi

**Suggestions :
I) Principe/cas général :**

FAQ | Mon contrat de travail prend fin. Quels documents mon employeur doit me remettre ?
Fiche Service- Public.fr |Qu

[2018-09-21 11:33] jrduscher commented on #85
"question": "Comment sont payées les heures supplémentaires ?"

Pour aller plus loin:
Fiche ministère: https://travail-emploi.gouv.fr/archives/archives-courantes/archives-des-articles-de-la-rubrique-droit-du-travail/article/les-heures-supplementaires-contreparties#

code du travail

Majoration des heures supplémentaires:
ordre public: L3121-28,
majorations en cas d'accord: L3121-33,
Majorations pr

[2018-09-21 11:33] jrduscher commented on #85
"question": "Est-ce que mon employeur peut m’obliger à faire des heures supplémentaires ?"

suggestions
Heures

résultats pour "durée initiale"
réponse FAQ (aucune actuellement)
fiche MIN.T : cas général durée periode d'essai
fiche SP : cas général periode d'essai
disclaimer hierarchie des normes CDT + CCN + AE - L2253-3 (sauf renouvellement -> L2253-1)
Réponse personnalisée
durée du travail: temp

[2018-09-21 11:34] jrduscher commented on #85
"question": "Mon employeur ne me donne plus de travail, que faire ?"

// explication: le contrat de travail est un contrat bien particulier( déséquilibré du fait du lien de subordination), mais reste par nature un contrat. La réponse à cette question trouve son issue dans les textes propres à la relation contractuelle de droit commun. Chaque partie s'engage à respecter sa part du contrat, pour l'e

[2018-09-21 11:34] jrduscher commented on #85
"question": "Avec le rachat de mon entreprise mon employeur change. Ai-je l'obligation de travailler avec la nouvelle entreprise ?"

code du travail : L1224-1. https://codedutravail-dev.num.social.gouv.fr/code-du-travail/article-l1224-1

Interlocuteurs:
- représentants du personnel dans l'entreprise.
- services de renseignements,
- IT compétent ( + pertiennt que SR sur ce sujet en principe)

[2018-09-21 11:37] jrduscher commented on #85
"question": "A quel moment mon employeur doit-il me fournir mon solde tout compte ?"
profil " salarié"

type de contrat tous
Tag [200]
CCN: rare...

suggestions:
documents de fin de contrat:
 https://codedutravail.num.social.gouv.fr/questions/jBCs02UBVGj4b-Nr5qYi
https://www.service-public.fr/particuliers/vosdroits/F31896
https://travail-emploi.gouv.fr/droit-du-travail/la-rupture-du-contrat-de-tra

[2018-09-21 11:38] jrduscher commented on #85
"question": "Mon employeur m’a licencié verbalement, que faire ?"

type de contrat ( Important)
si CDD :
suggestion : rupture abusive du CDD ?

si CTT:

si CDI:
"L'employeur doit respecter la procédure de licenciement, sous peine de sanctions, qui varient en fonction du motif et selon que le salarié est protégé ou non."
FAQ : https://codedutravail-dev.num.social.gouv.fr/question/mon-employeur-ma-l

[2018-09-21 12:08] jrduscher commented on #90
Amende administrative ( intranet sitere): tableau, champ concernés et indications amendes administratives.
http://sitere.travail.gouv.fr/systra/ComptenceEtMoyensIntervention/Pouvoirs%20et%20moyens/Ordonnance/Sanction%20administrative/Fiche%20DGT%202016%2003%20Amendes%20administratives_V4_150218.docx.pdf

[2018-09-21 12:38] Loze-Faelens commented on #91
Bonjour

-La version a du changer depuis car je lorsque je saisis une question la recherche ne se lance pas. Du coup je n'ai pas accès au FAQ etc ...
-Sur la navigation par thème, pouvez-vous m'expliquer pourquoi les "boites n'ont pas toutes la m^me taille" ? On dirait que la boite du dessous comme elle est plus grosse ne contient pas le m^me type d'information

Cordialement

[2018-09-21 12:39] revolunet commented on #91
Hello Catherine, oui il y a un bug sur la version de dev :/ fix imminent...

Pour la taille des blocs actuellement ils s'adaptent à la taille disponible mais je vais les fixer pour qu'ils aient tous la meme taille

[2018-09-21 13:37] Loze-Faelens commented on #91
On a perdu les "pour aller plus loin" sous la Fiche de réponse affichée

[2018-09-21 13:39] Loze-Faelens commented on #91
Remarque générale: si le contenu est grand, le pouce levé ou baissé et en haut de page et on ne les voit plus forcément si on a "scrollé"... mettre les pouces en bas de contenu ?

[2018-09-21 13:45] revolunet opened #101 "ArticleRate and scroll"
dans le cas où on scroll, on ne voir plus les pouces pour voter sur un contenu

https://github.com/SocialGouv/code-du-travail-ui/blob/master/src/Article.js

https://github.com/SocialGouv/code-du-travail-explorer/issues/91#issuecomment-423534020

[2018-09-21 13:50] revolunet commented on #91
ok on pourra essayer de les bloquer quand ca scroll, j'ai fait une issue : https://github.com/SocialGouv/code-du-travail-explorer/issues/101

pb "pour aller plus loin" corrigé

[2018-09-21 15:01] Loze-Faelens commented on #91
Ne marche pas sur IE (celui de prod nom plus ne marche plus visiblement)

[2018-09-24 09:02] jrduscher commented on #62
Article 1162 CODE CIVIL
Le contrat ne peut déroger à l'ordre public ni par ses stipulations, ni par son but, que ce dernier ait été connu ou non par toutes les parties.

[2018-09-24 09:36] revolunet commented on #94
Problèmes :

 - perte de mise en forme du contenu
 - comment faire le lien avec l'url legifrance ?
 - récupérer la structure du CDT

[2018-09-24 09:36] revolunet opened #102 "Vue facetting"
Pouvoir filtrer n'importe quelle page de résultats avec des "facettes"

[2018-09-24 09:39] revolunet opened #103 "Dropper ancien explorer"
Le lien "navigation par themes" dans le footer en bas à gauche rnvoie vers une version legacy.

Je propose qu'on drop le code de ce repo mais qu'on garde cette version pour la posterité dans un repo séparé ? (le lien pourra rester)

[2018-09-24 09:40] revolunet commented on #86
contenu à définir

[2018-09-24 09:42] revolunet opened #104 "Form Feedback"
S'assurer que le message parte TOUJOURS :)

[2018-09-24 09:49] Loze-Faelens commented on #91
* Si je pose une question, même si je choisis un contenu proposé je veux pouvoir lire ma question initiale  (ex  : "rôle du CHSCT" je prends le premier contenu proposé .... et j'arrive sur le contenu mais je n'ai plus l'enoncé de ma question initiale !

* le contenu proposé :"Élections professionnelles : les obligations de l'employeur" de service public me renvoie une erreur 404

[2018-09-24 09:52] Loze-Faelens commented on #91
* si j'affiche un resultat Article, j'ai le code de l'article comme titre, et comme je n'ai plus l'enoncé de ma question, je ne comprends pas de quoi parle ce qui s'affiche (titre de l'article ? ou/et rappel de ma question
 ?)

[2018-09-24 12:50] jrduscher commented on #104
bouteille à la mer lancée

[2018-09-24 13:20] jrduscher commented on #94
Récupérer la structure du CDT : Il y a peut être quelquechose à faire de ça : https://github.com/SocialGouv/code-du-travail-data/blob/master/dataset/code_du_travail/TESTstructure.json

[2018-09-24 13:27] revolunet commented on #104
- OK en prod
 - NOK en dev : les emails ne partent pas mais l'usager est informé

[2018-09-24 14:03] jrduscher commented on #81
Autre point qui serait cool:
ajouter quelques explication à destination du salarié:

"Le conseiller du salarié est chargé d'assister le salarié lors de **l'entretien préalable au licenciement** dans les **entreprises dépourvues d'institutions représentatives du personnel**"
"en savoir plus sur le rôle du conseiller du salarié : https://codedutravail-dev.num.social.gouv.fr/fiche-ministere-travail/l

[2018-09-24 14:10] revolunet opened #105 "Fiches DGT/SP : ancres paragraphes"
restaurer les ancres dans index + redirection

fonctionnait dans la v1.0

[2018-09-24 14:27] revolunet opened #106 "Ordre d'affichage articles CDT"
L > R > D

 - groupés par les 4 premiers chiffres
 - dans l'ordre de la numérotation des articles

[2018-09-24 14:37] jrduscher commented on #85
4 questions types sur 4 CCN :
- renouvellement de période d'essai
- indemnités de licenciement
- préavis de démission
- rupture conventionnelle

Quels types de réponses afficher ?
- les réponses rédigées ;
- les liens utiles ;
- les outils ;

Prévoir le cas où la CCN n'est pas traité => Orienter vers le bloc de la hiérarchie des normes.

Soit (4 x 4) + 1 = 17 tests unitaires

[2018-09-24 14:42] jrduscher commented on #85
"Renouvellement période d'essai: boulangerie"

réponse: FAQ https://codedutravail-dev.num.social.gouv.fr/?q=renouvellement%20p%C3%A9riode%20d%27essai%20boulangerie

(ça tombe juste et en une seule réponse: !!)

Cde du travail: L1221-19...

[2018-09-24 14:43] jrduscher commented on #85
**Renouvellement période d'essai HCR, renouvellement période d'essai hôtel, café, restaurant:**
 réponse: aucun résultat
réponse attendue:
ouvriers,   employés | | oui, sauf ech1,N1
etam |  | oui
cadres |  oui, sauf cadre supérieur

FAQ à créer

**Renouvellement période d'essai syntec/ bureau d'étude technique**
aucun résultat
résultat attendu:

ouvriers,   employés |  non
etam |  | oui ( une fois

[2018-09-24 15:10] jeremiecook opened #107 "Nouveau texte d'accueil"
Remplacer le texte en home (Site en construction) par "Ce service gouvernemental vous permet d’obtenir des réponses détaillées, des fiches explicatives et les articles de loi correspondants - En savoir plus"

[2018-09-24 15:12] jeremiecook opened #108 "Avertissement dans le corps des réponses"
Avertissement légal sur le contenu des réponses
<img width="830" alt="capture - answer" src="https://user-images.githubusercontent.com/88306/45960633-efd2ff80-c01c-11e8-91e4-cc54e411cb7e.png">

[2018-09-24 15:35] revolunet commented on #92
MAJ icones
[Archive 3.zip](https://github.com/SocialGouv/code-du-travail-explorer/files/2411523/Archive.3.zip)

[2018-09-24 16:32] revolunet opened #109 "Page "A propos" : contenu"
contenu à remplir

source : https://github.com/SocialGouv/code-du-travail-explorer/blob/dev/pages/about.js

[2018-09-24 16:48] revolunet opened #110 "Gestion des synonymes : demi -> demission"
testé de mettre un synonyme dans https://github.com/SocialGouv/code-du-travail-data/commit/4184a1de4b32604298aa1dac48c94d09106deb07

[2018-09-24 17:22] jrduscher opened #111 "Ajouter un contenu français facile sur les dispositions supplétives du CDT"
ajouter un contenu français facile sur les dispositions supplétives dans le code du travail.

[2018-09-25 07:44] jrduscher opened #112 "Bug précision ES "sous-lisse" => "liste""
![image](https://user-images.githubusercontent.com/37538697/45999999-9e238700-c0a7-11e8-92c6-d661227ea113.png)

[2018-09-25 07:57] jrduscher commented on #109
https://github.com/SocialGouv/code-du-travail-explorer/commit/50196d5dc6c7247ab39cda983ab26295f200ee4d#diff-c03863060661206245259b0485539bdd

[2018-09-25 09:00] revolunet opened #113 "tracking utilisateur"
Mettre en place une solution pour mesurer l'usage et comprendre les parcours

 - hotjar ?
 - piwik ?

[2018-09-25 09:54] revolunet opened #114 "disclaimer dans page Article"
Afficher le disclaimer également dans la page article

[2018-09-25 13:44] jrduscher opened #115 "Navigation articles CDT"
quand je consulte un article du code du travail sur CDTN, je dois
* pouvoir voir le fil d'ariane structure CDT ou ePos relatif à l'article sur la page résultat
* pouvoir consulter si je le souhaite les autres articles concernant le thème de l'article en cours de lecture
* je dois pouvoir connaitre la date d'entrée en vigueur ou de dernière modification de l'article ( ce serait même top d'avoir le

[2018-09-25 14:17] jrduscher commented on #91
https://github.com/SocialGouv/code-du-travail-explorer/issues/115

[2018-09-25 14:49] HelaG commented on #113
Piwik étant une solution opensource, elle permet d'éviter l'affreux bandeau de cookie (ce qui n'est pas le cas avec hotjar).

[2018-09-25 15:05] HelaG commented on #85
query = indemnités de licenciement soumises à charge sociale

Résultat attendu =
https://www.service-public.fr/particuliers/vosdroits/F987
section "Exonération de cotisations sociales"

(retour UD92)

[2018-09-25 15:07] HelaG commented on #85
query = indemnités de licenciement imposable

Résultat attendu =
https://www.service-public.fr/particuliers/vosdroits/F987
section "Exonération impôt sur le revenu"

(retour UD92)

[2018-09-25 15:11] HelaG commented on #85
query = quand doit être remis le solde tout compte

Résultat attendu

[code]

(retour UD92)

[2018-09-25 15:36] revolunet opened #116 "expression multi-mots (solde tout compte)"
certains expressions à plusieurs mots ne sont pas bien prises en compte dans la recherche.

[2018-09-26 07:28] jrduscher opened #117 "Mon salaire minimum"
à l'aide mon bulletin de salaire et mon contrat de travail, je vais pouvoir estimer:
* que je suis payé au dessus des minimas légaux et conventionnels.
* qu'au regard de ma réalité de mon quotidien professionnels, le niveau et l'échelon qui me sont attribués ne sont pas sous estimés.

A l'aide de ces données, je vais pouvoir rencontrer un professionel du renseignemnet, un avocat ou un défenseur sy

[2018-09-26 09:08] revolunet commented on #114
uniquement dans page détail FAQ, sous le titre

[2018-09-26 10:22] jrduscher commented on #51
voir CCN.xls

[2018-09-26 11:05] jrduscher opened #118 "Qui du Préavis : 4 CCN"
- démission
- retraite
- licenciement.

integration des critères CCN (catégorie, ancienneté) et détermination de l'applicabilité au regard des règles de droit commun. voir CCn.xls

[2018-09-26 11:08] jrduscher commented on #118
On peut également ajouter une option:  pouvez vous prétendre à des heures pour rechercher un travail en cours de préavis?

[2018-09-26 11:11] jrduscher commented on #118
Ajout possible évolution à venir d'un critère droit local alsace moselle

[2018-09-27 13:24] jrduscher opened #119 "Intégrer le contact du Défenseur des droits"
Défenseur des droits

* Trouver et contacter un délégué du Défenseur des   Droits  dans un département
https://www.defenseurdesdroits.fr/fr/saisir/delegues

Les délégués du Défenseur des droits, bénévoles,   assurent des permanences sur tout le territoire. Ils délivrent des   informations, et des conseils et peuvent traiter par voie de règlement   amiable les reclamations relevant de la compétence

[2018-09-28 08:50] jrduscher commented on #39
**Metallurgie: accords nationaux.**

Le montant de l'indemnité de licenciement est comme suit :
demander ancienneté.
soit x : salaire mensuel.
calcul de la moyenne des mois sur 12 MOIS. ( récupérer la moyenne des 12 deniers mois)

soit **y** l’ancienneté en année complète"récupérer années complète": ex si 25 mois : 25 mois/12 2,1, récupérer 2

soit z,  ancienneté de 10 ans/ 120 mois., valeur 10 an

[2018-09-28 08:59] revolunet commented on #39
- [ ] attente éléments CCN + corrections
 - [ ] vérification attentive des données avant intégration.
 - [ ] integration dans moteur de recherche
 - [ ] passe de vérification étendue des résultats avant mise en ligne ( review)

[2018-09-28 09:06] revolunet opened #120 "keep question"
Quand on pose une question dans l'input :

 - [ ] garder la question meme si on clic sur une réponse
 - [ ] reprendre dans la box de feedback

[2018-09-28 09:09] jrduscher opened #121 "récupérer les fiches risques mintrav trouver le lien/penser tags"

[2018-09-28 09:17] #92 closed, assigned to revolunet

[2018-09-28 09:17] #95 closed, assigned to revolunet

[2018-09-28 09:17] #96 closed, assigned to revolunet

[2018-09-28 09:17] #97 closed, assigned to revolunet

[2018-09-28 09:17] #98 closed, assigned to revolunet

[2018-09-28 09:19] revolunet opened #122 "PoC questions/Réponses"
avec les donnés de CNNdata + filtrage par tag

[2018-09-28 09:20] #114 closed, assigned to nobody

[2018-09-28 09:22] revolunet commented on #106
quand plusieurs résultats sur le préfixe à 4 chiffres, faire en sorte :
 - d'afficher le L en premier
 - puis par ordre dans le CDT

[2018-09-28 09:32] revolunet commented on #115
1ere version :
 - [ ] fil d'ariane + liens legifrance
 - [ ] lien vers l'article legifrance

[2018-09-28 09:43] revolunet commented on #116
ex: "indemnité de licenciement mettalurgie"

[2018-09-28 09:58] revolunet commented on #103
mettre le lien vers https://code-du-travail.beta.gouv.fr/

[2018-09-28 14:07] revolunet opened #123 "bug catherine"
a débugger

 -  [x] raffiner les données
 -  [x] script synonymes
 -  [ ] import elastic

[2018-09-28 15:45] jrduscher opened #124 "Idées d'outil"
procédure de licenciement, délais et prescription de la faute, et prescription pénale et civile

[2018-09-28 15:57] revolunet opened #125 "Environnements par sprint"

[2018-10-01 12:12] jrduscher opened #126 "1.1: revue. SPRINT 1.1"
**Commentaires de JR:**
** **CLF = commentaires de Cat  - **
1) Navigation par thèmes:
a) wording.
- titres: les titres sont à revoir :
-sous titres: On ne peut pas mettre en ligne avec les sous titres actuels. le wording est à faire.

-proposition:
*  embauche et exécution du contrat de travail ou  contrat de travail et embauche

               sous titre proposition: obligations liés à l'embauch

[2018-10-01 13:00] jrduscher opened #127 "[ok pour mise en prod] retour page d'accueil"
Quand je veux retourner à la page d'accueil pour poser une nouvelle question, ce que je viens de taper dans le champs ne s'efface pas: j'ai donc l'impression que le lien ne marche pas alors que je suis bien en page d'accueil...
![image](https://user-images.githubusercontent.com/37538697/46289947-c79e5000-c58a-11e8-885e-5a961f54f3eb.png)

/!\ en fait, le lien quand on clique sur le titre" code du t

[2018-10-02 08:28] jrduscher commented on #39
**bureau d'étude technique**
"article 19", "en vigueur", "étendu"
(s'applique à toute la branche)

si ""branche":"bureau d'étude technique"
Récupérer "catégorie" {"ETAM","Ingénieur Cadres"}
Récupérer "ancienneté,a" en années. (l'ancienneté est en années, dans le calcul 1 an=1 mois)
Récupérer: s'agit il de votre  premier contrat dans l'entreprise?{oui, non}
engagement successif[oui/non] ( Afficher:

[2018-10-02 08:37] jrduscher commented on #39
**Boulangerie**
"branche", "boulangerie"
avenant n°67, en vigueur et étendu.

récupérer inaptitude {oui,non} (afficher " Votre licenciement fait il suite à une décision d'inaptitude?"), {oui,non}

si inaptitude =non: "indemnité légale de licenciement,w".
( on affiche le résultat indemnité légal de licenciement, "votre branche ne prévoit pas de calcul spécifique, en dehors de l’indemnité légale de

[2018-10-02 09:11] jrduscher opened #129 "Indemnité de départ à la retraite"
Une fois qu'on aura fini avec l’indemnité de licenciement...
A construire. spec à fournir
D1237-2 du code du travail

Indemnité légale de départ à la retraite, ILR
récupérer ancienneté,a
récupérer branche
taux_ILR,
si a<10, ( "afficher, sauf disposition conventionnelle plus favorable dans l'entreprise ou la branche, vous n'avez pas le droit à une indemnité de départ en retraite")
si a>10, a<15, IL

[2018-10-02 09:17] jrduscher commented on #129
Boulangerie artisanale
Article 34 CCN:
3. Indemnités de fin de carrière

3.1. Départ à l'initiative du salarié, indemnité de départ en retraite

Lorsque le salarié demande à partir à la retraite, il bénéficie d'une indemnité de départ à la retraite dont le montant varie selon l'ancienneté du salarié dans la profession :

- 1 mois de salaire après 10 ans d'ancienneté ;

- 1 mois et demi de salaire

[2018-10-02 10:37] jrduscher commented on #39
**"branche": commerce de gros**
art 37 CC, en vigueur, étendu.

récupérer ancienneté,a
récupérer salaire de base mensuel, s ( même base de calcul que l'indemnité légale)

indemnité de licenciement, z
si a>1 et si a <10: z=s/5* a
si a>10 z=s/5*a + (a-10)* (s/15*2)

comparer z et l’indemnité légale, afficher les deux. afficher le montant le plus favorable et sa provenance. ( selon vos indications, e

[2018-10-02 10:50] jrduscher commented on #39
**branche HCR**
art 32 CC, en vigueur, étendu. "https://www.legifrance.gouv.fr/affichIDCC.do;jsessionid=76445D7E289FB3CA5914033397B20C6F.tplgfr30s_2?idSectionTA=KALISCTA000005747401&cidTexte=KALITEXT000005670044&idConvention=KALICONT000005635534"

récupérer ancienneté,a
récupérer salaire de base mensuel, s ( même base de calcul que l'indemnité légale)
si a>10, récupérer oui, non ( "êtes vous mensu

[2018-10-02 10:51] jrduscher commented on #39
**branche: services de l'automobile** IDCC 1090
article 4.11, en vigueur, étendu
https://www.legifrance.gouv.fr/affichIDCCArticle.do?cidTexte=KALITEXT000005685156&idArticle=KALIARTI000005865239&categorieLien=cid

check faute grave ou lourde=non
récupérer inaptitude {oui,non} (afficher " Votre licenciement fait il suite à une décision d'inaptitude?"), {oui,non}
récupérer age : {années}

récupérer a

[2018-10-02 11:58] jrduscher commented on #39
**HOSPITALISATION A BUT NON LUCRATIF FEHAP**
en vigueur ou pas? étendue ou pas???

"branche",""
assistant familial,af: (afficher êtes assistant(e) familial(e)?"{oui, non})
("afficher: médecin, pharmacien ou biologiste: en cas de faute médicale reconnue ou de faite administrative grave, l'indemnité de licenciement n'est pas due")
(afficher: attention, en cas de licenciement lié à la perturbation da

[2018-10-02 12:11] jrduscher commented on #39
**PROPRETE ENTREPRISES ET SERVICES ASSOCIES**

calcul spécifique ancienneté conventionnel
récupérer salaire de base mensuel, s
/base de calcul branche?

récupérer ancienneté,a
//règle particulière branche?

si a<2 , ( afficher " Votre branche ne prévoit pas d'indemnité spécifique de licenciement en dessous de deux années d'ancienneté)
si a>2 , a=<5, IR=s/10*a
si a>6, a<10, IR=s/10*a*5+s/6*(a-5) //

[2018-10-02 12:46] jrduscher opened #131 "cas à traiter de l’égalité de traitement temps partiel/ temps plein"
Article L3123-5 En savoir plus sur cet article...
Modifié par LOI n°2016-1088 du 8 août 2016 - art. 8 (V)
Le salarié à temps partiel bénéficie des droits reconnus au salarié à temps complet par la loi, les conventions et les accords d'entreprise ou d'établissement sous réserve, en ce qui concerne les droits conventionnels, de modalités spécifiques prévues par une convention ou un accord collectif.

[2018-10-02 15:05] #123 closed, assigned to nobody

[2018-10-02 15:26] #93 closed, assigned to nobody

[2018-10-02 16:40] Loze-Faelens commented on #126
Autre commentaire : quand je suis sur une page de réponse, j'aimerai pouvoir revenir sur une page "vierge" comme un accueil sans réponse
//JR: signalé dans cet issue: https://github.com/SocialGouv/code-du-travail-frontend/issues/127

[2018-10-02 16:42] Loze-Faelens commented on #126
GO prod pour moi

[2018-10-03 11:27] #107 closed, assigned to nobody

[2018-10-03 11:27] #103 closed, assigned to nobody

[2018-10-03 11:27] #108 closed, assigned to nobody

[2018-10-04 07:55] revolunet commented on #99
Pourquoi ne pas chercher la CCN dans la barre de recherche directement ?
(= intégrer nos références legifrance dans ElasticSearch)

[2018-10-04 07:59] revolunet commented on #99
-> intégrer dans la recherche directement

[2018-10-04 08:17] revolunet opened #133 "mockups Form feedback"
Mockups to form qui sera ouvert depuis :

 - clic pouces dans page contenu
 - clic feedback en bas de page

<img width="430" alt="capture d ecran 2018-10-04 a 10 16 03" src="https://user-images.githubusercontent.com/124937/46461262-927a4380-c7be-11e8-80ca-cf98f1a9a8cc.png">

[2018-10-04 08:18] revolunet opened #134 "Récupérer du feedback"
Définir comment on stocke les feedbacks utilisateurs : message, ratings

[2018-10-04 08:57] revolunet commented on #115
Sans réponse de la DILA on est un peu bloqués pour avancer sur tout ce qui est metadonnées autour du code du travail : navigation dans les sections, liens, dates... j'ai un plan B (attaquer les fichiers XML de la DILA) mais ca demanderait un petit effort avec un(e) dev dédié. Bref, il nous faut de la visiblité sur leur planning si on veut avoir ses fonctionnalités (= un navigateur du code du trava

[2018-10-04 08:58] revolunet commented on #126
**Navigation par thèmes**
Vous pouvez modifier ce fichier : https://github.com/SocialGouv/code-du-travail-frontend/blob/master/src/data/themes2.js
Dans ce fichier, pour chaque entrée, vous pouvez modifier les textes et ajouter une clé `query` pour modifier la requête qui sera utilisée pour afficher les résultats.
A ce propos, il faudra définir comment seront alimentées ces rubriques autre que la r

[2018-10-04 11:45] revolunet opened #137 "Modèles de courrier : integration Elastic"
https://trello.com/c/sMtLOzq3/217-mod%C3%A8les-de-courrier-recensement-des-cas-gt-ys-et-de-lexistant

 - [x] créer un fichier de référence des modèles dans le dataset sur le projet `data`
 - [x] ajouter la liste des modèles à l'index dans le projet `data` (mais pas leur contenu)
 - [x] intégrer dans l'autocomplete `Suggester`
 - [x] intégrer dans la page de résultats
 - [x] ajouter une route dédié

[2018-10-04 11:51] jrduscher commented on #137
https://trello.com/c/sMtLOzq3/217-integrer-mod%C3%A8les-de-courrier-recensement-des-cas-gt-ys-et-de-lexistant
https://trello.com/c/M6tGR17R/218-ajouter-ici-les-outils-modeles-formulaires-calculateurs-utiles

[2018-10-04 14:58] #37 closed, assigned to nobody

[2018-10-04 14:58] #120 closed, assigned to nobody

[2018-10-04 14:58] #125 closed, assigned to revolunet

[2018-10-04 14:58] #127 closed, assigned to nobody

[2018-10-05 12:57] jrduscher commented on #39
**_REMONTEE DE BUGS_POC https://6wryx6zpvr.codesandbox.io/**
après vérification des calculs suivant le test unitaire cité plus haut

1) salaire mensuel brut
récupère la moyenne mensuelle brute: soit moy des 12 dernires mois soit moy des 3 derniers mois.
sur la moyenne des 12 derniers mois, on ne trouve pas le bon nombre. (1042,79 au lieu de 1041,67)
2) le résultat final est faux: 3694 affichés con

[2018-10-05 14:15] jrduscher opened #138 "target="_blank" par défaut pour les liens externes"
https://github.com/SocialGouv/code-du-travail-frontend/issues/126

quand je consulte un document publié sur un site extérieur depuis une page résultat sur le CDTN: je veux pouvoir continuer ma navigation sur le CDTN par la suite, u consulter ce résulter un peu plus tard. ( ouvri les résults des sites extérieurs dans un nouvel onglet)

[2018-10-05 14:16] jrduscher commented on #105
Afficher uniquement dans la page le paragraphe grace aux ancres posées ( voir version de marc?)
possibilité de voir la fiche ministère complète en lien externe ( onglet)

[2018-10-05 14:18] jrduscher opened #139 "Préciser la navigation par sous-thèmes"
nouvelle passe sur les sous thème #126 à prévoir
intégrer les sous thèmes

[2018-10-05 14:45] jrduscher opened #140 "bug affichage fiches sp.fr ( erreurs 404? licenciement économique obligations employeur)"

[2018-10-05 15:43] jrduscher opened #141 "accord de performance"
source citée Direccte; source tagguée DGT. a corriger.

https://github.com/SocialGouv/code-du-travail-data/blob/master/dataset/faq.json

    "branche": "",
    "question": "Comment s’applique un APC à un salarié en contrat à durée déterminée, notamment en matière de licenciement ?",
    "reponse": "Le licenciement d’un salarié protégé résultant de son refus de se voir appliquer un APC est, comme t

[2018-10-08 08:07] revolunet commented on #140
ex: https://codedutravail.num.social.gouv.fr/fiche-service-public/licenciement-economique-les-obligations-de-lemployeur

lien vers s-p HS également

[2018-10-08 09:17] revolunet commented on #105
En règle générale, pouvoir target un paragraphe particulier d'un document

[2018-10-08 09:57] revolunet commented on #94
Attente dump ePoseidon pour verifier qu'on peut récéuprer le HTML

[2018-10-08 10:03] revolunet commented on #88
Problème flex IE

![46290119-3b405d00-c58b-11e8-878c-9e6fe8880f54](https://user-images.githubusercontent.com/124937/46603041-33843980-caf2-11e8-8e88-e939dd46bdee.png)

[2018-10-08 10:29] revolunet opened #142 "Intégration thesaurus TESS"
Objectif : intégrer le thesaurus disponible ici :
https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/thesaurus/TESS_glossary.js

Besoin de specs fonctionnelles + ux pour voir comment on intègre ça au mieux.

https://trello.com/c/7lFIbSWo/186-pertinence-des-avec-le-tess-nouvelle-passe

[2018-10-08 10:42] revolunet opened #143 "contenu: afficher dates"
Toujours afficher dans les pages contenu :

 - [ ] date de publication
 - [x] source
- [ ] s'assurer que ces modifs impactent également les contenus de la FAQ

[2018-10-08 10:46] revolunet opened #144 "Gérer le print"
De manière globale, il faudrait une passe sur le print de toutes les pages et lister les problèmes rencontrés.

Liste des problèmes (non-exhaustive):

- Polémique: faut-il que l'accordéon affiche toutes ses sous-catégories fermées au print ?
- Enlever le component feedback au print

[2018-10-08 11:14] revolunet opened #145 "intégrer CCNdata"
Pour PoC questions/réponses

https://github.com/SocialGouv/code-du-travail-data/blob/master/CCNdata.json

[2018-10-08 13:34] revolunet opened #146 "Qualification juridique de la question"
Sur une question en language naturel, pouvoir identifier :

 - branche
 - theme
 - région

[2018-10-09 15:25] revolunet opened #148 "API swagger doc"
mettre en place doc de l'API

[2018-10-09 15:45] jrduscher commented on #145
bug?

sur la question recherche d'emploi et préavis, il y a deux réponses spécifiques quand on ne précise pas la CCN:  la première celle de droit commun et la deuxième celle d'Alsace Moselle. Quand on ouvre les réponses on tombe deux fois sur celle d'Alsace Moselle.

![image](https://user-images.githubusercontent.com/37538697/46681041-af61ad00-cbea-11e8-97f2-945874a45020.png)
![image](https://user

[2018-10-09 15:50] revolunet commented on #145
Explications : la FAQ CCN est actuellement intégrée telle quelle dans ES; comme les questions ont toutes le même titre, elles apparaissent plusieurs fois (autant de fois que de declinaisons). ce sera corrigé !

[2018-10-09 15:52] jrduscher commented on #145
https://codedutravail-dev.num.social.gouv.fr/?q=en%20cours%20de%20pr%C3%A9avis%2C%20ai-je%20le%20droit%20%C3%A0%20du%20temps%20rechercher%20un%20emploi

[2018-10-09 15:55] revolunet commented on #145
A définir ensemble, mais il se peut qu'on masque les réponses en-dessous lorsque l'on demande à l'utilisateur de préciser ?

[2018-10-09 16:04] jrduscher commented on #145
Je vais te poser mon problème différement:

je voudrais savoir ce qui s'applique à moi sur "sur la question recherche d'emploi et préavis" si je ne précise pas la branche et que je suis en france en dehors de l'Alsace Moselle.
la diposiiton code du travail spcifique Alsace Moselle dans ce cas porte le n°100 dans nos tags epos.

la prmeière réponse proposée portedonc  les tags: "2000.410.420,100"

[2018-10-10 11:02] jrduscher commented on #146
Qualifier juridiquement une réponse: le quotidien de l'agent de contrôle ou de renseignement :
- identifier un problème
- rattacher ce problème à un texte
- permettre d'isoler la règle
- faire le lien avec les critères de l'infraction.
- les faits relevés me paraissent il de nature à remplir tous les criètres qui constituent l'infraction?
( Les PV de l'inspection du travail sont construits comme c

[2018-10-11 09:43] lionelB opened #154 "Questions hors scope"
- Identifier les questions hors scope
- proposer une réponse addapté pour dire qu'on ne peut pas répondre à la question

https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/fiches_service_public/fiches-sp-travail.json

issue originale:  https://github.com/SocialGouv/code-du-travail-data/issues/9

[2018-10-11 09:44] lionelB opened #155 "Sigles et synonymes : mise à jour 1/2"
"agents chimiques dangereux, ACD",
"convention Collective Nationale, CCN",
"intérimaire, travailleur temporaire",
"Diagnostic technique Amiante, DTA",
"entreprise utilisatrice, EU",
"entreprise utilisatrice, entreprise d'accueil",
"Plan de retrait amiante, PRA",
"délai-congé, préavis",
"quadricycles, quad",
"très basse tension de sécurité,TBTS",
"protocole de chargement et déchargement, protocole

[2018-10-11 12:26] jrduscher commented on #145
Je reprécise encore mon propos:
quand on clique sur les résultats et qu'il ya une liste de réponse cliquable exemeple: https://codedutravail-dev.num.social.gouv.fr/?q=heures%20de%20recherche%20d%27emploi%20boulangerie, il sera encore proposé cette réponse Alsace Moselle

[2018-10-11 13:06] jrduscher opened #159 "exposition aux substances Chimiques (toute première approche) - connaitre la valeur limite d'exposition"
### A.  Pitch

L'idée est de répondre à ce genre de questions:
En tant que menuisier employeur, je suis confronté au quotidien au risque d'exposition aux poussières de bois. Dans le cadre de ma démarche de prévention des risques, je voudrais connaitre la valeur limite d'exposition professionnelle (VLEP) de mes salarié à cette substance et par ailleurs en savoir plus sur ce polluant, la manière de

[2018-10-12 08:23] jrduscher opened #164 "Convention collectives (cas particuliers)"
1)**Dans le volet: que faire quand une entreprise applique plusieurs conventions collectives ?**
( c'est marginal) et c'est le cas quand une distinction est possible dans les activités de l'entreprise au reagrd de sa structure ( deux établissements différents dans une entreprise avec des activités dissoiciées): Proposer une convention collective au regard d'un des IDCC, et surtout permettre au sal

[2018-10-12 13:31] revolunet opened #166 "Ajouter du tracking via Matomo (Piwik)"
tracker :

 - recherches
 - position du lien cliqué
 - likes
 - queries VS thème

[2018-10-12 13:39] revolunet opened #167 "Pb onChange+memoize"
sous certaines conditions, la recherche de l'autocomplete n'est pas relancée

[2018-10-12 14:01] jrduscher opened #168 "retour page d'accueil"
1) Problème retour à l'accueil
 - obligation  de retour par le titre "code numérique" pas intuitif
 - vider le champ
2)

[2018-10-12 14:43] #122 closed, assigned to nobody

[2018-10-12 14:45] revolunet commented on #115
attente RDV DILA pour faire le point là-dessus

[2018-10-12 14:45] #115 closed, assigned to nobody

[2018-10-12 14:50] #91 closed, assigned to nobody

[2018-10-12 14:50] #126 closed, assigned to nobody

[2018-10-12 14:51] #94 closed, assigned to revolunet

[2018-10-12 15:19] revolunet opened #169 "extraction tags utilisés"

[2018-10-15 13:33] jrduscher opened #170 "Emploi et classifications"
Aide à domicile : services soin et accompagnemnet

ères / Catégories | Intervention | Administratif / Services généraux | Encadrement/ Direction
-- | -- | -- | --
A | Agent(e) à domicileAgent(e) polyvalent(e) | Agent(e) de bureauAgent(e) d'entretien |  
B | Employé(e) à domicile | Employé(e) de bureauEmployé(e) d'entretienCuisinier(e) |  
C | Auxiliaire de vie socialeAide médico-psychologiqueAide

[2018-10-16 07:37] lionelB commented on #105
sur le site service public, le contenu n'est pas ciblable car presenté dans un "accordion" ou de base tout est caché

Est il possible d'avoir des infos sur la version qui fonctionné (url, version, ...)?

[2018-10-16 08:14] revolunet commented on #105
A priori, nous indexions les paragraphes des fiches ministère du travail; mais elle n'étaient pas affichées directement sur notre site, on a avait des liens externes avec une ancre

[2018-10-16 08:18] revolunet opened #171 "Parsing Fiches services-public"
Il y a certains éléments du XML qu'il serait utile d'afficher chez nous :

 - LienWeb
 - FicheLiee
 - gestion des "onglets"

[2018-10-16 16:24] lionelB commented on #106
Est ce que c'est possible d'avoir plus de détail sur L > R > D ?
je pense qu'on doit pouvoir regler cela avec un paraméttrage d'elastic search ?

[2018-10-16 16:31] lionelB commented on #141
est ce que c'est possible d'avoir plus d'info. la clef `reponse` est en double, il faut garder la 2ieme ?
Normal que certaines soit en html et d'autre pas ?

[2018-10-17 09:39] #113 closed, assigned to nobody

[2018-10-17 11:02] #99 closed, assigned to revolunet

[2018-10-17 11:20] #100 closed, assigned to lionelB

[2018-10-17 12:45] revolunet opened #189 "MAJ data fiches-sp"
Il y a en fait deux sources de données pour ls fiches s-p :

 - particuliers https://www.data.gouv.fr/fr/datasets/service-public-fr-guide-vos-droits-et-demarches-particuliers/
 - pros : https://www.data.gouv.fr/fr/datasets/service-public-fr-guide-vos-droits-et-demarches-professionnels-entreprises/

Il faudrait intégrer les deux, ceci devrait corriger le pb de liens qui étaient HS !

[2018-10-17 14:54] revolunet commented on #169
@jrduscher voici ce qu'on a actuellement

# tags from faq.json

| tags            | valeurs                                                                                                                                                                                                              |
| --------------- | ---------------------------------------------------------------------------------

[2018-10-18 10:12] jrduscher opened #192 "wording thèmes"
1) Navigation par thèmes:
a) wording.
- titres: les titres sont à revoir :
-sous titres: On ne peut pas mettre en ligne avec les sous titres actuels. le wording est à faire.

-proposition:
*  embauche et exécution du contrat de travail ou  contrat de travail et embauche

               sous titre proposition: obligations liés à l'embauche

  * Rupture du contrat de travail:

[2018-10-18 14:08] jrduscher opened #193 "bug bouton de champ où est la loupe"
![image](https://user-images.githubusercontent.com/37538697/47160353-0b65b900-d2f0-11e8-9f2d-559312bf25d9.png)

[2018-10-18 15:47] lionelB opened #195 "la couleur du bouton de rechercher au rollover à disparu"
probablement lié au fait que https://github.com/jonathantneal/postcss-color-mod-function ne soit plus sorti de https://cssdb.org/#staging-process

[2018-10-18 16:48] jrduscher opened #196 "Exclusions de certaines fiches SP qui sont hors-sujet"
comment identifier les fiches hors sujet ( enfants handicapés le contenu ne parle pas de travail à aucun moment)

[2018-10-18 19:28] HelaG opened #197 "Supprimer l'affichage des tags liés aux réponses"
Les tags liées aux réponses apparaissent à plusieurs endroits dans les résultats de la recherche.

![image 1](https://user-images.githubusercontent.com/12069445/47178639-1d5d5100-d31c-11e8-92cf-aa39b75e0e87.png)
Sous le titre de la fiche pour du contenu service public, en tag "brut".
![image 2](https://user-images.githubusercontent.com/12069445/47178696-4ed61c80-d31c-11e8-81f2-5b8bbaede731.png)
En

[2018-10-18 19:38] HelaG opened #198 "[Orthographe] Résultat Metallurgie // Metalurgie"
Le Code du Travail ne me renvoie rien si j’écris métallurgie comme il faut
<img width="920" alt="metallurgie rien" src="https://user-images.githubusercontent.com/12069445/47178993-23076680-d31d-11e8-93f2-a993928b3927.PNG">

Il préfère que je fasse une faute d'orthographe ^^
<img width="934" alt="metalurgie resultat" src="https://user-images.githubusercontent.com/12069445/47179346-22230480-d31e-11e

[2018-10-19 13:30] lionelB opened #199 "[Themes] le theme apparait dans les resultats de recherche sur la page theme"
Le probleme vient d'une type sur le nom du param à envoyer à l'api
on passe `excludeSource` mais l'api attend `excludeSources`

[2018-10-19 16:05] #140 closed, assigned to lionelB

[2018-10-19 16:17] revolunet commented on #169
[code]

[2018-10-22 07:30] lionelB commented on #199
closed by #200

[2018-10-22 07:30] #199 closed, assigned to lionelB

[2018-10-22 08:37] revolunet commented on #106
- L: Législatif
 - R: Réglementaire
 - D: Décret

[2018-10-22 08:42] revolunet commented on #106
pourrait être réglé côté ES ?

[2018-10-22 08:54] revolunet commented on #84
https://trello.com/c/Gchuom3d/215-r%C3%A9cup%C3%A9rer-les-coordonn%C3%A9es-inspection-du-travail-uc-et-mail

[2018-10-22 09:07] revolunet commented on #84
- Déjà intégrer les données des UCs
 - D'autres services viendront compléter cette base : médecine du travail, syndicats...

Intégration v0:

![image](https://user-images.githubusercontent.com/124937/47285025-c12f5100-d5e9-11e8-9d17-1c3156cb2d93.png)

ensuite on pourra lier SIRET -> UC + info nb salariés pour rediriger

[2018-10-22 10:18] lionelB opened #203 "Ajout des themes dans courriers.json"
Il manque les themes dans le fichiers courriers.json
A voir aussi si on ne peut pas compléter un peu le fichier avec d'autres infos (date, profil, branches....)
cf PR #202

[/packages/code-du-travail-data/dataset/courrier-type/courriers.json](https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/courrier-type/courriers.json)

[2018-10-22 10:24] revolunet commented on #84
cf aussi https://trello.com/c/Bt3KV07h/275-ux-r%C3%A9fl%C3%A9chir-%C3%A0-linterface-annuaire-local

[2018-10-22 12:41] jrduscher commented on #99
REVUE CLF+JR:

je recherche le texte de la ccn, je tapes le numéro idcc ou l'intitulé:  je tombe sur un menu de filtres; celui ci me propose soit les thèmes de la FAQ soit les départements, soit un "autres "qui n'est pas bien explicite. en tant qu'utilisateur je ne sais pas vers quoi va me guider ces filtres de manière plus exacte
Un correctif doit être mené dans une nouvelle issue: https://github

[2018-10-22 12:46] jrduscher opened #207 "Filtres: "Autres" et autres problèmes de filtres"
nécessite UX. rdv pris.

https://github.com/SocialGouv/code-du-travail-numerique/issues/100

[2018-10-22 12:52] jrduscher commented on #99
Autre point: réintégration de l'aide dans la modal+ amélioration de la navigation: ok sur le front.
Par contre : la recherche " boulangerie industrielle est déceptive": le premier résultat n'est pas la boulangerie, le surligneur ne fait pas apparaître en premier la bonne convention collective.

[2018-10-22 12:54] jrduscher opened #208 "[bug] modal recherche ccn: résultats"
Par contre : la recherche " boulangerie industrielle est déceptive": le premier résultat n'est pas la boulangerie, le surlignement ne fait pas apparaître en premier la bonne convention collective.

Dans le moteur principal, il n'y a pas de soucis avec ce test.

[2018-10-22 13:05] jrduscher commented on #141
Review 1.2: issue reopened

* la recherche "APC" renvoie sur une demand de filtres: "employeur", la validation ne donne rien renvoit : pas de résultat.

Les contenus suggérés sur ces accords de performance collectives( ex avec une recherche sur: "heures") renvoient bien sur une réponse de la faq APC: les sources sont toujours notées DIRECCTE.

[2018-10-22 13:16] Loze-Faelens opened #209 "Bug Affichage fiche SP -"
La mise en forme de la  réponse Service public suivante est bizarre
https://codedutravail-dev.num.social.gouv.fr/fiche-service-public/rupture-conventionnelle-dun-cdi?q=rupture%20conventionnelle&search=0

Regarder en bas de page, il y a des textes en gras et grands caractères qui ne sont des titres ???

[2018-10-22 13:19] jrduscher commented on #105
Review 1.2:
test sur fiche ministère " en quoi consiste la rupture conventionnelle"
les intitulés de paragraphe apparaissent bien dans les requêtes. Le résulat pointe sur l'affichage globale de la fiche, au début de la fiche. l'idée est de rnevoyer à minima vers le résultat au niveau du paragraphe dans la fiche complète et l'idéal est ne n'afficher que le paragraphe en question+ url vers la fiche

[2018-10-22 13:25] jrduscher commented on #115
review: ok pour mise en prod.
une nouvelle issue est créer avec les  points non traités

[2018-10-22 13:27] jrduscher opened #210 "Navigation entre les articles CDT"
### Problème
Aujourd'hui nous présentons juste les articles en tant que tel.
![image](https://user-images.githubusercontent.com/48682104/77902996-655b0400-7282-11ea-9c80-55434f7471f2.png)

Or, nous recevons également de l'API Dila le chemin d'arborescence de ces articles.
![image](https://user-images.githubusercontent.com/48682104/77903048-84f22c80-7282-11ea-8b27-7c01bb2e2ea5.png)

Cette arboresce

[2018-10-22 13:29] jrduscher commented on #122
ok pour cette version. les tags s'affichent. A voir ordonnancement des tags, à voir CR tests utilisateurs DSI.

[2018-10-22 13:33] Loze-Faelens opened #211 "Affichage des Tags de filtrage"
Au regard des tests USERS il est nécessaire de  :
- prioriser l'ordre d'affichage des tags
- rendre lisible les intitulés et titres  (UX)
- cadre n'est pas forcément vu par les users  (UX)
- cadre ne s'affiche pas alors que la question l'appelle  (ex :" boulangerie embauche" avant "contrat chantier" => le filtre contrat chantier n’apparaît pas )

[2018-10-22 13:36] jrduscher commented on #127
ok pour mise en prod

[2018-10-22 13:42] jrduscher commented on #120
ok pour mise en prod.
une nouvelle issue est crée pour que soit transmis avec le feedback à la fois la question posée par l'user et la réponse qu'il a obtenu  #212

[2018-10-22 13:44] Loze-Faelens opened #212 "Dans Feedback ajouter la réponse selectionnée par usager"
Sur le pavé Feedback en plus de la réponse tapé par l'usager, ajouter le libellé de la question selectionnée par l'usager dnas la liste des suggestion pour avoir le texte suivant :
ex si question usager = CCCC et que l'usager selectionne " IDCC2905 etc ...."
le texte du feed back doit être  :
""Avons-nous répondu à votre question : cccc ? en vous suggérant " IDCC2905 etc ....""

[2018-10-22 13:44] jrduscher commented on #125
Revu: it works

[2018-10-22 13:51] jrduscher commented on #80
en attente de traitement pas Onogone, affinage elastic search

[2018-10-22 14:02] jrduscher commented on #92
Review:  ok sauf
date qui ne s'affiche pas.
 https://github.com/SocialGouv/code-du-travail-numerique/issues/143
Mise en forme fiche intégrées service public: #209

[2018-10-22 15:02] #168 closed, assigned to nobody

[2018-10-22 15:03] jrduscher opened #214 "fonctionnalité pouces haut et bas à intégrer"
https://trello.com/c/8buyKsyc/280-int%C3%A9grer-les-fonctionnalit%C3%A9s-des-indicateurs-thumbsup-thumbsdown

[2018-10-22 15:06] jrduscher opened #215 "facetting dans la barre de recherche"
integrer la fonctionnalité de sélection de types de documents attendus dans la barre de recherche cf https://projects.invisionapp.com/d/main/default/#/console/14828309/308308616/preview

[2018-10-22 15:08] jrduscher opened #216 "intégrer la page de résultat non trouvée"
https://trello.com/c/Z3h0WpOG/281-int%C3%A9grer-la-page-de-r%C3%A9sultats-non-trouv%C3%A9e-qui-sera-renseign%C3%A9e-par-lusager-d%C3%A9j%C3%A0-pens%C3%A9e-en-ux

[2018-10-22 15:13] jrduscher opened #217 "interface: signaler un contenu obsolète"
ETQ usager je peux signaler un contenu qui ne me parait plus à jour, faux, ou insuffisant

https://trello.com/c/ecnyCufn/18-en-tant-quuser-je-peux-signaler-un-contenu-obsol%C3%A8te-erron%C3%A9

- [ ] volet UX
- [ ] integration

[2018-10-22 15:19] jeremiecook commented on #217
![popin de feedback](https://user-images.githubusercontent.com/88306/47301161-8eec1680-d61e-11e8-9a3c-c2fd9c9e88a9.png)

[2018-10-22 15:22] jeremiecook commented on #217
Note : Cette page / popin est accessible en cliquant sur le 👎 dans une réponse.

[2018-10-23 10:52] revolunet commented on #105
Fonctionne maintenant chez moi avec cette question " en quoi consiste la rupture conventionnelle"

-> https://codedutravail-dev.num.social.gouv.fr/

[2018-10-23 11:02] revolunet commented on #106
@jrduscher est-ce que ce sujet à traiter ? je ne le vois pas dans Trello.

[2018-10-23 11:05] revolunet commented on #138
https://trello.com/c/7wd22jeC/241-ouverture-du-contenu-ext%C3%A9rieur-dans-une-nouvelle-page-nouvel-onglet

[2018-10-23 13:18] lionelB commented on #141
@jrduscher  je pense que l'instance de dev etait pas à jour. La source est bien DGT ici => https://codedutravail-dev.num.social.gouv.fr/question/quest-ce-quun-accord-de-performance-collective-apc?q=apc&search=0

[2018-10-24 12:15] jrduscher commented on #97
nb: le lien renvoie au paragraphe de la fiche complète, je valide (review)

[2018-10-24 15:05] jrduscher commented on #39
Indemnité légale de licenciement: temps plein et temps partiel

**1) détecter temps partiel.**

_Phase 1_
   Poser la question: attendus oui/non " travaillez vous ou avez vous travaillé à temps partiel dans l'entreprise?",
Si 'non', continuer
Si oui, demander la précision ci-après:
Vous avez toujours travaillé à temps partiel dans l'entreprise [oui, j'ai toujours travaillé à temps partiel dans l'e

[2018-10-25 12:23] jrduscher opened #229 "Bugs sur IE(mintrav): moteur de recherche est down."
rien à voir avec ça: https://github.com/SocialGouv/code-du-travail-numerique/issues/88

ES ne semble plus fonctionner sous IE depuis la dernière mise en prod.
pas de susggestions, requetes n'aboutissant pas.

[2018-10-26 13:24] revolunet commented on #116
Exemple 1 : "solde de tout compte métallurgie"

Comme pas de résultats spécifiques mettalurgie, on devrait voir apparaitre le cas général "solde de tout compte"

[2018-10-26 13:44] revolunet opened #231 "PoC tags"
Problèmes à régler pour pouvoir réactiver le système de tags/questions/réponses :

 - afficher ou pas les résultats s'il y a des tags
 - gérer les cas ou un seul tag (skip)
 - corriger les tags existants (doublons...)

[2018-10-26 13:54] lionelB commented on #138
cf fiche https://www.service-public.fr/particuliers/vosdroits/F19030 - F19030

[2018-10-26 14:35] revolunet commented on #169
- conventions collectives : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/faq-conventions-collectives.json

 - tags : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/faq.json

[2018-10-26 14:50] revolunet commented on #212
https://projects.invisionapp.com/d/main/default/#/console/14828309/325093779/preview

[2018-10-26 14:52] revolunet commented on #231
duplicate #211

[2018-10-26 14:52] #231 closed, assigned to revolunet

[2018-10-26 14:53] revolunet commented on #211
- afficher ou pas les résultats s'il y a des tags
 - gérer les cas ou un seul tag (skip)
 - corriger les tags existants (doublons...)

[2018-10-26 16:18] jrduscher opened #232 "Bug remontées de réponses déceptives par un user (DIRECCTE)"
// UTILE POUR INTERVENTIN ES
// test unitaire
 - [ ] nécessite vérification métier
 - [ ]  nécessite une fois le test
       unitaire fait, une vue ES

 **1. Un salarié detache intérimaire doit il avoir un relevé horaires ?:**
[https://codedutravail.num.social.gouv.fr/?q=Un%20salari%C3%A9%20detache%20int%C3%A9rimaire%20doit%20il%20avoir%20un%20relev%C3%A9%20horaires%20%3F](https://codedutravail.nu

[2018-10-26 16:45] lionelB commented on #229
Il faudrait qu'on ai la version de IE (ou Edge) pour pouvoir refaire les tests avec les bon navigateur
j'ai fait un test avec Edge 13 et le search fontionne. le Pb d'affichage des thems viens du fait qu'on utilise les css variables, que c'est pas supporté dans cet version et que le polyfill est foireux :) il ne remplace pas la la `var(--flex-gutter-size)`

[2018-10-26 16:47] lionelB commented on #88
le pb de flex vient du support css-variable. Le polyfill fait mal sont boulot sur `--flex-gutter-size`

[2018-10-29 10:16] jrduscher opened #233 "Interface annuaire local"
https://trello.com/c/DhnZZFa9/302-annuaire-integrer

- [ ] UI: recherche d'adresse ( geoloc)
- [ ] ajouter les services publics d'accès au droit Nouvelle Aquitaine.
- [ ] prévoir les tests utilisateurs

[2018-10-29 10:19] jrduscher opened #234 "Page résultat contextualisée et enrichie de contenus"
https://trello.com/c/BDMp34F0/292-page-r%C3%A9sultat-contextualis%C3%A9e-et-enrichie

[2018-10-29 10:26] jrduscher opened #235 "Résultat : lisibilité articles code du travail"
dans les résultats, en tant qu'user quand je rencontre un contenu article de code du travail, je dois pouvoir savaoir qu'il s'agit d'un article du code du travail:
![image](https://user-images.githubusercontent.com/37538697/47643933-1da3ea80-db6d-11e8-9be2-a1d3735544e9.png)
![image](https://user-images.githubusercontent.com/37538697/47643957-33191480-db6d-11e8-8aa9-083727301629.png)

**Ajouter " d

[2018-10-29 10:39] jrduscher opened #236 "modification/refonte design de la page résultat modèles de courrier"
- [ ] modifs design https://trello.com/c/POKc0yVJ/313-mod%C3%A8les-de-courrier
- [ ] dans themes2.csv pouvoir lier
- [ ] dans la page des thèmes, ajouter des liens vers les modèles en question

- [ ] Afficher les modèles en complément de réponses rédigées en français facile
- [ ] Afficher les modèles en réponses que si la requête contient "modèle" & "lettre"

[2018-10-29 10:58] #141 closed, assigned to lionelB

[2018-10-29 11:14] jrduscher opened #237 "Modèles de courrier"
https://github.com/SocialGouv/code-du-travail-numerique/issues/137

Refont design prévu en 1.4

[2018-10-29 11:14] #237 closed, assigned to nobody

[2018-10-29 11:17] #193 closed, assigned to nobody

[2018-10-29 13:08] jrduscher commented on #233
- [ ] https://github.com/SocialGouv/code-du-travail-numerique/issues/4

[2018-10-29 13:09] #4 closed, assigned to jrduscher

[2018-10-29 13:48] jrduscher opened #239 "[bug/spec] indemnité légale de licenciement ancienneté<12 mois et>8 mois après le 25/09/2017"
c)**vérifier**: si ancienneté>12 mois. et _**si date du licenciement avant le 25/09/2017**_
     si oui: continuer
     si non: afficher principe. "l'indemnité de licenciement est due au delà d'un an d'ancienneté"
** vérifier**: si ancienneté>8 mois. et _**si date du licenciement après le 25/09/2017**_
     si oui: continuer
     si non: afficher principe. "l'indemnité de licenciement est due au d

[2018-10-29 13:50] jrduscher commented on #39
- [x] integrer le correctif indemnité légale: https://github.com/SocialGouv/code-du-travail-numerique/issues/239

[2018-10-29 16:35] jrduscher commented on #169
Je m'aperçois qu'il y a des tags "themes": n°ePOS dans faq.json qui ne ressortent pas dans le tableau

[2018-10-30 09:05] jrduscher opened #241 "Affichage de la page de résultats proposées/ trouvées"
- hétérogénéité des sources de réponses mélangées
Mettre en avant graphiquement le contenu "Convention collective" / Intégrer les pictos
Intégrer un contenu générique orientant l'utilisateur vers la source de droit applicable inspiré de la solution
Différencier l'affichage des contenus techniques (source de droit) cf wireframe

Detricoter les "Voir aussi" - les liens et outils sont contextualisés

[2018-10-30 09:06] jrduscher commented on #211
- Visibilité des questions filtres posées à l'utilisateur
Différencier l'affichage des questions qui sont posées à l'utilisateur pour filtrer les résultats (en infobulle cf wireframe)

[2018-10-30 09:08] jrduscher opened #242 "Proposer à l'utilisateur de joindre les services de renseignement à tout moment"
afficher un module d'orientation vers les services de renseignement quand la session de navigation dure longtemps
"Je cherche plusieurs contenus, je ne trouve pas et , on m'oriente vers un service de renseignement"

[2018-10-30 14:04] jrduscher opened #244 "Gestion des contenus, gestion des abondements"
Extraire des données, un état des FAQ, dans un tableau reprenant dans l'ordre
-n°epos
-question posée
-réponse
-branche
-_autres tags_
- date
- rédacteur

Dans le cadre des abondements quotidiens par certains agents, l'extraction est nécessaire pour prévenir les doublons, et prévoir une stratégie de déploiement.

Paradise: le tout en *.csv serait topissime !!

[2018-10-30 16:23] jrduscher commented on #203
https://github.com/SocialGouv/code-du-travail-numerique/pull/246

[2018-10-30 16:54] lionelB commented on #203
nickel, j'avais deja rajouté les date dans une PR précédentes. Je mergerai ta PR sur la PR en cours comme ça on aura aussi les date !

[2018-10-31 13:08] jrduscher commented on #239
Mémo:
- [ ] refaire une passe en complétude et vérification indemnité **légale** de licenciement
- [ ] produire des tests unitaires
- [ ] faire tester l'outil sdr

Suivre le même schéa pour les scenarios indus chim

[2018-10-31 15:01] jrduscher opened #249 "URL et nom de domaine"
- URL et nom de domaine:
* voir le SIG .gouv.fr

[2018-10-31 16:14] jrduscher commented on #159
https://codedutravail.num.social.gouv.fr/code-du-travail/article-r4412-149?q=poussi%C3%A8res%20de%20bois%20vlep&search=0

[2018-10-31 16:26] lionelB commented on #249
c'est possible d'avoir plus d'info ?

[2018-11-05 08:41] lionelB commented on #203
closed by #246

[2018-11-05 08:41] #203 closed, assigned to jrduscher

[2018-11-05 14:15] revolunet commented on #197
désolé cetait pour du debug :) c'est enlevé

[2018-11-05 14:16] douglasduteil commented on #197
Re-open if not ;)

[2018-11-05 14:16] #197 closed, assigned to nobody

[2018-11-05 14:29] lionelB opened #251 "Config Docker frontend pour test en local"
On utilise une variable d'env (API_URL) lorsqu'on lance le front pour indiquer l'url du serveur d'api
Cette url est utilisé
- au runtime dans le navigateur lorsqu'on fait un search / suggest
- dans l'appli node frontend pour faire du serverside rendering.

Lorsqu'on toutes les applications sont lancées depuis docker, si `API_URL=localhost:3005` alors le `/search` et le `/suggest` fonctionne bien c

[2018-11-05 16:47] revolunet commented on #242
bonne idée !

 - "dure longtemps" : définir la durée svp

[2018-11-05 16:53] revolunet opened #253 "Questions Archi ES"
Liste des sujets à aborder avec la team ES :

 - quid migration/transfert des données APM quand evolution version ?
 - scalabilité horizontale/failover

[2018-11-06 08:04] lionelB commented on #215
je n'ai pas accès au projet inviion

[2018-11-06 08:25] jrduscher commented on #215
![image](https://user-images.githubusercontent.com/37538697/48051636-f7520080-e1a5-11e8-95c9-1c7b1f2ab1fa.png)

[2018-11-06 08:26] lionelB commented on #215
merci !

[2018-11-06 08:27] jrduscher commented on #215
possibilité de filtrer les résultats attendus en fonction des sources ( réponses FAQ, code du travail, fiches services-public.fr, modèles, outils)

[2018-11-06 08:59] revolunet commented on #208
cette modale est-elle encore vraiment nécessaire ?
(en plus elle n'utilise pas elastic)

[2018-11-06 09:00] revolunet commented on #236
![reponse_-_modele_de_courrier](https://user-images.githubusercontent.com/124937/48031454-9b12c080-e154-11e8-95c2-541969ad2a12.png)

[2018-11-06 09:06] jrduscher commented on #233
https://trello-attachments.s3.amazonaws.com/5a39344bf34cad983b377287/5bc0b1ea816c0e3e600b4084/884661516afce44e11e5b4fd56097899/Home.png

[2018-11-06 09:09] revolunet commented on #233
<img width="636" alt="capture d ecran 2018-11-06 a 10 08 54" src="https://user-images.githubusercontent.com/124937/48053882-13f13700-e1ac-11e8-99af-5c4b6e4c3261.png">

[2018-11-06 09:24] revolunet opened #256 "next/router + Link"
On a des les liens qui nécessitent une `anchor`, or le composant Link de [next-routes](https://github.com/fridays/next-routes) ne les gère pas... Donc on perd l'intérêt d'une SPA sur ces liens là (la page se recharge).

Solution possible : implémenter https://github.com/fridays/next-routes/pull/91

[2018-11-06 10:19] revolunet opened #257 "Fiches min.travail manquantes"
ex: https://travail-emploi.gouv.fr/droit-du-travail/la-rupture-du-contrat-de-travail/article/la-rupture-conventionnelle-collective

[2018-11-06 10:26] jeremiecook commented on #214
![popin de feedback](https://user-images.githubusercontent.com/88306/48058486-d940cc00-e1b6-11e8-92dc-b549e6b24ce6.png)

[2018-11-06 10:28] jeremiecook commented on #233
![annuaire](https://user-images.githubusercontent.com/88306/48058559-042b2000-e1b7-11e8-8598-4ce47f5f483a.png)

[2018-11-06 15:14] lionelB commented on #257
il faudrait généré un json à partir d'un nouvel export ?

[2018-11-06 15:20] lionelB commented on #214
@jeremiecook la popin est censée arriver une fois le pouce bas clické ?

[2018-11-06 15:21] lionelB commented on #208
est ce qu'on devrait pas crée un index avec juste le titre des ccn et leur infos (pas leur contenu) et l'api correspondante ?

[2018-11-06 15:37] jeremiecook commented on #214
Tout à fait ! Ou bien en cliquant sur les blocs "Vous n'avez pas trouvé votre réponse ?" sous les listes de réponses

[2018-11-06 15:39] lionelB commented on #214
@jeremiecook merci !

[2018-11-06 16:32] revolunet commented on #257
Oui comprendre pourquoi cette CCN n'apparait pas et refaire un JSON si besoin a partir des 2 jeux de données sur data gouv

[2018-11-06 18:25] lionelB commented on #234
from trello

[2018-11-06 18:39] lionelB commented on #192
le fichier a été mis à jour coté ES mais doit être exposé coté front pour éviter d'avoir a maintenir une copie dans le source du front
- via une api (mais risque de faire une requête à chaque hit sur l'index
- récupérer au moment du build du site ?

@revolunet je penche pour la deuxieme solution mais en mode `dev`on risque d'avoir des soucis de synchro

[2018-11-06 18:46] lionelB commented on #212
@jeremiecook  Est ce que bloc est a intégré dans tout les page à la place du formulaire actuel ?
![image](https://user-images.githubusercontent.com/160320/48086174-7d993180-e1fc-11e8-8319-f83608de7a28.png)

[2018-11-06 18:51] lionelB commented on #212
lié à #214

[2018-11-06 18:52] lionelB commented on #211
la fonctionnalité est lié à l'arbre de décision qu'onogone prévoit de mettre en place

[2018-11-07 07:40] jeremiecook commented on #212
Oui

--
Jérémie Cook
jeremie.cook@protonmail.com
Tél : 06 63 09 76 32

Activé mar., nov. 6, 2018 à 19:46, Lionel <notifications@github.com> a écrit:

[2018-11-07 09:09] lionelB opened #260 "runtime error sur les page de courrier type"
Une typo dans l'import :(
[code]

[2018-11-07 14:07] lionelB commented on #236
@jeremiecook j'ai l'impression qu'il manque une couleur dans celle définie dans CSS, par exemple le "gris" de DOCX dans le bouton télécharger ou bien le "mis à jour" en dessous du titre.
J'ai rajouté cette couleur dit moi si il faut changer
[code]

[2018-11-07 17:06] revolunet commented on #257
Je propose qu'on se base sur la BDD du site (spip??) plutôt que de scraper

[2018-11-07 17:06] #260 closed, assigned to nobody

[2018-11-07 17:09] lionelB commented on #257
pourquoi pas, est ce qu'on peut avoir un export sqlite, tu crois ?

[2018-11-07 17:36] revolunet commented on #211
a voir avec Onogone : est-ce qu'on dépense encore de l'energie sur le front pour affiner l'UX de ce système de question/réponse sur un petit segment... ou est-ce qu'on attend d'avoir quelque chose d'exploitable côté Onogone/EIG.

[2018-11-08 10:16] #236 closed, assigned to lionelB

[2018-11-08 12:59] lionelB commented on #138
pour tester une fois deployer
- http://codedutravail-dev.num.social.gouv.fr/fiche-service-public/rupture-conventionnelle
- https://codedutravail-dev.num.social.gouv.fr/fiche-ministere-travail/pse-comment-est-etabli-un-plan-de-sauvegarde-de-lemploi?q=pse&search=0#Comment-est-etabli-un-plan-de-sauvegarde-de-l-emploi
-  https://codedutravail-dev.num.social.gouv.fr/fiche-ministere-travail/le-handicap-

[2018-11-08 14:05] lionelB commented on #216
mockup https://projects.invisionapp.com/d/main/default/#/console/14828309/325093779/preview

[2018-11-08 15:48] revolunet commented on #234
ok dans un premier je vais voir pour remettre ce qu'on avait dans le proto initial

[2018-11-08 15:50] revolunet commented on #207
relatif aux tags et #211 à discuter avec Onogone

[2018-11-08 15:54] revolunet commented on #249
on a déjà `code.travail.gouv.fr` nous donner le signal pour mise en ligne

[2018-11-08 15:55] revolunet commented on #244
faq.json et faq-conventions-collectives.json

[2018-11-09 10:00] lionelB commented on #214
@jeremiecook @jrduscher Je me pose la question des liens "les réponses qui pourraient vous aider"
Ça me parait étrange de lui représenter les 3 premiers resultats qu'on lui a présenté dans le suggester quand il a tapé sa question, vu que ça ne l'aide pas à réalisé son objectif.  Est que j'ai raté un trucs ?

[2018-11-09 11:49] jeremiecook commented on #214
@lionelB Hello ! Je pense que ces résultats ne s'affichent que si l'utilisateur complète, modifie ou affine le champ "question" de cette popin. C'est un moyen de valider que la réponse n'existe pas déjà avant d'envoyer son retour. L'utilisateur n'a pas toujours saisi de question avant d'arriver sur cette page (par exemple, s'il a cliqué sur un thème / dossier puis consulté la liste des réponses)

[2018-11-09 11:50] jeremiecook commented on #214
@lionelB Cela dit, je pense que ce bloc peut rester masqué à l'ouverture de la popin

[2018-11-09 16:03] jrduscher commented on #249
le SIG a bien validé l'URL?

[2018-11-09 16:26] jrduscher commented on #257
on a contacté le service qui gère les fiches pour trouver une solution propre. en attente de rdv.

[2018-11-09 16:43] jrduscher opened #265 "Ajouter une page résultat "trouver sa CCN""
https://trello.com/c/TCXBUBgT/276-ux-r%C3%A9flechir-%C3%A0-comment-lutilsiateur-trouve-sa-ccn

rapprocher des #99 et #37

 - [ ] ajouter le wording + exemple ( métier)
- [ ] integrer le modèle UX
- [ ] permettre de requeter le rsulatat par une question "comment trouver la CCN"
-

[2018-11-09 16:50] lionelB commented on #212
@jeremiecook est ce que tu peux ma mettre l'icone dans l'issue ? je ne crois pas l'avoir
Merci

[2018-11-09 16:53] lionelB commented on #214
@jrduscher  la PR #264 va répondre partiellement à cette issue car elle ne gére que le pousse bas.
pour le pousse haut, cela va demander un autre travail plus conséquent (impact sur ES / api)
Je propose qu'une fois la PR mergée, on ferme cette issue et on ouvre une pour le pouce haut ?

[2018-11-09 16:54] jrduscher commented on #211
on va attendre la fin de la mission d'onogone, au vu de la réuni d'aujourdh(ui: ils vont bien être sur ce champ là. report au 1.6 donc

[2018-11-09 16:59] lionelB commented on #167
@revolunet il me semble qu'on avait mergé le fix, non ?

[2018-11-09 17:01] lionelB commented on #104
on ferme ?

[2018-11-09 17:02] lionelB commented on #133
les mockup sont dispo ici https://projects.invisionapp.com/d/main/default/#/console/14828309/325093779/preview

[2018-11-09 17:02] #133 closed, assigned to jeremiecook

[2018-11-09 17:04] lionelB commented on #102
je ferme, doublons de #215

[2018-11-09 17:04] #102 closed, assigned to nobody

[2018-11-09 17:06] lionelB commented on #214
ca sera l'occasion de fermer l'issue #134

[2018-11-09 17:08] lionelB commented on #265
![image](https://user-images.githubusercontent.com/160320/48277263-78c9bd00-e44a-11e8-8bc2-3d8a1913189b.png)

[2018-11-10 13:49] revolunet commented on #167
oui pour moi c'était réglé

[2018-11-12 09:23] jrduscher commented on #193
fonctionnne en dev ok.

[2018-11-12 09:32] jrduscher commented on #189
on n'arrive pas à voir si les fiches professionnels ont bien été integrées. A voir avec la partie dev pour la recette. A voir aussi la suite: affichage et discriminant:
https://trello.com/c/bKPxzsbZ/327-comment-distinguer-les-fiches-services-public-salari%C3%A9-et-employeur-et-%C3%AAtre-s%C3%BBr-quelles-sont-differentes

[2018-11-12 09:42] jrduscher opened #266 "Fiches SP : exploiter distinction employeur/salarié"
https://github.com/SocialGouv/code-du-travail-numerique/issues/189

Nécessite specs Métiers !!

- [ ] affichage de l'intitulé particulier ou employeur
- [ ] discrimniation selon l'intitulé employeur-pro/ particulier

[2018-11-12 09:56] jrduscher commented on #137
RECETTE: erreur sur prod et dev , erreur 500

[2018-11-12 09:58] jrduscher opened #267 "Affichage des modèles de courrier"
- [x] Integrer les modifs de mise en forme suite à proposition UX : https://trello.com/c/POKc0yVJ/313-mod%C3%A8les-de-courrier

[2018-11-12 09:58] jrduscher commented on #195
[ recette/revue]dans la version dev une seule couleur, dans la prod ok ??

[2018-11-12 10:31] lionelB commented on #267
c'est pas un duplicate de https://github.com/SocialGouv/code-du-travail-numerique/issues/236  ?

[2018-11-12 13:25] Loze-Faelens commented on #105
- Cela fonctionne en renvoi vers le paragraphe de la fiche complète. Est-ce que l'on va plus loin en ne proposant que le paragraphe ?
//JR: si mais dans une nouvelle issue à ce moment là.

[2018-11-12 17:29] revolunet commented on #235
pour les CCNS, à traiter dans une issue dédiée :)

[2018-11-13 10:00] jrduscher commented on #237
CLOSED: sans objet pour la revue et la mis en prod ( repoussé en 1.4)

[2018-11-13 10:08] jrduscher commented on #141
https://codedutravail-dev.num.social.gouv.fr/question/quest-ce-quun-accord-de-performance-collective-apc?q=apc&search=0

je note que ça bugge toujours: erreur 500.

[2018-11-13 10:38] lionelB commented on #141
@jrduscher je viens de clicker sur ton lien ca fonctionne :/

[2018-11-13 11:22] #209 closed, assigned to lionelB

[2018-11-13 13:33] jrduscher commented on #169
On peut refaire un tableau pour voir ce qui a changé?

[2018-11-13 14:32] jrduscher commented on #94
Pourquoi l'issue apparaît dans la 1.3? Il me semble pas que quelque chose ait été là dessus à ce moment là.

[2018-11-13 14:41] revolunet commented on #94
au vu de l'historique, elle était en 1.2 puis passée en 1.3... et ça doit être à ce moment là qu'on avait vu qu'on avait pas de HTML dans le fichier ePoseidon ?

[2018-11-13 14:55] revolunet commented on #169
### ./dataset/faq.json

Tag | values
----|-------
theme | CONTRAT DE TRAVAIL ET EMBAUCHE, DURÉE DU TRAVAIL, Durée du travail, MALADIE, PERIODE D'ESSAI, Rupture Conventionnelle, rupture-du-contrat, salaire
branche | ASSISTANT.E.S MATERNEL.LE.S, BÂTIMENT, COMMERCES À PRÉDOMINANCE ALIMENTAIRE, GARAGES, HOTELS-CAFÉS-RESTAURANTS, INDUSTRIE CHIMIQUE, PARTICULIERS EMPLOYEURS, TEST, TRANSPORTS ROUTIERS, b

[2018-11-13 14:56] revolunet commented on #169
a quoi correspond "un contrat écrit en français" ?

[2018-11-13 15:07] jrduscher opened #270 "Fiches MinTrav/SP: afficher le paragraphe seul dans une page réponse"
https://trello.com/c/TUrrSavu/328-fiches-min-et-sp-le-contenu-du-paragraphr-seul-saffiche-en-r%C3%A9ponse

Aujourd'hui depuis la 1.3, la fiche complète est affiché, et lorsque la question user concerne le paragraphe la fiche se charge au complet, l'user est placé sur la balise paragraphe: il faut désormais afficher le paragraphe seul dans une page réponse avec un lien vers s-p.fr ou min trav vers

[2018-11-13 15:08] #105 closed, assigned to lionelB

[2018-11-13 16:17] jrduscher opened #273 "Fiche S-P.fr: le chapeau introductif des articles est manquant dans la page réponse"
![image](https://user-images.githubusercontent.com/37538697/48426826-d8380d80-e767-11e8-8acb-9f6be4ff6384.png)

![image](https://user-images.githubusercontent.com/37538697/48426861-ee45ce00-e767-11e8-9d81-777f848b40a5.png)

[2018-11-13 16:19] jrduscher commented on #273
![image](https://user-images.githubusercontent.com/37538697/48427030-3238d300-e768-11e8-83b9-4777e2988e9d.png)

![image](https://user-images.githubusercontent.com/37538697/48427051-3e249500-e768-11e8-94f8-520d5ed5434b.png)

[2018-11-13 16:34] jrduscher opened #274 "Ajout des fiches SP: "Formalités de la création d'entreprise ""
Integrer le fonds correpsondant dans lequel on trouve par exemple : Comment se procurer un extrait K ou Kbis ?

- [ ] extraire une liste des intitulés des fiches s-p.fr "formalités des entreprises"
- [ ] passe métier au regard de la liste
 - [ ] en fonction, intégration de tout ou partie des fiches de la rubrique

[2018-11-13 17:19] jrduscher opened #275 "cas de hors sujet"
https://codedutravail-dev.num.social.gouv.fr/?q=d%C3%A9mission%20cdi%20ch%C3%B4mage

le premier résultat ne devrait pas sortir, ici et encore moins en tête.
La requête porte sur la démission , pas sur l’homologation de la Rupture conventionnelle ,qui vient en tête des résultats.
https://codedutravail-dev.num.social.gouv.fr/fiche-ministere-travail/la-rupture-conventionnelle-du-contrat-de-travail-a-

[2018-11-14 14:29] lionelB commented on #239
closed by #259

[2018-11-14 14:29] #239 closed, assigned to lionelB

[2018-11-14 14:31] lionelB commented on #138
closed by #263

[2018-11-14 14:31] #138 closed, assigned to lionelB

[2018-11-14 14:32] #216 closed, assigned to lionelB

[2018-11-14 14:42] jrduscher opened #276 "Affichage de la page résultat (améliorations)"
- [x] ajouter les pictogrames selon le type de contenus: https://trello-attachments.s3.amazonaws.com/5a39344bf34cad983b377287/5bcf339fb2bb3c455d10e4ee/f21767f97533dcfd96c1cf054951bed0/Icones.png https://trello.com/c/PJcXi3JN/308-diff%C3%A9rencier-les-contenus-officiels-avec-des-picto

- [x] ajouter la date de dernière mise à jour ou publication https://trello.com/c/Op1gpWss/303-ajouter-la-date-dan

[2018-11-14 15:03] jeremiecook commented on #212
[lost.svg.zip](https://github.com/SocialGouv/code-du-travail-numerique/files/2581232/lost.svg.zip)

[2018-11-14 15:06] lionelB commented on #212
thanks

[2018-11-14 15:22] jrduscher opened #277 "Possibilité d'imprimer enregistrer voire partager la page résultat"
Une demande relayé par notre GT:
 - [x] la page de résultat doit être aisément imprimable
           - UX needed: faut il un picto et une finction imprier depuis la page de résultat

           - le contenu doit être formaté pour être imprimable
           - sources et dates de mise à jour du contenu doivent apparitre à bonne place
 - [ ] la page résultat doit pouvoir être sauvegardée
        - mi

[2018-11-14 15:25] jrduscher commented on #234
je vois qu'on avais prévu qqch dans le trello pour la 1.5. je transferts dans la 1.5.

[2018-11-14 15:28] jrduscher commented on #234
https://trello.com/c/20L2sBsT/307-todo-mettre-en-valeur-la-convention-collective-dans-la-r%C3%A9ponse-propos%C3%A9e

add texte réf: regles CCN/accords d'entreprise. L2253-1 et svts

[2018-11-14 18:38] lionelB opened #279 "bug page convention collective - erreur 404"
le probleme vient du `/src/sources.js`
[code]
cette route n'existe nulle part

[2018-11-14 19:48] lionelB commented on #267
duplicate #236  closed by #262

[2018-11-14 19:48] #267 closed, assigned to nobody

[2018-11-14 19:49] lionelB commented on #137
closed by #261

[2018-11-14 19:49] #137 closed, assigned to lionelB

[2018-11-15 09:37] jrduscher opened #280 "les questions similaires renvoient aux mauvaises réponses : faq convention collective."
les questions siilaires renvoient aux mauvauses réponses 👍 faq convention collective.
- [ ] ajouter l branche/idcc dans l'url
- [ ] affichage de la branche dans le titre ( pour l'usager)

[2018-11-15 10:59] lionelB opened #281 "indemnité licenciement - prev ancienneté"
Il n'y a pas de bouton prev quand on demande l'Ancienneté, suite au fix du rebase
[code]

[2018-11-15 12:14] jrduscher opened #284 "Ajouter la CCN Métallurgie au calcul d'indemnité de licenciement"
SPECIFICATONS NON FINALISEES

1) Métallurgie accords nationaux
2) Métallurgie accords nationaux ngénieurs et cadres

1) Métallurgie accords nationaux ouvriers ETAM

Le montant de l'indemnité de licenciement est comme suit :
demander ancienneté.
soit x : salaire mensuel.
calcul de la moyenne des mois sur 12 MOIS. ( récupérer la moyenne des 12 deniers mois)

soit **y** l’ancienneté en année complète

[2018-11-15 13:11] #281 closed, assigned to nobody

[2018-11-15 14:14] #212 closed, assigned to lionelB

[2018-11-15 14:29] jrduscher commented on #279
=> on peut débrancher la 2121, contenu de test.

[2018-11-15 14:31] jrduscher commented on #284
https://www.legifrance.gouv.fr/affichIDCC.do;jsessionid=2806D7F3C4697ED4B02796FDF9F0BFC5.tplgfr35s_2?idSectionTA=KALISCTA000005749867&cidTexte=KALITEXT000005673470&idConvention=KALICONT000005635842

[2018-11-15 15:35] #215 closed, assigned to lionelB

[2018-11-19 09:52] lionelB commented on #39
closed by #201
Les prochaines ccn feront l'objet de nouvelles issues

[2018-11-19 09:53] jrduscher opened #294 "indicateurs pouce haut dans la page résultat"
SPEC WIP!
définir l'action attendue
le pouce haut doit valider une réponse satisfaisante à une question posée.
=> L'équipe projet doit pouvoir avoir trace de plusieurs éléments:
1) le couple question posé+ url de la page résultat.
2) d'autres données pourraient être intéressantes:

   - durée de consultation de la page
   - clic vers des liens externes,
   - poursuite de la navigation vers des don

[2018-11-19 10:06] lionelB commented on #214
closed by #264

pouce haut #294

[2018-11-19 10:06] #214 closed, assigned to lionelB

[2018-11-19 10:10] jrduscher commented on #169
article L1121-1 CDT:  contrat de travail. marche aussi avec CDI et embauche . je modifie.
type d'entreprise renvoie à une spécificité de convention collective, on peut le supprimer pour le moment.

[2018-11-19 16:13] #192 closed, assigned to lionelB

[2018-11-19 16:45] jrduscher opened #296 "ngramswip_pour_lionel.json"
[

"indemnité de licenciement",
"Contrat à durée indéterminée",
"Période d'essai",
"rupture conventionnelle",
"arrêt maladie",
"certificat de travail",
"chèque vacances",
"contrat de travail",
"durée du travail",
"délai de carence",
"entretien préalable",
"heures pour recherche d'emploi",
"inspection du travail",
"inspecteur du travail",
"contrôle du travail",
"rupture conventionnelle collective",

[2018-11-19 16:48] jrduscher commented on #296
listing à abonder (WIP)

[2018-11-20 09:32] jeremiecook opened #297 "Petit souci de z-index sur la liste de recherche"
<img width="1389" alt="capture d ecran 2018-11-20 a 10 28 53" src="https://user-images.githubusercontent.com/88306/48764245-69027200-ecaf-11e8-837c-07e12407822e.png">

[2018-11-20 09:36] lionelB commented on #297
est ce que tu pourrais préciser le navigateur ? merci.

[2018-11-20 09:39] jeremiecook opened #298 "Problème de contraste sur les types de contenus"
Pas totalement accessible (même si c'est valide AA)
Proposition de couleur de fond : #dde4ed (à la place de l'actuel "--color-grey")

<img width="287" alt="capture d ecran 2018-11-20 a 10 34 50" src="https://user-images.githubusercontent.com/88306/48764442-f219a900-ecaf-11e8-83c5-bc46ce52d956.png">

[2018-11-20 09:39] jeremiecook commented on #297
Oui ! Pardon. Firefox Quantum 64.0b10 (64-bit)

[2018-11-20 14:18] revolunet commented on #253
- n-grams
 - suggestions

[2018-11-20 16:54] jrduscher opened #299 "Facetting suites"
- [ ] en tant qu'utilisateur, si je choisis une source dans le facetting et qu'il n'y a pas de résultat pour moi:
         - je m'attends bien à la réponse actuelle "Nous n’avons pas trouvé de résultat pour votre recherche."
         - je m'attends à continuer mon parcours en quête de vérité: à des suggestions, d'autres contenus, d'autres sources? UX needed

- [ ] Déçu ne pas avoir trouvé ma répon

[2018-11-20 17:13] jrduscher commented on #299
issue de départ facetting: https://github.com/SocialGouv/code-du-travail-numerique/issues/215

[2018-11-20 17:13] jrduscher commented on #215
https://github.com/SocialGouv/code-du-travail-numerique/issues/299

[2018-11-21 10:45] jrduscher commented on #169
on a commencé à demander à nos rédacteurs d'intégrer des références juridiques aux articles, mais ces données ne figurent pas encore.
Pour renseigner la référence: on a une typologie de références, et des indications qui lui sont propres:

jurisprudence:  ( n° de pourvoi, nom, instance judiciaire émettrice, ex )
article de CCN ( article+ texte dans la CCN)
circulaire ( art, référence du texte)
tex

[2018-11-21 18:25] #273 closed, assigned to nobody

[2018-11-22 10:08] revolunet commented on #196
Proposition :
 - on liste les themes proposés SP et détectés par notre script
 - tu nous dis lesquels à exclure ?

[2018-11-22 10:15] #235 closed, assigned to revolunet

[2018-11-22 10:34] jrduscher commented on #196
Ca me va!

[2018-11-22 10:48] revolunet commented on #208
liste des idcc : https://travail-emploi.gouv.fr/dialogue-social/negociation-collective/article/conventions-collectives-nomenclatures

[2018-11-22 10:48] revolunet commented on #208
la liste KALI actuelle provient du select ici : https://www.legifrance.gouv.fr/rechConvColl.do?reprise=true&page=1

[2018-11-22 11:18] revolunet opened #308 "Calculateur d'indemnité de licenciement , CCN: detection OPE"
Comment aider l'usager à répondre à cette question

 -  Prévoir un « je ne sais pas » : avec une modal de wording (de  type : si votre entreprise est affiliée, dans le cas d’une indemnité de licenciement pour motif économique et au regard de votre situation vous pourriez prétendre à une indemnisation particulière, demandez conseil à vos représentants du personnel et / ou prenez contact avec les se

[2018-11-22 11:24] revolunet commented on #48
Si je comprends bien la question, oui, on pourra classifier le contenu des textes des CCNs.
Pour ca il nous faut des données d'apprentissage, donc un certain nombre de CCNs dont le contenu est taggué manuellement.

En additionnant les données de BDCC, des brochures, de KALI, on doit pouvoir faire remonter un peu d'infos aussi

[2018-11-22 17:08] jrduscher commented on #308
la question qui nous préoccupe touche prioritairement l'indemnité de licenciement. Pour le reste il faut creuser mais cela est moins prioritaire ( ne concerne que les textes non étendus publiés sur legifrance,à savoir notamment les plus importants)

[2018-11-22 17:14] jrduscher opened #310 "Calculateur d'indemnité de licenciement: AT/MP. Indemnité spéciale de licenciement"
Résumé:
il est dit que si le licenciement a pour origine le prononcé d'une inaptitude faisant suite à un accident du travail ou une maladie professionnelle ( on parle d'inaptitude d'origine professionnelle): l'indemnité de licenciement légale est doublée: on va parler dans ce cas d'**indemnité spéciale de licenciement** pour inaptitude ( par exemple: si le salarié bénéficie du calcul prévu au delà

[2018-11-23 12:51] jrduscher commented on #64
existe-t-il une prime d'ancienneté dans la convention collective du commerce de gros?

réponses  obtenues:

réponse attendue:

en l'état de nos contenus: deux options:
à minima: https://codedutravail-dev.num.social.gouv.fr/fiche-service-public/salaire-du-secteur-prive-la-prime-danciennete-est-elle-obligatoire?q=prime%20d%27anciennet%C3%A9&search=0
au pire : Il n'existe pas encore de réponse...

Pa

[2018-11-23 15:42] jrduscher commented on #64
Je travaille dans la métallurgie et mon employeur ne respecte pas les accords?

contenus obtenus:
Je travaille dans la métallurgie et mon employeur ne respecte pas les accords?

contenus attendus:
 // pas de contenu en ligne
=> Renvoi vers le SR

NEED PRECISION de l'utilisateur sur le détail du non repsct: champs...

[2018-11-23 16:43] jrduscher commented on #116
#296

[2018-11-26 13:45] jrduscher opened #316 "Feedback utilisateur : ajouter l'url de la page résultat déceptive"
- [ ] ajouter l'url de la page résultat au message transmis à l'équipe lors du signalement utilisateur ( on doit avoir l'url+ la question+ motif)
 - [ ] ajouter l'url du contenu sélectionné dans les résultat transmis à l'équipe lors du signalement utilisateur ( on doit avoir l'url+ la question+ motif)

https://trello.com/c/BJorXwCz/301-dans-le-feedback-ajouter-la-r%C3%A9ponse-r%C3%A9sultat-aux-don

[2018-11-26 14:01] jrduscher opened #317 "Améliorer l'affichage fiches services public"
mise en forme et syle CSS à fixer voire normaiser? oui , mais sur la base quel référentiel? renvoie charte graphique et organsiationnel?

[2018-11-26 14:03] jrduscher commented on #317
#209

Revoir la mise en forme du texte des fiches (CSS?)

[2018-11-26 14:06] jrduscher opened #318 "Modèles de courriers ( ajout de 1à modèles suite à GT 11/18)"

[2018-11-26 14:12] jrduscher commented on #49
https://trello.com/c/TjLGj0Am/245-tester-le-lien-entre-siret-to-convention-collective-applicable

[2018-11-26 17:05] lionelB commented on #316
pour l'instant on transmet la recherche de l'utilisateur.
pour avoir l'url il faut rajouter code-du-travail-numerique.social.gouv.fr/?q=la-recherche

[2018-11-26 17:26] jrduscher commented on #316
Ok, c'est déjà un élément; après c'est plus carrément sur le résultat en lui même ( la fiche, l'article la question réponse consultée par l'user) .

[2018-11-26 19:07] lionelB commented on #316
oki je comprends mieux !
Donc si on utilise le pouce haut, il faudrait aussi transmettre le contenu consulté !

[2018-11-27 10:00] revolunet commented on #256
https://github.com/fridays/next-routes/pull/258#issuecomment-441984990

[2018-11-27 13:56] jrduscher opened #322 "Fusion CCN ( WIP) - ceci n'est pas une spec-"
suivi des fusions.

https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000037646785&dateTexte=&categorieLien=id

Convention collective rattachée IDCC | Convention collective rattachée  Intitulé | Convention collective de rattachement IDCC | Convention collective de rattachement Intitulé
418 | Convention collective nationale de la chemiserie sur mesure | 303 | Convention collective nati

[2018-11-28 08:37] jrduscher opened #326 "Intégrer des documents"
Proposer aux usagers en complément d'une réponse à question, un outil supplémentaire d'information, made in DIRECCTE.
- [x] centraliser ces productions, mise en place d'un flux organisationnel
- [ ] comment stocker ces documents.?
      où les stocker?
      un flux entre le sharepoint des ARDSR et le CDTn est il techniquemnt envisgaeable?
- [x] comment intégrer ces documents.?
      un json dédié

[2018-11-28 08:48] jrduscher commented on #316
Yep, même si pour l'instant on ne sait pas quoi en faire exactement, si on peut stocker des parcours satisfaisants quelque part, à terme les données pourarient être intéressantes pour améliorer le parcours utilisateur.

[2018-11-28 11:52] jrduscher opened #328 "afficher unepage de résultat par paragraphe Fiches ministères précision au paragraphe"
https://codedutravail-dev.num.social.gouv.fr/fiche-ministere-travail/le-licenciement-pour-motif-personnel-quest-ce-quune-cause-reelle-et-serieuse?q=Quelles%20sont%20les%20indemnit%C3%A9s%20dues%20au%20salari%C3%A9%20en%20l%E2%80%99absence%20de%20cause%20r%C3%A9elle%20et%20s%C3%A9rieuse%20%3F&search=0#Qu-est-ce-qu-une-cause-reelle-et-serieuse

le paragraphe suivant : Quelles sont les indemnités due

[2018-11-28 12:38] jrduscher opened #330 "pertinence elastic search"
quand je tape  le titre de ma fiche ministère du travail, c'est plutôt cool de me voir suggérer les différents paragraphes contenus dans cette fiche, je peux choisir celui qui pourrait m’intéresser alors même que je n'ai pas tout précisé dans ma requete/
MAIS:
- [ ] si je tape exactement "Congé parental d'éducation" et qu'un contenu correspond exactement à cela, je m'attends à le voir en tête des

[2018-11-28 12:44] jrduscher opened #331 "[KALI] Cibler les accords non étendu"
- [ ] Arriver à cibler les accords non étendus
- [ ] Quand on arrive à les cibler, pouvoir extraire les organisations patronales signataires
- [ ] faire le lien avec :https://github.com/SocialGouv/code-du-travail-numerique/issues/308

[2018-11-28 15:25] jrduscher commented on #169
du coup est ce qu'on peut arrêter les tags à cette structure:

[

	{
		"question": "",
		"reponse": "",
		"tags": {
			"themes": [3600, 3601],
			"theme": [
				"contrat de travail",
				"principes",
				"un contrat écrit en français"
			],

			" CCN": {
				"branche": "hôtels, cafés restaurants",
				"categorie": "ETAM",
				"branche_coefficient": "125"
			},

			"type_contrat": "CDI",

			"trava

[2018-11-28 15:31] revolunet commented on #169
Ça me paraît tes bien merci

Je mettrai les données CCN a plat

[2018-11-28 15:52] lionelB commented on #169
Suite à la discussion avec @jrduscher
On peut intégrer des références au meme niveau que les tags
[code]

[2018-11-28 15:56] jrduscher commented on #169
Cool, merci!! je vous remontrerais ce que ça donne avec les 5 premières contributions

[2018-11-28 18:01] jrduscher commented on #121
exemple

https://travail-emploi.gouv.fr/sante-au-travail/prevention-des-risques-pour-la-sante-au-travail/mesures-et-moyens-de-prevention/article/commande-bimanuelle

[2018-11-28 18:27] revolunet commented on #317
Il faudrait pouvoir reproduire ces widgets :

https://www.service-public.fr/particuliers/vosdroits/F459

<img width="840" alt="capture d ecran 2018-11-28 a 19 23 47" src="https://user-images.githubusercontent.com/124937/49173188-49201d80-f343-11e8-9581-d80bee8a8843.png">

(on devrait faire un package dédié ré-utilisable par d'autres services)

Il y a a priori tout ce qu'il faut dans le XML :

[cod

[2018-11-28 18:43] revolunet commented on #234
Je pars sur les hypothèses suivantes :
 - on se base (dans un 1er temps) sur la classification dans `themes.csv` pour regrouper nos contenus.
 - nous taggons manuellement (dans un 1er temps) les contenus avec un "id theme" (ou une référence à un article CDT)

Ceci va nous permettre, sur certains résultats, de retrouver ce qu'on avait dans le prototype initial :

Si le résultat affiché à un "id the

[2018-11-28 19:19] revolunet commented on #189
ca a été fait ici : https://github.com/SocialGouv/code-du-travail-numerique/pull/268

[2018-11-28 19:20] revolunet commented on #189
exemple fiche pro : https://codedutravail-dev.num.social.gouv.fr/fiche-service-public/fermeture-dun-etablissement-obligation-de-rechercher-un-repreneur?q=Fermeture%20d%27un%20%C3%A9tablissement%20%3A%20obligation%20de%20rechercher%20un%20repreneur&search=0

[2018-11-28 19:37] revolunet commented on #195
je l'ai chez moi, même sur dev.

[2018-11-29 08:27] #189 closed, assigned to lionelB

[2018-11-29 08:31] jrduscher opened #336 "intégration des retours contributeurs "daily" des DIRECCTE"

[2018-11-29 09:33] jrduscher opened #338 "ajouter du wording explicatif calculateur"

[2018-11-29 09:36] jrduscher commented on #338
- [ ] meilleure moyenne
- [ ] wording explicatif

[2018-11-29 09:49] jrduscher opened #339 "date FAQ à checker"

[2018-11-29 09:55] jrduscher commented on #277
on abandonne les possibilités d'enregistrer ou de partager le lien de résultat.

[2018-11-29 09:55] #277 closed, assigned to nobody

[2018-11-29 09:57] jrduscher commented on #208
Booster l'IDCC dans la recherche

[2018-11-29 09:58] #297 closed, assigned to nobody

[2018-11-29 12:40] jrduscher opened #341 "RECHERCHE CCN PAR IDCC"
sans doute pas chronophage.
La recherche sur legifrance via l'IDCC est déceptive dans le cas suivant:
"0843" ne marche pas
"843" marche.
supprimer le 0 des IDCC pour la recherchedans legifrance.

[2018-11-30 08:23] jrduscher opened #344 "Calculateur indemnités licenciement : centralisation des pistes d'amélioration"
- [ ] réglementation avant/après: Corriger les références 26 aout, 25 aout..; par : 27 septembre
- [x] ancienneté supérieur à 8 mois et inférieur à 12 mois: possible pour les licenciements prononcés après le 24 septembre.
// oui du coup on a deux dates, mais comme l'avait dit récemment, finalement ce ne sera plus très utile d'ici à l'ouverture au public officielle du service
- [x] corriger le word

[2018-11-30 12:39] revolunet commented on #341
ex: La CC des boulangeries devrait apparaitre en 1er ici :

![capture d ecran 2018-11-29 a 10 56 56](https://user-images.githubusercontent.com/124937/49289823-4dfce280-f4a5-11e8-8961-816fe6aaa145.png)

[2018-11-30 12:39] revolunet commented on #208
cf #341

[2018-11-30 12:52] revolunet commented on #326
Oui on peut envisager un flux entre un repertoire partagé ou sharepoint vers le CDTN

Il faudrait en effet pour démarrer un JSON qui référence et décrit les fichiers à publier.

Sur le format oui il vaut mieux que l'on standardise. DOCX semble le format le plus accessible (et editable) ? On peut automatiser la suppression des métadonnées sur ce format

 - Sur service-public, les modèles sont propo

[2018-11-30 13:31] jrduscher commented on #169
// Je rebascule ici la structure corrigée par Julien dans la #337.

[code]

[2018-11-30 13:57] jrduscher opened #346 "détecter dans le texte : " article LXXX-x et suivants""
- [ ] L'expression L3231-1 et svts ou L3231-1 et suivants:
            Comprend les articles de la section ou sous section suivant l'article mentionné
              Détecter la sous- section, (LEGI ou KALI selon la source)
              Proposer les articles contenus dans la sous-section à la suite de l'article.
exemple: L3231-1 et suivants:  L3231-1 ( article seul dans sa ss section) adjoindre le

[2018-11-30 13:58] revolunet commented on #346
PI une base de grammaire pour detecter ces expressions : https://framagit.org/parlement-ouvert/metslesliens

[2018-11-30 14:33] revolunet commented on #339
En fait on a pas de date dans le fichier JSON `faq.json`. je rajoute 01/01/2018 partout ?

des que le champ `date` est renseigné dans le JSON, ca s'affichera dans la page détail

[2018-11-30 14:37] jrduscher commented on #339
https://github.com/SocialGouv/code-du-travail-numerique/edit/jrduscher-patch-4/packages/code-du-travail-data/dataset/faq.json?pr=%2FSocialGouv%2Fcode-du-travail-numerique%2Fpull%2F240

tout est là , dates comprises!

[2018-11-30 14:39] revolunet commented on #339
ok c'est une PR en attente, je regarde ça https://github.com/SocialGouv/code-du-travail-numerique/pull/240

[2018-11-30 15:04] revolunet commented on #169
`title` est le seul champ en anglais... on met `titre` ici pour être cohérent avec le reste ?

[2018-12-05 11:44] jrduscher commented on #131
Indemnité légale de licenciement: temps plein et temps partiel

1) détecter temps partiel.

Phase 1
Poser la question: attendu [oui/non] " travaillez vous ou avez vous travaillé à temps partiel dans l'entreprise?",

Si 'non', continuer [----> passer à l'étape suivante dans le calculateur]
Si oui, demander la précision ci-après:

**Vous avez toujours travaillé à temps partiel dans l'entreprise ?**

[2018-12-05 14:07] jrduscher commented on #131
Période temps partiel
différence ( mois début, mois fin), moyenne rémunération)

[2018-12-05 16:50] lionelB commented on #143
PR #347  add date for article

[2018-12-06 10:06] lionelB commented on #298
@jeremiecook est ce qu'une des 2 couleurs suivantes est envisageable pour éviter de multiplier les couleurs similaire ?
[code]

[2018-12-06 10:08] jeremiecook commented on #298
Tout à fait !

J’aime bien --color-lighter-grey: #ebeff3;

Jérémie Cook
hello@jeremiecook.com
06 63 09 76 32

[2018-12-06 10:16] lionelB commented on #298
👍 merci

[2018-12-06 10:40] jrduscher opened #359 "Amélioration facetting"
-  [ ] en tant qu'utilisateur, dans le facetting je veux connaitre le nombre de documents présents selon les sources proposées

[2018-12-06 10:41] jrduscher commented on #359
virés de la #299

[2018-12-06 15:25] lionelB commented on #338
en attente du wording

[2018-12-07 08:36] lionelB commented on #121
@jrduscher est ce que c'est possible de faire une liste des url que l'on souhaite récupérer ?

[2018-12-07 08:49] lionelB commented on #276
closed by #262
date:
- fiche sp #268,
- fiche min #288
- code_du_travail #347
- autres #218

[2018-12-07 08:49] #276 closed, assigned to nobody

[2018-12-07 08:50] lionelB commented on #143
on peut fermer ?

[2018-12-07 08:51] lionelB commented on #208
je ferme vu qu'il y a l'issue #341

[2018-12-07 08:51] #208 closed, assigned to lionelB

[2018-12-07 08:56] lionelB commented on #279
closed by #289

[2018-12-07 08:56] #279 closed, assigned to nobody

[2018-12-07 08:57] lionelB commented on #257
closed by #288

[2018-12-07 08:57] #257 closed, assigned to revolunet

[2018-12-07 09:00] lionelB commented on #318
@jrduscher  est ce que tu peux rajouter les modeles à intégrer dans l'issue ?

[2018-12-07 10:06] jrduscher commented on #338
Sorry!!
Wording sur le premier écran:
Ce calculateur vous permettra une estimation de votre indemnité de licenciement. il tien t compte de l’indemnité légale de licenciement de l’indemnité conventionnelle pour en livrer le montant plus favorable. Un accord collectif au niveau de l'entreprise peut prévoir un montant différent.

**Corrections de wording** ( suite à une remarque pertinente d'hier, si

[2018-12-07 10:23] jrduscher commented on #169
- [ ] créer une règle de taguage exhaustive à destination des services.
- [ ] nettoyage des tags dans la base suite

[2018-12-07 10:52] jrduscher opened #362 "affichage intitulé complet texts ex: art. CDTravaill"
ajouter dans l'intitulé des résultats d'afficage des articles du code du travail , " du code du travail" après l'article LXXX-XX **du code du travail**.

Attention, il pourrait y avoir par la suite d'autres codes à indexer ( code rural... ) en tenir compte.
![image](https://user-images.githubusercontent.com/37538697/49924448-a88b3b00-feb6-11e8-942f-496adc5481c4.png)

![image](https://user-images.g

[2018-12-07 10:53] jrduscher commented on #346
DuraLex/SedLex permet de visualiser l'impact d'un amendement sur les textes de loi en "parsant" la grammaire légistique pour en déduire automatiquement un "diff" à appliquer.

1/2 https://twitter.com/ljo/status/1070681933389148160

[2018-12-07 11:37] jrduscher opened #363 "[Modèle] feuille d'heures / relevé d'heure"
https://codedutravail-dev.num.social.gouv.fr/code-du-travail/article-d3171-8?q=d3171-8&search=0

wording: rappel de l’obligation de l'employeur:

en cas d'horaires individualisé dans l'entreprise, l’employeur a obligation de mettre en place un dispositif de décompte de la durée du travail.

Prévoir un modèle de relevé d'heures à donner au salarié: idéal fichier csv. A construire.

"themes": 21400;

[2018-12-07 15:10] jrduscher commented on #169
[code]

[2018-12-07 15:19] jrduscher commented on #169
[code]

[2018-12-10 08:03] jrduscher commented on #363
durée du trvail/horaires individualisés/ décompte de la durée du travail,

[2018-12-10 08:45] jrduscher commented on #308
Kali  nous donnera surement de quoi résoudre, je viens de voir ça j'avais jamais fait attention:

KALI: https://www.legifrance.gouv.fr/affichCacheMenu.do?type=conv&option=convCollSommaire

[2018-12-10 14:28] lionelB commented on #341
closed by #358

[2018-12-10 14:28] #341 closed, assigned to lionelB

[2018-12-10 17:16] revolunet commented on #330
En fait ce bug vient du fait qu'on indexe plusieurs fois la même fiche ministère du travail alors qu'il s'agit du même document mais de paragraphes différents.

[2018-12-10 17:16] revolunet commented on #253
- gestion des phrases longues

[2018-12-10 17:18] lionelB commented on #121
poke @jrduscher

- [https://travail-emploi.gouv.fr/sante-au-travail/]()
- [https://travail-emploi.gouv.fr/sante-au-travail/suivi-de-la-sante-au-travail-10727/]()
- [https://travail-emploi.gouv.fr/sante-au-travail/]()
- [https://travail-emploi.gouv.fr/sante-au-travail/suivi-de-la-sante-au-travail-10727/article/le-suivi-de-l-etat-de-sante-des-salaries]()
- [https://travail-emploi.gouv.fr/sante-au-tr

[2018-12-10 17:18] revolunet commented on #198
Voici le souci :

- *indemnité de licenciement métallurgie* : 1 seul résultat : https://codedutravail-dev.num.social.gouv.fr/?q=indemnit%C3%A9%20de%20licenciement%20m%C3%A9tallurgie&facet=

- *indemnité de licenciement métalurgie* : multiples résultats pertinents : https://codedutravail-dev.num.social.gouv.fr/?q=indemnit%C3%A9%20de%20licenciement%20m%C3%A9talurgie&facet=

Si le moteur ne trouve ri

[2018-12-10 17:29] lionelB commented on #253
indexation des documents arborescent (avec une relation parent / enfant)

[2018-12-10 17:31] revolunet commented on #142
@jrduscher : On parle bien de ces fichiers ? https://github.com/SocialGouv/code-du-travail-numerique/tree/master/packages/code-du-travail-data/dataset/thesaurus

[2018-12-10 17:32] revolunet commented on #116
#198

[2018-12-10 17:44] revolunet commented on #142
Objectifs : synonymes, "hierarchie sémantique"...

[2018-12-11 13:21] jrduscher commented on #121
ok c'est cool merci .

[2018-12-11 14:11] jrduscher commented on #65
https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000036336556&dateTexte&categorieLien=id

[2018-12-11 14:15] lionelB commented on #121
@jrduscher pour la liste finalle > https://github.com/SocialGouv/code-du-travail-numerique/blob/80600de5dc13c58eae9f043d17aac46f9b32b976/packages/code-du-travail-data/dataset/fiches_ministere_travail/ministere-travail-liste-fiches.json#L199-L311

[2018-12-11 18:21] jrduscher opened #368 "Modèle de lettre de licenciement : Interface commune, et Annexe 1"
Fait écho en plus simple à l'issue #65
**Explication:**
**Les spec détaillent:**
la description d'une page 1 de formulaire, qui permet de récupérer les données communes à toutes les lettres. Une page résultat correspondant à la lettre de licenciement avec ses mentions peut être générée.
Une deuxième page apparaît après sélection du motif et sera différente selon le type de motif de licenciement: e

[2018-12-11 22:50] lionelB commented on #251
probleme fixé #226

[2018-12-11 22:50] #251 closed, assigned to nobody

[2018-12-11 22:51] lionelB commented on #256
@revolunet on peut fermé ? #354

[2018-12-11 22:52] lionelB commented on #244
on peut fermé ?

[2018-12-11 22:54] lionelB commented on #171
on peut fermé, ca ressemble a un doublon de #317

[2018-12-12 09:31] lionelB commented on #234
![image](https://user-images.githubusercontent.com/160320/49859935-09543e00-fdf9-11e8-9206-a748d5a287b5.png)

[2018-12-12 13:37] jrduscher opened #369 "Modèles de lettre de notification de licenciement [2] : motif éco collectif et individuel"
la trame centrale et les premiers exemples resservent pour attaquer le volet économique.
- 3 items:, voire 4, selon découpage. SPEC needed
- Au préalable retour d'expérience du sprint précédent #368, et corrections des bugs et spec.

[2018-12-12 16:16] lionelB opened #372 "les sous theme affiche un page vide"
ex: https://codedutravail-dev.num.social.gouv.fr/themes/rupture-de-contrat%2Fla-demission

[2018-12-12 16:41] lionelB opened #374 "DO NOT EMOJI IN MATOMO"
because emoji are not supported  https://github.com/matomo-org/matomo/issues/7766
![oh-noes](https://user-images.githubusercontent.com/160320/49884458-30306580-fe35-11e8-936d-b53db77cbf95.gif)

[2018-12-14 14:24] jrduscher opened #375 "Bug"
https://codedutravail.num.social.gouv.fr/question/dans-mon-entreprise-peut-on-etre-embauche-en-contrat-de-chantier-ou-doperation?q=contrat%20de%20chantier%20boulangerie&search=0

[2018-12-14 14:50] revolunet commented on #81
A voir avec MAESIC :
 - consolidation des données (crowdsourcing)
 - convention de nommage du fichier sur le site

[2018-12-14 14:51] revolunet commented on #81
idem défenseurs syndicaux : #82

[2018-12-14 15:03] douglasduteil commented on #374
lol

[2018-12-14 16:57] lionelB opened #379 "l'outils calcul d'indemnité n'est plus accessible"

[2018-12-14 17:05] #379 closed, assigned to nobody

[2018-12-14 17:22] lionelB commented on #338
- ~~Est ce que votre entreprise est affilié à une convention collective ?:~~
on laisse comme ca en attendant de pouvoir faire quelque chose de mieux avec les signataire d'un accord

[2018-12-14 17:34] #121 closed, assigned to lionelB

[2018-12-14 17:35] #372 closed, assigned to nobody

[2018-12-14 18:25] lionelB commented on #317
@revolunet je me demande dans quelle mesure on devrait pas générer plutôt un json qui nous permettrait d'utiliser des compsants react plutôt que générer du html pour ensuite utiliser JS (a la jquery) et transformer cela en composant
Cela change completement notre approche actuelle.
Qu'est ce que t'en penses ?

[2018-12-17 09:28] revolunet commented on #317
100% !

[2018-12-17 10:08] #318 closed, assigned to lionelB

[2018-12-17 10:09] lionelB commented on #336
closed by #337

[2018-12-17 10:09] #336 closed, assigned to lionelB

[2018-12-17 10:09] lionelB commented on #294
closed by  #360

[2018-12-17 10:09] #294 closed, assigned to jeremiecook, revolunet, lionelB, jrduscher

[2018-12-17 10:11] #338 closed, assigned to jrduscher

[2018-12-17 12:48] #298 closed, assigned to nobody

[2018-12-17 15:52] revolunet commented on #338
question de style, perso je préfère les formules type "Votre entreprise est-elle affiliée à xxx" plutôt que "Est-ce que votre entreprise est affilée à xxx" ? (plus léger IMO)

[2018-12-17 15:57] lionelB commented on #338
ah zut :(  il faudrait qu'on harmonise avec @jrduscher

[2018-12-17 16:37] lionelB opened #384 "add pre-push hook to lint code"
It would be nice to have a git-hook to prevent push when code is not lint correctly

[2018-12-17 16:39] lionelB opened #385 "Add pylint to python container"
Since we have a linter for python code, it would be nice to lint code using docker

[2018-12-17 16:41] lionelB opened #386 "remove branch build on ci"
In order to limit processing when submiting a PR, when can trigger build only for PR

[2018-12-17 16:41] lionelB opened #387 "remove circleci"
`.circleci`root folder is not used anymore, we can remove it

[2018-12-18 10:31] lionelB commented on #339
closed by #347

[2018-12-18 10:31] #339 closed, assigned to nobody

[2018-12-18 10:31] lionelB commented on #195
closed by #238

[2018-12-18 10:31] #195 closed, assigned to nobody

[2018-12-18 10:32] lionelB commented on #234
closed by #370

[2018-12-18 10:32] #234 closed, assigned to revolunet, lionelB

[2018-12-18 14:57] #375 closed, assigned to nobody

[2018-12-18 17:41] lionelB opened #391 "fair remonter le numéro de version dans lerna.json dans API et frontend"
- [ ] pour api: prevoir une route /version
- [x] pour le front: prévoir un easteregg  dans un title sur un élément de la Home

[2018-12-19 15:55] #384 closed, assigned to douglasduteil

[2018-12-19 16:31] #387 closed, assigned to douglasduteil

[2018-12-19 16:33] douglasduteil commented on #391
`easteregg` todo but the link to github is now versionned

[2018-12-19 18:12] #391 closed, assigned to douglasduteil

[2018-12-21 13:33] lionelB commented on #266
Quelle est la spec métier ?

[2018-12-21 16:22] revolunet commented on #80
quand la recherche ne donne pas de resultats, remonter petit à petit en enlevant des mots bien choisis.

ex : si "remboursement de frais mettalurgie" ne donne pas de résultat, chercher "remboursement de frais"

[2018-12-21 20:40] revolunet opened #405 "Recap ES"
## Elastic Search

 - Revue fonctionnement api/index ES actuels
 - Tuning data/ES :
    - privilégier les matches de plusieurs mots. ex : "Congé parental d'éducation" ou "contrat unique d'insertion" doivent être boostés #330 #116
    - problèmes avec fautes d'orthographe / fuzzy #198 #80
    - gestion des phrases longues : pouvoir repérer les mots importants pour la recherche dans un long texte. e

[2019-01-03 13:40] jrduscher opened #406 "FAQ : ajouter plusieurs questions par réponse"
je constate qu'une même réponse peut avoir différentes questions possibles: par exemple posée par l'employeur ou le salarié, ou comme ici:

question: Le 3 du mois dernier, j’ai demandé un acompte à mon employeur qui me l’a refusé. En a-t-il le droit ?

réponse :
Il convient de faire la différence, juridiquement, entre une avance et un acompte.Ce que vous avez demandé à votre employeur, en début de

[2019-01-03 14:46] jrduscher opened #407 "Mettre à jour le fichier themes.csv avec celui d'onogone"

[2019-01-04 11:20] jrduscher opened #408 "Ajout des arrêtés et décrets d’application non codifiés depuis LEGI"
dans les travaux concernant l'exploitation de la base LEGI.
Des articles du code du travail renvoient à d'autres textes qui ne sont pas nommés explicitement dans le corps des articles. Ces textes (arrêtés décrets non codifés) sont pris en référence et en application de ces articles:

Une référence sur legifrance permet de faire le lien généralement dans la page de l'article qui se retrouvera néces

[2019-01-07 13:46] jrduscher opened #409 "Mise à jour des données SMIC"
- [ ] détecter les contenus "maison" impactés par le décret
- [x] modifier les données: réponse directe FAQ smic.
- [ ] le décret de revalorisation a toujours le même intitulé, peut on créer une règle de maj avec les données legifrance?

https://www.legifrance.gouv.fr/eli/decret/2018/12/19/MTRX1833925D/jo/texte

[2019-01-07 15:03] lionelB commented on #405
# mapping
- utiliser le type `keyword`  plutôt que `type: text` + `analyzer: keyword`
- analyzer: https://jolicode.com/blog/construire-un-bon-analyzer-francais-pour-elasticsearch
# index
- basculer sur un shard (rule of thumb  1 shard = 20-50Go)

# API
- utiliser `suggestter` pour replacer le fuzzy
-  Refacto api `soc`
- expression multi-mot: utilisation du should avec un match phrase
- utilisatio

[2019-01-07 17:18] revolunet commented on #405
Autre point : Comment gérer cas des questions déclinables par branche ?

Ex: 50 déclinées sur 50 branches pros...

[2019-01-08 09:58] jrduscher commented on #328
#105 #270

[2019-01-09 10:27] revolunet commented on #408
Je confirme qu'avec LEGI on peut lister les textes reliés à un article (citations, décrets, arrêtés, codification...)

[2019-01-09 21:55] lionelB commented on #131
dans la cas ou il y a une prime, on ajoute la `prime / anciennete` ?

[2019-01-10 13:51] lionelB opened #412 "modifier le mapping elasticsearch"
utiliser le type `keyword` plutôt que `text` avec l'analyzer: `keyword`

[2019-01-10 13:52] lionelB opened #413 "modifier l'analyser pour le francais dans elastic"
https://jolicode.com/blog/construire-un-bon-analyzer-francais-pour-elasticsearch

[2019-01-10 13:53] lionelB opened #414 "modifier la config des shard dans Elastic"
Vu le nombre de doc, autant tout passer sur un shard
 (rule of thumb 1 shard = 20-50Go)

[2019-01-10 13:56] lionelB opened #415 "refacto : Améliorer la spéaration des responsabilité entre les routes et les sources de données"
Actuelement la creation des requetes est partagées entre routes.js et code-du-travail.js
Il est difficile de voir une requetes ES sans naviguer entre les 2 fichiers

[2019-01-10 13:59] lionelB opened #416 "APi : supprmier le param fuzzy et le remplacer par un suggest elastic"
Afin de simplifier les requetes, et d'améliorer leur pertinence, il faudrait desactiver le fuzzy et le remplacer par un suggester elastic
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html

[2019-01-10 14:01] lionelB commented on #116
piste suite à la venue du consultant elastic
- utilisation du should avec un match phrase plus
- ajout une pourcentage de match
- utilisation des min-term pour activer les clauses should

[2019-01-10 14:04] lionelB opened #417 "API : booster les faq pour qu'elles remontent avant les autres document"
- lors de l'indexation booster le score de depart

[2019-01-10 14:07] lionelB opened #418 "utiliser la ranking evaluation API"
Afin  de mettre en place des scenario de tests de pertinence
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-rank-eval.html

[2019-01-10 14:16] lionelB commented on #233
closed by #357

[2019-01-10 14:16] #233 closed, assigned to lionelB

[2019-01-10 14:20] lionelB commented on #362
tu veux qu'on rajoute `du code du travail` apres le title en bleu ?
![](https://user-images.githubusercontent.com/37538697/49924522-de302400-feb6-11e8-81fb-2ee9a40bc87f.png)

Est ce que sur les autres images c'est ok ?

[2019-01-10 17:17] #131 closed, assigned to lionelB

[2019-01-11 08:23] jrduscher commented on #266
il faut une liste des fiches pour aboutir à des spec. l'issue est déclassée des prochains sprints tant qu'il n'est as question des filtres.

[2019-01-11 09:54] lionelB commented on #362
![image](https://user-images.githubusercontent.com/160320/51025655-eef2b900-158c-11e9-92ac-1fc45d83e1f8.png)

[2019-01-11 09:55] jrduscher commented on #316
Les remontées des pouces hauts et pouces bas doivent pouvoir etre remontées pour être consultées dans le piwik

[2019-01-11 10:11] jrduscher commented on #326
nécessite précisions sur la nature des documents qui pourraient être intégrées.

[2019-01-11 16:24] lionelB opened #421 "certaines fiches ministere du travail sont en doublons."
cela est du au fait que le site du ministere du travail a mis en place une redirection d'url
 ex
https://travail-emploi.gouv.fr/droit-du-travail/rupture-de-contrats/article/la-rupture-conventionnelle-du-contrat-de-travail-a-duree-indeterminee

=>

https://travail-emploi.gouv.fr/droit-du-travail/la-rupture-du-contrat-de-travail/article/la-rupture-conventionnelle-du-contrat-de-travail-a-duree-indete

[2019-01-11 16:25] lionelB commented on #328
Suite à notre échange avec @jrduscher, on ne pas cibler le paragraphe
`"Quelles sont les indemnités dues au salarié en l’absence de cause réelle et sérieuse ?`  car celui-ci n'est pas accessible via une ancre, comme les titres pricipaux de la page.

Cette issue a été l'occasion de découvrir que certaine fiches sont en doublons #421

[2019-01-11 16:25] #328 closed, assigned to nobody

[2019-01-11 16:35] jrduscher opened #422 "Afficher le paragraphe de la fiche ministère dans une page résultat"
voir historique #105 #270 #328

 cette issue doit répondre précisément à l'intitulé : une page résultat avec le paragraphe de la fiche ministère, son contenu et  et le titre du pargraphe + un renvoi url vers la fiche complète sur notre site.

[2019-01-11 16:43] jrduscher commented on #270
voir historique #105  #328

cette issue doit répondre précisément à l'intitulé : une page résultat avec le paragraphe de la fiche ministère, son contenu et et le titre du pargraphe + un renvoi url vers la fiche complète sur notre site.

[2019-01-11 16:43] #422 closed, assigned to nobody

[2019-01-15 15:53] #310 closed, assigned to jrduscher

[2019-01-15 15:53] #362 closed, assigned to lionelB

[2019-01-15 16:09] #270 closed, assigned to nobody

[2019-01-15 16:33] lionelB opened #425 "Gérer le cas des questions déclinables par branche"
comment éviter d'avoir des doublons lors de la remontée de resultats dans elasticsearch

Ex: 50 déclinées sur 50 branches pros...

[2019-01-15 16:52] revolunet commented on #425
ça implique :

 - d'afficher une seule fois la question dans les résultats
 - une fois la question sélectionnée, l'usager doit préciser les tags permettant de discriminer vers la bonne réponse (ex: préciser la branche ou autre critère discriminant)

[2019-01-16 12:49] jrduscher opened #428 "BUG:FAQ: remontée étrange des suggestions à la saisie sur le site"
![image](https://user-images.githubusercontent.com/37538697/51249923-33b78f00-1995-11e9-9780-e79ab3ef38fc.png)
 remontée visibles par les users des tags sur une faq

[2019-01-16 14:14] jrduscher opened #429 "bug: affichage modèle incorrect"
l'affichage de la page réponse sur le renouvellement de la période d'essai, renvoie vers le modèle de certificat de travail.

ici un autre exemple: https://codedutravail-dev.num.social.gouv.fr/question/quelle-est-la-duree-maximale-de-la-periode-dessai?q=essa&search=0#, le renvoi vers le modèle n'est pas le bon. Souci de tag?

[2019-01-16 14:15] jrduscher opened #430 "Titre du Code du travail numérique"
La com de la direction nous sugg-re de rendre le titre de l'outil " code du travail numérique plus visible " , plus grand.

[2019-01-16 16:17] #229 closed, assigned to revolunet

[2019-01-17 09:17] lionelB commented on #421
closed by #423

[2019-01-17 09:17] #421 closed, assigned to nobody

[2019-01-17 09:19] lionelB opened #433 "integrer un outils de mesure de la pertinance ES"
Intrégrer  l'outils de tests unitiare fait par onogone pour tester la pertinence des recherches
ref: https://github.com/SocialGouv/code-du-travail-scenarios/tree/master/tests_unitaires_code_travail

[2019-01-17 09:19] lionelB commented on #405
closed in favor of
- ajouter un outils de control de pertinence pour elastic #433
- modifier le mapping elasticsearch #412
- modifier l'analyser pour le francais dans elastic #413
- modifier la config des shard dans Elastic #414
- refacto : Améliorer la spéaration des responsabilité entre les routes et les sources de données #415
- APi : supprmier le param fuzzy et le remplacer par un suggest elas

[2019-01-17 09:19] #405 closed, assigned to nobody

[2019-01-17 09:27] lionelB commented on #414
already done in https://github.com/SocialGouv/code-du-travail-numerique/blob/f5905c12ffbf35db1957ee9ca8072301c1d47436/packages/code-du-travail-data/search/indexing/create_indexes.py#L48

[2019-01-17 09:27] #414 closed, assigned to nobody

[2019-01-17 09:33] jrduscher opened #434 "Ajouter des explications sur la recherche de CCN"
#37

https://trello.com/c/TCXBUBgT/276-comment-lutilisateur-trouve-sa-ccn

need specs: integrer la nouvelle version explicative de la ccn+ specs . trouver sa ccn

[2019-01-17 09:40] jrduscher commented on #84
une liste exploitable doit ^tre fournie par CLF

[2019-01-17 09:59] jrduscher opened #435 "UX: orienter l'user en cas de non réponse"
Jérémy:
https://trello.com/c/oODTamKZ/231-proposer-une-issue-%C3%A0-luser-en-cas-de-non-r%C3%A9ponse

![image](https://user-images.githubusercontent.com/37538697/51310402-e3006e80-1a46-11e9-91c3-a3baf8eb3b40.png)

[2019-01-17 10:02] #241 closed, assigned to nobody

[2019-01-17 10:03] jrduscher commented on #241
obsolète, et reglée par ailleurs: création d'annuaire; autres issues avec picto visiblement résolu.
affichage différenciée ccn à mettre en avant: pas de contenu en l'état à générer dans une nouvelle issue plus tard.

[2019-01-17 10:07] lionelB commented on #435
poke @jeremiecook

[2019-01-17 10:08] lionelB commented on #435
@jrduscher je n'ai pas accès à la carte, peux tu detailler le travail attendu ?

[2019-01-17 16:55] #433 closed, assigned to lionelB

[2019-01-22 10:57] jrduscher opened #453 "[BUG] remontée users ( sur Firefox)"

[2019-01-22 12:31] jrduscher opened #454 "bug affichage du champ ( chrome)"
![image](https://user-images.githubusercontent.com/37538697/51534842-33ad0880-1e47-11e9-9724-21d1cf0f2f72.png)
affichage de la bordure du champ dans chrome. Selon le niveau de zoom, la bordure disparait: ce qui peut expliquer en partie certains retours de tests utilisateurs d'hier:
-> difficulté à trouve le champ de saisie
-> essayer d'effacer l'exemple dans le champ, pour saisir sa requête

[2019-01-22 13:14] revolunet commented on #454
navigateur ?

[2019-01-22 13:16] jrduscher commented on #454
CHROME, Version 71.0.3578.98 (Build officiel) (64 bits)

[2019-01-22 18:13] jrduscher opened #458 "pouces hauts / pouces bas UX"
suite au GT du 21/01
il apparaît que le système de pouces haut pouces bas n'est pas compris par l'usager( pas compréhensible, pas explicite).
Cela ne concerne pas à première vue le contenu de la modal qui suit l'appui sur le pouce bas.

[2019-01-23 16:28] #415 closed, assigned to nobody

[2019-01-23 17:19] #412 closed, assigned to nobody

[2019-01-23 17:20] lionelB commented on #413
closed by #437

[2019-01-23 17:20] #413 closed, assigned to nobody

[2019-01-24 15:34] lionelB commented on #330
idée = ajouté un poids lors de l'indexation par paragraphe

[2019-01-24 15:38] lionelB commented on #116
cas de test `temps de travail effectif`

[2019-01-24 16:04] jrduscher opened #462 "[ GT :suite] Fronts. Corrections"
Champ de saisie:
- difficulté à trouver le champ de saisie (pas visible).
-  l'exemple est trompeur, certains ont cherché à vouloir l'effacer.
(voir issue bug firefox #453 pour le reste)

Menu déroulant : filtre
- Le champ de filtres par type de sources n'est pas vu. par les users: UX?
- Une fois vue, l'option semble intéresser.

- la suggestion porte à confusion : UX?

[2019-01-24 16:11] jrduscher opened #463 "[GT suites] Corrections calculateur indé_lict"
## Wording à changer
- [x] Êtes-vous licencié pour inaptitude suite à accident du travail ou maladie professionnelle reconnue?
- [x] Faute grave: ajouter « ou lourde »
- [x] « Avez-vous alterné au cours de votre contrat de travail des périodes de travail à temps plein et à temps partiel sur le même contrat? »
- [x] Salaire N-1 : Le terme « N-1 » est confus et renverrais plus naturellement à la not

[2019-01-24 16:13] jrduscher opened #464 "[ GT suites] Suggestions: amélioratoin annuaire"
1)	Annuaires :
-	[x] CICAS: questions retraite complémentaire. Wording à ajouter.
-	[x] Ajouter le lien dans les numéros de téléphone : renvoi vers interface type Google Map ?
-	[x] Chambres consulaires : à faire descendre dans les propositions d'annuaires
-	[x] Ajouter de nouveaux contacts : comme les Maisons de la justice et du droit
-	[ ] L’utilisateur cherche à cliquer sur la tuile et attend u

[2019-01-24 16:20] jrduscher opened #465 "Séparer les pages Accueil / Recherche / Contenu"
Objectif : avoir 3 pages (donc 3 urls) différentes pour l'accueil, la recherche, le contenu afin d'être plus libre sur le design spécifique de chacune de ces pages et de pouvoir améliorer la lisibilité des urls (partage, référencement).

[2019-01-24 18:02] jrduscher commented on #435
Problématique UX.
[ ]  Le message en bout de course est il satisfaisant, niveau wording?
[ ] que pouvons mettre en place pour améliorer le parcours utilisateur sur ce point?

[2019-01-24 18:02] jrduscher commented on #435
erreur de manip

[2019-01-24 18:34] revolunet opened #467 "Annuaire: scrollTop on adress selection"
When user selects an annuaire suggestion in the pge footer, the results are displayed, but scroll is not reset so user is not aware of the results update. we should add something like `scrollTop=0`

[2019-01-25 08:17] jrduscher commented on #363
Il y a un doc: Me demander le modèle de récap. horaire.

[2019-01-25 08:25] jrduscher commented on #169
nouvelle passe: nécessite nouvelle extraction. mise au point sur les possibilités d’harmonisation, ce qui doit être fait niveau métier, ce qui peut être proposé niveau technique: prévoir un petit temps.

[2019-01-25 08:27] jrduscher commented on #299
@jeremiecook , on peut voir ça ensemble?

[2019-01-25 17:26] jrduscher opened #468 "[Bug?] affichage de trois résultats identiques à la suite"
![image](https://user-images.githubusercontent.com/37538697/51761957-b5629780-20ce-11e9-87d7-4c41954d204f.png)

un bug ou une réminiscence d'un problème déjà constaté?

[2019-01-28 10:44] jrduscher commented on #428
autre exemple du même type : https://codedutravail-dev.num.social.gouv.fr/question/je-souhaite-embaucher-des-salaries-pour-la-saison-quelles-sont-les-formalites-dembauche-a-accomplir?q=cout%20embauche&search=0

![image](https://user-images.githubusercontent.com/37538697/51831366-3cdc2080-22f2-11e9-91f7-4ebcf8177670.png)

[2019-01-28 14:40] revolunet opened #469 "Créer des slugs uniques pour chaque contenu"
mettre en place slug unique par contenu

probleme : en se basant uniquement sur le titre, cela génère des doublons dans les slugs

solution : ajouter un hash au slug, qui pourra se baser sur `source+tags`.

ex : `titre-article-format-slug-kaxjbd98`

Ceci permettra de cibler spécifiquement des contenus pour TU ou datasets

[2019-01-28 16:30] lionelB commented on #418
on ferme en faveur le script de test-unitaire #424

[2019-01-28 16:30] #418 closed, assigned to nobody

[2019-01-28 16:57] revolunet opened #471 "Gestion des erreurs"
Définir les messages d'erreurs à afficher
 - [ ] prévoir les cas ou l'API est down
 - [ ] prévoir les cas ou Elastic est down
 - [ ] définir les messages quand aucun résultat
 - [ ] ensure we always get errors sent to sentry
 - [ ] message quand connexion HS

[2019-01-28 17:25] #330 closed, assigned to nobody

[2019-01-28 17:25] #116 closed, assigned to nobody

[2019-01-28 17:25] #416 closed, assigned to nobody

[2019-01-29 10:23] #462 closed, assigned to nobody

[2019-01-29 11:01] jrduscher opened #474 "Le moteur de recherche ne fait pas apparaitre le calculateur"
Le calculateur n'apparaitpas dans les réponses possibles relatives aux paramètres de calcul particuliers qu'il embarque:

 inaptitude origine professionnelle temps plein temps partiel
ajouter dans la description du calculateur le smots clés en quetsion suffiraient?: histoire que ça matche un peu quand on tape des querys comme " inaptitude professionnelle ayant 18 ans [d'ancienneté]".

[2019-01-29 12:52] lionelB commented on #453
fixed by #466

[2019-01-29 12:52] #453 closed, assigned to revolunet

[2019-01-29 14:43] lionelB commented on #464
@jrduscher pour le dernier point on fait quoi ?

[2019-01-29 15:23] lionelB commented on #454
fixed by #472

[2019-01-29 15:23] #454 closed, assigned to nobody

[2019-01-29 17:18] jrduscher opened #480 "[GT suites] Corrections calculateur indé_lict 2ème volet."
specs needed sur l'ensemble des points; chaque point = une issue

## Modifications suggérées

- [ ]  Cumul temps plein/ temps partiel: dans une même période: pouvoir rentrer sur option le détail des mois de salaire

##	Améliorations suggérées
- [ ] Cumul temps plein/ temps partiel: dans une même période: pouvoir rentrer sur option le détail des mois de salaire
- [ ] Fiche aide comment calculer son

[2019-01-29 17:36] jrduscher opened #481 "[GT] Améliorations calculateur indé_lict, aide ancienneté"
Fiche aide comment calculer son ancienneté? aide explicatif générique+ ancienneté CCN.

[2019-01-29 17:39] jrduscher opened #482 "[GT] correction du calculateur d'indé_lict: Afficher les étapes restantes dans le parcours utilisateur;"
#463 #480

Afficher les étapes de saisie restante du calculateur pour faciliter la saisie des users.
no specs needed, UX mobilisable sur demande du dev.

[2019-01-29 17:43] jrduscher opened #483 "[GT suites] Corrections calculateur indé_lict : sélection période vide alt tps plein/partiel"
bug du calculateur:
 sur le formulaire de saisie des périodes d'Alternance temps plein, temps partiel: il est possible de créer une ou plusieurs périodes sans les remplir, sans que cela ne bloque l'avancée de l'users ( si ces périodes saisies ne sont pas remplies, le calcul et son résultat n'ont pas de sens)

[2019-01-29 17:52] jrduscher opened #484 "Annuaires: nouvelle passe enrichissement via annuaire sp-fr"
Integrer de nouveaux contacts.
par thème?

**santé sécurité et Conditions de travail**
- bureau d'aide aux victimes
- carsat
- CPAM
- CIDFF
- MDPH

- URSSAF

**Contentieux**
- conseil des prud'hommes
-Cour d'appel
- Tribunal adminsitratif.

**aide juridique**
-maison de justice et du droit
- DIRECCTE ( à défaut d'une granularité plus précise à venir)
- "permanence juridique" à explorer, je ne vois

[2019-01-30 10:26] #467 closed, assigned to nobody

[2019-01-30 10:31] #464 closed, assigned to nobody

[2019-01-30 10:50] revolunet commented on #416
comment gérer les photes d'orth/typos ?

ex :

paiment, paiement
salaire, salair

dans la version précédente, ces cas là marchaient un peu mieux:

ex "salair base" et "salaire base".

également on a plus de completion sur "calcul indemn..."

[2019-01-30 11:01] lionelB commented on #416
on s'est surtout concentré sur le search (et moins le suggest qui est une copie du search)
pour les typo, je pensais testé le scénario du suggester
- faire une requête vide avec la query pour récupérer les "suggestions de correction typo" (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html)
- faire la requête de search avec la suggestion

en testant le suggester

[2019-01-30 11:38] lionelB commented on #428
je ferme car on ne cherche plus dans les tags suite au modification faite dans elasticsearch
cf PR #461

[2019-01-30 11:38] #428 closed, assigned to nobody

[2019-01-30 16:01] lionelB commented on #80
est ce que ici le nlp pourrait pas nous aidé ? je suis tombé sur le cas
[je suis employé à domicile, est il obligatoire d'avoir un contrat de travail](https://codedutravail-dev.num.social.gouv.fr/?q=je%20suis%20employ%C3%A9%20%C3%A0%20domicile%2C%20est%20il%20obligatoire%20d%27avoir%20un%20contrat%20de%20travail) donne une résultat mais si on enlève "d'avoir" (=> [lien](https://codedutravail-dev.n

[2019-01-30 16:23] lionelB commented on #296
avec un boost sur un match_phrase la recherche  "chèque vacances" permettrait de mieux remonté par rapport au document ou les occurences "cheque" ou "vacance" apparaisse plusieurs fois sans être à coté.

[2019-01-30 16:41] lionelB commented on #296
J'ai fait le tour des expréssions, je pense qu'on est globalement très pertinant

cas bof à vérifier poke @jrduscher  (voir intégrer dans tests unitaires)
- poussières de bois
- évaluation des risques professionnels
- travail temporaire

[2019-01-30 16:50] lionelB commented on #142
est ce qu'on retaggerai pas cette issue pour les EIG (poke @mhavel )

[2019-01-30 16:56] lionelB commented on #198
suite aux modifications apportées à elastic search, les 2 recherches remontent désormais le meme [résultat](https://codedutravail-dev.num.social.gouv.fr/fiche-service-public/jours-feries-et-ponts-dans-le-secteur-prive?q=indemnit%C3%A9%20de%20licenciement%20m%C3%A9talurgie&search=0)

Les autres résultats ne remontent plus car ils ne matchent pas tout les mots de la recherche

je vais voir avec le c

[2019-01-30 17:32] #463 closed, assigned to nobody

[2019-01-31 09:50] lionelB commented on #316
fix by #479

[2019-01-31 09:50] #316 closed, assigned to nobody

[2019-01-31 09:59] lionelB commented on #435
Idée pour gérer le rebond

Si pas de réponse, -> analyse de la question avec du NLP pour identifier le theme (sur la base duquel on aura taggé les fiches annuaire) et proposer des structures à coté de chez elle.

[2019-01-31 10:00] lionelB commented on #435
Est ce que je POC un truc ?

[2019-01-31 11:31] #143 closed, assigned to lionelB

[2019-01-31 14:10] lionelB commented on #84
@jrduscher  on a une liste ?

[2019-01-31 14:17] revolunet commented on #435
🔥 🔥 🔥  ça mérite un petit PoC :)

[2019-01-31 14:40] jrduscher opened #490 "Evolution des modèles de lettre ajout explicatif"

[2019-01-31 15:12] jrduscher opened #491 "integration FAQ 250."

[2019-01-31 15:54] ClementChapalain opened #492 "Bug dans la navigation par thème dans le thème "Rupture de contrat""
Lorsque l'on navigue par thème à partir de la page d'accueil dans le thème "Rupture de contrat", l'accès aux sous-thèmes ne fonctionne pas, on arrive sur une page blanche puis sur une erreur 500 lorsqu'on recharge la page.
![image](https://user-images.githubusercontent.com/5337489/52066202-60b09800-2578-11e9-8673-036a9f179923.png)
![image](https://user-images.githubusercontent.com/5337489/52066380

[2019-01-31 16:00] jrduscher commented on #435
tu pourras faire un poc dans le sprint suivant

[2019-01-31 16:00] lionelB commented on #492
@ClementChapalain le problème à été fixé (https://github.com/SocialGouv/code-du-travail-numerique/pull/376), il faut qu'on déploie une version plus récente sur la prod. Bien vu!

- https://codedutravail-dev.num.social.gouv.fr/themes/rupture-de-contrat
- https://codedutravail-dev.num.social.gouv.fr/themes/rupture-de-contrat/la-demission

@revolunet est ce qu'on peut redéployé une version de prod

[2019-01-31 16:26] ClementChapalain commented on #492
la correction de bug la plus rapide du monde :)

[2019-01-31 16:34] #169 closed, assigned to revolunet

[2019-01-31 16:51] #429 closed, assigned to lionelB

[2019-01-31 16:55] lionelB commented on #386
I close it, ci will change soon

[2019-01-31 16:55] #386 closed, assigned to douglasduteil

[2019-01-31 16:56] lionelB commented on #374
closed by #404

[2019-01-31 16:56] #374 closed, assigned to nobody

[2019-01-31 16:58] lionelB commented on #331
est ce qu'on devrait pas déplacer cette issue sur le projet kali poke @adipasquale

[2019-01-31 16:59] lionelB commented on #469
related to #280

[2019-01-31 17:21] jrduscher opened #493 "Mise à jour des fiches service-public.fr"
Notamment le SMIC n'est plus à jour

@jrduscher doit redonner une liste à jour des thèmes liés au droit du travail pour faire une mise à jour globale avec toutes les fiches qui nous interessent

[2019-01-31 17:23] douglasduteil commented on #374
Closed by 404 haha

[2019-01-31 17:35] lionelB commented on #458
- ajouter une affordance bouton sur les pouces
- faire remonter la query dans event value

[2019-01-31 17:40] lionelB commented on #299
Idée: ajouter un lien dans le message affiché qui permet de relancer la recherche sans le filtres "facet"

[2019-01-31 18:36] jrduscher commented on #280
@lionelB lionelB referenced this issue 2 hours ago
 Open
data: slugs uniques #469

[2019-01-31 18:36] #280 closed, assigned to nobody

[2019-01-31 18:53] jrduscher commented on #84
Le tableur en l'état n'apporte pas grand chose à l'user:
Les adresses ne sont pas formatées "BAN" ne sont pas exploitables en l'état.
Le zonage est absent: l'user pourrait au mieux se retrouver avec une liste des UC de son département. ( dans le pire des 4 cas)

[2019-01-31 18:53] #84 closed, assigned to lionelB

[2019-01-31 19:02] jrduscher opened #494 "Annuaire: integrer la compétence territoriale des organismes"
voir PDF sur data.gouv.fr https://www.data.gouv.fr/fr/datasets/service-public-fr-annuaire-de-l-administration-base-de-donnees-locales/#_

Le pdf renseigne les compétences géographiques des organismes.
Ajouter cette donnée pour chaque type d’organisme indexés à l'annuaire
Tenir compte de la compétence géographique dans la requete user:
ne renseigner que le ou les organismes du département quand le

[2019-02-01 10:23] jrduscher opened #495 "Ajouter des liens directs vers les outils et modèles"
## Retour utilisateur :

## Proposition d'intégration

On peut tenter un truc comme ça en première approximation pour mettre en avant nos outils :

![image](https://user-images.githubusercontent.com/5337489/52729840-4637df00-2fba-11e9-8258-6e31296147ce.png)

## Détails

outils à intégrer dans cette liste :

**calculateur d'indemnités de licenciements**
- icône du bloc : on peut reprendre celle de

[2019-02-01 10:44] jrduscher opened #496 "Remontées users dans le piwik"
- Step1: pusher en prod la fonctionnalité configurée dans piwik sur la version dév!
- Step 2 : possibilités pour thumbs up /thumbs down de pouvoir connaitre dans le piwik: dans les différents scénario ( si up ou down donc): la requête user, et le lien vers le contenu de la page réponse qui a suscité la réaction.

(Des modifications peuvent etre apporté à la fonctionnalité côté user ( une issue à c

[2019-02-01 10:46] jrduscher commented on #409
@lionelB je te rajoute les données sous la fomre d'une FAQ à ce sujet(faq.json). A voir si tu veux expérimenter avec une idée de "réponse directe"
https://github.com/SocialGouv/code-du-travail-numerique/blob/jrduscher-patch-8/packages/code-du-travail-data/dataset/faq.json

[2019-02-01 11:45] jrduscher commented on #62
Articulation accord de branche et d'entreprise:
**Bloc1** L2253-1: Convention collectives et accords de branche > accords d'éts, d'entreprise ou de groupe; sauf "garanties au moins équivalentes". La DGT confirme la primauté des CCN dans le sens du texte et va au delà en sacralisant parmi ces thèmes ceux où l’accord d’entreprise ne peut pas intervenir:

"1° Les salaires minima hiérarchiques ;": [ p

[2019-02-01 16:15] jrduscher opened #498 "[Bug ES] rechercher un article du code du travail par son code/ format de saisie/pertinence"
test L. 1242-8.
- L1242-8 : pas de réponse
- L.1242-8: L'article correspondant ne matche pas.
- L 1242-8 : pas de réponse

Résultat attendu https://codedutravail-dev.num.social.gouv.fr/code-du-travail/article-l1242-8?q=La%20dur%C3%A9e%20totale%20du%20contrat%20%C3%A0%20dur%C3%A9e%20d%C3%A9termin%C3%A9e&search=0

[2019-02-01 16:19] lionelB commented on #498
effectivement, pour l'instant on ne cherche que dans le texte et pas ~plus~ dans le titre, ce qui fait qu'on ne remonte aucun article
Fix: remplacer le `match {text { query }}` par un multimatch text/title

[2019-02-01 16:24] revolunet commented on #498
nb: ca marchait avait le retrait du fuzzy

[2019-02-01 16:27] lionelB commented on #498
oui ce que je voulais dire c'est que çà correspondait au modifs qu'on a fait sur ES. Il faudrait rajouter un cas dans les TU

[2019-02-01 16:34] jrduscher opened #499 "Affichage des notes des articles du CDT"
https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000035643967&cidTexte=LEGITEXT000006072050

https://code.travail.gouv.fr/code-du-travail/l1242-8?q=L1242-8

La partie "Note" n'est pas le texte en lui même,ce contenu additionnel aussi important soit-il por l'usager doit être différencié du corps de l'article. ( mise en italique, cadre à part et en dessous dans le cadre de artic

[2019-02-04 11:08] ClementChapalain commented on #5
relatif aux accords d'entreprise, si j'ai bien compris pas dans le scope 1.1.2020 a priori donc je me permets de fermer et de commencer une page dans le wiki :
https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BProduit%5D%C2%A0%5BAE%5D-Liste-des-ressources

[2019-02-04 11:08] #5 closed, assigned to nobody

[2019-02-04 11:12] ClementChapalain commented on #19
@jrduscher j'ai l'impression que cette issue est relative à l'ancienne version du produit avec le choix de filtres qu'on imposait à l'utilisateur, est-ce que c'est bien ça ?

Si oui est-ce que le contenu du tableau pourra potentiellement nous être utile encore ? Si oui je vais le déplacer dans le wiki

[2019-02-04 11:15] jrduscher commented on #19
il s'est passé un certain nombre de choses en matière de filtres depuis... dont ce que tu évoques. Pour autant, vu le sujet évoqué, ce truc là pourrait encore servir si on se souvient qu'il existe...

[2019-02-04 11:31] ClementChapalain commented on #41
Pas dans le scope actuel, en phase d'exploration / conception donc je me permets de fermer cette issue, le contenu ayant été déplacé dans le wiki : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BProduit%5D-%5BJurisprudence%5D

[2019-02-04 11:31] #41 closed, assigned to nobody

[2019-02-04 13:27] ClementChapalain commented on #19
ok merci ! je déplace le contenu dans la rubrique générale sur le droit du travail ici :
https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BDroit-du-travail%5D%C2%A0Organisation-de-la-dur%C3%A9e-du-travail

[2019-02-04 13:27] #19 closed, assigned to nobody

[2019-02-04 13:43] ClementChapalain commented on #50
est-ce que tu pourrais détailler stp @jrduscher ? quel est le problème / besoin auquel on doit répondre ici ?

[2019-02-04 13:58] ClementChapalain commented on #51
repris ici car ce ticket représente une nouvelle fonctionnalité ou un nouvel outil trop gros pour être détaillé en 1 seul ticket github : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BOutils%5D-P%C3%A9riode-d'essai

[2019-02-04 13:58] #51 closed, assigned to nobody

[2019-02-04 14:04] ClementChapalain commented on #59
@jrduscher est-ce cette tâche est prête à être développée ou a-t-on besoin de plus de détails ?

[2019-02-04 14:25] ClementChapalain commented on #62
Tout le contenu est disponible ici : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BProduit%5D-%5BHi%C3%A9rarchie-des-normes%5D-Articulation-des-sources

Je ferme car il faudra a priori redécouper le sujet.

[2019-02-04 14:25] #62 closed, assigned to nobody

[2019-02-04 14:40] ClementChapalain commented on #64
J'ai commencé une liste des tests unitaires en reprenant le contenu de cette issue :
https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BProduit%5D-%5BRecherche%5D-Tests-unitaires

À retravailler avant de mettre en dev je pense.

[2019-02-04 14:40] #64 closed, assigned to nobody

[2019-02-04 15:07] ClementChapalain commented on #65
C'est un gros projet je mets tout le contenu dans le wiki et on pourra détailler les tickets plus tard !

[2019-02-04 15:07] #65 closed, assigned to nobody

[2019-02-04 15:15] jeremiecook commented on #458
Deux remarques : Il y avait sur les wireframes un infobulle au survol de ces deux boutons pour indiquer le sens de l'action. Ce serait surement plus clair pour les usagers (ne pas oublier que sur mobile on n'a pas de survol, donc il faudrait imaginer une présentation différente)
Le curseur ne change pas lorsque passe sur ces boutons, donc il n'est pas très clair qu'ils sont cliquables.

[2019-02-04 15:21] lionelB commented on #64
@ClementChapalain je pense que toutes les issues type "test unitaire" devrait, à terme, être ajouter au spreadsheet. J'ai crée une feuille "à valider" pour recueillir ces tests qu'il faudra ensuite qualifié avec les résultats attendus, identifiés par @jrduscher

[2019-02-05 09:53] ClementChapalain commented on #64
Ah oui merci ! Je n'étais pas au courant de ce fichier, Julien me l'a envoyé hier du coup :) Je le remets là pour référence : https://docs.google.com/spreadsheets/d/1o6hf-Tm3rb5qMXRBId3aGuSt9tNalvxMsOkrbkHSbB4/edit#gid=0

[2019-02-05 14:44] jrduscher opened #502 "Bulletin de salaire: outil"
rappels et visuels autour le fiche de paie: mentions. à creuser.

[2019-02-06 15:46] #363 closed, assigned to nobody

[2019-02-06 16:33] ClementChapalain commented on #66
Repris ici : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BOutils%5D%C2%A0%5BD%C3%A9lai-licenciement%5D-G%C3%A9n%C3%A9ral

Je ferme car pas de specs produit dans cette tâche.

[2019-02-06 16:33] #66 closed, assigned to nobody

[2019-02-06 16:37] ClementChapalain commented on #68
Pas des specs produit, je garde le contenu dans le wiki ici : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BDroit-du-travail%5D-Liste-des-organismes-pouvant-fournir-du-contenu

[2019-02-06 16:37] #68 closed, assigned to nobody

[2019-02-06 16:48] ClementChapalain commented on #79
Tu entends quoi par "metas" @revolunet ?

[2019-02-06 17:57] lionelB commented on #79
j'imagine les meta github cards / facebook opengraph ?
pour que ça s'affiche bien quand tu partages un lien sur twitter / facebook

[2019-02-06 18:15] revolunet commented on #79
Oui et les balises classiques type titre/description

[2019-02-07 09:57] jrduscher opened #508 "Nouvel outil : calculateur de rémunération"
récap des majoration
- heures supplémentaires
- travail de nuit
- travail du dimanche

[2019-02-07 10:09] jrduscher opened #509 "Suggestion de résultats au fil de la saisie: modifications à envisager"
* L'usager qui voit les suggestions, ne repart pas sur la page résultat:
  1) la requête n’apparaît pas dans piwik
  2) les propositions sont similaires
  3)  la boite reste affichée

* l'outil de suggestion affiche les mêmes résultats que la page de résultats
* l'outil de suggestion shunte la page de résultats
*l'utilisateur peut ne pas voir le résultat

**need atelier équipe projet.**

[2019-02-07 14:21] #299 closed, assigned to nobody

[2019-02-07 16:00] ClementChapalain commented on #494
Besoin de prioriser entre les différents organismes et de revoir le design de l'annuaire avant. Vérifier la mise à jour de ce fichier également, pour ne pas avoir à le faire régulièrement (API ?).

[2019-02-07 16:02] ClementChapalain commented on #493
Les fiches SP ne sont plus à jour ou notre scrap n'est plus à jour ?

[2019-02-07 16:03] ClementChapalain commented on #492
j'ai l'impression que ce truc date de mi-décembre c'est ça (cf. la date de la PR) ? il y a un truc qui bloque la mise en prod de la version de dev ? si vous avez besoin de recette hésitez pas :)

[2019-02-07 16:05] ClementChapalain commented on #484
Besoin de :
1. prioriser les contacts à intégrer
2. revoir l'ux en fonction du nombre de résultats et des infos à afficher
3. récupérer la liste des contacts

[2019-02-07 16:11] lionelB commented on #493
les données (un jeux de fichiers xml) provienent de data.gouv, le workflow est manuel
- récupération du dataset
- export / génération des données au format json
- import dans ES

[2019-02-07 16:11] lionelB commented on #493
donc il faudrait mettre à jour le jeux de données

[2019-02-07 16:12] lionelB commented on #494
je ne pense pas qu'une api qui décrivent les compétences géographique existent  car elles n'évolue pas dans le temps

[2019-02-07 16:12] ClementChapalain commented on #465
besoin d'une maquette pour préciser les specs ici

[2019-02-07 16:13] lionelB commented on #492
je relance julien pour le déploiement sur le serveur "prod"

[2019-02-07 16:15] ClementChapalain commented on #502
pas une tâche aujourd'hui, il faut le noter autre part, je mets une page vide dans le wiki pour l'instant.

[2019-02-07 16:15] #502 closed, assigned to nobody

[2019-02-07 16:17] ClementChapalain commented on #493
ok merci pour les explications !

[2019-02-07 16:21] jrduscher commented on #502
https://trello.com/c/iBUYPFx5/350-fiche-comprendre-son-bulletin-de-salaire

[2019-02-07 16:42] lionelB commented on #465
pour ajouter un peu plus d'info
pour l'instant l'affichage du composant de rechercher et des resultats sont un meme composant qu'on inclus dans les pages ce qui fait qu'il n'y a pas de page resultat de recherche à proprement parlé.
L'idée et donc d'avoir une page dédiées à l'affichage des résultats avec un header moins volumineux dans lequel on aurait le champ de recherche
ce header serait celui q

[2019-02-07 16:58] ClementChapalain commented on #465
ok je comprends mieux merci, je pense que ça pourrait coïncider avec le travail qu'on veut faire sur l'affichage des résultats en temps réel lorsqu'on tape une question et qui perturbe l'utilisateur (cf. tests de ce matin).

on peut se prévoir un moment pour discuter de ça tous ensemble ? j'ai noté que tu étais à paris la semaine prochaine, on peut dire jeudi matin ? ce sera plus simple si on est

[2019-02-07 17:03] lionelB commented on #465
Ce que tu décris correspond à un autre "chantier". Actuellement, lorsqu'on tape une requete, on présente des suggestions de résultats. On souhaiterai plutôt présenter des suggestions de requetes.
c'est en lien avec le travail réalisé par Onogone.

[2019-02-07 17:12] ClementChapalain commented on #465
ok désolé si c'est pas encore hyper clair pour moi :) et du coup on est prêt pour intégrer des suggestions de requetes dans le moteur de recherche ou il faut encore qu'on attende qqchose de la part d'onogone ?

[2019-02-07 17:15] lionelB commented on #465
Pas de soucis, c'est normal. Pour le travail d'onogone, je ne pense pas qu'on puisse l'intégrer encore car li faudrait commencer par créer une base de suggestion mais ca pourrait faire l'objet d'un POC pour tester le principe

[2019-02-07 17:34] lionelB opened #512 "supprimer le lien navigation par themes dans le footer"
ce lien pointait vers l'ancienne version du code du travail numérique sur https://code-du-travail.beta.gouv.fr/
Cette URL pointe désormais vers la prod, le lien n'a plus d'utilité.

[2019-02-08 09:49] jrduscher commented on #508
je la passe dans trello: https://trello.com/c/DiYyj8J9/351-outil-r%C3%A9mun%C3%A9ration

[2019-02-08 10:38] jrduscher opened #513 "Wording page d'accueil: vers un à propos"
supprimer le wording: page d'accueil. mettre le tout dans un à propos dans le footer à la place de l'ancienne version

[2019-02-08 10:51] jrduscher commented on #496
close:  voir #458. done in  PR #501

[2019-02-08 16:00] jrduscher opened #515 "Modèles de courrier"
Integration de 5 modèles de courriers suggérés en openlab sur la base des modèles de courriers précdemment intégrés: ci après intitulés, wordng et ficher docx correspondant ( sur demande)

titre:**- Modèle de courrier :contestation du solde de tout compte incomplet,**
-  préambule à intégrer:  "**Le solde de tout compte** fait l’inventaire des sommes dues au salariés à la rupture du contrat de tra

[2019-02-08 17:11] lionelB commented on #430
closed by #488

[2019-02-08 17:11] #430 closed, assigned to nobody

[2019-02-11 18:15] lionelB commented on #483
fixed by  #486

[2019-02-11 18:15] #483 closed, assigned to nobody

[2019-02-11 18:16] #513 closed, assigned to nobody

[2019-02-12 08:21] #458 closed, assigned to nobody

[2019-02-12 09:11] ClementChapalain commented on #40
D'après ce que j'ai vu, la distinction +/- de 11 salariés n'est pas prise en compte dans l'outil actuel, du coup cette tâche est bien toujours d'actualité ?

[2019-02-12 09:22] ClementChapalain commented on #40
Après discussion avec @jrduscher en fait ici on parle de la barémisation des indemnités prud'homales en cas de licenciement sans cause réelle ni sérieuse (CRS) prononcée par un juge. Donc pas la même chose que notre outil actuel de calcul d'indemnité de licenciement. Je déplace le tableau avec les infos ici :
https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BDroit-du-travail%5D

[2019-02-12 09:22] #40 closed, assigned to nobody

[2019-02-12 09:25] ClementChapalain commented on #49
via @adipasquale :

j’ai rapidement étudié ce CSV de 800MB+ et 1M700+ lignes
voici quelques analyses rapides :

[2019-02-12 09:38] ClementChapalain commented on #81
Je ne l'ai pas trouvé sur le site, est-ce que ces documents ont été intégrés ?

Pour info en regardant juste les 10 premiers lien j'ai eu 3 404, du coup il faut se poser la question de la validité de ces infos (+ sachant que ces conseillers sont renouvelés tous les 3 ans). Un lien vers le site du département qui héberge ce document serait p-e mieux.

[2019-02-12 09:41] jrduscher commented on #81
Problème identifié et connu; déjà abordé avec la hieraarchie locale.Cela va supposer de l’organisationnel avec les services déconcentrés des DIRECCTE. Pour faire simple, dans chaque Direccte une personne est en charge de mettre à jour le fichier, il n'y a pas non plus de normes de nommages des fichiers, ni d'aliasage qui permettrait d'éviter le 404. Chaque fichier est hébergé dans une direccte.

[2019-02-12 09:44] ClementChapalain commented on #85
Cette tâche est encore pertinente ou tout est stocké dans :
https://docs.google.com/spreadsheets/d/1o6hf-Tm3rb5qMXRBId3aGuSt9tNalvxMsOkrbkHSbB4/edit#gid=0 ?

[2019-02-12 09:47] ClementChapalain commented on #86
géré dans #513

[2019-02-12 09:47] #86 closed, assigned to nobody

[2019-02-12 09:53] #89 closed, assigned to nobody

[2019-02-12 09:57] ClementChapalain commented on #90
Pourrait p-e faire l'objet d'un outil dédié : "quelles sont les sanctions prévues pour telle infraction ?"

[2019-02-12 09:59] ClementChapalain commented on #101
traité dans #458

[2019-02-12 09:59] #101 closed, assigned to nobody

[2019-02-12 10:00] ClementChapalain commented on #104
C'est ok ça non @jrduscher @revolunet ?

[2019-02-12 10:02] ClementChapalain commented on #109
traité dans #513

[2019-02-12 10:02] #109 closed, assigned to nobody

[2019-02-12 10:05] ClementChapalain commented on #110
on peut fermer @revolunet ?

[2019-02-12 10:05] lionelB commented on #85
J'ai transféré la plupart des questions vers le spreadsheet (onglet `à valider` , mais il reste à compléter les résultats attendus ping @jrduscher

[2019-02-12 10:07] ClementChapalain commented on #111
est-ce que ça pourrait être traité par #70 @jrduscher ?

[2019-02-12 10:08] lionelB commented on #104
yep !

[2019-02-12 10:08] #104 closed, assigned to revolunet

[2019-02-12 10:19] ClementChapalain commented on #118
repris ici : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BOutils%5D-%5BCalculateur-pr%C3%A9avis%5D

[2019-02-12 10:19] #118 closed, assigned to nobody

[2019-02-12 10:23] ClementChapalain commented on #124
déjà traité

[2019-02-12 10:23] #124 closed, assigned to nobody

[2019-02-12 10:31] ClementChapalain commented on #129
repris ici : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BOutil%5D-%5BCalculateur-d'indemnit%C3%A9s-retraite%5D

[2019-02-12 10:31] #129 closed, assigned to nobody

[2019-02-12 11:00] ClementChapalain commented on #134
cf. la discussion qu'on a eu la semaine dernière, globalement il y a deux choses :
- récupérer du feedback sur le produit : est-ce que notre produit est utilisable ? est-ce que tout le contenu est facilement accessible ? etc.
- récupérer du feedback sur le contenu : est-ce le contenu est correct et à jour ?

[2019-02-12 11:12] lionelB commented on #134
ici le feedback allusion au retour utilisateur (fonctionnalité pouce Haut / Bas)
Pour l'instant on ne stocke pas l'information pouces haut / bas autrement que sur le piwik.
A terme, il pourrait être utile de remonter cette info pour pouvoir l'intégrer au calcul de la note de pertinence lors d'une recherche

[2019-02-12 11:27] ClementChapalain commented on #104
🙌

[2019-02-12 11:33] ClementChapalain commented on #142
Est-ce que l'objectif est bien d'intégrer [ce contenu](https://github.com/SocialGouv/code-du-travail-numerique/tree/master/packages/code-du-travail-data/dataset/thesaurus) dans le moteur de recherche et faire en sorte que ce soir pertinent ?

[2019-02-12 12:08] lionelB commented on #142
oui

[2019-02-12 13:15] ClementChapalain commented on #146
Cette tâche n'est pas vraiment actionnable, j'ai mis le contenu proposé par Jean-René dans le wiki sur le droit du travail : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BDroit-du-travail%5D-Qualification-d'une-question

[2019-02-12 13:15] #146 closed, assigned to nobody

[2019-02-12 13:22] ClementChapalain commented on #154
quelques idées en brèche pour aller au plus simple sur ce un sujet comme ça :
- configurer ES pour qu'une recherche avec un thème qui appartient à la blacklist ("contrat doctoral", "fonction publique", etc.) renvoie vers un disclaimer avec potentiellement les résultats classiques également
- mettre une page d'explications dans le footer ou dans la page à propos pour donner le cadre du code du trav