[2020-03-26 17:46] virginielastisneres opened #2538 "Sélection de la CC dans le moteur de recherche des CCs"
### Problème
Il nous a été remonté que lors de la sélection de la CC dans le moteur de recherche des CCs, l'encart de la CC sélectionnée en rouge avec une croix en rouge ca fait penser à une erreur et non pas une sélection.
Cette remarque est juste d'autant plus que ce n'est pas censé être une action primaire (couleur rouge) mais une action secondaire plutôt (couleur bleu).
![image](https://user-i

[2020-03-26 17:50] virginielastisneres opened #2539 "Le moteur de recherche des CCs ne fonctionnent plus avec les noms et mal avec le siret"
### Problème 1
Je suis sur chrome sur mon mac et la recherche des CCs par nom d'entreprise ne fonctionne pas (cf. image). Cela ne fonctionne pas non plus sur IE11 ou sur Firefox.
![Capture d’écran 2020-03-26 à 18 49 59](https://user-images.githubusercontent.com/48682104/77679406-ca68de00-6f92-11ea-83f8-545fdf197fec.png)

### Problème 2
Je cherche par SIRET l'entreprise AREAS SERVICES. Je trouve

[2020-03-27 11:05] #2450 closed, assigned to UnbearableBear

[2020-03-27 11:06] UnbearableBear commented on #2450
@mquandalle Merci pour le tips, le correctif a été fait, ça ne devrait plus déborder à la prochaine mise en production (dans la journée) !

[2020-03-30 07:46] virginielastisneres commented on #2482
@revolunet @lionelB avant l'urgence du coronavirus, vous en étiez où au niveau de cette tâche ?
mercii :)

[2020-03-30 07:50] revolunet commented on #2482
Toujours au même point sauf que c'est maintenant a priori utilisable (plus de pb de perf)

[2020-03-30 08:02] virginielastisneres commented on #2482
Il vous reste d'autres tests du coup julien à faire pour tester la faisabilité si la perf est bonne ?

[2020-03-30 08:10] virginielastisneres opened #2543 "Amélioration de la page Thème"
### Problème
Voici une page thème aujourd'hui :

![image](https://user-images.githubusercontent.com/48682104/77888117-07bbbd00-726c-11ea-99a0-615e398480b6.png)

Cette page n'est pas très claire, les sous thèmes sont tellement gros que l'on pourrait ne pas voir qu'il y a du contenu proposé. Elle fait un peu négligée par rapport aux autres pages du site. Il manque du contenu.

### Solution pour tout

[2020-03-30 08:12] virginielastisneres commented on #2422
@UnbearableBear pourrais-tu me dire à combien de tests tu es actuellement ?

[2020-03-30 08:33] UnbearableBear commented on #2422
Je suis sur le 5eme qui teste le calculateur d'indemnité (sachant qui'l y a un autre test qui couvre 6-7 pages), je ne sais pas trop si le chiffre est significatif mais j'avance, quand je peux !

[2020-03-30 10:48] virginielastisneres opened #2544 "Amélioration de la page de tous les thèmes et de tous les outils"
Aujourd'hui les 2 pages voir tous les outils et voir tous les thèmes sont affichées ainsi

![image](https://user-images.githubusercontent.com/48682104/77904207-74db4c80-7284-11ea-8ab7-54baa2ba362e.png)
![image](https://user-images.githubusercontent.com/48682104/77904241-84f32c00-7284-11ea-9e0a-d4d5a6918c95.png)

Il faudrait mettre sur une ligne unique 3 tuiles comme cela est dans la maquette. Cela

[2020-03-30 10:55] virginielastisneres commented on #2422
D'acc, j'ai pas mis cette issue au prochain sprint car nous avons déjà fait une première création de tests. Tu pourras finir celui de l'outil de licenciement déjà entamé dans ce sprint. Suite à l'utilisation des tests déjà effectués nous pourrons par la suite faire les autres et surement les améliorer après analyse des premiers tests créés.

[2020-03-30 12:08] virginielastisneres commented on #1849
@lionelB :) pourrais-tu me dire où tu en es concernant les données du datafiller avec les fiches SP et MT ?
merciii :)

[2020-03-30 13:03] virginielastisneres commented on #2539
Siret2idcc cassé @revolunet :) (merci lionel)

[2020-03-30 13:33] revolunet commented on #2539
sniff sniff... c'est corrigé

et j'ai ajouté une alerte sur le [monitorer](https://socialgouv-monitor.herokuapp.com) pour être alerté la prochaine fois !!

[2020-03-30 14:02] virginielastisneres commented on #2539
mercii julien :)

[2020-03-30 16:45] lionelB commented on #1849
c'est fait :)

[2020-03-30 16:59] virginielastisneres commented on #1849
:O ohlalala :)
Du coup les prochaines étapes (avoir un job séparé ?) j'essaye de me rappeler ce que tu as dis je sais qu'il y a une histoire de job mais je dis peut être des bêtises...

[2020-03-30 17:29] lionelB commented on #1849
c'est ça, prochaine étape  le pipeline de mise à jour des données :)

[2020-03-31 12:35] virginielastisneres opened #2548 "Bug dans la fiche MT sur les QR liées au coronavirus"
### Problème
La fiche MT sur les QR liées au coronavirus s'affiche mal en prod => https://code.travail.gouv.fr/fiche-ministere-travail/coronavirus-questions-reponses-pour-les-entreprises-et-les-salaries?q=je%20suis%20salari%C3%A9%20coronavirus
Nous n'avons plus le split de la fiche ni les accordéons "je suis salarié" et "je suis employeur"
![image](https://user-images.githubusercontent.com/4868210

[2020-03-31 12:42] virginielastisneres opened #2549 "Modifier le libellé des références juridiques avec la mise à jour des contrib"
### Problème
Nous avons voulu hier lors de la mise en prod mettre à jour les contributions.
Malheureusement nous nous sommes rendus compte que l'affichage des références juridiques présentes dnas les contributions que cela soit dans les contributions elle même ou dans la page CC ne s'affiche pas bien.
En effet, nous avons le lien Kali qui s'affiche au lieu du nom exact de la référence.
![image](ht

[2020-03-31 13:50] rmelisson opened #2550 "Permettre à l'utilisateur préciser son feedback"
Lorsque l'utilisateur fait un retour sur son utilisation (surtout dans le cas des retours négatifs), il devrait pouvoir laisser un commentaire afin de décrire le problème rencontré, c'est une source précieuse d'information.

La fonctionnalité a été retirée en place il y a qqs mois, peut-être pour une bonne raison que j'ignore ? ;)

[2020-03-31 13:57] UnbearableBear commented on #2550
Je crois que c'est principalement parce que tous les commentaires remontés étaient des questions sur le droit du travail @ClementChapalain tu confirmes ?

[2020-03-31 15:16] #2548 closed, assigned to UnbearableBear

[2020-04-01 06:36] nkrmr opened #2552 "Fonctionnement des tooltip du glossaire en mobile"
**Description**
Les tooltips du glossaire ne fonctionne pas comme il faudrait en mobile ils s'affichent de façon aléatoire.

**Reproduction**
Étapes à suivre pour reproduire le bug
1. Se rendre sur une fiche **https://code.travail.gouv.fr/fiche-ministere-travail/le-salaire-fixation-et-paiement?q=Salaire#Comment-est-fixe-le-salaire-de-base** par exemple avec son téléphone.
2. Cliquer sur les défini

[2020-04-01 08:02] rmelisson commented on #2262
[cdtn-logs-march20.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/4413651/cdtn-logs-march20.pdf)

[2020-04-01 08:02] #2262 closed, assigned to rmelisson

[2020-04-01 08:30] revolunet commented on #2539
je pense qu'on peut close cette issue

[2020-04-01 08:44] revolunet commented on #210
Une première modif serait de déjà afficher l'arborescence des sections

Dans un second temps, rendre les sections clicables. ce qui veut dire créer une nouvelle page "section" qui présenterait la liste de sous sections et articles associés avec les liens internes.

autre possibilité : le clic sur une section renvoie vers legifrance mais je trouve ca déroutant pour l'utilisateur

[2020-04-01 08:50] ClementChapalain commented on #2550
oui 2 raisons principales à cela :
- beaucoup de retours concernaient des questions de droit du travail
- trop de retours en langage naturel qui étaient difficiles à analyser

mais je ne suis pas opposé à remettre la fonctionnalité, il faut juste qu'on réfléchisse à l'ux du truc c'est pas si évident que ça pour moi.

@rmelisson qu'est ce qui serait le plus intéressant pour toi ? je vois différents

[2020-04-01 09:55] virginielastisneres commented on #2539
complément d'accord avec toi @revolunet :)

[2020-04-01 09:55] #2539 closed, assigned to revolunet

[2020-04-01 10:40] rmelisson commented on #2263
@virginielastisneres  Mise à jour des entrées à modifier dans le datafiller :
https://hackmd.io/s/HJy8C1fP8

[2020-04-01 10:45] revolunet commented on #2263
dites moi si besoin d'en intégrer automatiquement

[2020-04-01 11:56] #2538 closed, assigned to revolunet

[2020-04-01 12:37] rmelisson commented on #2550
Oui il faut être suffisamment clair sur le wording en précisant bien que ça concerne uniquement le site et que ça n'appelle pas de réponse de notre part.

Pour les retours en language naturel, c'est l'occasion d'essayer de les analyser automatiquement. En tout cas mon point de vue c'est plutôt : si les gens veulent nous envoyer des commentaires on prend, d'autant plus que c'est sans obligation de

[2020-04-01 13:07] rmelisson opened #2557 "Elastic logs : Ingester"

[2020-04-01 13:07] rmelisson opened #2558 "Elastic logs : instance on Elastic cloud"

[2020-04-01 13:08] rmelisson opened #2559 "Elastic logs : init query lib"

[2020-04-01 13:08] rmelisson opened #2560 "Elastic logs : init Kibana dashboard"

[2020-04-01 13:09] #2480 closed, assigned to rmelisson

[2020-04-02 15:58] lionelB opened #2562 "Page CC - lien vers la réponse complete"
le lien vers la réponse complete trigger un reload complet de la page (un plus d'une 404)
getContributionUrl doit renvoyer sur  [slug] / avec un param as

[2020-04-03 09:46] virginielastisneres commented on #210
Alors oui au vu de ce je remarque dans les parcours sur les articles c'est que les gens navigue un peu par article mais pas trop trop.
Je pense que nous verrons après pour le second temps et la section cliquable, des entretiens utilisateurs pourront nous être utiles je pense :)

[2020-04-03 13:20] #2533 closed, assigned to revolunet

[2020-04-03 15:46] revolunet commented on #2558
est-ce qu'on a les "specs" souhaitées ? volume disque, qté RAM ?

<img width="1184" alt="Capture d’écran 2020-04-03 à 17 46 02" src="https://user-images.githubusercontent.com/124937/78379661-058e9100-75d3-11ea-899d-4aca100ae612.png">

[2020-04-03 16:13] lionelB opened #2571 "replace @cdt/data...datafiller with @socialgouv/datafiller-data"
afin de pouvoir mettre à jour les donnée en prod via un pipeline dédié,
il faut que les données du datafiller soit mise à jour automatiquement

[2020-04-06 07:55] rmelisson commented on #2558
Nan le support était pas du tout clair, mais ça serait bien de configurer ça ensemble aujourd'hui si possible pour toi.

[2020-04-06 09:23] rmelisson commented on #2558
elastic: https://804b8d99b80941e2a99f551cd481fb5b.westeurope.azure.elastic-cloud.com:9243
kibana : https://0889393a3e19455c9336114c781fb1c0.westeurope.azure.elastic-cloud.com:9243

[2020-04-06 09:29] nkrmr opened #2576 "Retirer le bandeau dossier Coronavirus de l'impression des pages"
**Description**
Retirer le bandeau dossier Coronavirus de l'impression des  pages

**Reproduction**
Imprimer n'importe quelle page du site

**Screenshots**
<img width="462" alt="Screenshot 2020-04-06 at 11 26 15" src="https://user-images.githubusercontent.com/686395/78543910-a5c5ff00-77f9-11ea-9846-01660379906e.png">

[2020-04-06 13:10] virginielastisneres opened #2578 "Ajout outil externe"
Un simulateur pour calculer l'activité partielle à jour des derniers changements a été mis en ligne sur le site du ministère du travail. Il nous faut récupérer cet outil pour le mettre dans nos outils externes et l'indexer dans notre moteur de recherche.

### Présentation de l'oOutil externe

Titre : Simulateur d’activité partielle
Description : Estimez simplement le montant de l'allocation d'acti

[2020-04-06 17:18] virginielastisneres opened #2581 "Meta Title et Meta description : dossier coronavirus"
Pour le dossier Coronavirus (https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus) voici notre méta title et méta description actuelles :

![Capture d’écran 2020-04-06 à 19 16 25](https://user-images.githubusercontent.com/48682104/78586051-22c59880-783b-11ea-9dee-928e0c595973.png)

### Meta title

Il faut rajouter une majuscule à "notre".

### Meta descript

[2020-04-06 18:47] UnbearableBear commented on #2581
done !

[2020-04-06 18:47] #2581 closed, assigned to UnbearableBear

[2020-04-06 18:53] UnbearableBear commented on #2578
done !

[2020-04-06 18:53] #2578 closed, assigned to UnbearableBear

[2020-04-07 18:27] UnbearableBear commented on #2543
Super les boutons bleu ! c'est bien mieux !
Par contre pour le fond il a une hauteur fixe et les nombre de sous thèmes étant aléatoire il va falloir trouver un juste milieu. On en reparle

[2020-04-08 15:56] rmelisson commented on #2560
https://0889393a3e19455c9336114c781fb1c0.westeurope.azure.elastic-cloud.com:9243/app/kibana#/dashboard/ff3db4e0-799a-11ea-bd6b-db5304326dd3?_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))

[2020-04-09 14:31] UnbearableBear commented on #1482
Je liste ici quelques fichiers qui mériteraient peut-etre un refactor dans le cadre de cette issue (liste complètement non exhaustive :
https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-api/src/server/routes/search/getDocumentByUrlQuery.js
https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-api/src/server/routes/se

[2020-04-09 17:36] virginielastisneres opened #2586 "Sous page dossier Coronavirus français facile : changements ordonnances"
### **Fonctionnalité**
Nous souhaitons améliorer notre dossier et proposé une page français facile qui résume rapidement et simplement les changements intervenus en droit du travail liés à la crise Coronavirus.
Seront présents dans cette page :
- une présentation en français facile par thème des changements
- des infographies simples et claires pour améliorer la compréhension

### **Structure de l

[2020-04-10 14:22] virginielastisneres commented on #1038
Normalement cela résout également les issues suivantes : #2552 et #2469

[2020-04-10 14:26] virginielastisneres commented on #2549
@ivangabriele @lionelB @UnbearableBear pouvez vous me dire où nous en sommes ?

[2020-04-10 15:29] virginielastisneres opened #2596 "Nouveau logo officiel du site du ministère du travail à intégrer"
Il y a désormais un nouveau logo pour le ministère du travail qu'il faut donc mettre à jour sur notre site.
Voici le nouveau logo
![MIN_Travail_RVB (1)](https://user-images.githubusercontent.com/48682104/79002416-b9060100-7b50-11ea-83a5-427e8d65c072.jpg)

**Il doit être intégré dans le header.**
cf. https://www.figma.com/file/2yQQFyFFnHQVjXnYY1zle8/Untitled?node-id=0%3A1

[2020-04-10 16:31] virginielastisneres opened #2597 "Amélioration de la page Dossier : une meilleure hiérarchie de l'information"
## Problème

Suite à des tests utilisateurs, nous avons 65% des utilisateurs qui ont réussi les 4 recherches demandées au sein du dossier. Ce chiffre n'est pas top étant donné que nous sommes censé être dans un dossier qui regroupe déjà un contenu limité pour le présenter à l'utilisateur, le taux aurait dû être de 90%. Il y a donc des problèmes de hiérarchie d'informations, de structure du dossier

[2020-04-13 13:06] virginielastisneres opened #2602 "Bug fiches QR s'affiche comme outil externe"
Nous avons la fiche QR salariés employeurs qui s'affichent dans nos résultats comme outils externes alors que c'est un contenu interne

La fiche ne devrait pas apparaitre comme outil externe mais comme un contenu interne avec le thème associé.
![Capture d’écran 2020-04-13 à 15 03 02](https://user-images.githubusercontent.com/48682104/79122574-4c7d4300-7d98-11ea-830b-b988ec303b78.png)

[2020-04-14 09:50] UnbearableBear opened #2606 "🚀 Rocket fast - Static rendering"
**Fonctionnalité**
Rendre toutes les pages avec du contenu non dynamique, et il y en a énormément sur le cdtn, statiques. Statique veut dire qu'elles sont construites au moment du build et ne font plus jamais d'appel à notre API ensuite. Cela a plusieurs avantages:
 - Le temps d'attente avant l'affichage pour l'utilisateur sera énormément réduit (ce sera très très rapide)
 - Pas de requete http lo

[2020-04-14 10:55] virginielastisneres opened #2607 "Enlever le bandeau des cookies + google analytics + tarteaucitron"
La com ne nous a pas encore répondu sur la continuité ou pas de la campagne. Pour autant, cela fait 5 jours qu'on a moins de 20 visites campagnes par jour.

Par conséquent, on a décidé de tout enlever :
- bandeau cookies
- google analytics
- tarteaucitron

[2020-04-14 11:15] virginielastisneres opened #2608 "Bandeau coronavirus amélioration"
### **Problème**
Nous avons effectué un test utilisateur à distance, voici ce que nous avons obtenu comme résultat (56 participants à l'heure actuelle).
Il était demandé aux utilisateurs de trouver une fois sur la homepage le dossier Coronavirus et d'indiquer où ils l'avaient trouvé.
61% seulement l'ont trouvé via le bandeau...
![Capture d’écran 2020-04-14 à 12 58 26](https://user-images.githubu

[2020-04-14 11:33] lionelB commented on #2607
sachant qu'on ne perd pas l'info des visites "campagne" qui seroont identifiées dans matomo

[2020-04-14 11:37] lionelB commented on #2596
Je m'interroge sur le fait que le logo dépasse du header , c'est voulu ?

[2020-04-14 11:38] lionelB commented on #2586
c'est pas fait deja ?
cc @UnbearableBear

[2020-04-14 11:39] lionelB commented on #2549
j'ai fait une modif dans la PR #2564 avant de partir en vacances qui fix le problème des ref. ca gère l'ancienne est le nouveau format

[2020-04-14 11:48] virginielastisneres commented on #2549
Ah super donc cette modif suffit à elle toute seule pour régler le problème ? @lionelB @ivangabriele

[2020-04-14 11:53] lionelB opened #2610 "Prévoir un équivalent texte pour les infographies"
la page ~~https://master-code-travail.dev.fabrique.social.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail~~  https://master-code-travail.dev.fabrique.social.gouv.fr/information/conges-payes-nouveautes-covid-19
présente des infographies n'ayant pas d'équivalent texte.
Le texte en dessous est plus complet mais plus difficile

[2020-04-14 11:54] UnbearableBear commented on #2586
Hum si !

[2020-04-14 11:54] #2586 closed, assigned to nobody

[2020-04-14 11:55] revolunet commented on #2607
![](https://media.giphy.com/media/l0HUqsz2jdQYElRm0/giphy.gif)

[2020-04-14 11:59] UnbearableBear commented on #2549
Il ne restera rien à faire avec le nouveau format ? Peut-etre garder l'issue pour quand le nouveau format sera là, enlever le code redondant ?

[2020-04-14 12:02] UnbearableBear commented on #2610
Tu as remarqué que l'inforgraphie est dans une balise `<figure>` et que du html détaillé correctement formaté est présent dans le `<figcatpion>` ? Le alt texte de l'image le précise

[2020-04-14 12:08] lionelB commented on #2610
oui, j'avais bien vu le figcaption mais qui ne reprend pas le texte de l'image :(

[2020-04-14 12:10] lionelB commented on #2549
@virginielastisneres  oui :)

[2020-04-14 12:11] lionelB commented on #2607
il faut juste qu'on re-boucle avec thomas pour le readcationnel

[2020-04-14 12:12] lionelB commented on #2586
@UnbearableBear n'oublie pas de lié les PR avec les issue quand tu fermes une issue :)
#2598

[2020-04-14 12:27] lionelB opened #2611 "ES - Ajouter le synonyme covid-19, coronavirus"
ajouter à la liste des synonymes ES
cc @ArmandGiraud ok pour le rajouter dans les synonymes de nlp ?

[2020-04-14 12:33] ArmandGiraud commented on #2611
Pour ES c'est une bonne chose, pour nlp on a pas vraiment de liste de synonymes.

[2020-04-14 12:46] lionelB commented on #2611
ok merci

[2020-04-14 12:49] virginielastisneres commented on #2596
Non, j'ai supprimé :)

[2020-04-14 13:01] ivangabriele commented on #2549
@virginielastisneres @lionelB @UnbearableBear La raison pour laquelle je n'ai pas encore terminé la nouvelle vue permettant de récupérer le tout sans besoin de seconde passe est que nous avons un certain nombre de problèmes avec la migration des anciennes références: besoin d'une seconde passe de migration, d'un nouveau script/outil, et de features supplémentaires côté back-office.

Je veux donc ê

[2020-04-14 13:46] rmelisson opened #2613 "Rebonds : graphe des covisites"
Comme abordé avec la présentation ci-jointe, nous souhaitons compléter les "articles pouvant vous intéresser" en utilisant les liens entre les documents identifiés par l'analyse des parcours utilisateur.

Plusieurs étapes pour mettre cela en place dans le CDTN :
- [x] liens accessibles dans les rapports de log, et mis à jour de manière hebdomadaire & v1 de la lib Monolog publiée
- [x] modification

[2020-04-14 14:20] lionelB commented on #2596
https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/le-systeme-graphique

pour la reco d'utilisation sur le web

[2020-04-14 17:16] virginielastisneres opened #2615 "[Bug] Lien dans des articles qui ne sont pas des articles du code du travail"
### Problème
Nous renvoyons dans nos articles du code du travail à d'autres articles du code du travail lors ces articles sont mentionnés dans un article.

Exemple ci-dessous : quand on est dans l'article R3332-8.
![image](https://user-images.githubusercontent.com/48682104/79254111-86c40e80-7e84-11ea-9ea0-26bd8b8135b2.png)
Il est cité l'article L3332-11. On peut cliquer dessus et on arrive sur cet

[2020-04-14 18:50] lionelB commented on #2615
@virginielastisneres il me semble qu'une issue existe deja à ce sujet, je checke et je te dit

[2020-04-14 21:38] revolunet commented on #2615
A noter que pour l'instant c'est une detection très naive : https://github.com/SocialGouv/code-du-travail-numerique/blob/253436293dbac370c2f697239505a61d124332e7/packages/code-du-travail-frontend/src/lib/replaceArticlesRefs.js#L8

une solution temporaire serait de detecter qu'il y a "du code xxx" à la suite, ce qui indique qu'on parle d'un autre code, et donc de désactiver le lien interne dans ce

[2020-04-15 08:44] rmelisson commented on #2615
Yes on peut appliquer l'algo que j'utilise pour les fiches MT, je peux faire ça dans la foulée. Le seul truc c'est que ça devra plutôt être fait dans le back, sauf à avoir une autre api en ligne pour resolve les ids legi-data dans le front...

[2020-04-15 08:49] lionelB commented on #2615
vu les pre-traitements  qui s'annoncent, est ce qu'on devrait pas commencé à réfléchir à la mise en place d'un pipeline de traitement ?

[2020-04-15 12:50] douglasduteil opened #2620 "debt(frontend): componentWillReceiveProps has been renamed"
`componentWillReceiveProps` has been renamed, and is not recommended for use. See https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html for details.

[2020-04-15 12:52] douglasduteil commented on #2620
This warning appear while running the `src/outils/IndemniteLicenciement/components/__tests__/IndemniteConventionnelle.test.js` tests

[2020-04-15 12:53] douglasduteil commented on #2620
[code]

[2020-04-15 13:08] lionelB commented on #2620
this is due to ohter component we use (react-autosuggest, react-mathjax) will be fix when library are migrated

[2020-04-15 13:08] #2620 closed, assigned to lionelB, UnbearableBear

[2020-04-15 14:41] rmelisson opened #2622 "Proposition de requêtes similaires"
Après analyse des logs, il semble qu'on pourrait utiliser la sémantique afin d'identifier des requêtes connues (DF ou non) "similaires" à celle de l'utilisateur.
On pourrait utiliser cette technique afin de proposer d'autres requêtes et faciliter la reformulation de l'utilisateur.

Par exemple : pour la requête "trop chaud", les résultats sont pas forcément ceux attendus, mais on pourrait identifi

[2020-04-15 16:11] virginielastisneres opened #2623 "Bug faute d'orthographe remontée dans le dossier :O"
Dans la page du dossier : il manque un "n" à ordonnances qui se trouve dans la rubrique "L'essentiel"
![Image collée à 2020-4-15 17-29](https://user-images.githubusercontent.com/48682104/79360635-7ffcd080-7f44-11ea-98db-fe2d11004843.png)

[2020-04-15 16:30] virginielastisneres opened #2624 "Améliorations de la sous page dossier : ce que changent les ordonnances"
Quelques améliorations à faire sur cette page :

- [x] mettre en accordéon toutes les références juridiques

- [x] des modifications dans le contenu (orthographe) :
- Description : au lieu de "gouvernement" mettre "Gouvernement" avec une majuscule
- Congés payés : imposer ou modifier les congés payés : au lieu d' « article L. 3141-14 » mettre « article L3141-14 ».
- RTT, jours de repos forfait jou

[2020-04-16 13:11] rmelisson commented on #2524
###  Ci-dessous la liste des fiches avec des references non-résolues.

#### Problèmes dans la fiche :
- Article abrogé
- Typo dans la formulation (R à la place de L.)
- Erreur de code (code du travail cité mais en fait article du code de la sécurité sociale)

#### Problèmes de l’algo :
- Autre code (code de l´éducation) mais non identifié par l’algo
- Erreur de parsing

### 47/299 fiches aux référ

[2020-04-16 16:01] #2623 closed, assigned to nobody

[2020-04-17 08:48] lionelB opened #2633 "le widget issuu.com ne marche pas"
la page https://code.travail.gouv.fr/fiche-ministere-travail/tapis-roulants-de-montagne-mise-a-niveau?q=tapis%20roulant
charge un widget issuu.com
celui-ci n'etant pas listé dans les csp, il est donc blacklisté :/

[2020-04-17 09:13] revolunet commented on #2633
je ne pense pas qu'on veuille l'autoriser

[2020-04-17 12:36] #2624 closed, assigned to nobody

[2020-04-20 12:38] UnbearableBear commented on #2549
@ivangabriele je te l'assigne et on va se faire un petit ping pong jusqu'à ce qu'elle se termine. Sinon dès que je la vois je la relis avant de réaliser qu'elle est en stand-by

[2020-04-20 12:42] lionelB commented on #2549
Pour l'instant, le pb des labels est traité dans la pr #2564.  Il faut attendre que les ref soient migrées et que la nouvelles vue soit dispo pour faire la suite... on peut être fermé et ouvrir un issue pour la migration quand le vue serait dispo ?

[2020-04-20 12:53] #2411 closed, assigned to nkrmr

[2020-04-20 13:38] #2576 closed, assigned to nkrmr

[2020-04-21 08:09] lionelB commented on #2423
[Page Mises à jour nouvelles v2.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/4508588/Page.Mises.a.jour.nouvelles.v2.pdf)

[2020-04-21 09:03] lionelB commented on #2483
nouvelle url : https://cdtn-veille-git.fabrique.social.gouv.fr/

[2020-04-21 10:57] rmelisson commented on #2613
Une analyse des logs pour trouver les contenus similaire via un graph des "co-visites" :
- pour chaque contenu, une liste de proposition d'autres pages :
https://hackmd.io/@S0nV8CsDR72R5U838Grxvg/By4RyLndL

[2020-04-22 09:26] ThomasMenant commented on #2607
Hello,

Yeahhhhhh, rien ne s'oppose à tout enlever (bandeau cookies etc).
Il faudra modifier à la marge la politique de confidentialité, en supprimant GA du paragraphe suivant :
Ces cookies permettent au Code du travail numérique d’établir des mesures statistiques de fréquentation et d’utilisation du site. Pour ce faire, nous utilisons les services proposés par la suite Google Analytics et Matomo.

[2020-04-22 09:27] lionelB commented on #2607
merci @ThomasMenant

[2020-04-22 09:34] UnbearableBear commented on #2607
Coohool ! Je mets à jour la PR !

[2020-04-22 15:10] UnbearableBear commented on #2607
@ThomasMenant Le texte sur cette page est ok pour toi ? https://7819b64-code-travail.dev.fabrique.social.gouv.fr/politique-confidentialite

[2020-04-22 17:07] #2608 closed, assigned to UnbearableBear

[2020-04-23 13:57] virginielastisneres commented on #2602
je ferme car on les fiches ont été changées l'issue n'a plus d'intérêt.

[2020-04-23 13:58] #2602 closed, assigned to nobody

[2020-04-23 15:21] virginielastisneres opened #2657 "Découpage de la sous page du dossier " ce que changent les ordonnances en droit du travail""
## Problème

La page "ce que changent les ordonnances" est présentée ainsi à l'heure actuelle :
![Capture d’écran 2020-04-27 à 13 54 08](https://user-images.githubusercontent.com/48682104/80369475-a1d44c80-888e-11ea-9535-891d1c0d49fd.png)

Il s'agit donc d'une page globale qui regroupe plusieurs thèmes. L'inconvénient est que nous changeons la structure du dossier afin d'aller vers une organisat

[2020-04-23 16:47] virginielastisneres opened #2658 "ajout texte page Coronavirus : ce que changent les ordonnances en droit du travail"
Suite à des validations au sein de la DGT, nous devons rajouter du texte dans la page suivante : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail

- [ ] ajouter un onglet "Intéressement et participation : report des versements"
![Capture d’écran 2020-04-23 à 18 40 45](https://user-images.githubusercont

[2020-04-23 16:53] #2607 closed, assigned to UnbearableBear

[2020-04-24 08:36] #2658 closed, assigned to UnbearableBear

[2020-04-27 07:08] ClementChapalain opened #2663 "Mise en place du nouveau backoffice : veille 🚀"
## Contexte

Aujourd'hui nous avons différents outils pour gérer la veille et l'administration du CDTN :
- le datafiller
- l'outil de veille git
- github
- les documents spreadsheet

L'objectif est de centraliser et d'unifier ces outils dans un seul et même backoffice pour garantir une meilleure sécurité et usabilité de l'administration du CDTN.

Plan d'attaque :
1. Créer la structure et les bases

[2020-04-27 08:49] virginielastisneres commented on #2615
est ce que l'on pourra se parler de ce problème la semaine prochaine ?

[2020-04-27 08:50] virginielastisneres commented on #2611
Hello :) Où en est cette tâche @lionelB ?

[2020-04-27 08:52] virginielastisneres commented on #2552
@nkrmr Nico du coup, tu penses que cette tâche sera réglée avec le traitement du glossaire dans le back ?

[2020-04-27 08:53] virginielastisneres commented on #2482
@lionelB @revolunet peut-on fermer cette tâche ?

[2020-04-27 08:55] revolunet commented on #2482
yes

[2020-04-27 08:56] #2482 closed, assigned to nobody

[2020-04-27 10:18] #2560 closed, assigned to rmelisson

[2020-04-27 10:18] #2559 closed, assigned to rmelisson

[2020-04-27 10:18] #2558 closed, assigned to rmelisson

[2020-04-27 10:18] #2557 closed, assigned to rmelisson

[2020-04-27 10:36] #2611 closed, assigned to nobody

[2020-04-27 11:35] nkrmr commented on #2469
J'ai entièrement réécrit cette méthode pour l'adapter côté back.
Maintenant le glossaire est généré en back, avec un web component pour chaque définition permettant de gérer l'affichage en front directement à l'affichage de la page.

[2020-04-29 06:48] CaptainConan commented on #2524
Revue des références terminée.

[2020-04-30 09:54] lionelB commented on #2162
@douglasduteil  Can we close since we do a lot of refactoring to extract data

[2020-04-30 09:55] lionelB commented on #2263
@rmelisson on ferme ?

[2020-04-30 09:56] lionelB commented on #2268
je propose de fermer car non fait, et peut etre moins nécessaire avec la mise à jour auto des contenu

[2020-04-30 09:57] lionelB commented on #2422
peut on fermer ?
on peut aussi recréer une issue par tests avec ce qui manque si besoin

[2020-04-30 10:02] UnbearableBear commented on #2422
yes on décidera plus tard de si je prend le temps de rajouter les tests écris par Virginie ici:
https://docs.google.com/document/d/12N5MAaFRYEmaVYQ7qO-BVGIja0xPOoIV_j0y9btjo-A

Mais ce serait bien de s'y mettre tôt ou tard

[2020-04-30 10:03] #2422 closed, assigned to UnbearableBear

[2020-04-30 10:11] lionelB commented on #2422
la liste des parcours testés est à jour ?

[2020-04-30 10:13] lionelB commented on #2571
done by #2645

[2020-04-30 10:13] #2571 closed, assigned to nobody

[2020-04-30 10:15] lionelB commented on #2156
on ferme @virginielastisneres ?

[2020-04-30 10:17] #2144 closed, assigned to nobody

[2020-04-30 10:21] lionelB commented on #1865
done in #2556

[2020-04-30 10:21] #1865 closed, assigned to nobody

[2020-04-30 10:22] lionelB commented on #1849
done in #2652  and #2667

[2020-04-30 10:22] #1849 closed, assigned to lionelB

[2020-04-30 10:33] lionelB commented on #1382
on ferme ?

[2020-04-30 10:34] virginielastisneres commented on #2156
oui lionel

[2020-04-30 10:34] #2156 closed, assigned to nobody

[2020-04-30 10:35] virginielastisneres commented on #2422
oui on ferme si l'intégration dans le CI a été fait

[2020-04-30 10:36] virginielastisneres commented on #1849
Super du coup, on passe en mode automatique tous les soirs à partir de la semaine prochaine ?

[2020-04-30 10:37] lionelB commented on #1849
yup :)

[2020-04-30 10:44] virginielastisneres commented on #2366
@lionelB j'ai un souci, le bug est revenu => https://code.travail.gouv.fr/recherche?q=dur%C3%A9e%20cong%C3%A9%20maternit%C3%A9
![image](https://user-images.githubusercontent.com/48682104/80701782-384b7c80-8ae0-11ea-9730-40fe4caaa94e.png)
Pourtant il n'y a pas de contribution à thémer dans le datafiller. Cela serait-il dû au travail sur les données effecuté ?

[2020-05-04 08:08] rmelisson commented on #2263
aux dernières nouvelles c'était pas encore fait, j'ai mis à jour début avril
mais on va peut-être publier ça directement via monolog du coup, comme ça on pourra le faire automatiquement

@virginielastisneres si je me souviens bien, l'idée c'était d'avoir une premiere revue manuelle, pour s'assurer que l'approche auto est envisageable ?

[2020-05-06 16:02] virginielastisneres opened #2692 "Ajustements page dossier"
REMARQUES CONTENUS

- [x] Suppression du lien externe suivant : https://travail-emploi.gouv.fr/IMG/pdf/covid19_obligations_employeur.pdf

- [x] Dans la rubrique les contenus populaires : remplacer "Nouveautés covid 19 : Congés payés " remplacer par "Nouveautés Covid-19 : congés payés"

- [x] Dans la rubrique activité partielle :
Remplacer "Questions - Réponses : Activité partielle - chômage partie

[2020-05-06 16:34] virginielastisneres commented on #2692
Pour l'UI ICI

- [x] Dans la rubrique les contenus populaires : enlever le "voir plus" et afficher les 6 résultats proposés

- [x] Ajout encart pour contenus populaires. Le haut de l'encart doit être aligné horizontalement avec le mot "sommaire"

- [x] Aligner les boutons "afficher tout" à gauche et non au centre

- [x] Taille des H2 : dans le design system de cécile les H2 sont en 26px. Là ils so

[2020-05-07 11:01] June-law commented on #2692
Après avoir cliqué sur "Quelles mesures l'employeur doit-il prendre pour protéger..." , sur la page qui s'ouvre les images sont illisibles
https://04c7590-code-travail.dev.fabrique.social.gouv.fr/fiche-ministere-travail/quelles-mesures-lemployeur-doit-il-prendre-pour-proteger-la-sante-de-ses-salaries

[2020-05-07 11:04] June-law commented on #2692
Dans la partie "Formation professionnelle et apprentissage", serait-il possible de donner des noms aux fiches sans les signes /  et - , et d'avoir un nom de document classique ? Exemple : au lieu de "/fiche-ministere-travail/conventions-de-fne-formation", on aurait "Fiche Ministère travail conventions de FNE formation"

[2020-05-07 11:08] June-law commented on #2692
On parle de "FAQ" à certains endroits et de "Questions-réponses" à d'autres. On pourrait harmoniser et avoir une seule appellation ?

[2020-05-07 12:04] virginielastisneres commented on #2692
oui toute à fait je pense qu'il y a une erreur dans le nom du fait des urls qui sont pas bonnes. Normalement on devrait avoir :
Conventions de FNE-Formation : https://code.travail.gouv.fr/fiche-ministere-travail/conventions-de-fne-formation
Questions - Réponses : Formation professionnelle stagiaire : https://code.travail.gouv.fr/fiche-ministere-travail/formation-professionnelle-stagiaires-et-organ

[2020-05-07 12:04] virginielastisneres commented on #2692
Oui tu as raison

[2020-05-07 12:16] June-law commented on #2692
Je n'ai pas compris ce qui a été décidé au final pour le texte relatif à l'ordonnance sur la durée du travail. On le garde ou pas ? (sachant que la mesure n'est pas applicable et ne le sera jamais) Si on le supprime du dossier, il faudrait modifier le titre de la partie "Congés payés, durée du travail et primes" en supprimant les mots "durée du travail".

[2020-05-07 12:20] June-law commented on #2692
Concernant ce titre "Mesures de prévention dans l’entreprise contre le COVID-19 - Masques", est-il possible de supprimer le mot "Masques" ? (en demandant peut-être aux rédacteurs du fichier source ?) Quand on ouvre le doc, on voit bien qu'il traite de plusieurs mesures et pas seulement des maques. Avoir ce mot dans le titre induit en erreur le lecteur.

[2020-05-07 12:24] virginielastisneres commented on #2692
oups fausse manip j'ai clôturé sans faire exprès

[2020-05-07 12:26] June-law commented on #2692
Dans les contenus populaires, il y a une flèche vers "Nouveautés covid-19 : congés payés" qui ouvre sur une page avec l'infographie sur les CP, mais la page s'appelle cette fois "Nouveautés covid-19". (Ce n'est pas le même titre que la flèche.) Mais dans la partie "Congés payés, durée du travail et prime", la flèche pointe vers "Nouveautés coronavirus : Congés payés". Outre l'erreur 500 déjà repér

[2020-05-07 12:30] June-law commented on #2692
De façon générale, dans les titres, après un " : " , il y a parfois une majuscule et d'autres fois une minuscule. Ce serait bien d'harmoniser.

[2020-05-07 12:32] June-law commented on #2692
Dans le titre "Questions - Réponses : Embauche démission sanctions licenciement", il manque les virgules après "embauche", "démission" et "sanctions".

[2020-05-07 12:35] virginielastisneres commented on #2692
De ce que j'ai compris Catherine veut que l'on garde la partie sur la durée du travail

[2020-05-07 12:49] virginielastisneres commented on #2692
oui bonne remarque j'harmonise tout ca

[2020-05-07 13:01] UnbearableBear opened #2704 "Image illisible - fiches ministère du travail"
Sur la fiche `fiche-ministere-travail/quelles-mesures-lemployeur-doit-il-prendre-pour-proteger-la-sante-de-ses-salaries` les images affichées sont en très très basse définition. Elle ne sont pas exploitables à l'heure actuelle.

Dans la foulée, fixer https://github.com/SocialGouv/code-du-travail-numerique/issues/2832

[2020-05-07 13:02] UnbearableBear commented on #2692
N.B. le temps que cette issue là soit résolue https://github.com/SocialGouv/code-du-travail-numerique/issues/2704, on pourrait décider d'enelever le lien qui pointe vers la page `fiche-ministere-travail/quelles-mesures-lemployeur-doit-il-prendre-pour-proteger-la-sante-de-ses-salaries`

[2020-05-07 13:05] virginielastisneres commented on #2692
Hum à voir car j'ai l'impression que c'était un lien important pour la com surtout en ce moment. Il y a toujours l'accès au pdf.

[2020-05-07 13:33] virginielastisneres opened #2705 "page ce que changent les ordonnances en droit du travail ajout onglet"
Dans la page suivante : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail, rajouter un onglet en dernière position : Délais du CSE.

Le contenu est ici https://docs.google.com/document/d/1Niu-oIk4ww4NzJel_t8j7aEQdY8oWaOiXAdTeWONwdo/edit

Lien à ajouter dans le nouveau dossier Coronavirus dans la rubrique

[2020-05-07 14:18] June-law commented on #2692
Le titre de la page énonce "Ministère du travail : notre dossier sur le coronavirus. L’essentiel à savoir sur le Coronavirus ..." Le mot "coronavirus" est écrit une fois en minuscule, puis en majuscule. Il faudrait harmoniser et que ce soit la même écriture avec le reste du dossier.

[2020-05-07 14:55] virginielastisneres opened #2706 "remettre en ligne l'outil heures pour recherche d'emploi"
Les données du fichier suivant concernant l'outil d'heures pour recherche d'emploi a été validé =>> https://docs.google.com/spreadsheets/d/1zd_hShEui8BHK0349GpDUZRkCcQ9syIZ9gSrkYKRdo0/edit#gid=227376301

Nous pouvons donc remettre en ligne l'outil avec la mise à jour des données.

[2020-05-07 16:29] virginielastisneres opened #2707 "Supprimer du site le modèle attestation garde d'enfant"
Le modèle suivant doit etre supprimé du site car il n'est plus valable juridiquement : https://code.travail.gouv.fr/modeles-de-courriers/attestation-sur-lhonneur-arret-de-travail-pour-la-garde-denfant

[2020-05-07 17:08] iclems opened #2708 "TeleRC plante à chaque soumission"
**Description**
Le site TeleRC plante à chaque soumission. Impossible de soumettre avec erreur :
<img width="954" alt="Screen Shot 2020-05-07 at 7 05 18 PM" src="https://user-images.githubusercontent.com/1120050/81323718-1466d880-9096-11ea-8588-bfc33e8c8ba1.png">

**Reproduction**
Etapes à suivre pour reproduire le bug
1. Go to 'https://www.telerc.travail.gouv.fr/RuptureConventionnellePortailPubli

[2020-05-08 11:45] bzg opened #2712 "Bug report : ne pas proposer le seul format .docx"
**Description**

Cette [issue](https://github.com/SocialGouv/code-du-travail-numerique/issues/856) a été fermée en considérant que de proposer le seul format `.docx` était OK

Ce n'est pas tout à fait OK: le [référentiel général d'interopérabilité](http://references.modernisation.gouv.fr/interoperabilite) indique bien que le format ODF est _recommandé_ et le format OOXML seulement _en observation_

[2020-05-08 14:08] revolunet commented on #2712
Proposition de solution : intégrer dans la CI un converter docx->odt et proposer les deux formats au téléchargement

On pourrait utiliser une image docker qui sait faire la conversion proprement

Ex: https://gist.github.com/revolunet/3303f60e394f92575056adff0af03021

[2020-05-08 14:18] revolunet commented on #2712
héhé GH accepte le DOCX mais pas les ODT en PJ 🤣

[2020-05-08 14:19] revolunet commented on #2712
[example.zip](https://github.com/SocialGouv/code-du-travail-numerique/files/4599482/example.zip)

[2020-05-08 14:30] bzg commented on #2712
J'ai regardé l'input et l'output et ça m'a l'air nickel.

[2020-05-08 18:50] revolunet commented on #2712
Petit moment de solitude quand j'ai vu que le DOCX est un... XML et que le ODT est un... XML.

Il manque un petit XSLT communautaire pour faire la conversion pas chère entre les deux arbres :/

je pose ça là si quelqu'un à le courage https://unifiedjs.com/explore/package/xast-util-from-xml/

[2020-05-11 08:21] ClementChapalain commented on #2704
les images ne sont plus visibles sur la page pour info
https://code.travail.gouv.fr/fiche-ministere-travail/quelles-mesures-lemployeur-doit-il-prendre-pour-proteger-la-sante-de-ses-salaries

[2020-05-11 11:20] lionelB commented on #2712
@revolunet le docx est au format open xml document.
je me demande si on devrait pas partir vers un export docx plutot (et changer nos sources en odf)

[2020-05-11 11:21] lionelB commented on #2704
mais...
on dirait que les fiches se mettent à jour automatiquement 🤔

[2020-05-11 11:25] virginielastisneres opened #2716 "Tracking page CC"
## Contexte
Nous manquons de données concernant l'utilisation réelle des pages CCs. Nous avons en ce moment pas une augmentation du trafic concernant notamment la page CC Métallurgie.

## Tracking à mettre en place
L'idée est de mettre en place des événements de tracking dans matomo afin de savoir quelles sont les actions faites par l'utilisateur dans une page CC.

Proposition de plan de tagage :

[2020-05-11 11:33] revolunet commented on #2712
Oui il y a plus d'outils de conversion dans ce sens la !

[2020-05-11 12:35] rmelisson commented on #2524
Après relecture des retours de @CaptainConan, voici la version finale des modifications côté fiches MT. Les autres soucis sont également listés, mais normalement ça ne pose pas de problème.

https://hackmd.io/vpJPoLNvRjmDRr7US9hsLw?view

[2020-05-11 12:41] ClementChapalain commented on #2704
c'est magique :)
![giphy](https://user-images.githubusercontent.com/5337489/81562617-74f75d80-9395-11ea-874b-341c5793b0e2.gif)

[2020-05-11 16:14] #2692 closed, assigned to UnbearableBear

[2020-05-11 16:14] #2705 closed, assigned to UnbearableBear

[2020-05-11 16:14] #2597 closed, assigned to UnbearableBear

[2020-05-13 08:36] virginielastisneres commented on #2596
Oui en effet avec la nouvelle charte il y a des standards à respecter. Pour le moment il nous est demandé de rajouter rapidement le logo, du coup on va commencer par simplement remplacer celui que l'on a pas le nouveau et ensuite réfléchir à la meilleure intégration possible car cela va avoir des conséquences sur le header.

[2020-05-13 08:42] revolunet commented on #2712
bon en fait non je n'ai pas trouvé plus d'outils dans l'autre sens...

[2020-05-13 09:28] UnbearableBear opened #2728 "Issues sentry à traiter"
- [x] https://sentry.fabrique.social.gouv.fr/incubateur/code-du-travail-numerique/issues/4606/ -> pb avec le decodage d'emails des fiches SP sous ie11

------------------------------

- [x] https://sentry.fabrique.social.gouv.fr/incubateur/code-du-travail-numerique/issues/4944/ -> un probleme avec un filtrage sur une valeur undefined dans le nouveau dossier ???

Résolu (pas d'action necessaire): l

[2020-05-13 09:55] lionelB commented on #2728
il faudrait transpiler le module car il utilise des template string

[2020-05-13 12:02] #2728 closed, assigned to UnbearableBear

[2020-05-13 15:51] ArmandGiraud opened #2731 "Segmentation des Parcours utilisateurs"
### Description:
La mise à disposition des logs permet de faire une analyse plus fine des parcours utilisateurs.
L'objectif premier étant de mieux connaitre les utilisateurs en les regroupant au sein de segments (ou clusters) partageant des caractéristiques communes.

Cette identification peut également permettre de proposer du contenu adapté au type d'utilisateur détecté.

**exemple**
Par exemple

[2020-05-13 15:59] virginielastisneres opened #2732 "Nouvel onglet page : Nouveautés Covid-19"
Suite à la validation par la DGT, un nouvel onglet dans la page Nouveautés Covid-19 doit être rajouté.

**Page** : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19

**Nom du nouvel onglet** : "Rupture conventionnelle"

**Contenu de l'onglet** : https://docs.google.com/document/d/1yezRZlUM_I-LN9FTyKJ1nUCiR9W_eGPLA4wffch0jlE/edit

**Nom d

[2020-05-14 08:45] revolunet opened #2735 "widget CDTN"
Afin de permettre à des sites tiers d'intégrer un champ de recherche CDTN, il faudrait que nous proposions une version "pure html/css" du champ de recherche, sans autocomplete

Cela pourrait être fait dans un repo "cdtn-widget" dédié avec une page de documentation pour intégration dans les autres sites. (site cibles : drupal, spip, wordpress...)

L'intégration par des tiers doit être la plus simpl

[2020-05-14 08:45] revolunet commented on #2735
poc : https://codesandbox.io/s/widget-search-cdtn-j88ok

[2020-05-14 09:02] lionelB commented on #2735
sans js
https://codesandbox.io/s/widget-search-cdtn-cjnu5?file=/index.html

[2020-05-14 09:13] #2596 closed, assigned to UnbearableBear

[2020-05-14 09:21] UnbearableBear commented on #2735
Je m'en occupe sauf si quelqu'un préfère le faire / est dispo ?

[2020-05-14 09:22] UnbearableBear commented on #2735
Je balance ça comme ça sans conviction: rien ne nous empeche de faire un plugin chrome / firefox aussi  mais je ne pense pas que ce soit utile

[2020-05-14 09:24] revolunet commented on #2735
non il faut surtout faire quelque chose le plus simple à intégrer possible dans un premier temps pour augmenter notre "reach"

[2020-05-14 09:47] UnbearableBear commented on #2708
Bonjour ! Merci d'avoir remonté l'information ! Malheureusement notre équipe ne s'occupe pas / n'a pas acces au code de TeleRC mais nous pouvons surement leur remonter l'information si celle-ci est toujours d'actualité. @jrduscher tu sais qui gère cet outil ?

[2020-05-14 10:56] #2732 closed, assigned to UnbearableBear

[2020-05-14 14:18] lionelB commented on #2735
intégration depuis une iframe ou juste un snippet html avec du inline style et des `!important` ?

[2020-05-14 14:54] revolunet commented on #2735
Bonne question !

Je pencherai pour du HTML/CSS à copier/coller mais on peut peut-être proposer les deux solutions ?

[2020-05-14 15:05] virginielastisneres opened #2737 "Nouvel onglet page : Nouveautés Covid-19"
Suite à la validation par la DGT, un nouvel onglet dans la page Nouveautés Covid-19 doit être rajouté.

Page : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19

Nom du nouvel onglet : "Accord collectif d'entreprise"

Contenu de l'onglet : https://docs.google.com/document/d/1JhnxgO4th_W3dszh3h4mxJyjU--CrfGH_oAsDK3UVmU/edit

Nom du lien q

[2020-05-15 09:57] #2737 closed, assigned to UnbearableBear

[2020-05-15 10:17] virginielastisneres opened #2740 "Nouveaux onglets page "Nouveautés : Covid-19""
Suite à la validation par la DGT, **3 nouveaux onglets** dans la page Nouveautés Covid-19 doit être rajouté.

Page : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19

## 1er onglet

**Nom du nouvel onglet** : "Report ou annulation de visites médicales"

**Contenu de l'onglet** : https://docs.google.com/document/d/1Si5835wXZ7NtNdGpEmaDDj

[2020-05-15 12:18] #2740 closed, assigned to UnbearableBear

[2020-05-15 15:08] UnbearableBear opened #2742 "Gestion des redirections "à la main" et page 404"

[2020-05-18 07:14] lionelB opened #2746 "memory leak sur le front"
memory leak
- apparition 29Avril
la release https://github.com/SocialGouv/code-du-travail-numerique/compare/v4.17.0...v4.18.0
est la derniere avant l'apparition des alertes

[2020-05-18 08:03] virginielastisneres opened #2747 "ERREUR 404 fiche télétravail dans le dossier..."
Dans le dossier Coronavirus (https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus), le lien "Questions - Réponses : télétravail" est pas bon, erreur 404 =>> https://code.travail.gouv.fr/fiche-ministere-travail/fiche-ministere-travail/teletravail

Il est :
- le 1er lien dans les contenus populaires :
- et le 1er lien dans la rubrique "Contrat de travail (embau

[2020-05-18 08:14] UnbearableBear commented on #2747
🤦

[2020-05-18 08:28] #2742 closed, assigned to UnbearableBear

[2020-05-18 08:29] #2747 closed, assigned to UnbearableBear

[2020-05-18 08:34] UnbearableBear commented on #2746
Ce n'était pas juste une histoire de pod qui ne scalaient pas correctement ?

[2020-05-18 09:10] lionelB commented on #2746
non la conso mémoire a changé et le pod est régulierement rebooté

[2020-05-18 10:40] virginielastisneres opened #2749 "Ajout dans page Nouveautés Covid-19"
## Ajout paragraphe onglet "Intéressement et participation"
Dans la page Nouveautés Covid-19 (https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19), il faudrait rajouter un paragraphe dans "l'onglet intéressement et participation".

### **Contenu à ajouter** :
"Important : selon la loi du 11 mai 2020 _(lien externe à intégrer : https://www.

[2020-05-18 12:31] rmelisson opened #2750 "Remplacer l'API NLP par TensorFlow Serve"
Pour diminuer la taille du code et faciliter la CI, nous souhaitons utiliser TensorFlow Serve plutôt que notre API Flask Python.
Plus de details ici :
https://github.com/SocialGouv/serving-ml/tree/master

À noter que nous attendons la release de TensorFlow Serve 2.2 :
https://github.com/tensorflow/serving/releases

- [x] Proof of concept
- [x] mis à jour des calls dans le CDTN

[2020-05-18 13:54] UnbearableBear opened #2753 "outils - amélioration de l'affichage des formules"

[2020-05-18 15:21] #2749 closed, assigned to UnbearableBear

[2020-05-19 08:12] jrduscher opened #2755 "Datafiller - mise à jour de sources. traitement des réf erronées"
via Datafiller errors,
Exemple: requête "Absence-contrat de travail", fiche MT le contrat  doit il être ecrit"
Les références signalées, encadrés rouge, pointent vers des url qui fonctionnent. Le fait de retrouver la fiche dans la suggestion remplace l'url par la même url: le remplacement ne se fait pas, l'url reste considéré comme erronée.
Il devient donc compliqué de faire le tri des réf hs de c

[2020-05-19 10:23] virginielastisneres opened #2756 "Ajout nouveau modèle : justificatif de déplacement professionnel de plus de 100 km"
## CONTEXTE
Dans le cadre du déconfinement, il n'est pas possible de se déplacer à plus de 100 km et hors de sa région sauf dans certaines conditions et notamment pour motif de déplacement professionnel.
Pour pouvoir se déplacer il faut :
- faire une déclaration de déplacement (version disponible sur le site du gouvernement)
- avec des papiers justifiant le motif (en l'occurrence ici un justificat

[2020-05-19 14:49] revolunet commented on #2755
fixed, je te laisse close si ok

[2020-05-19 15:38] #2756 closed, assigned to UnbearableBear

[2020-05-20 08:21] virginielastisneres commented on #2755
@jrduscher c'est bon non maintenant le datafiller ? Julien peut clôturer ?

[2020-05-20 10:13] UnbearableBear commented on #2707
clsoed with https://github.com/SocialGouv/code-du-travail-numerique/pull/2691

[2020-05-20 10:13] #2707 closed, assigned to UnbearableBear

[2020-05-20 16:13] virginielastisneres opened #2763 "Nouvelle page "Prescription d’arrêts du travail par le médecin du travail : nouveautés Covid-19""
## CONTEXTE

Suite à la validation de la DGT nous avons un nouveau contenu concernant le Covid-19 à intégrer au cdtn concernant la prescription d’arrêts du travail par le médecin du travail.

## SOLUTION

L'intégration se fait via une page dédiée. Cela ne peut se faire que suite au travail du découpage de la page Nouveautés Covid-19 en plusieurs pages différentes. Cela est une autre page Nouveauté

[2020-05-20 16:58] virginielastisneres opened #2764 "Nouvelle page "Elections du CSE : nouveautés Covid-19""
## CONTEXTE
Suite à la validation de la DGT nous avons un nouveau contenu concernant le Covid-19 à intégrer au cdtn concernant les élections du CSE.

## SOLUTION

L'intégration se fait via une page dédiée. Cela ne peut se faire que suite au travail du découpage de la page Nouveautés Covid-19 en plusieurs pages différentes. Cela est une autre page Nouveautés Covid-19.

**Nom de la page :**
"Electio

[2020-05-20 17:28] virginielastisneres opened #2765 "Nouvelle page : "Réunions du CSE : nouveautés Covid-19""
CONTEXTE
Suite à la validation de la DGT nous avons un nouveau contenu concernant le Covid-19 à intégrer au cdtn concernant les réunions du CSE.

SOLUTION

L'intégration se fait via une page dédiée. Cela ne peut se faire que suite au travail du découpage de la page Nouveautés Covid-19 en plusieurs pages différentes. Cela est une autre page Nouveautés Covid-19.

**Nom de la page :**
"Réunions du CS

[2020-05-22 08:08] UnbearableBear commented on #2764
@virginielastisneres Ca va si il n'y a pas d'accordéon dans un premier temps ? Je n'ai pas prévu ça pour le moment encore :o
p.s. j'ai le word est en privé, il me faut les accès

[2020-05-22 08:20] virginielastisneres commented on #2764
@UnbearableBear C'est pas trop gênant pour celui ci de ne pas avoir d'accordéon, ca sera pour les réunions du CSE ou il faudra regarder ce que cela donne sans accordéon...
Normalement c'est bon tu as accès maintenant  :)

[2020-05-22 08:50] UnbearableBear opened #2767 "Harmoniser les routes de l'api"
Actuellement dans l'api nous avons souvent deux manières de faire la même chose, il faudrait choisir entre l'une, ou l'autre et s'y tenir:

![Screenshot 2020-05-22 at 10 50 01](https://user-images.githubusercontent.com/705453/82649782-07132780-9c1a-11ea-8825-9217dd39aabb.png)
![Screenshot 2020-05-22 at 10 49 38](https://user-images.githubusercontent.com/705453/82649790-08445480-9c1a-11ea-9f64-208f

[2020-05-22 08:54] virginielastisneres opened #2768 "Page Information et consultation du CSE : nouveautés Covid-19 ajout infographie"
### CONTEXTE
Suite à la validation de la DGT d'une infographie concernant les délais de consultation du CSE nous avons à l'intégrer au sein de la page Nouveautés Covid-19 : information et consultation du CSE.  Cette page s'appelait avant délais de consultation du CSE.
Attention cela nécessite quelques changements.

### SOLUTION

Structure de la page :

**Paragraphe introductif (texte déjà présent

[2020-05-22 08:55] virginielastisneres commented on #2735
on peut fermer l'issue @lionelB ?

[2020-05-22 08:55] virginielastisneres commented on #2753
on peut fermer l'issue @UnbearableBear ?

[2020-05-22 09:01] UnbearableBear commented on #2753
@virginielastisneres not yet, linked to this issue https://github.com/SocialGouv/code-du-travail-numerique/pull/2752

[2020-05-22 11:02] UnbearableBear opened #2770 "`excludeFromSearch` should default to false"
For one edge case, we must add a prop to all other cases, this should be the contrary

[2020-05-22 12:04] lionelB commented on #2770
not totally a edge case since the name was chose for later use to unpublish content.

[2020-05-22 12:04] #2735 closed, assigned to lionelB

[2020-05-22 12:10] lionelB commented on #2767
Attention a ce que la solution ne se resume pas à mettre des if dans la la routes items pour traiter chaque cas particulier, ce qui serait pas une meilleure solution de mon point de vue

[2020-05-25 09:38] rmelisson commented on #2440
https://github.com/SocialGouv/cdtn-monolog/releases/tag/v1.0.0
🍾

[2020-05-25 09:38] #2440 closed, assigned to nobody

[2020-05-25 15:35] virginielastisneres opened #2774 "Modification meta title et meta description modèle justificatif de déplacement professionnel"
### CONTEXTE
Suite à une petite analyse des requêtes google concernant le justificatif de déplacement professionnel => https://trends.google.fr/trends/explore?geo=FR&q=attestation%20employeur,justificatif%20employeur
on voit bien que "justificatif déplacement" est très peu recherché par rapport à attestation employeur.
Comme requête associée à "attestation employeur" arrive en 3ème position "attes

[2020-05-28 12:22] #2657 closed, assigned to UnbearableBear

[2020-05-28 12:25] lionelB commented on #2768
closed by #2777

[2020-05-28 12:25] #2768 closed, assigned to lionelB

[2020-05-28 12:25] lionelB commented on #2765
closed by #2777

[2020-05-28 12:25] #2765 closed, assigned to lionelB

[2020-05-28 12:25] lionelB commented on #2764
closed by #2777

[2020-05-28 12:25] #2764 closed, assigned to lionelB

[2020-05-28 12:26] lionelB commented on #2763
closed by #2777

[2020-05-28 12:26] #2763 closed, assigned to lionelB

[2020-05-28 12:32] virginielastisneres opened #2780 "Widget CDTN tracking"
## **Contexte**

Nous avons parlé du widget du cdtn et notamment de la question de savoir si on pouvait traçer quelque chose les comportements effectués sur ce widget.
Nous aimerions donc pourvoir :
- savoir les requêtes effectuées dans le widget @rmelisson
- savoir les personnes qui arrive sur le CDTN grâce au widget.

## **Solution**

@lionelB tu proposais de rajouter un champ hidden source=widg

[2020-05-28 15:39] #2780 closed, assigned to nobody

[2020-05-29 09:25] jrduscher opened #2786 "Problème d'affichage de résultat vignette fiche résultat."
Dans le développement du sous thème représentation du personnel:
https://code.travail.gouv.fr/themes/71-representation-du-personnel
Pour l'affichage d'une vignette résultat concernant la fiche suivante:
https://code.travail.gouv.fr/fiche-ministere-travail/cse-attributions
l'intitulé de la vignette n'est pas conforme.

_nb:Il faut développer 2x "plus de résultats" pour trouver la vignette concernée

[2020-05-29 12:25] virginielastisneres opened #2788 "Adapter le widget aux sites des Direcctes pour une meilleure intégration"
## Contexte

Notre widget va être intégré dans les pages des direcctes.
Il serait positionné sur le coté à droite de l'écran permettant ainsi son accessibilité sur toutes les pages du site. Exemple de site de direccte => http://idf.direccte.gouv.fr/Coronavirus-et-travail-l-essentiel-a-savoir
Le problème étant le format du widget actuel trop large pour une bonne intégration.

## Solution
Il faudrai

[2020-06-02 09:52] virginielastisneres opened #2795 "Suppression du modèle "Justificatif de déplacement professionnel à plus de 100km""
Suite à l'annonce des mesures de la phase 2 du déconfinement la limite des 100km a été supprimée. Par conséquent, notre modèle "Justificatif de déplacement professionnel à plus de 100km du domicile et en dehors du département de résidence n'est plus valide."

Il faut donc supprimer ce modèle => https://code.travail.gouv.fr/modeles-de-courriers/justificatif-de-deplacement-professionnel-a-plus-de-10

[2020-06-02 11:01] virginielastisneres opened #2796 "Changer les infographies dans la page "information et consultation du CSE""
Dans la page suivante : https://code.travail.gouv.fr/information/information-et-consultation-du-cse-nouveautes-covid-19, il faut changer les infographies des onglets suivants :
- Infographie : Délais de consultation du CSE
- Infographie : Délais de consultation du CSE central
- Infographie : Délais de consultation du CSE central avec CSE d'établissement

Voici les nouvelles infographies.

- Infogr

[2020-06-03 08:33] ArmandGiraud commented on #1087
@rmelisson On peut fermer cette issue?

[2020-06-03 09:34] #2795 closed, assigned to UnbearableBear

[2020-06-03 09:34] #2796 closed, assigned to UnbearableBear

[2020-06-03 10:32] rmelisson commented on #1087
En l'état je pense que oui.
Après, ça reste une fonctionnalité intéressante à mon avis, ça permet d'éviter de passer pas la page résultats de recherche. Mais en même temps ça "encombre" le parcours utilisateur en mélangeant deux fonctionnalités (suggestion et recherche).

[2020-06-08 08:53] #2788 closed, assigned to nobody

[2020-06-08 10:21] lionelB commented on #2663
done by https://github.com/SocialGouv/cdtn-admin/pull/14

[2020-06-08 10:23] lionelB commented on #2483
moved to https://github.com/SocialGouv/cdtn-admin/issues/22

[2020-06-08 10:23] #2483 closed, assigned to nobody

[2020-06-08 10:26] lionelB commented on #2423
replace by https://github.com/SocialGouv/cdtn-admin/issues/23

[2020-06-08 10:26] #2423 closed, assigned to nobody

[2020-06-08 10:28] lionelB commented on #2389
moved to https://github.com/SocialGouv/cdtn-admin/issues/23

[2020-06-08 10:28] #2389 closed, assigned to revolunet, lionelB

[2020-06-08 12:05] virginielastisneres opened #2808 "Amélioration outil HRE"
Suite à la relecture de nadia, j-r et florent de l'outil d'heures pour recherche d'emploi des améliorations sont souhaitées. Il est préférable par soucis de clarté de regrouper ces changements dans une issue dédiée plutôt que dans la PR #2773.

## Schéma de l'outil HRE
![Illustration_sans_titre (3)](https://user-images.githubusercontent.com/48682104/84136765-0a951400-aa4c-11ea-889f-c455827fafa9.pn

[2020-06-09 12:14] virginielastisneres opened #2811 "Amélioration étape convention collective commune à tous les outils"
### Contexte

Au sein de tous nos outils hors indemnité de licenciement pour l'instant, nous avons une étape commune appelée "Convention collective" composée ainsi :
![image](https://user-images.githubusercontent.com/48682104/84145502-48993480-aa5a-11ea-8795-9442d7dbe36f.png)

### Solution

- [ ] Changer la phrase « Quelle est la convention collective du salarié ? » en « Quelle est la convention c

[2020-06-09 12:31] virginielastisneres opened #2812 "Amélioration du module de recherche des CCs"
## Contexte

Suite aux tests utilisateurs de mars dernier et des chiffres obtenus suite au tracking mis en place sur le module de recherche des CCs on voit bien que la moitié des utilisateurs cherche leur CC par nom ou par nom de l'entreprise, le Siret est très peu utilisé.

## Solution

Changer la phrase « Renseignez le nom de votre entreprise, son SIRET ou le nom de votre convention collective »

[2020-06-09 12:36] virginielastisneres commented on #2753
Toujours pas possible de clôturer cette issue @UnbearableBear ?

[2020-06-09 12:41] UnbearableBear commented on #2753
bientôt j'espère

[2020-06-09 12:43] virginielastisneres commented on #2753
d'acc 👍

[2020-06-09 13:10] virginielastisneres opened #2813 "Page intégration modifications wording"
Dans cette page : https://code.travail.gouv.fr/integration, faire les modifications/rectifications du wording suivantes :

- [ ] "L’installation se passe en 2 temps." changée par "L’installation se passe en deux temps."

- [ ] "Il faut ensuite déterminer là où vous souhaitez afficher le widget dans vos pages.
Pour cela, il faut rajouter le code suivant à l’emplacement ou vous souhaitez voir le wid

[2020-06-10 10:02] #2753 closed, assigned to UnbearableBear

[2020-06-10 13:03] #2716 closed, assigned to UnbearableBear

[2020-06-10 13:51] rmelisson opened #2816 "Id unique pour chaque contenu"
S'assurer que chaque contenu dispose d'un id unique nous permettant de le référencer.
Pour le moment, on s'appuie essentiellement sur le slug qui est sujet à modification.

Certains contenus ont déjà des ids, mais ils ne sont pas forcément stockés.

- [x] faire le point pour chaque type de contenu
- [x] créer un id pour le contenus sans
- [x] créer une fonction pour standardiser les ids dans un fo

[2020-06-10 14:00] UnbearableBear commented on #2816
Cette tache devrait précéder celle-ci https://github.com/SocialGouv/code-du-travail-numerique/issues/1482 dans l'idéal, mais pas forcément.

[2020-06-10 15:04] virginielastisneres opened #2817 "Intégrer le glossaire/tooltips sur les fiches de service-public.fr"
### Contexte
Suite au traitement dans le back, nous avons remis les tooltips du glossaire sur les contenus suivants :
- fiches MT
- pages contributions
- pages CC
- pages rédigées par nous dans le dossier Covid.
Il manque donc les fiches de Service-Public.fr

### Image de la fonctionnalité
![tooltips](https://user-images.githubusercontent.com/48682104/84284293-4909fc00-ab3c-11ea-97a9-a4d8c44f5cca.

[2020-06-10 16:13] pYassine opened #2818 "Les meta og:image, et og:url sont incorrects"
**Description**
Quand on arrive sur la homepage, les meta og:image et og:url comportent des _undefined_

`<meta property="og:url" content="undefined://code.travail.gouv.frundefined">`
`<meta property="og:image" content="undefined://code.travail.gouv.fr/static/assets/img/social-preview.png">`

**Reproduction**
Etapes à suivre pour reproduire le bug
1. Aller sur le site du code du travail
2. Affiche

[2020-06-10 16:19] UnbearableBear commented on #2818
Thanks a lot !!

[2020-06-10 22:31] #1038 closed, assigned to nobody

[2020-06-12 09:30] virginielastisneres opened #2821 "Remettre l'outil Simulateur brut/net"
### Contexte
L'équipe de Mon-entreprise.fr a retiré le lien vers le simulateur de chômage partiel pour l'intégration code.travail.gouv.fr. dans la page de l'outil de Simulateur salaire brut/net. => https://code.travail.gouv.fr/outils/simulateur-embauche

### Mettre sur la Home page
Nous pouvons donc remettre l'outil sur notre site officiellement comme avant.
Donc rajouter l'outil dans la boite à o

[2020-06-15 08:17] #2552 closed, assigned to UnbearableBear

[2020-06-15 09:53] virginielastisneres opened #2825 "Changements Widget CDTN"
### Contexte

Suite au test d'intégration du widget du cdtn sur cette page : http://centre-val-de-loire.direccte.gouv.fr/Travail-et-relations-sociales.
La communication souhaiterait mettre plus en avant le widget.

### Solution

Pour cela, on remplace le titre "Code du travail numérique" par le logo du CDTN.
Voici la maquette à retrouver ici selon les dimensions des sites des Direccte https://www.

[2020-06-15 10:15] revolunet commented on #2825
😱 le logo RF dans le header de ce site me fend le coeur

[2020-06-15 10:20] virginielastisneres commented on #2825
Ahahahhaha 🤣 tu n'es pas le seul à avoir eu cette réaction 😱

[2020-06-15 12:56] virginielastisneres opened #2826 "Ajout texte dans la page Intéressement et participation : nouveautés Covid-19"
## CONTEXTE

Suite à de nouveaux textes juridiques des nouvelles mesures concernant le déblocage anticipé du plan d’épargne en cas de violences conjugales sont entrées en vigueur.

## SOLUTION

Dans la page https://code.travail.gouv.fr/information/interessement-et-participation-nouveautes-covid-19

**1. Rajouter le sous titre "Report du versement des sommes" avant le texte suivant :**

"L’ordonnan

[2020-06-15 13:43] UnbearableBear opened #2827 "Fixer le pb des imports dynamiques en production"
Petit soucis remonté par sentry sur les imports dynamiques qui ne sont pas dispo sous IE 11 notamment, c'est étrange parce que parfois l'erreur remonte alors que le browser est compatible, à voir. Utiliser require peut-etre ? https://sentry.fabrique.social.gouv.fr/incubateur/code-du-travail-numerique/issues/7777/

[2020-06-16 15:07] #2811 closed, assigned to UnbearableBear

[2020-06-16 15:07] #2812 closed, assigned to UnbearableBear

[2020-06-16 15:07] #2826 closed, assigned to UnbearableBear

[2020-06-17 06:36] lionelB commented on #2825
![image](https://user-images.githubusercontent.com/160320/84863648-8ce98d80-b075-11ea-9f68-e6fdae569288.png)
le double logo marianne on en parle ?

[2020-06-17 08:56] UnbearableBear opened #2831 "Il semblerait que le bundle des fiches MT contienne la data de toutes les fiches MT"
![Screenshot 2020-06-17 at 10 53 27](https://user-images.githubusercontent.com/705453/84877739-2b331e80-b089-11ea-9dc1-ea5ae4f2e9a6.png)

<img width="868" alt="Screenshot 2020-06-17 at 11 09 19" src="https://user-images.githubusercontent.com/705453/84881937-d7c3cf00-b08e-11ea-8a22-75ce2c8f5b06.png">

Pas terrible terrible !

[2020-06-17 09:28] revolunet opened #2832 "[fiches-MT] videos"
les videos dailymotion sont bloquées par la CSP

Ex : https://code.travail.gouv.fr/fiche-ministere-travail/quelles-mesures-lemployeur-doit-il-prendre-pour-proteger-la-sante-de-ses-salaries

Refused to frame 'https://www.dailymotion.com/' because it violates the following Content Security Policy directive: "frame-src"

[2020-06-17 17:17] lionelB commented on #2808
### cas Page quand l'utilisateur n'a pas renseigné sa CC

"Un accord d’entreprise ou à défaut un usage dans la profession ou l’entreprise peut prévoir que le salarié bénéficie d’heures d’absence autorisée pour rechercher un emploi pendant le préavis. Il peut s’agir du préavis en cas de rupture de la période d’essai, de démission ou de licenciement."

j'ai me suis permis de rajouter
[code]
Pour le

[2020-06-17 19:30] lionelB opened #2834 "fix warining output in test"
there is some warning in test that should be fixed

| file | lib | mesage |
|---|---|---|
| SearchBar.test.js | react-testing-library | `waitForElement` has been deprecated. Use a `find*` query (preferred: https://testing-library.com/docs/dom-testing-library/api-queries#findby) or use `waitFor` instead: https://testing-library.com/docs/dom-testing-library/api-async#waitfor  |
| Search.test.js | re

[2020-06-17 19:41] lionelB commented on #2746
Apres augmentation de la meeoire allouée au container, il semblerait que ce ne soit pas un memory leak mais juste la conso de l'application qui a augmenté. Cela dit, @UnbearableBear @revolunet on identifié un probleme sur les fiche mt qui pourrait etre la cause de cette augmentation. un changement dans le package @socialgouv/fiche-travail-data à introduit le chargement de 12Mo de json dans le bund

[2020-06-17 19:41] #2746 closed, assigned to nobody

[2020-06-17 19:44] lionelB opened #2835 "Monitorer la taille des bundle dans l'appli front"
Suite a un changement dans le package @socialgouv/fiche-travail-data,  le bundle  de page fiche-mt inclus le json de tout les fiches-mt et est dépasse la dizaine de Mo.

Il faudrait mettre en place un job sur al ci (ou github action) pour monitorer la taille des bundle

[2020-06-18 07:50] #2825 closed, assigned to UnbearableBear

[2020-06-18 08:17] virginielastisneres commented on #2832
héhé merci @revolunet je pensais que c'était lié à mon navigateur et aux restrictions du ministère mais non :) merci !

[2020-06-18 10:11] June-law commented on #2808
Dans le sommaire à gauche, li faudrait modifier le nom de l'étape 5.
Remplacer "Durée du préavis" par "Résultat"

[2020-06-18 10:33] June-law commented on #2808
Dans la page "Type de rupture du contrat de travail".

![image](https://user-images.githubusercontent.com/52570886/85010021-a1a25000-b15f-11ea-901f-2d580e39eb10.png)

Quand on utilise l'outil pour une CC jusqu'à la page Résultat, puis qu'on veut refaire le parcours avec une autre CC, l'étape "Type de rupture du contrat de travail" a gardé l'option choisie précédemment.
Dans la case qui permet de c

[2020-06-18 10:42] lionelB commented on #2808
comme c'est commun à tout les outils, je pense qu'il faudrait plutot faire un passe pour rajouter les étoiles au champ obligatoire mais on peu en rediscuter plus tard

[2020-06-18 10:47] June-law commented on #2808
tu peux rajouter les étoiles au champ obligatoire. C'est bon aussi. Le plus important, c'est qu'on n'ait pas les mots "Champ obligatoire" qui ne se rattachent à rien.

[2020-06-18 12:12] June-law commented on #2808
Quand la CC ne prévoit rien, il faudrait changer le paragraphe d'articulation des normes. Pour l'instant, voilà le contenu du paragraphe :

![image](https://user-images.githubusercontent.com/52570886/85018498-8b02f580-b16d-11ea-90e1-dfcaac5902d8.png)

Il faudrait le remplacer par : "Un accord d’entreprise ou à défaut un usage dans la profession ou
l’entreprise plus récent peut prévoir l’existence,

[2020-06-18 12:21] June-law commented on #2808
Dans la phrase : "Cliquez sur suivant pour poursuivre la simulation.", il faudrait une majuscule au mot "suivant". Cela donnera "Cliquez sur Suivant pour poursuivre la simulation."

![image](https://user-images.githubusercontent.com/52570886/85019338-f0a3b180-b16e-11ea-8b51-e28ebed4d900.png)

si la modification concerne tous les outils, c'est bon.

[2020-06-18 16:52] #2813 closed, assigned to nobody

[2020-06-19 08:32] jrduscher commented on #2808
### Page Introduction: Texte

#### 1) Premier paragraphe

**anomalies constatées**
->(orthographe) heures d’absence autorisée**s**
-> (erreur de droit), comme dans la page résultat ajouter le délai de prévenance:

**Reformulation suggérée:**

Ce simulateur vous permet de savoir si le salarié peut s'absenter pour rechercher un emploi durant une période à la fin de son contrat de travail.
Des heures

[2020-06-19 08:37] virginielastisneres commented on #2808
Petite remarque je pense que ca rejoint la remarque de jr sur la lisibilité de la page résultat : il faudrait que le nombre d'heure soit remis à la ligne automatiquement pour une meilleure lecture pour l'usager car là on voit pas bien que l'usager a droit à 2 heures.
![image](https://user-images.githubusercontent.com/48682104/85114159-d32b2200-b218-11ea-98d3-8214b684f738.png)

[2020-06-19 12:55] UnbearableBear opened #2838 "Au moins input type number est trop larges sur mobile"
![image-a99ee095-7fdf-4207-9717-87ae2811a81e](https://user-images.githubusercontent.com/705453/85134577-05e71180-b23d-11ea-9342-fe6aa7c66619.jpg)

[2020-06-19 17:25] June-law commented on #2808
Quand l'outil demande à l'usager de choisir une ancienneté, il faudrait que les anciennetés soient classées de la plus petite à la plus grande.
Par exemple, pour la CC 275, quand l'agent est payé à l'heure, l'outil pose la question. Dans ce cas, il propose en premier "au moins 1 an et demi" puis "inférieur à 1 an et demi".
Il faudrait que ce soit l'inverse.

[2020-06-22 07:27] jrduscher commented on #2808
1) ordre ancienneté

- Corrigé dans les datas

//Edit: June Law signale aussi:
2) Critère "aéroport de paris" non demandé

275: le critère aéroport de paris (colonne F dans les datas) n'est pas demandé dans le parcours et n’apparaît pas dans le récapitulatifs des éléments renseignés en fin de parcours en bas de la page résultats.

[2020-06-22 08:28] lionelB commented on #2633
on ferme ?

[2020-06-22 08:32] lionelB commented on #385
removing python from the stack make this issue pointless

[2020-06-22 08:32] #385 closed, assigned to douglasduteil

[2020-06-22 08:39] lionelB commented on #2610
je ferme car le texte d'explication en dessous et deja un simplification et permet de completer l'image.

[2020-06-22 08:39] #2610 closed, assigned to nobody

[2020-06-22 08:40] #1382 closed, assigned to nobody

[2020-06-22 08:41] UnbearableBear commented on #2831
Fixed here: https://github.com/SocialGouv/code-du-travail-numerique/pull/2830

[2020-06-22 08:41] #2831 closed, assigned to UnbearableBear

[2020-06-22 08:48] #2268 closed, assigned to nobody

[2020-06-22 08:51] lionelB commented on #2268
la mise à jour des données (patch) se fait automatiquement. Pour l'instant il n'y a pas de délais particulier sur le délais de gestion des erreurs.

[2020-06-22 08:53] lionelB commented on #2283
le problème a été résolu

[2020-06-22 08:53] #2283 closed, assigned to nobody

[2020-06-22 08:54] lionelB commented on #2481
nodegit a été adopté sur https://github.com/SocialGouv/cdtn-admin

[2020-06-22 08:54] #2481 closed, assigned to nobody

[2020-06-22 08:57] lionelB commented on #2562
done by https://github.com/SocialGouv/code-du-travail-numerique/pull/2829/files#diff-8d2579d186e8c6f373cb64389d312337

[2020-06-22 08:57] #2562 closed, assigned to nobody

[2020-06-22 09:02] lionelB commented on #1356
je ferme. la tendance serait plutot de passer sur un site statique builder en amont

[2020-06-22 09:02] #1356 closed, assigned to nobody

[2020-06-22 09:31] #1441 closed, assigned to lionelB

[2020-06-22 09:31] #2821 closed, assigned to lionelB

[2020-06-22 09:35] lionelB commented on #1002
on pourrait rajouter le widget de recherche de ccn à la fin du bloc ?
![image](https://user-images.githubusercontent.com/160320/85272412-7039c500-b47c-11ea-8870-9223b6e7b438.png)

[2020-06-22 09:35] UnbearableBear commented on #1354
Implemented

[2020-06-22 09:35] #1354 closed, assigned to ClementChapalain

[2020-06-22 09:36] lionelB commented on #1002
ou ici ?
![image](https://user-images.githubusercontent.com/160320/85272563-9ceddc80-b47c-11ea-9631-b946d0c54959.png)

[2020-06-22 09:38] lionelB commented on #1854
@revolunet je ferme car on du breadcrumb partout et le sélecteur de theme sur la page courrier a aussi été rajouté

[2020-06-22 09:38] #1854 closed, assigned to nobody

[2020-06-22 09:41] UnbearableBear commented on #1471
Icons have been simplified already. Plus using react component to add external links would not work on dynamc content yet.

[2020-06-22 09:41] #1471 closed, assigned to nobody

[2020-06-22 09:42] UnbearableBear commented on #2141
Une fois qu'on aura fini de gérer le static rendering ça pourrait être intéressant de creuser le sujet !

[2020-06-22 09:43] #2524 closed, assigned to nobody

[2020-06-22 09:43] UnbearableBear commented on #2430
sujet permanent, pas besoin d'un issue pour ça

[2020-06-22 09:43] #2430 closed, assigned to nobody

[2020-06-22 09:47] UnbearableBear commented on #2827
done in https://github.com/SocialGouv/code-du-travail-numerique/pull/2829

[2020-06-22 09:47] #2827 closed, assigned to nobody

[2020-06-23 08:04] June-law commented on #2808
Quand l'usager renseigne une CC non traitée, la page Résultat devrait être changée. Il faut retirer la phrase "Vous pouvez faire une recherche par mots-clés dans votre convention collective" du paragraphe HDN et la placer juste après la phrase " la convention collective n’a pas encore été traitée par nos services."

[2020-06-23 08:10] virginielastisneres commented on #2838
Pour reproduire aller dans l'outil indemnité de licenciement à l'étape 4 Salaires de l'outil de licenciement.
Essai sur mobile, navigateur Chrome.

[2020-06-24 08:43] virginielastisneres commented on #2704
Super je clos alors :)

[2020-06-24 08:43] #2704 closed, assigned to lionelB, UnbearableBear

[2020-06-24 13:26] #2838 closed, assigned to UnbearableBear

[2020-06-24 14:01] UnbearableBear opened #2845 "Parsing du MDX cassé par le glossaire"
Dans certains cas, (e.g. https://code.travail.gouv.fr/contribution/dans-le-cadre-dun-cdd-quel-est-le-montant-de-lindemnite-de-fin-de-contrat), le markup du webcomponent du glossaire va casser l'interpretation du MDX.

En l'occurence dans l'exemple plus haut, c'est le webcomponent dans l'attribut `title` de `Tab` qui fait que notre composant [Mdx](https://github.com/SocialGouv/code-du-travail-numer

[2020-06-24 16:04] ArmandGiraud commented on #2731
Première phase d'analyse terminée,
automatisation de la seconde phase de segmentation automatique sur https://github.com/SocialGouv/cdtn-monolog

[2020-06-25 10:05] jrduscher commented on #2808
# Dans la page "Type de rupture du contrat de travail".

1) bug dans le parcours
Quand on utilise l'outil pour une CC jusqu'à la page Résultat, puis qu'on veut refaire le parcours avec une autre CC, l'étape "Type de rupture du contrat de travail" a gardé l'option choisie précédemment.
Dans la case qui permet de choisir la bonne option, on devrait revoir les 3 petits points "...".

Sur cette page,

[2020-06-29 12:09] June-law commented on #2808
Dans la page d'introduction, il y a une faute à corriger.

Dans le premier paragraphe, la phrase "le préavis est aussi appellé délai de prévenance." doit être corrigée ainsi "le préavis est aussi **appelé** délai de prévenance."

[2020-06-29 12:27] June-law commented on #2808
Quand l'outil pose la question "Qui a pris l'initiative de rompre la période d'essai ?", il faudrait ajouter un espace entre le mot "essai" et le " ? ".

![image](https://user-images.githubusercontent.com/52570886/86005196-9af3c280-ba14-11ea-9033-7f5e44c8290c.png)

[2020-06-29 13:27] virginielastisneres opened #2852 "Coquille dans Date/Heure des impressions"
Dans les impressions des pages résultats des outils il y a  une petite coquille : il y a 2 fois "à".
![image](https://user-images.githubusercontent.com/48682104/86011370-e1e5b600-ba1c-11ea-873c-d7614f521916.png)

Il faut supprimer un de deux "à" pour que cela donne "le XX/XX/XXXX à XX:XX"

[2020-06-30 08:19] virginielastisneres opened #2854 "Ajout texte dans la page Élections du CSE : nouveautés Covid-19"
### **Contexte**
Une loi est passée et vient rajouter des éléments concernant les élections du CSE. Par conséquent, une légère modification doit être apportée à la page suivante : https://code.travail.gouv.fr/information/elections-du-cse-nouveautes-covid-19

### **Solution**
Dans l'onglet : "Cas des procédures électorales qui ont déjà commencé". Le début du texte doit être modifié ainsi :

1. **Te

[2020-06-30 10:06] virginielastisneres opened #2857 "Récupération des nouvelles données sur les références juridiques des contributions"
### CONTEXTE

Dans les contributions en prod, les références juridiques bien que parfois précises renvoient uniquement sur la page générale de la convention collective et non sur l'article précis de la convention collective.
Exemple : dans la [contribution sur la durée du congé maternité](https://code.travail.gouv.fr/contribution/quelle-est-la-duree-du-conge-de-maternite?q=dur%C3%A9e%20cong%C3%A9%

[2020-06-30 12:15] #2854 closed, assigned to UnbearableBear

[2020-06-30 12:16] #2832 closed, assigned to UnbearableBear

[2020-06-30 12:16] #2852 closed, assigned to UnbearableBear

[2020-06-30 12:44] lionelB commented on #2816
- [x]  Fiches SP (id)
- [x]  Fiches MT (pubId)
- [x]  Contributions (id)
- [x]  Outils (id à créer)
- [x]  courrier (id à créer)
- [x]  dossiers (id à créer)
- [ ] themes (id)
- [x]  editorial-content (id à créer)
- [x] Convention collective (KALITCONT ou idcc)
- [x] articles cdt  (cid)

[2020-07-01 16:16] rmelisson commented on #2816
Est-ce que ça vous conviendrait des ids du type : `2df-7d1-9a2`

En gros on pourrait utiliser MurmurHash3 en 32 bits pour encoder l'id source : 8 octets (caractères hexadécimaux) / ~1% de chance de collision avec 10K contenus. Il existe des [implementations](https://github.com/garycourt/murmurhash-js/blob/master/murmurhash3_gc.js) pure JS de MMH-3.

Ensuite on peut préfixer l'id par son type encod

[2020-07-01 16:47] virginielastisneres opened #2867 "Ajout de 2 modèles de courriers"
Il faudrait ajouter 2 modèles de courriers sur le site.

- [ ] Modèle de lettre de licenciement pour motif disciplinaire

Titre du modèle : Lettre de licenciement pour motif disciplinaire

Description : La lettre de licenciement doit être envoyée au salarié par LRAR, après un délai minimum de 2 jours ouvrables et avant un délai d’un mois suivant la date prévue de l'entretien préalable au licenciem

[2020-07-01 16:49] UnbearableBear commented on #2816
Sympa ce MMH-3 ! Pas fan de rajouter des "-" si c'est juste pour faire joli
J'ai trouvé une liste des fonctions de hashage non cyrptographiques ici: https://fr.wikipedia.org/wiki/Liste_de_fonctions_de_hachage
Comment tu as fait pour avoir le % de chances de collision pour un nombre donné ? :o 1% ça me semble bcp surtout que l'on dépasser les 10K de documents je crois nous

[2020-07-01 17:26] rmelisson commented on #2816
Le "-" c'est pour rendre l'id un peu plus lisible surtout.
C'est 1% par type du coup si on ajoute un prefix pour le type, car l'encodage est par contenu. Donc 1% de chance si 10K contenus du même type.
C'est la limite si on reste sur 32bits voir :
https://stackoverflow.com/questions/14210298/probability-of-collision-when-using-a-32-bit-hash
Birthday problem : https://en.wikipedia.org/wiki/Birthday

[2020-07-02 08:00] UnbearableBear commented on #2816
Stylé, merci pour les précisions, j'adorais les probas au lycée !
Donc pour un groupe de 10K d'éléments c'est à peu près la même proba que d'avoir un full au poker du premier coup; et un carré au poker du premier coup si on réduit à 3K éléments (plus proche de ce qu'on a pour des contenus du même type en ce moment).
Ok fair enough, ça se tente.

Après il y a peut-etre une autre option, l'entre deu

[2020-07-02 09:43] UnbearableBear commented on #2816
Au passage pour l'instant on a ça:

› conventions_collectives... 385 items
› code_du_travail... 10794 items <----- + 10K
› information... 15 items
› fiches_service_public... 535 items
› fiches_ministere_travail... 1492 items
› themes... 121 items
› modeles_de_courriers... 20 items
› outils... 4 items
› external... 9 items
› contributions... 41 items
› dossiers... 1 items
› highlights... 1 items
›

[2020-07-02 13:36] lionelB commented on #2816
ok et pour les collisions, il suffira de tester qu'il y en ai pas :)
je partirai sur 8bit pour la source histoire d'etre tranquille (pour pouvoir avoir plus de 6 nouveaux type de contenus)
et comme le precise manu, ou pourrait augmenter la taille et utiliser 36 /  40 bits ?

[2020-07-06 10:23] virginielastisneres opened #2874 "Changer l'adresse présente dans la page "Intégration""
Dans la page suivante : https://code.travail.gouv.fr/integration, on renvoie derrière l'expression "ticket d’erreur" à la page Github qui demande de créer un compte hors pour avoir déjà eu un utilisateur qui a essayé il n'a pas compris et c'est trop compliqué pour lui. Par conséquent, nous allons faire plus simple et renvoyer directement à notre adresse mail : codedutravailnumerique@travail.gouv.f

[2020-07-06 11:03] rmelisson commented on #2816
- Pour confirmation : l'id dans l'URL, c'est juste pour retrouver un contenu qui aurait changé de slug en cas de lien "outdated" ? Donc en gros, on recherche toujours par slug mais si il n'existe pas on utilise l'id, voire l'id + theme.

Si c'est bien le cas, et étant donné la repartition des contenus (80% dans une seule catégorie), je pense que la solution de Manu à 64bits avec une fraction dans

[2020-07-06 12:46] rmelisson commented on #2816
Après réflexion et discussion avec Manu, ça serait quand même bien plus solide d'avoir un id dans sur lequel on puisse compter de l'URL aux logs en passant par le back, sans collision et sans avoir besoin de recourir au thème.
Je vais déjà mettre en place un script pour tester l'approche.

[2020-07-07 09:56] #2706 closed, assigned to lionelB

[2020-07-07 09:56] #2808 closed, assigned to lionelB

[2020-07-07 11:59] virginielastisneres opened #2877 "Modifs métadonnées pages contribution"
### Contexte

Suite aux travaux d'Armand sur l'analyse des pages contributions et des pages CC, il est ressorti plusieurs axes d'action à mettre en place pour améliorer à la fois le référence de ces pages et le taux de clics.
![Reflexions pages contributions et CC (3)](https://user-images.githubusercontent.com/48682104/86777330-4fb36280-c059-11ea-919f-1630f81355ca.png)

### Solution
Pour commencer

[2020-07-07 12:34] lionelB commented on #2857
closed by #2866

[2020-07-07 12:34] #2857 closed, assigned to lionelB

[2020-07-08 09:03] Armandgrd opened #2879 "Tracking des recherches cc"
**Description**
Le tracking des recherches éffectuées dans [la recherche CC ](https://code.travail.gouv.fr/convention-collective) génère un évenement par charactère. par exemple pour un utilisateur qui recherche "ministère" les évènements générés sont:

"m"
"mi"
"min"
"mini"
"minis"
"minist"
"ministè"
...

Cela a pour conséquence:
- de fausser le nombre d'évènement cc_search,
- rend l'utilisation

[2020-07-08 11:27] UnbearableBear opened #2881 "Broken accordions"
Accordions are broken on master

[2020-07-08 13:14] virginielastisneres commented on #2879
Super @ArmandGiraud 👍

[2020-07-08 13:20] UnbearableBear commented on #2879
Finalement le comportement choisi est le suivant: à chaque consultation de la search des ccn, on génère un identifiant unique, propre à la consultation de cette page (c'est à dire que changer de page et revenir ensuite sur la page crée un nouvel identifiant); ensuite on attend que l'utilisateur entre du texte et on "traque" le texte saisi que l'on correle à l'identifiant unique mais seulement si l

[2020-07-08 13:37] virginielastisneres opened #2883 "intégration infographies dans la page "Report ou annulation de visites médicales : nouveautés Covid-19""
### Contexte

Nous avons envoyé à validation 2 infographies sur les visites médicales impactées par le Covid-19 et les changements possibles. Cela vient en complément du texte déjà écrit à ce sujet dans cette page : https://code.travail.gouv.fr/information/report-ou-annulation-de-visites-medicales-nouveautes-covid-19
Ces 2 infographies viennent d'être validées.

### Solution

Intégrer les 2 infogr

[2020-07-08 16:19] ArmandGiraud commented on #2879
Super @UnbearableBear , je teste ce que ça donne dans le tracking au cours de la prochaine release, et on pourra clôturer
Merci!

[2020-07-08 16:36] lionelB commented on #2879
pourquoi on ne track la recherche effectué au click sur la CC ?
et aussi, il me semblait que la recherche était débouncé, il faudrait peut-être voir pourquoi ce n'est pas le cas ?

[2020-07-08 22:08] UnbearableBear commented on #2879
@ArmandGiraud De rien, c'était fun ! Prochaine fois je te laisse coder toi et je supervise si tu veux 😈

@lionelB On a pensé à le faire comme ça et finalement Armand a préféré qu'on track plutôt les input que le click; sachant que le click pourrait très bien ne jamais arriver et on ne saurait pas ce qui a "foiré". Ceci dit le click sur une CCN est traqué aussi ! Pour la même raison, on a choisi de

[2020-07-09 06:04] lionelB commented on #2879
ok je suis pas sur de comprendre "il y a une volonté de ne pas la débounce".
pour ma part, je faisais référence aux appels api et ils sont déjà "debounce" & "memoize"
Il me semble qu'on veut traquer ce que les gens cherchent, donc ça me paraissait bien de se baser sur le service qui fait la recherche plutôt qu'on composant ui.

Les 2 secondes risquent de ne pas remonter les recherches dans le cas

[2020-07-09 07:38] UnbearableBear commented on #2879
Yes ça s'est géré tout seul ! Le timeout et la closure dans le debounce est "indépendant" et la navigation / unmount ne l'empechent pas de s'executer avec les bons params.

[2020-07-09 08:00] #2881 closed, assigned to UnbearableBear

[2020-07-09 10:19] #2883 closed, assigned to UnbearableBear

[2020-07-09 12:42] #2879 closed, assigned to UnbearableBear, ArmandGiraud

[2020-07-15 14:21] rmelisson commented on #2816
Hello there,

J'ai avancé sur le sujet, on a maintenant des ids pour tous les contenus.

Concernant le hash, j'ai utilisé xxhash, un algo récent, rapide et avec tout ce qu'il faut : https://cyan4973.github.io/xxHash/
Pour la petite histoire l'algo semble avoir été inventé par un frenchy de chez FB.
J'ai utilisé cette implem JS : https://github.com/pierrec/js-xxhash

La solution actuelle prend les

[2020-07-16 09:06] lionelB commented on #2816
@rmelisson cool ! bien joué !

[2020-07-16 15:00] virginielastisneres opened #2899 "Ajout texte dans la page nouveautés Covid congés payés et la page nouveautés Covid RTT"
## Contexte
Un nouvel texte qui concerne à la fois les congés payés et les RTT rédigé par Nadia a été validé par la DGT.

## Solution

### Quoi ?
Intégrer le nouveau texte dans :
- la page https://code.travail.gouv.fr/information/conges-payes-nouveautes-covid-19
- et la page https://code.travail.gouv.fr/information/rtt-jours-de-repos-forfait-jours-compte-epargne-temps-nouveautes-covid-19
Ce texte

[2020-07-16 15:16] virginielastisneres opened #2900 "Ajout texte dans la page Intéressement et participation : nouveautés Covid-19"
## Contexte
Un nouvel texte qui concerne l'intéressement rédigé par Nadia a été validé par la DGT.

## Solution

### Quoi ?
Intégrer le nouveau texte dans la page https://code.travail.gouv.fr/information/interessement-et-participation-nouveautes-covid-19

### Comment l'intégrer ?

**Mettre 3 onglets**

-  **1er onglet**

_**Nom de l'onglet**_ : "Report du versement des sommes"

_**Texte**_ : déjà

[2020-07-20 15:27] virginielastisneres opened #2905 "Changer les infographies dans la page Réunions du CSE : nouveautés Covid-19"
### Contexte

C'est la fin de l'état d'urgence depuis le 10 juillet 2020. Par conséquent, il nous faut mettre à jour nos infographies concernant les réunions du CSE car les modalités prévues pendant l'état d'urgence s'arrêtent.

### Solution
Dans la page suivante : https://code.travail.gouv.fr/information/reunions-du-cse-nouveautes-covid-19

- Dans l'onglet "Synthèse"
![Infographie synthèse réunio

[2020-07-20 15:37] #2874 closed, assigned to UnbearableBear

[2020-07-20 15:49] #2899 closed, assigned to UnbearableBear

[2020-07-20 15:49] #2900 closed, assigned to UnbearableBear

[2020-07-21 12:36] #2905 closed, assigned to UnbearableBear

[2020-07-23 16:17] UnbearableBear opened #2908 "Thémage des sous fiches MT"
## Problèmes :
- __Dans le datafiller, il est possible de selectionner des sous-fiches comme références dans les thèmes__
- __Dans le datafiller, il n'est pas possible à l'heure actuelle de savoir si les sous fiche sont thémées ou pas__

## Constats :
- La verification des contenus themés/non-thémés se fait via le sitemap du cdtn qui ne contient pas les sous-fiches.
- Les sous-thèmes d'une fiche a

[2020-07-23 16:18] UnbearableBear commented on #2908
@lionelB @revolunet Vous en pensez quoi ?

[2020-07-23 16:23] revolunet commented on #2908
sound good to me :
 - dans la partie DF, on manipule/search uniquement des urls "racines"
 - on fait le nécessaire au moment du split/ingestion des fiches MT pour retrouver le theme d'après la fiche "parente"

[2020-07-24 08:58] lionelB commented on #2908
coté api
[code]

[2020-07-24 09:29] virginielastisneres commented on #2263
@rmelisson Rémi je suis désolée de l'attente sur cette tâche je n'ai pas eu le temps de réordonner les résultats des requêtes datafiller en fonction de ton fichier.
Mais bonne nouvelle :) @jrduscher a proposé son aide ; il va repartir de ton fichier (c'est toujours celui ci https://hackmd.io/s/HJy8C1fP8 ?). Je remet l'issue au planning. N'hésite pas à nous dire si le fichier n'est plus valide ou s

[2020-07-27 09:56] rmelisson opened #2915 "Stocker les log reports de Monolog dans un repo "data""
Le projet utilise maintenant les analyses de log produites par Monolog ("log reports"), notamment pour les "covisites".
Nous allons ajouter d'autres contenus "dynamiques" : suggestions, prequalified queries...

Pour le moment, le lien entre Monolog et le CDTN se fait via l'instance d'Elastic Search de Monolog.
Le problème étant que le build de la data va engendrer une multitude de calls vers ES.

[2020-07-28 07:40] virginielastisneres commented on #2263
@jrduscher tu confirmes que c'est bon on peut clôturer cette tâche ?
@rmelisson des nouvelles requêtes à réordonnancer autres que celles faites dans le fichier plus haut ?

[2020-07-28 14:46] rmelisson commented on #2263
non, ça sera inclus dans mon travail à venir sur les "requêtes prequalifiées"

[2020-07-29 09:12] #2263 closed, assigned to rmelisson, virginielastisneres

[2020-07-29 09:13] virginielastisneres commented on #2816
@rmelisson on peut clôturer ?

[2020-07-29 09:13] virginielastisneres commented on #2908
@UnbearableBear manu tu as mis cette issue en done on peut la clôturer du coup ?

[2020-07-29 09:19] UnbearableBear commented on #2908
closes by https://github.com/SocialGouv/code-du-travail-numerique/pull/2912 and https://github.com/SocialGouv/code-du-travail-numerique/pull/2910

[2020-07-29 09:19] #2908 closed, assigned to lionelB, UnbearableBear

[2020-07-29 09:20] virginielastisneres opened #2917 "Update dossier Coronavirus"
### Contexte
Le dossier n'a pas été touché depuis quelques temps et nous devons suite à des changements et évolutions réglementaires le mettre à jour.

### Solution

Voici la liste des modifications à effectuer :

1. Suppressions/modifications de liens ou de pages

- [x] Supprimer le lien dans les **contenus populaires** : "Questions-Réponses : télétravail" => ce lien renvoie vers une 404 car la f

[2020-07-30 10:02] #2917 closed, assigned to UnbearableBear

[2020-08-03 10:16] CaptainConan commented on #2663
Retours sur l'outil d'admin:
- alertes:  inverser l'ordre, pour retrouver la dernière mise à jour en première
- fiches SP: ne récupérer que les fiches du thème "travail"
- ajouter le diff
- ajouter un espace de notes (1/onglet pour chaque catégorie d'alerte)

[2020-08-05 10:42] virginielastisneres opened #2929 "Update dossier Covid-19"
### CONTEXTE

Suite à des évolutions juridiques (2 décrets sont parus et une nouvelle loi en date du 31 juillet 2020), nous devons adapter notre contenu du dossier covid qui se trouve impacté.

### SOLUTION

- [ ] Modif textuelle dans la page https://code.travail.gouv.fr/information/prime-exceptionnelle-de-pouvoir-dachat-nouveautes-covid-19

Modifier la phrase « _En outre, la date limite de versem

[2020-08-05 14:34] #2929 closed, assigned to UnbearableBear

[2020-08-10 08:56] #2816 closed, assigned to rmelisson

[2020-08-14 15:28] virginielastisneres opened #2939 "Intégration de la charte graphique du gouvernement // Header"
# Contexte

Le gouvernement a sorti une charte graphique obligatoire et commune à toutes les institutions publiques ayant des conséquences notamment pour les sites web.

Charte à retrouver ici : https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/introduction

Entre autre, elle réglemente le header des sites web avec de nouveaux logos, taille et position spécifiques. Par conséquen

[2020-08-14 16:35] lionelB opened #2940 "Permettre de voir le conteun d'un accordéon dans la page /droit-du-travail"
ex: https://code.travail.gouv.fr/droit-du-travail#accordion__heading-hierarchie
ca serait bien que l'accordéon soit ouvert (et on pourrait mettre un petit lien au rollover pour faciliter le partage, un peu comme fait github sur les titre de section)

[2020-08-19 10:33] virginielastisneres opened #2943 "Intégration de la charte graphique du gouvernement // HOME PAGE"
# Contexte

Le gouvernement a sorti une charte graphique obligatoire et commune à toutes les institutions publiques ayant des conséquences notamment pour les sites web.

Charte à retrouver ici : https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/introduction

Entre autre, elle réglemente le header des sites web avec de nouveaux logos, taille et position spécifiques. Par conséquen

[2020-08-19 10:33] virginielastisneres opened #2944 "Intégration de la charte graphique du gouvernement // PAGE DE RESULTAT"
# Contexte

Le gouvernement a sorti une charte graphique obligatoire et commune à toutes les institutions publiques ayant des conséquences notamment pour les sites web.

Charte à retrouver ici : https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/introduction

Entre autre, elle réglemente le header des sites web avec de nouveaux logos, taille et position spécifiques. Par conséquen

[2020-08-19 10:33] virginielastisneres opened #2945 "Intégration de la charte graphique du gouvernement // TOUTES LES AUTRES PAGES"
# Contexte

Le gouvernement a sorti une charte graphique obligatoire et commune à toutes les institutions publiques ayant des conséquences notamment pour les sites web.

Charte à retrouver ici : https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/introduction

Entre autre, elle réglemente le header des sites web avec de nouveaux logos, taille et position spécifiques. Par conséquen

[2020-08-19 14:22] virginielastisneres opened #2946 "Erreurs 500"
### Erreur 500
Nous avons une erreur 500 sur cette page depuis le 15 juillet apparemment =>> https://code.travail.gouv.fr/fiche-service-public/stagiaire-aide-familial-etranger-et-jeune-au-pair?q=stagiaire-aide-familial-etranger-et-jeune-au-pair

[2020-08-20 13:18] virginielastisneres opened #2947 "Ajout d'une aide au moteur de recherche des conventions collectives"
# Contexte
On a regardé un peu le tracking des outils et notamment les nombres de personnes qui cliquent sur suivant pour chaque étape de l'outil.
Comme on pouvait s'en douter, il y a une perte très importante des utilisateurs après l'étape qui demande de remplir sa convention collective.
Exemple ici avec préavis de démission
![image](https://user-images.githubusercontent.com/48682104/90770306-dbb

[2020-08-21 11:50] virginielastisneres opened #2948 "Update dossier // prochaine mise en prod"
# Contexte

Suite à des changements ou des erreurs de lien il faut faire un update du dossier sur le covid_19 : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus

# Update dossier

1.	Section Activité partielle

- le lien source ministère du travail dans cette fiche https://code.travail.gouv.fr/fiche-ministere-travail/activite-partielle-chomage-partiel ren

[2020-08-24 08:03] jrduscher commented on #2948
Après vérification, et pour info, l'actuel datafiller ne semble pas remonter ces erreurs d'url.

[2020-08-24 14:25] jrduscher commented on #2947
Je viens de voir une petite contradiction dans le parcours de l'utilisateur:
Dans l'aide on rappelle comment trouver sa convention collective de façon classique ( Bull. de salaire, etc.)
**Pour autant, dans le CDTN on détient une information fiable à ce sujet provenant de la déclaration de l'employeur.**
L'user devrait donc être prioritairement invité à renseigner SIRET et raison sociale ( voire u

[2020-08-24 14:53] revolunet commented on #2947
Côté recherche, voir si on intègre un index des données SIREN pour mieux chercher par nom/raison sociale/etablissement

[2020-08-24 15:10] revolunet opened #2949 "feat: Social metas"
Il nous manque des balises metas pour le partage des liens sur les RS, notamment une image c'est dommage (Le logo CDTN devrait suffire)

<img width="527" alt="Capture d’écran 2020-08-24 à 17 09 36" src="https://user-images.githubusercontent.com/124937/91062135-a0444680-e62c-11ea-909d-e2b7c9704078.png">

[2020-08-24 15:23] revolunet commented on #2949
duplicate of #2818

[2020-08-24 15:23] #2949 closed, assigned to nobody

[2020-08-25 09:46] #2774 closed, assigned to nobody

[2020-08-25 09:47] #2946 closed, assigned to nobody

[2020-08-26 17:01] #2948 closed, assigned to lionelB

[2020-08-28 08:28] lionelB commented on #1831
closed by #2687

[2020-08-28 08:28] #1831 closed, assigned to nkrmr

[2020-08-28 09:16] lionelB commented on #1730
closed by #1793

[2020-08-28 09:16] #1730 closed, assigned to nobody

[2020-08-28 09:17] lionelB commented on #2663
Je ferme ici suite à la mise en place du projet cdtn-admin
on pourra ouvrir d'autre issue là-bas

[2020-08-28 09:17] #2663 closed, assigned to lionelB

[2020-08-28 11:02] lionelB commented on #2549
la migration des référence a résolu le problème

[2020-08-28 11:02] #2549 closed, assigned to ivangabriele

[2020-08-28 15:14] #886 closed, assigned to revolunet, lionelB

[2020-08-28 16:03] #2818 closed, assigned to lionelB, UnbearableBear

[2020-09-02 13:19] lionelB opened #2977 "gestion des problèmes à l'indexation"
Lorsqu'un problème survient à l'indexation, nous avons le choix entre
- lever une erreur (via sentry)
- écrire l'erreur dans un journal
- mettre en échec le processus

Il faudrait lister les différents cas d'erreurs possibles et leur gestion (liste à completer)
- une contribution référence une fiche qui n'existe pas dans notre corpus de document #2956
- un champ "obligatoire" manque pour l'indexat

[2020-09-02 15:50] lionelB opened #2978 "Rendre le contenu d'une contribution (pour une cc accessible) directement via l'url"
Pour ce faire, il faudrait:

- Un id pour la contribution générale + un id pour chaque réponse liée à un convention spécifique
- ces contenu spécifique ne permettront pas de modifier sa CC et ne prendront pas un compte une éventuelle CC déj) renseigner auparavant sur le site.
- Ne pas indexer dans la recherche ces contenus spécifique à la CC
- Mais que ces contenus puissent être accessible via une

[2020-09-02 16:54] CaptainConan opened #2979 "Update dossier // prochaine mise en prod"
**Contexte**
Suite à des changements, il faut faire un update du dossier sur le covid_19 : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus

**Update dossier**

1. Section CSE et accord collectif

- supprimer « nouveautés : élection du CSE » car date de fin du dispositif au 31/08/2020
https://code.travail.gouv.fr/information/elections-du-cse-nouveautes-co

[2020-09-03 08:59] UnbearableBear commented on #2979
Merci @CaptainConan ! C'est fait ici: https://github.com/SocialGouv/code-du-travail-numerique/pull/2981
C'est tout ce qu'il faut avant la prochaine mise en prod ?

[2020-09-03 10:11] #2979 closed, assigned to UnbearableBear

[2020-09-03 11:48] #2939 closed, assigned to lionelB

[2020-09-03 11:49] lionelB commented on #2943
closed by #2960

[2020-09-03 11:49] #2943 closed, assigned to lionelB

[2020-09-03 11:49] lionelB commented on #2944
closed by  #2960

[2020-09-03 11:49] #2944 closed, assigned to lionelB

[2020-09-03 11:49] lionelB commented on #2945
closed by  #2960

[2020-09-03 11:49] #2945 closed, assigned to lionelB

[2020-09-07 09:31] jrduscher opened #2984 "Problème d'affichage d'un aperçu pdf dans une fiche du ministère"
**Description**

Dans une fiche ministère, un pdf est proposé au téléchargement, avec un aperçu visualisable sur la page de la fiche.
https://code.travail.gouv.fr/fiche-ministere-travail/aide-a-lembauche-des-jeunes?q=aide%20%C3%A0%20l%27embauche%20des%20jeunes#Par-qui-et-quand-l-aide-est-elle-versee

Dans le cdtn, cet aperçu ne fonctionne pas. Pour l'utilisateur, deux cas de figure:
- sur les rése

[2020-09-07 13:35] lionelB commented on #2984
je ferme c'est un doublon de #2633

[2020-09-07 13:35] #2984 closed, assigned to nobody

[2020-09-09 11:49] ArmandGiraud opened #2988 "Bug sur les recommandations de contenu similaire"
**Description**
Sur certaines pages (modèles de couriers) , la recommandation de contenu similaire inclut un lien vers la même page

**Reproduction**
https://code.travail.gouv.fr/modeles-de-courriers/convocation-a-un-entretien-prealable-au-licenciement-economique-de-moins-de-10-salaries-pendant-30-jours

**Comportement attendu**
on souhaite obtenir des pages différentes de celle actuellement consu

[2020-09-09 11:52] rmelisson commented on #2988
merci Armand, à priori c'est juste sur les modèles de courrier, je vais regarder ça

[2020-09-10 16:08] UnbearableBear commented on #2947
J'ai pris en compte la remarque de @jrduscher et j'ai rajouté une section dans la modale d'aide pour rappeler que la search donne la possibilité de retrouver sa convention collective via la raison social, le siret ou ... le siren ! C'était très facile à implémenter alors j'ai rajouté la recherche par siren.
J'ai aussi corrigé un bug ou on affichait que le service était indisponible alors qu'on ne

[2020-09-10 16:33] jrduscher commented on #2947
Top pour la recherche du SIREN!
Si simple à implémenter? Si le SIREN correspond au 9 premiers chiffres du SIRET, la difficulté va résider à en faire un filtre pour afficher ensuite tous les établissements et siret répondant au siren:
Exemple:
XXX.XXX.XXX = Mc Burger SA  => CCN restauration rapide
XXX.XXX.XXX.00010 MC Burger Paris => CCN restauration rapide
XXX.XXX.XXX.00020 MC Burger Chartres=> CC

[2020-09-10 17:13] UnbearableBear commented on #2947
Hunnn, je ne comprenais pas pourquoi ça me renvoyait des sirets aussi avec, ok je vois ! Je rajoute ça demain 👌

[2020-09-14 07:58] jrduscher opened #2993 "Affichage du header en page de contenu: difficulté de faire une recherche"
**Description**
Remonté par Catherine

Description claire et concise du bug
1. Impossibilité de faire une recherche avec le header principal :
![image](https://user-images.githubusercontent.com/37538697/93058682-fe82a900-f66f-11ea-8de8-9740c8543a35.png)

2. Le header miniaturisé n’apparaît qu'en remontant la page.
![image](https://user-images.githubusercontent.com/37538697/93058812-28d46680-f670-1

[2020-09-14 08:07] lionelB commented on #2993
je ferme car le champ de recherche a été rajouté dans le header #2989.
Pour l'affichage du header au scroll, c'est un choix qui vise à privilégier l'a surface d'affichage et qui évite d'avoir à remonter en  haut de page pour faire une recherche

[2020-09-14 08:07] #2993 closed, assigned to nobody

[2020-09-14 15:28] virginielastisneres commented on #2939
❤️

[2020-09-15 08:37] UnbearableBear commented on #2834
@lionelB C'est good si je m'ne occupe ou tu veux le faire ?

[2020-09-15 11:47] lionelB commented on #2469
closed by #2687

[2020-09-15 11:47] #2469 closed, assigned to nobody

[2020-09-15 12:23] lionelB commented on #2834
fais toi plaiz'

[2020-09-15 16:25] #2845 closed, assigned to nobody

[2020-09-17 07:52] virginielastisneres commented on #2845
@lionelB on peut passer cette issue dans done du coup ?

[2020-09-17 08:14] #2042 closed, assigned to lionelB

[2020-09-17 08:46] lionelB commented on #2845
ah oui ;)

[2020-09-17 12:09] #2834 closed, assigned to UnbearableBear

[2020-09-21 09:07] lionelB opened #3000 "host static json content in cdtn admin"
Actually we have some static content (json file)
we need to migrate those file to cdtn-admin and request them during @cdt/data image building

[2020-09-22 08:52] virginielastisneres commented on #2947
@UnbearableBear Manu tu en es ou de cette tâche ?

[2020-09-22 08:55] UnbearableBear commented on #2947
Elle devrait être mergée dans la matinée !

[2020-09-22 09:04] virginielastisneres opened #3003 "Revoir l'UI des cartes outils et modèles présentes dans les contenus annexes proposés"
## Problème
Impossible de voir les contenus annexes proposés lorsqu'il y a 2 modèles/outils proposés sur le côté. Les cartes trop importantes bloquent le scroll.
cf=>> https://code.travail.gouv.fr/modeles-de-courriers/signalement-de-faits-pouvant-relever-du-harcelement-moral-ou-sexuel

draft draft coming

[2020-09-22 13:24] #2947 closed, assigned to UnbearableBear

[2020-09-23 10:23] virginielastisneres opened #3006 "Suppression de pages éditorialisées obsolètes"
## Contexte

Nous avons mis à jour le dossier Coronavirus au fur et à mesure en enlevant notamment des pages éditorialisées devenues obsolète. My bad, le soucis étant que je n'ai pas précisé dans l'issue qu'il fallait supprimer ces pages du dossier mais également du cdtn de manière générale. Par conséquent, nous avons des pages obsolètes sur le site.
Exemple :

## Solution

Voici la liste des page

[2020-09-24 08:32] #3006 closed, assigned to UnbearableBear

[2020-09-24 09:58] virginielastisneres opened #3010 "Modif dossier"
## Solution

Dans le dossier coronavirus : https://code.travail.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus.

Il faut modifier le nom du lien "Protocole national de déconfinement du Ministère du travail" présent dans la rubrique "Santé et sécurité au travail" par "Protocole national pour assurer la santé et la sécurité des salariés en entreprise face à l’épidémie de COVI

[2020-09-24 10:01] #2867 closed, assigned to UnbearableBear

[2020-09-24 11:00] UnbearableBear commented on #3010
Already done: https://master-code-travail.dev2.fabrique.social.gouv.fr/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus

[2020-09-24 11:00] #3010 closed, assigned to nobody

[2020-09-25 13:57] virginielastisneres opened #3013 "Kibana : Reporting V1"
# Contexte

Très bonne présentation de Kibana ici =>> https://hackmd.io/rHB_eeL5QlWcXAV1blfLXQ?both
En parallèle de la préparation de Kibana, l'équipe métier a été créé un rapport mensuel sur le CDTN comprennant diverses métriques.
Par conséquent, et afin d'automatiser au mieux ce rapport mensuel, il a été décidé d'intégrer dans Kibana les données utiles au rapport.

# Solution

A intégrer dans Ki

[2020-09-28 12:35] #2988 closed, assigned to rmelisson

[2020-09-28 15:11] rmelisson commented on #3013
et aussi, de manière ponctuelle : contenus jamais visité pour Jonathan

[2020-09-29 14:42] rmelisson opened #3017 "Utiliser Elastic pour le match Prequalified / DF"
Pour le moment, on utilise juste fuzzball pour le fuzzy matching des requête "prequalified" (DF).
En gros on autorise des variations assez simples des requêtes DF, mais dès qu'on s'éloigne un peu trop d'un requête, l'algo ne matchera pas.
Un cas d'exemple récent :
[code]

La solution serait d'utiliser directement Elastic Search pour faire la correspondance requête utilisateur / datafiller.
Cela no

[2020-09-30 10:25] rmelisson opened #3019 "Augmentation des variantes et des suggestions via la Search Console API Google"
Armand a trouvé le moyen de récupérer les requêtes Google qui mènent à nos pages dans la search console.

En utilisant ce contenu via leur API, on pourrait :
- compléter beaucoup de requêtes datafiller en ajoutant ces variantes
- ajouter du contenu à notre suggester
- évaluer la pertinence de notre moteur pour certaines de ces requêtes (est-ce que les résultats sélectionnés par l'utilisateur sont

[2020-09-30 16:44] ArmandGiraud commented on #3013
1. La fréquentation :

- [x] Nombre de visites mensuel
- [x] avec si possible visuel barplot par mois
- [x] Nombre de visites depuis le 1er janvier 2020
`On a de la donnée que depuis mars`
- [x] Nombre de visites par jour en moyenne par chaque semaine
`la moyenne c'est indispensable? le nombre de visites par semaine c'est pas mal aussi non?`
- [x] avec si possible visuel courbe d'évolution de la m

[2020-10-01 08:58] virginielastisneres opened #3026 "New UX des thèmes V1"
# Contexte

Nous sommes en train de migrer les thèmes dans la nouvelle administration. Nous voulons profiter de cette occasion pour revoir l'UX des thèmes qui d'après les stats de navigation ne sont pas très satisfaisantes alors que les thèmes représentent presque 10% de notre contenu visité (8,6%).
L'objectif des thèmes étant la présentation de divers contenus regroupés selon une thématique défin

[2020-10-01 16:04] virginielastisneres opened #3027 "Supprimer le bandeau + réorganisation home page"
# Contexte

Après avoir regardé les stats de navigation des personnes qui sont sur la home page, on remarque que les gens cliquent en premier sur la boite à outils en haut puis les outils présentés dans la rubrique juste après la barre de recherche. C'est dommage de mettre en avant en premier des outils alors que les gens y vont déjà grâce au lien en haut "boite à outils".
Alors qu'à l'inverse nos

[2020-10-01 17:01] virginielastisneres opened #3028 "Fonctionnalité partage de contenu"
# Contexte

Dans son plan de déploiement pour le Code du travail numérique, Jonathan propose l'action suivante : ajouter les boutons de partage par mail et sur les réseaux sociaux de nos contenus.
Comme il dit : "les meilleurs contenus sont ceux qui se partagent".

# Solution

## Résumé

Ajouter des boutons de partage sur chacun de les contenus suivants :
- les pages fiches du ministère du travail

[2020-10-05 12:01] virginielastisneres opened #3030 "Dossier Coronavirus : update"
# 1. Remplacer un lien

- Retirer temporairement le lien suivant https://code.travail.gouv.fr/fiche-ministere-travail/garde-denfants-et-personnes-vulnerables.
- Et le remplacer par cette fiche https://www.service-public.fr/particuliers/actualites/A14242 (**normalement elle arrive sur le cdtn cette fiche**).
- Mettre comme nom au lien "Personnes vulnérables : le nouveau dispositif"

# 2. Ajout d'un

[2020-10-06 11:44] rmelisson commented on #2361
À noter que l'article est bien présent dans la section, "que dit le code du travail"
Finalement, il s'agit surtout de detecter ce scenario et d'adapter les résultats de recherche en fonction, car ce n'est pas à proprement parler une requête par "mot clé"

[2020-10-06 11:46] rmelisson commented on #2361
par exemple, on pourrait utiliser la recherche "related item" en partant du text dudit article

[2020-10-06 15:32] virginielastisneres opened #3032 "BUG Pas de bouton sur le lien "Notre aide" dans les outils"
## Problème détecté et solution

Quand je veux cliquer sur notre aide ca me renvoi à la fin du parcours https://code.travail.gouv.fr/outils/preavis-demission
Alors que cela devrait me renvoyer à la modale d'aide à la recherche des CCs comme ici => https://code.travail.gouv.fr/convention-collective
J'ai l'impression que cela est bon également sur les pages des contributions.
Le problème semble appa

[2020-10-07 08:44] lionelB opened #3033 "ML - on n'utilise pas le bon jeux de stop words"
Sur cdtn on a 2 jeux de stopwords
 - un jeu pour elastic
 - un jeu pour la vectorisation des document

Le vectorizer utilise `require("../dataset/stop_words");` qui renvoi le fichier stop_words.json  (et non semantic_stop_words.json)

Concernant les stopwords, il existe un package qui liste les stopwords, est ce qu'on l'utilise ?

[2020-10-07 09:00] revolunet commented on #3033
https://github.com/stopwords-iso/stopwords-fr ?

[2020-10-07 16:35] #3027 closed, assigned to UnbearableBear

[2020-10-08 07:09] lionelB commented on #3032
closed by #3034

[2020-10-09 09:09] #3030 closed, assigned to UnbearableBear

[2020-10-13 11:23] #3032 closed, assigned to UnbearableBear

[2020-10-14 08:04] virginielastisneres commented on #3028
+ Mise en place d'un tracking temporaire pour analyser le comportement des utilisateurs.

Category : clic_share
Action : [nom de l'option share cliquée : Facebook/mail/Whatsapp etc.]
Name : [nom de la page]

[2020-10-15 09:41] lionelB opened #3048 "refactor: merge CCN and CCN_PAGE"
since CCN_PAGE contains 99% of CCN, we should merge this two documents sources and update `/api/idcc` accordingly

[2020-10-15 14:13] virginielastisneres opened #3051 "Suppression d'un lien dans le dossier Coronavirus"
**CONTEXTE**

Il y a eu des changements juridiques sur la définition de personnes vulnérables.

**SOLUTION**

Il nous faut donc le temps de construire une petite page en français facile sur ce point

- supprimer le lien suivant "Personnes vulnérables : le nouveau dispositi" présent dans la section "Arrêt maladie et garde d'enfant"
![image](https://user-images.githubusercontent.com/48682104/9614068

[2020-10-16 08:36] #3048 closed, assigned to nobody

[2020-10-16 08:42] #3028 closed, assigned to UnbearableBear

[2020-10-16 09:59] #3051 closed, assigned to nobody

[2020-10-19 08:33] #2750 closed, assigned to rmelisson

[2020-10-19 11:58] virginielastisneres opened #3056 "Questionnaire aléatoire // Mieux connaître nos utilisateurs"
# Contexte

Le code du travail numérique a pour objectif de viser les salariés et employeur en particulier ceux de TPE/PME afin de les aider dans la compréhension du droit du travail.
Plusieurs fois nous nous sommes interrogés sur qui étaient nos utilisateurs réels. Nous avons eu une forte hausse des consultations des articles du code du travail consultés, des requêtes très spécifiques type juridi

[2020-10-19 16:28] UnbearableBear opened #3057 "Gérer les 404 correctement (edit: solved avec next 10 ?)"
Actuellement, nos pages 404 renvoient un status 200 sur la plupart des url.
exemple: https://code.travail.gouv.fr/fiche-service-public/pouet
Dans la console google, on peut constater que tous les contenus dont le slug a recemment changé sont considérées comme du "contenu dupliqué". Google considère la 404 comme une page de contenu normale :shrug:

Il faut toruver un moyen de renvoyer un status 404

[2020-10-19 16:30] UnbearableBear opened #3058 "Réécriture des URL"
related to previous https://github.com/SocialGouv/code-du-travail-numerique/issues/1482

Actuellement, le format des url est défini par sa source et son slug. Le problème est que le slug change très souvent, rendant l'url invalide. Il n'est pas souhaitable non plus d'avoir la source du document dans l'url (il vaut mieux masquer la complexité).

Grâce à Rémi, nous avons désormais un identifiant uni

[2020-10-19 16:30] UnbearableBear commented on #1482
closed in favor of https://github.com/SocialGouv/code-du-travail-numerique/issues/3058

[2020-10-19 16:30] #1482 closed, assigned to nobody

[2020-10-19 16:48] UnbearableBear commented on #2978
@lionelB @virginielastisneres

J'ai mis à jour le doc, n'hésitez pas si il manque un truc 🙏

[2020-10-20 12:13] lionelB commented on #2978
à voir,  c'est peut être faisable  :)

[2020-10-20 12:46] virginielastisneres opened #3059 "Lien 404 présents dans les articles du code du travail"
**Bug détecté**
Dans les articles du code du travail, tout nos liens qui renvoie à d'autres articles du code du travail sont en erreur 404...
https://code.travail.gouv.fr/code-du-travail/l1224-4?q=L1224-1

**Reproduction**
Recherche l'article L6325-1-1 dans le CDTN et cliquer sur  l'article L. 6325-1 ou L. 5411-1. notre page 404 apparait !

related #1928

[2020-10-20 13:33] virginielastisneres opened #3061 "Permettre de pouvoir rajouter l'outil de recherche des CCs dans le datafiller"
# Contexte

La requête "convention collective" devient très présente au sein du code du travail numérique (top 10 depuis un mois, 1300 recherches depuis janv).
Or voilà les résultats que l'on affiche
![image](https://user-images.githubusercontent.com/48682104/96592689-f231e180-12e8-11eb-9018-77cdc67945fb.png)

Une personne sur 1 quasiment clique sur le 2ème résultat qui proposent d'aller sur Légif

[2020-10-21 08:22] Jonathan2051 commented on #3058
LES PARAMÈTRES ADMINISTRABLES SOUHAITÉS 

-  URL : modification de la section réservée au titre de la page https://code.travail.gouv.fr/categorie-1/categorie-2/titre-page

OUI
les tirets (-) systématiques entre les mots
les lettres minuscules
les chiffres

NON
les lettres majuscules
les accents
les caractères spéciaux

- Balise Meta title : 70 caractères max
-  Balise Meta description : 320 caract

[2020-10-21 09:25] virginielastisneres opened #3063 "Moteur de recherches des CCs : gérer les synonymes"
# Contexte

Armand a fait une analyse de l'utilisation de notre moteur de recherche. (résumé ici > https://docs.google.com/presentation/d/1u7FisZo5RaB47wWgUDZ_OXqpGlkP5UmD7dHfSPMqFGE/edit#slide=id.ga422df53d1_0_131).
Il détecté de nombreuses recherches infructueuses.
Voici la liste des premières recherches infructueuses qui représentent environ 8% du total des recherches ne fonctionnant pas :
![Im

[2020-10-21 10:00] virginielastisneres opened #3064 "Rendre accessibles les pages des conventions collectives dans le moteur de recherche"
# Contexte

Toujours dans le contexte de l'analyse d'armand sur l'utilisation de notre moteur de recherche des CCs, nous avons également regarder la recherche des CCs dans notre moteur général. (résumé ici > https://docs.google.com/presentation/d/1u7FisZo5RaB47wWgUDZ_OXqpGlkP5UmD7dHfSPMqFGE/edit#slide=id.ga422df53d1_0_131).
Rien que sur 3 mois, pour uniquement les 51 CCs traitées et uniquement ave

[2020-10-23 08:41] jrduscher opened #3066 "Problèmes à l'impression des pages"
**Description**
Problèmes à l'impression des documents depuis le code du travail : une partie du contenu est manquant et la mise en forme n'est pas bonne ( pages blanches, pages avec l'entête du site uniquement...)

[Sécurité et santé des travailleurs _ les obligations générales de l’employeur et sa responsabilité.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/5428319/Securite.

[2020-10-23 09:21] #3061 closed, assigned to lionelB

[2020-10-23 09:21] #3059 closed, assigned to lionelB

[2020-10-26 04:40] undeuxdroit opened #3069 "Bug report : l'adresse de contact codedutravailnumerique@travail.gouv.fr ne fonctionne pas !"
**Description**
j'ai envoyé un mail à codedutravailnumerique@travail.gouv.fr et j'ai reçu le message d'erreur suivant :

**Reproduction**

Exchange2013-Postmaster@eridan.social.gouv.fr
5:25 AM (11 minutes ago)
to me

Échec de la remise pour ces destinataires ou groupes :

code-du-travail-numerique@orion.gouv.TO.RES
L'adresse de messagerie que vous avez entrée est introuvable. Vérifiez l'adresse de

[2020-10-26 04:47] undeuxdroit opened #3070 "Erreur dans le formulaire pour le calcul de l'indemnité de précarité"
il y a une erreur dans le formulaire [https://code.travail.gouv.fr/outils/indemnite-precarite](https://code.travail.gouv.fr/outils/indemnite-precarite)

A la troisième étape, _"informations générales"_ il est demandé _"Le salarié a-t-il refusé de renouveler le CDD alors que le CDD comportait **une clause de renouvellement automatique** ?"_
Et il faut répondre non à cette question, sinon il est ind

[2020-10-26 15:34] jrduscher commented on #3066
### Autre exemple complémentaire:

Un scroll vers le haut en pleine page suivi d'un ctrl-p fait apparaitre le champ de recherche du site sur le document imprimé relatif au contenu suivant  https://code.travail.gouv.fr/contribution/quelle-est-la-duree-de-preavis-en-cas-de-depart-a-la-retraite

![image](https://user-images.githubusercontent.com/37538697/97193109-eb9fe000-17a8-11eb-9236-61cd081ae8c2.

[2020-10-27 08:41] UnbearableBear commented on #3069
Bonjour, merci beaucoup d'avoir remonté ce problème, nous allons regarder ça très prochainement !

[2020-10-27 09:38] virginielastisneres commented on #2978
Oui je suis d'accord avec lionel à voir dans un premier temps si cela est possible :)

[2020-10-27 09:39] virginielastisneres commented on #2978
j'ai une petite question pratique de veille :
du coup avec cette solution si la contribution générale est modifiée est ce que cela modifiera la contribution générale présente dans les pages des contributions conventionnelles ?

[2020-10-27 09:46] UnbearableBear commented on #2978
Je suis pas sur de bien saisir la question mais oui, il faut que la source de donnée soit mutualisée, qu'on soit sur la page générale ou sur une page spécifique avec l'info générale. Ce serait ingérable sinon.

[2020-10-27 10:12] virginielastisneres commented on #2978
Super on est d'accord :)

[2020-10-27 11:09] rmelisson commented on #2613
Pour mémoire, rapport des covisites, octobre 2020
[code]

[2020-10-28 09:37] UnbearableBear opened #3076 "Contenus en double dans la search"
Lorsque des slug sont identiques, des contenus en double apparaissent dans la search sur les requete préqualifiées

[2020-10-28 13:18] #3076 closed, assigned to nobody

[2020-10-29 09:21] virginielastisneres opened #3078 "Ajout outil externe"
La rupture conventionnelle est un sujet très sollicité sur le CDTN. Or il existe un site gouvernemental consacrée à la rupture conventionnelle et aux démarches à effectuer. https://www.telerc.travail.gouv.fr/accueil
Est compris sur ce site un simulateur des délais de rétractation et d'homologation à respecter.
Il serait bien de l'ajouter.

# New outil dans Elastic

**URL** : https://www.telerc.tra

[2020-10-29 13:32] #3078 closed, assigned to UnbearableBear

[2020-11-02 13:30] jrduscher commented on #2786
Problème résolu avec le datafiller

[2020-11-02 13:30] #2786 closed, assigned to nobody

[2020-11-03 14:46] #3069 closed, assigned to nobody

[2020-11-03 14:48] UnbearableBear commented on #3069
Le problème est résolu ! N'hésitez pas à revenir vers nous si il ressurgit. Encore merci d'avoir remonté le problème.

[2020-11-03 14:49] undeuxdroit commented on #3069
ok
c'est l'autre bug que j'avais remonté avant qui est plus important (à mon sens)

[2020-11-03 14:58] UnbearableBear commented on #3069
Je revien vers vous rapidement à ce sujet

[2020-11-03 15:07] UnbearableBear commented on #3070
Bonjour,

Merci d'avoir remonté cette anomalie. Dès que les experts juridiques de notre côté auront confirmé l’erreur, nous ferons le correctif nécessaire. Nous vous tiendrons informé de la résolution.

Cordialement et en vous remerciant de l'intérêt que vous portez au CDTN

[2020-11-03 15:18] undeuxdroit commented on #3070
vous avez l'adresse mail du RH des experts juridiques à qui je peux adresser mon cv ? (je suis sérieux - cela m'intéresse)

[2020-11-03 15:53] virginielastisneres commented on #3070
Bonjour,

Je vous propose d'envoyer votre cv à l'adresse suivante afin de contacter l'équipe du code du travail numérique : codedutravailnumérique@travail.gouv.fr.

Je vous remercie pour votre intérêt et vous souhaite une bonne journée.

[2020-11-03 15:55] undeuxdroit commented on #3070
maintenant qu'elle fonctionne :-)
à très vite !

[2020-11-04 09:04] virginielastisneres commented on #3056
@lionelB @UnbearableBear Hello :) on en est où du coup concernant le tracking ? Lionel tu as pu voir s'il existait une solution auprès de la Fabrique ?

[2020-11-04 10:13] lionelB commented on #3056
pas de solution en place pour l'instant

[2020-11-04 11:17] virginielastisneres opened #3112 "Covid 19 : Pages éditoriales sur le guide employeur adapté au CDTN"
# Contexte

Le Ministère du travail a sorti un guide à destination de l'employeur pour aider à la compréhension du protocole national à mettre en oeuvre dans le cadre de la crise de la Covid-19.
Ce guide est présent [ici](https://travail-emploi.gouv.fr/le-ministere-en-action/coronavirus-covid-19/proteger-les-travailleurs-les-emplois-les-savoir-faire-et-les-competences/proteger-les-travailleurs-cov

[2020-11-05 09:34] virginielastisneres opened #3113 "COvid-19 - Page éditoriale : Intégrer le risque sanitaire dans l'entreprise"
# Contexte

Cf. #3112

# Page 1 : Intégrer le risque sanitaire dans l'entreprise

## Maquette

Maquette de la page entière avec les textes [ici](https://www.figma.com/file/f6Bzbk5x45DfqNgovU0XLV/Infographies-CDTN?node-id=608%3A1713)

## Structure de la page et liens urls

1. **Un titre et une intro** :

Titre de la page : "Covid-19 : intégrer le risque sanitaire dans l’entreprise (Protocole nation

[2020-11-05 14:39] virginielastisneres opened #3116 "Covid-19 : Page éditoriale les mesures de protection"
# Contexte

Cf. #3112

# Page 2 : les mesures de protection

## Maquette

Maquette de la page entière avec les textes [ici](https://www.figma.com/file/f6Bzbk5x45DfqNgovU0XLV/Infographies-CDTN?node-id=780%3A1727)

## Structure de la page et liens urls

1. **Un texte et une intro** :

Titre : "Covid-19 : Les mesures de protection en entreprise (Protocole national)"
Intro : cf. maquette figma

2. **A

[2020-11-06 07:08] jrduscher opened #3117 "EDGE: Affichage, suggester et fonction de recherche CCN ne fonctionnent pas"
**Description**
Différents bugs constatés sous les accordéons ne s'ouvrent pas ( et ne délivrent pas leurs précieuses informations) dans **Edge**
Microsoft Edge 42.17134.1098.0

1. Aucun suggesteur dans el moteur principal et celui des ccn( la fonctionnalité de recherche des CCN est inopérante).

2. les accordéons ne s'ouvrent pas ( et ne délivrent pas leurs précieuses informations) dans **Edge**

[2020-11-06 08:53] lionelB commented on #3117
ca sent le bug de transpil :/

[2020-11-06 11:21] jrduscher commented on #3117
### Détail de navigation pour la reproduction des bugs précités.
1. Ouverture de Edge
2. ouverture de la page principale: code.travail.gouv.fr
3. Je tape "contrat" dans le moteur de recherche. Aucun contenu n'est suggéré, mais je peux  sélectionner ok et observer une liste de résultats correspondant à la saisie.
4. Dans la liste des résultats, je vais dans la première fiche proposée: https://code.

[2020-11-06 13:56] virginielastisneres opened #3118 "Covid-19 - Page éditoriale : réagir en cas de contamination dans l’entreprise (Protocole national)"
# Contexte

Cf. #3112

# Page 1 : Réagir en cas de contamination dans l’entreprise (Protocole national)

## Maquette

Maquette de la page entière avec les textes [ici](https://www.figma.com/file/f6Bzbk5x45DfqNgovU0XLV/Infographies-CDTN?node-id=626%3A128)

## Structure de la page et liens urls

1. **Un titre et une intro** :

Titre de la page : "Covid-19 : intégrer le risque sanitaire dans l’entrep

[2020-11-06 15:12] virginielastisneres opened #3119 "Update dossier Coronavirus"
En plus des changements effectués ici, il faut également rajouter 3 liens externes :

1. Dans la section "Santé et sécurité" après les liens rajoutés dans l'issue #3112
nom du lien : "Covid-19 : organisation et fonctionnement des restaurants d'entreprise"
lien derrière : https://travail-emploi.gouv.fr/IMG/pdf/fiches_covid_restaurants_d_entreprise_vok.pdf

2. Dans la section "Santé et sécurité" apr

[2020-11-09 16:17] UnbearableBear commented on #3117
@virginielastisneres Des retours sur le nombre d'utilisateurs que ça représente ? (edge version antérieure à la 5x) Version actielle de edge: 8x, 100% fonctionnelle

[2020-11-09 17:22] #3056 closed, assigned to UnbearableBear

[2020-11-10 13:09] virginielastisneres commented on #3119
Petites modifications de dernière minute :) @UnbearableBear

## 1
Pour la section contenus populaires on change des liens voici les 6 nouveaux liens selon l'ordre :
1. [Covid-19 : Les mesures de protection en entreprise (Protocole national) ](https://29da32f-code-travail.dev2.fabrique.social.gouv.fr/information/covid-19-les-mesures-de-protection-en-entreprise-protocole-national)
2. [Covid-19 : éva

[2020-11-10 15:37] #3112 closed, assigned to nobody

[2020-11-10 15:37] #3118 closed, assigned to nobody

[2020-11-10 15:37] #3119 closed, assigned to UnbearableBear

[2020-11-10 15:37] #3113 closed, assigned to nobody

[2020-11-10 15:37] #3116 closed, assigned to nobody

[2020-11-13 10:09] virginielastisneres opened #3126 "Erreurs dans mentions légales"
Dans la page des mentions légales : https://code.travail.gouv.fr/mentions-legales

## 1
Rien de grave mais c'est vraiment pas beau. Dans la 1ère phrase 2 choses à modifier :
- ajouter un espace entre "la" et "fabrique"
- ajouter un e à "situé" : "Le site est édité par la fabrique des Ministères sociaux située :"

![image](https://user-images.githubusercontent.com/48682104/99059909-810be400-259f-11

[2020-11-13 11:03] virginielastisneres opened #3128 "Option de partage dans les outils"
# Contexte

Nous avons rajouté l'option de partage de contenu il y a un peu moins d'1 mois. Cela semble être utilisé. Il serait bon de le rajouter sur tous nos contenus que l'on veut mettre en avant et donc les outils

# Solution

Ajouter les options de partage sur la page des outils selon le même modèle que les autres contenus cad en haut à droite. A mon sens pas besoin de le rajouter également e

[2020-11-16 09:05] #1087 closed, assigned to UnbearableBear, rmelisson, ArmandGiraud

[2020-11-16 09:14] #3000 closed, assigned to lionelB

[2020-11-16 09:24] ArmandGiraud commented on #3013
[Document retour métier](https://docs.google.com/document/d/1SXd498jFd6DIsDH_o7TMElM61mrS2OD3JMniOenP9CA/edit#heading=h.divozzy4zjsb)

[2020-11-16 10:38] virginielastisneres commented on #2613
@rmelisson peut-on clôturer cette issue ou on la garde pour la tâche que l'on voudrait faire qui est l'ajout des covisites dans les outils ?

[2020-11-16 12:46] virginielastisneres opened #3133 "Ajout contenus annexes proposés dans les outils"
# Contexte

Sur  les 6 derniers mois, on peut observer que les 2 premiers outils en termes de visites certains outils ont un taux de 97% pour l'un et 90% pour l'autre. Certains outils à l'inverse ont un taux de 35% ou 56% de sortie. On observe pour ceux qui ont un taux de rebond faible, les utilisateurs retournent à la page d'accueil ou vont vers des pages contenus liés au thème de l'outil.

Or à

[2020-11-16 13:35] lionelB opened #3134 "Utiliser un storage distant (type buket) pour le stockage des fichiers (modele de courriers, image, ...)"
Actuellement les fichiers sont servi par l'api et le front. Une migration vers un storage distant à été initier cote cdtn-admin, il faut donc utiliser la nouvelle propriété (fileUrl, imgUrl) pour afficher les images ou charger les documents

[2020-11-16 13:35] rmelisson commented on #2613
@virginielastisneres  on peut fermer, on fera ça dans une autre tâche

[2020-11-16 13:57] lionelB opened #3135 "Rendre accessible les document_code_du_travail dans le robots.txt"

[2020-11-16 14:01] lionelB opened #3136 "frontend: générer le sitemap au build"
- utiliser cdtn-admin pour générer le sitemap.xml au moment du build du site

[2020-11-16 14:25] virginielastisneres opened #3137 "Retirer la balise disallow pour les pages articles du code du travail"
# Constat

Cf. le travail d'analyse de @Jonathan2051

Le test de la balise disallow sur les pages des articles du code du travail avait été mis en place pour rendre le site plus clair pour les robots de Google.
Après quelques temps, il ressort que ce test n’est pas concluant : on aurait dû continuer à gagner en trafic et ce d’autant plus que l’on est en confinement. Or nous perdons du trafic.
Les

[2020-11-17 09:06] #2613 closed, assigned to rmelisson

[2020-11-17 12:40] #3134 closed, assigned to lionelB

[2020-11-18 10:12] revolunet commented on #3057
<img width="707" alt="Capture d’écran 2020-11-18 à 11 12 10" src="https://user-images.githubusercontent.com/124937/99516873-fb1cde00-298e-11eb-900e-a025157e7d32.png">

[2020-11-18 10:22] revolunet commented on #3057
<img width="858" alt="Capture d’écran 2020-11-18 à 11 22 21" src="https://user-images.githubusercontent.com/124937/99518045-59968c00-2990-11eb-8244-172942d422da.png">

[2020-11-18 10:27] UnbearableBear commented on #3057
Lorsque la page existe (dans le dossier `/pages`) mais que le fetching de data retourne une 404 on renvoie un status 200 côté front :/

[2020-11-18 10:31] jrduscher opened #3143 "Page CCN, signalement de faute d'orthographe"
## Remontée d'un usager du CDTN, portant sur une faute d'orthographe.

### Anomalie rencontrée et solution envisagée

Dans la page suivante:

https://code.travail.gouv.fr/outils/convention-collective

- Dans la section "Articles de la convention collective",

pour les thèmes suivants ci-après, "fond" doit être corrigé par "fonds" (avec s https://www.cnrtl.fr/definition/fonds)

### Reproduire l'ano

[2020-11-18 10:37] revolunet commented on #3057
Oui visiblement il nous manque le `res.statusCode` quand on ne reçoit pas d'info de l'API

https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/pages/fiche-service-public/%5Bslug%5D.js#L24

https://github.com/vercel/next.js/issues/746#issuecomment-305075299

[2020-11-18 10:42] UnbearableBear commented on #3057
hunhunnn je vais tester ça ! on utilise pas `res` pour le moment, on met statusCode dans les props directement, that's probably why

[2020-11-18 16:23] UnbearableBear opened #3145 "Outils - page d'accueil"
Actuellement nous utilisons encore la liste statique des outils sur la page d'accueil. Dangereuse duplication.
A voir comment les récupérer depuis l'admin et rendre la home statique au build time de next

[2020-11-20 07:58] lionelB commented on #3143
il y a aussi celle la dans le kali-block
![image](https://user-images.githubusercontent.com/160320/99774828-98525080-2b0e-11eb-8281-9b3e6e3e08ac.png)

[2020-11-23 09:57] virginielastisneres opened #3152 "Survey utilisateurs : améliorations"
# Constat

Après 13 jours de mise en place du questionnaire utilisateur sur le site, nous avons 310 clics sur le bouton commencer de la modale.
Cela fait peu de clics. Le temps actuel d'apparition de la modale est de 15 secondes.
Or, 63% des utilisateurs restent moins de 10 secondes sur le site. Donc 63% de nos utilisateurs n'ont pas accès à ce questionnaire.
C'est dommage également que les person

[2020-11-23 16:08] lionelB commented on #3135
duplicate of #3137

[2020-11-23 16:08] #3135 closed, assigned to nobody

[2020-11-24 07:11] #3137 closed, assigned to lionelB

[2020-11-24 07:11] #3143 closed, assigned to lionelB

[2020-11-24 09:22] virginielastisneres commented on #3137
@Jonathan2051 Pour info plus de balise disallow  tu pourras relancer tes robots araignées ahah

[2020-11-24 09:58] CaptainConan opened #3157 "Récupérer les mots commençant par "é" dans le glossaire de l'admin"
**Récupérer les mots commençant par "é" dans le glossaire de l'admin **

Les mots du glossaire commençant par "é", présents sur le CDTN ne sont pas dans le glossaire de l'admin. Il faut les y intégrer.
Il s'agit de "éligible" et "état d'urgence sanitaire".
![CDTN Glossaire KO](https://user-images.githubusercontent.com/53531631/100078320-b20fd280-2e43-11eb-886c-dadd17aa35c3.png)

[2020-11-24 10:05] UnbearableBear commented on #3157
Alors c'est pire que ça, ils y sont mais je ne le affiche pas 😱

[2020-11-24 11:22] #3126 closed, assigned to lionelB

[2020-11-24 16:29] lionelB opened #3159 "Glossaire"
Utiliser les données du glossaire de cdtn-admin plutôt que celle du datafiller

[2020-11-25 09:24] #3136 closed, assigned to lionelB

[2020-11-25 09:32] virginielastisneres opened #3162 "ajout du thème enfant dans les pages articles du CDT"
# Contexte

Je me suis rendue compte que le haut des pages des articles du code du travail étaient très vide voire trop...
J'ai compris : il manque ce qui est présent dans toutes nos pages : le thème enfant de la page ...

# Solution

Ajouter le thème enfant comme sur le modèle des pages de convention collective qui indique au dessus du titre de la convention collective : convention collective.

I

[2020-11-25 09:48] virginielastisneres opened #3163 "Fiche Service-Public.fr vide : changement de la fiche avec maintien de l'url"
# Problème

Il y a une fiche Service-Public.fr nommée Licenciement économique : entretien préalable qui est ici https://code.travail.gouv.fr/fiche-service-public/licenciement-economique-entretien-prealable et qui est VIDE.

![Capture d’écran 2020-11-25 à 10 41 55](https://user-images.githubusercontent.com/48682104/100210121-e7cbbe80-2f0a-11eb-80bd-37ba4c44650e.png)

Quand on clique sur la source

[2020-11-25 09:52] virginielastisneres opened #3164 "Fil d'Ariane qui s'étend trop"
# Constat

On peut voir que certains fils d'Ariane lorsque les sous thèmes ont des noms longs dépassent largement de la page du contenu. Visuellement cela ne va pas.
Exemple : https://code.travail.gouv.fr/fiche-service-public/licenciement-economique-entretien-prealable
![Capture d’écran 2020-11-25 à 10 45 51](https://user-images.githubusercontent.com/48682104/100211195-20b86300-2f0c-11eb-8bac-1d

[2020-11-25 14:18] #3157 closed, assigned to UnbearableBear

[2020-11-25 19:31] #3159 closed, assigned to lionelB

[2020-12-01 10:55] jrduscher opened #3186 "Affichage de la fiche mintrav Activité partielle"
### **Description**
La fiche mintrav sur l'activité partielle s'avère être la deuxième fiche la plus consultée pour cette source sur le CDTN.
Problème: Le format initial  de la fiche sous forme de tableau ne passe pas sur le CDTN. De fait cette fiche, la présentation de cette fiche laisse à désirer en terme de format.
![image](https://user-images.githubusercontent.com/37538697/100730706-b0598800-3

[2020-12-01 14:40] Armandgrd opened #3187 "Fil d'Ariane cassé pour l'outil convention collective"
**Description**
fil d'Ariane Convention collective cassé
**Reproduction**
Etapes à suivre pour reproduire le bug:
- clicker sur le fil d'ariane convention collective
![image](https://user-images.githubusercontent.com/61156889/100754450-67fe9200-33eb-11eb-9c2e-af77bd4b8caf.png)

**Comportement attendu**
pas de 404

[2020-12-01 17:45] virginielastisneres opened #3188 "Remise en ligne de la page réunions du CSE et modifications"
# Contexte

cf. #2905

# Solution

### 1. Supprimer les onglets suivants

- "Réunir le CSE par visioconférence"
- "Réunir le CSE par téléphone"
- "Réunir le CSE par messagerie instantanée"

### 2. modifier l'onglet "Synthèse"

- Changer le nom "Synthèse" par "Comment réunir les IRP (dont le CSE) pendant l'état d'urgence sanitaire ?".
- Changer l'infographie par celle ci => https://www.figma.com/fi

[2020-12-02 10:53] CaptainConan opened #3189 "[Admin] Création d'une page de contenu propre"
**Objectif**
Pouvoir créer une page de contenu via l'admin.
Il existe 3 types de pages de contenu propre:

1. Texte seul (titre et références): https://code.travail.gouv.fr/information/rupture-conventionnelle-nouveautes-covid-19
2. Plusieurs accordéons de texte: https://code.travail.gouv.fr/information/interessement-et-participation-nouveautes-covid-19
3. Plusieurs accordéons comprenant différents

[2020-12-02 20:40] ghost opened #3191 "Bug reportERREUR 404"
**Description**
Quand nous arrivons sur la page https://code.travail.gouv.fr/information/suppression-de-lattestation-garde-denfant et que nous tentons de cliquer sur le boutons "Garde d'enfant et personne vulnérable" , nous nous retrouvons sur une erreur 404 alors que nous arrivons sur la page "https://code.travail.gouv.fr/fiche-ministere-travail/garde-denfants-et-personnes-vulnerables"

**Comport

[2020-12-07 08:06] lionelB commented on #3189
moved to https://github.com/SocialGouv/cdtn-admin/issues/207

[2020-12-07 08:06] #3189 closed, assigned to UnbearableBear

[2020-12-07 11:25] virginielastisneres commented on #3188
@UnbearableBear Nous avons des modifications à faire sur cette page suite à la parution de décrets....

Voici les modifications

## Modification du titre

Remplacer "Comment réunir les IRP (dont le CSE) ?" par "Comment réunir les IRP (dont le CSE) pendant l'état d'urgence sanitaire ?".

## Modification intitulé du 1er onglet

Remplacer "Comment réunir les instances représentatives du personnel (do

[2020-12-07 11:36] virginielastisneres opened #3193 "Modification d'une question dans l'outil de l'indemnité de précarité"
# Contexte

Nous avons été alerté par undeuxdroit #3070 d'une erreur juridique dans l'outil de [l'indemnité de précarité](https://code.travail.gouv.fr/outils/indemnite-precarite) concernant la question "Le salarié a-t-il refusé de renouveler le CDD alors que le CDD comportait une clause de renouvellement automatique ?" présente à la troisième étape "informations générales".
Ce signalement a été en

[2020-12-07 13:44] #3128 closed, assigned to UnbearableBear

[2020-12-08 14:03] #3152 closed, assigned to UnbearableBear

[2020-12-08 17:09] #3193 closed, assigned to lionelB

[2020-12-09 17:52] virginielastisneres opened #3197 "Bug thémage des fiches"
# Description du bug

### Pour les fiches du ministère du travail, j'ai les fiches avec des onglets qui n'ont pas de thème il est écrit "Ministère du travail"
![image](https://user-images.githubusercontent.com/48682104/101667250-6407eb00-3a4f-11eb-8955-3495e79aec66.png)

### **alors que si on va sur la fiche cette dernière est bien thémée.**
![image](https://user-images.githubusercontent.com/48682

[2020-12-10 09:08] virginielastisneres commented on #1880
@jrduscher j'ai mis l'issue dans le planning

[2020-12-10 10:15] #3197 closed, assigned to UnbearableBear

[2020-12-10 13:50] virginielastisneres opened #3200 "Dossier aides à l'embauche et au maintien à l'emploi"
# Contexte

Dossier fait et suivi par @jrduscher

Il a été fait le choix pour balancer le dossier licenciement de créer un dossier dédié à l'incitation à l'embauche et au maintien de l'emploi.
L'objet de ce développement est permettre sa validation dans des conditions réelles. La validation se fera sur la branche.
Ce dossier contient des contenus déjà hébergés sur le CDTN et quelques ressources ex

[2020-12-11 08:04] lionelB commented on #3200
cela veut dire qu'on va rendre les dossiers paramétrables pour pouvoir supporter
- le déclenchement du bouton voir plus
- l'utilisation possible de sous-thèmes

[2020-12-11 09:16] virginielastisneres commented on #3200
Honnêtement lionel j'aurais bien voulu dire oui, mais de ce que je comprends il vaut mieux ne rien prévoir pour l'administration des dossiers pour l'instant car : chaque dossier doit pouvoir avoir sa propre structure ... donc potentiellement en 21 si on a un autre dossier ca pourrait être complètement différent

[2020-12-14 10:42] UnbearableBear commented on #3200
Il faudra faire les modifications côté côté cdnt quoi qu'il en soit

[2020-12-14 13:35] rmelisson opened #3207 "Amélioration de la recherche d'entreprise"
Notre besoin dans le moteur de recherche est d'identifier un SIRET afin de sélectionner la convention collective associée.

Cette recherche est assez limitée pour le moment. Par exemple, si la raison sociale de l'entreprise est très différente du nom de l'enseigne, il n'y a pas de correspondance entre les deux désignations.

Il faudrait dans un premier temps:
- [ ] lister les cas problématiques
-

[2020-12-14 13:36] rmelisson commented on #3207
voir : https://annuaire-entreprises.data.gouv.fr/

[2020-12-16 14:35] #1880 closed, assigned to lionelB

[2020-12-16 15:02] virginielastisneres opened #3212 "Longue vie aux tests end to end"
#2422

# Liste des fonctionnalités/parcours à tester

- [x] Page d'accueil (les différentes sections de la page)
- [x] Recherche générale
- [x] Recherche de convention collective
- [x] Pages du footer
  - [x] Page à propos (dans le test plus large du footer)
  - [x] Page droit du travail (dans le test plus large du footer)
  - [x] Page glossaire
  - [x] Page mentions légales
  - [x] Page Politique

[2021-01-04 10:01] #3188 closed, assigned to lionelB, UnbearableBear

[2021-01-04 12:37] lionelB commented on #3200
si pas de valeur > on affiche tout, sinon on utilise la valeur pour configurer le "voir plus". Cela permet d'éviter de migrer les données.

format des références actuelles:
[code]

proposition de migration
[code]
and `category` field is non mandatory

I also propose to remove `position` and use the array order for that.

[2021-01-04 13:57] lionelB opened #3226 "Migration des données datafiller vers l'admin"
Afin de pouvoir débrancher le datafiller, nous avons besoin de migrer les données des requêtes `prequalified`dans cdtn-admin.

Pour cela, on pourrait créer un nouveau type de relation.
[code]

[2021-01-04 14:04] rmelisson opened #3227 "Thémes : contenus populaires"
Pour le moment, les seuls contenus affichés dans les thèmes sont ceux directement attaché au thème.

Nous pourrions mettre en avant certains contenus populaires directement dans les thèmes principaux (de niveau 1, en haut de la hiérarchie).

Par exemple si le contenu "duree-du-travail-dun-salarie-a-temps-plein" (situé dans `Temps de travail / Durée du travail / Durée du travail à temps complet`) e

[2021-01-04 14:04] rmelisson commented on #3227
ce ticket fait suite au travail sur les thèmes d'@ArmandGiraud

[2021-01-04 14:41] UnbearableBear commented on #3200
[code]

[2021-01-04 15:39] rmelisson commented on #3207
https://api.gouv.fr/les-api/api-entreprise
https://www.sirene.fr/sirene/public/accueil (cf. FCE)
V1 de l'API Sirene

https://www.data.gouv.fr/fr/datasets/base-sirene-des-entreprises-et-de-leurs-etablissements-siren-siret/

[2021-01-04 15:40] rmelisson commented on #3207
grouper les résultats en fonction de la CC (pour éviter 50 résultats avec un nom similaire et la même CC)

[2021-01-05 15:19] virginielastisneres opened #3229 "Modification vignette pour les réseaux sociaux"
# Contexte

Cela fait 2 fois que la com de la dgt nous demande de modifier notre vignette présente sur les réseaux sociaux lorsque l'on met un lien du code du travail numérique.
Or, la vignette actuelle est le logo de la mariane. Cela était voulu pour affirmer notre légitimité et fiabilité.
Aujourd'hui, ca donne ca
![image](https://user-images.githubusercontent.com/48682104/103663093-02b13a00-4f71

[2021-01-05 16:14] lionelB commented on #3229
Je pense qu'on pourrait agrandir un peu la taille du logo (#makemylogobigger)  pour occuper plus d'espace mais sinon la proposition est top !

[2021-01-05 17:26] UnbearableBear commented on #3229
Gut !

[2021-01-05 17:28] UnbearableBear commented on #3227
@virginielastisneres Bonne idée non ?

[2021-01-05 17:34] virginielastisneres commented on #3227
ahah on se calme manu :) oui je regarde ca demain !

[2021-01-05 17:36] virginielastisneres commented on #3229
oui oui why not j'ai mis dans la maquette une version avec le logo plus gros 👍

[2021-01-06 15:22] virginielastisneres opened #3232 "[Bug] pas de fiche dans la requête amiante"
# Bug

Lorsque l'on fait la requête "amiante" nous n'avons aucun contenu proposé.
https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/recherche?q=amiante

Or, cette requête est pré-qualified dans le datafiller et il y a une fiche du ministère du travail renseignée
![image](https://user-images.githubusercontent.com/48682104/103784782-a9add880-503a-11eb-98ee-73aa13e59d99.png)

Pourtant ce

[2021-01-06 17:46] lionelB commented on #3232
Je pense que cela vient du fait que la fiche n'est plus découpée en paragraphe, du coup les ancres ne correspondent plus à un document d'où le fait qu'on pas de tuile résultats.

[2021-01-06 17:49] lionelB commented on #3232
les sections qui existent sont
- Plan d’actions interministériel amiante
- Plan pluriannuel et stratégique du ministère du travail – prévention des expositions des travailleurs à l’amiante (2017-2021)

[2021-01-08 09:22] #3229 closed, assigned to UnbearableBear

[2021-01-08 09:40] revolunet opened #3235 "Exception /stats"
Je n'ai pas beaucoup plus d'info mais dans les logs je vois pas mal d'erreurs de ce type :

<img width="576" alt="Capture d’écran 2021-01-08 à 10 37 30" src="https://user-images.githubusercontent.com/124937/103999813-ad0da500-519d-11eb-97f3-39a1e15f4cb3.png">

La page "/stats" semble inaccessible

https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-api/sr

[2021-01-08 16:29] virginielastisneres commented on #3235
Je confirme j'ai une erreur 500 quand j'essaye d'accéder à cette page https://code.travail.gouv.fr/stats

![image](https://user-images.githubusercontent.com/48682104/104039686-f9c1a200-51d6-11eb-848a-5b2d096e0f49.png)

[2021-01-11 08:19] lionelB commented on #3235
Je propose qu'on voit si on peut reprendre la page en utilisant des infos provenant de monolog

[2021-01-11 09:36] #3187 closed, assigned to lionelB

[2021-01-11 10:05] revolunet opened #3243 "fix: fix default DOMAIN for production"
Je pense qu'il faudrait également changer le DOMAIN de prod ici : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/.gitlab-ci/env.sh#L51

tout en ne modifiant pas l'url de l'api qui doit rester api.code.travail.fabrique.social.gouv.fr

[2021-01-11 10:06] revolunet opened #3244 "fix: 301 redirect of cdtn.fabrique.social.gouv.Fr"
Faire la redir 301 au niveau nginx/ingress

[2021-01-11 12:45] #1411 closed, assigned to revolunet, lionelB, rmelisson

[2021-01-11 12:46] #2731 closed, assigned to ArmandGiraud

[2021-01-11 15:13] rmelisson commented on #3207
ordonner les résultats par effectif

[2021-01-11 15:14] rmelisson commented on #3207
utiliser l'api annuaire (postgresql basé sur la donnée sirene) :
https://github.com/etalab/api-annuaire-entreprises/

[2021-01-11 16:46] lionelB opened #3245 "generation des sitemap statique"
![image](https://user-images.githubusercontent.com/160320/104211924-f166a280-5434-11eb-9f95-a7dea7d4a248.png)

[2021-01-11 17:14] #3235 closed, assigned to lionelB

[2021-01-12 10:13] rmelisson commented on #3064
Commentaires v1 :
- Metallurgie : booster CC nationale vs. departementales
- CC trop haute : handicap / hospitalisation enfant / transport
- CC trop basse : syntec / cc chimie

[2021-01-12 10:15] rmelisson commented on #3207
Option retenue , prototype avec :
- Recherche par nom (raison sociale / enseigne ?) + ville + code postal
- Utilisation d'ES si aussi simple que Postgres / API annuaire entreprise

Check cas particuliers / examples :
- Michelin
- Amazon
- Zara
- Cafe de la gare

[2021-01-13 09:32] revolunet opened #3249 "Lien vers la CC legifrance"
Le lien vers la CC legifrance ne semble plus opérationnel

<img width="704" alt="Capture d’écran 2021-01-13 à 10 29 04" src="https://user-images.githubusercontent.com/124937/104433478-70b9ba80-558a-11eb-91e1-394d23bb802c.png">

Le champ `url` n'est pas présent dans ce que l'on récupère via l'api

https://code.travail.gouv.fr/convention-collective/829-convention-collective-departementale-des-indu

[2021-01-14 13:20] #2978 closed, assigned to lionelB

[2021-01-15 13:40] lionelB opened #3259 "Perf: Glossaire"
la performance de l'algo de marquage / remplacement des mots du glossaire dans les document prend énormement de temps. Il faudrait voir comment on peut améliorer ses performance / changer l'organisation des pipeline pour éviter que la tache ne dure 1heure

[2021-01-15 13:40] lionelB commented on #3259
poke @rmelisson @ArmandGiraud  @revolunet @UnbearableBear

[2021-01-15 13:41] lionelB commented on #3259
some idea https://www.npmjs.com/package/hast-util-find-and-replace

[2021-01-18 08:44] virginielastisneres commented on #3249
humm cela ne serait-il pas dû au fait que cette convention collective n'existe pas sur Légifrance cc @CaptainConan ?

[2021-01-18 09:36] CaptainConan commented on #3249
C'est tout à fait ça @virginielastisneres: elle n'est pas sur LégiFrance (en tant qu'infra) :)

[2021-01-18 10:05] lionelB commented on #3249
on enleve le lien pour les cc qui n'ont pas d'url ?

[2021-01-18 10:09] CaptainConan commented on #3249
Le lien "Source: Légifrance" ? Oui :)

[2021-01-18 10:25] virginielastisneres commented on #3249
yes

[2021-01-18 14:53] lionelB opened #3264 "contribution theme not found in ccn pages"
After spliting contribution answer by ccn, the contribution lookup was broken

[2021-01-19 07:36] #3264 closed, assigned to nobody

[2021-01-19 08:49] #3249 closed, assigned to lionelB

[2021-01-19 09:00] virginielastisneres opened #3266 "[Bug] Perte des thèmes dans les page des conventions collectives"
**Description**
Dans nos pages des conventions collectives nous avons perdu les thèmes affiliés aux contributions. Toutes les contributions se retrouvent désormais sous le thème "autres".
![image](https://user-images.githubusercontent.com/48682104/105011330-1ebade00-5a3d-11eb-98ec-89314adef19d.png)

**Reproduction**
Aller en préprod sur une page de convention collective. Exemple celle de la banque

[2021-01-19 09:50] virginielastisneres commented on #3226
je clôture car on déjà une issue ~~#272~~

[2021-01-19 09:51] lionelB commented on #3226
https://github.com/SocialGouv/cdtn-admin/issues/272

[2021-01-19 09:51] #3226 closed, assigned to nobody

[2021-01-19 09:53] #3070 closed, assigned to nobody

[2021-01-19 09:57] lionelB commented on #3266
closed by #3265

[2021-01-19 09:57] #3266 closed, assigned to nobody

[2021-01-19 09:58] lionelB commented on #3266
duplicate of  #3264

[2021-01-19 16:18] noemiechassard opened #3268 "Simulateur de départ ou de mise à la retraite"
# Contexte #
## Objectif : ##

Permettre à l’utilisateur, employeur ou salarié, de connaître la durée du préavis qu’il aura à effectuer avant son départ ou sa mise à la retraite.

Le départ à la retraite et la mise à la retraite sont 2 situations différentes. Le départ à la retraite correspond à la situation où le salarié décide de lui-même de quitter son emploi afin de prendre sa retraite.

La mi

[2021-01-21 14:14] virginielastisneres commented on #3163
J'ai découvert une nouvelle fiche ca serait bien de faire une passe ou de trouver un moyen de détecter ces pages vides car honnêtement elle pollue le cdt.

Ici la fiche de SP sur la période d'essai qui est un sujet assez important... https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/fiche-service-public/periode-dessai
Cette fiche m'est proposée sur le coté alors qu'elle est vide
![ima

[2021-01-25 08:16] lionelB commented on #3245
closed by #3267 and https://github.com/SocialGouv/cdtn-admin/pull/259

[2021-01-25 08:16] #3245 closed, assigned to nobody

[2021-01-27 14:28] UnbearableBear commented on #3066
Alors j'ai essayé de repro le contenu tronqué sur chrome (latester) safari (lastest) et firefox (latest), mais j'ai la page en entier à chaque fois. A mon avis, peut-etre que l'option d'impression des pages était renseigné à 0-2 ce qui coupe effectivement les pages suivantes sur ton navigateur.

Concernant la search là pour le coup je pense que c'est un bug qui a été déjà résolu dans une autre PR,

[2021-01-27 14:28] #3066 closed, assigned to nobody

[2021-01-28 08:33] #3232 closed, assigned to nobody

[2021-01-28 08:33] UnbearableBear commented on #3232
outdated, datafiller passed away

[2021-01-28 16:28] UnbearableBear commented on #3163
duplicate of https://github.com/SocialGouv/cdtn-admin/issues/263 and https://github.com/SocialGouv/cdtn-admin/issues/133
Qui plus est, les fiches qui posaient problème sont désormais remplies à nouveau 👍

[2021-01-28 16:31] #3163 closed, assigned to UnbearableBear

[2021-01-28 17:38] #3162 closed, assigned to UnbearableBear

[2021-01-29 10:34] #3133 closed, assigned to UnbearableBear

[2021-02-01 10:36] #3064 closed, assigned to nobody

[2021-02-03 07:52] rmelisson commented on #2550
Je relance le sujet suite aux discussions récentes, je suis partant pour :
- un choix d'options standard (contenu non pertinent / contenu incompréhensible / contenu pas assez précis ...)
- une option commentaire libre qui n'aurait surtout pas vocation à recevoir une quelconque réponse (à clairement expliciter dans la formulation)

[2021-02-03 07:54] rmelisson opened #3284 "Statistiques : mise à jour des informations affichées"
Mise à jour de la page stats, à discuter.
Possibilité d'utiliser les rapports mensuels de Monolog afin de calculer ces stats.

[2021-02-04 16:50] virginielastisneres commented on #3207
Retours test requête "Michelin Clermont-ferrand"
Je tape Michelin j'ai toute une liste et je vois que l'entreprise que je cherche est là
![Capture d’écran 2021-02-04 à 17 48 15](https://user-images.githubusercontent.com/48682104/106926308-41254a80-6711-11eb-86b9-64b66b467364.png)
j'ai voulu rajouter Clermont-ferrand pour être plus précise dans ma recherche et j'ai perdu mes résultats.
![Capture d’

[2021-02-04 17:00] virginielastisneres commented on #3207
C'est pas du tout géant de n'avoir que la ville et le code postal pour la recherche par nom d'entreprise c'est même logique vu qu'on demande que ça.

C'est plus perturbant pour la recherche par adresse postale car du coup on se retrouve avec tout et on voit pas le détail de l'adresse. il faudrait peut être rajouter l'adresse en entière pour le cas de recherche par adresse postale
![Capture d’écran

[2021-02-04 17:04] virginielastisneres commented on #3207
Autre point sur la recherche par adresse pour l'adresse suivante "16 RUE DES HALLES 75001 PARIS 1" => je cherche le siret 81225808500016 (mon restaurant Gemini)

quand je mets l'adresse exacte présente sur mon annuaire-entreprise. Cesar (raison sociale de l'entreprise, enseigne Gemini) ne ressort pas. Il est en 12ème position...
![Capture d’écran 2021-02-04 à 18 02 15](https://user-images.githubus

[2021-02-04 17:20] virginielastisneres commented on #3207
je comprends dès que j'essaye la requête "airfrance" j'ai service indisponible alors que j'en essaye d'autres ça fonctionne mais dès que je reviens à airfrance ça ne fonctionne plus
![Capture d’écran 2021-02-04 à 18 14 22](https://user-images.githubusercontent.com/48682104/106929656-ed1c6500-6714-11eb-827b-eda462f0cd10.png)

ça fonctionne avec Air France ou avec le tiret 42049517800014

[2021-02-04 17:25] virginielastisneres commented on #3207
2 soucis avec la recherche "banque de France" =>

1. en tapant banque de France je ne trouve pas alors que c'est bien son nom...
![Capture d’écran 2021-02-04 à 18 24 26](https://user-images.githubusercontent.com/48682104/106930801-3d47f700-6716-11eb-82d4-9e95c90cbad7.png)

2. avec le siret j'ai une convention collective bizarre
siret "57210489100013" (j'ai vérifié sur annuaire entreprise ils mette

[2021-02-04 17:26] virginielastisneres commented on #3207
fait formidable je la retrouve par l'adresse également. bon par contre toujours pas la bonne cc
![Capture d’écran 2021-02-04 à 18 25 54](https://user-images.githubusercontent.com/48682104/106931076-7e400b80-6716-11eb-868e-229bf97fc270.png)

[2021-02-04 17:45] virginielastisneres commented on #3207
requête "mcdonald's"

je commence à taper la requête "mcdonal" et j'ai
![Capture d’écran 2021-02-04 à 18 42 33](https://user-images.githubusercontent.com/48682104/106933205-f1e31800-6718-11eb-9cf1-099e5e50cde4.png)

dès que je rajoute le "d" à la fin ça refonctionne mais j'ai failli m'arrêter en me disant mince je dois me tromper sur l'orthographe
![Capture d’écran 2021-02-04 à 18 45 05](https://u

[2021-02-04 17:57] virginielastisneres commented on #3207
Je fais la requête "La poste" je n'ai pas de résultat du tout. L'entreprise existe bien sur annuaire-entreprise.
Je tente avec le siret de celle rue des halles 35600000037187, je ne trouve pas non plus

[2021-02-08 12:46] virginielastisneres commented on #2190
ci-joint l'url de la fiche concernée : https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/contribution/quelle-est-la-duree-du-preavis-en-cas-de-demission?q=pr%C3%A9avis%20de%20d%C3%A9mission

[2021-02-08 12:56] virginielastisneres opened #3292 "Comment fonctionne la mise à jour des fiches SP"
**Description**

Suite au bug détecté et réparé directement sur la fiche de Service-Public.fr : https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/fiche-service-public/duree-du-travail-dun-salarie-a-temps-plein, on s'interroge sur le système de mise à jour des fiches SP et comment cela a pu arriver.

1. Question : à partir de quand les mises à jour des fiches SP remontent chez nous ?
2

[2021-02-08 14:18] #2190 closed, assigned to nobody

[2021-02-08 14:27] rmelisson commented on #3207
En fait le prob principal avec la ville en toutes lettres, c'est que beaucoup d'entreprises ont le nom de leur ville dans leur raison sociale, donc si tu cherches `Michelin Clermont Ferrand`, les entreprises telles que "WESFORD CLERMONT FERRAND" matcheront mieux que "MANUF FRANC PNEUMATIQ MICHELIN" car pour la première clermont ferrand apparaît direct dans son titre.

2 options pour palier à ce pr

[2021-02-09 13:38] virginielastisneres opened #3293 "Formatage des balise title des contributions avec les CCs"
# Contexte

Suite au travail sur la découpe des urls des contributions pour obtenir une url par contribution et par convention collective, j'ai regardé ce que cela donnait en présentation sur les moteurs.

Exemple ici avec durée préavis de la CC automobile :
![image](https://user-images.githubusercontent.com/48682104/107370784-b747f980-6ae3-11eb-9953-59ebb0467f03.png)

On remarque que l'on ne met

[2021-02-09 18:41] lionelB opened #3295 "api: add a handler for / route"
there is a missing base endpoint for / route. we need to add one so dashboard can see api online

[2021-02-11 10:32] virginielastisneres opened #3297 "Test : Listes des meta title / meta description des contributions avec nouveau formatage automatique"
**Problème**

cf. le constat [ici ](#3293)

**Solution**

Avant de savoir si nous allons changer les metatitles/metadescription des 5 000 contributions en les formatant de manière automatique, il faudrait sortir **la liste des metatitles et des metadescription pour chaque contribution comme suit :

## Pour les contributions avec dans l'url la convention collective déjà indiquée

Exemple d'url : ht

[2021-02-11 10:42] virginielastisneres opened #3298 "Bug Kibana : rapport mensuel sur les recherches"
# Contexte

Attention dans le rapport sur les recherches effectuées, il semblerait que les titres des thèmes sont loggées comme recherche. Exemple : santé, sécurité et conditions de travail.
Cela n'est pas une vraie recherche et ca fausse les rapports.
![Image collée à 2021-2-8 17-57](https://user-images.githubusercontent.com/48682104/107626260-d074b580-6c5d-11eb-97d2-153aebeb8469.png)

# Solution

[2021-02-11 11:31] virginielastisneres opened #3299 "Enlever des balises H3 inutiles présentes sur les pages"
# Problème

Les titres suivants présents dans plusieurs pages sont des balises H3. Or, cela fausse la lecture de google des pages et nous pénalise pour le référencement et les métadescriptions.
Listes des titres :
- [x] «Avez-vous trouvé la réponse à votre question ? »
- [x] « Besoin de plus d’informations? »
- [x] « Code du travail numérique »
- [x] « Aidez-nous à améliorer cet outil »
- [x] « En

[2021-02-11 14:59] virginielastisneres opened #3300 "Ajout de la source de la fiche dans certaines contributions"
# Problème

On a eu une réunion avec des personnes de Service-Public.fr, nous leur avons présenté les contributions notamment et on a remarqué une chose : lorsqu'on reprend entièrement la fiche Service-Public.fr on n'indique pas la source... :O
(on avait un peu honte de leur montrer cela...)

Exemple d'une contribution ici : https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/contributi

[2021-02-11 17:14] virginielastisneres opened #3301 "Améliorer le champ de saisie des dates des outils ?"
# Retour utilisateur par mail

![image](https://user-images.githubusercontent.com/48682104/107672260-fd908a80-6c94-11eb-9f44-3e7002cc105d.png)

je le pose là pour l'avoir en tête et réfléchir si vous avez des idées @lionelB @UnbearableBear @m-maillot ;)

[2021-02-11 19:29] UnbearableBear commented on #3301
Oh :( On a choisi d'utiliser les calendriers par défaut des naviguateurs parcequ'ils sont supposés être super accessibles, mais de toute évidence celui utilisé par cette personne ne mets pas suffisamment en avant le fait qu'on puisse directement changer l'année

[2021-02-15 09:23] rmelisson opened #3302 "CC dans le moteur de recherche : évaluation"
Faire un rapport concernant la recherche de CCs dans le moteur, suite au ticket #3064
Utiliser les logs de février pour comparaison.

[2021-02-15 10:36] virginielastisneres opened #3303 "Changer la fonctionnalité imprimer sur la page résultat des outils"
# 1. Bouton imprimer à modifier

### Constat
Voici le commentaire d'un de nos utilisateurs dans le questionnaire :
![image](https://user-images.githubusercontent.com/48682104/107939240-c10baa00-6f86-11eb-99e2-f7cb9638999d.png)

Qu'est ce qui est le plus important pour nous ? que l'utilisateur télécharge le résultat ou qu'il l'imprime ? à mon sens qu'il puisse garder son résultat et le télechargeme

[2021-02-15 12:00] rmelisson commented on #3207
Examples "populaire"

[code]

[2021-02-15 12:00] rmelisson commented on #3207
Exemples 2/3 occurences :
[code]

[2021-02-15 12:01] rmelisson commented on #3207
Exemples uniques
[code]

[2021-02-15 12:46] rmelisson commented on #3207
Divers interessant :
[code]

[2021-02-15 13:54] Jonathan2051 commented on #3293
Pas sûr que l'on puisse automatiser **l'optimisation de la longueur la balise <title>** sur chaque CC. Du coup, peut-être qu'il faudra envisager de faire celle-ci à la main...

[2021-02-15 14:35] jrduscher opened #3304 "Contributions : Affichage des références juridiques dans les réponses génériques"
# Contributions : Affichage des références juridiques dans les réponses génériques

## Contexte:
Les pages des contributions sont composées de deux parties:
 - Les réponses génériques qui reprennent les aspects légaux et réglementaires
 - Les réponses "conventionnelles"

Dans l'outil de contribution, ces deux aspects sont traités de façon similaire pour les réponses génériques et conventionnelles.

[2021-02-15 14:36] virginielastisneres opened #3305 "Bug sur le simulateur brut/net : accès à l'outil interdit"
# Description du bug

Sur le master, la pré-prod et la prod l'outil de simulation du salaire brut/net est inaccessible.
J'ai ce message : "Ce contenu est bloqué. Pour résoudre le problème, contactez le propriétaire du site."$

Pour info : je suis sur le navigateur Chrome de l'ordinateur du ministère

![image](https://user-images.githubusercontent.com/48682104/107959115-3be2be00-6fa3-11eb-9ce0-56a1

[2021-02-15 14:44] virginielastisneres commented on #3305
A NOTER : sur mon téléphone cela fonctionne bien (navigateur chrome également)

[2021-02-15 14:52] virginielastisneres commented on #3305
A priori sur FF et Chrome (constats de @lionelB et @rmelisson) cela fonctionne.
Sur safari sur mon ipad ca fonctionne également.

Apparemment sur Edge bon également après rafraichissement (cc @jrduscher)

Donc cela serait un bug que sur les ordinateurs du ministère du travail ?

[2021-02-15 15:01] jrduscher commented on #3305
testé hors ministère:
Mêmes constats: pour les premières actualisations de page sur le site en prod sur Edge, Firefox et Chrome. Au bout d'un moment, l'outil finit par s'afficher.

[2021-02-15 15:10] virginielastisneres commented on #3305
humm c'est pas bon ca... combien vont penser à rafraichir la page ...

[2021-02-15 16:32] virginielastisneres commented on #3207
Oups la recherche par adresse postale ne semble plus fonctionner. Pour info, j'ai essayé plusieurs adresses :)
![image](https://user-images.githubusercontent.com/48682104/107972220-d0edb300-6fb3-11eb-80f8-c7a1e9ff0d15.png)

[2021-02-15 16:53] virginielastisneres commented on #3207
j'ai du mal à comprendre la recherche "AFPA 33200", je cherche ce siret 82409268800210.
J'ai que l'AFPAR qui fonctionne.
![image](https://user-images.githubusercontent.com/48682104/107974371-ca146f80-6fb6-11eb-9fe7-13a71ab215ad.png)

J'ai essayé avec le siret et rien non plus pourtant il est bien dans mon annuaire entreprise : https://annuaire-entreprises.data.gouv.fr/etablissement/82409268800210

[2021-02-15 17:09] virginielastisneres commented on #3207
exemple SMECSO siret 350 054 094 00064

Je tape Smecso et ca ne fonctionne pas.
![image](https://user-images.githubusercontent.com/48682104/107975554-91759580-6fb8-11eb-810e-a75e147956c9.png)

Pas forcément surprenant étant donné que le nom de l'entreprise est SOCIETE DE MAINTENANCE ET D'EXPLOITATION DE CHAUFFAGE DU SUD OUEST.

Mais ce qui me surprend c'est quand je le cherche sur annuaire-entrepr

[2021-02-15 17:19] virginielastisneres commented on #3207
je ne trouve pas cet établissement pourtant présent dans l'annuaire entreprise 77698354600032. Il n'a pas de convention collective ? ou nous n'avons pas la convention collective ?

[2021-02-15 17:37] #3295 closed, assigned to nobody

[2021-02-15 18:35] rmelisson commented on #3207
en réponse à tes exemples :
- AFPA 33200 : pas de convention collective (https://annuaire-entreprises.data.gouv.fr/justificatif/824092688)
- SMECSO : bien trouvé ! j'avais pas vu ce champs (sigle), je le rajoute à notre index
- pour ton dernier exemple, pareil pas de convention collective (https://annuaire-entreprises.data.gouv.fr/justificatif/776983546)
- je regarde pour le prob de la recherche p

[2021-02-15 19:32] rmelisson commented on #3207
c'est bon pour SMECSO ! (et pour le champs `sigle` en général...)

[2021-02-16 09:18] virginielastisneres commented on #3207
YEEEEEAH trop heureuse :) aahhh

[2021-02-16 09:21] virginielastisneres commented on #3207
D'acc je m'en doutais. Du coup ca me fait poser une question... Quand on a l'entreprise mais pas de CC dans notre base ne serait-il pas plus opportun pour l'usager de lui dire que nous n'avons pas de CC attaché à son entreprise ? car il va peut etre s'acharner ou se dire que ca ne fonctionne pas alors que si mais nous n'avons rien

[2021-02-16 09:36] rmelisson commented on #3207
oui c'est possible, faudra juste voir si ça rajoute pas trop de brui

[2021-02-16 09:37] virginielastisneres commented on #3207
oui en effet...

[2021-02-16 09:50] virginielastisneres commented on #3305
@lionelB tu as fais quelque chose ? car avec @CaptainConan on a l'impression que c'est revenu en fait sur notre ordinateur professionnel
![image](https://user-images.githubusercontent.com/48682104/108046341-caf3e280-7044-11eb-90ff-f432f5c5b4e6.png)

[2021-02-16 09:59] virginielastisneres commented on #3305
Par contre j'ai l'impression qu'il galère... je mets un chiffre rien ne se passe.
![image](https://user-images.githubusercontent.com/48682104/108047165-c7149000-7045-11eb-9d32-c43ed155351c.png)

Idem sur mon téléphone
![image-c81c4e64-17d9-4771-85b0-085e430ff5d0](https://user-images.githubusercontent.com/48682104/108047360-faefb580-7045-11eb-95a2-d8bdd27592dd.jpg)

[2021-02-16 10:00] CaptainConan commented on #3305
Effectivement, rien ne se passe (ordi pro, perso, tél) @virginielastisneres

[2021-02-16 10:03] virginielastisneres commented on #3305
Hello Maxime :) @mquandalle

Je t'ai taggué dans une de nos issues car nous avons des petits soucis avec votre simulateur brut/net. Il semblerait que :
- dans certains cas il y a un message "Ce contenu est bloqué. Pour résoudre le problème, contactez le propriétaire du site." Après rafraichissement de la page l'outil revient
- Autre point plus inquiétant encore : on indique un chiffre dans l'outil

[2021-02-16 10:12] virginielastisneres commented on #3305
Chez eux ca fonctionne donc ca doit venir de nous...
![image](https://user-images.githubusercontent.com/48682104/108048814-c5e46280-7047-11eb-96cf-b05e00bd81d4.png)

[2021-02-16 10:20] virginielastisneres commented on #3207
Petit cas : je cherche le Orange de Tarbes

Je mets "Orange 65000". Super j'ai le résultat
![image](https://user-images.githubusercontent.com/48682104/108049575-bc0f2f00-7048-11eb-93b3-21f8552a7094.png)

Par contre ci dans ma précipitation ou si je veux suivre l'intitulé qui m'est présenté pour l'entreprise, j'écris juste après "Tarbes" je perds mon résultat...

![image](https://user-images.github

[2021-02-16 10:24] m-maillot commented on #3297
@virginielastisneres suite à une discussion avec @lionelB, on a détecté que les contributions personnalisées ne possédaient pas  de fil d'ariane et de thème (cf: https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/contribution/1090-quelle-est-la-duree-du-preavis-en-cas-de-demission). Il y en a 41 qui ont cette information seulement. L'idée est de reprendre le thème de la page générique

[2021-02-16 10:55] virginielastisneres commented on #3207
J'ai une petite question pour la rechercher suivante : "GEODIS"

Je tape geodis et j'ai ca comme résultat
![image](https://user-images.githubusercontent.com/48682104/108053344-92a4d200-704d-11eb-9eb7-6e843d3d82d6.png)

Je ne comprends pas pourquoi GEODIS GEODISFR GEODISTH GEODISHUB GEODISHBC MERLIN - 25000 BESANCON siret 37884236300038 (effectif entre 6 et 9 salariés cf. https://annuaire-entrepris

[2021-02-16 11:02] virginielastisneres commented on #3207
Autre petite question : Lorsqu'une entreprise a 2 CCs, comment tu choisis quelle CC afficher en premier ? (exemple febus optics)
![image](https://user-images.githubusercontent.com/48682104/108054274-b9afd380-704e-11eb-9226-83905f60ea25.png)

[2021-02-16 11:04] mquandalle commented on #3305
Je regarde. Quelques remarques rapidement :

* > Au bout d'un moment, l'outil finit par s'afficher.

  C'est probablement le cache local (service worker) qui finit par s'afficher, mais pas la version "live" du simulateur
* J'ai identiifé des erreurs

  Je ne sais pas exactement d'où ça vient (la config de votre serveur a t-elle changé récemment ? Sur les en-tête HTTP retournées ?) mais ça me sembl

[2021-02-16 11:15] virginielastisneres commented on #3207
Promis la dernière, j'ai tapé volvo et je me demandais si c'était normal ce ".," avant le nom
![image](https://user-images.githubusercontent.com/48682104/108055644-8b32f800-7050-11eb-8345-a7ac30339b60.png)

[2021-02-16 13:12] mquandalle commented on #3305
Je crois que le problème vient de notre côté, on a un affichage cassé sur le site mon-entreprise.fr

[2021-02-16 13:47] mquandalle commented on #3305
Vous avez encore le problème ? Je n'arrive plus à reproduire.

[2021-02-16 14:49] virginielastisneres commented on #3305
cc @mquandalle

Sur firefox depuis ordinateur professionnel cela ne fonctionne toujours pas
![image](https://user-images.githubusercontent.com/48682104/108078672-3f8f4700-706e-11eb-80e5-06fdaf1b6ef4.png)
Que ca soit sur code.travail.gouv.fr ou sur mon-entreprise.fr

En navigation privée sur firefox j'ai pas l'outil
![image](https://user-images.githubusercontent.com/48682104/108078872-79604d80-706e

[2021-02-16 14:52] virginielastisneres commented on #3305
Bizarre pour @m-maillot cela fonctionne sur Firefox...

[2021-02-16 14:53] virginielastisneres commented on #3305
Android chrome comme navigateur ca ne fonctionnait pas sur code.travail.gouv.fr mais sur mon-entreprise.fr oui
![image-8923ba8a-dd90-49ae-8a75-b63eba18567b](https://user-images.githubusercontent.com/48682104/108079356-05727500-706f-11eb-90ff-3a2c27d238ea.jpg)

c'est étrange un coup c'est bon un coup non

[2021-02-16 14:56] virginielastisneres commented on #3305
après rafraichissement de la page
![image-dcb83cec-8e36-4e4e-aebe-707bb171a415](https://user-images.githubusercontent.com/48682104/108079754-731ea100-706f-11eb-846a-c4e8b3062494.jpg)

[2021-02-16 15:14] virginielastisneres opened #3308 "Réduire encore plus le nom des conventions collectives ?"
## Problème à résoudre

Les noms des conventions collectives restent trop longs

Ici page CC (surtout qu'ici le nom complet est en dessous...)
![image](https://user-images.githubusercontent.com/48682104/108081693-8599da00-7071-11eb-8b43-c61260f18bed.png)

Ici dans moteur de recherche CC
![image](https://user-images.githubusercontent.com/48682104/108081868-b974ff80-7071-11eb-9fc1-235ed73e7ab9.png)

[2021-02-16 15:23] CaptainConan commented on #3308
Remplaçons les titres longs pour les titres courts (Légifrance le fait :) )

[2021-02-16 15:27] virginielastisneres commented on #3308
J'étais persuadée qu'on l'avait fait... On ne l'avait pas fait ? pourquoi tu sais ?
je suis pour à 100%
à voir par contre l'effet notamment au niveau du moteur de CCs

[2021-02-16 15:40] CaptainConan commented on #3308
Non, je ne m'en rappelle pas.

[2021-02-16 15:43] m-maillot commented on #3305
Suite à un correctif du coté mon-entreprise.fr, je ne reproduis plus. Pouvez vous tester de votre coté  @virginielastisneres @CaptainConan @jrduscher ?

[2021-02-16 15:45] virginielastisneres commented on #3305
Je regarde :) merci Martial

[2021-02-16 15:51] virginielastisneres commented on #3305
Ca fonctionne pour moi sur ordi navigation chrome et firefox et sur mon tel android sous chrome

[2021-02-16 15:51] m-maillot opened #3309 "Articles liés sur les contributions personnalisées"
# Description

Lorsque l'on se rend sur une contribution personnalisée avec une convention collective, on a dans la liste des articles liés le même article que l'on consulte actuellement.

![CleanShot 2021-02-16 at 16 45 11@2x](https://user-images.githubusercontent.com/992514/108086956-3787d500-7077-11eb-9225-e05b09adc02b.png)

Le lien mène vers la contribution générique mais ça reste étrange pour

[2021-02-16 15:51] virginielastisneres commented on #3305
merciii @mquandalle ;)

[2021-02-16 15:52] mquandalle commented on #3305
Pardon pour le bug, on fera en sorte que ça ne se reproduise plus

[2021-02-16 15:57] virginielastisneres commented on #3305
Pas de souci Maxime ca arrive :)

Pour info, j'ai remarqué du coup que vous renvoyez à la fin de la simulateur à un outil de recherche de convention collective. Je sais pas si vous savez mais nous avons un outil de recherche de CCs. :O => https://code.travail.gouv.fr/outils/convention-collective
Je t'invite à regarder et surtout tester notre outil de recherche de CCs qui permet de rechercher via n

[2021-02-17 09:39] lionelB commented on #3309
j'avais identifié le pb quand on avait ajouté les page contribution spécifique. il faudrait regarder du coté de la requetes elastic si on peut géré ce cas sans rendre la requète trop spécifique. Sinon on peut gérer ça en js une fois les resultats reçus

[2021-02-17 09:44] lionelB commented on #3308
c'est ce qu'on fait , mais pas toutes les conventions on un nom court. pour le voir c'est sur [le repo kali-data ](https://github.com/SocialGouv/kali-data/blob/master/data/index.json)

[2021-02-17 10:03] lionelB commented on #3292
les fiches sont mises à jour dans l'outils d'admin des que les données sont dispo sur  https://www.data.gouv.fr/fr/search/?q=vos+droits+et+d%C3%A9marches.
Ensuite il faut lancer la mise à jour des fiches sur la prod pour que celles ci arrivent en prod

[2021-02-17 10:14] lionelB commented on #3300
je pense qu"il faudrait plutot le rajouter en fin de contenu plutot que sous le titre général de la page qui contient aussi la réponse conventionnelle. cela voudrait dire que tout le contenu provient de service-public, or seulement la premier partie est concernée

[2021-02-17 10:28] virginielastisneres commented on #3300
Oui très bien, je pensais à la base plutôt en dessous de "ce que dit le code du travail ?" mais très bien aussi à la fin comme c'est déjà le cas pour les contributions ou cela a été rajouté à la main 👍

[2021-02-17 11:17] lionelB commented on #3300
possible aussi a cet endroit.
Je prépare les 2 et je te montre

[2021-02-17 11:35] lionelB commented on #3300
![image](https://user-images.githubusercontent.com/160320/108198864-73c14100-711c-11eb-80e0-95a79c18154d.png)
![image](https://user-images.githubusercontent.com/160320/108198934-8f2c4c00-711c-11eb-92e8-ee56dad09ad2.png)

[2021-02-17 17:34] m-maillot commented on #3297
@virginielastisneres j'ai fait un google sheet avec le rendu avec les valeurs disponibles aujourd'hui en base. Je n'ai pas fait de modification. Il y a un onglet données (données brutes), un onglet résultats (avec la balise title et metadata) et un onglet analyse où j'ai déjà mis mes premières impressions.

Le document est dispo ici:
https://docs.google.com/spreadsheets/d/1SHoE1LqlRQGHAXHOh396NoDV

[2021-02-18 09:53] virginielastisneres opened #3316 "[Bug] :O Disparition de certaines références juridiques sur nos fiches ! 😨"
# Bug

## Description

Sur certaines fiches Service-public.fr et sur TOUTES les fiches MT nous avons perdu le bloc références juridiques alors que ces fiches ont bien des références juridiques dans la fiche originale. :fearful:

Exemple du bloc
![image](https://user-images.githubusercontent.com/48682104/108338598-bba49e80-71d6-11eb-8b76-e4c926e31237.png)

## Exemples du bug

###  :x: Fiches avec s

[2021-02-18 09:56] #3305 closed, assigned to nobody

[2021-02-18 10:43] lionelB commented on #3316
j'ai déplacé l'issue  pour vers https://github.com/SocialGouv/cdtn-admin/issues/332

[2021-02-18 10:43] #3316 closed, assigned to nobody

[2021-02-18 10:47] virginielastisneres opened #3317 "Pas beau et pas très lisible questionnaire utilisateur version mobile"
# Apparition du questionnaire dans les outils

Voilà comme le questionnaire apparait. C'est pas lisible pour l'utilisateur.

![image-48bc564c-de1b-4efe-8ac6-7338febdc1d1](https://user-images.githubusercontent.com/48682104/108345574-bb100600-71de-11eb-8b0f-7cdab2a2e613.jpg)

# Solution

Il faudrait qu'il apparaissent comme pour les autres pages
![image-e960331a-a5f6-4b1c-a15d-a03baf9fb727](https://

[2021-02-18 10:55] virginielastisneres commented on #3300
@lionelB Pendant le test version mobile j'ai remarqué un petit truc :) Est ce que l'on pourrait afficher en version mobile la mise à jour sous la source et non à côté comme c'est le cas pour les fiches lambda

### Affichage version mobile des ref dans contributions
![image-2058add1-34b0-4aaa-bc55-e2aa47209170](https://user-images.githubusercontent.com/48682104/108346715-fb23b880-71df-11eb-8f1c-f91

[2021-02-18 13:21] virginielastisneres opened #3319 "[Bug] Modèles avec tableau version mobile"
# Description Bug

Pour les modèles suivants (modèles qui ont des tableaux) :
- https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/modeles-de-courriers/releve-dheures-supplementaires
- https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/modeles-de-courriers/lettre-de-reclamation-des-heures-supplementaires

Le tableau dépasse en version mobile... Il n'est pas responsive

![im

[2021-02-18 15:40] #3300 closed, assigned to lionelB

[2021-02-19 17:21] revolunet commented on #3259
J'ai fait quelques tests ici : https://github.com/SocialGouv/code-du-travail-numerique/compare/glossary-test en utilisant `mdast-util-find-and-replace` et autres utils de la suite unist.

Ca a l'air de fonctionner, ca ne gère pas les variantes/diacritiques/fuzzy (sauf si on les fournit en amont)

Par contre certains de nos contenus sont de type HTML, d'autres en MDX (Md avec du JSX et/ou HTML pour

[2021-02-22 10:53] UnbearableBear commented on #3303
Malheureusement, il n’est pas possible de proposer à l’utilisateur de télécharger le contenu de la page via un bouton sans le générer au format PDF au préalable. Concrètement, cela impliquerait de devoir embarquer un générateur de pdf dans les outils ce qui est lourd de conséquences au niveau du poids de la page. Et cela implique beaucoup plus de code à maintenir aussi car il ne suffit pas de dire

[2021-02-22 12:29] UnbearableBear commented on #3317
Bien vu !

[2021-02-22 12:36] UnbearableBear commented on #3319
Un tableau ne peut pas être "responsive" malheureusement, mais on peut essayer d’utiliser notre composant d’overflow pour au moins laisser la possibilité de scroll.

[2021-02-22 12:45] virginielastisneres commented on #3319
Comment les tableaux traités dans les fiches service public ? Je suis pour, l'objectif étant que cela soit facilement lisible en version mobile

[2021-02-22 12:48] virginielastisneres commented on #3301
Du coup manu il y aurait possibilité d'utiliser d'autres calendriers que ceux des navigateurs par défaut ?

[2021-02-22 12:50] UnbearableBear commented on #3319
Exactement !

[2021-02-22 12:59] lionelB commented on #3301
je me demande si le plus simple serait de ne pas utiliser le champ date mais seulement un champ texte  au format jj/mm/aaaa (avec une info sur le format attendu)

[2021-02-22 13:08] UnbearableBear commented on #3301
oui ça me semble être la meilleur option

[2021-02-22 13:29] virginielastisneres commented on #3297
ici les 1000 premières

[2021-02-22 13:29] #3297 closed, assigned to m-maillot

[2021-02-22 14:25] virginielastisneres commented on #3301
moi aussi

[2021-02-23 12:35] #3319 closed, assigned to UnbearableBear

[2021-02-24 13:11] virginielastisneres commented on #3207
@rmelisson Exemple pour la recherche Lidl avec l'option 1 "recherche par entreprise Siret sans adresse".
Est-ce volontaire qu'il y ait les entreprises sans convention collective ? Il me semblait que c'était l'option 2 "recherche par entreprise sans convention collective"
![Capture d’écran 2021-02-24 à 14 09 15](https://user-images.githubusercontent.com/48682104/109005403-332c6f00-76aa-11eb-95fe-

[2021-02-24 13:14] virginielastisneres commented on #3207
Autre cas : pour la recherche via entreprise + ville
J'ai mis pour nom de l'entreprise "Auchan" et dans ville "Paris"
Pourquoi est ce que mon premier résultat n'est pas paris qui arrive en 2nd ?

![Capture d’écran 2021-02-24 à 14 13 42](https://user-images.githubusercontent.com/48682104/109005784-a209c800-76aa-11eb-978a-5d7f1c928729.png)

[2021-02-24 14:08] virginielastisneres commented on #3292
@lionelB @m-maillot @CaptainConan
Faut qu'on améliore cela car encore une fois on a une fiche qui n'est pas à jour https://cdtn-preprod-code-travail.dev2.fabrique.social.gouv.fr/fiche-service-public/lemployeur-doit-il-amenager-un-espace-pour-la-pause-dejeuner
fiche à jour https://www.service-public.fr/particuliers/vosdroits/F1731

[2021-02-24 15:56] virginielastisneres opened #3326 "Listes des meta title / meta description des contributions avec nouveau formatage automatique"
## Description

Suite au test effectué cf. #3297, constat : mis à part quelques 3-4 thèmes qui ne sont pas trop évocateurs pour l'utilisateur les autres sont bien et le titre court des CCs est un bon point.
Point noir : le titre très long des CCs métallurgies départementales.

## Solution

On met en prod la solution indiquée dans le test et on analysera dans 1 à 2 mois s'il y a un impact sur le ré

[2021-02-25 13:55] lionelB commented on #3292
from mattermost

[2021-02-25 22:52] jrduscher opened #3329 "Contributions avec URL ( ccn+réponses): impossible de changer de CCN"
**Description**
Bug UX.

**Contexte :**

Google fait désormais remonter comme prévu des pages de contributions par CCN.
Au détour d'une [recherche plutôt HS,](https://www.google.com/search?q=accident+de+trajet+anciennet%C3%A9+code+du+travail&rlz=1C1PRFC_enFR893FR893&oq=Accident+de+trajet+&aqs=chrome.0.69i59l2j0l2j69i57j0j69i60l2.2501j0j7&sourceid=chrome&ie=UTF-8) une page de contribution est remon

[2021-02-25 22:54] jrduscher opened #3330 "accessibilité: affichage de lien urls"
Encart de sélection des CCN dans les pages contribution:
Le lien s'affiche comme suit:
![image](https://user-images.githubusercontent.com/37538697/109230095-96122900-77c4-11eb-862a-d3e8e21fa628.png)

[2021-02-26 13:43] m-maillot opened #3331 "[POC] Calcul de l'ancienneté"
**Fonctionnalité**
Réalisation d'un POC se basant sur publi.codes pour calculer la durée d'ancienneté.

En relation avec l'issue #3268, l'idée étant d'implémenter ensuite le `Simulateur de départ ou de mise à la retraite`.

Spec : https://docs.google.com/document/d/1kSlKO53WVALy0TRFei9GIUKXWr-2ynQ-mAedO1dbVwg/edit
POC (Le tableau lié sur lequel on retrouve les deux pocs: sur la prise en compte et

[2021-02-26 14:05] virginielastisneres commented on #3207
Rémi Dans le moteur "Nom de votre entreprise ou numéro de SIRET" ça vient d'où la donnée "RAR 364" dans la recherche "Zara", j'ai essayé d'aller sur annuaire-entreprise trouver cette entreprise mais je n'ai pas trouvé
![Capture d’écran 2021-02-26 à 15 00 23](https://user-images.githubusercontent.com/48682104/109309816-0d3ad200-7844-11eb-969e-ddc8012fad22.png)

[2021-02-26 15:25] virginielastisneres commented on #3207
Autre petit point Rémi. Pour la recherche "Crédit agricole Pyrénées Gascogne". j'ai testé avec le moteur "entreprise & adresse" et j'ai les résultats des entreprises sans convention collective. Du coup, dans ce moteur il y a pas de filtre sur les entreprises uniquement avec convention collective ?
![Capture d’écran 2021-02-26 à 16 23 24](https://user-images.githubusercontent.com/48682104/109319484

[2021-02-26 18:00] #3317 closed, assigned to UnbearableBear

[2021-03-01 11:06] virginielastisneres commented on #3298
Hello @ArmandGiraud est ce que tu pourrais me dire ou cette issue en est ? (je suis vraiment désolée la semaine dernière j'ai pas eu le temps de te demander avant ton départ...)

[2021-03-01 13:11] lionelB commented on #3304
closed by #3328

[2021-03-02 08:49] virginielastisneres commented on #3298
Ah j'ai l'impression que nous avons avec le t dans les logs cc @ArmandGiraud et @rmelisson
![Capture d’écran 2021-03-02 à 09 48 34](https://user-images.githubusercontent.com/48682104/109622648-a3207680-7b3c-11eb-89c4-940ea87be2cf.png)

[2021-03-05 13:08] m-maillot commented on #3331
On a 2 questions concernant le calcul de l'ancienneté @jrduscher.

1. Comment le calcul de l'ancienneté fonctionne quand l'employé n'est pas à temps plein ?

2. On s'est dit que l'on allait calculer l'ancienneté en jours afin de pouvoir décompter les absences en jours. Or, pour le calcul de la durée du préavis pour la retraite, les règles sont en mois (entre 6 mois et an, > 1 an). Du coup, on peut

[2021-03-08 10:07] revolunet commented on #3259
Quelques news : l'implem a l'air de fonctionner avec un traitement distinct pour HTML ou MDX... je n'ai pas réussi avec le même traitement :/

J'ai repéré un bug dans la transformation du markdown, visible ici dans le bloc CDI/Textes applicables : https://cf13d01-code-travail.dev2.fabrique.social.gouv.fr/contribution/quelle-est-la-duree-maximale-de-la-periode-dessai-sans-et-avec-renouvellement?q=d

[2021-03-08 12:09] lionelB commented on #3259
whoooo super cool @revolunet !!

[2021-03-08 13:33] virginielastisneres commented on #3331
- [x] Déterminer la pérennité de la solution Publicode
- [x] Test sur d'autres outils

[2021-03-08 16:28] m-maillot commented on #3268
## Concernant l'étape 4 : Ancienneté du salarié

La première version va intégrer une version allégée avec deux possibilités pour l'utilisateur:
 * Un champ permettant de saisir directement son ancienneté (année, mois, jour).
 * 2 champs permettant de saisir la date d'entrée et de sortie et le nombre de mois d'absences.

Pas de prise en compte de la CC pour le moment. Le simulateur pour calculer l'

[2021-03-08 16:29] m-maillot commented on #3268
Il serait intéressant de réfléchir à comment surveiller l'utilisateur lors de la saisie de son ancienneté (via matomo).

[2021-03-09 14:12] m-maillot commented on #3331
Je suis toujours sur l'étude de publi.codes. C'est un peu compliqué et j'ai du mal à faire matcher nos simulateurs sur la lib.
[Ici](https://publi.codes/studio/contrat-salari%C3%A9/pr%C3%A9avis-de-retraite?code=contrat%20salari%C3%A9%20.%20anciennet%C3%A9%3A%0A%20%20somme%3A%0A%20%20%20%20-%20contrat%20salari%C3%A9%20.%20dur%C3%A9e%0A%20%20abattement%3A%20contrat%20salari%C3%A9%20.%20absences%20.%

[2021-03-09 17:27] virginielastisneres commented on #3304
Je vais réouvrir l'issue car la solution proposée ne me satisfait pas.
![image](https://user-images.githubusercontent.com/48682104/110511251-53294d00-8104-11eb-8b84-10162052d07f.png)
Exemple :
https://master-code-travail.dev2.fabrique.social.gouv.fr/contribution/jours-feries-et-ponts-dans-le-secteur-prive?q=jours%20f%C3%A9ri%C3%A9s

# Solution

Il faudrait que les références juridiques présentées

[2021-03-10 09:10] lionelB commented on #3304
dans ce cas, il faut aussi modifier les références affichées dans la réponse convention

[2021-03-10 09:37] virginielastisneres commented on #3304
d'acc :) oui en effet si cela est lié il le faut :) merci Lionel

[2021-03-10 10:28] revolunet commented on #3259
Update : j'en suis au point ou le html/mdx est correctement modifié avec le tooltip intégré

Mais j'ai un problème côté rendu avec cette approche :maintenant que le MDX est parfait, le renderer rehype-react n'est plus capable de l'interpreter correctement.

De là je vois deux possibilités :

 - corriger la source MDX pour qu'elle soit compatible rehype-react (c'est "juste" une histoire d'indentati

[2021-03-12 19:40] revolunet commented on #3259
woot ca a l'air pas mal : https://cf13d01-code-travail.dev2.fabrique.social.gouv.fr/contribution/quelle-est-la-duree-maximale-de-la-periode-dessai-sans-et-avec-renouvellement?q=dur%C3%A9e%20maximale%20periode%20d%27essai

[2021-03-13 11:30] revolunet opened #3351 "[ui] safari tooltips"
Il semblerait que les tooltips aient un petit souci de CSS sur Safari :

Initial :

<img width="770" alt="Capture d’écran 2021-03-13 à 12 28 49" src="https://user-images.githubusercontent.com/124937/111028577-c928ff00-83f7-11eb-8503-d0ae8813319e.png">

Over :

<img width="804" alt="Capture d’écran 2021-03-13 à 12 28 56" src="https://user-images.githubusercontent.com/124937/111028589-d7771b00-8