[2019-02-12 13:24] ClementChapalain commented on #155
C'est ok j'ai l'impression @lionelB ?
![image](https://user-images.githubusercontent.com/5337489/52638265-e1a15500-2ed1-11e9-8db4-88508e5321f4.png)

[2019-02-12 14:07] ClementChapalain commented on #164
pas actionnable, repris dans le wiki des outils ici : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BOutil%5D-%5BRecherche-CCN%5D%C2%A0Cas

[2019-02-12 14:07] #164 closed, assigned to nobody

[2019-02-12 14:07] lionelB commented on #155
@ClementChapalain non, pas tous, meme si TBTS est déja présent

[2019-02-12 14:10] ClementChapalain commented on #167
On peut fermer cette issue du coup ?

[2019-02-12 14:10] lionelB commented on #512
closed by #517

[2019-02-12 14:10] #512 closed, assigned to nobody

[2019-02-12 14:11] ClementChapalain commented on #170
Est-ce que tu pourrais détailler le besoin là-dessus stp @jrduscher ?

[2019-02-12 14:12] lionelB commented on #496
closed by #501

[2019-02-12 14:12] #496 closed, assigned to nobody

[2019-02-12 14:12] ClementChapalain commented on #171
je suis d'accord 👍

[2019-02-12 14:12] #171 closed, assigned to nobody

[2019-02-12 14:12] #167 closed, assigned to nobody

[2019-02-12 14:17] ClementChapalain commented on #198
ok on peut fermer cette issue @lionelB ? quitte à continuer à travailler sur une autre issue si besoin d'amélioration sur le multi mot

[2019-02-12 14:23] lionelB commented on #198
oki ! je vais alimenté la page wiki pour la prochaine visite du consultant ES avec les améliorations qu'on souhaite apporter

[2019-02-12 14:23] #198 closed, assigned to nobody

[2019-02-12 14:24] ClementChapalain commented on #207
on a prévu de discuter de ce sujet avec Lionel et JR dans la semaine en fonction des retours des tests utilisateurs menés à Dijon la semaine dernière (https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BTests-utilisateur%5D-2019.02.07-Dijon), on refera des tâches plus précises à ce moment là

[2019-02-12 14:24] #207 closed, assigned to nobody

[2019-02-12 14:28] ClementChapalain commented on #211
Je ferme, cf. le commentaire dans #207 :

Si besoin de retrouver les tâches liées à Onogone pour référence ou pour leur mission, possibilité de faire une recherche sur le tag `Onogone` dans github.

[2019-02-12 14:28] #211 closed, assigned to revolunet

[2019-02-12 14:31] jrduscher opened #521 "Ajout d'une ficher S-P.fr: contrat d'engagement éducatif"
https://www.service-public.fr/particuliers/vosdroits/F23425
La fiche fait écho à une FAQ traité en contribution quotidienne ( qui traite d'un des points, mais pas du contrat dans sa globalité)
merci de l'ajouter aux contenus proposés. Prévoir sa mise à jour?

[2019-02-12 14:34] ClementChapalain commented on #210
Les specs fonctionnelles sont claires, besoin d'un peu d'ux pour voir comment on affiche ces infos de la meilleure manière

[2019-02-12 14:36] ClementChapalain commented on #217
@jrduscher on peut fermer cette tâche ?

[2019-02-12 14:46] #217 closed, assigned to nobody

[2019-02-12 14:51] ClementChapalain commented on #232
est-ce que tout le contenu est bien listé ici aujourd'hui ? https://docs.google.com/spreadsheets/d/1o6hf-Tm3rb5qMXRBId3aGuSt9tNalvxMsOkrbkHSbB4/edit#gid=0

si oui on peut fermer cette tâche ?

[2019-02-12 14:57] jrduscher commented on #232
questions ajoutées. issue fermée

[2019-02-12 14:57] #232 closed, assigned to nobody

[2019-02-12 14:58] ClementChapalain commented on #244
up :) on ferme @jrduscher ?

[2019-02-12 14:59] ClementChapalain commented on #249
si l'url est dispo on peut fermer cette tâche ? on basculera à partir du 1.1.20 ?

[2019-02-12 15:01] ClementChapalain commented on #253
ça a été abordé ? on peut fermer ? ou préciser les sujets encore en cours ?

[2019-02-12 15:01] lionelB commented on #244
@revolunet je retrouve pas le script ni la PR :(

[2019-02-12 15:01] ClementChapalain commented on #256
up :)

[2019-02-12 15:02] jrduscher commented on #217
cette issue a été réalisée. il doit y avoir une pr correspondante.

[2019-02-12 15:04] jrduscher commented on #244
c'était un csv .

[2019-02-12 15:04] #244 closed, assigned to nobody

[2019-02-12 15:09] ClementChapalain commented on #275
encore un cas de test unitaire, est-ce qu'il est référencé dans le tableau excel ? si oui on ferme cette tâche je pense

[2019-02-12 15:19] ClementChapalain commented on #296
je ne sais pas trop comment tester ça ? est-ce qu'on est ok ?

[2019-02-12 15:21] revolunet commented on #256
fixed

[2019-02-12 15:21] #256 closed, assigned to nobody

[2019-02-12 15:22] revolunet commented on #253
travaux en cours avec ES

[2019-02-12 15:24] ClementChapalain commented on #322
Ajouté ici : https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BDroit-du-travail%5D-Fusion-CCN

[2019-02-12 15:24] #322 closed, assigned to jrduscher

[2019-02-12 15:27] lionelB commented on #296
ok pour moi, j'ai rajouté les 3 cas dans le spreadsheet

[2019-02-12 15:27] #296 closed, assigned to nobody

[2019-02-12 15:34] ClementChapalain commented on #346
lié à #210 (et #106 dans une moindre mesure)

[2019-02-12 15:50] ClementChapalain commented on #406
Je ne comprends pas bien le besoin derrière, on peut déjà avoir une même réponse à deux questions différentes si les mots trouvés pas elastic search matchent bien entre question et réponse non ?

[2019-02-12 15:51] ClementChapalain commented on #407
on a le fichier ou on l'attend encore de la part d'Onogone ?

[2019-02-12 16:21] lionelB commented on #406
dans l'approche actuelle, si les mot de la requête correspondent au contenu de la réponse, la correspondance de la question  est secondaire car elle permet juste de donner un bonus de pertinence

Si on choisit de mettre plusieurs question, on pourrait imaginer dupliquer le contenu pour chaque question lors de l'indexation.

[2019-02-12 16:25] lionelB commented on #275
suite aux changement apporté dans ES les réponses ont changées.
 @jrduscher est ce que tu peux vérifier si c'est ok pour toi ?

[2019-02-12 16:27] lionelB commented on #217
cf PR #264

[2019-02-12 17:24] ClementChapalain opened #524 "Première version du formulaire pour l'outil de contribution"
En tant que V1 de l'outil de contribution, on souhaite construire un formulaire d'ajout de contenu basé sur les specs de ce document (p19-20) : https://docs.google.com/document/d/1aj-tBYfvfMKWaDRLJZ0G83cl7zTFRmzDz_n3d_ekawU/edit?usp=sharing

Ce formulaire sera accessible via login / mdp et pourra être communiqué dès mars aux contributeurs.

[2019-02-13 13:48] ClementChapalain commented on #435
Je viens de regarder, et en fait on a déjà 2 possibilités de rebonds lorsque l'utilisateur ne trouve pas de réponse : le bloc `Posez votre question` et les réponses thématiques. En plus de pouvoir retenter facilement une autre recherche, on a également la proposition de reset le facetting maintenant. Du coup ce n'est pas prioritaire je pense. Et sachant que notre annuaire n'est pas correct aujourd

[2019-02-13 13:57] ClementChapalain commented on #468
Le bug est en prod (c'est le même contenu derrière les 3 résultats) mais pas sur la version dev, est-ce que c'est un bug qu'on a corrigé @lionelB ?

[2019-02-13 16:57] ClementChapalain commented on #492
corrigé en prod 🙌

[2019-02-13 16:57] #492 closed, assigned to nobody

[2019-02-13 17:08] ClementChapalain commented on #495
Je me disais qu'on pouvait tenter un truc comme ça en première approximation pour mettre en avant nos outils. On peut aussi imaginer avoir un menu déroulant dans un header. À discuter !

![image](https://user-images.githubusercontent.com/5337489/52729840-4637df00-2fba-11e9-8258-6e31296147ce.png)

[2019-02-14 11:07] lionelB commented on #468
corrigé suite au modif ES

[2019-02-14 11:07] #468 closed, assigned to nobody

[2019-02-14 13:37] jrduscher opened #526 "Ajouter un bouton de retour à l'accueil"
Lest tests utilisateurs (cf. [recap Dijon](https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BTests-utilisateur%5D-2019.02.07-Dijon)) ont montré que les utilisateurs se trouvaient "bloqués" lors de leur navigation sur le site sans moyen simple de revenir à l'accueil, notamment pour explorer les thèmes.

Solution : ajouter un bouton de retour à l'accueil dans le header de l'application

[2019-02-14 16:05] lionelB commented on #495
@ClementChapalain ca me va!  je pense qu'on peut partir la dessus pour une première version et itérer ensuite

[2019-02-14 16:14] lionelB commented on #474
on peut essayer, dans ce cas, est ce que tu peux fournir une premiere liste de phrase / mot cle qu'on pourrait indexer ?

[2019-02-14 16:15] lionelB commented on #469
fix by #500

[2019-02-14 16:15] #469 closed, assigned to nobody

[2019-02-14 17:10] ClementChapalain opened #527 "Ajouter un bouton de retour aux résultats"
Lest tests utilisateurs (cf. [recap Dijon](https://github.com/SocialGouv/code-du-travail-numerique/wiki/%5BTests-utilisateur%5D-2019.02.07-Dijon)) ont montré que les utilisateurs voulaient parfois revenir sur leurs résultats de recherche et n'avaient pas de moyen simple de le faire.

Solution : ajouter un bouton de retour aux résultats lors de la visite sur une page de contenu.

![image](https://u

[2019-02-14 17:13] ClementChapalain commented on #465
@lionelB j'ai changé la description et le titre de cette tâche pour que ça corresponde à ce qu'on s'est dit en réunion tout à l'heure.

[2019-02-14 17:20] ClementChapalain opened #528 "UX du champs de recherche"
Amélioration de l'UX du champs de recherche afin d'avoir une meilleur "affordance" et de simplifier son utilisation.

Références de design :
- https://aide.trainline.fr/
- https://www.facebook.com/help/
- https://support.zendesk.com/hc/en-us/
- https://support.spotify.com/fr/
- https://www.intercom.com/help

To do :

- [x] ajouter une icône non-cliquable de loupe sur la gauche du champs comme ceci

[2019-02-14 17:24] ClementChapalain opened #529 "Améliorer la page de résultats de recherche"
Une fois la séparation des pages terminée (#465) nous travaillerons sur l'UX de cette page en se basant sur les maquettes de Jérémie :

https://projects.invisionapp.com/share/DBMWXF74F2G/#/screens/309143808

![image](https://user-images.githubusercontent.com/5337489/52804914-b0698600-3085-11e9-8bbe-74ca0edeec0f.png)

[2019-02-14 17:32] ClementChapalain opened #530 "Améliorer la suggestion de résultats pour la rendre plus lisible"
Actuellement la suggestion de résultats lorsque l'utilisateur tape une recherche dans la barre se confond avec la page de résultats, ce qui rend l'expérience confuse pour l'utilisateur (cf. tests Dijon).

L'objectif est de simplifier les informations disponibles afin de recentrer l'attention sur le champs de recherche :
![image](https://user-images.githubusercontent.com/5337489/52805365-b7dd5f00-3

[2019-02-14 17:34] ClementChapalain opened #531 "Améliorer la remontée des termes de recherche dans Matomo"
Aujourd'hui uniquement les recherches pour lesquelles l'utilisateur a cliqué sur la loupe ou a tapé sur entrée remontent dans matomo, ce qui nous coupe de la majeure partie des recherches utilisateur (celles pour lesquelles un utilisateur a cliqué sur un résultat depuis la suggestion de la barre de recherche).

A priori cette tâche de revue de l'UX du champs de recherche va aider : #530

Specs en

[2019-02-15 06:44] ivangabriele commented on #524
@ClementChapalain J'ai créé un [nouveau repo](https://github.com/SocialGouv/code-du-travail-backoffice) pour cette partie-là et l'ensemble du back-office. Peut-être que les issues et boards (projects) devraient être créés plutôt là-bas, non?

cc @lionelB

[2019-02-15 17:37] jrduscher opened #532 "bug: modèle qui ne correspond pas à la FAQ"
![image](https://user-images.githubusercontent.com/37538697/52873183-b5ded300-314e-11e9-86b8-210153aa653b.png)

![image](https://user-images.githubusercontent.com/37538697/52873204-c000d180-314e-11e9-84e2-6e338a4457d2.png)

le modèle ne colle pas au contenu certificat de travail sur un thème période d'essai.
modèle certiicat de travail (200) alors que renew  période d'essai (3760).

[2019-02-15 18:17] lionelB commented on #532
après investigations,

ce la vient du fait que le formatage du contenu de certaine faq ne correspond pas à ce qu'on attend

ex:
[code]
ici la clé `themes` devrait se trouvait à l'intérieur de la clé `tags`

cela me fait dire qu'il faut absolument que je merge la PR #202 avec un outils de validation des contenus en attendant d'avoir mieux

[2019-02-18 06:07] ClementChapalain commented on #524
yes c'est déplacé ici : https://github.com/SocialGouv/code-du-travail-backoffice/issues/1 !

[2019-02-18 06:07] #524 closed, assigned to ivangabriele

[2019-02-18 14:49] UnbearableBear commented on #530
Bonjour Clément,

Est-ce que tu préconises aussi d'avoir une graisse standard et de ne mettre en gras que les mots renseignés par l'utilisateur dans la recherche ?

[2019-02-18 14:57] ClementChapalain commented on #530
Salut ! Effectivement ça rend assez bien dans l'exemple de zendesk, mieux que notre version avec le surlignage jaune en tout cas. OK pour partir là desus :)

[2019-02-19 11:58] revolunet commented on #531
je viens de tester et d'après moi ça fonctionne aussi quand on utilise la touche "entrée" ?

[2019-02-19 14:20] ClementChapalain opened #533 "Indexer les CCNs depuis KALI dans ES"
Aujourd'hui, les CCNs sont scrappés depuis legifrance, on souhaite désormais indexer depuis la base KALI pour avoir un contenu plus sur et également :
- rediriger directement vers la cc plutôt que vers la page de recherche legifrance lors d'une recherche sur une convention collective
- utiliser les metadonnées de KALI pour pouvoir ensuite améliorer la page de présentation de la cc sur le cdtn

Nex

[2019-02-19 14:28] ClementChapalain commented on #531
oui a priori ça fonctionne bien, mais du coup on a pas les recherches pour lesquelles l'utilisateur a cliqué directement sur un résultat à partir de la suggestion.

je modifie la description pour préciser 👍

[2019-02-19 14:30] revolunet commented on #531
(je vois bien une requete piwik partir à l'ouverture d'un des résultats)

[2019-02-19 14:34] ClementChapalain commented on #531
je vois aussi qqchose mais j'ai l'impression que c'est plus un événement de vue d'une page qu'un événement qui remonte la recherche :
![image](https://user-images.githubusercontent.com/5337489/53022590-c7302400-345b-11e9-95e2-90794399bedd.png)

j'ai fait des tests avec des mots clés spécifiques et effectivement je confirme que :
- cliquer sur la loupe ou appuyer sur entrée remonte bien dans matomo

[2019-02-19 14:35] revolunet commented on #531
oui tout à fait, en l'état, ce que tu vas récupérer par défaut ça devrait être l'url de la page ouverte (pageview), pas le mot clé tapé.

[2019-02-20 11:54] revolunet opened #537 "Search regressions"
je constate deux petits soucis sur la version de DEV :

 - on ne peut plus chercher "convention collective XXX"
 - les erreurs d'orthographe ne sont plus tolérées

[2019-02-20 17:26] UnbearableBear opened #541 "Variables CSS partagées (et UI React commune ?)"
Etat des lieux:
Si nous souhaitons supporter IE11, qui ne supporte pas les css vars, nous devons mettre en place une méthode qui permette d'avoir des variables css communes à plusieurs repo ou au moins communes dans tout le monorepo cdt et ses sub-repos.

Idées à développer:

- Styled-components theming: https://www.styled-components.com/docs/advanced
- Styled system: https://styled-system.com/
-

[2019-02-21 11:57] #530 closed, assigned to UnbearableBear

[2019-02-21 17:04] ClementChapalain opened #545 "[meta] Intégration phase 2 hiérarchie des normes"
méta-tâche sur l'intégration de la hiérarchie des normes dans le CDTN

**lier les contenus MT et SP aux articles de lois**
- [x] #549

**lier les articles de lois aux différents blocs de hiérarchie des normes**
- [ ] #586

**revoir le bloc articles de loi correspondants pour en faire un bloc "sources de droit" dans lequel on explique bien quelle est la hiérarchie**
- [x] #587
- [x] #628
- [ ] #684

[2019-02-22 08:33] ClementChapalain commented on #495
outils à intégrer dans cette liste :

**calculateur d'indemnités de licenciements**
- icône du bloc : on peut reprendre celle de "rémunération" dans la liste des thèmes, mais s'il existe une librairie plus fournie, il y a peut-être une icône plus adaptée
- titre du bloc : "Calculateur d'indemnités de licenciements"
- description du bloc : "Calculez simplement le montant d'une indemnité de licencie

[2019-02-22 08:51] ClementChapalain commented on #529
needs #465

[2019-02-22 10:15] adipasquale opened #547 "broken CCNdata.json"
the file packages/code-du-travail-data/CCNdata.json is broken and unused. can we remove it altogether?

@douglasduteil you're the one who merged that commit, do you remember where does this file come from and whether it's safe to delete it or not?

I think it's the same contents as the file `packages/code-du-travail-data/dataset/faq-conventions-collectives.json`

https://github.com/SocialGouv/code

[2019-02-25 09:04] ClementChapalain commented on #529
V1 :
- [x] mettre le filtre sur le type de réponses sur la gauche
- [ ] reprendre le design de Jérémie sur l'intégration des réponse (respecter la hiérarchie de l'information sur titre / type / source)

Pour plus tard :
- intégration du filtre sur le secteur d'activité (aujourd'hui on ne peut pas le faire)
- intégration du fil d'ariane (nécessite reflexions sur comment on le construit)

[2019-02-25 09:06] ClementChapalain opened #549 "Lier les contenus SP aux articles de lois"
*Première partie de l'intégration de la hiérarchie des normes, cf. #545*

----

L'objectif final est de pouvoir indiquer pour chaque contenu comment s'applique la hiérarchie des normes sur les textes applicables. Pour cela nous avons de pouvoir relier nos contenus aux articles du code du travail qui sont concernés.

Dans un premier temps, pour service-public.fr. Le contenu de service-public.fr est

[2019-02-25 09:13] #528 closed, assigned to UnbearableBear

[2019-02-25 10:05] ClementChapalain commented on #317
Cette fiche est particulièrement complexe en termes de widgets et de types de mises en forme :
https://www.service-public.fr/particuliers/vosdroits/F2883
https://codedutravail.num.social.gouv.fr/fiche-service-public/demission-dun-salarie?q=demission%20d%27un%20salari%C3%A9&search=0

Je pense qu'on peut se baser dessus pour essayer d'obtenir un rendu acceptable de notre côté pour la majorité des fi

[2019-02-25 10:14] lionelB commented on #531
J'avais en tête de faire crée un évènement `search` qui collecte les infos du champ de recherche
- envoi d'un évènement lorsqu'on appuie sur `Enter`
- envoi d'un évènement lorsqu'on clique sur un résultat (a terme cet event ne sera plus utile si on propose des requêtes plutôt que des résultats)

[2019-02-25 10:16] ClementChapalain commented on #531
D'ailleurs, Jean-René m'avait parlé d'une instance Kibana, ça pourrait peut-être résoudre notre problème à court-terme de visibilité sur les termes de recherche ? Elle est encore disponible ?

[2019-02-25 10:18] revolunet commented on #531
https://incubateur-mas.slack.com/archives/C8375SG9X/p1535645837000100

[2019-02-25 10:19] revolunet commented on #531
ne fonctionne plus visiblement

[2019-02-25 10:19] revolunet commented on #317
je vote pour faire un package dédié à la mise en forme de ces fiches

[2019-02-25 10:20] lionelB commented on #537
ca fait partie des items à voir jeudi avec Lionel d'ES

[2019-02-25 10:28] ClementChapalain commented on #531
je n'arrive pas à accéder à ce lien sur slack

[2019-02-25 10:30] revolunet commented on #549
Les extraits SP et MT incluent bien des références, vers des articles, sections, eu autres textes (ex: JORF) mais actuellement ces données ne son pas indexées dans ES.

Il faudrait :

 - [ ] indexer ces "références" dans ES (dans le script d'indexation)
 - [ ] côté API, a la consultation d'un contenu SP ou MT, remonter les infos complètes de ces références (par exemple avec une API du type https:/

[2019-02-25 11:00] ClementChapalain commented on #409
@lionelB est-ce que cette tâche est terminée ?

[2019-02-25 11:07] lionelB commented on #409
oui et non

je pense que cela devrait être gérés coté outils de contrib avec un systême d'alerte qui tourne en tache de fond

[2019-02-25 11:10] ClementChapalain commented on #409
ok ce sont d'autres tâches pour moi, je vais transférer dans une nouvelle issue si c'est ok :)

[2019-02-25 11:12] ClementChapalain opened #550 "MàJ automatique de certains contenus"
*suite de #409*

----

https://www.legifrance.gouv.fr/eli/decret/2018/12/19/MTRX1833925D/jo/texte

- Il faudrait détecter les contenus "maison" impactés par le décret
- le décret de revalorisation a toujours le même intitulé, peut on créer une règle de maj avec les données legifrance?

Cela devrait a priori être géré coté outils de contrib avec un systême d'alerte qui tourne en tache de fond

[2019-02-25 11:12] #409 closed, assigned to lionelB, jrduscher

[2019-02-25 13:16] ClementChapalain opened #551 "Intégration contenu CCNs dans CDTN"
Première étape : arborescence des conventions affichées dans le CDTN

specs WIP

[2019-02-25 13:19] UnbearableBear opened #552 "Utilisation de Link et du router next.js dans le subrepo UI"
Actuellement, nous avons des components (e.g. Category) qui comportent des liens (<a> tags) dans l'UI, alors que nous devons utiliser les outils fournis par Next.js pour gérer le routing dans le repo frontend.
Ce qui fait que le component UI Category est actuellement "dupliqué" dans le repo front qui lui utilise la balise <Link> fournies par Next.js

Que faire ?

Liée à https://github.com/SocialGo

[2019-02-25 13:25] revolunet commented on #495
Proposer également un lien vers simulateur d'embauche ?  https://embauche.beta.gouv.fr/

[2019-02-25 13:26] revolunet commented on #495
exemples de requêtes pour simulateur d'embauche :

[code]

[2019-02-25 13:28] ClementChapalain opened #553 "Relier des mots-clés aux outils"
Pouvoir rechercher des outils (calculateurs d'indemnités de licenciement + modèles de courriers) depuis la barre de recherche

specs WIP

[2019-02-25 13:28] jrduscher commented on #474
#495

[2019-02-25 14:12] ClementChapalain commented on #495
carrément ! ce serait même top si on pouvait l'héberger dans une page chez nous

[2019-02-25 14:15] lionelB commented on #495
c'est tout à fait possible, il existe une version embed.
\ping @laem

[2019-02-25 14:27] ClementChapalain commented on #553
duplicate #474

[2019-02-25 14:27] #553 closed, assigned to nobody

[2019-02-25 15:56] revolunet commented on #552
A propos de ce composant Category : c'est à titre de démo pour l'instant car nous n'avons pas défini comment ce contenu va être défini ou géré (automatiquement, manuellement...)

[2019-02-25 16:53] jrduscher commented on #493
done par mail @lionelB

[2019-02-25 17:37] UnbearableBear opened #554 "Futur de @socialgouv/next-routes"
Je trouve le cout d'entrée de cette lib assez élévé. Elle n'est plus maintenue et next avance vite. Il faudra revenir dessus tôt ou tard

[2019-02-26 13:17] #527 closed, assigned to UnbearableBear

[2019-02-26 15:07] lionelB opened #556 "version mobile -> problèmes bloquants"
parce que c'est pas glorieux
![image](https://user-images.githubusercontent.com/160320/53422846-8cd90080-39e0-11e9-871c-ec0d9da11c34.png)

[2019-02-26 15:08] revolunet commented on #556
un mot par ligne c'est accessible ça :)

[2019-02-26 18:29] lionelB commented on #493
## dossiers à inclure

- Accueil particuliers >Social - Santé >Complémentaire santé et couverture maladie universelle complémentaire
https://www.service-public.fr/particuliers/vosdroits/N20286

- Accueil particuliers >Social - Santé >Prime d'activité
https://www.service-public.fr/particuliers/vosdroits/N31477

- Accueil particuliers >Étranger >Travail d'un étranger en France
https://www.service-pu

[2019-02-27 08:35] revolunet commented on #549
Pour le listing des articles pour les fiches SP/MT :

 - J'ai du mettre à jour le fichier du code du travail au 2019-01-01. pour l'instant c'est généré (en attendant la DILA) avec une version expérimentale de legi.py mais @adipasquale et moi allons solidifier ça rapidement 🙏 ✨

 - fonctionnement prévu : lorsqu'une fiche cite un lien Légifrance, on peut le faire passer dans notre fonction qui renvo

[2019-02-27 09:04] ClementChapalain commented on #549
tu as un exemple ? j'ai l'impression en ayant regardé rapidement qu'une section contient soit des articles soit d'autres sections mais pas les deux

je suis pour ne pas les inclure aussi

[2019-02-27 09:47] revolunet commented on #549
Les sections avec des "sous-sections", par exemple https://www.legifrance.gouv.fr/affichCode.do;?idSectionTA=LEGISCTA000035623934&cidTexte=LEGITEXT000006072050&dateTexte=20180208

[2019-02-27 09:52] revolunet commented on #549
Pour les fiches MT, la qualité des données est moins bonne, les articles ne sont pas forcément bien référencés. ex : https://travail-emploi.gouv.fr/droit-du-travail/les-conges-payes-et-les-conges-pour-projets-pro-et-perso/article/les-conges-payes

Les liens dans la colonne de droite n'ont pas de `href` et dans le texte lui-même, tous les articles cités n'ont pas forcément de lien. donc je vais réc

[2019-02-27 10:47] ClementChapalain commented on #549
merci ! effectivement on peut ne pas les prendre pour ne pas surcharger de contenu je pense 👍

[2019-02-27 10:48] ClementChapalain commented on #549
ok tu es capable d'estimer à peu près quel % des articles on peut récupérer ?

[2019-02-27 17:24] jrduscher opened #562 "Page à propos : ajouter le disclaimer"
Dans la page à propos, ajouter le wording disclaimer de l'ancienne en tête :

Le disclaimer est toujours présent sur la version de prod :
![image](https://user-images.githubusercontent.com/5337489/54125455-54d0b500-4405-11e9-854a-db0cab760cdb.png)

[2019-02-28 09:28] lionelB opened #563 "Amélioration de la matrice de tests"
- trouver une solution pour les liens internes
- s'appuyer sur le spreadsheet
- améliorer le retour / feedback

[2019-02-28 13:13] revolunet opened #564 "Page "A propos" : ajouter contact"
éventuellement contact dans le footer aussi

[2019-03-01 18:41] lionelB opened #567 "utiliser le spreadsheet des test unitaires"
pour l'instant on utilise une version des tests unitaires "non synchronisée"  avec le spreadsheet
Il faudrait utiliser le spreadsheet de référence pour faire tourner les tests unitaires et mettre à jour les identifiants pour les liens internes

[2019-03-01 18:42] lionelB opened #568 "Utiliser le slug des documents comme id elasticsearch"
et mettre à jour le spreadsheet des tests unitaires

[2019-03-04 10:48] lionelB opened #570 "gestion des données"
Aujourd'hui les contenus utilisés par ElasticSearch (ES) sont versionnés dans le monorepo.

voici la liste des contenus et comment on génère les fichiers json qui sont ensuite indexer dans ES.

|Source |  remarque |
|------|----------|
| kali   |          son généré depuis la liste des CCN legifrance,  externalisation prochaine (base KALI) |
| idcc + tags|  probablement plus utilisé   |
| code du

[2019-03-04 10:48] lionelB commented on #570
poke @douglasduteil @adipasquale  @UnbearableBear @revolunet @ivangabriele

[2019-03-04 13:52] lionelB commented on #317
Poke @UnbearableBear

liste des composants (à completer)

- Introduction
- ListeSituations (Tabnavigator)
- Situation (Tab)
- Texte
- Chapitre (Accordeon)
- SousChapitre
- Avertissement
- ASavoir
- Attention
- MiseEnEvidence
- Valeur
- Paragraphe
- Liste
- Item
- Lien => LienInterne (target="_blank" rel="noreferrer, noopener")
- Lien => ServiceEnLigne  (target="_blank" rel="noreferrer, noopener")

[2019-03-04 15:18] UnbearableBear commented on #570
Je suis plus partant pour la solution "all inclusive" (j'ai des gouts de luxe), tu lances une commande et tout est fait, donc le fetch des données sur datagouv. J'aime bien quand l'ordi fait tout lui même !

[2019-03-04 15:19] UnbearableBear commented on #570
Par contre dans très peu de temps le script python ne fera plus rien à par indexer dans ES concernant les fiches du service publique

[2019-03-04 15:56] lionelB commented on #570
l'un n'empêche pas l'autre, on peut avoir un alias qui lance les 2 l'une à la suite de l'autre mais il faut garder en tete qu'un script qui fait la transfo de ~500 fiches xml en json + scrap de ~200 fiche + un export de la base LEGI + un export de kali + un export des contrib risque de prendre du temps

d'ou l'idée d'avoir un endroit avec les données prête à l'indexation.

On pourrait aussi imagin

[2019-03-04 17:09] jrduscher commented on #408
une première étape pourrait être de constituer une liste de textes complète via une extraction de nos outils interne?

[2019-03-05 10:22] revolunet commented on #570
Je suis en phase avec @lionel sur "avoir un endroit avec les données prêtes à l'indexation." et une "re-indexation rapide par ES "

Je rajoute quelques idées à discuter :

Idéalement il faudrait qu'on puisse avoir un historique des données utilisées, et la possibilité de régénérer l'index à n'importe quelle date rapidement.

Cela voudrait dire avoir dans GIT les fichiers JSON statiques générés par

[2019-03-05 15:56] lionelB opened #573 "Sigles et synonymes : mise à jour 2/2"
micro-entrepreneur, auto-entrepreneur, autoentrepreneur
salarié, employé
patron, employeur

poke @jrduscher

[2019-03-05 17:08] jrduscher opened #574 "Outil : indemnité de départ en retraite"
calculateur d'indemnité de départ en retraite.

[2019-03-06 09:11] #465 closed, assigned to lionelB

[2019-03-06 09:23] #537 closed, assigned to lionelB

[2019-03-06 13:39] #474 closed, assigned to lionelB

[2019-03-06 13:59] revolunet commented on #554
Pourrait être remplacé par un hook dès que c'est sec :) https://twitter.com/timneutkens/status/1057053195044823040

[2019-03-06 14:08] revolunet commented on #568
Dans #549, lors du parsing des fiches SP/MT, je pensais lier à des ID ElasticSearch pour les références de types "article du code" et "convention collective". du coup ça voudrait dire avoir des id prédictibles pour ces deux cas. normalisation ?

 - `cdt-[NUM]` ou `NUM` serait un truc style `L2243-1` tel que fourni dans LEGI
 - `ccn-[IDCC]` ou `IDCC` est l'id unique de la CC dans KALI

Avec ça, lor

[2019-03-06 16:20] jrduscher opened #577 "améliorer l'affichage des résultats FAQ: indiquer les tags"
Problème illustré ici:
 https://codedutravail-dev.num.social.gouv.fr/question/quelle-est-la-duree-maximale-de-la-periode-dessai?q=dur%C3%A9e%20maximale%20de%20la%20p%C3%A9riode%20d%27essai%20&search=0
Les indications figurant seules dans le corps du texte ne suffisent pas à répondre à l'usager.
La FAQ en exemple contient des éléments taggués:

 {
    "question": "Quelle est la durée maximale de la

[2019-03-06 17:02] #493 closed, assigned to lionelB

[2019-03-08 10:17] #533 closed, assigned to adipasquale

[2019-03-08 10:25] lionelB commented on #529
closed by  #579

[2019-03-08 12:28] revolunet commented on #549
Deux questions pour aller plus loin :

  - comment faudrait-il afficher les articles quand on en a beaucoup ?
  - ne devrait-on pas afficher le texte de l'article directement au lieu d'un lien vers une page avec le détil de l'article (les articles sont souvent très courts)

 ex: /fiche-service-public/contrat-de-travail-du-salarie-a-domicile-services-a-la-personne?q=contrat%20de%20travail%20du%20sa

[2019-03-08 14:19] #567 closed, assigned to nobody

[2019-03-11 08:27] ClementChapalain commented on #549
Ils seront groupés par bloc de hiérarchie des normes, avec un affichage plus compact qu'aujourd'hui

Je suis d'accord, on peut imaginer du contenu qui apparait au clic aussi mais sans changer de page

[2019-03-11 08:28] ClementChapalain commented on #549
Est-ce que ça te va @revolunet si on clot cette tâche ? Je vais expliciter qu'on fait pour l'instant le travail sur les fiches SP et qu'on verra ensuite pour les fiches MP

[2019-03-11 08:29] ClementChapalain commented on #498
J'ai vu que tu l'avais montré à la démo @lionelB est-ce qu'on peut clore cette tâche ?

[2019-03-11 08:30] ClementChapalain commented on #317
@UnbearableBear je remets cette tâche dans le sprint 12 si c'est ok pour toi ? On peut aussi faire un point sur les composants qui restent pour voir ce qui est prio (vu la discussion qu'on a eu sur l'adresse pendant la démo par exemple)

[2019-03-11 09:17] ClementChapalain commented on #49
Proposition d'intégration :
![image](https://user-images.githubusercontent.com/5337489/54112559-bb92a600-43e6-11e9-891f-533fb180f970.png)

[2019-03-11 09:31] ClementChapalain commented on #551
V1 done par @adipasquale, besoin de plus de recherche et de spécifications pour savoir comment afficher les conventions collectives (et si on veut vraiment le faire)

[2019-03-11 09:31] #551 closed, assigned to nobody

[2019-03-11 09:47] ClementChapalain commented on #573
\+ faire #155 en même temps

[2019-03-11 09:49] ClementChapalain commented on #564
je propose de l'ajouter seulement dans le footer pour l'instant ça répond au besoin

[2019-03-11 09:50] ClementChapalain commented on #564
![image](https://user-images.githubusercontent.com/5337489/54114787-745ae400-43eb-11e9-9165-a8743c9b21f4.png)
le lien `contact` renvoie vers `mailto:contact@code-du-travail.beta.gouv.fr`

[2019-03-11 09:56] ClementChapalain commented on #346
réglé par #549

[2019-03-11 09:56] #346 closed, assigned to nobody

[2019-03-11 10:40] revolunet commented on #49
Ou un seul champ qui gère les 2 cas ?

[2019-03-11 10:47] ClementChapalain commented on #49
j'aime bien les 2 champs notamment car ça permet d'avoir deux placeholders différents et ça nous permettrait d'itérer rapidement sur le champs SIRET

aussi je pense que les 2 champs n'auront pas le même fonctionnement, par exemple dans le champs nom / identifiant on peut faire de l'autocomplete, alors que dans le champs SIRET (exemple : si je commence à taper un numéro de SIRET, ça ne sert à rien

[2019-03-11 11:08] ClementChapalain opened #586 "Lier les articles de lois aux différents blocs de hiérarchie des normes"
WIP here :
https://docs.google.com/spreadsheets/d/1mQ81azG7weE0Jw3vjOatMQbHi8JUFy9HwR4ZDAEABmk/edit#gid=311261636

[2019-03-11 11:11] ClementChapalain opened #587 "Intégration du bloc 1.1.a de la hiérarchie des normes"
Le matching est disponible ici : https://docs.google.com/spreadsheets/d/1mQ81azG7weE0Jw3vjOatMQbHi8JUFy9HwR4ZDAEABmk/edit#gid=311261636

Le design pour l'intégration du premier bloc est disponible ici :
![bloc 1 1 a](https://user-images.githubusercontent.com/5337489/54121458-c1928200-43fa-11e9-90b2-16cfbe94236c.png)

[2019-03-11 12:37] ClementChapalain commented on #529
@lionelB le nouveau design des réponses n'est pas intégré je crois ? je ne le vois pas sur la version de dev en tout cas.
![image](https://user-images.githubusercontent.com/5337489/54124444-b8a5ae80-4402-11e9-88ff-585849c74b50.png)

Si tu préfères que je fasse une nouvelle tâche dis moi !

[2019-03-11 12:49] ClementChapalain commented on #196
done in sprint 11

[2019-03-11 12:49] #196 closed, assigned to nobody

[2019-03-11 14:58] UnbearableBear commented on #587
Ca m'intéresse beaucoup ça !

[2019-03-12 08:16] lionelB commented on #529
Ah oui j'ai zappé :(  on re-ouvre l'issue ?

[2019-03-12 14:46] #88 closed, assigned to lionelB

[2019-03-12 15:51] #562 closed, assigned to lionelB

[2019-03-12 15:51] #564 closed, assigned to lionelB

[2019-03-12 16:12] lionelB opened #591 "migration next 8"
ça serait bien de migrer vers la nouvelle version de nextjs

[2019-03-12 16:13] lionelB commented on #498
yep closed by #566

[2019-03-12 16:13] #498 closed, assigned to nobody

[2019-03-12 16:35] ClementChapalain opened #592 "Ajouter un lien vers le changelog de la version actuelle"
Comme proposé lors de la dernière démo, ce serait bien d'avoir un lien dans le CDTN vers le changelog qu'on a sur github et qui est super (merci @lionelB :)).

Je propose d'ajouter un lien vers [cette page](https://github.com/SocialGouv/code-du-travail-numerique/releases/tag/v2.0.0) (ou son équivalent pour les version futures) avec le wording "journal des modifications" (j'ai vérifié, c'est le ter

[2019-03-14 14:02] jrduscher commented on #408
eposeidon

[2019-03-15 10:41] #317 closed, assigned to revolunet, UnbearableBear

[2019-03-15 11:14] ClementChapalain opened #597 "Ajout d'un moteur d'autocomplete dans la recherche"
Aujourd'hui le moteur de recherche propose des suggestions de résultats, c'est un pré-affichage de la liste des résultats dans la barre de recherche, ce qui n'apporte pas beaucoup de valeurs à l'utilisateur : on a les mêmes propositions que lorsqu'il validera sa recherche sans le design spécifique de la page de résultats.

Armand a développé un moteur d'autocomplete pour prévoir le prochain mot qu

[2019-03-18 09:41] #592 closed, assigned to lionelB

[2019-03-20 09:44] #155 closed, assigned to lionelB

[2019-03-20 09:44] #573 closed, assigned to lionelB

[2019-03-20 09:58] lionelB opened #604 "les suggestions de contenu dans feedback ne remonte plus"
Apres le split des pages home et recherche, l'affichage de résultats qui matche la requete ne s'affiche plus dans la popup de feedback (cf la maquette)

[2019-03-20 14:37] ClementChapalain commented on #549
up 👆 @revolunet je peux fermer ?

[2019-03-20 14:49] revolunet commented on #549
Yes merci

[2019-03-20 14:49] #549 closed, assigned to revolunet

[2019-03-21 14:08] ArmandGiraud opened #612 "Récupération et Stockage des Logs utilisateurs"
Pour anticiper la mise en place de l'algorithme de ranking  il convient de récolter les logs de navigation.

L'objectif étant de raffiner l'ordre des résultats fournis par elastic en utilisant un algorithme de type [Learning to Rank](https://en.wikipedia.org/wiki/Learning_to_rank).

### exemple:
100 utilisateurs entrent la requête :

Elasticsearch leur propose les 2 documents suivants:

1. [DOC 1]

[2019-03-21 14:15] mhavel commented on #612
pour l'âge, profession, ... ie. toute donnée explicitement personnelle : a-priori ce ne sera pas demandé (et si ça l'était on ne pourrait probablement pas les garder en log ?).
Éventuellement cela peut apparaître dans la requête elle-même...
Et puis profession en fait on pourrait demander...

[2019-03-22 09:12] ClementChapalain commented on #495
@lionelB il y a deux petits soucis :)
- il manque une majuscule à `Calculateur` dans le premier outil
- l'icône du dernier outil n'est pas de la même taille que les autres
![image](https://user-images.githubusercontent.com/5337489/54812237-f15b4880-4c8a-11e9-9dd3-f37981530b21.png)

[2019-03-22 09:16] lionelB commented on #495
je regarde ça aussi

[2019-03-22 09:40] yfmadaule opened #619 "Bug - Quand je clique sur une suggestion, cela ne met pas à jour le champs de recherche"
A vérifier si mise à jour des résultats quand clic sur une autre suggestion

Testé ce matin sur la dev 2.1.0

[2019-03-22 09:43] yfmadaule opened #620 "Permettre de fermer les modales par une croix"
Pour s'adapter aux habitudes des gens.
A généraliser à l'ensemble des modals

[2019-03-22 09:54] lionelB commented on #619
bien vu !

[2019-03-22 11:28] adipasquale opened #622 "fix ES stemming"
![](http://g.recordit.co/as9ukYgVrp.gif)

frigori -> aucun resultats
frigorif -> ca matche
frigorifi -> aucun resultats (edited)

[2019-03-24 18:00] ClementChapalain commented on #591
à mettre au sprint 13 @lionelB ? c'est une grosse tâche ?

[2019-03-24 18:06] ClementChapalain commented on #604
j'ai l'impression que ça fonctionne chez moi :
![image](https://user-images.githubusercontent.com/5337489/54883630-eb6e8e80-4e67-11e9-8975-6c541e110d6e.png)

tu peux me dire comment reproduire stp ?

[2019-03-24 18:23] ClementChapalain commented on #612
Merci beaucoup pour toutes les précisions !

Quand tu dis :

Tu parles de la mise en place de l'algo de ranking en tant que tel ? tu penses à d'autres features aussi ?

[2019-03-24 18:25] ClementChapalain commented on #619
j'ajoute au sprint 13 et je ferme la tâche #597 du coup, merci

[2019-03-24 18:26] ClementChapalain commented on #597
je ferme, le bug repéré sur la mise à jour du champs de recherche est à traiter dans #619

[2019-03-24 18:26] #597 closed, assigned to lionelB

[2019-03-24 18:32] ClementChapalain commented on #622
avec le remplacement par le moteur d'autosuggest, est-ce que c'est toujours un problème ?

[2019-03-24 18:32] ClementChapalain commented on #622
ah en fait je viens de vérifier je pense que dans la recherche de convention collective on a toujours le souci en revanche

[2019-03-24 18:42] ClementChapalain opened #626 "Créer un système de classification du contenu"
Première étape de la classification des contenus (cf. tâche #xxx)

L'objectif est de créer un système de classification des contenus par thème propre au CDTN. Ces thèmes seront utilisés pour proposer une navigation thématique et pour proposer du contenu pertinent relatif à un thème rattaché à une requête.

La classification WIP est disponible ici :
https://docs.google.com/spreadsheets/d/1CVRrR45QI

[2019-03-24 18:45] ClementChapalain opened #627 "[meta] Classification des contenus du CDTN"
meta-tâche regroupant toutes les issues relatives à la classification du contenu CDTN

- [x] créer un système de classification du contenu : #626
- [x] matcher les autres systèmes de classification (service-public, e-poseidon, etc.) à notre système de classification : #626
- [x] navigation par thèmes dans le CDTN en utilisant la classification CDTN : #686
- [ ] apprendre à tagger une requête pour

[2019-03-24 20:47] adipasquale commented on #622
Exactement

On 24 March 2019 at 19:32:20, Clément Chapalain (notifications@github.com) wrote:

ah en fait je viens de vérifier je pense que dans la recherche de convention collective on a toujours le souci en revanche

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-25 07:51] ClementChapalain opened #628 "Intégration du bloc 1.1.b de la hiérarchie des normes"
Suite de #587

Intégrer de la même manière le bloc 1.1.b de la HDN :
https://docs.google.com/spreadsheets/d/1mQ81azG7weE0Jw3vjOatMQbHi8JUFy9HwR4ZDAEABmk/edit#gid=311261636

[2019-03-25 08:02] ClementChapalain opened #629 "Dossier d'architecture pour la certification RGS"
Nous allons commencer un dossier d'architecture pour la DSI afin de connaitre le process pour la validation RGS.

[2019-03-25 08:17] ClementChapalain opened #630 "Intégration de l'outil de gestion des requêtes utilisateur"

[2019-03-25 08:22] lionelB commented on #630
c'est quoi ?

[2019-03-25 08:26] ArmandGiraud commented on #612
La collecte de logs pour le ranking n'est pas nécessaire tant qu'il n'y a pas de vraies recherches. c'est pas vraiment prioritaire pour le moment, j'ai fait l'issue pour que Lionel ait de la visibilité sur nos besoins.

[2019-03-25 09:44] ClementChapalain commented on #408
pendant ce sprint :
- où sont stockés ces textes ? comment les récupérer ?

- est-il possible de lier ces textes à nos contenus existants ? (au CDT en premier lieu)

[2019-03-25 10:47] ClementChapalain opened #631 "Modifications formulaire feedback"
Problèmes rencontrés avec le système de feedback actuel :
- Les derniers tests utilisateurs nous ont appris que le bouton " 👍/ 👎" n'était pas très clair ("on peut liker des articles ?")
- Il a été décidé au dernier COPIL que les questions de droit devaient être redirigées vers les services de renseignement
- Il y a une confusion actuellement sur le formulaire de feedback qui propose à l'usager de

[2019-03-25 10:47] ClementChapalain opened #632 "Supprimer les liens vers les outils en ligne et formulaires sur les fiches service public"
par exemple sur cette fiche : https://codedutravail-dev.num.social.gouv.fr/fiche-service-public/rupture-conventionnelle?q=rupture%20con

il y a tous les liens vers les services et formulaires qui sont répétés à la fin de la fiche (ils sont aussi dans le contenu), ce qui n'apporte rien à la réponse en soi (un formulaire / outil sans le contexte ne sert pas à grand chose)

[2019-03-25 11:16] UnbearableBear opened #634 "Remove code-du-travail-css"
L'idéal serait de le remplacer par un utilitaire en styled-components dans code-du-travail-ui

[2019-03-25 11:28] UnbearableBear opened #635 "Réparer le styleguide dans @cdt/ui"

[2019-03-25 17:05] ClementChapalain commented on #620
Pas besoin pour la modal de feedback car nous allons modifier le module de feedback (#631), mais à faire pour les autres modales.

[2019-03-25 17:08] ClementChapalain commented on #628
déjà fait dans #587 en fait

[2019-03-25 17:08] #628 closed, assigned to nobody

[2019-03-26 09:09] #49 closed, assigned to nobody

[2019-03-26 10:26] jrduscher commented on #408
eposeidon
on peut oublier eposeidon, il y a un renvoi vers legi, et le spectre réglementaire non codifié n'est pas spécifique au droit du travail (64240 arrêtés, 45355 décrets).
Il faut en rester à exploiter les liens dans LEGI.

Ces textes non codifiés ( décrets et arrêtés) vont être cités dans les contenus proposés sur le site ( fiches FAQ)(, ex : derniers paragraphe de la fiche : https://codedu

[2019-03-26 10:26] #408 closed, assigned to nobody

[2019-03-26 10:30] ClementChapalain opened #636 "Faire une page /stats"
WIP

[2019-03-26 10:48] jrduscher opened #637 "bug taux horaire du smic"
https://github.com/SocialGouv/code-du-travail-numerique/pull/518
constat: le message direct portant sur le SMIC à Mayotte s'affiche quand on cherche SMIC. Le texte générique ne s'affiche pas.

1: résolution du bug par réglage de ES.

2: à défaut création d'un texte direct SMIC unique.

texte à ajouter

à <b>10,03&nbsp;€</b> en métropole, en Guadeloupe, en Guyane, en Martinique, à La Réunion, à Sai

[2019-03-27 08:52] lionelB commented on #619
fixed by #617

[2019-03-27 08:52] #619 closed, assigned to nobody

[2019-03-27 13:09] jrduscher opened #641 "amélioration affichage page de réponse FAQ"
https://codedutravail-dev.num.social.gouv.fr/question/je-suis-en-arret-maladie-ai-je-le-droit-au-maintien-de-salaire-par-mon-employeur-luhixk568bysfa?q=arr%C3%AAt%20de%20travail

on décovre dans le texte qu'il est question de la branche HCR qui est traitée.

afficher le tag lié à la branche ( aujourd'hui le tag le plus présent)
sous le titre à droite en gras, afficher branche: "xxx", lorsque le le

[2019-03-27 13:17] jrduscher opened #642 "Integration des 250 questions-réponses faq quotidiennes"
https://github.com/SocialGouv/code-du-travail-numerique/pull/337

un stock de questions réponse existe sur un csv et dans des mails: comment les integrer et les mettre à disposition du public avant qu'ils ne soient obsolètes.

une première vague existe dans un json ( voir pr 337), automatiser est il envisgeable?

[2019-03-27 13:35] ClementChapalain commented on #529
est-ce qu'on peut également virer le bloc "Voir aussi" dans la page de résultats please :)
![image](https://user-images.githubusercontent.com/5337489/55079974-90be7800-509d-11e9-9af2-ebdd9d5f4022.png)

[2019-03-27 13:39] jrduscher commented on #637
autre bug : la réponse rapide apparait en hors sujet total aussi, exemple ici:
![image](https://user-images.githubusercontent.com/37538697/55080130-d8dd9a80-509d-11e9-9ea8-1292758a113d.pg)
L'idée serait de faire en sorte de faire matcher la réponse avec certains mots uniqument : SMIC, salaire minimum, taux horaire)

[2019-03-27 21:08] lionelB commented on #641
ca ressemble à un doublons de #577 poke @jrduscher

[2019-03-28 10:42] lionelB opened #645 "mettre à jour la requete de faceting"
il manque le match sur `text.french_stemmed`

[2019-03-28 10:44] lionelB opened #646 "mettre à jour le champ de recherche lorsqu'on se déplace au clavier"
Actuellement le champ de recherche se met jour seulement apres que la page de resultat soit chargée ce qui introduit une latence dans la mise à jour de l'UI

[2019-03-28 11:08] lionelB opened #647 "mettre à jour la config de rollup"

[2019-03-28 11:10] lionelB opened #648 "ajouter le service nlp dans k8s"
car pour l'instant la suggestion  de requêtes n'est plus accessible :(

[2019-03-28 13:25] ClementChapalain opened #651 "lien vers le formulaire"
pour la démo, à supprimer plus tard
https://docs.google.com/forms/d/e/1FAIpQLSe_nwZibOHIl69KSYPcKEhvEuwR3Q87VOOJxf6ZkEZYes0Hyg/viewform

[2019-03-28 13:27] ClementChapalain commented on #651
email: clement.chapalain2@gmail.com
password: aR@YRS(P=|K6s.m}

[2019-03-28 14:16] ClementChapalain commented on #651
https://contributions.codedutravail-dev.num.social.gouv.fr/

[2019-03-28 17:05] jrduscher opened #653 "page réultat: integrer un renvoi en fin de parcours vers l'annuaire et les SR"
specs à venir: réintegration des donnéers trouver mon sR + uméro unique?

[2019-03-29 08:55] #651 closed, assigned to nobody

[2019-03-29 08:57] ClementChapalain commented on #648
fixé j'ai l'impression :) ?

[2019-03-29 09:28] lionelB commented on #648
nope, c'est fixé sur le serveur de dev par contre, le container nlp n'est pas déployé sur le cluster de dev (celui ou les branche sont déployées)

[2019-03-29 09:29] ClementChapalain commented on #653
duplicate #631

[2019-03-29 09:29] #653 closed, assigned to nobody

[2019-03-29 09:34] lionelB commented on #653
ressemble aussi à #242

[2019-03-29 10:04] lionelB commented on #587
closed by #625
@UnbearableBear si tu rajoutes `Fix #xxx`  dans le message de commit ou dans le message de la PR, l'issue va se fermer automatique et plus cela permet de faire des liens entre les deux. C'est assez pratique.

[2019-03-29 10:04] #587 closed, assigned to UnbearableBear

[2019-03-29 10:24] #647 closed, assigned to nobody

[2019-03-29 10:40] #495 closed, assigned to lionelB

[2019-03-29 11:07] #591 closed, assigned to lionelB

[2019-04-01 09:08] revolunet commented on #484
A propos des services de renseignement, on a des données HS sur le site, il faut voir si on peut normaliser (côté ORGA) ces informations : adresses, heures d'ouverture, contacts... ou scrapper ?

Eventuellement un 1er scrap par nos soins puis transmission du fichier à la DIRECCTE pour maintenance/corrections ?

Ce [lien](http://bourgogne-franche-comte.direccte.gouv.fr/sites/bourgogne-franche-comte

[2019-04-01 13:01] #529 closed, assigned to lionelB

[2019-04-01 16:57] virginielastisneres opened #661 "Mettre à jour les fiches Ministère du travail"

[2019-04-02 09:50] #622 closed, assigned to lionelB

[2019-04-02 13:36] lionelB commented on #631
l'ancienne version permettait aussi d'accéder au formulaire de feeedback depuis la page de résultats de recherche (en cas de "Pas de résultats")

On supprime ?

[2019-04-02 13:55] ClementChapalain commented on #631
je pense que ce formulaire de feedback doit être vraiment spécifique au contenu pour qu'on sahe quels contenus sont ok ou non, après c'est vrai qu'un rebond pour une requête sans résultats serait interessant aussi, mais ce sera surement un rebond plus du style : "contacter les services de renseignement / utilisez la navigation par thèmes"

du coup on peut le virer dans la page de résultats je pens

[2019-04-02 14:33] #632 closed, assigned to UnbearableBear

[2019-04-02 15:15] lionelB commented on #631
ca marche !

[2019-04-02 16:34] #645 closed, assigned to lionelB

[2019-04-02 16:47] lionelB commented on #631
@ClementChapalain est ce que ca t'irait si je laisse les 2 boutons (peut être légerement grisé) pour avoir laisser le choix visible avant d'afficher le reste du formulaire ?

[2019-04-02 16:50] ClementChapalain commented on #631
oui carrément ! ce serait bien de les disable du coup pour éviter qu'un utilisateur clique plusieurs fois sur les boutons sur la même page et pourrisse les stats.

[2019-04-02 17:28] lionelB commented on #631
Ah bien vu !
il manque un bouton `annuler` au niveau formulaire pour revenir à l'état initial

[2019-04-02 17:33] #648 closed, assigned to lionelB

[2019-04-02 18:02] #635 closed, assigned to UnbearableBear

[2019-04-03 08:02] jrduscher opened #667 "[bug] facetting affichage"
![image](https://user-images.githubusercontent.com/37538697/55462689-9b29c600-55f7-11e9-8285-f14694f72a73.png)

affichage de 1 faq dans le facetting, plusieurs FAQ sont en page résultats ( mais une seule super pertinente effectivement)

[2019-04-03 09:51] #646 closed, assigned to lionelB

[2019-04-03 10:27] lionelB commented on #667
closed by #665

[2019-04-03 10:27] #667 closed, assigned to nobody

[2019-04-03 12:47] #491 closed, assigned to jrduscher

[2019-04-03 12:47] jrduscher commented on #491
doublon

[2019-04-03 14:46] jrduscher commented on #242
1. > Mise à jour des données SR
2. > numéro unique ( exemple) doc officielle le 5/04
3. http://grand-est.direccte.gouv.fr/sites/grand-est.direccte.gouv.fr/local/cache-vignettes/L180xH150/banniereanimeedroitdutravail-1ec92.gif
4. > coordonnées des SR en local ( si liste via DGT)
5. > réintegrer l'orientation vers les SR en bas d epage résultats

[2019-04-04 14:57] jrduscher commented on #642
les e-mails ont été integrés à la mains dans des fichiers excel reprenant les champs ci après:

REDACTEUR* | DIRECCTE/ UD* | DIRECCTE/ UD* | DATE* | Date d’expiration du contenu : | Commentaire * | QUESTION DE L’USAGER* | REPONSE* | REFERENCES ET SOURCES* | Branche / CCN | Intitulé ou IDCC *: | Catégorie : | Thème de la question (thème attribué et sous   thèmes) | Salaire / Rémunération. | Type de

[2019-04-04 15:18] lionelB commented on #631
@ClementChapalain le lien sur "joindre les services de renseignement", il pointe ou ?

[2019-04-04 15:42] revolunet commented on #642
ce serait pas l'occasion de les injecter dans l'outil de contribution (via un script) et commencer à y puiser pour nourrir le CDTN ?

[2019-04-04 15:42] lionelB commented on #642
Est ce que genre de contributions ne devrait pas plutôt se retrouver (via un import ?) dans l'outils de contribution ?

[2019-04-04 15:42] lionelB commented on #642
ahah julien ;)

[2019-04-04 16:45] ClementChapalain commented on #631
vers cette pop-up :
![image](https://user-images.githubusercontent.com/5337489/55573214-c0a6f480-5709-11e9-9fcc-cbd6a30928fe.png)

[2019-04-05 08:52] ClementChapalain commented on #242
to do :
- footer avec le module "besoin d'un accompagnement personnel" présent sur tout le site
- ajoute le numéro unique
- ajoute une phrase d'explication sur ce que sont les SRs

[2019-04-05 08:56] ClementChapalain opened #678 "SEO"
specs here

[2019-04-05 09:48] jrduscher opened #679 "Termes juridiques complexes non remplaçables par un synonyme exact"
**problème**: la vulgarisation s'arrête à l'approximation et aux erreurs de droit qu'elle induit. La fiabilité juridique suppose de garder des termes juridiques non substituables par un autre terme.. Exemples "un accord de branche étendu", une prise d'acte, la cour de cassation, jurisprudence.

**L'idée** est de proposer une explication ou une définition de ces termes et notions à l'utilisateur. E

[2019-04-05 10:38] jrduscher opened #681 "Obligations de l'employeur et seuils d'effectifs"
**rappel des obligations génériques de l'employeur en fonction de l'évolution de l'entreprise dans un contenu spécifique.**

[2019-04-05 13:01] jrduscher commented on #242
Précisions de la tâche suite à rdv DGT:

**to do :**

footer avec le module "besoin d'un accompagnement personnel" présent sur tout le site et principalement en bas de page résultat.

ajouter le numéro unique
logo/vignette.
ajoute une phrase d'explication sur ce que sont les SR:

titre: **Services de renseignement juridique des DI(R)ECCTE**
explicatif à ajouter:" les services de renseignement donn

[2019-04-05 15:27] ClementChapalain opened #684 "Améliorer l'affichage de la hiérarchie des normes (wording, design, etc.)"
Après avoir fait quelques tests utilisateurs rapides sur la compréhension de notre nouveau bloc sur les références juridiques, il faudrait faire quelques modifications pour apporter plus de clarté :
- ajouter le texte : "Cette réponse est liée à **n** articles du code du travail. Le texte applicable à votre situation (code du travail, accord de branche, accord d'entreprise) est différent en foncti

[2019-04-05 15:28] ClementChapalain opened #685 "Remplir le data filler"
WIP

[2019-04-05 15:29] ClementChapalain opened #686 "Ajouter les thèmes CDTN aux fiches SP et MT"
Cf. la tâche #626 nous avons désormais une arborescence de thèmes spécifiques au CDTN 🙌
https://docs.google.com/spreadsheets/d/1CVRrR45QIlSzVeO_9V1TUXSqI1U9Bt5_KYWlcH9K2jI/edit#gid=1783422693

L'objectif de cette tâche est d'associer un thème CDTN à chacun de nos contenus SP et MT afin de permettre à l'usager de naviguer par thèmes dans le CDTN.

L'idée est de faire correspondre les thèmes des fic

[2019-04-05 17:01] jrduscher commented on #242
**la liste des coordonnées des SR**

proposer à l'usager via un champ de retrouver les modalités de contact physque, mail, siaie en ligne que propose son service de rens.
Il existe une modal, qui répond à ces fonctionnlités. elle doit être améliorée.
1) Màj des URL

 https://www.clicrdv.com/direccte-bourgogne-franche-comte pour les dep 21,25,39, 58,70, 71, 89,90

http://normandie.direccte.gouv.fr/

[2019-04-07 19:33] #626 closed, assigned to ClementChapalain, jrduscher, virginielastisneres

[2019-04-07 19:34] ClementChapalain commented on #629
Hello @revolunet vous avez pu avancer sur ce sujet ?

[2019-04-07 19:45] ClementChapalain opened #687 "Une convention collective est catégorisée"
To do :
- [ ] définir ce qu'on veut pouvoir sortir d'une CCN : champs d'application, tableaux de salaire, article lié à un thème, etc.
- [ ] définir comment on souhaite tagguer / catégoriser / labelliser une CCN
- [ ] tagguer une première CCN (laquelle ?)

[2019-04-07 19:47] ClementChapalain commented on #661
est-ce que tu peux donner du détail sur le pb stp @virginielastisneres :) ?

-> est-ce qu'il manque des fiches ? est-ce qu'on a une fiche plus à jour ? etc.

[2019-04-07 19:48] ClementChapalain commented on #630
désolé un doublon

[2019-04-07 19:48] #630 closed, assigned to nobody

[2019-04-07 19:53] ClementChapalain commented on #563
lié à #685

[2019-04-07 19:56] ClementChapalain commented on #509
fixé, le point sur matomo reste à fixer mais est détaillé dans #531

[2019-04-07 19:56] #509 closed, assigned to nobody

[2019-04-07 19:57] ClementChapalain commented on #407
plus pertinent suite à #627

[2019-04-07 19:57] #407 closed, assigned to nobody

[2019-04-07 19:59] ClementChapalain commented on #110
plus pertinent suite au nouveau moteur de suggestion

[2019-04-07 19:59] #110 closed, assigned to nobody

[2019-04-07 20:01] ClementChapalain commented on #139
fait via #686

[2019-04-07 20:01] #139 closed, assigned to jrduscher

[2019-04-07 20:01] ClementChapalain commented on #359
done

[2019-04-07 20:01] #359 closed, assigned to nobody

[2019-04-08 07:17] lionelB commented on #630
pas de pb :)

[2019-04-08 07:18] ClementChapalain commented on #637
je suis plus pour le texte direct smic unique, c'est plus sur je pense

[2019-04-08 07:19] lionelB commented on #629
@revolunet on voit lionel d'elastic vendredi, est ce qu'on prépare ça jeudi ? ou plutôt dans le semaine ?

[2019-04-08 07:21] lionelB commented on #626
Est ce qu'on peut mettre un lien vers la classification ?

@ClementChapalain n'hésite pas à mettre un petit mot quand tu fermes une issue pour aider à savoir la cause de la fermeture

[2019-04-08 07:23] lionelB commented on #637
yep, et je vais aussi essayer d'en profiter pour un peu plus forcer un haut score  pour qu'on puisse l'afficher seulement si c'est très pertinent.
Et si ca marche pas, on fera autrement

[2019-04-08 07:54] virginielastisneres commented on #661
Oui Oui :) Désolé Lionel me l'avait demandé en plus, j'ai zappé.. faut juste que je retrouve les fiches dont je parlais...

[2019-04-08 08:14] virginielastisneres commented on #661
Certaines fiches ne sont pas encore mises dans le code du travail numérique. Elles sont très récentes.
Exemples :
- fiche sur l'index égalité hommes-femmes comment le calculer ? https://travail-emploi.gouv.fr/actualites/l-actualite-du-ministere/article/index-de-l-egalite-femmes-hommes-comment-le-calculer
- fiche Comment agir face au harcèlement sexuel au travail ? https://travail-emploi.gouv.fr/ac

[2019-04-08 08:19] revolunet commented on #629
Une première version du dossier "DSI" est bientôt prête.

Pour aller vers le RGS, je propose qu'on fasse asap un 1er atelier en suivant le [guide de sécurité numérique agile](https://www.ssi.gouv.fr/uploads/2018/11/guide-securite-numerique-agile-anssi-pa-v1.pdf)

[2019-04-08 08:43] ClementChapalain commented on #242
Vu avec JR ce matin, on partirait sur revoir le footer avec l'intégration du contact des SR et plus l'annuaire. L'annuaire est important mais on pense que la bonne solution est une intégration contextuelle (i.e. je cherche accident du travail je tombe sur les résultats + le contact de l'agence qui s'occupe de ça). L'idée est aussi que le footer soit le même sur toutes les pages, comme ça l'usager

[2019-04-08 08:47] lionelB commented on #242
je suis un peu triste de supprimer l'annuaire car j'etais content de l'integration de l'api adresse
mais c'est tout à fait juste :)

[2019-04-08 08:54] ClementChapalain commented on #242
oui les tests utilisateurs nous ont pas mal refroidi sur l'usabilité actuelle vu que tous les résultats sont au même niveau, mais très clairement je pense qu'on le reprendra dans les prochaines semaines avec un parcours du style :
1 - je cherche une information
2 - on me donne une information en français facile
3 - si pertinent, on me propose de de parler avec qqun
4 - on me demande mon adresse (o

[2019-04-08 08:56] ClementChapalain commented on #626
oui tu as raison désolé !
https://docs.google.com/spreadsheets/d/1CVRrR45QIlSzVeO_9V1TUXSqI1U9Bt5_KYWlcH9K2jI/edit#gid=1783422693

[2019-04-08 09:24] ClementChapalain commented on #556
Problèmes bloquants :
- [ ] champs de recherche -> enlever le facetting + mettre le bouton "rechercher" en desssous ?
![image](https://user-images.githubusercontent.com/5337489/55713101-453a9100-59f0-11e9-81df-a7a5e8f93e12.png)
- [ ] affichage des réponses -> enlever la colonne des filtres ?
![image](https://user-images.githubusercontent.com/5337489/55713171-6602e680-59f0-11e9-9a71-b36dfe079c60.pn

[2019-04-08 10:59] lionelB commented on #556
Oki je peux proposer des trucs dans l’issue dans un premier temps aussi

[2019-04-08 11:52] ClementChapalain commented on #631
J'ai testé ce matin c'est cool :) J'ai quelques questions :
- est-ce qu’on pourrait avoir un autre formulaire formspree qui est envoyé au moment où l’usager clique sur oui / non ? ça permettrait de faire des stats sur les contenus et voir lesquels sont bons / mauvais
- dans le formulaire qui est envoyé quand l’utilisateur écrit un commentaire optionnel, est-ce qu’on pourrait ajouter en champs cach

[2019-04-08 11:52] ClementChapalain commented on #631
je peux faire une / plusieurs issues pour ça si besoin redis moi !

[2019-04-08 12:53] revolunet commented on #642
@ivangabriele qu'en penses-tu ?

[2019-04-08 13:38] revolunet commented on #661
Il y a une liste d'urls ici : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/fiches_ministere_travail/ministere-travail-liste-fiches.json

Et le scrapping est fait à partir de cette liste

[2019-04-08 13:54] revolunet commented on #678
Quelques suggestions côté technique : Le partie "thèmes" (8 blocs) peut nous aider à bien référencer nos contenus, hiérarchisés par thèmes.

 - Vérifier qu'on a a des href fonctionnels
 - Dans chaque thème, ajouter des liens vers les "questions les plus fréquemment posés" pour le theme/sous-theme question

[2019-04-08 13:56] lionelB commented on #678
Vérifier aussi qu'on a pas de malus sur les contenus dupliqués
(meta à rajouté ?)

[2019-04-08 13:57] revolunet commented on #685
A faire avant de commencer : un dernier tour "UX" pour vérifier que tout est ok

[2019-04-08 13:58] revolunet commented on #678
⚠forcer le noindex sur les urls noprod :)
soit avec une meta, soit un robots.txt

[2019-04-08 14:01] lionelB commented on #685
il faudrait aussi pouvoir brancher le script de TU sur l'appli  le code est dispo où ?

[2019-04-08 14:03] revolunet commented on #685
Le code est là : https://github.com/SocialGouv/datafiller

Je vais ajouter une route pour extraire les données en bloc

[2019-04-08 14:04] ClementChapalain commented on #687
organiser un atelier :)

[2019-04-08 14:10] lionelB commented on #556
pour la page de recherche, on peut sortir le faceting de l'input et le placer en dessous  ce qui permettrai de remplacer la colonne avec les filtres.

[2019-04-08 15:31] lionelB commented on #631
refait une issue avec les modifs, et je ferme celle-là

[2019-04-08 15:31] #631 closed, assigned to lionelB

[2019-04-08 15:36] UnbearableBear commented on #634
Roadmap:

- Mettre le fichier themes.js dans un package à part, hors du monorepo.
- Prendre chaque CSS spécifique à un component UI et le rendre "standalone" (Une PR par component)
- Remplacer le mécanisme "flavors" par un utilitaire styled-component ou quelque chose de plus intuitif  (A voir: comment simplifier ce qui a été fait dans le `ToggleButton`).
- Remplacer tous les  `Button` par des  `To

[2019-04-08 15:43] lionelB commented on #634
Pour chaque composant UI,
- passer les styled en js
- virer le fichier css associé

pour les flavors, on peut passer par un attribut `variant` <Button variant="primary" />

[2019-04-08 15:45] ClementChapalain opened #691 "Modifications nouveau formulaire feedback"
Retours sur le nouveau formulaire de feedback (suite #631)

- est-ce qu’on pourrait avoir un autre formulaire formspree qui est envoyé au moment où l’usager clique sur oui / non ? ça permettrait de faire des stats sur les contenus et voir lesquels sont bons / mauvais
- dans le formulaire qui est envoyé quand l’utilisateur écrit un commentaire optionnel, est-ce qu’on pourrait ajouter en champs cach

[2019-04-08 15:45] jrduscher opened #692 "[bugs] d'affichages et actualisation rapide"
remontées de ~@catherine~  Catherine L.

-  redondance découvrez nos outils et "liens et outils dans le footer". Ce ne sont pas non plus les mêmes contenus.
=> Supprimer liens et outils du footer

- découvrez nos outils: "votre convention collective" diffère des autres cases. espace plus important entre la bordure haute et le picto, police ou taille de police du wording sous le titre différente de

[2019-04-08 15:49] lionelB commented on #692
D'acc !

c'est déja fait !

[2019-04-08 15:54] lionelB commented on #691
c'est en général conseillé de mettre un label descriptif plutôt que générique.
Qu'est ce que tu penses de
- Envoyer mon commentaire
- Transmettre mon commentaire

[2019-04-08 16:06] ClementChapalain commented on #691
ok ! du coup "envoyer mon commentaire" je pense que c'est plus clair

[2019-04-08 16:52] catherine commented on #692
Je pense que vous vous êtes trompés de @catherine - bon courage!
![homer_disappear](https://user-images.githubusercontent.com/3717039/55742278-2209e480-59e4-11e9-8422-70835b659b95.gif)

[2019-04-08 16:59] lionelB commented on #692
ahah magnifique
@catherine désolé pour le ping

[2019-04-08 17:59] jrduscher opened #695 "Encart de feedback ( petite modif wordings)"
![image](https://user-images.githubusercontent.com/37538697/55745765-47284280-5a38-11e9-8802-fa5773a03ba3.png)
1) Merci pour votre réponse !
Souhaitez-vous donner plus de précisions ?
Votre retour va nous aider à construire et améliorer le code du travail numérique

2) envoyer votre question => envoyer
3) Dans votre DIRECCTE, des services gratuits sont chargés de renseigner le public sur le droit

[2019-04-09 07:50] ClementChapalain commented on #695
merci pour l'issue je vais la merger avec #691 !

[2019-04-09 07:50] #695 closed, assigned to nobody

[2019-04-09 07:50] lionelB commented on #695
j'etais en train de répondre :)

[2019-04-09 07:55] ClementChapalain commented on #691
ajout de deux autres modifications via @jrduscher :
- souhaitez-vous nous donner plus de précisions -> "nous sommes à votre écoute si vous souhaitez nous faire un commentaire pour nous aider à améliorer le Code du travail numérique :"
- "nous sommes à votre écoute" -> supprimer
- "vous pouvez également joindre les services de renseignement [...]" -> "pour obtenir une réponse à votre question de dr

[2019-04-09 08:36] #692 closed, assigned to lionelB

[2019-04-09 08:39] #620 closed, assigned to UnbearableBear

[2019-04-09 09:52] UnbearableBear commented on #684
Mon doigt à couper qu'un jour on aura un retour utilisateur disant qu'on ne voit pas le texte sous l'accordéon (surtout si un jour on gère le no-js et qu'il est déplié par défaut) !

[2019-04-09 10:00] lionelB commented on #637
ne doit pas s'afficher sur
- contrat de travail
- heures supplémentarires
- travail le dimanche
- ctt
- cdd
- repos hebdomadaire

doit s'afficher sur les recherches

[2019-04-09 10:04] jrduscher commented on #691
Catherine L. suggère d'ajouter aussi le mail de contact dans cette modal pour les sers interessés par le projet

[2019-04-09 10:22] ClementChapalain commented on #691
il est déjà dans le footer donc je ne suis pas trop pour, je pense que c'est deux cas d'usage différents :
- poser une question générale sur le projet -> usuellement c'est un lien dans le footer, on l'a déjà donc on est bon
- demander un retour spécifique sur un contenu -> on le met de manière contextuelle au niveau du contenu avec notre module de feedback donc on est bon aussi

il faut qu'on fass

[2019-04-09 15:07] ClementChapalain opened #700 "Intégrer le tag hotjar sur le site"
Afin de tirer parti de la conférence de presse de vendredi, on voudrait intégrer un widget permettant de récupérer les adresses email des personnes intéressées par le projet.

Hotjar fait ça très bien, cf. le test réalisé sur mon navigateur :
![image](https://user-images.githubusercontent.com/5337489/55811549-94b0b800-5ae9-11e9-92ee-c3f424c90f5a.png)

On va uniquement l'intégrer sur la page d'accu

[2019-04-09 15:10] ClementChapalain commented on #691
après discussion avec Catherine, JR et Virginie, 1 modification en plus :
- mettre le sélecteur de raison au-dessus du champs de commentaire

[2019-04-09 16:19] lionelB commented on #700
on le met dans chaque page ou que dans la home?

[2019-04-09 16:22] ClementChapalain commented on #700
on le met partout, on gérera le fait que ça apparaisse que sur la home avec une configuration de hotjar, comme ça on peut ajouter d'autres pages si besoin simplement (sans besoin de modifier le tag et de redéployer) ensuite

[2019-04-09 16:27] UnbearableBear commented on #700
Suuuuper !

[2019-04-10 09:36] #700 closed, assigned to revolunet

[2019-04-10 09:45] lionelB commented on #629
on ferme l'issue une fois l'atelier fait ?

[2019-04-10 12:10] #684 closed, assigned to UnbearableBear

[2019-04-10 14:58] jrduscher opened #703 "[BUG] contenu FAQ et articles de référence ne correspondent pas."
Mon employeur peut -il m'imposer de travailler le samedi? Je suis ouvrier dans la métallurgie et travaille à temps plein habituellement du lundi au vendredi

{
    "reponse": "<p>L'employeur peut procéder à des changements d'horaires dans l'entreprise sans obtenir l'accord préalable du comité d'entreprise si cette modification n'est que ponctuelle ou ne concerne qu'un salarié, et n'affecte pas les

[2019-04-12 07:07] lionelB commented on #691
Je pense qu'on doit pouvoir faire cela, je ne vois pas de limitation sur l'offre de formspree

[2019-04-12 07:17] adipasquale opened #717 "Créer une page introductive au droit du travail"
l'idée serait de faire une page introductive ou où on explique succintement comment fonctionne le droit du travail, qu'il y a un code, des conventions, des accords d'entreprise, qu'il y a une notion de hierarchie des droits etc ...

cc @ClementChapalain

[2019-04-12 08:28] jrduscher commented on #717
bien vu!

[2019-04-12 08:42] lionelB opened #718 "utiliser formspree pour recueillir le feedback simple"
Actuellement, la remonté de feedback se fait sur matomo (thumb up / tumb down)
et dans formspree pour recueillir les commentaires

on souhaiterais passer sur formspree pour recueillir les donnée thumb up / tumb down

nom du formspree `cdtn-feedback-light`

[2019-04-12 08:45] UnbearableBear commented on #718
Je peux le faire dans la foulée des modifs du feedback ça si c'est important !

[2019-04-12 09:11] jrduscher opened #719 "BUG: Modèles de courrier proposés en réponse"
bug vu  hier soir avec @lionelB et @revolunet
https://codedutravail.num.social.gouv.fr/question/ma-periode-dessai-peut-elle-etre-renouvelee-boulangerie-epfpwy35re4z8w?q=renouvellement%20p%C3%A9riode%20d%27essai

dans cette réponse, on ne doit pas me proposer le certificat de travail, mais https://codedutravail.num.social.gouv.fr/modeles-de-courriers/renouvellement-de-periode-dessai?q=renouvellemen

[2019-04-12 09:11] ClementChapalain commented on #242
to do :
- mettre le footer de la page d'accueil sur toutes les pages
- enlever la feature annuaire et mettre modale qui donne le contact des SR :
https://www.figma.com/proto/UGkd7UFF3gJSb3a35ClTtPKW/Code-du-travail-num%C3%A9rique?node-id=67%3A0&viewport=1733%2C136%2C0.712359&scaling=min-zoom&redirected=1
- modifier la modale dans le formulaire de feedback (ou enlever le lien carrément ?)

[2019-04-12 09:22] jrduscher opened #720 "bugs+ enhancements : trouver ma ccn avec mon siret"
Lorsque l'outil me propose un lien vers ma CCN.

2) Certaines CCN ex: Air France CC 0275 : La CCN est proposé, mais l'action n'aboutit pas:
 - 780.129.987: Renaut Choisy
- 420 495 178: Air France

3) Quand je tape "entrée" à la fin  ( ou en cours si je veux)de ma saisie de SIRET, je suis ejecté de la modal et me retrouve sur la page d'accueil

4) enhancemenet : Quand je tape les 9 premiers chiffre

[2019-04-12 09:30] jrduscher opened #721 "Correction de modèle signalement de harcèlement sur proposition de l'UD17"
le modèle en cause:
https://codedutravail.num.social.gouv.fr/modeles-de-courriers/signalement-de-harcelement-et-maltraitance-au-travail?q=harc%C3

**Intégration du wording dans le header du modèle**

Avant d'envoyer ce courrier, nous vous invitons à prendre contact avec ll'agent de contrôle de l'inspection du travail qui suit votre entreprise avant l’envoi de ce courrier.

Modification dans le mod

[2019-04-12 09:34] revolunet opened #722 "matomo: dynamic action_name"
Matomo utilise le titre de la 1ère page chargée en tant que `action_name` pour les évènements ultérieurs. ceci doit être dû au mode SSR/[SPA](https://fr.wikipedia.org/wiki/Application_web_monopage)

Voir si on doit utiliser [l'API JS](https://developer.matomo.org/api-reference/tracking-javascript) pour fixer ça, ex `setDocumentTitle`

[2019-04-12 10:00] lionelB commented on #718
non non :)

[2019-04-12 10:03] lionelB commented on #720
ajouter un `event.preventDefault()` dans `onSubmit` du formulaire

[2019-04-12 10:04] lionelB commented on #721
une fois l'issue fermé, il faudra penser à faire un mail pour remercier et dire que c'est intégrer !

[2019-04-12 10:11] lionelB commented on #242
en regardant ta marquette je me demande si on ne pourrait pas mettre
"besoin d'un accompagnement..." + bouton dans la premiere colone du footer ?

[2019-04-12 10:16] ClementChapalain commented on #242
Dans la situation actuelle on pourrait le faire mais je me dis qu'on va surement ajouter d'autres trucs dans le footer donc comme ça on se laisse de la marge pour intégrer de nouveaux éléments.

En plus je pense que ça doit être mis plus en avant que le reste du footer.

[2019-04-12 14:43] adipasquale commented on #720
@jrduscher en effet pour les premiers points que tu mentionnes, ca pointe vers des IDCC soit inactives, soit qui sont parmi les ~150 absentes de legifrance. je ne peux pas faire grand chose de mieux. ex http://localhost:3000/kali-idcc/0054 IDCC 0054 ça doit être bien vieux et abrogé

[2019-04-12 14:46] adipasquale commented on #720
ah non pardon j'ai répondu trop vite, c'est effectivement un bug, je l'ai stockée comme '54' au lieu de '0054' et du coup il y a "mismatch" entre les deux. je vais corriger ça. good catch @jrduscher

[2019-04-12 15:06] adipasquale commented on #720
pour le 4 j'ai changé le wording :

# Recherche par SIREN ou SIRET

Pour la 5 oui c'est possible et relativement facile à faire mais ça ne scalera pas trop, on est sur une infrastucture très temporaire pour ce mapping SIRET > IDCC. On ne veut probablement pas réimplémenter la recherche d'entreprise mais réutiliser celle de https://entreprise.data.gouv.fr/ plutôt. si tu veux je peux le mettre en pl

[2019-04-15 09:23] revolunet commented on #642
Par la même occasion, il faudrait qu'on réintère les ~70 FAQ dans l'outil ?

https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/faq.json

[2019-04-15 12:05] ivangabriele commented on #642
Pardon pour le retard ici. Du coup je crois qu'on est tous d'accord qu'il y a 3 étapes:

1. Intégrer les réponses dans la base de données de prod du backoffice
2. Exposer les réponses via l'API du backoffice (une ligne de SQL suffira)
3. Intégrer ça côté frontoffice

@revolunet ? (je ne ping pas Lionel puisqu'il est en vacances)

[2019-04-15 12:14] virginielastisneres commented on #642
@jrduscher Etant donné que les 250 questions sont en cours de validation par la DGT, ne faudrait-il pas attendre leurs retours avant d'intégrer les réponses dans l'outil de contribution ?

[2019-04-16 14:18] jrduscher opened #733 "ajout d'une fiches SP"
ajout d'une fiches SP
cf @virginielastisneres
https://www.service-public.fr/particuliers/vosdroits/F2309 ( fiche planquée dans le thème loisirs)

[2019-04-16 15:07] UnbearableBear opened #735 "Find a way to enforce css property order of styled-components"
Something like that:
https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685
 or:
1- Tout ce qui est display et positionnement (display: flex, z-index, position absolute etc.)
2 - Marges / padding
3 - Tout ce qui est typo
4 - Tout ce qui est visuel (background first, then borders, then box shadows etc)
5 - d'éventuels trucs restants

[2019-04-16 15:25] #242 closed, assigned to UnbearableBear

[2019-04-16 16:12] revolunet opened #737 "SEO : page headers"
Apparemment on a un `<h1>` sur "Posez votre question sur le droit du travail" sur les pages de contenu "ex: fiches".

Il faudrait que le H1 soit le titre unique de la page et que les headers suivants soient bien hierarchisés

<img width="993" alt="Capture d’écran 2019-04-16 à 18 11 34" src="https://user-images.githubusercontent.com/124937/56226229-1a48e080-6073-11e9-94e7-78d24fb1e3d6.png">

[2019-04-16 17:25] jrduscher commented on #642
Pour cette issue: il faut avoir la solution technique pour intégrer les données des fichiers xlsx, mais il faut effectivement attendre le retour de validation des bureaux techniques.

[2019-04-17 10:47] ArmandGiraud commented on #612
@UnbearableBear @revolunet @lionelB On commence à avoir du traffic, ça vaut peut-être le coup de commencer à regarder comment implémenter ça. merci d'avance :)

[2019-04-17 12:24] UnbearableBear commented on #612
@ClementChapalain Je pense qu'il faut le mettre dans le prochain sprint !

[2019-04-17 13:50] UnbearableBear opened #746 "Clean elastic logs in tests"
Il semblerait que ce soit lié aux logs backend en prod aussi
ping @douglasduteil pour plus d'info si nécessaire

[2019-04-17 13:52] revolunet commented on #746
Plus de détails ?

[2019-04-17 14:01] #691 closed, assigned to UnbearableBear

[2019-04-17 14:48] ClementChapalain commented on #612
ok je me le note merci !

[2019-04-17 15:51] Piermat opened #747 "Ne pas oublier le droit conventionnel"
Bonjour,

Attention avec vos modèles qui devraient le plus souvent être précédés d'une mention alerte sur la possibilité de norme conventionnelle contraire (période d'essai, maintien de salaire, indemnité de licenciement, ancienneté, etc... )

Ah bon, le droit du travail n'est pas harmonisé....

[2019-04-17 16:45] virginielastisneres opened #748 "Divers - Fiches SP"
+ Problème affichage de la fiche de service public F2918 (cause inconnue)
+ problème avec la fiche F22549 qui a un élément qui n'est traité qui fait qu'elle ne s'affiche pas non plus.
+ Pareil pour la fiche F32471
+ ajout d'une fiches SP https://www.service-public.fr/particuliers/vosdroits/F2309 ( fiche planquée dans le thème loisirs)
+ F2406 (licenciement protection du représentant personnel) Dan

[2019-04-18 09:02] jrduscher opened #749 "Modèle de lettre de démission à produire"
modèle de lettre de démission à produire.

[2019-04-18 09:15] ClementChapalain commented on #703
je ne comprends pas le pb ni la solution proposée, je ne vois pas où on parle de risque pyrotechnique ? j'ai regardé les articles du CDT liés dans la page réponse et dans la page résultat de recherche et ça parait ok.

[2019-04-18 09:26] ClementChapalain commented on #747
Merci pour votre collaboration :)

[2019-04-18 09:33] ClementChapalain commented on #629
je prends l'orga de cette tâche, la semaine prochaine pour l'atelier je pense

[2019-04-18 09:33] #629 closed, assigned to revolunet

[2019-04-18 09:35] ClementChapalain commented on #735
c'est faisable dans le sprint 14 @UnbearableBear ?

[2019-04-18 09:36] ClementChapalain commented on #678
je ferme, on va faire des tâches spécifiques comme celle ci : #737

[2019-04-18 09:36] #678 closed, assigned to nobody

[2019-04-18 09:38] ClementChapalain opened #750 "Afficher les CCNs sur le CDTN"
POC de l'affichage des CCNs sur le CDTN avec :
- affichage de tous les textes en vigueur
- arborescence dépliable
- tags permettant de filtrer le contenu
- moteur de recherche full text

[2019-04-18 09:40] ClementChapalain commented on #687
atelier organisé, merci @adipasquale :) recap rapide :
- on affiche les conventions collectives sur notre site en faisant un "legifrance v2" : #750
- on pense a priori qu'il va falloir faire du travail à la main pour exploiter les conventions collectives, les 2 pistes évoquées :
  - créer des synthèses à la ELnet
  - faire des outils sur des sujets spécifiques (cf. indemnités de licenciement)

apr

[2019-04-18 09:40] #687 closed, assigned to nobody

[2019-04-18 09:42] ClementChapalain commented on #735
a priori non pas pour le sprint 14

[2019-04-18 10:29] ClementChapalain commented on #604
plus pertinent avec la nouvelle intégration du module de feedback :)

[2019-04-18 10:29] #604 closed, assigned to nobody

[2019-04-18 12:59] UnbearableBear opened #751 "10 résultats seulement affichés mais le faceting indique qu'il y en a des centaines"
Est-ce que ce n'est pas un peu frustrant pour l'utilisateur ?

[2019-04-18 13:08] UnbearableBear commented on #733
Ok je la regroupe dans une autre issue des fiches SP

[2019-04-18 13:08] #733 closed, assigned to UnbearableBear

[2019-04-18 15:30] virginielastisneres opened #753 "Ajout de nouvelles fiches du ministère du travail (l'apprentissage, égalité FH, harcelement)"
ci-dessous les liens de fiches du Ministère du travail :
- https://travail-emploi.gouv.fr/formation-professionnelle/formation-en-alternance-10751/contrat-apprentissage
- https://travail-emploi.gouv.fr/formation-professionnelle/formation-en-alternance-10751/article/l-aide-au-financement-du-permis-de-conduire-pour-les-apprentis
- https://travail-emploi.gouv.fr/formation-professionnelle/formation-en-

[2019-04-19 14:40] UnbearableBear opened #755 "Refaire l'UI des questions (références juridiques + pour aller plus loin)"
C'est un peu bizarre le rendu en dessous de la réponse ici non ?
https://codedutravail.num.social.gouv.fr/question/dans-les-hcr-quel-est-le-preavis-de-demission-6-smnr0oyizfvq

[2019-04-23 08:05] lionelB commented on #735
je suis pas sur qu'il soit nécessaire de faire une issue pour ça (l'ordre des regle css n'est pas un "problême" mais plutot un confort pour le dev), sinon on risque de se retrouver avec beaucoup d'issues "pense-bête"

[2019-04-23 08:28] ClementChapalain opened #756 "Calculateur d'indemnité de licenciement : amélioration calcul + nouveau design"
## Contexte

Nous souhaitons retravailler le calculateur d'indemnité de licenciement afin d'améliorer l'expérience utilisateur et de corriger quelques bugs dans les formules de calcul.

## Design

https://www.figma.com/proto/UGkd7UFF3gJSb3a35ClTtPKW/Code-du-travail-num%C3%A9rique?node-id=297%3A0&viewport=47%2C66%2C0.323337&scaling=min-zoom

## Spécifications

Se référer au Figma + aux spécificatio

[2019-04-23 08:31] ClementChapalain commented on #755
je comprends pas ce que tu veux dire, tu peux préciser stp ? et les liens localhost on peut pas y accéder nous :)

[2019-04-23 08:32] UnbearableBear commented on #755
Ah oui pardon ! j'édite le lien !

[2019-04-23 08:32] ClementChapalain commented on #753
est-ce que c'est le même travail que sur #661 ?

[2019-04-23 08:33] ClementChapalain commented on #753
poke @revolunet ☝️

[2019-04-23 08:34] ClementChapalain commented on #751
besoin d'une refonte de la page d'affichage des résultats a priori

[2019-04-23 08:34] UnbearableBear commented on #755
Je ne trouve ça pas clair; est-ce lié à la hiérarchie des normes ? Aussi l'interface fait un peu "fourre tout" mais c'est très subjectif. Tu peux close l'issue si tu n'es pas d'accord
<img width="1093" alt="Screenshot 2019-04-23 at 10 33 12" src="https://user-images.githubusercontent.com/705453/56566591-5a4c1e00-65b3-11e9-9752-49461c7f7526.png">

[2019-04-23 08:36] lionelB commented on #751
refonte carrément ?

[2019-04-23 08:37] lionelB commented on #753
meme combat ;) je ferme l'ancienne issue et rajoute les liens a celle-ci

[2019-04-23 08:38] lionelB commented on #753
from https://github.com/SocialGouv/code-du-travail-numerique/issues/661#issuecomment-480731087

[2019-04-23 08:39] lionelB commented on #661
duplicate #753

[2019-04-23 08:39] #661 closed, assigned to UnbearableBear

[2019-04-23 08:41] ClementChapalain commented on #751
c'était plutôt une note à moi-même pardon :) pas forcément pour cette tâche, c'est juste qu'on a de plus en plus de trucs qui nous bloquent sur cette page :
- affichage au même niveau de résultats juridiques (cdt, ccns) et de résultats français facile alors que généralement l'usager va chercher soit l'un soit l'autre, et le mode d'affichage devrait être différent (pour le cdt par exemple on devrai

[2019-04-23 08:41] ClementChapalain commented on #753
merci !

[2019-04-23 08:44] ClementChapalain commented on #755
C'est vrai, en fait c'est la première version de la hiérarchie des normes qui avait été implémenté il y a longtemps. Je suis d'accord avec toi, mais pas prio pour tout de suite je pense !

[2019-04-23 08:47] lionelB commented on #755
je pense que c'est complémentaire à la hiérarchie des normes.
Ce sont des contenus complémentaires qui sont liés au même thème.

[2019-04-23 09:07] ClementChapalain commented on #686
recap à la fin du sprint 14 :
- toutes les fiches MT ont été tagguées :
https://docs.google.com/spreadsheets/d/1CVRrR45QIlSzVeO_9V1TUXSqI1U9Bt5_KYWlcH9K2jI/edit#gid=314865367
- définition du mvp : on affiche un fil d'ariane (pour l'instant non cliquable) sur les fiches SP et MT avec les thèmes parents de chaque fiche

@lionelB est-ce que tu peux compléter stp ? je ne sais plus trop où on en était

[2019-04-23 09:10] ClementChapalain opened #757 "SEO : alt text"
~mettre un alt text sur toutes nos images~

mettre alt="symbole de la Marianne, site public officiel" sur la marianne
mettre alt="" sur toutes les autres images

[2019-04-23 09:16] ClementChapalain opened #758 "SEO : ajouter des balises meta description"
Aujourd'hui on a pas de balise meta description (https://www.yakaferci.com/balise-meta-description/) dans nos pages.

Je propose pour la page d'accueil :

Pour les pages de contenu, la meta description pourrait être les premiers mots du contenu je pense.

Pour les autres pages, on peut le faire ensemble si vous voulez.

[2019-04-23 09:58] lionelB commented on #757
alors c'est pas du tout obligé, surtout si l'image n'apporte rien au contenu

[2019-04-23 10:02] lionelB commented on #686
@ClementChapalain c'est en cours, je reprend le fil de ce que j'avais fais
- pour les fiches mt: cool
- pour les fiche sp: il me manque des infos notamment pour la partie entreprises / professionnels

[2019-04-23 10:28] ClementChapalain commented on #757
ok au temps pour moi, j'ai l'impression que la bonne pratique c'est de les mettre lorsque ça apporte qqchose pour l'accessibilité, du coup :
- mettre un alt="" pour les icones
- mettre un vrai alt sur la mariane

cf. https://www.practicalecommerce.com/6-SEO-Myths-about-Alt-Tags

tu en penses quoi @lionelB ?

[2019-04-23 10:42] UnbearableBear opened #760 "Failing tests when running from mono repo root"
Tout est dans le titre !

[2019-04-23 10:43] UnbearableBear commented on #735
Oui je suis d'accord sur le fait que le terme `issue` n'est pas adapté ici, c'est juste un pense bête mais ou le mettre si ce n'est pas là ?

[2019-04-23 10:50] UnbearableBear commented on #757
Ca apporte quoi en termes d'accessibilité de mettre un alt sur l'image de la marianne ? (qui est d'ailleurs la seule image du site je crois). Quelqu'un qui est mal voyant s'en tape je pense d'entendre son screen reader lui dire "tête de marianne".
La seule raison pour laquelle les alt sont importants pour le référencement, c'est parce que les moteurs de recherchent veulent que ton site soit access

[2019-04-23 10:55] ClementChapalain commented on #757
la marianne est le symbole de tous les sites officiels donc c'est hyper important je pense, sans ça tu ne sais pas que tu es sur un site du gouvernement (à part en déchiffrant l'url).

c'est effectivement la seule image du site je confirme.

c'est quoi un wai-aria ?

[2019-04-23 10:56] UnbearableBear commented on #757
Oui mais pour un mal voyant ce symbole n'a peut-être pas de sens
https://developer.mozilla.org/fr/docs/Accessibilit%C3%A9/ARIA ;)

[2019-04-23 10:59] ClementChapalain commented on #757
d'où le besoin de mettre un alt qui dit un truc du genre : "symbole de la marianne, site officiel du gouvernement" :)

[2019-04-23 11:43] virginielastisneres opened #761 "BUG Fiche Service public F32471 Peut-on encore avoir un Dif dans le secteur privé ?"
![Capture](https://user-images.githubusercontent.com/48682104/56578343-c3408f80-65cd-11e9-9397-ecbe112cce95.PNG)
Ecran vide quand l'on clique sur la fiche dans le code du travail numérique

[2019-04-23 11:45] virginielastisneres commented on #753
merci beaucoup :D excusez moi je viens de voir vos messages que maintenant...

[2019-04-23 11:47] UnbearableBear commented on #761
J'ajoute à la tache existante sur les fiches du service public

[2019-04-23 11:47] #761 closed, assigned to nobody

[2019-04-23 11:51] virginielastisneres commented on #761
Merci Manu, je me suis rendu compte trop tard qu'il y avait déjà une issue…

[2019-04-23 11:57] virginielastisneres commented on #753
nouvelle fiche du ministère à rajouter :) : https://travail-emploi.gouv.fr/formation-professionnelle/droits-a-la-formation-et-orientation/compte-personnel-formation

[2019-04-23 12:35] UnbearableBear commented on #757
Fair enough :)

[2019-04-23 12:39] lionelB commented on #757
on peut regarder aussi sur d'autre site de SE ou poser la question à romy

[2019-04-23 12:44] lionelB commented on #760
t'as fait `yarn build` sur `@socialcouv/react-fiche-service-public`, `@cdt/ui` `@cdt/css` ?

[2019-04-23 12:49] UnbearableBear commented on #760
En fait je trouve ça horrible de devoir faire un yarn jest -u dans chaque repo utilisant l'ui pour mettre à jour les snapshot quand j'update button par exemple et les tests fails quand on les run à la racine c'est surtout pour ça. Je suis dessus !

[2019-04-23 13:32] lionelB commented on #760
faut éviter de faire  `jest -u` de manière auto.
il vaut mieux faire un `jest --watch` et mettre à jour APR7S avoir vérifier que les fiff correspondent bien au modifs

[2019-04-23 13:40] UnbearableBear commented on #760
Juste pour pouvoir faire un `yarn jest` global alors ! Tout comme on fait `yarn build`

[2019-04-23 13:57] ClementChapalain commented on #757
On vient d'assister à la présentation de Romy sur le styleguide et elle disait qu'il faut mettre alt="" sur toutes les icones qui ne servent à rien et un alt descriptif quand l'image porte du sens qui n'est pas retranscrit autrement dans l'interface

[2019-04-23 14:19] #760 closed, assigned to UnbearableBear

[2019-04-23 14:36] jrduscher commented on #721
yep c'est prévu

[2019-04-24 08:54] #556 closed, assigned to UnbearableBear

[2019-04-24 11:47] revolunet opened #764 "IE11/FF regression"
Il semblerait que `object-assign`, `classnames` soient bundlés sans être transpilés pour notre ami IE11 :) du coup il reste des "fat arrows"... qui n'existent pas en ES3 👹

cdt-ui semble aussi non transpilé :)

[2019-04-24 15:20] revolunet commented on #764
Et Firefox 52

[2019-04-24 16:17] jrduscher commented on #756
CORRECTION DE LA PRIME EXCEPTIONNELLE
**EXISTANT**:

**A CORRIGER**
la variable prime est split en deux variables, prime_3mois,prime 9 mois

**Interface**: WIP ( en cours de réfection voir le figma
"Gratification ou prime de caractère annuelle ou exceptionnelle, (aléatoire ou temporaire) "

**CALCUL**
**I) La prime exceptionnelle a lieu dans les 9 premiers mois.**
récupérr

a) moyenne des 3 dernie

[2019-04-24 17:06] jrduscher opened #767 "Ministère du Travail: revoir la mise en forme"
L'affichage des extraits des fiches ministères n'est pas très user friendly.

Aujourd'hui, Le paragraphe de la fiche ministère du travail est reconstitué dans une nouvelle fiche, qui reprend aussi l'entête et l'encart."A savoir " de la fiche ministère.

![image](https://user-images.githubusercontent.com/37538697/56678535-38da5780-66c3-11e9-86bc-2b39c1a1a981.png)

Le début du paragraphe se noie dan

[2019-04-24 17:08] jrduscher commented on #39
branche Assistante maternelle du particulier employeur:

Explication: L'indemnité légale de licenciement est prévue par le code du travail. Le statut des assistatns maternels du Particulier employeur est régit par dispositions du code de l'action sociale et des familles et du code du travail, pour les matières expressément cités dans le CASF qui renvoient au CDTL.  L423-2 CASF.
=> L'indemnité léga

[2019-04-25 09:07] lionelB commented on #634
composant ui
- [ ] alert
- [ ] badges
- [ ] breadcrumbs
- [ ] button
- [ ] cards
- [ ] categories
- [ ] tags
- [ ] block2cols (utilisé dans `src/components/SeeAlso.js`)
- [ ] layout pour les composant section / container / wrapper

Global
- [ ] layout
- [ ] conf plus ou moins deja fait avec theme
- [ ] classes

elements (a transformer en composant dans le UIKit
- [ ] forms
- [ ] link
- [ ] table
-

[2019-04-25 09:22] jrduscher commented on #721
1) Integration du wording da,s le header du modèle

Tout d'abord, **Nous vous invitons à contacter l'agent de contrôle de l'inspection du travail qui suit votre entreprise avant l’envoi d'un courrier basé sur ce modèle.**

Pour obtenir l'intervention de  l'agent de contrôle  l'employeur dans votre affaire, il faut votre accord ( il faut lever l'obligation de confidentialité à laquelle l'agent est

[2019-04-25 11:22] jrduscher commented on #721
remplacer: Signalement de maltraitance au travail par Signalement de faits pouvant relever du harcèlement moral.

[2019-04-25 18:24] #737 closed, assigned to lionelB

[2019-04-25 18:24] #721 closed, assigned to lionelB

[2019-04-26 12:05] jrduscher opened #782 "[Bug] Modif modèles de courriers"
* demande de dérog temps partiel ( modif d'article dans le corps du modèle. L'article L3123-14-1 est abrogé)
[temps-partiel-demande-de-derogation-du-salarie.docx](https://github.com/SocialGouv/code-du-travail-numerique/files/3121287/temps-partiel-demande-de-derogation-du-salarie.docx)
ocx)

[2019-04-26 12:30] ClementChapalain opened #783 "Nouveau design disclaimer information"
Suite à un message de la DILA, besoin d'améliorer l'intégration du disclaimer sur les pages contenus :
![image](https://user-images.githubusercontent.com/5337489/56807614-a86d5580-682f-11e9-9243-0b8e35ce4be1.png)

Visibilité : uniquement sur les pages contenu avec une croix pour fermer et une fois fermé plus vu pendant la durée de la session.

[2019-04-29 08:42] lionelB opened #787 "clean warning message on ci logs"
[code]
[code]

[2019-04-29 08:52] UnbearableBear commented on #787
Alors le warn de reach j'ai fait un PR sur le proj open source pour le virer mais bon tant que c'est pas merge on ne pourra rien faire :/
Et pour le premier, dès qu'on remettra des `<button>` à la place de `<div>` sur les boutons ça enlèvera l'erreur !

[2019-04-29 08:57] lionelB commented on #787
pour frontend on avait juste fait un hack pour eviter de faire le check en test, il faut juste le remettre sur le package `@socialgouv/react-fiche-service-public`

pour l'autre, oui on peut attendre de repasser les `div` en `button`

[2019-04-29 09:02] #637 closed, assigned to lionelB

[2019-04-29 09:27] #757 closed, assigned to lionelB

[2019-04-29 09:37] #719 closed, assigned to lionelB

[2019-04-29 10:11] jrduscher commented on #756
**Calculateur de licenciement**
Historique des issues:
#131: Calcul indemnité temps plein temps partiel
#344 : pistes d'améioraiton
#308 : détection OPE
#284 Ajouter la CCN métallurgie
#39 : issue d'origine, calcul indé légale+ CCn chimie+specs Metallurgie: accords nationaux.+ bureaux détudes techniques, commerce de gros, bouangerie artisanale, HCR, FEHAP, proporeté

corrections de bugs
#281
#239

[2019-04-29 11:40] #753 closed, assigned to lionelB

[2019-04-29 13:21] #758 closed, assigned to lionelB

[2019-04-29 16:45] #718 closed, assigned to UnbearableBear

[2019-05-02 09:10] ClementChapalain commented on #767
je ne sais pas si c'est envisageable mais on pourrait aussi essayer d'utiliser les nouveaux composants créés par @UnbearableBear pour améliorer leur affichage comme les fiches de SP

[2019-05-02 09:15] UnbearableBear commented on #767
Ca va être assez compliqué même si c'est n'est pas impossible: les composants s'attendent à avoir un input en JSON qui provient lui même d'un parsing du XML des fiches SP. On est sur quelque chose de très très très spécifique.

[2019-05-02 09:15] ClementChapalain opened #792 "Ajouter des mentions légales"
Nous avons des mentions légales rédigées par Thomas :)

Maintenant il faut les ajouter sur le site, elles sont dispos ici :
https://pad.etalab.studio/s/H13f3eCq4

Pour l'intégration, on fait un nouveau lien dans le footer entre `à propos` et `contact` ?

[2019-05-02 09:29] ClementChapalain commented on #767
on ne peut pas utiliser ces composants à d'autres endroits du site simplement du coup ?

[2019-05-02 09:30] UnbearableBear commented on #767
A moins de vraiment se mettre à faire un librairie UI et les mettre dedans, non.

[2019-05-02 10:55] lionelB commented on #767
Ca pourrait pratique que les composants de fiche SP puisse se basé sur des props standard type children.

[2019-05-02 14:41] UnbearableBear opened #799 "Fiches du service public liées aux associations ?"
https://www.service-public.fr/associations/
Il y a pas mal de choses liées au code du travail dedans, il faudrait peut-etre les intégrer au CDTN ?
Par exemple, mon père travail via le GUSO et apparement il y a pas mal d'infos là dessus dans les fiches SP liées aux associations

https://www.service-public.fr/associations/vosdroits/F766
https://www.service-public.fr/associations/vosdroits/F153
https

[2019-05-02 14:59] virginielastisneres commented on #799
1 de +
https://www.service-public.fr/associations/vosdroits/F2607

[2019-05-02 15:02] virginielastisneres commented on #799
1 de +
https://www.service-public.fr/associations/vosdroits/F34030

[2019-05-02 17:29] jrduscher commented on #799
RECAP @UnbearableBear @virginielastisneres

// Fiches déjà documentées dans le excel:
- [x] F34030 88 - Emploi et formation - Formation - Dispositifs d'accès à la formation
- [ ] F2607 36 - Représentation du personnel et négociation collective - Négociations de branche
- [ ] F766 52 - Recrutement et contrat de travail - Recrutement - Formalités d'embauche
- [ ] F153 10 - Recrutement et contrat de

[2019-05-02 17:53] UnbearableBear commented on #799
Merci top @jrduscher

[2019-05-03 09:06] #799 closed, assigned to jrduscher, virginielastisneres

[2019-05-03 09:13] adipasquale commented on #764
https://app.lambdatest.com est pratique et le plan gratuit bien mieux que browserstack.com

[2019-05-03 13:36] lionelB opened #802 "formule non disponible dans le calculateur d'indemnité"
La librarie Mathjax dans le calculateur d'indemnité ne se charge plus...
C'est déjà la deuxième fois que le problème se pose.

A réfléchir si on conserve le widget

[2019-05-03 14:29] jrduscher commented on #802
@lionelB @ClementChapalain est en train de voir tout le design du calculateur, je ne crois pas que cette formule soit encore au programme

[2019-05-03 14:32] jrduscher opened #803 "modif wording page résultat"
**changement de wording:**
![image](https://user-images.githubusercontent.com/37538697/57144279-04e8eb80-6dc1-11e9-85c0-894971d06146.png)

Suite à la démo

Questions et réponses : "Liste de résultat"

[2019-05-03 15:31] #803 closed, assigned to nobody

[2019-05-06 08:21] #764 closed, assigned to lionelB

[2019-05-06 08:33] jrduscher commented on #802
@lionelB @ClementChapalain @revolunet

Issue fermée: la formule n'est plus utilisée avec la refonte du calculateur. ( à rouvrir par la suite au besoin)

[2019-05-06 08:36] jrduscher commented on #686
@lionelB  @ClementChapalain
n°16 : en cours construire l'API de récupération des thèmes

[2019-05-06 08:39] lionelB commented on #686
en todo pour avoir la navigation par themes
- [ ] créer un endpoint pour récupérer les items par theme
- [ ] indexer les nouveaux themes
- [ ] supprimer theme-front.json

[2019-05-06 08:41] #802 closed, assigned to nobody

[2019-05-06 14:54] #521 closed, assigned to lionelB

[2019-05-06 14:55] UnbearableBear commented on #722
@revolunet Tu es dessus ou je prends ?

[2019-05-07 10:09] UnbearableBear opened #812 "Crée un component Table pour gérer le mobile ?"
Actuellement les tables ne rendent pas bien du tout sur mobile !

[2019-05-07 11:49] lionelB commented on #812
est ce qu'on peut réaliser un quick fix pour l'instant avec wrapper scrollable pour limiter les dégats ?

[2019-05-07 12:31] UnbearableBear commented on #812
C'est l'idée ! Mais comme il y a des tables un peu partout je me disais qu'on pourrait faire un component dans l'UI qui serait ce wrapper justement

[2019-05-09 09:53] UnbearableBear opened #815 "Gérer l'ordre d'excecution du build à la racine avec Lerna"
Actuellement, Lerna semble paralleliser les builds ou utiliser un algo spécifique, ce qui peut poser soucis parfois lorsque l'UI est buildé après react-fiches-service-public par exemble. Voir si il est possible de déterminer l'ordre des builds avec Lerna.

[2019-05-09 09:53] adipasquale opened #816 "fix packages order for yarn build"
it seems that packages are built in the wrong order or in parallel.
We want to build UI fist, or else the dependencies may not work. (it broke for me when manu introduced the tabs component and removed it from fiches-services-public)

I think we just have to list them in lerna.json instead of using a glob pattern, and make sure to disable the parallel mode.

[2019-05-09 09:54] #815 closed, assigned to nobody

[2019-05-09 10:00] UnbearableBear opened #817 "Make a better distinction between h1 and h2 and so"
Currently the distinction is too hard to make
<img width="776" alt="Screenshot 2019-05-09 at 11 57 38" src="https://user-images.githubusercontent.com/705453/57445148-ff245780-7251-11e9-8291-33a36078b519.png">

hints: slightly underline them ? Or increase difference in size-font. I think font-weight should stay the same

[2019-05-09 10:17] lionelB commented on #817
not a big fan to underlining title, I would increase a bit h1

[2019-05-09 16:01] #792 closed, assigned to UnbearableBear

[2019-05-13 12:26] virginielastisneres commented on #748
- ajouter la fiche SP suivante : https://www.service-public.fr/professionnels-entreprises/vosdroits/F1691 => Comment se distingue le travailleur indépendant du salarié ?

[2019-05-13 12:30] virginielastisneres commented on #748
- ajouter la fiche SP suivante : https://www.service-public.fr/professionnels-entreprises/vosdroits/F2742 => Création d'entreprise : levée provisoire des clauses d'exclusivité

[2019-05-13 15:17] lionelB commented on #748
@virginielastisneres tu peux créer un nouvelle issue avec les nouvelles fiches à rajouter, ce n'est pas nécessaire de ré-ouvrir l'ancienne issue

[2019-05-13 15:20] virginielastisneres commented on #748
@lionelB d'acc :D

[2019-05-13 15:21] virginielastisneres opened #823 "Ajout Fiches SP"
ajouter les fiches SP suivantes :
https://www.service-public.fr/professionnels-entreprises/vosdroits/F1691 => Comment se distingue le travailleur indépendant du salarié ?
https://www.service-public.fr/professionnels-entreprises/vosdroits/F2742 => Création d'entreprise : levée provisoire des clauses d'exclusivité

[2019-05-13 15:21] #748 closed, assigned to UnbearableBear

[2019-05-13 16:12] revolunet commented on #499
Dans LEGI c'est NOTA

Issue a traiter après l'étude API DILA

[2019-05-14 11:57] adipasquale opened #826 "inclure annuaire des Organisations Syndicales et des Organisations Patronales"
Le droit conventionnel (accords d'entreprises et conventions collectives) est conclu entre ces deux parties, ça serait important qu'ils soient présents d'une manière ou d'une autre sur le site.

[2019-05-14 11:58] adipasquale commented on #826
@virginielastisneres je crois que tu as dit que tu savais où trouver une liste des OS ?

[2019-05-15 09:27] revolunet commented on #722
yes you can :)

[2019-05-15 09:58] jrduscher commented on #826
je pense que c'est ça: https://travail-emploi.gouv.fr/dialogue-social/la-representativite-syndicale-et-patronale/article/coordonnees-des-organisations-syndicales-de-salaries

[2019-05-15 14:41] lionelB commented on #756
@ClementChapalain à l'etape 3 (salaire temps partiel

on doit pas passer à l'etape 4 pour la saisie des primes plutôt ?

[2019-05-15 14:43] lionelB commented on #756
est ce qu'on peut d'ailleurs afficher l'étape des mois de salaire sur l'étape Temps partiel lorsque l'utilisateur repond `non` comme c'etait le cas avant ?

[2019-05-16 14:19] UnbearableBear commented on #554
https://github.com/zeit/next.js/issues/7329 ? Je propose de continuer à regarder ça de près. Mais quoiqu'il en soit, la refacto sera plus facile si on n'a pas d'utilitaire qui wrap Link et Router

[2019-05-17 09:02] ClementChapalain commented on #756
non en fait on ne prend pas en compte les primes dans ce cas là, on regarde juste le salaire brut global (avec les primes non-exceptionnelles) pondéré par les périodes temps plein / temps partiel, les primes c'est pour le calcul classique du salaire de référence

oui c'est p-e plus logique de faire comme ça tu as raison

[2019-05-17 09:59] #720 closed, assigned to adipasquale

[2019-05-17 12:58] jrduscher commented on #826
synthèse du fil slack: Standbye, les contenus en ligne sont obsolète. A suivre

[2019-05-17 13:12] #767 closed, assigned to UnbearableBear

[2019-05-17 16:17] ClementChapalain opened #835 "Ajouter icônes pour les thèmes de niveau 1"
Librairies utilisées :
- https://www.flaticon.com/packs/strategy-and-management-4
- https://www.flaticon.com/packs/interview-5
- https://www.flaticon.com/packs/miscellaneous-elements
- https://www.flaticon.com/packs/startups-16
- https://www.flaticon.com/packs/money-37
- https://www.flaticon.com/packs/time-59
- https://www.flaticon.com/packs/medical-hospital-3

Icônes :
- Recrutement et contrat de

[2019-05-17 16:20] ClementChapalain commented on #835
j'avais commencé un fichier pour mettre une icône par thème, même pour les thèmes de niveau inférieur, mais c'est beaucoup de travail vu qu'on a presque 300 thèmes et j'ai peur que ce soit plus compliqué qu'autre chose : https://docs.google.com/spreadsheets/d/1DlzPzXelWMBa9bVzLZO7isd8NIxXpXKY6f8sw--RTfE/edit#gid=1619924493

[2019-05-17 16:32] UnbearableBear commented on #835
On utilise un set d'icones bien spécifique aussi, il serait judicieux d'utiliser celui-ci:
https://feathericons.com/

[2019-05-17 17:04] ClementChapalain commented on #835
ah ok @lionelB m'avait indiqué qu'on utilisait flaticons, cf. https://github.com/SocialGouv/code-du-travail-css#ic%C3%B4nes du coup je me suis basé là-dessus, avec feather on va être limité pour des trucs un peu compliqués genre représentation du personnel

[2019-05-19 14:41] ClementChapalain commented on #783
du coup on peut fermer cette tâche @UnbearableBear :) ?

[2019-05-20 09:40] virginielastisneres opened #836 "BUG Fiche SP n°F21006 - écriture en gras"
Dans une fiche SP sur le CDTN une partie du texte de la fiche est écrite en gras alors que dans l'originale sur service public.fr le texte n'est pas en gras.

[2019-05-20 09:40] virginielastisneres commented on #836
![pec](https://user-images.githubusercontent.com/48682104/58012155-1f76d080-7af4-11e9-95b8-4e8aa02354bb.PNG)

[2019-05-20 09:44] ClementChapalain opened #837 "Navigation thématique"
Amélioration du design de la navigation thématique :
https://www.figma.com/proto/UGkd7UFF3gJSb3a35ClTtPKW/Code-du-travail-num%C3%A9rique?node-id=577%3A0&viewport=2560%2C563%2C0.6629151701927185&scaling=min-zoom&redirected=1

L'objectif est de simplifier la séparation entre la navigation et les résultats

[2019-05-20 09:45] ClementChapalain commented on #836
est-ce que tu peux mettre le lien vers la fiche stp ? :)

[2019-05-20 11:50] ClementChapalain opened #838 "Intégrer la CCN chimie dans le calculateur d'indemnité de licenciement"
Intégration en cours depuis les spécifications de la #39

**Prise en compte spécificités base de calcul et indemnité de licenciement: Ingénieur cadre**

https://docs.google.com/spreadsheets/d/15dX1_OaiQVQ6aGvG9tbbmOVhzi4DDvBlh3RveKSOA2A/edit#gid=0

[2019-05-20 12:01] virginielastisneres commented on #836
Yes :) => https://www.service-public.fr/particuliers/vosdroits/F21006

[2019-05-20 12:09] ClementChapalain commented on #686
on peut fermer du coup @lionelB :) ?

[2019-05-20 12:09] ClementChapalain commented on #686
modulo les fiches sans thèmes qu'on gérera quand on fera une v2 de nos thèmes

[2019-05-20 12:16] ClementChapalain opened #840 "Feedbacks en environnement de test"
Aujourd'hui les formulaires du module de feedback sont envoyés sur tous les environnements ce qui fausse les stats quand on fait des tests. On peut envisager 2 possibilités :
- soit on envoie un paramètre supplémentaire qui permet de distinguer les environnements et on filtre dans l'étude
- soit on envoie les formulaires que lorsqu'on est sur la version de prod

[2019-05-20 12:18] ClementChapalain commented on #750
Mes retours sur la version actuelle (qui est déjà hyper cool :)) :
- Différencier les styles des titres (titres, sections, articles)
- Enlever l’icône qui est à gauche du titre
- Enlever l’indication “convention collective” sous le titre
- Pour chaque article enlever la mention “en vigueur” sachant qu'on a que des articles en vigueur

Encore besoin de réflexion / design :
- Intégrer l’outil de Arm

[2019-05-20 13:16] revolunet commented on #840
Ajouter le hostname dans les infos envoyées, comme ca on peut toujours tester ?

[2019-05-20 13:35] revolunet commented on #782
Le fichier peut être uploadé ici : https://github.com/SocialGouv/code-du-travail-numerique/upload/master/packages/code-du-travail-data/dataset/courrier-type/docx

Mettre le **même nom de fichier** svp puis faire une PR :)

[2019-05-20 16:01] ClementChapalain opened #841 "Compréhension orthographique du suggesteur"
# Suggester

Donc dans le site, actuellement, on a un "suggester" qui permet à l'usager d'avoir des propositions de requêtes.

Le fonctionnement actuel est assez simple mais la fonction est critique car elle permet de préqualifier la question usager. De plus c'est la première interaction avec l'usager donc il faut qu'on soit très performants en terme de qualité des suggestions.

<img width="860" a

[2019-05-20 16:21] jrduscher commented on #835
Réutilisation possible de pictos précédents: https://github.com/SocialGouv/code-du-travail-numerique/tree/master/packages/code-du-travail-frontend/static/assets/icons

- départ de l'entreprise: https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/static/assets/icons/file-3.svg
- salaire et rémunération: https://github.com/SocialGouv/code-du-travail-

[2019-05-20 16:42] revolunet opened #842 "Gestion des liens internes de contenus externes"
Lorsqu'une fiche SP ou MT ou CDT contient un lien "relatif" dans son texte, l'utilisateur est redirigé vers une url interne qui n'existe pas, donc une 404.

L'erreur nous est remontée dans sentry et est assez fréquente (plusieurs fois par jour)

[2019-05-20 16:56] revolunet commented on #842
Exemple de lien en question sur [cette fiche](https://codedutravail-dev.num.social.gouv.fr/fiche-ministere-travail/licenciement-pour-motif-economique-comment-est-notifie-le-licenciement?q=La%20proc%C3%A9dure%20de%20licenciement%20%C3%A9conomique%20de%202%20%C3%A0%209%20salari%C3%A9s) dans "en cas de licenciement dépourvu de cause réelle et sérieuse."

[2019-05-20 17:08] lionelB commented on #842
normalement les liens sont censés etre modifié lors du scrap pour pointer sur le site externe, je regarde pourquoi ce n'est pas le cas

[2019-05-21 10:00] ClementChapalain commented on #837
j'ai mis à jour le proto vous en pensez quoi ? @lionelB @virginielastisneres @jrduscher
https://www.figma.com/proto/UGkd7UFF3gJSb3a35ClTtPKW/Code-du-travail-num%C3%A9rique?node-id=845%3A0&viewport=406%2C272%2C0.06031305715441704&scaling=min-zoom
![image](https://user-images.githubusercontent.com/5337489/58086948-e015b600-7bbf-11e9-8ca3-dae568a84e63.png)
![image](https://user-images.githubuserconte

[2019-05-21 10:20] virginielastisneres commented on #837
Est-ce que c'est possible de décaler un peu plus les sous-thèmes dans la 2ème image. Cela permettrait de voir un peu mieux que c'est des sous-thèmes voire des sous sous-thèmes ?

[2019-05-21 10:25] ClementChapalain commented on #837
J'ai un peu modifié (cf. le figma) je pense que c'est mieux tu as raison

[2019-05-21 12:12] lionelB commented on #837
Est ce que c'est possible d'avoir le champ de recherche comme il est actuellement pour avoir une idée qui se rapproche un peu plus de ce que ca va donné ?

[2019-05-21 12:15] lionelB commented on #837
au fait, c'est super propre !!

[2019-05-21 12:18] lionelB commented on #837
je me demande si il faudrait pas commencer à intégrer une pagination par contre

[2019-05-21 14:42] ClementChapalain commented on #837
pour la navigation il faut voir si ça charge lentement mais j'ai l'impression qu'on aura pas beaucoup de contenu par thème au début si ?

j'ai testé avec le header actuel ça donne ça :
![image](https://user-images.githubusercontent.com/5337489/58105814-61cd0a00-7be7-11e9-9d10-44b5051e835f.png)

[2019-05-21 15:02] virginielastisneres commented on #836
autre fiche dans laquelle j'ai trouvé le bug => https://www.service-public.fr/particuliers/vosdroits/F15478
![W](https://user-images.githubusercontent.com/48682104/58107470-34359000-7bea-11e9-8015-d3a3d384f044.PNG)

[2019-05-21 15:47] adipasquale commented on #750
Merci pour tes retours Clement !

vrai, mais par contre il y a la notion étendue / non étendue sur chaque article. Généralement on dit "en vigueur étendu" ou "en vigueur non-étendu". J'imagine que si on enlève "en vigueur" ça va faire un peu bizarre "étendu" tout seul, non ?

[2019-05-21 15:52] lionelB commented on #750
je pense qu'il vaut mieux être complet, d'ailleurs, les visiteurs ne savent pas forcement qu'on ne présente que des "en vigueur" donc ca me parait pas superflu de le laisser

[2019-05-21 16:16] adipasquale commented on #750
@ClementChapalain proposition pour distinguer titres, sections et articles:

<img width="862" alt="Screen Shot 2019-05-21 at 18 15 51" src="https://user-images.githubusercontent.com/883348/58112792-7e237380-7bf4-11e9-99a5-33c7842980d2.png">

(oui je suis nul en UI)

[2019-05-21 16:23] adipasquale commented on #750
pour référence je note aussi deux tâches à faire :
- [ ] deep linking : pouvoir donner un lien vers un texte, vers une section du texte, vers un article.
- [ ] déplier par défaut le bloc d'explications et éventuellement stocker la valeur du toggle en localStorage pour le replier automatiquement aux navigations successives

[2019-05-22 08:04] virginielastisneres commented on #717
Hey :D
Si cela vous va, je me lance dans cette page et je reviens vers vous pour vous proposer quelque chose ;)

[2019-05-22 08:13] ClementChapalain commented on #750
Pour le en vigueur je pense qu'uniquement les pro du droit savent qu'il y a des articles en vigueur et d'autres pas en vigueur dans les CCNs, donc je pense vraiment qu'on peut l'enlever. En revanche je suis d'accord @lionelB il faut surement signaler qqpart (dans l'onglet information ?) qu'on affiche que les en vigueur, et que ça se passe sur legifrance pour voir les versions antérieures.

Idem, l

[2019-05-22 10:23] virginielastisneres commented on #836
idem pour celle là => https://www.service-public.fr/particuliers/vosdroits/F2327
![image](https://user-images.githubusercontent.com/48682104/58167420-37815800-7c8c-11e9-87ec-fd6d10db43ca.png)

[2019-05-22 10:24] lionelB commented on #39
@jrduscher il vaut mieux créer une nouvelle issue plutot que de ré-ouvrir une ancienne issue pour rajouter une nouvelle fonctionnalité

[2019-05-22 10:24] #39 closed, assigned to lionelB

[2019-05-22 10:25] lionelB opened #849 "Outil indemnité de licenciement : le cas de l'indemnité de rupture des assistantes et assistants maternels"
from JR cf https://github.com/SocialGouv/code-du-travail-numerique/issues/39#issuecomment-486336278

branche Assistante maternelle du particulier employeur:

Explication: L'indemnité légale de licenciement est prévue par le code du travail. Le statut des assistatns maternels du Particulier employeur est régit par dispositions du code de l'action sociale et des familles et du code du travail, pour

[2019-05-22 12:14] jrduscher commented on #837
+1 d'une ca fait plus propre avec une marge avec des trucs dedans, de l'autre niveau navi c'est pas mal du tout comme ça.

[2019-05-22 12:16] jrduscher commented on #837
par contre ce serait bien de pouvoir garder/proposer le facetting d'une manière ou d'une autre n complément, non?

[2019-05-22 12:35] jrduscher commented on #849
**C'est un cas particulier** : l’indemnité légale n'est pas applicable, il n'est pas question non plus d'indemnité de licenciement mais de rupture.
- soit on l’intègre et il faut prévoir un parcours qui détecte plus tôt la CCN et replace l'état du droit en page résultat.
- soit on considère qu'il ne s’agit pas de licenciement, et qu'on le shoot de cet outil pour l'instant.
-il faudra à terme regro

[2019-05-22 13:44] UnbearableBear commented on #840
Si je file le node_env c'est bon ? (ce sera ptete plus facile de filter par pertinence comme ça)

[2019-05-22 14:00] lionelB commented on #840
je pense que cdtn-dev et prod sont avec un NODE_ENV=production

[2019-05-22 14:01] UnbearableBear commented on #840
Ah flute ! ok ok

[2019-05-22 14:39] jrduscher opened #851 "Intégration des QR de la FAQ dans les résultats de navigation par thèmes"
La navigation par thèmes se base sur une classification d'environs 250 items. Cette classif et
Chaque QR est taggé avec une (ou plusieurs) tags numéroté dits "eposeidon modifiés", qui permet l'association des QR avec une arbo thématique proche de la structure code du travail, et des articles du code du travail qui sont liés.

L'integration des QR est possible en associant l'ancien tag d'un QR à la

[2019-05-23 14:29] virginielastisneres commented on #836
autre fiche => https://www.service-public.fr/particuliers/vosdroits/F592
![image](https://user-images.githubusercontent.com/48682104/58261087-f1092780-7d77-11e9-83a7-4a2494fed9bd.png)

[2019-05-24 08:03] adipasquale commented on #717
🙇  au top, merci Virginie

[2019-05-24 08:31] jrduscher opened #856 "[Modèles de courrier]Format de modèles de courrier téléchargeable: passer en format libre"
Aujourd'hui le format utilisé pour les modèles de courrier  téléchargeables est le format propriétaire *.docx.

**objectif:** Envisager la faisabilité de passer sous un format libre

- déterminer le meilleur format ( le plus compatible)
- reuploader le fichier avec la nouvelle extension
- vérifier et corriger les impacts de ce changement sur le code ( notamment sur la partie affichage des modèles)

[2019-05-24 09:02] jrduscher opened #857 "[Simulateur d’embauche] explications et intégration"
L’utilisateur n'a pas forcément conscience que l'outil est extérieur au CDTN.
En cas d’indisponibilité du widget, imaginer une solution de réorientation de l'user pour limiter l'expérience déceptive.

**1) Amélioration de l'affichage et transparence**
Le simulateur d'embauche n'appariait pas clairement comme l'oeuvre d'une autre start-up d'Etat tierse.

Aujourd'hui, l'information est en filigrane

[2019-05-24 09:45] jrduscher opened #858 "[Bug+enhancement] modal Trouver sa convention collective SIRET/IDCC"
@ClementChapalain @adipasquale (remontée de bug peut-être déjà hors sujet/obsolète)
Le lien de la CCN avec la nouvelle interface se fait avec brio dans la partie  " Recherche par nom ou par identifiant".

Les liens vers la CCN sont aujourd'hui via le champ SIRET/IDCC  sont morts. Actualiser/harmoniser les liens pour les faire pointer vers la nouvelle interface de lecture des CCN.

[2019-05-24 09:57] jrduscher opened #859 "[Bug] résultats "Thèmes" obsolète, erreur 500"
Désindéxer les résultats thèmes de ce type
![image](https://user-images.githubusercontent.com/37538697/58320000-fa979b80-7e1a-11e9-9945-3479282b2e27.png)
* Ces résultats renvoient vers des erreurs 500

[2019-05-27 07:38] lionelB commented on #856
Je suis pas complètement sûr mais il me semble que le format docx est un format ouvert.
https://fr.wikipedia.org/wiki/Office_Open_XML

[2019-05-27 08:20] adipasquale commented on #858
bien vu @jrduscher je corrige tout de suite

[2019-05-27 09:09] #722 closed, assigned to UnbearableBear

[2019-05-27 09:40] #840 closed, assigned to UnbearableBear

[2019-05-27 10:13] #783 closed, assigned to UnbearableBear

[2019-05-27 10:14] #686 closed, assigned to lionelB

[2019-05-28 09:15] #823 closed, assigned to UnbearableBear

[2019-05-28 09:28] #836 closed, assigned to UnbearableBear

[2019-05-28 14:13] lionelB commented on #532
closed by #768

[2019-05-28 14:13] #532 closed, assigned to nobody

[2019-05-29 08:43] #842 closed, assigned to UnbearableBear

[2019-05-29 08:45] #838 closed, assigned to lionelB

[2019-05-29 12:41] #782 closed, assigned to lionelB

[2019-05-29 12:43] #858 closed, assigned to nobody

[2019-05-29 14:36] lionelB commented on #756
closed by #853

[2019-05-29 14:36] #756 closed, assigned to lionelB

[2019-06-03 09:49] lionelB commented on #837
@ClementChapalain question "responsive" niveau largeur de page / alignement, tu voyais ca évoluer comment  ?  car initialement on a un contenu qui est centré avec une largeur max d'environ
 ~1200px

[2019-06-03 09:50] #835 closed, assigned to lionelB, ClementChapalain

[2019-06-03 10:24] ClementChapalain commented on #837
on peut imaginer un bouton pour sélectionner le thème qui serait en haut de la page et ouvre l'arborescence je pense.

j'imagine qqchose comme ça en version mobile :
https://laruchequiditoui.fr/fr/assemblies/6434/products

[2019-06-03 16:05] ClementChapalain commented on #837
@lionelB vu avec aurélie elle va faire une passe sur le design elle a quelques idées pour rendre le truc plus compréhensible et accessible :) on met en pause donc

[2019-06-03 18:14] UnbearableBear opened #870 "Faire une version mobile du component de tabulation"
Actuellement, le component de tabulation ne rend pas bien du tout sur mobiles (exemple en consultant une convention collective)

[2019-06-03 18:18] UnbearableBear opened #871 "le filtre par type "themes" provoque une 404"
exemple à cette url en cliquant sur un des thèmes proposés:
https://codedutravail-dev.num.social.gouv.fr/recherche?q=Conflits%20au%20travail%20et%20contr%C3%B4le%20de%20la%20r%C3%A9glementation&source=themes

[2019-06-04 06:40] ClementChapalain commented on #856
merci pour l'article :) après lecture ce que j'ai compris :
- open office xml (dont fait partie le format .docx) n'est pas ouvert au sens strict du terme mais dans les faits tout le monde l'utilise et microsoft donne le droit à tout le monde de l'utiliser et de le modifier
- open office xml est désormais une norme iso (ce qui a fait un peu débat en europe notamment, du fait du caractère pas totale

[2019-06-04 06:44] ClementChapalain commented on #871
duplicate #859 ?

[2019-06-04 06:50] ClementChapalain opened #873 "Créer un dashboard avec les données à suivre"
Données à intégrer :
- nombre de contenus référencés
- nombre de visites
- nombre de consultations de contenus
- taux de conversion (consultations / visites)
- taux de satisfaction (via module de feedback)

[2019-06-04 06:51] lionelB commented on #871
@UnbearableBear  le lien que tu as donné me renvoie 4 résultats de themes
![image](https://user-images.githubusercontent.com/160320/58857559-e28b0c00-86a5-11e9-9273-f924aed0b02d.png)

[2019-06-04 06:55] ClementChapalain commented on #636
duplicates #873

[2019-06-04 06:55] #636 closed, assigned to nobody

[2019-06-04 06:56] #627 closed, assigned to nobody

[2019-06-04 06:57] ClementChapalain commented on #435
corrigé depuis

[2019-06-04 06:57] #435 closed, assigned to nobody

[2019-06-04 06:59] #249 closed, assigned to nobody

[2019-06-04 07:00] ClementChapalain commented on #134
done

[2019-06-04 07:00] #134 closed, assigned to nobody

[2019-06-04 07:01] UnbearableBear commented on #871
Yes, je crois qu'il suffit de cliquer sur l'un d'entre eux (n'importe lequel) pour avoir l'erreur

[2019-06-04 07:03] ClementChapalain commented on #717
pour info @virginielastisneres je viens de retrouver ça #70 il y a p-e des idées pour étoffer (même si je pense qu'il ne faut pas que ce soit trop lourd) cette page d'intro au droit du travail

[2019-06-04 07:22] ClementChapalain opened #874 "Ajouter Métallurgie au calculateur IDL"
from #39

-----

## Métallurgie : accords nationaux

Le montant de l'indemnité de licenciement est comme suit :

soit x : salaire mensuel.
calcul de la moyenne des mois sur 12 MOIS (récupérer la moyenne des 12 deniers mois)

soit y l’ancienneté en année complète "récupérer années complète" : ex si 25 mois : 25 mois/12 2,1, récupérer 2

soit z, ancienneté de 10 ans/ 120 mois., valeur 10 ans ou 120

[2019-06-04 07:22] lionelB opened #875 "Mise a jour du script de test unitaire elastic"
- [x] utilisation de la lib d'@armand https://github.com/SocialGouv/letor-scores
- [x] utilisation des deploy-branche du cluster pour comparer PR / master
- [x] faire un joli rapport

Evolution
- [ ] utiliser un kinto pour stocker les resultats et graphé l'évolution

[2019-06-04 07:23] ClementChapalain opened #876 "Ajouter Boulangerie au calculateur IDL"
from #39

----

"branche", "boulangerie"
avenant n°67, en vigueur et étendu.

récupérer inaptitude {oui,non} (afficher " Votre licenciement fait il suite à une décision d'inaptitude?"), {oui,non}

si inaptitude =non: "indemnité légale de licenciement,w".
( on affiche le résultat indemnité légal de licenciement, "votre branche ne prévoit pas de calcul spécifique, en dehors de l’indemnité légale de

[2019-06-04 07:25] ClementChapalain opened #877 "Ajouter Commerce de gros au calculateur IDL"
from #39

----

"branche": commerce de gros
art 37 CC, en vigueur, étendu.

récupérer ancienneté,a
récupérer salaire de base mensuel, s ( même base de calcul que l'indemnité légale)

indemnité de licenciement, z
si a>1 et si a <10: z=s/5* a
si a>10 z=s/5a + (a-10) (s/15*2)

comparer z et l’indemnité légale, afficher les deux. afficher le montant le plus favorable et sa provenance. ( selon vos indi

[2019-06-04 07:26] jrduscher opened #878 "changement d'une icône dans le menu de la page d'accueil"
Pour le thème salaire et rémunéraiton dans la page d'accueil:
aujourd'hui: https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/static/assets/icons/coins.svg

à modifier par :
https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/static/assets/icons/remuneration.svg

[2019-06-04 07:27] ClementChapalain opened #879 "Ajouter Services de l'automobile au calculateur IDL"
from #39

_** Moins favorable que l'indemnité légale**_

- -

branche: services de l'automobile IDCC 1090

Textes en présence:
Article 2.13, modifié par avenant : indé ouvrirer et employés
article 4.11, modifié par avenant : maitrise et cadres
=> dans les deux cas coexistence d'un article VNE

article 4.11, en vigueur, étendu Indemnité de licenciement: maitrises et cadres
****
https://www.legifran

[2019-06-04 07:27] ClementChapalain opened #880 "Ajouter HCR au calculateur IDL"
from #39

----

branche HCR
art 32 CC, en vigueur, étendu. "https://www.legifrance.gouv.fr/affichIDCC.do;jsessionid=76445D7E289FB3CA5914033397B20C6F.tplgfr30s_2?idSectionTA=KALISCTA000005747401&cidTexte=KALITEXT000005670044&idConvention=KALICONT000005635534"

(edit: MONTANT)

(edit: BASE DE CALCUL)

récupérer ancienneté,a
récupérer salaire de base mensuel, s ( **même base de calcul que l'indemnité

[2019-06-04 07:29] ClementChapalain opened #882 "Ajouter Hospitalisation à but non lucratif au calculateur IDL"
from #39

----

HOSPITALISATION A BUT NON LUCRATIF FEHAP
en vigueur ou pas? étendue ou pas???

"branche",""
assistant familial,af: (afficher êtes assistant(e) familial(e)?"{oui, non})
("afficher: médecin, pharmacien ou biologiste: en cas de faute médicale reconnue ou de faite administrative grave, l'indemnité de licenciement n'est pas due")
(afficher: attention, en cas de licenciement lié à la per

[2019-06-04 07:30] ClementChapalain opened #883 "Ajouter Propreté en entreprise au calculateur IDL (IDCC:3043)"
from #39

----

## CCN

PROPRETE ENTREPRISES ET SERVICES ASSOCIES

IDCC: 3043

## Calcul de l'indemnité

### ancienneté

on peut calculer l'ancienneté avec les infos remplies pour l'IDL légale (pas besoin de demander plus d'infos).

soit ancienneté = date de sortie - date d'entrée (sans prendre en compte les absences prolongées).

l'ancienneté est exprimée en années (décimal : 2 an et demi = 2.5 a

[2019-06-04 07:34] ClementChapalain commented on #817
same, i prefer not to underline anything other than links, I would add some font-weight to h1 maybe

[2019-06-04 07:45] ClementChapalain commented on #817
quelques références :
- https://polaris.shopify.com/design/typography#navigation
- https://designsystem.digital.gov/components/typography/
- http://codeforamerica.clearleft.com/

[2019-06-04 08:25] ClementChapalain commented on #871
duplicate #859

[2019-06-04 08:25] #871 closed, assigned to nobody

[2019-06-04 09:11] jrduscher commented on #883
checked

[2019-06-04 09:29] jrduscher commented on #880
checked. pas de modalité de calcul spécifique de l'ancienneté dans la CCN, tu confirmes @virginielastisneres ?

[2019-06-04 10:33] jrduscher opened #886 "Ajouter toutes les branches pour lesquelles l'indemnité conventionnelle est calquée sur l'IDL"
Données de janvier 2019

CCNs pour lesquelles, tout motif confondu, et toute catégorie il n'est pas nécessaire de renvoyer au calcul de l’indemnité conventionnelle de licenciement (d'emblée l'Indemnité légale est plus favorable)

IDCC | Titre abrégé
-- | --
1518 | Animation
843 | Boulangerie-pâtisserie   artisanale
1351 | Prévention   et sécurité
1534 | Viandes   industries commerces en gros
992 |

[2019-06-04 12:16] #878 closed, assigned to nobody

[2019-06-04 12:19] lionelB commented on #879
@jrduscher est ce que tu peux rajouter un commentaire sur la raison de de la fermeture d'une issue.

[2019-06-04 12:20] lionelB commented on #882
@jrduscher un petit mot pour préciser le motif de la fermeture de l'issue est bien pour les gens qui ne participe pas à la discussion

[2019-06-04 12:22] lionelB commented on #883
@jrduscher si checked veut dire que la formule est ok, tu peux aussi enlever le label `draft` et le remplacer par `pret-pour-dev`

[2019-06-04 12:53] revolunet opened #887 "API: intégrer données du datafiller"
Pour exploiter les données du datafiller, on pourrait les intégrer au niveau de l'API : Lorsque la requête correspond à une requête saisie dans le datafiller, on peut directement envoyer les résultats pré-sélectionnés.

Dans une 2eme PR, on pourra ajouter du "fuzzy" sur la recherche pour capter toutes les recherches similaires.

 - [x] fetch [données datafiller](https://datafiller.num.social.gouv.

[2019-06-04 12:59] revolunet commented on #887
voici un test avec une recherche "fuzzy" : https://codesandbox.io/s/datafiller-nlpjs-b3z3o

[2019-06-04 13:17] #859 closed, assigned to lionelB

[2019-06-04 14:32] ClementChapalain commented on #876
on close car pour cette branche l'IDL conventionnelle est forcément < à l'IDL légale cf. #886

[2019-06-04 17:01] virginielastisneres commented on #880
Yes je confirme !

[2019-06-04 17:32] jrduscher opened #890 "Ajouter bureau d'étude technique (syntec), IDCC 1486 au calculateur IDL"
## CCN
[Convention collective nationale des bureaux d'études techniques, des cabinets d'ingénieurs-conseils et des sociétés de conseils du 15 décembre 1987.
](https://codedutravail.num.social.gouv.fr/kali/1486-convention-collective-nationale-des-bureaux-d%27etudes-techniques-des-cabine)
IDCC: 1486

Opportunité de traitement:
-  Le calcul de l'indemnité conventionnel apparaît moins favorable que l'

[2019-06-05 10:20] UnbearableBear opened #891 "Shall we add a back to top css button ?"
They are very long pages (like convention collective ones) which could have a fancy back to top button. It would help a lot mobile navigation I guess.

[2019-06-05 13:18] revolunet commented on #873
On peut déjà faire une 1er page basique avec les données fournies manuellement et on automatisera par la suite ?

<img width="955" alt="Capture d’écran 2019-06-05 à 15 16 44" src="https://user-images.githubusercontent.com/124937/58959246-f6696780-87a4-11e9-9048-28757c08f06e.png">

[2019-06-05 14:02] jrduscher opened #896 "Ajouter la CCN transports routier (IDCC 16) au calculateur d'IDL"
# CCN

Convention collective nationale des transports routiers et activités auxiliaires du transport du 21 décembre 1950

IDCC: 16

#  Calcul de l'indemnité

## Déterminer l'ancienneté

RECUPERER ANCIENNETE renseignée dans l'indemnité légale

## Salaire de référence - Base de calcul

demander catégorie : Ouvriers ou employés / Techniciens et agents de maîtrise (TAM) / Cadres
(la catégorie saisie s

[2019-06-05 15:31] jrduscher commented on #886
peuvent être ajoutées également :

IDCC | Titre abrégé
-- | --
29 | Etablissements privés d'hospitalisation ( FEHAP)
1596 | ouvriers du bâtiment (entreprises jusqu'à 10 salariés)
1597 | ouvriers du bâtiment (entreprises de plus 10 salariés)

[2019-06-06 12:05] virginielastisneres opened #898 "Enlever du CDTN la fiche SP n°F31263 ?"
@jrduscher es-tu ok pour que nous enlevions la fiche de SP n°F31263 qui traite de l'accompagnement au départ à la retraite (ADR) des travailleurs indépendants ?

=> https://www.service-public.fr/professionnels-entreprises/vosdroits/F31263

à mon sens elle ne concerne pas le code du travail, elle s'adresse uniquement aux travailleurs indépendants qui sont en difficulté financière.

[2019-06-06 12:39] virginielastisneres opened #899 "Ajouter la fiche SP n°F14860"
ajouter la fiche SP n° F14860 => https://www.service-public.fr/particuliers/vosdroits/F14860
:)

[2019-06-06 12:54] virginielastisneres commented on #899
an other => https://www.service-public.fr/particuliers/vosdroits/F2064

[2019-06-06 14:29] virginielastisneres opened #900 "Ajouter des fiches du Ministère du travail sur l'épargne salariale"
La partie des fiches du Ministère du Travail sur l'épargne salariale doit être ajoutée au CDTN.
Ci dessous les fiches :
- https://travail-emploi.gouv.fr/droit-du-travail/l-epargne-salariale/article/epargne-salariale-principes-generaux
- https://travail-emploi.gouv.fr/droit-du-travail/l-epargne-salariale/article/les-plans-d-epargne-salariale
- https://travail-emploi.gouv.fr/droit-du-travail/l-eparg

[2019-06-06 14:54] UnbearableBear opened #901 "[UI] Create form components"
This is quite a big one.
Currently, we use form components but we need them to be in the UI library for accessibility purposes. It will also allow us to remove the form.css file in the css folder

[2019-06-06 15:36] UnbearableBear opened #902 "Fiches SP: Bug sur l'affichage d'un tableau"
Gérer le cas de la mort:
https://www.service-public.fr/particuliers/vosdroits/F13845

[2019-06-07 08:59] #899 closed, assigned to UnbearableBear

[2019-06-07 09:20] lionelB commented on #873
Visite ca pourrait etre bien de l'avoir par jour / semaine ou mois

[2019-06-07 09:28] lionelB commented on #902
joli ! :)

[2019-06-07 14:32] UnbearableBear commented on #817
Thanks @ClementChapalain. I will probably make them more different with font-size rather than font weight

[2019-06-10 09:42] ClementChapalain opened #911 "Modifier la preview d'un document"
Suite à cette PR https://github.com/SocialGouv/code-du-travail-numerique/pull/894, le document a bien été changé mais pas la preview dans le navigateur.

## Version word
![image](https://user-images.githubusercontent.com/5337489/59186991-9a239080-8b74-11e9-89ba-dde776b15fa1.png)

## Version navigateur
![image](https://user-images.githubusercontent.com/5337489/59187020-aad40680-8b74-11e9-87cb-c2732

[2019-06-11 05:58] lionelB commented on #911
bien vu ! je m'en occupe !

[2019-06-11 06:37] ClementChapalain commented on #911
Merci !

Le mar. 11 juin 2019 à 07:59, Lionel <notifications@github.com> a écrit :

[2019-06-11 07:35] adipasquale opened #912 "Petites améliorations dans l'affichage des CCNs"
suite à #750

- [x] Différencier les styles des titres (titres, sections, articles)
- [x] Enlever l’icône qui est à gauche du titre
- [x] Enlever l’indication “convention collective” sous le titre
- [x] Pour chaque article enlever la mention “en vigueur” sachant qu'on a que des articles en vigueur. Afficher "Article étendu" ou "Article non-étendu" tout court à la place.

[2019-06-11 07:36] #900 closed, assigned to UnbearableBear

[2019-06-11 07:39] adipasquale opened #913 "Améliorer la précision des liens vers les conventions collectives"
les liens devraient permettre d'accéder directement à :

- [ ] chacune des tabs
- [ ] chacun des textes
- [ ] chacune des sections (?)
- [ ] chacun des articles

[2019-06-11 07:40] adipasquale opened #914 "Améliorer le bloc d'explications des CCNs"
- [ ] déplier par défaut le bloc d'explications
- [ ] stocker la valeur du toggle en localStorage pour le replier automatiquement aux navigations successives

[2019-06-11 07:43] adipasquale opened #915 "Améliorer l'affichage des CCNs avec l'autofocus du titre dans la sidebar"
l'idée est de pouvoir mettre en exergue où est-ce qu'on se trouve dans la CCN lorsqu'on la parcourt, comme sur ElNet.

[2019-06-11 07:43] adipasquale commented on #750
je propose de fermer cette issue en faveur de #912, #913 et #914 . J'ai aussi rajouté #915, le focus automatic du titre lors du scroll, qui n'est pas mentionné ici mais lié. ça te va @ClementChapalain ?

[2019-06-11 07:46] ClementChapalain commented on #750
oui parfait merci !

[2019-06-11 07:46] #750 closed, assigned to adipasquale

[2019-06-11 08:46] adipasquale commented on #912
@ClementChapalain est-ce qu'on enleve complement la mention "étendu / non-étendu" en même temps que la mention "en vigueur" ?

[2019-06-11 09:21] lionelB commented on #913
tu parles de quels liens ?

[2019-06-11 09:23] lionelB commented on #837
@ClementChapalain est ce qu'on pourrait avoir quelques mockup histoire de pouvoir attaquer ?

[2019-06-11 09:33] adipasquale commented on #913
je parle des URLs vers le site Code Du Travail Numérique. on voudrait des liens directs vers un article précis d'un texte précis d'une convention précise.

aujourd'hui on a uniquement :

https://codedutravail.num.social.gouv.fr/kali/44-convention-collective-nationale-des-industries-chimiques-et-connexes-du-30-de

on voudrait par exemple :
https://codedutravail.num.social.gouv.fr/kali/44-convention

[2019-06-11 10:08] ClementChapalain commented on #912
pour l'instant on peut la garder car c'est une info importante mais il faudra qu'on change la manière dont on présente cette notion, ce sera pour une autre tâche

[2019-06-11 10:11] ClementChapalain commented on #837
on fait le point avec @auremie cette après-midi je te tiens au courant, désolé pour le délai

[2019-06-11 10:37] #911 closed, assigned to lionelB

[2019-06-11 12:18] revolunet commented on #883
Question "UX" : Pour les CCNs qui ne nécessitent pas d'informations supplémentaires, on peut afficher le résultat directement dans le même écran une fois la CCN sélectionnée.

Faut-il prévoir quand même un écran supplémentaire de "recap" ? (comparaison IDL/CCN) ou affiche-t-on tout dans le même écran ?

[2019-06-11 12:22] revolunet commented on #887
Issue connexe à créer : comment intégrer les résultats dans la navigation par thème ?

(Chaque entrée du datafiller est associée à un theme)

[2019-06-11 12:32] ClementChapalain commented on #883
côté fonctionnel, je me me dis que c'est plus simple si on a toujours le même fonctionnement, i.e. cliquer sur le bouton "suivant" et ensuite le résultat est affiché, c'est plus simple si on a besoin de changer aussi

[2019-06-11 12:36] jrduscher commented on #898
oui c'est clairement hors sujet

[2019-06-11 13:53] ClementChapalain commented on #911
@lionelB possible de faire un déploiement en prod pour répondre à la direccte qui nous a remonté le souci stp :) ?

[2019-06-11 14:30] revolunet commented on #883
Même comportement souhaité pour #866 ?

- la personne sélectionne sa ccn
- on affiche un onglet supp et on active le btn suivant
- il doit cliquer sur suivant pour avoir le résultat ?

[2019-06-11 15:05] ClementChapalain commented on #883
oui c'est ok pour moi

[2019-06-11 15:41] virginielastisneres opened #919 "Ajouter 2 fiches SP n°R19231 et n°F22606"
Il faudrait ajouter ces 2 fiches de Service-Public.fr :
- Déclaration d'accident du travail ou de trajet (DAT) en ligne => https://www.service-public.fr/particuliers/vosdroits/R19231
- Ouverture des commerces le dimanche => https://www.service-public.fr/professionnels-entreprises/vosdroits/F22606
Thanks

[2019-06-11 16:48] virginielastisneres opened #920 "[BUG] Enlever l'ancien footer qui apparaît sur certains outils"
Dès que l'on clique sur l'outil de calcul de l'indemnité de licenciement, sur les modèles ou sur le simulateur d'embauche apparaît l'ancien footer en plus du footer actuel.
**Il faudrait supprimer l'ancien footer**

![image](https://user-images.githubusercontent.com/48682104/59290690-71d18a00-8c79-11e9-86db-e25c3a4f241e.png)

[2019-06-12 09:04] lionelB commented on #911
oui je regarde ca dans la journée et je te dit

[2019-06-12 12:29] jrduscher opened #924 "Fiche SP.fr sur la participation F2141"
https://www.service-public.fr/particuliers/vosdroits/F2141

Il s'agit du corollaire de la fiche https://www.service-public.fr/particuliers/vosdroits/F2140 sur intéressement.

La fiche participation n’apparaît pas avoir été indexé au code du travail numérique ( ne remonte pas quand on recherche dans le moteur de recherche, n'apparait pas non plus en recherche via le datafiller).

Cette fiche est ci

[2019-06-13 08:34] #870 closed, assigned to UnbearableBear

[2019-06-13 08:42] lionelB commented on #911
poke @ClementChapalain  https://codedutravail.num.social.gouv.fr/modeles-de-courriers/signalement-de-faits-pouvant-relever-du-harcelement-moral

[2019-06-13 09:13] revolunet commented on #612
L'API Piwik propose une fonction pratique pour notre cas : "Le visitor log". cela retourne le parcours précis de chaque visiteur.

`/?module=API&method=Live.getLastVisitsDetails&idSite=4&period=day&date=today&format=JSON&token_auth=anonymous`

On a la recherche + pages visitées + durée par page

Exemple d'output (simplifié):

[code]

[2019-06-13 09:21] lionelB commented on #924
accessible ici mais pas à jour à priori
https://codedutravail.num.social.gouv.fr/fiche-service-public/interessement?q=interressement

[2019-06-13 09:24] ClementChapalain commented on #911
merci beaucoup !

[2019-06-13 09:33] lionelB commented on #924
pardon j'ai confondu -_-

[2019-06-13 09:50] ArmandGiraud commented on #612
Tu sais s'il est possible d'avoir la liste des hits elastic liés à la recherche?

[2019-06-13 10:07] revolunet commented on #612
côté piwik je ne pense pas. par contre au moment de récupérer le parcours visiteur, on peut faire un HIT côté ES pour récupérer ce qui était proposé

[2019-06-13 12:56] UnbearableBear commented on #812
done

[2019-06-13 12:56] #812 closed, assigned to UnbearableBear

[2019-06-13 13:13] UnbearableBear commented on #924
Effectivement, elle n'est pas indexée encore, j'ajoute !

[2019-06-13 13:20] UnbearableBear commented on #919
Nous n'indexons pas les fiches "resources" (celles qui commencent par un "R"). Elle sont référencées dans les fiches (Celle qui commencent par "F").
Je rajoute uniquement la F22606 donc !

[2019-06-13 13:46] #902 closed, assigned to UnbearableBear

[2019-06-13 14:42] #63 closed, assigned to nobody

[2019-06-13 16:11] lionelB commented on #63
@UnbearableBear Est ce que tu peux préciser pourquoi tu as fermé l'issue ?

[2019-06-13 16:14] lionelB commented on #924
@UnbearableBear dommage j'avais une PR en attente pour ca ( je m'etais assigné justement)

[2019-06-13 16:16] jrduscher opened #930 "Ajouter la CCN des sociétés d'assurance au calculateur d'IDL"
# STES D'ASSURANCE

# préalable

### Information préalables (étapes antérieures)
- inaptitude (oui/ non)

si non: cas général
si oui : cas général + inaptitude

### Demander catégorie  : cadre/non-cadre/ne sais pas
( catégorie:non-cadre"/"cadre)
"Préciser votre catégorie professionnelle"
choix : cadre/non-cadre/je ne sais pas
( si je ne sais pas retenir: non -cadre)
Wording, si je ne sais pas: " D

[2019-06-13 16:18] jrduscher opened #931 "Ajouter la convention collective des banques à l'IDL (IDCC 2120 )"
# CCN

Convention collective nationale des banques

IDCC: 2120
BANQUE

# Demandes préalable:

 si inaptitude dans l'indemnité de licenciement: renvoi à l'indemnité légale.
sinon:

1. Demander le motif du licenciement parmi les motifs suivants:
" Préciser le motif du licenciement parmi les motifs suivants"
- Motif disciplinaire
- Motif non disciplinaire
- Motif économique

2. Demander catégorie  :

[2019-06-14 08:43] ClementChapalain opened #933 "Calculateur indemnité de précarité CDD"

[2019-06-14 08:49] ClementChapalain opened #934 "Utiliser l'API DILA pour les articles du code du travail"

[2019-06-14 08:49] ClementChapalain opened #935 "Utiliser l'API DILA pour les conventions collectives"

[2019-06-14 09:50] revolunet opened #936 "[ES] : recherche d'article"
quand on cherche "article 1224 1" (proposé par le suggester) l'article n'apparait pas dans les résultats alors qu'il est présent dans l'index

query  | status
-------|--------
article 1224 1 | NOK
article L 1224-1 | NOK
article L1224-1 | OK

[2019-06-14 09:53] revolunet opened #937 "[search]: navigation clavier"
Quand on arrive sur une page détail depuis une recherche, et qu'on utilise la touche "Tab" pour naviguer, la recherche se relance toute seule dès que l'on quitte l'input de recherche, ce qui a pour effet de changer de page.

[2019-06-14 12:54] #79 closed, assigned to lionelB

[2019-06-14 13:15] lionelB commented on #875
WIP https://bnnp9.codesandbox.io/

[2019-06-14 15:29] revolunet commented on #883
Quelqu'un pourrait svp faire une passe sur le wording/présentation de l'écran final où on affiche l'indemnité conventionnelle et expliquons l'articulation avec la légale .

je ne comprends pas la phrase "Le montant de l’indemnité est XXX € sur la base du calcul de l’indemnité légale"

<img width="634" alt="Capture d’écran 2019-06-14 à 17 26 44" src="https://user-images.githubusercontent.com/1249

[2019-06-14 17:36] #898 closed, assigned to UnbearableBear

[2019-06-14 17:36] #919 closed, assigned to UnbearableBear

[2019-06-14 17:36] #924 closed, assigned to UnbearableBear

[2019-06-17 09:13] revolunet opened #942 "[Piwik] pages urls"
Dans les urls remontées par piwik, on a parfois un double slash parasite

<img width="1399" alt="Capture d’écran 2019-06-17 à 11 11 35" src="https://user-images.githubusercontent.com/124937/59592720-e3359080-90f0-11e9-86ca-396aa3df7113.png">

[2019-06-17 09:47] lionelB opened #943 "IDL chimie: la demande de l'age n'apparait pas :'("
dans le calculateur d'indemnité de licenciement - branche chimie
l'age n'apparait jamais... probablement lié au caclcul de l'ancienneté

[2019-06-17 12:12] revolunet commented on #890
A propos des "contrats successifs" :
 - S'agit-il uniquement de contrats également soumis à SYNTEC ?
 - Qu'entend-on par successif ? faut-il que les contrats se suivent exactement sans mission ou chômage intermédiaire ?

[2019-06-17 12:57] #915 closed, assigned to adipasquale

[2019-06-17 12:59] #914 closed, assigned to adipasquale

[2019-06-17 13:00] virginielastisneres commented on #717
intégrer :
- page 1 : https://www.figma.com/file/dd5K7nrvEsMQnXzEJ5DqiX5u/V2-Page-pr%C3%A9sentation-droit-du-travail?node-id=12%3A344
- page 2 : https://www.figma.com/file/dd5K7nrvEsMQnXzEJ5DqiX5u/V2-Page-pr%C3%A9sentation-droit-du-travail?node-id=12%3A2
                - Dans la page 2, il y a pour certains accordéons, il y a d'autres accordéons à intégrer (c'est indiqué dans le figma via une flè

[2019-06-17 13:10] #875 closed, assigned to lionelB

[2019-06-17 14:53] UnbearableBear opened #944 "Minor IE11 issues"
We have minor visual issues on ie 11:

The main search bar is quite ugly
<img width="1004" alt="Screenshot 2019-06-17 at 16 21 58" src="https://user-images.githubusercontent.com/705453/59613808-db411500-911f-11e9-88cb-80f61f13e963.png">

The `<main>` background-color seems to be ignored
<img width="1067" alt="Screenshot 2019-06-17 at 16 43 15" src="https://user-images.githubusercontent.com/705453/

[2019-06-17 15:16] revolunet commented on #166
duplicate of #612

[2019-06-17 15:16] #166 closed, assigned to nobody

[2019-06-17 16:09] lionelB opened #946 "Move CCn related files in a folder"
for now all the 0044 ccn files are in CCN. since we will add more and more ccn, we should move arrange files

[2019-06-17 16:34] #946 closed, assigned to nobody

[2019-06-17 16:37] lionelB opened #947 "update python docker image for data"
move from python 3.6 to 3.7.2

[2019-06-18 08:19] revolunet opened #949 "[UX] Prévoir écran fin simulation IDL"
**Fonctionnalité**
A la fin du parcours IDL , afficher la différence entre IDL légale et conventionnelle.
Reprendre les éventuels paramètres clé du calcul

**Problème**
Actuellement le wording n'est pas forcément très clair et il manque d'infos pédagogiques

**Solution**
Définir les écrans et textes à afficher à l'utilisateur pour qu'il soit mieux informé sur son IDL
Créer une page résultat finale

[2019-06-18 10:43] #883 closed, assigned to revolunet

[2019-06-18 11:56] lionelB commented on #15
@jrduscher  ????

[2019-06-18 11:56] kemar commented on #15
@jrduscher ????

[2019-06-18 12:01] revolunet commented on #15
@kemar ????

[2019-06-18 12:13] revolunet opened #951 "[search regression] Enter Key + Firefox"
**Description**
Lorsque l'usager utilise la touche entrée pour rechercher dans Firefox, il y a un "double submit" qui redirige vers une page HS.

Constaté dans Firefox 67, non reproduit sous Chrome

Probablement lié à #829

**Reproduction**

 - Aller sur l'accueil dans FF67
 - Saisir un mot clé de recherche
 - Valider avec "entrée"

**Comportement attendu**
Affichage des résultats

**Screenshots**

[2019-06-18 12:48] lionelB commented on #15
![lebowski](https://user-images.githubusercontent.com/160320/59683273-2a4a8100-91d8-11e9-952b-7ecb55e908c1.jpg)

[2019-06-18 13:15] #947 closed, assigned to nobody

[2019-06-18 14:04] kemar commented on #15
![tumblr_n1ywviPye51r1d5rwo1_1280](https://user-images.githubusercontent.com/281139/59691048-b792d300-91e2-11e9-867d-530ff0da390e.jpg)

[2019-06-18 14:05] revolunet commented on #15
![](https://media.giphy.com/media/3WmWdBzqveXaE/giphy.gif)

[2019-06-18 15:02] UnbearableBear opened #952 "Faire une passe sur les css pour l'impression"
Voir page par page, les optimisations  de style à faire lors de l'impression. Actuellement, nous supprimons la rechercher et le footer mais il y a surement moyen de faire mieux

[2019-06-19 09:27] jrduscher commented on #896
Salaire de référence - Base de calcul
demander catégorie : Ouvriers ou employés / Techniciens et agents de maîtrise (TAM) / Cadres
(la catégorie saisie sera aussi utile dans les étapes suivantes)

Ouvriers et employés : salaire_de_reference = Moyenne des 3 derniers mois de salaire brut

**Ajout:**

Cadres / Techniciens et agents de maîtrise (TAM) : salaire_de_reference = dernier mois de salaire br

[2019-06-19 14:08] lionelB commented on #930
@jrduscher on dirait un copié coller de celle des transport (idcc 0016)

[2019-06-19 14:19] lionelB commented on #144
closed by #307

[2019-06-19 14:19] #144 closed, assigned to nobody

[2019-06-19 15:46] #943 closed, assigned to lionelB

[2019-06-20 10:47] jrduscher opened #955 "Bug report "lien mort" et footer obsolèten harminsation avec les réponses in IDL"
**Description**
Suppression d'un lien mort résiduel, sur demande récente de la région à l'origine de ce lien.  il anque des fonctionnalités par raport aux paes de résultat.

**Reproduction**
Le  footer de de l'outil de calcul de l'indmenité de licenciement, est une relique du footer de la page résultat d'une ancienne vrsion, dans les liens proposés, certains dont le code BFC sont morts..

**Compor

[2019-06-20 10:51] lionelB commented on #955
il me semble que cela a deja fait l'objet d'une PR qui a était mergée,  je n'arrive pas a retrouvé la page
poke @revolunet

[2019-06-20 12:14] revolunet commented on #955
un exemple d'url @jrduscher ?

[2019-06-20 12:56] UnbearableBear commented on #817
closed by #948

[2019-06-20 12:56] #817 closed, assigned to UnbearableBear

[2019-06-20 12:57] UnbearableBear commented on #541
closed by #948

[2019-06-20 12:58] UnbearableBear commented on #634
closed by #948

[2019-06-20 12:58] #634 closed, assigned to UnbearableBear

[2019-06-20 12:58] #541 closed, assigned to revolunet, lionelB, UnbearableBear, douglasduteil

[2019-06-20 13:01] UnbearableBear commented on #944
closed by #948

[2019-06-20 13:01] #944 closed, assigned to nobody

[2019-06-20 13:04] UnbearableBear commented on #755
New design incoming

[2019-06-20 13:04] #755 closed, assigned to ClementChapalain

[2019-06-20 13:06] UnbearableBear commented on #751
new design à venir

[2019-06-20 13:06] #751 closed, assigned to nobody

[2019-06-20 13:07] UnbearableBear commented on #746
legacy + forgot what it was about 😅

[2019-06-20 13:07] #746 closed, assigned to nobody

[2019-06-20 13:07] UnbearableBear commented on #552
fixed by @lionelB

[2019-06-20 13:07] #552 closed, assigned to lionelB, UnbearableBear

[2019-06-20 14:09] UnbearableBear commented on #717
![merci](https://user-images.githubusercontent.com/705453/59855706-c067de00-9375-11e9-8e5a-a94a0d29dd37.png)

[2019-06-20 14:22] #896 closed, assigned to lionelB

[2019-06-20 15:36] jrduscher opened #957 "Bug report : Fil d'ariane, calculateur IDL"
**Description**
ETQ utilisateur, dans le fil du calclateur, dans les premières pages, je ne sais pas que mon indemnité conventionnelle sera calculée.

**Comportement attendu**
Le fil s'afficha au complet ( L'IDLL est visivible l'ICL en grisé)

wording is needed, précision sur la définition du licenciement aussi.

[2019-06-20 17:02] lionelB commented on #957
j'ai modifié en amélioration car ce n'est pas un bug à mon sens.

[2019-06-21 07:52] adipasquale commented on #912
done in #941

[2019-06-21 07:52] #912 closed, assigned to adipasquale

[2019-06-24 07:25] lionelB opened #960 "le message d'erreur (type contrat / fauteGrave) ne s'affiche pas"
**Description**
Le message d'erreur suite au choix d'un contrat cdd ou d'une faute lourde ne s'affiche pas.
Le bouton

**Configuration**
  - Navigateur: safari

[2019-06-24 09:54] lionelB commented on #949
proposition :

![image](https://user-images.githubusercontent.com/160320/60009826-d677e600-9676-11e9-9a57-347596332038.png)

[2019-06-24 11:47] #960 closed, assigned to lionelB

[2019-06-24 11:47] #937 closed, assigned to lionelB

[2019-06-24 14:59] revolunet opened #964 "Modele de lettre : convocation entretien : modif wording"
**Description**

 - ajouter "ou remise en main propre contre signature" dans la description
 - dans le modèle : après "Lettre Recommandée avec Accusé de Réception" mettre "ou remise en main propre"

[2019-06-25 09:44] adipasquale commented on #913
j'ai mis cette issue en pause en attendant de decider quelle direction est prise sur l'affichage des conventions dans le code du travail numerique @jeremiecook

[2019-06-25 13:44] jrduscher commented on #930
@lionelB c'était bien un copier coller de la 16. ce n'est plus le cas, mais c'est encore WIP

[2019-06-25 13:53] lionelB commented on #931
attention, le calcul ne tiens pas compte des période d'absence prolongée pour l'instant car nous ne demandons pas les dates debut ou de fin. Il faudrait prévoir de rajouter ca prochainement

[2019-06-25 13:55] lionelB commented on #951
le bug a disparu suite au fix #958

[2019-06-25 13:55] #951 closed, assigned to nobody

[2019-06-25 20:12] lionelB commented on #112
@jrduscher  c'est une vieille issue, le pb de depart sous-lisse qui matche liste à disparu par contre, je me demandais si on avait des contenu qui etati censé matcher `sous-lisse` ?

[2019-06-26 08:00] lionelB opened #972 "add piwik env variable for master deployement"
actually, there is no piwik or sentry on codedutravail-dev.num.social.gouv.f

[2019-06-26 08:14] #972 closed, assigned to nobody

[2019-06-26 09:49] virginielastisneres commented on #717
![image](https://user-images.githubusercontent.com/48682104/60170228-55e8ef00-9808-11e9-8c03-ddb65d3a3149.png)
changer articulation par hiérarchie (on m'a fait la remarque que l'on utilisait pas le terme articulation avant et que ca faisait bizarre, ce qui est pas faux...)

[2019-06-26 10:10] virginielastisneres commented on #717
![image](https://user-images.githubusercontent.com/48682104/60170691-44ecad80-9809-11e9-9b12-1fe5c985b21c.png)
est-il possible de rajouter en bas de ce paragraphe des exemples en italique:
"Exemples :
- Le taux de majoration des heures supplémentaires : un accord collectif peut prévoir dans une certaine limite un taux inférieur à 25% (règle prévue par le Code du travail).
- Le congé sabbatique : u

[2019-06-26 10:23] virginielastisneres commented on #717
![image](https://user-images.githubusercontent.com/48682104/60171851-bded0480-980b-11e9-943a-2c8d0bcdbb2f.png)
idem : est il possible de mettre après le texte des exemples :
"Exemples
- Congés exceptionnels : en l'absence d'accord collectif sur les congés exceptionnels, ce que prévoit le code du travail s'applique (4 jours pour mariage, 1 jour pour mariage d'un enfant, 5 jours pour le décès d'un e

[2019-06-26 10:27] lionelB commented on #717
@virginielastisneres tu peux mettre tes commentaires dans la PR si tu veux https://github.com/SocialGouv/code-du-travail-numerique/pull/963

[2019-06-26 10:27] UnbearableBear commented on #717
C'est ok je les ai vus

[2019-06-26 10:29] virginielastisneres commented on #717
sorry sorry ... j'ai tout mis dans la PR :)

[2019-06-26 11:32] #717 closed, assigned to UnbearableBear

[2019-06-26 15:12] #964 closed, assigned to UnbearableBear

[2019-06-26 15:20] lionelB opened #976 "Add glossary into dataset"
add a json file that contains all the glossary terms

[2019-06-26 15:48] #976 closed, assigned to lionelB

[2019-06-26 16:07] #936 closed, assigned to lionelB

[2019-06-28 16:00] lionelB opened #981 "meta are undefined"
**Description**
Description claire et concise du bug

**Reproduction**
Etapes à suivre pour reproduire le bug
1. go Home
2. Click on links
3. Inspect head>meta
4. og:xxxx meta are undefined

**Comportement attendu**
_optionnel_ Si nécessaire, explications du comportement attendu

**Screenshots**
![Capture d’écran 2019-06-28 à 17 57 15](https://user-images.githubusercontent.com/160320/60355351-74

[2019-06-28 16:44] UnbearableBear commented on #981
Ahhh pas bien, ca doit être moi ça, je prends !

[2019-07-01 07:37] #931 closed, assigned to lionelB

[2019-07-01 09:05] #887 closed, assigned to revolunet

[2019-07-01 09:55] lionelB opened #984 "mise à jour d'ES"
- [x] update elasticsearch to 7.2 #992 #991
- [x] update synonyms syntax #982
- [x] explore synonyms graph token filter
- [x] fix match_start_phrase on title to boost document with title that match query #983
- [ ] use an external file for synonyms

[2019-07-01 11:27] ClementChapalain opened #985 "Google indexe les résultats de la version -dev du CDTN"
**Description**
Google indexe les résultats de la version -dev, par exemple https://codedutravail-dev.num.social.gouv.fr/fiche-ministere-travail/csp-quelle-est-la-procedure?q=Contrat%20de%20s%C3%A9curisation%20professionnelle%20(CSP)

**Reproduction**
Etapes à suivre pour reproduire le bug
1. chercher "envoi dossier csp pole emploi" sur google
2. aller à la page 2

**Comportement attendu**
On devr

[2019-07-01 11:31] ClementChapalain commented on #685
🎉

[2019-07-01 11:31] #685 closed, assigned to jrduscher, virginielastisneres

[2019-07-01 11:41] ClementChapalain commented on #817
quelques remarques :

### 1. le titre de la home devrait être un h1 non ?
![image](https://user-images.githubusercontent.com/5337489/60433394-0722c700-9c05-11e9-9c52-cf3aa733ef14.png)

### 2. il faudrait plus de marge ou padding sur les titres, c'est particulièrement visible dans le calculateur d'indemnités de licenciement sur le titre de l'outil et sur les questions :
![image](https://user-images

[2019-07-01 11:42] ClementChapalain commented on #817
je fais une nouvelle issue @UnbearableBear ou on le fait dans celle ci ? on peut faire les modifs ensemble sur ton ordi aussi, ça ira plus vite :)

[2019-07-01 12:23] revolunet opened #986 "[IDL] : indemnité légale non reprise dans l'écran final"
<img width="942" alt="Capture d’écran 2019-07-01 à 14 20 43" src="https://user-images.githubusercontent.com/124937/60436142-bb275080-9c0b-11e9-800a-a74b90e662f3.png">

[2019-07-01 12:40] lionelB commented on #986
Est ce que tu pourrais rajouter les paramètres qui ont mené à cet écran ?

[2019-07-01 12:42] lionelB commented on #985
yep il faudrait mettre robot.txt sur le dev

[2019-07-01 12:54] revolunet commented on #986
une des CCNs issue de #893 par exemple "Animation"

[2019-07-01 12:58] lionelB commented on #986
oki merci !

[2019-07-01 13:17] ClementChapalain opened #987 "Ajouter une page d'intro au calculateur d'indemnité de licenciement"
Retour utilisateur : lorsqu'on arrive sur le calculateur d'indemnité de licenciement est lancé, on se retrouve direct avec des questions sans info sur ce que l'on va y trouver et l'effort qui va m'être demandé.

Proposition : ajouter une page d'introduction avec les éléments suivants :

**fil d'ariane**
tous les éléments sont grisés

**texte**

**bouton**
Un bouton "Débuter la simulation" qui lanc

[2019-07-01 13:19] ClementChapalain opened #988 "Ecran de fin calculateur IDL lorsque conventionnel < légal"
![image](https://user-images.githubusercontent.com/5337489/60439695-84edcf00-9c13-11e9-9945-79fdd01c5153.png)

[2019-07-01 13:19] revolunet commented on #988
duplicate #986

[2019-07-01 13:19] #988 closed, assigned to nobody

[2019-07-01 13:22] revolunet commented on #678
on a oublié l'issue pour le noindex :) cf #985

[2019-07-01 13:27] lionelB commented on #985
https://www.webrankinfo.com/dossiers/techniques/url-canonique

[2019-07-01 13:44] revolunet commented on #935
- [ ] vérifier le listing KALI actuel
 - [x] produire des JSONs des CCNs via API DILA
 - [ ] tests de validité des textes
 - [ ] intégration dans ES
 - [ ] intégration dans frontend

[2019-07-01 14:59] lionelB commented on #935
peut etre utiliser le snapshot testing ?

[2019-07-01 15:39] revolunet commented on #935
(je pars du principe qu'on suit le meme fonctionnement que les autres sources de données : on récupère et fournit la donnée (CCN) directement (pas d'API tierce pour la consultation) )

[2019-07-01 15:58] ClementChapalain commented on #949
je trouve ça trop bien ! quelques remarques :
- le noir sur bleu n'est pas très lisible, on peut essayer un gris très clair je pense
- le gris du cadre avec le montant minimum est un peu foncé je trouve, avec un gris plus clair le contraste serait meilleur
- à chaque fois, indiquer "montant brut minimum" et non uniquement "montant" afin de bien faire comprendre qu'on peut avoir plus en négociant e

[2019-07-01 15:59] ClementChapalain commented on #987
ping @virginielastisneres je veux bien ton avis stp :)

[2019-07-02 12:02] revolunet commented on #985
si besoin pour robots.txt https://github.com/zeit/next.js/tree/canary/examples/with-sitemap-and-robots-express-server

[2019-07-02 12:58] #986 closed, assigned to revolunet

[2019-07-03 09:14] #981 closed, assigned to UnbearableBear

[2019-07-03 13:50] revolunet opened #996 "[datafiller]: quelques URLs en erreur"
**Description**

Certaines URLs référencées dans le datafiller ont changé, la plupart ont été corrigées, mais il en reste 14 non trouvées.

il faudrait svp corriger ou supprimer le lien dans le datafiller

status | query | slug | found
------|------|------|------
ERROR | [ai je droit à l'allocation chômage en cas de rupture conventionnelle](https://datafiller.num.social.gouv.fr/bucket/datasets/col

[2019-07-03 13:51] lionelB commented on #996
avec la migration de ES en 7.2 il va probablement mettre à jour les la génération des prequalified.json

[2019-07-03 14:09] virginielastisneres commented on #933
## Introduction sur la prime de précarité CDD et CTT

* **CDD**

Si à la fin d’un CDD le salarié ne poursuit pas en CDI dans l’entreprise, il a droit à une indemnité de fin de contrat (prime de précarité). Cette indemnité est égale à 10 % de la rémunération totale brute versée au salarié.

Exceptions sur le droit à l’indemnité :
Certains types de CDD n’ont pas le droit à cette indemnité.
Dans cert

[2019-07-03 14:24] ClementChapalain commented on #933
trop bien ! juste un doute sur les `*` c'est pas hyper lisible je trouve et ça fait un peu conditions de vente en petits caractères :) on peut p-e insérer les informations dans les paragraphes directement ?

[2019-07-03 16:54] virginielastisneres commented on #920
![image](https://user-images.githubusercontent.com/48682104/60610328-e94f9080-9dc3-11e9-87cb-cfe48afa111d.png)
l'ancien footer est toujours présent sur les outils

[2019-07-04 06:29] lionelB commented on #920
ahhhh merci je ne le trouvais plus :)

[2019-07-04 06:30] lionelB commented on #920
ahhhh mais en dev ca fait un moment qu'il y est plus :)

[2019-07-04 06:32] lionelB commented on #920
closed by #921

[2019-07-04 06:32] #920 closed, assigned to lionelB

[2019-07-04 06:35] lionelB commented on #955
fait dans la pr #921
il faut qu'on release depuis travis et mette à jour la prod dans que la PR #1001 est mergée

[2019-07-04 06:35] #955 closed, assigned to nobody

[2019-07-04 08:48] virginielastisneres commented on #987
@ClementChapalain
Désolé du retard...
Ci-dessous ma proposition : j'utiliserai plutôt le terme **"simulateur de l'indemnité de licenciement"** que calculateur.

"Ce simulateur est un outil qui permet d'estimer le montant de l'indemnité minimale de licenciement d'un salarié.

Vous pourrez simuler simplement le montant de l'indemnité légale définie par le Code du travail et le montant de l'indemnité

[2019-07-04 08:55] revolunet opened #1002 "Page droit du travail : proposition d'amélioration"
**Fonctionnalité**
Sur la présentation des textes en jeu dans le droit du travail, on peut avoir envie de savoir comment accéder au texte en question (CCNs, contrat de travail...) ou savoir si un texte en question s'applique dans mon entreprise.

https://codedutravail-dev.num.social.gouv.fr/droit-du-travail

[2019-07-04 09:00] lionelB commented on #987
simulateur se retrouve aussi pas mal sur le web, ca pourrait etre une bonne chose de le renomé

[2019-07-04 09:07] ClementChapalain commented on #987
complètement d'accord pour simulateur

[2019-07-04 09:07] UnbearableBear commented on #987
C'est modifié, j'ai pris le wording de virginie !

[2019-07-05 08:39] #987 closed, assigned to UnbearableBear

[2019-07-05 09:07] #873 closed, assigned to ClementChapalain

[2019-07-08 11:58] #985 closed, assigned to lionelB

[2019-07-08 13:07] lionelB commented on #145
@jrduscher est ce que cette issue est toujours d'actualité ? Doit on la fermé et doit on en ouvrir une autre (car le contenu des faq et des ccn est présent maintenant)

[2019-07-08 14:50] ClementChapalain opened #1011 "Wording convention collective"
Sur les pages de convention collective

**dans le texte d'intro**
- [x] "explications sur les conventions collectives nationales" -> "plus d'informations sur les conventions collectives"
- [x] "et de leurs garanties sociales" -> "et leurs garanties sociales"
- [x] "aux spécificités du secteurs géographiques" -> "aux spécificités des secteurs géographiques"
- [x] "soit une convention collective de

[2019-07-08 15:47] ClementChapalain commented on #545
document de travail : https://docs.google.com/document/d/1Hm0kwTFirhnXaDjhOJmMd37dCEEelKqvylZKuNmsirE/edit#

[2019-07-08 15:58] jrduscher commented on #890
**Ancienneté du chargé d'enquête.**

1. Définition de l'ancienneté du chargé d'enquête

saisir période  une d'activité régulière et exclusive auprès de l'employeur en tant que CE
wording "saisir la période de référence: une période d'activité régulière et exclusive.
ancienneté= date de fin. date de début;

2. Ajouter l'ancienneté en tant **qu'enquêteur** sous conditions.
**Période de référence**

[2019-07-08 16:04] lionelB commented on #545
Est ce que ca pourrait être utile d'ajouter un champ dans les themes impacté par la hirarchie des normes (ou dit autrement, la vérité est dans la ccn ?)

[2019-07-08 16:11] ClementChapalain commented on #545
je comprends pas bien, un champs pour faire quoi ?

[2019-07-08 16:17] lionelB commented on #545
un champ avec un boolean (oui / non) voir la liste des bloc qui pourrait impacter un theme
l'idée etant d'avoir l'info pour pouvoir via l'ui dans le cas ou on affiche un theme de pouvoir de demander la ccn

[2019-07-08 16:18] ClementChapalain commented on #545
ah oui carrément ça pourrait être interessant !

[2019-07-08 16:37] UnbearableBear commented on #890
Je crois que je comprends rien à ce que je dois faire pour le CE en fait 😅

[2019-07-08 16:46] virginielastisneres commented on #949
Proposition vue avec Clément et Aurélie :)
https://www.figma.com/file/bTTqIa4qH3OdRMx5JULywV2P/Untitled?node-id=0%3A1
Pour le détail dans l'indemnité conventionnelle : il faudra adapter les éléments saisis en fonction des CCN :)
A ta dispo @lionelB pour tout besoin :)

[2019-07-09 13:03] ClementChapalain opened #1014 "Calculateur : préavis démission"
# Préavis de démission (durée, dispense)

**Dans cette tâche**
- Code du Travail
- Branches Industrie chimiques, boulangerie artisanale, HCR, bureau d'étude technique

**Références**
- https://docs.google.com/spreadsheets/d/1GQrDlvAAHUE8tP6isZJ3tPjIyQb5R2sg1ufxmFzEG-E/edit#gid=227376301
- POC: https://codesandbox.io/s/preavis-wizard-4qi0c

## Page introductive

"En cas de démission, il n'est pas p

[2019-07-09 13:06] ClementChapalain opened #1015 "[nouveaux parcours] Fiches SP MT"
## Contexte
Redesign en cours, on commence par ces fiches car elles apportent de la valeur en elles-mêmes, nous permettent de créer une bonne partie des composants et le redesign apporte de nouvelles fonctionnalités (pas uniquement des changements graphiques)

## To do

### Redesign

#### Général

- Menu global
- Footer

-> #1035

#### Fiche SP et MT
nouvelle intégration du contenu des fiches avec

[2019-07-09 13:17] ClementChapalain opened #1016 "Fusionner et revoir les thèmes CDTN"
wip

[2019-07-10 07:57] lionelB commented on #949
Je suis pas super emballé part le bar chart sans aucune échelle / info. Le but initial était de mettre en avant un élément plus que l'autre pas de les comparé sous forme de dataviz qui me parait pas vraiment adapté au propos (on veut mettre en avant une info (l'indemnité de licenciement) plus que comparer 2 résultats)

[2019-07-10 12:09] UnbearableBear opened #1021 "Todo list calculateur"
## Bugs

- [x] Il est impossible de rentrer 0 dans les 12 derniers salaires mensuels bruts

## Modification fonctionnelle

- [x] Il est possible qu'une convention collective permette d'avoir une indemnité malgré la faute grave. Il faut tenir compte de cela lors de la réalisation du parcours. Certaines conventions collectives prévoient aussi une différence entre la faute grave et la faute lourde (i

[2019-07-11 08:22] virginielastisneres commented on #949
Je comprends @lionelB
Ce n'est pas une bar chart mais je peux comprendre que vu comme ca, cela pourrait le faire croire. Nous avons fait ce choix pour deux raisons : avec les carrés c'était compliqué de mettre le détail du calcul qui est assez conséquent... et pour la version mobile c'est pas top... tu peux voir ce que cela donnerait dans cette page https://www.figma.com/file/bTTqIa4qH3OdRMx5JULyw

[2019-07-11 10:42] lionelB opened #1022 "missing texte inside fiche SP"
There is part of the content that are not displayed.

- open this page https://www.service-public.fr/particuliers/vosdroits/F11215#fiche-item-6
- open the accordion **Indemnité de fin de mission (prime de précarité)**

we can see

What we display (https://codedutravail-dev.num.social.gouv.fr/fiche-service-public/contrat-de-travail-temporaire-interim)

[2019-07-11 16:07] jrduscher commented on #876
REOPEN: après relecture de la spec. totalement intégrable, la spec intègre déjà le fait que l'IDL est plus favorable, par contre la Valeur ajoutée réside dans le calcul de l’indemnité spécifique de licenciement ** en cas d'inaptitude**.

[2019-07-12 08:34] lionelB commented on #949
Et un truc comme ça ca le ferait ?
![image](https://user-images.githubusercontent.com/160320/61114454-a57a1c80-a490-11e9-9d19-72fd72f083fd.png)

[2019-07-12 08:42] lionelB commented on #949
poke @virginielastisneres @ClementChapalain @jrduscher  (j’ai pas le handle d’aurélie)

[2019-07-12 08:47] virginielastisneres commented on #949
@lionelB pour moi les seules choses qui doivent absolument apparaître c'est la phrase d'explication suivante : **il s'agit du montant le plus favorable entre l'indemnité légale et l'indemnité conventionnelle**. **le détail** comme indiqué dans le figma et la **phrase de fin d'alerte** sur accord collectif contrat de travail etc...
Après pour la forme d'un carré, rectangle, rond je te laisse voir c

[2019-07-12 08:52] lionelB commented on #949
pour le détails du calcul, je suis pas sur de pouvoir généraliser ça à tout les calculs car c’est souvent plus compliqué que une phrase

[2019-07-12 08:59] Auremie commented on #949
ici !

[2019-07-12 09:07] UnbearableBear opened #1024 "Mattermost down ?"
Ah j'ai perdu mes accès mattermost ou bien il y a un petit soucis avec la plateforme ? Je n'arrive plus à me connecter et le renvoi du mdp de fonctionne pas ?

[2019-07-12 09:08] lionelB commented on #1024
non, çamarche™ !

[2019-07-12 09:08] #1024 closed, assigned to UnbearableBear, ClementChapalain

[2019-07-12 09:10] UnbearableBear commented on #1024
J'arrive plus à me co, quelqu'un pourrait me dire quels sont mes identifiants ? Apparement ce n'est pas mon adresse mail !

[2019-07-12 09:11] UnbearableBear commented on #1024
Trouvé :D

[2019-07-12 09:18] virginielastisneres commented on #933
Mes remarques :
![image](https://user-images.githubusercontent.com/48682104/61117246-60f17f80-a496-11e9-81d1-17fc23b07dcb.png)
- serait-il possible de mettre après contrat "de travail"

![image](https://user-images.githubusercontent.com/48682104/61117363-a6ae4800-a496-11e9-9577-a8e0d9cd83e7.png)
remplacer par "Simulateur de l'indemnité de précarité" pas de pluriel

[2019-07-12 09:20] lionelB commented on #933
![no-problemo](https://user-images.githubusercontent.com/160320/61117531-03116780-a497-11e9-88c9-e69b9698cd8a.jpg)

[2019-07-12 09:27] virginielastisneres commented on #933
![image](https://user-images.githubusercontent.com/48682104/61117537-06a4ee80-a497-11e9-943f-3385264f0026.png)
Attention la phrase qui dit que l'on a pas le droit à l'indemnité de précarité doit apparaitre pour la réponse oui et non la réponse non.

Autre proposition faite par JR qui est très bien je trouve : regroupe les deux questions en ne faisant apparaître la 2ème question que si l'usager a c

[2019-07-12 09:27] virginielastisneres commented on #933
merci @lionelB

[2019-07-12 09:39] virginielastisneres commented on #933
![image](https://user-images.githubusercontent.com/48682104/61118390-eece6a00-a498-11e9-9e48-2eed6f57de1d.png)
oups j'ai oublié des mots dans la phrase... ahah :)
"Le salarié en CDD qui refuse le renouvellement de son CDD alors que son contrat prévoyait son renouvellement automatique n’a pas le droit à une indemnité de précarité".

[2019-07-12 09:47] lionelB commented on #933
@virginielastisneres j’avoue j’ai lu en diagonale et j’ai copié / coller comme un cochon

[2019-07-12 09:50] virginielastisneres commented on #933
Pour les écrans de fin, il manque un écran : normalement en fonction du type de contrat de l'utilisateur l'écran de fin est différent.

* Si l'utilisateur a cliqué sur CDD:

Votre prime de précarité (appelée également indemnité de fin de CDD) est estimée à XX €.

Warning : Attention : l'estimation est basée sur le montant de la prime de précarité prévu par le code du travail qui est de 10% de la r

[2019-07-12 09:51] virginielastisneres commented on #933
@lionelB tkt j'ai moi même été confuse dans ma phrase :)

[2019-07-12 09:54] virginielastisneres commented on #933
![image](https://user-images.githubusercontent.com/48682104/61119661-9cdb1380-a49b-11e9-9972-209c5df8fed7.png)
peut être que l'on peut supprimer temporaire (contrat d'intérim), la personne a déjà cliqué sur contrat de travail temporaire (intérim) donc bon, ca enlève un peu de texte qui n'est pas trop utile...

[2019-07-12 09:56] virginielastisneres commented on #933
![image](https://user-images.githubusercontent.com/48682104/61119738-cb58ee80-a49b-11e9-9eea-93a874a99311.png)

Je chipote un peu : il manque le point d'interrogation...

[2019-07-12 10:01] virginielastisneres commented on #933
![image](https://user-images.githubusercontent.com/48682104/61120059-5fc35100-a49c-11e9-879b-48bc0514b111.png)
avec les statistiques demandées par Nadia on a vu que les personnes utilisent pas vraiment le terme contrat de travail temporaire mais plutôt contrat d'intérim ; je me dis qu'en ayant déjà indiqué dans la première page contrat de travail temporaire on pourrait enlever ce terme pour les au

[2019-07-12 10:04] virginielastisneres commented on #933
![image](https://user-images.githubusercontent.com/48682104/61120331-09a2dd80-a49d-11e9-9712-108e5801c0a4.png)
Désolé j'ai mal rédigé cette phrase.... est ce que c'est possible de la modifier par celle là :
Le salarié en contrat d'intérim qui refuse la mise en œuvre de la souplesse prévue dans son contrat n’a pas le droit à une indemnité de précarité.
Mercii :)

[2019-07-12 10:39] UnbearableBear opened #1025 "Période d'asbence erratique dans le calculateur d'indemnité"
Il semblerait que la période d'absence prolongée ne soit pas correctement calculée.

Dans le calculateur d'indemnités de licenciement, aller à l'étape 3 (ancienneté) et renseigner une période d'absence prolongée (plusieurs mois ou années, peu importe). L'ancienneté n'est pas calculée à jour correctement.

Il faudrait que cette absence soit retranchée de l'ancienneté.

Avant saisie de période:
<img

[2019-07-12 12:13] virginielastisneres commented on #933
dernière petite modification @lionelB :) :)
Vu que le terme le plus employé par les usagers est "prime de précarité". est ce qu'il est possible de changer le titre de l'outil par "Simulateur de la prime de précarité".

[2019-07-12 15:19] lionelB commented on #1025
![oh-noes](https://user-images.githubusercontent.com/160320/61139169-20f7c000-a4c9-11e9-9e88-d440a1b01f53.gif)

[2019-07-15 08:04] ClementChapalain commented on #949
J'aime bien ta proposition aussi @lionelB :) Effectivement ça évite l'effet bar chart sans échelle.

En revanche il manque la phrase d'alerte sur l'accord d'entreprise qu'avait ajouté Virginie :
![image](https://user-images.githubusercontent.com/5337489/61202411-bbcde580-a6e7-11e9-82e1-5dbe59343ed8.png)

Pour le détail du calcul pourquoi on ne pourrait pas généraliser ? C'est une formule et pas un

[2019-07-15 08:40] lionelB commented on #933
pour les changement de noms, j’ai fait les modifs mais je suis complément convaincu :)
par contre qu’on utilise les synonyms pour pouvoir trouver le contenu, pas de soucis

[2019-07-15 09:19] ClementChapalain commented on #284
close for #874

[2019-07-15 09:19] #284 closed, assigned to nobody

[2019-07-15 09:36] ClementChapalain commented on #545
je close car on a validé la solution de traiter la HDN dans les contenus (outils, articles, questions / réponses des SR) et de ne pas créer un moteur qui associe le texte applicable pour chaque contenu ou requête

cf. le doc de travail pour tout le contexte :
https://docs.google.com/document/d/1Hm0kwTFirhnXaDjhOJmMd37dCEEelKqvylZKuNmsirE/edit#

[2019-07-15 09:36] #545 closed, assigned to nobody

[2019-07-15 10:11] virginielastisneres commented on #933
Tu vas me détester... cette correction est ma faute j'ai utilisé le terme indemnité de précarité et prime de précarité à différents endroits. J'aimerais l'utilisation d'un seul et meme terme afin d'éviter toute confusions... Du coup il faudrait remplacer "indemnité de précarité" par "prime de précarité". On retrouve principalement le terme "indemnité de précarité" dans l'étape 3 à la fois en cas d

[2019-07-15 10:12] virginielastisneres commented on #933
à la page de fin de la prime de précarité du contrat d'intérim il faut enlever l'alerte qui ne vaut que pour les CDD
![image](https://user-images.githubusercontent.com/48682104/61209345-cabd9380-a6f9-11e9-8b07-c65872d5a4c7.png)

[2019-07-15 10:14] virginielastisneres commented on #933
dernière remarque mais c'est vraiment pour chipoter... est ce que c'est possible de rajouter "mensuels" pour éviter toute erreur : **salaires mensuels bruts**
![image](https://user-images.githubusercontent.com/48682104/61209461-196b2d80-a6fa-11e9-84c6-0f2e5df2d682.png)

[2019-07-15 10:15] virginielastisneres commented on #933
### **UN GROS MERCI** @lionelB  👍 👍

[2019-07-15 11:27] #984 closed, assigned to lionelB

[2019-07-15 13:39] UnbearableBear commented on #554
https://nextjs.org/blog/next-9#dynamic-route-segments ?????

[2019-07-15 13:39] UnbearableBear commented on #554
Ca pourrait suffire ça ?

[2019-07-15 13:58] jrduscher opened #1028 "Ajouter les références juridiques dans l'IDL"
WIP ici
 https://docs.google.com/spreadsheets/d/1FVzGw_UdX_mMTdwq0RWeUjyo_YpdyyXJtQBgCkzH6Zs/edit#gid=0

[2019-07-15 14:03] virginielastisneres commented on #933
NB ( à ne pas oublier) : il faudra intégrer également dans l'outil les références juridiques liées au code du travail afin de permettre la mise à jour de l'outil en cas de modification juridique.
a voir avec Aurélie et Clément comment ces dernières seront intégrées.
les références juridiques ci-dessous :
pour les CDD : Article L 1243-8, Article L 1243-9 et Article L 1243-10 du code du travail
pour

[2019-07-15 14:09] lionelB commented on #933
@virginielastisneres  j’ai rajouté les ref dans les meta, Mis à part ca, est-ce que c’est l’outil est ok pour toi ?

[2019-07-15 14:17] virginielastisneres commented on #933
@lionelB NIKEL 👍 👍 merci lionel :)

[2019-07-15 16:10] ClementChapalain opened #1030 "Ferrer à gauche le contenu dans les outils"
### maintenant
![Image collée à 2019-7-8 17-56](https://user-images.githubusercontent.com/5337489/61231124-b2ff0300-a72b-11e9-8a1c-227b1f62b13a.png)

### après
![Image collée à 2019-7-8 17-59](https://user-images.githubusercontent.com/5337489/61231136-bb573e00-a72b-11e9-9b0f-d4295296c939.png)

[2019-07-15 16:11] UnbearableBear commented on #1030
Aie aie aie, ca a codé pour faire le dernier screenshot :D 💃

[2019-07-15 16:24] #933 closed, assigned to lionelB, virginielastisneres

[2019-07-15 17:08] revolunet commented on #554
a priori oui :)

[2019-07-15 17:10] revolunet commented on #1014
On aurait pas un début d'UX ?

[2019-07-16 07:55] ClementChapalain commented on #1014
On peut reprendre le design du calculateur IDL :

*Page intro*
![image](https://user-images.githubusercontent.com/5337489/61276081-9f957b80-a7af-11e9-8041-7c363ede8969.png)

*Page question convention collective*
On reprend le sélecteur qu'on a sur la dernière page du calculateur IDL

*Page questions supplémentaires*
On pose des questions avec des dropdowns ou des radio buttons selon les specs ci-d

[2019-07-16 09:08] ClementChapalain commented on #876
tu peux préciser stp ? on doit faire quoi en cas d'inaptitude ?

[2019-07-16 09:09] ClementChapalain commented on #1011
pour information @June-law les retours que tu m'avais fait sur la page convention collective

[2019-07-17 14:20] ClementChapalain opened #1035 "[nouveaux parcours] Éléments globaux"
### Menu global

![header](https://user-images.githubusercontent.com/5337489/62029130-2ef45300-b1e2-11e9-9b3c-5d04ea4a3650.png)

pour l'instant on n'a pas les pages "boite à outils" et "catégories" donc on ne met que le lien vers la page à propos et la recherche.

### Footer global

![footer](https://user-images.githubusercontent.com/5337489/62029240-64993c00-b1e2-11e9-921d-896126d5d9a0.png)

[2019-07-17 14:20] ClementChapalain opened #1036 "[nouveaux parcours] Redesign fiche SP"
Nouveau design des fiches service-public.fr.

### Design global

Lien vers figma ("24 juillet gabarits") : https://www.figma.com/file/UxFXYDg1TszvYBgDYj4foB5q/CDTN-design-sprint?node-id=263%3A4284

#### desktop
![article](https://user-images.githubusercontent.com/5337489/62029424-d07ba480-b1e2-11e9-80da-f4141ce31626.png)

#### mobile
![iPhone 8 6](https://user-images.githubusercontent.com/5337489/

[2019-07-17 14:20] ClementChapalain opened #1037 "[nouveaux parcours] Redesign fiches MT"
Nouveau design des fiches du ministère du travail.

### Design global
![Préavis licenciement](https://user-images.githubusercontent.com/5337489/61379952-c97e9900-a8a8-11e9-96c5-87f15e029641.png)

### Non traité dans cette tâche

Header / Footer
Thèmes
Articles associés

### Principaux éléments

#### Bandeau principal
![image](https://user-images.githubusercontent.com/5337489/61379971-d4d1c480-a8a

[2019-07-17 14:20] ClementChapalain opened #1038 "Trouver sa convention collective depuis les fiches SP et MT"
**Contexte**
Le site du Ministère du travail et le site de Service-Public.fr informent sur le droit du travail "générique" (ce que dit le code du travail).
Le code du travail numérique quant à lui a pour vocation d'aller au délà du contenu générique du droit du travail. Il a pour but d'intégrer du contenu des conventions collectives afin de personnaliser un peu plus la réponse apportée à l'usage.

[2019-07-17 14:20] ClementChapalain opened #1039 "Liens vers les thèmes depuis les fiches SP et MT"
Entre le contenu de la fiche SP ou MT et le footer, on ajoute un rebond vers les thèmes dans lesquels se trouve la fiche qu'on est en train de lire afin de faciliter la découvrabilité des contenus.

![image](https://user-images.githubusercontent.com/5337489/61382887-e073ba00-a8ad-11e9-9dd2-e4d615f16019.png)

Les fiches présentées peuvent être choisis au hasard dans un premier temps (en excluant la

[2019-07-17 14:20] ClementChapalain opened #1040 "[nouveaux parcours] Liens vers les outils depuis les fiches SP et MT"
Lorsqu'un outil est associé au même thème qu'une fiche, on présente l'outil sur la colonne de droite du contenu en question :

![image](https://user-images.githubusercontent.com/5337489/61383123-59731180-a8ae-11e9-80dc-ef97c2a82d45.png)

[2019-07-17 14:22] ClementChapalain commented on #1015
J'ai splitté en plusieurs issues comme discuté (#1035, #1036, #1037, #1038, #1039, #1040) et updaté la description de cette tâche.

[2019-07-17 14:22] #1015 closed, assigned to ClementChapalain

[2019-07-17 14:47] lionelB commented on #1039
pour l'instant, une fiche se trouve dans un seul theme. donc on aura qu'un bloc et pas trois.
on peut prendre des themes cousin de l'arborescence mais on a aucune metric qui permettent de choisir si les 3 themes auront un lien ou pas

[2019-07-17 14:49] lionelB commented on #1038
ca pourrait etre fait au moment de la génération des fiches et injecté dans le document qu'on indexe poke @revolunet

[2019-07-17 14:50] ClementChapalain commented on #1039
je croyais qu'une fiche peut se trouver dans plusieurs thèmes (cf. ici thème CDTN 1, 2, 3, 4 : https://docs.google.com/spreadsheets/d/1CVRrR45QIlSzVeO_9V1TUXSqI1U9Bt5_KYWlcH9K2jI/edit#gid=830691529) ?

si chaque fiche n'a qu'un thème on va attendre pour cette fonctionnalité du coup

[2019-07-17 14:51] lionelB commented on #1037
est ce qu'on a des details sur le header sticky ? a partir de quand il se met ?
Apres je suis pas sur qu'on puisse faire ça san refaire le header de la page

[2019-07-17 14:53] lionelB commented on #1035
ca pointe vers quoi la page "votre réponse personnalisée" ?

[2019-07-17 14:55] lionelB commented on #1039
pour l'instant c'est qu'une fiche

[2019-07-17 15:32] #1011 closed, assigned to ClementChapalain

[2019-07-17 15:54] #1025 closed, assigned to lionelB

[2019-07-17 15:54] #949 closed, assigned to lionelB

[2019-07-18 07:46] ArmandGiraud commented on #612
la configuration matomo aggrège les résultas à partir de 500 ligne, cela rend l'exploitation des logs inutilisable. si on a suffisamment d'espace disque il suffit de  [changer la config](https://matomo.org/faq/how-to/faq_54/) c'est possible?

[2019-07-18 07:56] revolunet commented on #612
Oui. et il faudrait aussi qu'on automatise l'extraction des données qui nous intéressent tous les jours avant que les données soient aggrégées par matomo. On a un nouveau matomo en cours de setup, on va ajouter ce paramètre

[2019-07-18 08:00] ArmandGiraud commented on #612
je travaille sur un script python qui automatise l'extraction des données pour l'autosuggest, je vais aussi en faire un pour les parcours utilisateurs. Mais je ne sais pas trop comment l'intégrer au site/où stocker la donnée.

[2019-07-18 08:08] revolunet commented on #612
j'imagine qu'il y a potentiellement pas mal de volume... on en discute avec les ops ?

une premiere étape serait de commencer la récolte dans un stockage "safe". Peut-être une base Postgres, ou un ES dédié ?

[2019-07-18 13:45] lionelB commented on #1014
@ClementChapalain est ce qu'on pourrait avoir les IDCC des branches supportées ?

[2019-07-19 08:10] ClementChapalain commented on #1014
chimie : 44
boulangerie artisanale : 843
HCR : 1979
syntec : 1486

tu confirmes @jrduscher ?

[2019-07-19 08:24] revolunet commented on #935
Exemples d'extraction des CCNs : https://github.com/SocialGouv/dila-api-client

[2019-07-19 14:38] ArmandGiraud opened #1042 "Matomo track l'index à la place de l'url de la page visitée"
**Description**
dans les logs piwik au cours du parcours utlisateur, les pages consultées apparaissent toutes sous l'url de l'index.

**Reproduction**
Etapes à suivre pour reproduire le bug
naviguer sur n'importe quelle fiche sur le site et consulter les logs correspondants sur piwik.

**Comportement attendu**
affichage de l'url et eventuellement ajouter le slug de la page consulté dans le page ti

[2019-07-19 15:03] #934 closed, assigned to revolunet

[2019-07-22 16:45] jrduscher commented on #886
[liste_ccnlegal.xlsx](https://github.com/SocialGouv/code-du-travail-numerique/files/3418398/liste_ccnlegal.xlsx)
Justificatif de procédé

[2019-07-22 19:27] #890 closed, assigned to UnbearableBear, ClementChapalain, jrduscher

[2019-07-23 08:18] jrduscher opened #1044 "Ajout de la CCN Publicité IDCCn°86 in IDL"
_CCN prête à être intégrée.
integrable sous réserve de l'avis des bureaux techniques de la DGT sur le seul droit à l’indemnité conventionnelle en cas de licenciement pour faute grave._

# Ajout de la CCN Publicité in IDL
IDCC n°0086
95% ready

## ancienneté

Elle se définie comme la durée d'appartenance à l'entreprise ou du groupe à compter de sa date d'entrée.

Récupérer date d'entrée. Afficher d

[2019-07-23 15:03] #1030 closed, assigned to UnbearableBear

[2019-07-23 15:16] revolunet commented on #935
Exemple de fichier produit [KALICONT000005635810.json.zip](https://github.com/SocialGouv/code-du-travail-numerique/files/3422745/KALICONT000005635810.json.zip)

equivalent Legifrance : https://www.legifrance.gouv.fr/affichIDCC.do?idConvention=KALICONT000005635810

[2019-07-24 11:20] #1022 closed, assigned to UnbearableBear

[2019-07-24 12:30] lionelB opened #1050 "ease deployment process"
For now, deployment on prod is done by hand.
We need a better way to do that. Since we build master image on our registry, we should be able to use the build image to run our code and update our data.

Any idea are welcome

poke @revolunet @UnbearableBear @douglasduteil @ivangabriele @ylascombe @Virasack

[2019-07-24 13:48] revolunet commented on #935
Quelques cas particuliers détectés :

 - IDCC 207, 1596, 1597 : plusieurs textes de base publiés sur légifrance

Il faut s'assurer qu'on les récupère bien aussi

[2019-07-24 14:17] lionelB commented on #1014
@ClementChapalain est ce qu'on pourrait pas rajouter dans les coéfficient > 275 pour éviter de demander le groupe ?

poke @jrduscher  @virginielastisneres @June-law

[2019-07-24 14:32] ClementChapalain commented on #1014
Pour la branche de la chimie ? Oui je suis d'accord ça simplifie

[2019-07-24 15:49] jrduscher commented on #1014
ok pour moi aussi après vérif
.
Explicatio.: groupe III, max 205. groupe IV min= 225. 275 possible que sur groupe IV. il n'y a pas de chevauchement de coefficient sur ces groupes ( il y en a pour les groupes IV et V, mais comme  on discrimine par catégorie on échappe au problème).

[2019-07-25 15:56] jrduscher opened #1056 "Ajout de l'indemnité conventionnelle de la Pharmacie d'Officine à l'IDL"
# Pharmacie d'officine
### n°1996.

Pour ne plus être draft: nécessite
- parcours user vu par UX
- relecture dev.
-dernière relecture étendue métier

## Demander catégorie:
Wording : "Préciser votre catégorie professionnelle"

Cadre. choix: oui/non/ne sais pas
ne sais pas=non + affichage de la règle "pour la suite du calcul, il sera considéré que le salarié n'est pas cadre."

Si cadre = oui, deman

[2019-07-26 08:20] revolunet commented on #935
Suite à discussion hier et nécessité de partager des données notamment des CCNs avec l'outil de contrib, je propose :

création d'un repo/package `@socialgouv/kali-data` qui contiendrait :
 - scripts d'extraction des CCNs ([fetch-ccn](https://github.com/SocialGouv/dila-api-client/blob/master/examples/fetch-ccn.js)) + tests
 - versionning fichiers générés dans GIT
 - un fichier de recap des chgts d

[2019-07-26 08:22] revolunet commented on #935
cc @UnbearableBear @lionelB @ivangabriele

[2019-07-26 08:49] UnbearableBear commented on #935
Ok je regarde comment combiner ça avec la partie indexation des CCN dans ES

[2019-07-26 09:47] lionelB commented on #935
on peut le faire ensemble, j'avais prévue de faire la partie indexatio :)

[2019-07-26 09:52] UnbearableBear commented on #935
Oui pourquoi pas ! Je débroussaille et quand j'arrive à la partie indexation on se fait un call ?

[2019-07-26 14:21] revolunet commented on #935
si on peut extraire notre référentiel ici : https://github.com/SocialGouv/kali-data

peut-être utilisé ensuite pour ingestion ES ou autre :)

[2019-07-29 06:53] ClementChapalain opened #1059 "Associer référence juridique aux outils"
L'objectif est de pouvoir simplifier la veille juridique sur les outils en étant alerté lorsque le droit évolue. Pour cela, il faut connaître la bonne référence juridique pour chaque outil, et chaque convention collective traitée.

To do :
- Lister les références pour les premiers outils créés : @ClementChapalain
- Comment stocker ces références ? dans une interface séparée ? dans le data-filler ?

[2019-07-29 06:55] ClementChapalain opened #1060 "Utiliser le nouveau fichier idcc siret pour la recherche de ccn"

[2019-07-29 06:55] ClementChapalain commented on #1060
est-ce que le fichier est prêt à être utilisé @revolunet ?

[2019-07-29 07:14] ClementChapalain opened #1061 "Créer un outil pour gérer les thèmes"
## Contexte et objectifs

Nous avions une première version des thèmes CDTN ici :
https://docs.google.com/spreadsheets/d/1CVRrR45QIlSzVeO_9V1TUXSqI1U9Bt5_KYWlcH9K2jI/edit#gid=1783422693

Nous en avons fait une deuxième ici en réduisant le nombre de thèmes (283->125), de niveaux dans l'arborescence (4->3) et en homogénéisant la précision des thèmes :
https://docs.google.com/spreadsheets/d/1BT5B9P8SF

[2019-07-29 07:38] ClementChapalain opened #1062 "Démarches fin de contrat"
Nouvel outil présentant les démarches de fin de contrat

[2019-07-29 07:50] ClementChapalain commented on #1021
j'ajoute le document de @jrduscher sur le sujet ici également :
https://docs.google.com/document/d/1ygLmn-ZYOwgMLfOrcVtGFWihxA9AsLfrHT8003zlmJU/edit

[2019-07-29 09:31] ClementChapalain opened #1063 "Intégrer les réponses validées des QR des SR dans le CDTN"
L'idée est de créer une page par question, avec :
- le contenu générique en première partie de page
- un sélecteur de convention collective qui permet de faire apparaitre la réponse personnalisée selon la CCN

To do :
- [x] indexer les questions et les réponses génériques (pas les réponses personnalisées CCN, car sinon on indexe du contenu qui n'est pas visible directement)
- [x] afficher sur une

[2019-07-29 09:32] ClementChapalain commented on #1063
ping @revolunet

[2019-07-29 09:37] ClementChapalain opened #1064 "Classification des CCNs dans les 13 thèmes"
Permettre de classifier le contenu des conventions collectives selon les 13 thèmes de la HDN qui indiquent la branche comme étant prioritaire pour les négociations.

Cela nous permettra d'afficher le contenu pertinent des conventions collectives aux utilisateurs.

Nouvelle fonctionnalité du data-filler.

On fait le point après avoir classifier quelques CCNs pour voir si la donnée obtenue est utili

[2019-07-29 10:01] June-law opened #1065 "Mise à jour calcul syntec"
Dans l'outil "Calculateur de l'indemnité de licenciement", il faut faire des modifications pour l'indemnité de licenciement dans la Syntec.
Pour le chargé d'enquête (intermittent et non intermittent), il ne faut plus demander l'ajustement de l'ancienneté.
Mais une fois que l'usager aura choisi la catégorie "chargé d'enquête intermittent" ou "chargé d'enquête non intermittent", faire apparaître un

[2019-07-29 10:10] June-law opened #1066 "Correction indemnité de licenciement Syntec"
duplicate