[2019-07-29 10:11] #1066 closed, assigned to nobody

[2019-07-29 10:16] June-law commented on #1065
Il faudrait aussi faire les corrections suivantes, sur la page "Catégorie" :
- appeler la page "Catégorie professionnelle"
- mettre le texte : "Quelle est votre catégorie professionnelle d'après la convention collective ? Vous pouvez la trouver sur votre bulletin de paie"
- écrire "Sélectionnez une catégorie professionnelle"

[2019-07-29 10:38] ArmandGiraud commented on #1042
see pr #1041

[2019-07-29 10:38] #1042 closed, assigned to lionelB

[2019-07-29 10:55] revolunet commented on #1060
Oui. on va devoir le croiser avec http://files.data.gouv.fr/insee-sirene/ pour avoir aussi le nom d'établissement comme c'est le cas actuellement. J'essaie de finaliser cette semaine.

[2019-07-29 11:21] revolunet commented on #1061
Faisable :
 - ajouter une liste "themes" au datafiller permettant de sélectionner les résultats à afficher et un texte édito
 - idem pour des collections

la seule différence serait qu'un contenu ne peut être référencé que dans un "thème" mais dans plusieurs "collections" ?

Une "collection" n'est-elle pas simplement là synthèse de plusieurs thèmes ?

J'ai peur que d'avoir deux notions soit confus

[2019-07-29 11:43] revolunet commented on #1064
Une première version est dispo sur le [datafiller](https://datafiller.num.social.gouv.fr)

Permet de classer chaque article des 20 principales CCN (par effectif) dans un ou plusieurs des **17 blocs de la HDN**.

Objectifs :
 - pouvoir extraire les articles pertinents des CCNs en fonction de la question utilisateur (restera à classifier/lier la question dans un des 17 thèmes). ce qui permettra de l

[2019-07-29 12:04] ClementChapalain commented on #1061
En fait une collection c'est un regroupement d'articles qui sont liés par un sujet comme particulier employeur par exemple : c'est pas une catégorie du droit du travail, mais c'est quelque chose qu'on peut trouver dans plein de catégories (embauche, contrat, salaire, licenciement, etc.).

On peut aussi imaginer des collections : jeunes travailleurs, maternité, canicule, etc.

Je suis d'accord sur

[2019-07-29 13:12] revolunet commented on #1063
faire un poc visuel en relation avec l'api d' @ivangabriele

[2019-07-29 13:38] revolunet commented on #1059
(utiliser les urls Legifrance)

[2019-07-29 13:50] revolunet commented on #1060
nb: ce fichier ne liste pas les établissements fermés

[2019-07-29 13:57] revolunet commented on #1063
v0 :

Côté ES, on n'indexe pour l'instant que la version générique (donc 1 question avec 50 réponses possibles).

Sur le frontend la réponse ne doit apparaitre qu'une seule fois dans les résultats de recherche.

Dans la page détail de cette réponse : afficher un filtre CCN (autocomplete) puis les réponses sur toutes les situations

[2019-07-29 13:58] revolunet commented on #1063
API : https://github.com/SocialGouv/code-du-travail-backoffice/pull/340

[2019-07-29 14:26] revolunet commented on #1036
A quoi correspondent Onglet 1 / Onglet 2 dans une fiche SP ?

[2019-07-29 14:30] ClementChapalain commented on #1036
aux onglets de premier niveau quand il y en a, par exemple sur cette fiche :
https://www.service-public.fr/particuliers/vosdroits/F2883

[2019-07-29 14:34] UnbearableBear commented on #1036
Pour l'instant elle sont de facto transformées en accordéon ce qui a le mérite d'etre un peu plus mobile friendly mais rien d'impossible je pense. Il faudra juste "scroll" horizontalement les tabs sur mobile :'(

[2019-07-29 14:38] UnbearableBear commented on #1036
Et en plus je dis des bêtises, c'est déjà des tabs ceux là !

[2019-07-29 14:45] jrduscher commented on #931
![image](https://user-images.githubusercontent.com/37538697/62057411-e8254e00-b21f-11e9-929d-bbc923f35f44.png)

![image](https://user-images.githubusercontent.com/37538697/62057444-f7a49700-b21f-11e9-9f50-8deab02e10cd.png)

En cas de licenciement disciplinaire:
le salarié a droit au versement de lindmeinté légale de licenciement. Aujourd'hui, le calculateur renvoie uniquement le wording.
-> Affich

[2019-07-29 14:47] jrduscher opened #1068 "IDL Bug report: Banque, et licenciement pour motif disciplinaire"
cf #931 .

image
![image](https://user-images.githubusercontent.com/37538697/62057858-b06ad600-b220-11e9-822d-eba126995f99.png)

image
![image](https://user-images.githubusercontent.com/37538697/62057885-beb8f200-b220-11e9-9922-3749d6daa035.png)

En cas de licenciement disciplinaire:
le salarié a droit au versement de indemnité légale de licenciement. Aujourd'hui, le calculateur renvoie uniquement

[2019-07-30 07:57] jrduscher opened #1069 "Ajout de la branche Commerce de gros dans l'IDL"
## Commerce de Gros.

### IDCC n°573
_**Edit:**_ tient compte de la fusion récente avec "convention collective Tissus, tapis et linge de maison: commerce de gros"

## Questions préalables

wording:" Préciser de quel champ d'activité votre entreprise dépend"
Choix.
- Commerce de gros
- Commerce des tissus, tapis et linge de maison.
- je ne sais pas

wording:" La convention collective vient récemmen

[2019-07-30 09:48] jrduscher opened #1070 "Ajout de la convention collective des établissements et services pour personnes inadaptées et handicapées dans l'IDL"
# Conventions Collectives Handicapés : établissements et services pour personnes inadaptées et handicapées
## IDCC: n°413

# Question préalable:

Catégorie professionnelle
Pouvez-vous préciser, si le salarié est cadre ou non cadre ()
choix 1 "cadres"
choix 2 "non-cadres"
choix 3 " je ne sais pas". Si je ne sais pas retenir "non cadre", afficher l'info utilisateur "Pour la suite du calcul, nous all

[2019-07-30 12:17] revolunet commented on #1060
l'API SIRENE va évoluer dans les 15 jours qui viennent, on attend leur nouvelle version pour la partie "recherche par nom"

[2019-07-30 12:19] revolunet commented on #1060
- recherche par siret : https://entreprise.data.gouv.fr/api/sirene/v1/siret/21340172201787/
 - recherche fulltext: https://entreprise.data.gouv.fr/api/sirene/v1/full_text/boulangerie%20pain%20des%20copains

[2019-07-30 12:19] jrduscher commented on #886
ADD IDCC n°1090

[2019-07-31 08:32] revolunet commented on #1060
Démo d'un widget avec API sirène : https://pmfxf.csb.app

 - permet de chercher par nom entreprise et CC, siret ou idcc
 - utilise les dernieres données siret2idcc
 - utilise l'[api sirene](https://entreprise.data.gouv.fr/api_doc_sirene) côté client ce qui permet de déléguer la recherche texte à nos amis de data.gouv

[2019-07-31 08:38] revolunet opened #1071 "[SDR] recherche de SDR"
**Description**
Dans la fenêtre "contacter les SDR" on propose à l'usager de retrouver les coordonnées des SDR de son département.
Problème : la liste n'est pas à jour, on a du excel, des liens web cassés et l'UX est améliorable.

La première chose à faire serait de monter un tableau des SDR avec leurs horaires/coordonnées. (pas de liste existante fiable à ma connaissance)

<img width="993" alt="C

[2019-07-31 08:40] UnbearableBear commented on #1060
Propre !! Dommage que la recherche ne soit faite que sur des nom complets (pas d'auto complétion)

[2019-07-31 09:14] Auremie opened #1072 "Bug report / Calculateur d'indemnités de licenciement"
**Description**
Problème calcul indemnités de licenciement navigateur Safari (résultat toujours = zero)

**Reproduction**
Etapes à suivre pour reproduire le bug
Procéder à une saisie d'informations basiques jusqu'au résultat

**Comportement attendu**
Des indemnités supérieures à 00€...

**Configuration**
  - Device: _ex: Macbook_
  - Navigateur: _ex: Safari_
  - Version du navigateur : __ #

[2019-07-31 09:14] revolunet commented on #1060
Je propose qu'on intègre cette première version et qu'on refasse une passe UX

[2019-07-31 09:26] revolunet commented on #1060
- voir comment gérer le cas 9999 (code "balai")
 - revoir le wording "Aucune CC connue pour cette entreprise"
 - si pas de CC connue, fallback sur code NAF ?
 - gestion des SIREN

[2019-07-31 10:06] revolunet opened #1073 "[fiche MT] qualité du HTML"
**Description**
Il semblerait que certains fiches aient un HTML douteux ou mal interprété de notre côté

ex: http://0233b48.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-ministere-travail/le-delegue-du-personnel-en-bref-les-attributions-des-delegues-du-personnel?q=Repr%C3%A9sentation%20du%20personnel%20et%20n%C3%A9gociation%20collective

<img width="765" alt="Capture d’écran 2019-07-

[2019-07-31 12:53] revolunet commented on #1063
ping @ivangabriele est-ce qu'on a ce qu'il faut côté API pour pouvoir grouper les réponses par question et filtrer par CC ?

[2019-07-31 14:10] revolunet commented on #1064
todo: remplir les données :)

[2019-07-31 14:35] ClementChapalain commented on #1061
Lien vers le figma :
https://www.figma.com/proto/kPX7UI7HcJ7l576ErfciGq/Administration?node-id=1%3A1213&viewport=42%2C-128%2C0.5230914950370789&scaling=min-zoom

Lien vers le tableau de classification des thèmes V2 :
https://docs.google.com/spreadsheets/d/1BT5B9P8SFxEkdYXfuBM4ydvDWKW9gQTIQdrU7V0D9FA/edit#gid=0

[2019-07-31 15:23] revolunet commented on #1060
incoming PR

[2019-07-31 15:49] revolunet opened #1076 "[wording] fiches MT"
quand on ouvre une fiche ministère du travail sur le CDTN, la mention qui apparaît est "fiche ministère du travail". Il faudrait ajouter des majuscules ainsi "Fiche Ministère du Travail" .

<img width="667" alt="Capture d’écran 2019-07-31 à 17 47 12" src="https://user-images.githubusercontent.com/124937/62227055-90bbe500-b3bb-11e9-9177-3606632324af.png">

[2019-08-01 10:43] revolunet opened #1080 "[tech] dataset/kali : use @socialgouv/kali-data"
Utiliser @socialgouv/kali-data dans dataset/kali

[2019-08-01 10:44] UnbearableBear commented on #1080
Je suis déjà dessus !

[2019-08-01 14:27] revolunet opened #1082 "[UI] FOOC at initial load"
**Description**
Petit flash intempestif au chargement initial probablement dû à l'ordre de chargement des CSS

[2019-08-01 14:51] revolunet opened #1083 "[refacto] data indexation"
Avec l'utilisation de datasets npm versionnés et/ou du JSON, on devrait passer pour simplifier à une indexation des datas ES en JS.

Toutes les sources sont un simple dump des fichiers JSON dans `dataset`, sauf les fiches ministère travail qui ont un traitement particulier

Il faudra faire attention aux changements de slug et l'intégration dans la CI

[2019-08-05 07:59] ClementChapalain commented on #1016
done :
https://docs.google.com/spreadsheets/d/1BT5B9P8SFxEkdYXfuBM4ydvDWKW9gQTIQdrU7V0D9FA/edit#gid=0

👏 @jrduscher @virginielastisneres

[2019-08-05 07:59] #1016 closed, assigned to ClementChapalain, jrduscher, virginielastisneres

[2019-08-05 10:05] ArmandGiraud opened #1087 "Autosuggest include all indexed documents/tools in another box"
**Fonctionnalité**
ajouter les questions du datafiller, fiches, et outil de contrib et articles dans les suggestions
sur le mode **"accès directs"** fourni par service public:
 ![image](https://i.imgur.com/IXNxXtu.png)

ajouter listes numéros articles CDTN dans différentes expressions style (Article )?[LRD][\.\s-](\d+) ?

**Problème**
les features principales du site ne sont pas suggérées..

**Sol

[2019-08-05 10:25] jrduscher commented on #368
## Commun : Interface – page 1 :
### Affichage d’une information de présentation :
« Des modèles de lettre de licenciement ont été prévues par un décret dans le sillage de l’ordonnance de 2017 portant sur la prévisibilité et la sécurisation des relations de travail.  L’utilisation de ces modèles est indicative.
Cet outil vous aidera dans la rédaction des lettres de notification de licenciement. »

[2019-08-05 10:36] jrduscher commented on #368
https://docs.google.com/spreadsheets/d/1twdaPs-2TvuUwBh4GrrQynVoRGIjQ60NjAnxXRPKEiM/edit#gid=0

[2019-08-05 15:03] jrduscher opened #1088 "[Bug]Indemnité de licenciement (wording à changer)"
**Description**

wording à modifier

![image](https://user-images.githubusercontent.com/37538697/62474288-dc4b0600-b7a2-11e9-95f2-1dc246f854a8.png)

Les congés maternité, arrêts de travail liés à une maladie professionnelle, --> changer par congés maternité, arrêts de travail liée à un accident de travail ou une maladie professionnelle.

[2019-08-06 12:51] jrduscher commented on #1059
Tableau avec les références juridiques pour les outils:

https://docs.google.com/spreadsheets/d/1FVzGw_UdX_mMTdwq0RWeUjyo_YpdyyXJtQBgCkzH6Zs/edit#gid=0

[2019-08-08 08:28] lionelB commented on #1062
on pourrait imaginer ca sous la forme d'une checklist ?

[2019-08-08 08:33] lionelB commented on #1071
je vais regarder dans l'annuaire si on a des choses exploitables

[2019-08-08 08:35] lionelB commented on #1073
je pense que c'est parce qu'on affiche pas le "en bref"

[2019-08-08 08:35] lionelB commented on #1073
wrong button -_-

[2019-08-08 08:41] lionelB commented on #1061
je ne vois pas de différence entre theme et collection
les 2 regroupes des articles. la seule différence est qu'on va utiliser les themes pour afficher une arborescence

[2019-08-09 16:46] lionelB opened #1090 "update slugs in datafiller"
I'm working on a PR to migrate the python code to js. in order to do that I had to rewrite a custom slugify function that match the python one.
- some fiche-ministere have their title updated
- some themes had a wrong char in the slug (like a `,`)

So this issue is here to not forget to verify that we have corrects slugs

poke @ArmandGiraud @revolunet

[2019-08-12 11:32] ClementChapalain commented on #1064
:rocket:

[2019-08-12 11:32] #1064 closed, assigned to revolunet

[2019-08-12 11:38] ClementChapalain commented on #1071
sinon on peut aussi le virer complètement sachant que le numéro unique est suffisant

tu en penses quoi @jrduscher ?

[2019-08-12 11:43] ClementChapalain commented on #1076
pas de majuscule à Ministère en revanche :)
https://www.gouvernement.fr/le-ministere-du-travail

[2019-08-12 11:46] ClementChapalain commented on #1087
C'est à faire de votre côté ou par les devs front @ArmandGiraud ?

[2019-08-12 11:49] ClementChapalain commented on #1059
on ferme cette tâche vu que le travail est fait côté métier, désormais discussion à avoir sur comment gérer ces références. je prends le sujet pour cadrage :).

[2019-08-12 11:49] #1059 closed, assigned to nobody

[2019-08-12 11:51] ClementChapalain commented on #1062
@virginielastisneres et @auremie ont commencé à bosser dessus, on vous présentera les réflexions dans les prochains jours pour discussion !

[2019-08-12 11:57] ClementChapalain opened #1097 "Outil sur la rupture conventionnelle"
wip par @j-r

[2019-08-12 11:57] ArmandGiraud commented on #1087
Un peu des deux. De notre côté on doit inclure le contenu dans le module. Mais je pense qu’il y a un peu de travail niveau front pour qu’on puisse distinguer une suggestion normale d’un “accès direct” vers le  contenu suggéré.

[2019-08-12 12:18] lionelB commented on #1083
related https://github.com/SocialGouv/code-du-travail-numerique/issues/1090

[2019-08-12 12:51] #1065 closed, assigned to UnbearableBear

[2019-08-12 12:51] #1072 closed, assigned to UnbearableBear

[2019-08-12 12:51] #1088 closed, assigned to UnbearableBear

[2019-08-22 07:17] #1082 closed, assigned to UnbearableBear

[2019-08-22 07:17] #1073 closed, assigned to UnbearableBear

[2019-08-22 07:17] #1076 closed, assigned to UnbearableBear

[2019-08-23 13:51] #1083 closed, assigned to lionelB

[2019-08-26 10:33] ClementChapalain commented on #1090
je vois une PR closed, est-ce que cette tâche est terminée du coup @lionelB ?

[2019-08-26 10:44] ClementChapalain commented on #1060
on est en où sur cette tâche @revolunet ?

[2019-08-26 11:26] revolunet commented on #1060
Pour moi c'est prêt dans la PR #1077 - un déploiement de test arrive dans quelques minutes

[2019-08-26 13:01] ClementChapalain opened #1186 "Page glossaire"
### Objectif

Aider les usagers à comprendre les termes importants relatifs au droit du travail difficilement traduisible en français facile.

### Source

Voir la feuille export 2019.08.28 dans le fichier suivant :
https://docs.google.com/spreadsheets/d/1WrmotMiu4kBxRTKW47Q3CzNjxc0GycfAilSHcXH_hfA/edit#gid=2056936159

### Administration

- créer une nouvelle interface dans le data filler avec pour

[2019-08-26 16:13] lionelB commented on #1090
nope c'est un reminder pour qu'en on utilisera la meme fonction de slugification (pour l'instant c'est partagé entre une lib et une fonction maison) car il faudra vérifier qu'on a toujours les meme slugs

[2019-08-27 08:35] douglasduteil opened #1195 "debt(ui): @ctdn/frontend is not using es6 modules @ctdn/ui endpoint"
Following #1194

We should investigate this to ensure that at least the tree shaking is working properly !

[2019-08-27 08:39] lionelB commented on #1195
we should also investigate the UI bundle, since it embed some babel helpers multiple times (_extends x12, )

[2019-08-27 08:55] douglasduteil opened #1197 "debt(ui): @ctdt/ui bundles seems big"
\from @lionelB
Following #1195

We should also investigate the UI bundle, since it embed some babel helpers multiple times (_extends x12, )

[2019-08-27 13:03] June-law opened #1200 "Page CC : onglet résumé / synthèse de la CC"
**Fonctionnalité**
Il serait utile d'avoir pour les CC traitées dans les contributions un endroit qui présente ensemble les questions traitées dans les contributions.

**Description**
L'idée serait de créer un onglet "L'essentiel" ou "Synthèse" dans la page dédiée à la CC. Cet onglet reprendrait les contributions qui ont des réponses pertinentes (ne pas reproduire les questions qui ont comme répon

[2019-08-28 09:53] lionelB opened #1202 "utiliser le routing next9 et supprimer next-router"

[2019-08-29 09:17] #1014 closed, assigned to lionelB

[2019-08-29 14:30] #935 closed, assigned to lionelB

[2019-08-29 14:30] #1080 closed, assigned to lionelB

[2019-08-30 09:44] lionelB commented on #1061
added to datafiller

[2019-08-30 09:44] #1061 closed, assigned to revolunet

[2019-08-30 13:27] ClementChapalain commented on #1186
@revolunet @lionelB j'ai mis à jour les specs

[2019-09-02 08:16] lionelB commented on #1035
ca serait top d'avoir la version mobile
De manière générale, à chaque fois qu'on doit intégrer une page, avoir la version mini ca aide bien et permet de gagner un peu de temps

[2019-09-02 12:53] revolunet commented on #1063
<img width="1056" alt="Capture d’écran 2019-09-02 à 14 52 24" src="https://user-images.githubusercontent.com/124937/64115967-4f8b6c00-cd91-11e9-8f1a-21e489115c17.png">

[2019-09-02 14:51] lionelB commented on #1063
ca correspond à quoi les onglets dans le réponses ?

[2019-09-02 15:05] ClementChapalain commented on #1063
C'est lorsqu'on a beaucoup de contenu qui est catégorisé, par exemple par contrat. On affichera des onglets pour chaque contrat dans ce cas.

Côté outil de contribution, on a vu avec nadia pour qu'elle fasse un formatting avec des balises pour que ce soit simplement parsable par le dront.

[2019-09-05 07:47] revolunet opened #1230 "[CI]: dont deploy when indexing failed"
S'assurer que les index ES existent bien avant de déployer :)

[2019-09-06 07:43] jrduscher opened #1232 "L'accès aux modèles ne fonctionne pas"
Dans la version prod du site, l'accès au modèles de courriers ne fonctionne pas ( fonctionne dans la dev):

![image](https://user-images.githubusercontent.com/37538697/64410122-9d9eb900-d08a-11e9-965b-7ffe02832a5c.png)

[2019-09-06 10:03] jrduscher commented on #1097
dossier données métiers pour specs: https://docs.google.com/document/d/1TW8j2apn06OyKsJ30AFjFJ359ImNPupkwB_cbnfHzSo/edit#
synthèse destinée à entamer la phase design: https://docs.google.com/document/d/13IMqCQuJGMp46J9JXFiyh6Y-HT9oxQceHm8yNbQ6mYg/edit
modèle de courrier (droit de rétractation- rupture conventionnelle): https://docs.google.com/document/d/1UcbPqfuuwlGgFIe_VM1EZzsNeDWgGRsLWmNzhSWRkMY

[2019-09-09 09:52] revolunet opened #1240 "[search CCN] recherche par IDCC"
Search CC : La recherche par IDCC n'est plus fonctionnelle

[2019-09-09 10:08] revolunet commented on #1230
Also, we should ensure `wait-for-elasticsearch` is finished before deploying update

[2019-09-09 12:15] ClementChapalain opened #1241 "Intégrer le droit conventionnel dans le calculateur d'indemnités de précarité"

[2019-09-09 12:18] ClementChapalain opened #1242 "Exploration salaire minimum dans les conventions collectives"
Prendre des conventions collectives et voir si l'information du minimum salarial est :
- trouvable
- compréhensible
- actionnable

[2019-09-09 13:37] revolunet commented on #1063
https://codesandbox.io/s/reponse-contrib-demo-35zon

[2019-09-09 14:37] revolunet commented on #1240
en fait si (master)....

[2019-09-09 14:37] #1240 closed, assigned to revolunet

[2019-09-09 15:27] #1202 closed, assigned to nobody

[2019-09-09 17:25] virginielastisneres opened #1244 "[Fiche MT] ajouter des fiches manquantes"
Fiches MT à ajouter (il faudrait peut être faire une repasse pour voir s'il n'en manque pas plus) :
- https://travail-emploi.gouv.fr/dialogue-social/le-comite-social-et-economique/article/cse-information-et-consultation
- https://travail-emploi.gouv.fr/dialogue-social/le-comite-social-et-economique/article/cse-definition-cadre-et-calendrier-de-mise-en-place
- https://travail-emploi.gouv.fr/dialogu

[2019-09-09 17:28] virginielastisneres commented on #1244
2 autres :)
- https://travail-emploi.gouv.fr/dialogue-social/le-comite-social-et-economique/article/conseil-d-entreprise
- https://travail-emploi.gouv.fr/dialogue-social/le-comite-social-et-economique/certification-mandates

[2019-09-12 09:08] revolunet commented on #1232
Ok sur http://master.code-du-travail-numerique.dev.factory.social.gouv.fr

[2019-09-12 10:09] ClementChapalain opened #1249 "Nouvelle organisation de la page recherche"
3 sections :
- 1 section avec fiches + outils + contributions
- 1 section avec articles du CDT
- 1 section avec les thèmes

cartes :
- Les cartes pour les fiches, contributions et articles CDT doivent faire apparaitre les premiers mots du contenu
- Les cartes outil doivent être visuellement différentes des cartes contenu + contributions

[2019-09-12 10:33] revolunet commented on #1200
On pourrait retrouver au même endroit les blocs extraits par Florent

[2019-09-12 16:21] jrduscher commented on #1232
![image](https://user-images.githubusercontent.com/37538697/64802078-284f4e80-d58a-11e9-945b-e6977c5b52c4.png)

[2019-09-13 08:32] jrduscher opened #1252 "Heures pour recherches d'emploi"
## Repasse métier nécessaire: // Edit 20/12/2019: .
L'issue est un peu ancienne. une passe métier est nécessaire:
1) sur les données du data_simulateur :
- [x] Liens articles,
- [x] Validation des données sachant que le fichier de paramètrage a changé,
- [x] Validité juridique (par précaution): vérifier bons critères et  bonne réponse

2) sur l'issue en elle même:
-  [x] Revue du  parcours user da

[2019-09-13 10:03] revolunet commented on #1232
refixed, instabilités sur notre plateforme cette semaine

http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/modeles-de-courriers/modele-de-certificat-de-travail?q=modele

[2019-09-13 15:41] revolunet commented on #1230
We should add something like this before deploying

[code]

[2019-09-13 15:43] #82 closed, assigned to nobody

[2019-09-13 15:44] #81 closed, assigned to revolunet

[2019-09-13 15:49] jrduscher opened #1254 "Intégration de la liste des conseillers du salarié et des défenseurs syndicaux"
Permettre à l'usager en complément de sa question entretien et procédure de licenciement, de trouver un conseiller du salarié, et en cas de contestation aux prud'dhommes un défenseur syndical.

Listes de liens renvoyant vers des pages dédiés en DIRECCTE et DIECCTE :
https://docs.google.com/spreadsheets/d/1GK_3RxuiWlvtSXmn0NJxGBY6_vqHA_mTnDdb-mG5Y5o/edit#gid=0

Interface: choisir conseiller du sala

[2019-09-16 08:52] lionelB commented on #1060
je close car la PR #1077 a été mergée

[2019-09-16 08:52] #1060 closed, assigned to revolunet

[2019-09-17 07:49] lionelB commented on #1186
@ClementChapalain  l'interaction du popover se fait au click / focus / mouseHover ?

[2019-09-17 07:50] ClementChapalain commented on #1186
je suis pas sur de voir la différence entre focus et mousehover ? mais pour moi c'est "quand on passe la souris sur l'élément" :)

[2019-09-17 08:21] lionelB commented on #1186
focus c'est le rectangle bleu qui se déplace au click / tab

[2019-09-17 08:21] ClementChapalain commented on #1186
ok du coup mouse hover

[2019-09-17 08:28] ClementChapalain commented on #1186
quelques remarques sur le glossaire :
- indemnité de la sécurité sociale" > guillemets en trop
- ce mot ne devrait pas être dans le glossaire : Exemples des données présentes : emploi, rémunérations, conditions de travail, formation des salariés."

[2019-09-17 08:31] ClementChapalain opened #1271 "Changer le domaine principal pour code.travail.gouv.fr"
changer notre domaine principal pour code.travail.gouv.fr et prévoir les redirections depuis codedutravail.num.social.gouv.fr vers code.travail.gouv.fr

[2019-09-17 08:35] UnbearableBear commented on #1186
Mouse hover ça veut dire que si quelqu'un ne peut pas utiliser de souris et qu'il navigue au clavier (et donc via tabulation et donc focus uniquement), il n'aura jamais les tooltip ?

[2019-09-17 08:36] ClementChapalain commented on #1186
oui bien vu, vous pensez qu'il faut mettre au focus aussi ?

[2019-09-17 08:38] virginielastisneres commented on #1186
@lionelB Je commence à regarder le Glossaire :) Encore super comme travail.
Première remarque : il y a un soucis dans l'ordre des mots dans les lettres alphabétiques. Ils sont de Z à A, il faudrait les mettre de A à Z. Est-ce possible Lionel ? :) :)
![image](https://user-images.githubusercontent.com/48682104/65025610-5391bf00-d937-11e9-9d8d-e3752690e5d1.png)

[2019-09-17 08:58] virginielastisneres commented on #1186
autre petite remarque : Lionel pourrais-tu prendre en compte dans le markdown présent dans le datafiller ? :)
Exemple : Pour les exemples, cela serait bien qu'ils soient séparer un peu de la définition comme dans le datafiller (revenir à la ligne et saut de ligne)
![image](https://user-images.githubusercontent.com/48682104/65027047-f64b3d00-d939-11e9-9928-d26ac025e4ab.png)
![image](https://user-im

[2019-09-17 09:12] virginielastisneres commented on #1241
**Rappel du contexte**
Nous avons à l'heure actuelle un outil de calcul de l'indemnité de précarité légale.
Il peut arriver que des conventions collectives prévoient d'octroyer une indemnité de précarité, parfois dénommée autrement, à certains contrats qui n'y ont pas le droit selon le code du travail.
A l'inverse, il pourrait arriver également qu'une convention collective étendue puisse réduire l

[2019-09-17 12:08] virginielastisneres commented on #1241
**Comprendre les specs**
Les specs se présentent ainsi :
![image](https://user-images.githubusercontent.com/48682104/65028580-90ac8000-d93c-11e9-87f5-323a4d26b49b.png)

- colonne idcc et convention collective qui permet de savoir de quelle convention collective on parle
- colonne disposition conventionnelle qui permet de savoir s'il existe ou non des dispositions conventionnelles qui traitent de l

[2019-09-17 15:51] virginielastisneres commented on #1186
@lionelB pourrais-tu supprimer les colonnes variantes et abréviations stp :).

[2019-09-17 16:05] virginielastisneres commented on #1186
pour les références est-il possible d'affiche la source et non son lien ?
Je m'explique :
- pour la référence dans accident du travail au lieu d'avoir le lien pourrait-on avoir "Source : Article L. 411-1 du Code de la sécurité sociale"
- pour la référence dans astreinte avoir "Source : Article L 3121-9 du Code du travail"

De plus, je vais devoir rajouter dans le datafiller les liens source des dé

[2019-09-18 13:14] virginielastisneres opened #1276 "Améliorer l'accompagnement de l'usager dans l'utilisation des outils"
**Problème**
Nous commençons à avoir quelques outils en ligne. On se rend compte que l'on accompagne pas toujours l'usager dans l'utilisation de l'outil notamment dans la compréhension des termes un peu technique (CDD d'usage, avantages en nature) ou la recherche d'informations obligatoires pour lesquelles l'usager ne sait pas forcément où aller chercher (salaire mensuel brut).

**Solution**
Améli

[2019-09-18 13:22] jrduscher opened #1277 "Bug: Erreur 500, accès à page convention collective depuis accueil"
Erreur 500, quand on cherche sa convention collective depuis la tuile "Votre convention collective: erreur 500 après la modall. (dev et prod)
La recherche d'une CCN depuis le champ de recherche ne pose pas de soucis.

[2019-09-18 13:30] lionelB commented on #1277
resolu sur http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/

[2019-09-18 13:30] #1277 closed, assigned to nobody

[2019-09-18 14:17] ClementChapalain opened #1279 "Le moteur de recherche sémantique est intégré au CDTN"

[2019-09-18 14:19] ClementChapalain opened #1280 "Ajouter de la navigation depuis les pages contenus entre les contenus associés"
La page contenu doit montrer deux colonnes : une première avec le contenu et une deuxième avec les contenus associés.

![image](https://user-images.githubusercontent.com/5337489/65512649-edc6a980-ded9-11e9-8faa-d355bd37cece.png)

To do :
- colonne contenu
  - supprimer l'icone dans le contenu
  - réduire les marges
- colonne contenu associés
  - nouvelle colonne de min 1/4 de l'écran
  - cette col

[2019-09-18 14:22] ClementChapalain opened #1281 "Nouveau header"
2 choses à faire :
- la recherche doit se trouver dans le header en réduit sauf sur la page d'accueil
- ajouter un lien vers la page à propos

Proposition ui :
![image](https://user-images.githubusercontent.com/5337489/65512508-a4765a00-ded9-11e9-865a-2de297aa714e.png)

Intégration à valider avec @auremie

[2019-09-18 14:23] ClementChapalain opened #1282 "Renommer calculateur indemnités de licenciement -> simulateur indemnités de licenciement"

[2019-09-18 14:29] ClementChapalain opened #1283 "Enlever les "réponses" du CDTN"
et les exporter afin qu'on puisse les importer depuis l'outil de contribution

[2019-09-18 14:38] lionelB commented on #1282
pourquoi ? je pensais que simulateur était plus parlant justement

[2019-09-18 14:39] ClementChapalain commented on #1282
n'importe quoi, c'est l'inverse effectivement, je corrige :)

[2019-09-19 14:39] #1279 closed, assigned to nobody

[2019-09-19 15:20] #1282 closed, assigned to nobody

[2019-09-19 16:32] revolunet commented on #570
petite maj :
 - doc des données utilisées ici : https://github.com/SocialGouv/code-du-travail-numerique/tree/master/packages/code-du-travail-data/
 - un dump en JSON est produit dans la CI

[2019-09-19 16:56] #1186 closed, assigned to lionelB

[2019-09-20 09:13] jrduscher opened #1289 "Durée du préavis de licenciement"
## Contexte

**Données**
https://docs.google.com/spreadsheets/d/1zd_hShEui8BHK0349GpDUZRkCcQ9syIZ9gSrkYKRdo0/edit#gid=227376301

**Objectif**
Permet à l'user de connaitre la durée du préavis prévue par rapport à sa situation et au regard de ce que prévoit le code du travail d'une part et les données conventionnelles.

**Titre de l'outil**
Simulateur de durée de préavis de licenciement

**Descripti

[2019-09-20 12:02] lionelB opened #1292 "Utiliser les alias elastic search pour la mise à jour des données"
- utiliser les alias d'index
- éviter de déployer un noeud elastic search à chaque déploiement (or monter de version)

[2019-09-20 13:07] ClementChapalain opened #1294 "Fiches MT : splitter ou non ?"

[2019-09-20 13:09] ClementChapalain opened #1295 "Revoir le design de la homepage"
Revoir le design général de la homepage en organisant les blocs de la manière suivante :

### Titre

- Titre = "Bienvenue sur le Code du travail numérique"
- Promesse = "Vous cherchez une information sur le droit du travail ? Vous avez besoin d’accompagnement ? Nous vous proposons des réponses accessibles et personnalisées selon votre situation."
- Supprimer "le droit du travail c'est quoi ?"
- Re

[2019-09-20 13:28] virginielastisneres opened #1296 "Bug sur fiche service public F40 expression manquante"
Dans le code du travail numérique, sur la fiche service public suivante : https://codedutravail.num.social.gouv.fr/fiche-service-public/fin-dun-contrat-a-duree-determinee-cdd **l'expression "prime de précarité" est manquante**.

Cf. la photo de la fiche service public sur le code du travail numérique VS la fiche sur service-public.fr

![image](https://user-images.githubusercontent.com/48682104/653

[2019-09-20 13:31] UnbearableBear commented on #1296
Bien vu, surement un balise non prise en compte encore ou une typo de leur part

[2019-09-23 08:50] UnbearableBear commented on #1296
Note à moi même, cette structure là n'est pas parsée correctement:
[code]

[2019-09-23 14:38] ClementChapalain opened #1303 "Regression UI page droit du travail"
![image](https://user-images.githubusercontent.com/5337489/65435311-9b758200-de20-11e9-931d-89cbfe8b4d62.png)

[2019-09-23 14:46] ClementChapalain opened #1304 "Ajouter le simulateur de durée de préavis de démission dans la HP"
Pour la homepage : ajouter le simulateur dans la liste des outils

[2019-09-23 14:50] ClementChapalain opened #1305 "Glossaire : bug pour certains mots dans l'highlight"
http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-service-public/a-quoi-correspond-le-code-ape?q=

![image](https://user-images.githubusercontent.com/5337489/65436284-3753bd80-de22-11e9-94c9-74d91e0805fd.png)

[2019-09-23 16:00] revolunet commented on #1283
reutiliser l'url `/question/` pour les contributions (en cours dans #1293)

[2019-09-23 16:27] ClementChapalain opened #1307 "Formaliser et appliquer un guide de durcissement pour les containers"

[2019-09-23 16:45] ClementChapalain opened #1308 "Améliorations page de modèle de courrier"
Ces pages sont de loin les plus visitées du site, généralement par une entrée directe via les moteurs de recherche. Nous souhaitons les améliorer, notamment afin de permettre aux usagers de poursuivre leur navigation sur notre site pour consulter d'autres contenus.

To do :
- Ajouter le module sur la droite avec les contenus associés
- Retirer la mention "Modèles de courrier fournis par vos servic

[2019-09-24 09:15] virginielastisneres commented on #1241
**SPEC PAGE D'ACCUEIL DE L'OUTILl**

- Changer le wording

"Ce simulateur est un outil qui permet d’estimer le montant de l’indemnité de fin de contrat ou de fin de mission (dite “prime de précarité”) d’un salarié en CDD ou en contrat d’intérim.

Vous pourrez simuler simplement le montant de la prime de précarité définie par le Code du travail avec la prise en compte des particularités présentes d

[2019-09-24 09:21] virginielastisneres commented on #1241
### **PARCOURS IDCC 1486 (1)**
[parcours conventions-1.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3646373/parcours.conventions-1.pdf)

### **PAGE DE FIN**
![image](https://user-images.githubusercontent.com/48682104/65498888-fceb2e80-debc-11e9-94d6-7a22df141eea.png)

**Supprimer le paragraphe de fin**
“Attention : l’estimation est basée sur le montant de la prime de précarit

[2019-09-24 09:27] virginielastisneres commented on #1241
### **PARCOURS IDCC 1486 (2)**
[parcours conventions-2.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3646407/parcours.conventions-2.pdf)

### **PAGE DE FIN**
![image](https://user-images.githubusercontent.com/48682104/65499686-4daf5700-debe-11e9-97d8-82a899bbd7d2.png)

**Supprimer le paragraphe de fin**
“Attention : l’estimation est basée sur le montant de la prime de précarit

[2019-09-24 09:29] virginielastisneres commented on #1241
### **PARCOURS IDCC 1516**
[parcours conventions-3.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3646416/parcours.conventions-3.pdf)

### **PAGE DE FIN**
![image](https://user-images.githubusercontent.com/48682104/65499853-9535e300-debe-11e9-8fdb-d5b657012f13.png)

**Supprimer le paragraphe de fin**
“Attention : l’estimation est basée sur le montant de la prime de précarité pr

[2019-09-24 09:31] virginielastisneres commented on #1241
### **PARCOURS IDCC 2098 (1)**
[parcours conventions-4.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3646422/parcours.conventions-4.pdf)

### **PAGE DE FIN**
![image](https://user-images.githubusercontent.com/48682104/65499981-d62df780-debe-11e9-94fe-69ca77d6ca67.png)

**Supprimer le paragraphe de fin**
“Attention : l’estimation est basée sur le montant de la prime de précarit

[2019-09-24 09:32] virginielastisneres commented on #1241
### **PARCOURS IDCC 2098 (2)**
[parcours conventions-5.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3646426/parcours.conventions-5.pdf)

### **PAGE DE FIN**
![image](https://user-images.githubusercontent.com/48682104/65500067-f78ee380-debe-11e9-9134-1afb8db9a79f.png)

**Supprimer le paragraphe de fin**
“Attention : l’estimation est basée sur le montant de la prime de précarit

[2019-09-24 09:33] virginielastisneres commented on #1241
### **PARCOURS IDCC 2511**
[parcours conventions-6.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3646433/parcours.conventions-6.pdf)

### **PAGE DE FIN**
![image](https://user-images.githubusercontent.com/48682104/65500163-286f1880-debf-11e9-931f-f69888bbf2f8.png)

**Supprimer le paragraphe de fin**
“Attention : l’estimation est basée sur le montant de la prime de précarité pr

[2019-09-24 09:34] virginielastisneres commented on #1241
### **PARCOURS IDCC 3127**
[parcours conventions-7.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3646446/parcours.conventions-7.pdf)

### **PAGE DE FIN**
![image](https://user-images.githubusercontent.com/48682104/65500257-505e7c00-debf-11e9-9ce7-9a53127541eb.png)

**Supprimer le paragraphe de fin**
“Attention : l’estimation est basée sur le montant de la prime de précarité pr

[2019-09-24 13:12] ClementChapalain opened #1314 "Mettre à jour le data-filler"
Mise à jour en ajoutant le simulateur de préavis de demission

[2019-09-24 13:59] revolunet commented on #1304
Dans la liste de résultats ne faudrait-il pas préciser "démission" ?

<img width="731" alt="Capture d’écran 2019-09-24 à 15 55 31" src="https://user-images.githubusercontent.com/124937/65518177-24a1bd00-dee4-11e9-9d29-49363a1f127e.png">

[2019-09-24 14:08] ClementChapalain commented on #1304
si !

[2019-09-24 15:42] nkrmr commented on #1304
Ok je m'en occupe

[2019-09-24 16:21] lionelB opened #1317 "Utiliser les nouvelles fonction Elasticsearch pour faire de la recherche semantic"
travail en cours sur la PR #1309

[2019-09-24 16:22] lionelB opened #1318 "Utiliser des index elasticsearch temporaire et utiliser des alias en fin d'indexation"
afin d'eviter d'avoir des période de down time

[2019-09-24 16:32] lionelB opened #1319 "Orchester le déploiement des containers k8s"
on a aucun controle sur le déploiement des services.
Ex le service d'indexation (data) est lancé avant que le container ES soit mis à jour, celui est changé au milieu de la procédure d'indexation ce qui fait qu'on a aucun index

TODO
- renvoyer un code d'erreur lorsque data rencontre une erreur (ES not available)
- crée un index de test pour signaler la fin de l'indexation et pointer une readyness

[2019-09-25 09:04] jrduscher commented on #1294
décisions au cas par cas ici: [WIP]https://docs.google.com/spreadsheets/d/1PD_dOdbbmV_RoAaGbjjmiwe9pfEdwoutTnR4E5bCZSs/edit#gid=0

[2019-09-25 09:37] renovate[bot] opened #1322 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `.github/renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: enable`

[2019-09-25 10:07] nkrmr commented on #1304
J'ai ajouté "de démission" dans la liste de résultat.
<img width="763" alt="Screenshot 2019-09-25 at 12 06 30" src="https://user-images.githubusercontent.com/686395/65591564-08a62600-df8d-11e9-804c-a81af62e1b85.png">

[2019-09-25 10:16] nkrmr commented on #1304
@ClementChapalain concernant le positionnement et le picto j'aurai besoin d'un peu plus d'information.
Actuellement je l'ai positionné en juste après l'autre simulateur, est-ce que cela te convient?
J'ai réutilisé le même picto que sur le résultat de recherche, est-ce que je conserve celui-là ou bien j'utilise le même que l'autre simulateur?
<img width="1182" alt="Screenshot 2019-09-25 at 12 08 00

[2019-09-25 12:37] ClementChapalain opened #1323 "Faire une passe sur le repo github et enlever les élements sensibles"

[2019-09-25 13:21] #1303 closed, assigned to UnbearableBear

[2019-09-25 13:22] ClementChapalain commented on #1304
C'est top comme ça (le positionnement et le picto) :) on va modifier ça dans la tâche #1295 donc pas besoin de se prendre la tête

D'ailleurs si tu veux prendre la #1295 on peut faire un point.

[2019-09-25 13:28] nkrmr commented on #1304
Ok j'envoie la PR comme ça.
Yes je peux prendre la #1295

[2019-09-25 14:25] #1304 closed, assigned to nkrmr

[2019-09-25 22:20] #1232 closed, assigned to nobody

[2019-09-26 07:57] ClementChapalain opened #1331 "Bandeau pour prévenir de l'utilisation de cookies"
Depuis https://www.cnil.fr/fr/exemple-de-bandeau-cookie

Wording : "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour établir des mesures de fréquentation et d’utilisation du site"

Lien "en savoir plus" redirigeant vers la page http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/mentions-legales (si possible ouverte au niveau de `Utilisation d

[2019-09-26 08:07] ClementChapalain opened #1332 "Change contact email address"
codedutravail@beta.gouv.fr -> codedutravailnumerique@travail.gouv.fr

à changer aux endroits suivants :
- contact dans le footer
- mentions légales -> modalités d'utilisation

[2019-09-26 08:11] ClementChapalain commented on #1280
@auremie pour la version mobile on met la navigation vers les autres contenus en dessous du contenu ?

[2019-09-26 09:00] revolunet commented on #1307
Actions en cours :
 - ✅ ajout de références best practices [sur le wiki](https://github.com/SocialGouv/socialgouv.github.io/wiki/%5Bdev%5D-Security-Best-practices).
 - ✅ ajout d'un linter [hadolint](https://github.com/hadolint/hadolint) dans la CI
 - ✅ ajout du inter ShellCheck
 - ✅ ajout du scanner [SNYK](https://snyk.io)

[2019-09-26 13:47] June-law opened #1337 "Ouvrir les textes code du travail et CC dans un nouvel onglet (contributions)"
Sur la page des contributions, quand on clique sur un article du code du travail ou sur la CC, le nouvel écran ne s'ouvre pas dans un nouvel onglet.
Il faudrait faire en sorte que dans ces cas, le texte du code du travail ou de la CC (ou un arrêt de la Cour de cassation) s'ouvre dans un nouvel onglet.
Ce devrait être la même chose pour le site (outils, modèles, fiches, etc. ), et pas seulement pou

[2019-09-26 13:57] lionelB commented on #1337
C'est plutôt une mauvaise pratique de forcer l'ouverture de liens dans une nouvel onglet. Si ca t'intéresse, il y a quelques liens à ce sujet
- https://css-tricks.com/use-target_blank/ [en]
- http://www.laurentbourrelly.com/blog/628.php [fr]

pour les outils c'est par contre envisageable tant qu'on ne peux pas sauvegarder l'état du formulaire. vu que ca implique de perdre l'état d'avancement.

[2019-09-26 14:00] UnbearableBear commented on #1337
+1 pour le commentaire de Lionel

[2019-09-26 14:11] virginielastisneres commented on #1241
new tableau @lionelB que l'on a revu avec Clément. Peux-tu nous dire si cela te convient ?
https://docs.google.com/spreadsheets/d/1SCFHUDjsWWRdVhYP5cVz2Q3AqPa-ubOYsEc3C3kRKOA/edit#gid=1991895535

[2019-09-26 14:12] #1319 closed, assigned to lionelB

[2019-09-26 17:21] #1305 closed, assigned to lionelB

[2019-09-27 10:19] #1283 closed, assigned to nkrmr

[2019-09-30 09:37] UnbearableBear commented on #1280
On affiche les articles "voisins", par rapport à l'arborescence de thèmes ? Que se passe-t-il si la réponse consultée n'est liée à aucun thème ? (C'est souvent le cas en ce moment) On n'affiche rien ?
Par exemple, si un monsieur tape "problème de vue" et arrive sur une fiche liée à un thème bien spécifique, doit-on faire une recherche dans le même theme avec "problème de vue", doit-on aller jusqu'

[2019-09-30 09:57] revolunet commented on #1063
Reste à faire :
 - intégration de toutes les sources juridiques (récup via API + display)
 - design

[2019-09-30 10:16] ClementChapalain commented on #1280
vu avec @auremie @UnbearableBear et @soulso on part sur le fait de faire la recherche sur le titre de l'article et d'afficher les 3 premiers contenus moins le contenu regardé actuellement évidemment :)

[2019-09-30 11:25] ClementChapalain commented on #1283
@soulso peut-on avoir les exports des réponses dans des csv distincts stp ?

[2019-09-30 11:35] lionelB commented on #1283
Est ce que tu peux importer du json dans un spreadsheet ? car sinon les fichiers sont dispo ici > https://github.com/SocialGouv/code-du-travail-numerique/tree/v3.2.0/packages/code-du-travail-data/dataset

[2019-09-30 13:21] UnbearableBear opened #1354 "Uniformiser les pages de contenu et ajouter une arborescence cliquable à gauche"
On pourrait en profiter pour aussi faire une passe sur le glossaire dynamique (implémenter l'algorithme côté back de différenciation des synonymes etc et laisser le front repérer les attributs placé en amont)

[2019-09-30 13:56] nkrmr opened #1356 "Utiliser un service (ou graphQL) pour chaque endpoint de l'api afin de memoize les résultats"
A terme il faudrait un service pour chaque call à un endpoint de l'api (comme dans les conventions collectives) pour memoize les résultats. Ou mettre en place un graphQL :D

Même si le besoin n'est pas du tout critique

Estimation pour les services: 2 -  3 jours de dev
Estimation pour graphQL: 5 jours, à voir en fonction du contexte

[2019-09-30 15:58] revolunet commented on #1307
https://snyk.io/blog/10-docker-image-security-best-practices/

[2019-10-01 08:00] ClementChapalain commented on #1307
j'ai cru lire skyblog dans l'url au début..

[2019-10-01 09:24] jrduscher commented on #1294
@ClementChapalain @revolunet @virginielastisneres
quelques suggestions:
en gardant le paragraphe, la poursuite du parcours  pour les utilisateurs qui veulent en savoir plus se fait en dehors du CDTN.
-L'idée serait de renvoyer à l’utilisateur la fiche complète, et quand le split par paragraphe est pertinent: renvoyer l'user sur la balise dans la fiche complète (signet). Ce qui lui permet de poursu

[2019-10-01 13:26] ClementChapalain opened #1360 "Ajout CCNs préavis de démission"

[2019-10-01 14:43] lionelB opened #1363 "following ccn search internals link return error 500"
When doing a ccn search by company name, the proposed links return an error 500

[2019-10-01 15:30] ClementChapalain opened #1364 "Amélioration du simulateur d'indemnités de licenciement"
## Contexte

Revoir l'UX de l'outil d'indemnité de licenciement (et des autres outils grâce aux points généraux) afin de le rendre plus compréhensible et adaptée aux conventions collectives pas encore traitées.

Les tâches listées ci-dessous sont issues du travail réalisé avec Aurélie et testé avec des utilisateurs.
- [x] Renomer l'outils en Simulateur
- [x] Changer le design  (Tab )
- [ ] Pas de

[2019-10-01 16:04] ClementChapalain commented on #1021
je close pour #1364

[2019-10-01 16:04] #1021 closed, assigned to lionelB, UnbearableBear, ClementChapalain, jrduscher

[2019-10-01 16:06] ClementChapalain commented on #1283
oui ça devrait le faire, vous pouvez me dire exactement quels sont les fichiers que je dois traiter svp ?

[2019-10-01 19:25] lionelB commented on #1283
- https://raw.githubusercontent.com/SocialGouv/code-du-travail-numerique/v3.2.0/packages/code-du-travail-data/dataset/faq.json
- https://raw.githubusercontent.com/SocialGouv/code-du-travail-numerique/v3.2.0/packages/code-du-travail-data/dataset/faq-contributions.json
- https://raw.githubusercontent.com/SocialGouv/code-du-travail-numerique/v3.2.0/packages/code-du-travail-data/dataset/faq-convention

[2019-10-02 09:06] #1317 closed, assigned to lionelB, ArmandGiraud

[2019-10-02 09:06] #1363 closed, assigned to lionelB

[2019-10-02 09:06] #1318 closed, assigned to lionelB

[2019-10-02 09:15] lionelB commented on #1356
Oui, il faudrait mettre un système de cache sur l'API. (et aussi sur l'api nlp)
mais j'aurais plutôt tendance à dé-corréler le cache et l'ajout de graphql.

Au vu de l'agenda, j'ai un peu peur du refacto avec graphql qui va nécessité pas mal de retouche coté front / back et en terme d'archi (rajouter des container).

Est ce que tu peux développer un peu plus pour qu'on est une idée plus précise de

[2019-10-02 16:40] virginielastisneres opened #1368 "Bug champ de recherche avec sélection des caractères saisis décalée"
**Description**
Quand je veux sélectionner un caractère ou un mot sur ce que j'ai écrit dans le champ de recherche du moteur de recherche (exemple : j'ai écrit licenceiment pour inaptitude et je voudrais mettre le curseur entre le e et le i pour supprimer mon e), j'ai un décalage avec le curseur qui se positionne quelques caractères plus loin (dans notre exemple entre le o et le u)...

Une image s

[2019-10-03 08:55] revolunet opened #1372 "Ajout lien vers le glossaire"
Pour permettre aux moteurs de trouver cette page

Dans le footer ?

Dans la liste des outils sur la home ?

[2019-10-03 09:48] UnbearableBear commented on #1368
Aussi fou que cela puisse paraître, il s'agit bel et bien d'un bug dans chrome (version 77) j'ai testé sur la version à venir (canary 79) et le bug n'est plus. Je close donc l'issue.

[2019-10-03 09:50] UnbearableBear commented on #1368
<img width="1292" alt="Screenshot 2019-10-03 at 11 49 29" src="https://user-images.githubusercontent.com/705453/66116969-eedf9100-e5d3-11e9-9f92-e7937afcde5a.png">

[2019-10-03 09:50] #1368 closed, assigned to UnbearableBear

[2019-10-03 10:21] UnbearableBear opened #1373 "Theme breadcrumb should scroll on mobile, otherwise it breaks on line and is too thick"

[2019-10-03 10:23] lionelB commented on #1372
+1 footer pour le footer

[2019-10-03 10:27] revolunet opened #1374 "UX search CCN : prevent flickering"
Actuellement lorsque l'on cherche une CC les résultats peuvent apparaitre/disparaitre en cours de saisie ce qui n'est pas très agréable

 - Le spinner devrait apparaitre a côté de l'input
 - La liste devrait rester affichée tant que les nouveaux résultats ne sont pas arrivés

![search1](https://user-images.githubusercontent.com/124937/66119578-2f8dd900-e5d9-11e9-8942-6fb6df98ccd1.gif)

[2019-10-03 10:27] revolunet commented on #1374
following #1371

[2019-10-03 13:37] ClementChapalain commented on #1283
merci ! j'ai fait un fichier clean ici des réponses :
https://docs.google.com/spreadsheets/d/1FMSN6bns2vwUOwSAcQ9_JaI6lrv0bpfoKAqAg1o4nLk/edit#gid=549869221

ping @jrduscher pour info

[2019-10-04 09:12] lionelB opened #1382 "doc: Améliorer le readme du projet"
- [x]  focus sur le démarrage du
- [x] prévoir une section commande utile (docker, script maison...)
- [x] simplifier les docs des sous-projet
- [x] update FAQ
- [x] explain conventional commit (type / scope) https://github.com/SocialGouv/emjpm#type

[2019-10-04 09:13] lionelB commented on #1382
poke @revolunet @UnbearableBear @nkrmr

[2019-10-04 09:20] UnbearableBear commented on #1382
Ca me va nickel ! Quitte à faire une partie "explain" On pourrait avoir une partie qui explique l'organisation / l'articulation des repos entre eux, les tests avec ses pitfalls, comment utiliser l'UI, etc.

[2019-10-04 10:29] lionelB opened #1383 "fonctionnement de la CI"
j'ouvre l'issue pour qu'on puisse discuter du fonctionnement que l'on souhaiterai avoir sur la CI

### general

- [ ] améliorer le caching

### branches

- [x] tirer partie des règles only / except avancé pour le rebuild / register / deploy des images
- [ ] register / deploy des branches à la demande (button manuel dans le pipeline)
- [ ] possibilité de deployer / redeployer via un commentaire dan

[2019-10-04 11:52] #1281 closed, assigned to UnbearableBear

[2019-10-04 14:43] UnbearableBear opened #1386 "UI showcase is down"
La page web présentant l'UI est HS. Docz n'est plus à jour, il faudrait fix tout ça, c'est important !
Intégrer la thématisation accessoirement ?

D'autre alternatives à docz prévues ici:
https://github.com/styleguidist/react-styleguidist
https://storybook.js.org/docs/basics/introduction/

[2019-10-04 15:03] lionelB commented on #1386
on a pas mal de soucis avec docz, je propose plutot qu'on essaie de trouver un alternative.
storybook est utilisé par emjpm ca me parait un bon candidat

[2019-10-07 06:48] ClementChapalain commented on #1249
c'est fait ça non @UnbearableBear ?

[2019-10-07 06:51] ClementChapalain commented on #1242
l'exploration a été faite avec @virginielastisneres.

décision : essayer de faire les specs d'un outil qui va :
- expliquer ce qu'est un salaire min conventionnel
- permettre à l'utilisateur de retrouver le texte de salaire le plus à jour pour sa convention collective (ping @revolunet et Florent (je n'ai pas son id github si qqun le connait :))

[2019-10-07 06:51] #1242 closed, assigned to ClementChapalain, virginielastisneres

[2019-10-07 06:53] ClementChapalain commented on #1307
on peut fermer cette tâche @revolunet ?

[2019-10-07 06:54] ClementChapalain commented on #1063
je close cette tâche et j'en crée une nouvelle pour le prochain sprint

[2019-10-07 06:54] #1063 closed, assigned to revolunet

[2019-10-07 06:54] UnbearableBear commented on #1249
Yes c'est plié

[2019-10-07 06:54] #1249 closed, assigned to UnbearableBear

[2019-10-07 06:55] ClementChapalain commented on #1314
@virginielastisneres @jrduscher des nouvelles là dessus ?

[2019-10-07 07:01] ClementChapalain commented on #1294
Merci beaucoup pour le travail sur toutes les fiches @jrduscher @virginielastisneres :)

[2019-10-07 07:01] #1294 closed, assigned to nobody

[2019-10-07 07:02] revolunet commented on #1307
oui merci. je rajoute des issues sur les autres sujets

[2019-10-07 07:02] #1307 closed, assigned to nobody

[2019-10-07 07:02] ClementChapalain opened #1394 "Arrêter le split des fiches MT"
To do :
- regrouper les fiches actuelles
- afficher les anciennes fiches sous forme d'accordéons dans la nouvelle fiche regroupée
- les thémer grâce au data-filler
- impact sur la recherche : voir comment conserver une indexation correcte de tout le contenu

[2019-10-07 07:03] ClementChapalain opened #1395 "Source -> Thème dans les résultats de recherche"
À la place de "service-public", "ministère du travail", "outil", etc. dans les résultats de recherche, afficher le thème du contenu.

Ce thème doit être cliquable et renvoyer vers la page du thème.

Si le contenu n'a pas de thème, garder la source.

[2019-10-07 07:04] revolunet opened #1396 "[contributions] : références juridiques"
Comment les references juridiques doivent-elle apparaitre dans la page contributions ?

Il y a plusieurs niveaux de references juridiques :
 - refs de la réponse générale
 - refs d'une situation (section) dans la réponse générale
 - refs d'une réponse CC

Les refs sont de plusieurs types : code, articles de CCns, liens externes

[2019-10-07 07:08] ClementChapalain opened #1397 "Migration data-filler -> outil de contrib"

[2019-10-07 07:08] revolunet opened #1398 "Liens vers les conventions collectives depuis nos contenus"
## Contexte et cadrage

Comment faire pour proposer le contenu conventionnel collectif le plus pertinent possible aux utilisateurs lorsque la réponse du droit légal n’est pas suffisante ?

https://docs.google.com/document/d/1mOPae70eNyOUG0rGNUgIQ0FhrL2vpHu4o8la9Pr2jK8/edit#heading=h.1yelja3ihj4p

## Solution

### Simplification de la page convention collective

L'idée est de se distinguer du trava

[2019-10-07 07:09] ClementChapalain opened #1399 "Référence juridiques dans les fiches : supprimer la V1 de la HDN"
Nous avons décidé (cf. [ce doc](https://docs.google.com/document/d/1Hm0kwTFirhnXaDjhOJmMd37dCEEelKqvylZKuNmsirE/edit) pour plus d'infos) de ne pas essayer de déterminer la HDN pour chaque contenu car cela serait potentiellement faux juridiquement et très compliqué techniquement.

Il faut donc supprimer le prototype de HDN que nous avions mis en place cet hiver sur les fiches SP.

Par exemple sur c

[2019-10-07 07:10] revolunet commented on #1398
Correspond au bloc "La CCN a été classifiée/Le contenu que je regarde est dans les 17 thèmes" dans le schema ci-dessous

<img width="697" alt="Capture d’écran 2019-10-07 à 03 17 27" src="https://user-images.githubusercontent.com/124937/66291450-302cb500-e8e2-11e9-8e69-e54e2e14ee6d.png">

[2019-10-07 07:10] ClementChapalain commented on #1323
@revolunet on peut commencer à lister les éléments sensibles ici stp ?

[2019-10-07 07:12] revolunet commented on #1397
Idées pour le faire rapidement, à voir avec Ivan :

 - créer un `/datafiller` dans son app avec le datafiller tel quel
 - utiliser son auth
 - ajouter une DB dans la base postgres existante

[2019-10-07 07:16] ClementChapalain commented on #1244
lié à #1394

[2019-10-07 07:21] ClementChapalain opened #1401 "Pouvoir "thémer" un contenu sans passer par son thème depuis le data-filler"
Aujourd'hui beaucoup de contenus ne sont pas thémés car il faut passer par un thème pour pouvoir y ajouter des contenus.

Il faudrait une entrée dans le menu de gauche des thèmes du data filler qui liste les contenus sans thème et permette de leur ajouter un thème grâce à un dropdown ou mieux un champs de recherche.

Qu'en penses-tu @revolunet ?

[2019-10-07 07:24] revolunet commented on #1401
yes we can :)

du coup comment on choisira quelles fiches afficher dans un theme ?
on se basera toujours sur celles définies dans la gestion des thèmes ?

et le mapping fiche-> theme ne servira "que" pour le breadcrumb des fiches ?

un prérequis à mon avis est de unsplitter les fiches MT. (#1394)

[2019-10-07 07:29] ClementChapalain opened #1403 "Outil : salaire minimum conventionnel"

[2019-10-07 07:31] revolunet commented on #1323
Pour moi la seule chose ce serait les [configurations k8s](https://github.com/SocialGouv/code-du-travail-numerique/tree/master/.k8s) et encore

[2019-10-07 07:32] UnbearableBear commented on #1386
+1000 je pars sur un storybook, j'ai perdu beaaaucoup trop de temps avec docz

[2019-10-07 07:34] ClementChapalain commented on #1323
ok je te laisser gérer ? de mon côté j'ai fait une passe sur le wiki et enlevé un ou deux liens.

[2019-10-07 07:45] lionelB commented on #1396
a minima, une ref devrait avoir ces propriétés  `{ label, url, date }`

[2019-10-07 07:46] ClementChapalain opened #1405 "Améliorations diverses champs de recherche CC"
To do :
- [ ] utiliser le champ de recherche dans tous les outils :
  - [ ] préavis démission (#1407)
  - [ ] indemnité licenciement (#1364)
  - [x] indemnité de précarité (#1241)
- [x] changer le placeholder : "nom d'entreprise, SIRET, nom de convention collective"
- [x] séparer les conventions collectives et les entreprises dans les résultats (par exemple lorsque l'on tape hotellerie)
- [x] plut

[2019-10-07 07:53] #1372 closed, assigned to revolunet

[2019-10-07 08:03] ClementChapalain commented on #1401
oui ce seront celles définies dans le data filler

je ne comprends pas 🤔 c'est quoi le mapping fiche theme ?

[2019-10-07 08:07] revolunet commented on #1401
Le mapping fiche-> theme c'est l'écran qui permet de définir un thème pour chaque fiche (cette issue)  ☎

[2019-10-07 08:09] ClementChapalain commented on #1401
ah ok, mais pour moi cette issue c'est juste une autre vue des mêmes données, mais qui nous permettrait de voir simplement quelles contenus n'ont pas de thème.

l'objectif c'est que chaque contenu (fiche, outil, contribution) ait un thème.

[2019-10-07 08:11] revolunet commented on #1401
Ok. la subtilité c'est que les themes permettent aussi de définir l'ordre des contenus. mais ok je crois avoir compris

[2019-10-07 08:15] ClementChapalain commented on #1401
ah oui j'avais pas pris ça en compte, mais on pourrait avoir une règle du style : lorsqu'un contenu est ajouté depuis ce nouvel onglet "contenu sans thème" elle part en dernière position.

[2019-10-07 08:21] ClementChapalain opened #1407 "Utiliser le champs de recherche CC dans le simulateur de préavis de démission"

[2019-10-07 08:27] revolunet commented on #1401
perfect

[2019-10-07 08:28] #1337 closed, assigned to nobody

[2019-10-07 08:30] revolunet commented on #1405
Pour la séparation CCns/entreprises, comment ca doit apparaitre ?

Deux "headers" pour séparer en deux sections de résultats ?

<img width="884" alt="Capture d’écran 2019-10-07 à 10 29 04" src="https://user-images.githubusercontent.com/124937/66296232-628fdf80-e8ed-11e9-9807-067cf220f28b.png">

[2019-10-07 08:31] UnbearableBear commented on #1401
@virginielastisneres Et voilà !

[2019-10-07 08:33] ClementChapalain commented on #1405
je veux bien qu'on le voit ensemble mais oui j'imagine un truc comme ça

[2019-10-07 11:07] UnbearableBear opened #1410 "Remove all code related to Annuaire"
It's all in the title

[2019-10-07 11:48] ArmandGiraud opened #1411 "Logs Relevance Dashboard"
**Fonctionnalité**
Créer une interface permettant d'afficher le niveau de pertinence du moteur en exploitant les extract de logs

**Problème**
Préparer l'outil pour la prod:
 - évaluer l'impact d'une modification du moteur, ou d'une modification UX
- évaluer la pertinence des contenus dans le temps
- suivre d'éventuels modification des comportement dans l'utilisation du site

**Solution**
Créer un

[2019-10-07 11:54] lionelB opened #1412 "Sanitize fiche-mt href"
we need to sanitize onclick attribute when scrapping fiche-mt before create json

[2019-10-07 12:32] revolunet commented on #1331
je pose ça là https://github.com/AmauriC/tarteaucitron.js

[2019-10-07 12:35] revolunet commented on #1405
Dans la meme issue, si on peut régler la question des noms courts/longs :)

[2019-10-07 12:51] ClementChapalain commented on #1364
@lionelB j'ai terminé une première version des specs, on peut en discuter ensemble pour prioriser si besoin, il y a beaucoup de choses.

[2019-10-07 13:11] lionelB commented on #1410
😭

[2019-10-07 13:25] revolunet commented on #1364
beau et super bien documenté 😻

[2019-10-07 13:39] revolunet commented on #1071
mise à jour par @jrduscher

[2019-10-07 13:39] #1071 closed, assigned to nobody

[2019-10-07 13:54] #1296 closed, assigned to UnbearableBear

[2019-10-07 14:04] revolunet commented on #1252
exemple d'implem du search CCN : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/src/contributions/Contribution.js#L87

[2019-10-07 14:11] revolunet commented on #1323
RGS RAS

[2019-10-07 14:11] #1323 closed, assigned to nobody

[2019-10-07 14:12] revolunet commented on #1407
exemple d'implem du search CCN : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/src/contributions/Contribution.js#L87

[2019-10-07 14:38] ClementChapalain commented on #1405
ah yes ! tu as tout ce qu'il te faut sur le sujet ? a priori ça doit être dans l'api dila vu qu'ils l'ont sur legifrance

[2019-10-07 15:09] revolunet commented on #1405
oui j'ai la liste issue de legifrance : https://docs.google.com/spreadsheets/d/1bJJUCeMgvreDWH3vTx9F3Z13j8qNRGbYPbZZgGQy7uE/edit#gid=0

on utilise ce nom court partout ?

[2019-10-07 15:18] ClementChapalain commented on #1405
Super ! Je pense que sur la page de convention collective il vaut mieux utiliser le nom long car on a pas d'indication qu'il s'agit d'une convention collective sinon.

Mais dans le champ de sélection effectivement on peut utiliser le nom court.

[2019-10-08 10:18] #1280 closed, assigned to nkrmr, UnbearableBear

[2019-10-08 12:47] #1405 closed, assigned to revolunet

[2019-10-08 12:47] revolunet commented on #1405
Cette issue peut être fermée au profit de #1241 #1364 #1407

[2019-10-08 13:10] nkrmr commented on #1331
Pas mal je vais checker

[2019-10-08 13:33] ClementChapalain commented on #1331
je trouve ça un peu envahissant comme ux.. ça met vraiment un frein à la navigation

[2019-10-08 13:50] nkrmr commented on #1331
On doit pouvoir le customiser

[2019-10-09 07:15] revolunet commented on #1383
Pistes que je vois :
 - extraire ElasticSearch et utiliser une instance dédiée (ex: sur une VM) en attendant ES cloud
 - ne build/deploy frontend/api/data que si nécessaire

J'ai l'impression qu'on pourrait améliorer l'intégration dans GitLab, notamment la partie "environnements".

![](https://docs.gitlab.com/ee/ci/img/deployments_view.png)

[2019-10-09 07:17] revolunet commented on #816
outdated

[2019-10-09 07:17] #816 closed, assigned to nobody

[2019-10-09 07:17] revolunet commented on #735
toujours utile ?

[2019-10-09 07:18] revolunet commented on #787
toujours d'actu ?

[2019-10-09 07:18] revolunet commented on #570
on peut close ?

[2019-10-09 07:18] revolunet commented on #554
fixed

[2019-10-09 07:18] #554 closed, assigned to revolunet, lionelB, UnbearableBear

[2019-10-09 07:19] revolunet commented on #547
removed

[2019-10-09 07:19] #547 closed, assigned to nobody

[2019-10-09 07:20] UnbearableBear commented on #735
Hummm je pense que ça peut être utile ! Il faut que je regarde rapido si c'est faisable facilement

[2019-10-09 07:21] #59 closed, assigned to nobody

[2019-10-09 07:21] revolunet commented on #70
fixé avec la page "le droit du travail, qu'est-ce que c'est"

[2019-10-09 07:21] #70 closed, assigned to nobody

[2019-10-09 07:22] revolunet commented on #80
outdated

[2019-10-09 07:22] #80 closed, assigned to nobody

[2019-10-09 07:23] revolunet commented on #85
outdated

[2019-10-09 07:23] #85 closed, assigned to nobody

[2019-10-09 07:23] #142 closed, assigned to nobody

[2019-10-09 07:24] #145 closed, assigned to revolunet

[2019-10-09 07:24] #253 closed, assigned to nobody

[2019-10-09 07:26] revolunet commented on #326
je pense qu'on peut close pour l'instant

[2019-10-09 07:26] #326 closed, assigned to jeremiecook, revolunet, lionelB, jrduscher

[2019-10-09 07:26] #331 closed, assigned to nobody

[2019-10-09 07:26] revolunet commented on #344
toujours d'actu ?

[2019-10-09 07:26] revolunet commented on #417
plus de faq !

[2019-10-09 07:26] #417 closed, assigned to nobody

[2019-10-09 07:27] revolunet commented on #425
pris en charge dans la page "contribution"

[2019-10-09 07:27] #425 closed, assigned to nobody

[2019-10-09 07:28] revolunet commented on #434
a priori c'est réglé

[2019-10-09 07:28] #434 closed, assigned to nobody

[2019-10-09 07:31] jrduscher opened #1422 "."
**Fonctionnalité**
Description de la fonctionnalité en 1 ou 2 phrases.
_exemple : ajouter un lien contact dans le footer_

**Problème**
Description du problème que vous souhaitez régler du point de vue de l'utilisateur.
_exemple : en tant qu'utilisateur, je ne peux pas contacter l'équipe CDTN actuellement_

**Solution**
Description précise du fonctionnement de la solution. Ajoutez des captures d'é

[2019-10-09 07:31] revolunet commented on #484
standby sur le sujet annuaire

pour la liste des SDR, on a ajouté un check sur les urls fournies

[2019-10-09 07:31] #484 closed, assigned to nobody

[2019-10-09 07:32] #494 closed, assigned to nobody

[2019-10-09 07:32] revolunet commented on #837
intégré depuis

[2019-10-09 07:32] #837 closed, assigned to lionelB

[2019-10-09 07:33] revolunet commented on #577
plus de faq :)

[2019-10-09 07:33] #577 closed, assigned to nobody

[2019-10-09 07:33] revolunet commented on #641
plus de faq :)

[2019-10-09 07:33] #641 closed, assigned to nobody

[2019-10-09 07:34] revolunet commented on #642
intégration directe depuis API contributions

[2019-10-09 07:34] #642 closed, assigned to revolunet, lionelB, ClementChapalain, jrduscher, virginielastisneres

[2019-10-09 07:35] revolunet commented on #826
plus d'annuaire sur le site pour le moment

[2019-10-09 07:35] #826 closed, assigned to adipasquale

[2019-10-09 07:40] revolunet commented on #942
réglé

[2019-10-09 07:40] #942 closed, assigned to lionelB

[2019-10-09 07:58] revolunet commented on #996
replaced by #1090

[2019-10-09 07:58] #996 closed, assigned to nobody

[2019-10-09 08:02] #612 closed, assigned to nobody

[2019-10-09 09:18] #570 closed, assigned to nobody

[2019-10-09 09:20] lionelB commented on #787
il ya pas mal de log sur lié a l'autosuggest mais ce sera réglé une fois la version mise a jour, je pense qu'on peut fermé

[2019-10-09 09:22] #1422 closed, assigned to nobody

[2019-10-09 09:26] nkrmr commented on #1331
On a un design sur l'implémentation du bandeau?

[2019-10-09 09:26] UnbearableBear commented on #1331
Je crois qu'on a mentionné dans le planning que tu pouvais utiliser le composant "Toast"

[2019-10-09 09:29] #787 closed, assigned to nobody

[2019-10-09 09:48] nkrmr commented on #1331
Ok je vais tester

[2019-10-09 10:14] jrduscher opened #1426 "Brique: calcul d'effectif en ETP ( équivalent temps plein)"
## Calcul ETP individuel

Permet de connaitre l'effectif en équivalent temps partiel. Le raisonnement en ETP est utilisé dans certaines obligations liées aux effets de seuils d'effectifs en droit du travail.
## Interface utilisateur:

Convertir la durée du travail en équivalent temps plein pour un salarié ou un groupe de salariés.

champs
* prévoir un identifiant type (numéro de salarié,MM,AAAA)"n

[2019-10-09 10:16] jrduscher opened #1427 "Outil rapide: Estimer les effectifs en vue de la mise en place du CSE"
Estimation de  l'obligation à organiser des élections du CSE

1) Effectif pris en compte:
pour savoir quel type de salariés sont pris en compte dans l'effectif:
se reporter à
l'article L1111-1 et suivants du code du travail
https://www.service-public.fr/professionnels-entreprises/vosdroits/F24332

2) Calcul mois par mois

" plus de 15 minutes, ou moins avec un temps de préparation préalable des do

[2019-10-09 10:18] jrduscher opened #1428 "outil: jours ouvrables/ouvrés/francs et computation des délais (en jours) en droit du travail."
# Brique : computation des délais en droit du travail.

Obtenir la date d'expiration d'un délai prévu dans le code du travail

## Définition du besoin

Le calcul de délais est important en droit du travail. Il existe plusieurs cas de figure potentiels en ce sens, par exemple dans la procédure de licenciement, de rupture conventionnelle, d'inaptitude, d'autorisation de licenciement de salarié proté

[2019-10-09 10:42] virginielastisneres opened #1429 "Oups fautes d’orthographe/frappe dans la page qu'est ce que le droit du travail"
**Description**
Il existe des fautes d'orthographe/frappe dans la page "qu'est ce que le droit du travail ?".

Les mots concernés sont :
- réglement intérieur qui doit être règlement intérieur;
- et engagements unilatériaux qui doit être engagement unilatéraux.

Où sont les fautes ? Je les ai repérées à 2 endroits :
- au sein de la rubrique "Quels sont les textes à l’origine du droit du travail ?"

[2019-10-09 11:36] revolunet opened #1431 "[search-ccn]: utiliser les noms courts"
Utiliser les noms courts dans le picker pour la recherche et l'affichage

(nécessite de modifier la query ES)

[2019-10-09 12:00] jrduscher commented on #1429
+ itoo sur la page à propos:
maîtrise
![image](https://user-images.githubusercontent.com/37538697/66479533-02d83680-ea9d-11e9-95fa-5735728e92bd.png)

[2019-10-10 07:46] revolunet opened #1437 "[search] datafiller fuzzy search"
Actuellement la detection des requêtes du datafiller est faite de manière binaire avec un match parfait de la query. Il faudrait ajouter un peu de fuzzy côté API pour matcher les requêtes très approchantes, les memes mots dans un ordre différent.... peut-être voir [fuzzball](https://github.com/nol13/fuzzball.js#readme) pour une solution basique

[2019-10-10 13:32] virginielastisneres commented on #1241
retours version 1
![image](https://user-images.githubusercontent.com/48682104/66573497-0fc75980-eb73-11e9-8bea-afc900171683.png)
Peut-on remplacer "rechercher" par "sélectionnez" ? Cela incite plus je trouve à l'action

[2019-10-10 13:36] virginielastisneres commented on #1241
![image](https://user-images.githubusercontent.com/48682104/66573750-764c7780-eb73-11e9-8205-d28041fdba69.png)
remplacer "connaissais" par "connaissez"
Est-ce que c'est possible d'essayer de mettre le paragraphe d'en dessous un peu en avant comme un point info ?
genre un peu comme ca
![image](https://user-images.githubusercontent.com/48682104/66573993-c9bec580-eb73-11e9-8c73-2101d72b68c0.png)

[2019-10-10 13:44] virginielastisneres commented on #1241
![image](https://user-images.githubusercontent.com/48682104/66574294-481b6780-eb74-11e9-864c-dd9544296172.png)
Vu que l'on n'indique pas juste la liste des conventions collectives que l'on a traitées. Il faudrait que l'on trouve une bonne approche pour indiquer à l'utilisateur que cette sa CC n'est pas encore traitée mais qu'il peut continuer et regarder ce que prévoit le légal. En vrai les situat

[2019-10-10 14:35] ClementChapalain commented on #1241
"Nous n'avons pas encore traité votre convention collective mais nous vous invitons à poursuivre la simulation afin d'obtenir le montant défini par le Code du travail."
Tu en penses quoi ?

[2019-10-10 15:02] virginielastisneres commented on #1241
c'est bizarre que quand tu sois dans une étape et que le numéro de l'étape ne s'affiche pas...
![image](https://user-images.githubusercontent.com/48682104/66580998-9c781480-eb7f-11e9-96dc-bf4a0de023ab.png)

[2019-10-10 15:04] virginielastisneres commented on #1241
@ClementChapalain j'aime bien la formulation juste j'ai un souci avec "montant défini par le code du travail". je voudrais pas que l'utilisateur se dise c'est pas le montant auquel j'aurai droit alors qu'en fait dans 90% le légal s'applique... je sais pas si tu vois ce que je veux dire... on peut en discuter de vive voix demain.

[2019-10-10 15:13] virginielastisneres commented on #1241
### Comme on a dit Lionel, ca serait bien d'enlever cette alerte
Cela risque de rendre l'utilisateur confus, cette info est juste nécessaire pour nous

![image](https://user-images.githubusercontent.com/48682104/66581882-2674ad00-eb81-11e9-962c-94b48596d117.png)

[2019-10-10 15:17] virginielastisneres commented on #1241
### **problème** détecté pour la CC 296 Plasturgie.

Il est indiqué qu'elle n'est pas traitée alors que oui mais juste elle ne prévoit pas de dispositions particulières...
idem pour celle ci la CC 413...

![image](https://user-images.githubusercontent.com/48682104/66582250-be729680-eb81-11e9-8e7e-9d9b430c9be2.png)

[2019-10-10 15:30] virginielastisneres commented on #1241
### **Problème** dans le parcours

j'ai testé le parcours de la CC 296.
- 1ère étape : demande de la CC
- 2ème étape : demande sur le type de contrat
- 3ème étape : demande de la rémunération

Problème détecté : dans l'étape 2 il n'y a pas les situations spécifiques qui s'affichent. Je coche CDD et je dois passer direct à l'étape rémunération.

Solution : il faut rajouter dans l'étape 2 toutes les

[2019-10-10 16:56] lionelB opened #1441 "remove next js telemetry"
for all env or only prod ?

https://nextjs.org/telemetry

[2019-10-11 11:53] ArmandGiraud commented on #1431
Il faudrait également modifier les titres des conventions collectives à l'indexing de l'outil de recherche général.

[2019-10-11 12:01] lionelB commented on #1431
on peut le rajouter dans le mapping et avoir les 2 noms si on veut

[2019-10-11 13:11] virginielastisneres commented on #1241
@lionelB :)

### Pour les CC 1486 (bureaux techniques), 1516 (organismes de formation), 2511 (Sport) et 3127 (Services à la personne)

### **Problème**
Pour chacune d'elle, je clique sur le contrat qui a droit à l'indemnité alors qu'il ne devrait pas y avoir droit selon la loi, c'est à dire :
- sur le contrat d'intervention pour CC 1486
- sur le CDD d'usage pour CC 1516
- sur le CDD d'usage appelé

[2019-10-11 13:15] virginielastisneres commented on #1241
### Pour la CC 1516 (organismes de formation)

**Problème**

j'ai dans ma liste de type de contrat 2 fois CDD d'usage.

![image](https://user-images.githubusercontent.com/48682104/66654052-a8c0a800-ec39-11e9-912e-fa596d05e38b.png)

**Solution**

Serait-il possible d'enlever le "CDD d'usage" dans l'option "CDD saisonnier ou CDD d'usage" ?

[2019-10-11 13:20] lionelB commented on #1241
CAY CMOPLIQUÉ !

_mais on voir comment faire ;)_

[2019-10-11 13:23] virginielastisneres commented on #1241
:( je m'en doutais vu que j'imagine que cela sort directement de la liste d'exclusion....
et si on change la liste d'exclusion et que l'on transforme l'option "CDD saisonnier ou CDD d'usage" en deux options distinctes "CDD saisonnier" et "CDD d'usage" ?

[2019-10-11 13:25] lionelB commented on #1241
c'est pas mal ! parce que je peux virer les doublons :)  tu devrais faire du code ;)

[2019-10-11 13:25] virginielastisneres commented on #1241
Pour les colonnes J (Poursuite du contrat en CDI) et K (Transformation du contrat de mission en CDI pour un poste et une durée équivalents), j'ai oublié de te faire une proposition de rédaction de la question correspondante (désolée...)

Du coup serait-il possible de changer les questions correspondants à chacune des colonnes ainsi :
- colonne : Poursuite du contrat en CDI => question : votre cont

[2019-10-11 13:28] virginielastisneres commented on #1241
ahah ;D

[2019-10-11 14:34] lionelB opened #1445 "UI: streamline search inputs styles"
for now, we have 3 (perhaps 4) different search input
we should keep 2
- the one on home with CTA
- the one in the header (icon, no CTA)

[2019-10-14 10:23] ClementChapalain opened #1452 "Ajouter le module d'articles connexes sur les contributions"
http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/contribution/comment-connaitre-mon-anciennete-dans-lentreprise-et-comment-se-calcule-t-elle?q=anciennet%C3%A9

[2019-10-14 12:34] UnbearableBear commented on #1394
@revolunet Tu t'en charges ou je prends ?

[2019-10-14 12:40] revolunet commented on #1394
si tu insistes... :)

[2019-10-14 14:44] ClementChapalain commented on #1431
avoir le nom long dans la recherche est synonyme de pbs aussi, comme taper "mars" dans la requete et avoir toutes les conventions signées en mars qui ressortent

[2019-10-14 15:43] ClementChapalain commented on #1314
up :)

[2019-10-14 15:44] ClementChapalain commented on #1271
merci @revolunet !

[2019-10-14 15:44] #1271 closed, assigned to revolunet

[2019-10-14 15:50] revolunet commented on #1395
On affiche juste le thème "de fin" ?

[2019-10-14 15:51] lionelB commented on #1395
ca me parait une bonne idée :)

[2019-10-14 15:54] lionelB commented on #563
fixed with datafiller

[2019-10-14 15:54] #563 closed, assigned to nobody

[2019-10-14 15:55] lionelB commented on #1050
fixed by #1388

[2019-10-14 15:55] #1050 closed, assigned to nobody

[2019-10-14 16:03] lionelB commented on #1090
done by #1105 , #1263

[2019-10-14 16:03] #1090 closed, assigned to nobody

[2019-10-15 08:34] ClementChapalain commented on #1241
quelques retours :
- on peut mettre des espaces insécables avant les "?", "!" et avant / après les ":" ? sinon ça fait des trucs moches comme ça :
![image](https://user-images.githubusercontent.com/5337489/66814340-bb3b2a00-ef36-11e9-9ef4-f54367be17d4.png)
- plutôt que montant comme label devant les champs pour les montant mensuels, on pourrait avoir "mois 1", "mois 2", "mois 3", etc. ?
- conventi

[2019-10-15 08:42] lionelB opened #1461 "TypeError in Tooltip"
Error log from sentry
Tooltip are failing for this document
fiche-ministere-travail/les-conges-payes-quelles-sont-les-modalites-de-prise-des-conges-payes

[2019-10-15 10:24] #1461 closed, assigned to lionelB

[2019-10-15 11:17] #1332 closed, assigned to ClementChapalain

[2019-10-15 15:29] #1399 closed, assigned to UnbearableBear

[2019-10-15 23:00] UnbearableBear opened #1471 "Create a Link component and make sure we we don't have too many ways to have an icon"
Currently, we can have svg icon + frontend react svg icon + ui react svg icon + feather-icons. That's way too much.
Let's create a Link component to the UI, make the static icon folder disapear, then migrate the last remaining react frontend icon to the UI. So that the only way to have an icon now will be to import it from the UI or to use react-feather icons.

Also when creating the component:
ht

[2019-10-15 23:05] UnbearableBear commented on #1441
wow bien vu

[2019-10-15 23:17] #1386 closed, assigned to UnbearableBear

[2019-10-15 23:17] #1410 closed, assigned to UnbearableBear

[2019-10-16 08:08] lionelB commented on #1441
ping @revolunet @douglasduteil

[2019-10-16 09:05] lionelB opened #1477 "Gérer les changements de nom (et d'adresse) des contenus"
Pour l'instant aucune stratégie n'est en place pour gérer les changements d'adresse des contenus.
Cela est assez frequent sur les fiches-mt
Lorsqu'on met a jour les contenus, il faut pouvoir identifier les changements d'url pour pouvoir générer la liste des redirections 301 associés.

A voir comment cette liste peut ensuite être transmise au nginx

[2019-10-16 09:30] nkrmr commented on #1452
Done

[2019-10-16 09:30] #1452 closed, assigned to nkrmr

[2019-10-16 10:19] revolunet commented on #1477
(une RFC arrive côté Next.js sur ce sujet)

[2019-10-16 10:28] revolunet commented on #1441
c'est que côté dev/build, on peut désactiver de manière préventive

[2019-10-16 13:22] #1241 closed, assigned to lionelB

[2019-10-16 15:28] revolunet opened #1482 "Format des urls pour améliorer le référencement"
### Thèmes

Dans la navigation par thèmes, les urls devraient être nestées et si possible supprimer le mot "themes" et le chiffre de chaque thème afin d'obtenir qqchose comme cela :
`/salaire-et-remuneration/primes-et-avantages`

au lieu de l'actuel :
`/themes/22-primes-et-avantages`

La partie importante est le fait que les urls soient nestées, le reste (enlever thèmes et le chiffre) peut être di

[2019-10-16 15:54] lionelB commented on #1482
je veux bien (si elle existe) l'explication de l'impact d'utiliser des arbo profondes dans le reférencement

[2019-10-16 16:14] jrduscher opened #1483 "Bug report : des mots sont remplacés dans certains contenus sur Master"
Sur la version master seulement  vu dans le contenu ci après ( pas testé ailleurs), les mots "heures de recherche d'emploi" et" loi" sont remplacés par préavis.

http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-service-public/le-salarie-beneficie-t-il-dheures-de-recherche-demploi-pendant-son-preavis?q=heures%20de%20recherche%20d%27emploi

[2019-10-16 16:31] Abdessamadyssf commented on #1482
@lionelB @revolunet

Je viens d'investiguer l'intérêt SEO, et effectivement une URL trop longue n'a pas d'impact sur le référencement.

L'idéal serait d'avoir le chemin de la navigation dans l'URL mais pas sur toute la profondeur. Avoir une URL qui reprend le chemin jusqu'au dernier niveau thématique.
Exemple : https://codedutravail.num.social.gouv.fr/themes/2-salaire-et-remuneration/21-salaire

(

[2019-10-16 16:42] lionelB commented on #1483
les tooltips ont encore frappés, je m'ne occupe

[2019-10-16 16:53] #1295 closed, assigned to UnbearableBear

[2019-10-16 19:51] lionelB opened #1485 "Page outils"
Ajouter la route "/outils" qui liste les outils et les modele de courriers

[2019-10-17 06:37] revolunet commented on #1482
une source : https://www.searchenginejournal.com/site-structure-seo/292803/

[2019-10-17 06:58] revolunet commented on #1482
sur la longueur de l'url, ca date un peu mais a priori la limite est haute : https://seomofo.com/experiments/what-is-the-maximum-character-length-for-a-url-that-google-will-index

cependant les urls courtes seraient privilégiées : https://ahrefs.com/blog/on-page-seo/

btw nos urls sont en général longues à cause des titres des contenus

[2019-10-17 07:35] lionelB commented on #1482
Thx

[2019-10-17 08:35] ClementChapalain commented on #1295
je me permets quelques retours :
- enlever le chevron à côté de thèmes vu qu'on a pas de page thèmes, idem pour boite à outils, tant que #1485 n'est pas faite
- ajouter un peu de marge entre les titres (thèmes) et sous titres (retrouvez tous nos contenus [...])
- voir -> consulter pour les modèles de courrier
- la couleur du bouton "contacter les services de renseignement est différente des autres

[2019-10-17 09:47] UnbearableBear commented on #1295
Nous avons une page thèmes :) Par contre garder le lien vers la page themes une fois qu'on est sur la page thèmes ne me semble pas optimal.
La page boite à outil n'est pas encore mergée, ceci dit, le titre n'est pas cliquable et il n'y a pas de chrevon à côté pour le moment.
`ajouter un peu de marge entre les titres (thèmes) et sous titres (retrouvez tous nos contenus [...])` => je suis d'accord j

[2019-10-17 10:03] ClementChapalain commented on #1295
yes

effectivement désolé !

ok !

on a une démo devant le cabinet dans quelques semaines et on aura pas encore intégré la nouvelle UI, du coup ce serait quand même chouette d'avoir un truc clean d'ici là. je ne propose pas de changer les couleurs, juste d'utiliser des couleurs cohérentes dans la page parce que là quand on arrive au footer ça fait trop bizarre :
![image](https://user-images.github

[2019-10-17 10:04] ClementChapalain commented on #1295
Ah et un autre point qui n'était pas clair dans les specs désolé, il faudrait mettre le bloc boite à outils avant le bloc thèmes svp

[2019-10-17 10:48] revolunet opened #1489 "autosuggest stops working after a first "enter""
Si on tape entrée sur une premiere recherche, le suggester le se re-déclenche plus ensuite

![autosuggest](https://user-images.githubusercontent.com/124937/67002503-54f00c00-f0dc-11e9-9f69-d691212136b3.gif)

[2019-10-17 10:52] UnbearableBear commented on #1489
Si c'est récent, mon petit doigt me dit que c'est lié à ça : https://github.com/SocialGouv/code-du-travail-numerique/pull/1467/files

[2019-10-17 10:59] revolunet commented on #1489
bien vu, je teste

[2019-10-17 11:02] UnbearableBear commented on #1489
hint, j'avais lu quelque part que le useRef restait malgré les mount/unmount alors que le callback de useEffect est appellé à chaque unmount

[2019-10-17 11:03] revolunet commented on #1489
confirmed, je propose un revert en attedant mieux

[2019-10-17 12:56] #735 closed, assigned to UnbearableBear

[2019-10-17 13:31] #1489 closed, assigned to nobody

[2019-10-17 13:32] revolunet commented on #1395
Fixed in #1479

[2019-10-17 13:32] #1395 closed, assigned to revolunet

[2019-10-17 13:45] Abdessamadyssf opened #1492 "[SEO] Rendre administrable toutes les balises title et méta descriptions"
**Fonctionnalité**
Rendre administrable toutes les balises title et méta descriptions via le CMS

**Problème**
En tant qu'internaute, je tombe sur le site CDTN dans Google mais je ne suis pas attiré par celui-ci car je ne vois pas de titre cohérent ni de description, donc je ne clique pas.

Objectifs :
- Augmenter le tx de clic du site CDTN lorsqu'il apparaît dans les résultats de recherches de Go

[2019-10-17 13:50] Abdessamadyssf opened #1493 "[ROBOTS.txt] Les robots sont tous bloqués"
Les robots des moteurs de recherches sont bloqués par le fichier robots.txt.
Je ne sais si c'est voulu ou bien s'il s'agit d'un oubli.

Il faudrait autoriser les robots à explorer notre site afin d'améliorer l'indexation de celui-ci par les moteurs de recherches.

https://codedutravail.num.social.gouv.fr/robots.txt

Voici une capture :

![image](https://user-images.githubusercontent.com/56535039/6

[2019-10-17 15:00] revolunet commented on #1401
@ClementChapalain bon pour toi ?

[2019-10-17 15:26] revolunet commented on #1244
@virginielastisneres Pour moi les fiches sont présentes, au moins sur master : http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-ministere-travail/cse-information-et-consultation

dis moi s'il y en a que tu ne trouves pas. elles sont en tous cas toutes dans la [liste des fiches à récupérer](https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-

[2019-10-17 15:30] lionelB commented on #1492
la plupart des contenus ont une description mais effectivement, celle des courriers ne remontent pas. Est ce qu'avant de créer un outil pour mettre à  jour les titres / desc des contenus on peut deja essayer de mettre à jour les json ?

[2019-10-17 15:37] revolunet commented on #1492
Pour les courriers, la liste des modeles et leur description sont editables ici : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/courrier-type/courriers.json

[2019-10-17 15:41] revolunet commented on #1492
Pour les courriers, on peut utiliser le champ "description" du json ? sinon rajouter un champ `metaDescription` qui sera utilisé

[2019-10-17 15:43] revolunet commented on #1492
ce qui est étrange c'est que la balise meta description est bien présente sur ce modèle. ca dit quoi @Abdessamadyssf dans "Découvrir pourquoi"?

[code]

[2019-10-17 16:00] lionelB commented on #1295
@ClementChapalain ca te va si je fais les modifs dans la #1484

[2019-10-17 16:09] UnbearableBear commented on #1295
Ah oui est-ce que ça serait possible de faire en sorte que le chevron soit cliquable aussi ?

[2019-10-17 16:18] revolunet commented on #1397
objectif 15 Novembre pour une premiere migration

[2019-10-17 16:35] Abdessamadyssf commented on #1492
C'est surement dû au robots.txt qui bloquait, attendons de voir suite à ta MAJ du fichier robots.txt

@revolunet

[2019-10-17 17:16] ClementChapalain commented on #1401
oui !

[2019-10-17 17:16] #1401 closed, assigned to revolunet

[2019-10-17 17:17] ClementChapalain commented on #1295
@lionelB oui pas de pbs
@UnbearableBear +1

[2019-10-17 18:31] lionelB commented on #1492
Pour les contenus type fiches, j’avais repris le champs description existant (en général, plutôt bien fait) dans les cas où il n’y en pas (et pour les autres documents, je prenais le début du texte, tronqué à 150 caractères (+/- le mot en cours) si ça vous intéresse on peut sortir la liste des contenus sans description ?

[2019-10-18 06:45] #1493 closed, assigned to nobody

[2019-10-18 07:05] #1483 closed, assigned to lionelB

[2019-10-18 09:04] #1244 closed, assigned to revolunet

[2019-10-18 10:41] revolunet opened #1505 "[datafiller]: nested themes selection"
Dans le datafiller, le selecteur de thème est "flat", la hierarchie n'est pas représentée.

Il faudrait pouvoir visualiser la hierarchie dans le select

[2019-10-18 15:07] #1485 closed, assigned to nobody

[2019-10-20 14:20] ClementChapalain commented on #1360
🙌 @jrduscher

[2019-10-20 14:20] #1360 closed, assigned to jrduscher

[2019-10-20 14:43] ClementChapalain opened #1510 "Colors on the homepage"
Les couleurs sur la homepage :
- ne sont pas cohérentes (différents bleus primaire)
- perdent les usagers car tous les boutons semblent primaires

L'idée n'est pas de revoir complètement la homepage car nous allons de toute façon la retravailler avec la nouvelle UI, mais nous avons des démos importantes en novembre et la homepage se doit d'être le plus clean possible afin de laisser une bonne prem

[2019-10-20 14:46] ClementChapalain commented on #1407
rappel suite à la démo : enlever la phrase qui indique que la convention collective est optionnelle pour le préavis de démission et ne pas permettre de passer à l'étape suivante si l'utilisateur n'a pas sélectionné de convention collective.

ping @nkrmr

[2019-10-20 14:53] ClementChapalain opened #1511 "Regressions UI outil de recherche CC"
La couleur de fond sur la section entreprise n'apparait plus (elle devrait etre bleue comme pour la section conventions collectives) :
![image](https://user-images.githubusercontent.com/5337489/67161323-a953ef80-f359-11e9-828d-83f2895be899.png)

La police pour le nom des entreprises est trop grosse, elle devrait être moins grosse que pour le titre de la modale :
![image](https://user-images.github

[2019-10-20 15:56] ClementChapalain opened #1512 "Réorganisation de la page de recherche"
## Problème

Aujourd'hui nous lançons une recherche dans tous les types de contenus et les affichons en les séparant en trois sections : français facile (fiches + outils + contributions), loi (cdt + cc), thèmes

Par exemple pour la recherche "test" :
![image](https://user-images.githubusercontent.com/5337489/67161911-69900680-f35f-11e9-8dd6-bf4898362827.png)

Cela pose un certain nombre de problèm

[2019-10-20 16:04] ClementChapalain commented on #1373
je rouvre car on a une petite regression UI qui fait que le breadcrumb n'est pas aligné avec le reste de la page :
![image](https://user-images.githubusercontent.com/5337489/67162413-140a2880-f364-11e9-98f9-12c19eea37af.png)

[2019-10-20 16:10] ClementChapalain commented on #1396
je ferme car nous avons vu avec Julien et Ivan comment le faire et pas de besoin d'adaptation front a priori

[2019-10-20 16:10] #1396 closed, assigned to nobody

[2019-10-20 16:11] ClementChapalain opened #1513 "Récupération d'autres contenus dans les contributions"
Pour certaines contributions, la réponse générique est traitée dans une fiche service public ou ministère du travail.  Dans le markdown de la réponse générique, ceci est indiqué par une balise du type `<content href=""/>` avec l'url du contenu sur le site correspondant (service public ou ministère du travail).

Il faut donc faire en sorte que lorsqu'on détecte cette balise dans les réponses généri

[2019-10-20 16:24] ClementChapalain commented on #1394
réunion à venir pour débroussailler le sujet mardi 22 à 10h

[2019-10-20 16:42] ClementChapalain opened #1514 "Résultats sans description dans la recherche"
Certaines fiches SP n'ont pas de description dans la recherche. C'est problématique car cela permet de différencier des fiches avec des titres identiques ou proches.

![image](https://user-images.githubusercontent.com/5337489/67162912-5aae5180-f369-11e9-95a3-ca4a8251bd46.png)

[2019-10-20 16:46] ClementChapalain opened #1515 "Arrêter le référencement des dossiers service-public"
Nous référençons des dossiers service public qui redirigent vers service-public directement, ce qui nous empêche de proposer notre valeur à l'utilisateur (contenus associés, outils, glossaire, etc.).

Il faudrait arrêter de les référencer.

Exemple sur cette recherche sur le licenciement économique :
![image](https://user-images.githubusercontent.com/5337489/67162951-cd1f3180-f369-11e9-9f39-85101b

[2019-10-20 17:02] revolunet commented on #1396
Ce qui a été décidé : uniquement des références "inline", pas de bloc ui spécifique

[2019-10-21 09:12] lionelB commented on #1515
hello, je pense que c'est des résultats qui proviennent des requêtes pré-enregistrées car julien a laissé la possibilité de mettre des liens externes

[2019-10-21 09:23] lionelB commented on #1396
qui pointent vers légifrance ?

[2019-10-21 10:18] ClementChapalain commented on #1515
ok merci pour l'info ! ça vous dit qqchose @jrduscher @virginielastisneres ?

[2019-10-21 10:19] ClementChapalain commented on #1396
à décider, avec le lien legi on peut soit pointer vers chez eux, soit retrouver l'article et pointer vers chez nous

[2019-10-21 11:57] virginielastisneres commented on #1515
oui @ClementChapalain en effet nous avions la possibilité de mettre des liens externes pour une raison que je me rappelle plus... peut être fiches non indexées à l'équope dans elasticsearch.
Il faut que nous refassions une passe dessus pour les supprimer

[2019-10-21 11:59] ClementChapalain opened #1519 "Mise en avant des outils et modèles de document dans la suggestion de contenus"
Nous souhaitons mettre l'accent sur les contenus les plus actionnables de notre site, i.e. les modèles de document et les outils, dans les suggestions de contenus qui apparaissent sur la droite d'un contenu.

To do :
- on garde le principe de la requête sur le nom du document pour récupérer cette liste, mais on prend désormais 5 contenus
- les outils doivent être affichés en dessous du bloc "les a

[2019-10-21 12:00] ClementChapalain commented on #1515
ok je laisse cette tâche mais métier du coup

[2019-10-21 12:05] lionelB commented on #1519
c'est pour la page de recherche ? pourquoi pas dans #1512

[2019-10-21 12:07] jrduscher opened #1520 "Bug report: regressions UI navigateurs divers"
**Ascenseurs dans les tuiles qui appairassent dans: Chrome, firefox, edge et IE11**
![image](https://user-images.githubusercontent.com/37538697/67203633-de207f00-f40b-11e9-8ed7-23a46ebe5663.png)

![image](https://user-images.githubusercontent.com/37538697/67203646-e5e02380-f40b-11e9-9488-b2472ec48c35.png)
IE 11
![image](https://user-images.githubusercontent.com/37538697/67203674-03ad8880-f40c-11e9

[2019-10-21 12:10] UnbearableBear commented on #1520
La fameuse tuile IE11 !

[2019-10-21 12:11] lionelB commented on #1520
rhooo la TUILE :(

[2019-10-21 12:37] virginielastisneres commented on #1520
pas beau sur IE11
![image](https://user-images.githubusercontent.com/48682104/67205584-4ec99a80-f410-11e9-962e-c6798f6f2466.png)

[2019-10-21 12:42] jrduscher commented on #1520
pas beau non plus : l'encart article ne suit pas la lecture.
![image](https://user-images.githubusercontent.com/37538697/67205873-efb85580-f410-11e9-9fea-65840eb16961.png)

[2019-10-21 12:56] ClementChapalain commented on #1519
"dans les suggestions de contenus qui apparaissent sur la droite d'un contenu." :)

[2019-10-21 13:02] virginielastisneres opened #1521 "[Bug] Outil Indemnité de précarité"
**Rappel**
Lorsque l'usager sélectionne une convention collective non traitée encore dans le fichier excel, s'affiche un disclaimer indiquant que sa CC n'est pas encore traitée mais que nous l'invitons à continuer la simulation.

**Description du bug**
Ne s'affiche plus le disclaimer alertant les usagers ayant sélectionner une CC non traitée...

**Screenshots**
![image](https://user-images.githubu

[2019-10-21 13:46] ClementChapalain commented on #1505
@virginielastisneres ajouter la fonctionnalité pour povoir supprimer un thème

[2019-10-21 13:51] ClementChapalain opened #1523 "Cacher les contributions dans les résultats de recherche"
pour pouvoir déployer en prod toutes les nouvelles fonctionnalités

[2019-10-21 14:04] #1510 closed, assigned to lionelB

[2019-10-21 14:31] jrduscher opened #1524 "Bug report: mise à jour des modèles de courrier ( métier)"
Vérifier et modifier:

fait | motif | title
-- | -- | --
- [x] | Les informations proposées ne sont pas à jour |
**Modèle de courrier :  Rupture d’un commun accord d’un contrat d’apprentissage**

- [x]  | Les informations proposées ne sont pas à jour |
 **Modèle de courrier :  Réclamation des documents de fin de contrat**

- [x]  | Les informations proposées ne sont pas à jour |
**Modèle de courri

[2019-10-21 15:04] virginielastisneres opened #1526 "Bug report : UI simulateur de licenciement"
**Description**
Dans le nouvel UI du simulateur de l'indemnité de licenciement apparaît dans la page résultat une barre de scroll horizontale, on ne peut pas voir la page de résultat en entière...
J'ai cette barre sur chrome, firefox mais pas sur IE11.

**Screenshots**
![image](https://user-images.githubusercontent.com/48682104/67217163-99eda880-f424-11e9-8b2f-8b4577e48a2e.png)

[2019-10-21 15:20] ClementChapalain commented on #1510
❤️

[2019-10-21 15:25] lionelB commented on #1526
je m'en occupe !

[2019-10-21 15:44] lionelB commented on #1515
@ClementChapalain on peut lister ces contenus aussi et les virer en meme temps que les faq

[2019-10-21 15:50] lionelB opened #1529 "Remove old faq from datafiller requests"
Since we had removed faq / faq-contributions we should also remove their references from the datafiller.

[code]

[2019-10-21 16:16] #1526 closed, assigned to lionelB

[2019-10-22 07:23] jrduscher opened #1537 "préavis de démission: bug affichage sélection de la CCN"
le champ de sélection des CCN dépasse le cadre, la sélection des boutons d'action nécessiter de scroller:

![image](https://user-images.githubusercontent.com/37538697/67265241-8aff0880-f4ad-11e9-9b50-e17f0ed83eff.png)

[2019-10-22 08:08] UnbearableBear commented on #1529
Shouldn't we remove them from in the datafiller instead of filtering in the code ?

[2019-10-22 13:49] #1429 closed, assigned to UnbearableBear

[2019-10-22 13:57] nkrmr commented on #1537
@jrduscher c'est possible de savoir sur quel navigateur cela se produit?

[2019-10-22 14:03] #1520 closed, assigned to UnbearableBear

[2019-10-22 14:03] #1373 closed, assigned to UnbearableBear

[2019-10-22 15:46] ClementChapalain opened #1540 "Python vs. Elastic search vs. Lucen"
Etude technique du choix d'une solution technique pour le suggester.
Pour le moment, les options que l'on souhaite :
- prefix only : on ne match que les suggestions qui ont pour prefix la requête utilisateur (on ne match pas si les tokens au milieu)
- analyzer / fuzzy : on veut gérer un peu de fuzyness et les analyzers standard (accents...)
- weighting

[2019-10-22 15:49] ClementChapalain opened #1541 "Clean de la base des suggestions"
Deduplicate / Disambiguation / Clean:
Il y a beaucoup de doublons et de suggestions qui sont dupliquées avec des orthographes différentes.

Dans un premier temps, il faudrait simplement créer un méchanisme de filtrage pour :
- grouper les suggestions très semblables (clustering / near duplicate detection (LSH?)
- isoler la meilleure query via un check orthographe / syntaxe (hunspell?)
- enlever le

[2019-10-22 15:50] ClementChapalain opened #1542 "Proto fuzzy search dans le suggesteur"

[2019-10-22 15:57] ClementChapalain opened #1543 "Réponses FAQ qui ne devraient plus apparaitre dans la recherche"
http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/recherche?q=poly-expos%C3%A9

la réponse sur les travailleurs poly exposés a normalement été enlevée via #1283

[2019-10-22 16:12] UnbearableBear commented on #1308
@ClementChapalain est-ce que ça doit aussi prendre en compte les amélioration prévues ici: https://github.com/SocialGouv/code-du-travail-numerique/issues/1519 ?

[2019-10-23 06:54] ClementChapalain commented on #1308
ça "doit" pas mais ça peut être fait dans la même PR si c'est plus simple pour vous :)

[2019-10-23 07:03] lionelB commented on #1537
le bug devrait disparaitre quand on passera utilisera InfoCCn dans ce simulateur

[2019-10-23 07:03] lionelB commented on #1537
cf #1526 et #1527

[2019-10-23 07:05] lionelB commented on #1543
le document a bien été enlevé ! c'est une requete pré-enregistré je ferme car on a deja #1529

[2019-10-23 07:05] #1543 closed, assigned to lionelB

[2019-10-23 07:10] #1521 closed, assigned to lionelB

[2019-10-23 08:52] ArmandGiraud commented on #1437
Un premier test avec fuzzball.token_sort_ratio et preprocessing:

pour chaque ligne le
- 1: candidat (simulation d'une requête utilisateur
- 2: entrée du datafiller la plus proche
- 0: indique si la requête doit afficher les résultats pour l'entrée du datafiller.

⚠️ signale une erreur possiblement problématique
👍 signale un match difficile

9: Array[3]
0: "no"
1: "transfert de contrat"
2: "ruptur

[2019-10-23 10:28] ArmandGiraud commented on #1541
-  commençons par une simple edit distance.

- [pyspellchecker](https://pypi.org/project/pyspellchecker/) permet d'utiliser un des dico custom sur des frequences.

- ok

[2019-10-23 12:25] #1523 closed, assigned to lionelB

[2019-10-23 13:13] ClementChapalain commented on #1437
hello, c'est pas hyper clair pour moi mais juste l'erreur "préretraire / retraite" suffit pour dire que ce nest pas suffisant.

de mon point de vue (de néophyte), le fuzzy est plus pour matcher les requêtes avec des fautes de frappe / orthographe style "retriate" -> "retraite" et non proposer des requêtes différentes.

pareil pour la requête :
49: Array[3]
0: "yes"
1: "indemnité fin de contrat"
2:

[2019-10-24 09:00] jrduscher opened #1557 "Supprimer 2 fiches service-public"
*https://code-du-travail-numerique.incubateur.social.gouv.fr/fiche-service-public/mon-enfant-est-en-situation-de-handicap

https://code-du-travail-numerique.incubateur.social.gouv.fr/fiche-service-public/deces-de-la-mere-pendant-le-conge-maternite-quelles-consequences-sur-les-ij
il faudrait supprimer ces fiches qui ne concernent pas le droit du travail.

@revolunet ce serait cool de disposer d'une

[2019-10-24 13:47] ClementChapalain commented on #1512
@lionelB @UnbearableBear c'est mis à jour avec les retours vus au planning !

[2019-10-24 14:57] ClementChapalain commented on #1394
résumé de la réunion :
- on  garde le split des fiches pour l'indexation (les sous-documents)
- on merge les sous-documents dans une seule et même page avec 1 accordéon par sous-document et un système d'ancre
- on affiches les sous-documents dans les résultats de recherche et ils redirigent vers la bonne ancre dans la page du document

à discuter :
- ne devrait-on pas plutôt afficher les documents

[2019-10-24 16:00] jrduscher opened #1560 "Cas du temps partiel dans l'outil d'heures pour recherche d'emploi"
Crédit d'heures de recherche d'emploi

Améliorer la contextualisation du résultat pour les salariés à temps partiel.

Un grand nombre de CCN prévoient une proratisation des heures de recherche d'emploi ( principe d'égalité entre les temps pleins et les temps partiels)
Cette proratisation fait soit l'objet de règles particulières ( tranches en fonction du nombre d'heures de travail hebdomdaires) ou

[2019-10-24 16:42] #1514 closed, assigned to UnbearableBear

[2019-10-25 08:27] virginielastisneres opened #1563 "ignorer les espace quand on fait une recherche de ccn par siret"
**Description**
Quand on cherche le SIRET d'une société sur internet, il est fréquent de tomber sur un numéro présenté avec des espaces entre les nombres : exemple 821 980 877 00020.

Si je fais copier/coller du numéro tel quel sur notre moteur de recherche de convention collective, le moteur ne trouve pas de résultat...
Alors que si j'enlève les espaces entre les numéros j'ai bien un résultat.

E

[2019-10-25 08:31] UnbearableBear commented on #1563
Ca ne doit pas etre bien compliqué à faire ça !

[2019-10-25 08:33] #1519 closed, assigned to UnbearableBear

[2019-10-25 08:34] lionelB commented on #1563
je vais rajouter ca,  je suis dessus le widget

[2019-10-25 08:38] UnbearableBear commented on #1563
Juste attention à ne pas trimmer tout le temps mais uniquement lorsque le trim donne un résultat positif pour le siret ou lorsqu'il n'y a que des chiffres

[2019-10-25 08:38] virginielastisneres commented on #1563
@UnbearableBear @lionelB  Merciii :)

[2019-10-25 09:46] virginielastisneres opened #1564 "Bug report : recherche prime de précarité"
**Contexte**

Quand je tape prime de précarité dans le moteur de recherche voilà ce qui apparaît :

![image](https://user-images.githubusercontent.com/48682104/67561307-dcf99580-f71c-11e9-9ab1-e81b3cce0ec5.png)

La première réponse est parfaite. Pour la deuxième le lien externe est une erreur j'ai rectifié le datafiller.

**BUG**

**Pour la troisième réponse je comprends pas pourquoi nous avons "I

[2019-10-25 09:49] UnbearableBear commented on #1564
Magique ce bug 😂

[2019-10-25 09:49] lionelB commented on #1564
ca vient des données du datafiller aussi
donnée ES
http://api.master.code-du-travail-numerique.dev.factory.social.gouv.fr/api/v1/search/?q=prime%20pr%C3%A9carit%C3%A9&skipSavedResults
vs
donnée datafiller
http://api.master.code-du-travail-numerique.dev.factory.social.gouv.fr/api/v1/search/?q=prime%20pr%C3%A9carit%C3%A9

[2019-10-25 09:52] virginielastisneres commented on #1564
Du coup je dois faire quelque chose au niveau du datafiller pour corriger cela ?

[2019-10-25 10:19] jrduscher commented on #1524
https://github.com/SocialGouv/code-du-travail-numerique/pull/1565

note: en l'état amélioration du wording introductif, qui semble justifier seul les remontées.

[2019-10-25 12:28] lionelB commented on #1537
closed by #1517

[2019-10-25 12:28] #1537 closed, assigned to nkrmr

[2019-10-25 12:40] jrduscher opened #1567 "Indemnité de licenciement : cas de l'inaptitude"
Inaptitude: précisions juridiques à ajouter impérativement au formulaire.

## Dans la page "Indemnité légale"
En cas d'inaptitude.

1)Remplacer la phrase:  "Le code du travail prévoit un montant de xx pour votre indemnité de licenciement: " par " "Le code du travail prévoit un montant de xx pour l'indemnité de spéciale de licenciement, au regard des éléments saisis: "

1b ) Ajouter ensuite, juste

[2019-10-25 13:09] lionelB commented on #1524
@jrduscher on fermera l'issue une fois la PR mergée

[2019-10-25 13:16] nkrmr commented on #1407
Closed by : #1517

[2019-10-25 13:16] #1407 closed, assigned to nkrmr

[2019-10-25 13:18] nkrmr commented on #1407
Done

[2019-10-25 13:26] lionelB commented on #1529
yes. the code above return a list of id to remove / update

[2019-10-25 13:37] jrduscher opened #1568 "Préavis de licenciement : cas de l'inaptitude"
# Préavis de licenciement:  Ajout de l'Inaptitude.

## Besoin:
il est possible et souhaitable d'éviter à un salarié licencié pour inaptitude de se voir annoncer une durée de préavis qui ne le concerne pas, après avoir répondu à un certain nombre de question.

## L'idée:
Dès que possible faire passer le salarié inapte dans un parcours spécifique très simple sans ajouter de complexité pour les autre

[2019-10-25 13:51] #1511 closed, assigned to lionelB

[2019-10-25 13:51] #1563 closed, assigned to lionelB, UnbearableBear

[2019-10-25 15:18] Abdessamadyssf opened #1569 "[SEO] Réaliser un sitemap pour faciliter l'exploration par les bots"
Réaliser un sitemap (dynamique) pour faciliter l'exploration par les bots.

Les pages à indiquer dans le sitemap :

- thème
- modèle de courrier
- Fiche Service public
- Fiche Ministère du travail
- Outils
- Contribution

@lionelB

[2019-10-28 10:12] #1524 closed, assigned to nobody

[2019-10-28 11:21] ClementChapalain commented on #1331
est-ce qu'il y a un pb sur cette tâche ? ce n'est pas encore mergé ?

[2019-10-28 11:22] ClementChapalain opened #1576 "Page en cas de non-disponibilité du simulateur d'embauche"
si le simulateur d'embauche n'est pas disponible afficher le message :

[2019-10-28 12:17] lionelB commented on #1576
+ gestion des cookie tiers

[2019-10-28 13:25] jrduscher commented on #1364
![image](https://user-images.githubusercontent.com/37538697/67681954-a034d500-f98e-11e9-9f8e-e7b94987f30d.png)

Vu dans le master en page Indemnité légale: : scroll horizontal, ce qui engendre du texte tronqué.

[2019-10-28 14:00] jrduscher commented on #1364
## Mauvaise fin de parcours: CCN banque, et CCN propreté. ( moins de un an et plus de 8 mois)
![image](https://user-images.githubusercontent.com/37538697/67683946-957c3f00-f992-11e9-811e-e3080c8ad354.png)

Ici la réponse affichée est une fin de parcours CCN.
La réponse attendue  est la réponse Indemnité légale + message de fin de parcours.

![image](https://user-images.githubusercontent.com/375386

[2019-10-28 14:10] jrduscher commented on #1364
![image](https://user-images.githubusercontent.com/37538697/67685065-b34aa380-f994-11e9-9d96-bbc30c3209fe.png)

Blocage dans le parcours: en ajoutant l'âge, "suivant" reste grisé

[2019-10-28 16:07] ClementChapalain opened #1577 "Redirects to code.travail.gouv.fr"
make sure codedutravail.num.social.gouv.fr, code-du-travail.beta.gouv.fr and code-du-travail-numerique.incubateur.social.gouv.fr redirect to code.travail.gouv.fr

301 redirects : https://support.google.com/webmasters/answer/6033049?hl=en-GB

[2019-10-28 19:42] revolunet opened #1579 "[SECU] image nlp"
Le container nlp doit être mis à jour niveau dépendances car pas mal de vulns potentielles :

[code]

[2019-10-28 23:33] nkrmr commented on #1331
En fait la version de gestion des cookies faites mais je suis en train de mettre en place pour améliorer l'affichage des Toasts qui pour le moment s'affiche les uns au-dessus des autres. Mais je peux déjà déployer les cookies dans la version actuelle et faire une autre PR pour les toasts.

[2019-10-28 23:58] nkrmr commented on #1331
C'est fait j'ai mis de côté la refacto des toasts je m'en occupe dès que j'ai terminé les outils

[2019-10-29 08:03] lionelB commented on #1579
@ArmandGiraud  right on time #1558

[2019-10-29 08:07] lionelB commented on #1579
we probably should try to migrate to Tf (not TeamFortress) 2

[2019-10-29 08:23] lionelB opened #1584 "Bug report : outils prime de précarité"
Une exception quand on sélectionnes la CC 16 (non géré) et qu'on choisi le CDD

[2019-10-29 08:52] ClementChapalain commented on #1331
ok merci, du coup les toasts se superposent aujourd'hui ?

[2019-10-29 09:50] #1584 closed, assigned to lionelB

[2019-10-29 11:22] nkrmr commented on #1331
Dans les fiches oui pour le moment je vais m'occuper de fixer cela

[2019-10-29 12:58] ClementChapalain opened #1589 "Canonical urls"
aujourd'hui c'est une url au hasard qui est définie comme canonical par google et donc référencée sur le moteur de recherche

exemple avec la recherche :
"code du travail numérique fiche service public paiement du salaire"

qui renvoit vers l'url https://code-du-travail.beta.gouv.fr/fiche-service-public/paiement-du-salaire?q=Astreintes alors qu'elle devrait renvoyer vers https://code-du-travail.be

[2019-10-29 13:10] ClementChapalain commented on #1529
c'est fait ça d'après ce que tu disais hier @virginielastisneres ?

[2019-10-29 13:11] ClementChapalain commented on #1515
c'est fait ça non @virginielastisneres ?

[2019-10-29 13:17] virginielastisneres commented on #1515
yes il reste je crois juste les articles du code de la sécurité sociale.... est-ce que ca serait possible de les traiter différemment ou pas ?

[2019-10-29 13:18] virginielastisneres commented on #1529
je parlais des liens externes hier plutôt que des anciennes FAQ mais il me semblait qu'elles avaient été enlevées, non ? @revolunet @lionelB

[2019-10-29 14:15] lionelB opened #1590 "Empty result screen in preavis demission"
Selecting one of these ccn
- 0843 (Boulangerie)
- 2120 (Bnaque)

leads to a blank result page

after investigation it seems that some idcc situation are duplicate :/

[2019-10-29 14:34] revolunet commented on #1529
le grand nettoyage n'a pas encore été fait :/ cependant cela ne doit pas "géner". les entrées qu'on ne trouve pas ne doivent simplement pas s'afficher

[2019-10-29 16:20] nkrmr commented on #1331
Closed by #1588

[2019-10-29 16:20] #1331 closed, assigned to nkrmr

[2019-10-29 16:31] ClementChapalain commented on #1515
différemment dans quel sens ?

[2019-10-29 16:38] virginielastisneres commented on #1515
éviter qu'ils soient affichés comme cela
![image](https://user-images.githubusercontent.com/48682104/67788473-b2883f00-fa72-11e9-8dcf-0f3a900a76b4.png)

mais plutôt comme les articles du code du travail
![image](https://user-images.githubusercontent.com/48682104/67788534-cdf34a00-fa72-11e9-9e14-2f6a0c97614b.png)

Après si ce n'est pas possible, il faudra peut être les supprimer... j'ai pas encore

[2019-10-29 16:53] ClementChapalain commented on #1515
ok, il faudrait les avoir dans notre site je pense, en les récupérant via l'api dila (ping @revolunet) mais pour l'instant gardons les si c'est vraiment pertinent je pense

[2019-10-29 17:03] ClementChapalain commented on #1529
ok du coup c'est une tâche dev pour faire en sorte de ne pas prendre en compte ces résultats ?

[2019-10-30 11:41] revolunet commented on #1513
Afficher le contenu complet de la fiche

[2019-10-30 14:25] #1577 closed, assigned to revolunet

[2019-10-30 15:28] #1515 closed, assigned to nobody

[2019-10-30 17:11] ArmandGiraud commented on #1579
Unfortunately, we can't bump to tf 2.0 since this package does not allow backward compatibility, Sentence Piece also compatible only with tf 1.3. Might be solvable by compiling tensorflow from source. Might be worth waiting the  test of other frameworks.

[2019-10-30 17:19] revolunet commented on #1579
meanwhile can we make sure this container is not exposed directly but behind the API ?

[2019-10-30 19:55] #1590 closed, assigned to lionelB

[2019-10-31 10:05] lionelB opened #1601 "Ci release button is broken"
git is missing from our base image

[2019-10-31 10:14] #1601 closed, assigned to nobody

[2019-10-31 10:23] jrduscher opened #1602 "Outil Indemnité de licenciement: mise à jours des cas d'absences déductibles de plus d'un mois."
### Absences de plus d'un mois ( Indemnité légale)

![image](https://user-images.githubusercontent.com/37538697/67937892-b03af780-fbce-11e9-90fe-5d3e2e031ddb.png)

Retirer de la liste déroulante:
congé de solidarité familiale
 (L3142-12
 https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000033021983&cidTexte=LEGITEXT000006072050&dateTexte=20160810)
explication: "La durée de ce

[2019-10-31 10:25] jrduscher opened #1603 "Indemnité de licenciement : majorations et minorations dans la CCN Transports routiers"
Indemnité de licenciement.
Transports routiers: IDCC 0016

Le calcul actuel des cadres de plus de 60 ans pose plusieurs problèmes.
Pour mémoire, il existe une formule particulière pour l'indmeinté légale pour les cadres et des conditions de minoration du fait de l'atteinte de l'âge de la retraite, ainsi qu'une indemnité complémentaire.
TEST
https://docs.google.com/spreadsheets/d/1h2x9N1eM-0q0iwjRF

[2019-10-31 10:53] virginielastisneres opened #1605 "Amélioration Outil indemnité de précarité"
### **Je suis dans la convention collective des bureaux techniques IDCC 1486.**

A la question : "À la fin de votre CDD, vous a-t-on proposé un CDI ?" J'ai une liste déroulante pour répondre oui ou non.
![RYK](https://user-images.githubusercontent.com/48682104/67940587-47567e00-fbd4-11e9-8a7d-0f1f6491367a.png)

Par souci de cohérence, serait-il possible d'avoir à la place d'une liste déroulante de

[2019-10-31 11:05] virginielastisneres commented on #1605
Même problème concernant la **CC Organismes de formation IDCC 1516**, à la question "À la fin de votre CDD, avez-vous été immédiatement embauché en CDI ?"
![de](https://user-images.githubusercontent.com/48682104/67941731-969dae00-fbd6-11e9-95fe-577adb967331.png)

[2019-10-31 11:12] virginielastisneres commented on #1605
Même problème concernant la **CC Sport IDCC 2511**, à la question "À la fin de votre CDD, avez-vous été immédiatement embauché en CDI ?"
![fr](https://user-images.githubusercontent.com/48682104/67942241-b84b6500-fbd7-11e9-8841-d20712f07c93.png)

[2019-10-31 11:17] virginielastisneres commented on #1605
idem concernant la **CC Services à la personne IDCC 3127**, à la question "À la fin de votre CDD, avez-vous été immédiatement embauché en CDI, sans interruption, sur un même poste ou sur un poste différent ?"
![fez](https://user-images.githubusercontent.com/48682104/67942535-56d7c600-fbd8-11e9-9b83-9e8da80091cc.png)

[2019-11-01 10:42] revolunet commented on #1529
a verifier mais pour moi c'est deja le cas : les resultats nont trouvés ne s'affichent simplement pas

[2019-11-04 07:46] ClementChapalain commented on #1529
oui effectivement, je ferme en attendant de voir si on retombe sur ce bug

[2019-11-04 07:46] #1529 closed, assigned to nobody

[2019-11-04 08:31] ClementChapalain opened #1616 "Update glossaire"
Il y a eu des modifications sur le glossaire il faudrait le redéployer.

[2019-11-04 08:34] ClementChapalain opened #1617 "Doc fonctionnelle, data et technique"

[2019-11-04 08:47] ClementChapalain opened #1618 "Impression des pages de résultats des outils"
Sur tous les outils, il faudrait ajouter un bouton imprimer pour pouvoir imprimer simplement les résultats de la simulation.

Je propose de remplacer le bouton "recommencer une simulation" par un bouton "imprimer le résultat" en terme d'UI. En effet le bouton précédent permet déjà de revenir sur ses pas et de modifier les réponses que l'on a données. Et le cas de recommencer une simulation est en

[2019-11-04 09:22] ClementChapalain opened #1619 "New UI"
## Figma

https://www.figma.com/file/oph7JpLS74NJAiGbzyit95/CDTN-UI-BlueFinal

## Planning

### Week 1 - Nov 18th

- [x] Couleurs
- [x] Effets
- [x] Pictos monochromes
- [x] Typos
  - [x] Titres
  - [x] Contenus
  - [x] Liens
  - [x] Spécifiques
- [x] Boutons

### Week 2 - Nov 25th

- [x] Headers
- [x] Picto utilitaires
- [x] Footer

### Week 3 - Dec 2nd

- [x] Cartes
- [x] Composants de bas de pa

[2019-11-04 09:24] ClementChapalain opened #1620 "Wording neutre dans les outils"
## Indemnités de licenciement

Tous les wordings sont ici :
https://docs.google.com/spreadsheets/d/1LYOLavUb6EWZK3MdF3ttTA1dIVwM_6bzvNwWoMVZkic/edit#gid=917593741

## Prime de précarité

Tous les nouveau wordings sont ici :
https://docs.google.com/spreadsheets/d/1LYOLavUb6EWZK3MdF3ttTA1dIVwM_6bzvNwWoMVZkic/edit#gid=594158961

## Préavis démission, Préavis licenciement

Voir la feuille question du

[2019-11-04 10:06] lionelB commented on #1619
pic or it didn't happen

[2019-11-04 10:34] nkrmr commented on #1289
@ClementChapalain je voulais savoir ce qu'on fait concernant le choix de l'ancienneté du salarié entre le CDT et la CC?

[2019-11-04 10:54] revolunet commented on #1513
Lorsque l'on détecte une balise `<Content href="https://www.service-public.fr/particuliers/vosdroits/F1906"/>` dans le MDX de la contribution, il faudra :

 - "resolve" la fiche à recherche dans ES (qui est indéxée par slug)
 - récupérer le contenu de la fiche depuis ES et les fournir (via `getInitialProps`)
 - afficher avec le composant `FicheServicePublic` ou `FicheMT` selon le contenu

[2019-11-04 11:44] ClementChapalain commented on #1289
On peut utiliser les formulations suivantes :

CDT

CC

La deuxième phrase devrait être plus petite si possible, à la manière d'un sous titre sous la question. On peut faire des tests ensemble si tu es là aujourd'hui ou demain au bureau :)

Il faudrait aussi modifier le fil d'ariane avec les intitulés suivants stp (merci @jrduscher pour la proposition !) :
- Introduction
- Situation du salarié
- C

[2019-11-04 12:11] lionelB commented on #1289
est ce qu'on peut pas merger les propositions cdt / ccn dans un seul select et qu'on demanderai à la dernière étape ?
0-6mois / 6mois - 1an / 1an 2ans et on zappe 0- 1an dans les choix

[2019-11-04 13:11] #1541 closed, assigned to rmelisson, ArmandGiraud

[2019-11-04 13:14] ClementChapalain commented on #1540
Elastic choisi

[2019-11-04 13:14] #1540 closed, assigned to rmelisson

[2019-11-04 13:15] #841 closed, assigned to rmelisson, ArmandGiraud

[2019-11-04 13:15] #1542 closed, assigned to rmelisson

[2019-11-04 13:17] ClementChapalain opened #1623 "Move new suggestor to production"
cf. #1549

[2019-11-04 13:34] ClementChapalain opened #1624 "Logs de navigation dans Matomo"
Y a-t-il toutes les informations nécessaires dans les logs des visites de matomo ?

[2019-11-04 13:34] ClementChapalain opened #1625 "Log consolidation : JS script to transfer Matomo content to Elastic"

[2019-11-04 13:35] ClementChapalain opened #1626 "Analyse logs suggestions"

[2019-11-04 13:35] ClementChapalain opened #1627 "Analyse logs recherche"

[2019-11-04 13:49] nkrmr commented on #1289
@lionelB le problème est qu'aujourd'hui on peut difficilement faire de comparaison sur les intervalles d'ancienneté sachant qu'on a juste une réponse en texte. Il est prévu de mettre en place une colonne avec les différents intervalles dans un format nombre.

[2019-11-04 13:50] nkrmr commented on #1289
@ClementChapalain Ok je vais faire comme ça, j'avais vu déjà avec Jean-René concernant les nouveaux intitulés, c'est bien mieux comme ça.

[2019-11-04 13:53] ClementChapalain commented on #1289
ok top ! merci 🙏

Par rapport à ta question @lionelB, techniquement on pourrait je pense, mais ça nous oblige à faire un mapping entre les propositions (0-6, 6-12, 12-24, 24+) et les valeurs définies par la convention collective, ce qui ajoute de la complexité et de la maintenance. Comme dit Nico il faudrait qu'on fasse la comparaison avec des intervalles en format numérique, mais plus tard :)

[2019-11-04 15:40] Abdessamadyssf commented on #1589
De la doc pour vous aider : https://support.google.com/webmasters/answer/139066?hl=fr

[2019-11-04 15:51] Abdessamadyssf commented on #1482
Un peu de doc pour vous aider :
- https://www.webrankinfo.com/dossiers/techniques/url-et-referencement
- https://moz.com/learn/seo/url
- https://support.google.com/webmasters/answer/76329?hl=fr&ref_topic=9460495

[2019-11-04 16:28] rmelisson commented on #1625
During the day, user logs are saved into Matomo automatically : #1624
We then need to consolidate and store them into a specific Elastic instance.
It will require us to "redo" the ES request that were originally done by the user.
We propose to do that in JS, as a cron job.
On the long term, we'll need to ensure this ES logging instance is backed properly.

[2019-11-04 16:32] rmelisson opened #1631 "Consolidation des suggestions via analyse des logs"
En lien avec #1626 :
- enrichir la base de suggestion (crawl initial) par ce qui aura été "trouvé" dans les logs
- s'assurer que chaque suggestion retourne des résultats
- définir ici la stratégie de déduplication / check orthographique

[2019-11-04 16:40] ArmandGiraud commented on #1624
# Informations Importantes à collecter:

## Suggestion Logs:
Quels évènements à collecter sur les parcours utilisateur.
- [x] collecter un ou plusieurs prefix ayant généré des suggestions. (ex: dem - demi -démiss)
- [x] possibilité de logger les candidats
- [ ] trouver un mapping la requête sélectionnée (ou non) parmi ces candidats

## Search Logs:
- [x] search query en (text).
- [x] possibilité d

[2019-11-04 17:52] jrduscher commented on #1308
still here:
![image](https://user-images.githubusercontent.com/37538697/68144580-4acf6980-ff34-11e9-972e-b0af139f2b50.png)

[2019-11-05 11:29] ClementChapalain commented on #1589
il y a 3 solutions a priori :
- balise link rel = canonical dans l'en-tête (https://support.google.com/webmasters/answer/139066?hl=fr)
- sitemap (https://support.google.com/webmasters/answer/139066?hl=fr)
- bloquer l'indexation des urls avec paramètre de recherche (https://support.google.com/webmasters/answer/6080548?visit_id=637085475243056063-4210703339&rd=1)

pour la 3e je peux le faire tout se

[2019-11-05 12:49] ClementChapalain commented on #1589
j'ai activé la desindexation des urls avec le param `q`

[2019-11-05 14:00] rmelisson commented on #1623
Nous sommes en train de faire des changements sur le suggesteur, en vrac :

- Gestion de l’accentuation
- Fuzzy matching (fautes de frappe)
- Utilisation d’une pondération pour ordonner les résultats
- Cleaning des suggestions (déduplication, verification orthographique…)
- Infix suggestions (quand une suggestion match “au milieu”: ‘demi’ -> préavis demission)

Quelques limitations connues :
- Il

[2019-11-05 14:02] rmelisson commented on #1623
Pour tester :
http://357c8ff.code-du-travail-numerique.dev.factory.social.gouv.fr/

[2019-11-05 14:02] ClementChapalain commented on #1623
c'est top ! quelques suggestions qui ne paraissent pas pertinentes / avec des fautes :
- coiffeuse 76000
- 1 mois apres l'entretient disciplinaire-licenciment

[2019-11-05 14:18] mhavel commented on #1623
![image](https://user-images.githubusercontent.com/2303918/68215396-76f3f480-ffdf-11e9-91cb-8dfe63f0b358.png)

"belgique", "une personne" : pas top.

Mais sinon c'est rapide, très souvent pertinent et varié. Excellent

[2019-11-05 14:22] rmelisson commented on #1623
Je pense que domicile Belgique fait sens pour les personnes résidant en Belgique et travaillant en France.
Après ça concerne la liste initiale, on va corriger ça indépendamment :  #1631

[2019-11-05 14:38] virginielastisneres commented on #1623
Je n'ai pas le même résultat que je tape :
- licencement
- licencment
- ou licenciement

[2019-11-05 14:39] virginielastisneres commented on #1623
![image](https://user-images.githubusercontent.com/48682104/68217121-58dbc380-ffe2-11e9-8600-a5a5ddde9d0c.png)
suggestion pas très pertinente

[2019-11-05 14:41] virginielastisneres commented on #1623
bizarre ahah
![image](https://user-images.githubusercontent.com/48682104/68217310-ae17d500-ffe2-11e9-9d17-69945b8d0a1d.png)

J'en profite pour vous demander s'il est possible de faire correspondre syntec à la convention collective des bureaux techniques ? :)

[2019-11-05 14:52] lionelB commented on #1623
a voir si on introduit la gestion de synonyme

[2019-11-05 15:03] virginielastisneres commented on #1623
mise a pide ne donne pas la même chose que mise à pied

[2019-11-05 15:12] virginielastisneres commented on #1623
suggestion de mots avec des fautes d'orthographe
![j](https://user-images.githubusercontent.com/48682104/68219883-04871280-ffe7-11e9-9613-27896e65904e.png)

[2019-11-05 16:09] rmelisson opened #1641 "Interprétation des requêtes"
**Fonctionnalité**
En complément des suggestions, on peut aller plus loin que l'autocompletion des requêtes.
Par exemple on peut associer des synonymes à certains mots, pour utiliser un vocabulaire plus proche du métier lors de la requête, aussi, on pourrait essayer de matcher avec des questions toutes faites en utilisant une approche sémantique.
Dans ce cas, il faudrait certainement revoir l'UI d

[2019-11-05 16:11] rmelisson opened #1642 "Interprétation des requêtes dans le suggester"
**Fonctionnalité**
En complément des suggestions, on peut aller plus loin que l'autocompletion des requêtes.
Par exemple on peut associer des synonymes à certains mots, pour utiliser un vocabulaire plus proche du métier lors de la requête, aussi, on pourrait essayer de matcher avec des questions toutes faites en utilisant une approche sémantique.
Dans ce cas, il faudrait certainement revoir l'UI d

[2019-11-05 16:12] #1642 closed, assigned to rmelisson

[2019-11-05 16:13] rmelisson commented on #1623
@virginielastisneres  merci pour les retours :
- pour le cas des suggestions différentes entre les requêtes avec ou sans faute, c'est normal car l'entrée est différente, licencment == licenciement pour toi, mais le suggester cherche tous les parcours "à distance de faute", par exemple _licence_, donc c'est normal de ne pas avoir _exactement_ la même réponse
- aussi, il faut prendre en compte le 'p

[2019-11-05 16:31] virginielastisneres commented on #1623
super merci @rmelisson :)

[2019-11-05 16:50] ClementChapalain opened #1643 "Changer le wording de la bannière cookies et supprimer le tag hotjar"
Nouveau wording :
"Nous utilisons des cookies pour établir des mesures anonymisées de fréquentation et d’utilisation du site. [En savoir plus]()."

Pour respecter le RGPD il faut aussi virer le tag hotjar qu'on utilise plus de toute façon.

[2019-11-05 16:52] ClementChapalain opened #1644 "Wording bandeau cookies + supprimer tag hotjar"
Il faut supprimer le tag hotjat qu'on utilise plus de toute facon et changer le wording du bandeau cookies pour la formulation suivante :
"Nous utilisons des cookies pour établir des mesures anonymisées de fréquentation et d’utilisation du site. [En savoir plus]()"

[2019-11-05 16:53] ClementChapalain opened #1645 "Wording bandeau cookies + supprimer tag hotjar"
Il faut supprimer le tag hotjat qu'on utilise plus de toute facon et changer le wording du bandeau cookies pour la formulation suivante :
"Nous utilisons des cookies pour établir des mesures anonymisées de fréquentation et d’utilisation du site. [En savoir plus]()"

[2019-11-05 16:53] #1644 closed, assigned to nobody

[2019-11-05 16:53] #1645 closed, assigned to nobody

[2019-11-05 16:56] ClementChapalain commented on #1619
petite update de la part de Cécile :
- on aura d'ici la semaine prochaine les versions mobiles (+ desktop) de la HP et de la page de contenu
- elle va également nous partager sous peu le fichier Figma avec la bibliothèque de composants créés

[2019-11-05 17:11] UnbearableBear commented on #1619
Et le set d'icones / couleurs ? Avec ça j'aurais largement de quoi commencer à travailler

[2019-11-06 09:15] ClementChapalain commented on #1619
pour les icônes pas sur qu'on les ait, elle bossera plutôt dessus à la fin de sa mission quand le reste sera validé. en attendant on mettra des placeholders si c'est ok pour toi. les couleurs seront dans le figma.

[2019-11-06 09:22] revolunet commented on #1625
there is a logstash plugin that could poll visitors log and push it to ES : https://www.elastic.co/guide/en/logstash/7.4/plugins-inputs-http_poller.html

[2019-11-06 11:04] ClementChapalain commented on #1589
du coup je close cette tâche mais j'ai ajouté la tâche sur le sitemap à ajouter, j'ai l'impression que c'est assez important pour le référencement d'avoir un sitemap bien fait et à jour

[2019-11-06 11:04] #1589 closed, assigned to nobody

[2019-11-06 11:06] ClementChapalain commented on #1569
notre sitemap aujourd'hui : https://codedutravail.num.social.gouv.fr/sitemap.xml

Google nous indique qu'il contient beaucoup d'erreurs :
![image](https://user-images.githubusercontent.com/5337489/68293228-d4467f00-008d-11ea-8f01-5c9f52b08c91.png)
https://search.google.com/search-console/sitemaps/info-drilldown?resource_id=https%3A%2F%2Fcodedutravail.num.social.gouv.fr%2F&sitemap=https%3A%2F%2Fcod

[2019-11-06 11:12] ClementChapalain commented on #1569
\+ @lionelB pour info

[2019-11-06 11:16] revolunet commented on #886
il reste es choses à faire @jrduscher  ?

[2019-11-06 13:40] Abdessamadyssf opened #1651 "[Matomo] Problème avec les données des campagnes de tracking"
Actuellement, les données des campagnes de tracking (?pk_campaign) ne remontent pas dans Matomo.

@revolunet

[2019-11-06 13:42] jrduscher opened #1652 "Nouvelle UI pour le contact des SR"
# Footer

## Titre

Besoin de plus d'informations ?

## Wording bouton

Contacter nos services en région

## Wording description sous le bouton

Les services du ministère du Travail en région informent, conseillent et orientent les salariés et les employeurs du secteur privé sur leurs questions en droit du travail.

# Modale

## Numéro

### Titre

Contact téléphonique

### Numéro

0 806 000 126 Se

[2019-11-06 15:21] ArmandGiraud commented on #1437
Ok il suffit de mettre un pourcentage de match plus élevé:
ici on était à match si > 80%
distance("indemnité fin de contrat",  "indemnité de fin de contrat cdd") = 85

on peut passer à 90 voir 95%
ce qui va limiter à une lettre de différence maximum.

@lionelB avait suggérer d'utiliser Elasticsearch plutôt qu'une librairie javascript.
c'est toujours d'actualité?

[2019-11-06 15:26] ClementChapalain commented on #1576
je viens de voir la page, on gagnerait à avoir un spinner quand le simulateur n'est pas encore visible aussi, sinon on a un peu l'impression que la page est vide pendant quelques secondes

[2019-11-06 15:29] lionelB commented on #1569
localhost:3000 T_T mais naaan

[2019-11-06 15:32] lionelB commented on #1625
@rmelisson to avoid redoing the request we need to investigate a way to send to matomo the results source+slug when a site search is performed
same for the suggestion, we could try to send the suggest list  to matamo

[2019-11-06 15:41] ArmandGiraud commented on #1394
concernant les liens vers les sous-documents je pensais plutôt au discret [aller à](https://docs.docker.com/compose/production/#running-compose-on-a-single-server) correspondant à un lien rapide vers la sous-section matchée par le moteur.

--
![image](https://user-images.githubusercontent.com/22575341/68312871-fce16f80-00b3-11ea-868a-a1f0e80f96ec.png)

[2019-11-06 15:45] ArmandGiraud commented on #1625
Not sure what this functionality is doing 🤔

[2019-11-06 15:47] ClementChapalain commented on #1394
ah oui c'est cool comme fonctionnement effectivement, mais si qqun cherche "démission" on ne peut pas matcher des sous-documents

[2019-11-06 15:51] virginielastisneres opened #1655 "Bug report sur navigateur IE11"
Pas beau !

![image](https://user-images.githubusercontent.com/48682104/68313848-8e9dac80-00b5-11ea-995a-fd62c20f6780.png)

[2019-11-06 15:54] UnbearableBear commented on #1394
Alors juste pour être clair, si on split la fiche pour la recherche, on ne matchera jamais le document en "entier" !

[2019-11-07 08:55] ClementChapalain commented on #1394
oui, on dit juste qu'on pourrait faire en sorte que le front affiche le doc avec le lien vers le sous-doc comme l'exemple google que armand montre

[2019-11-07 09:10] UnbearableBear commented on #1394
Je fais une version minimaliste dans un premier temps et on en reparle mercredi jeudi vendredi de la semaine pro quand je suis dans les locaux ! Le split des fiches SP mérite une petite reflexion aussi !

[2019-11-07 09:16] ClementChapalain commented on #1394
ok, effectivement dans cette tâche on se concentre là dessus :

[2019-11-07 10:35] revolunet commented on #1513
cf également PR #1660

[2019-11-07 10:36] revolunet commented on #1513
Bonus point si tu arrives à faire marcher le mdx avec des composants html "custom" :) echec de mo côté

[2019-11-07 12:38] nkrmr commented on #1289
Closed by #1656

[2019-11-07 12:38] #1289 closed, assigned to nkrmr

[2019-11-07 17:25] revolunet opened #1665 "[search]: show description for contributions results too"
Dans la liste des résultats de recherche, ajouter le début de la réponse (qui doit se trouver dans `_source.answers.generic.markdown`)

<img width="736" alt="Capture d’écran 2019-11-07 à 18 24 50" src="https://user-images.githubusercontent.com/124937/68412086-ee668700-018b-11ea-82bc-d46b7c240b5f.png">

[2019-11-07 21:28] lionelB commented on #1665
on pourrait remplir le champ description, utilisée aussi pour le meta description de la page.

[2019-11-07 21:42] UnbearableBear commented on #1665
Il faudrait même, dans les resultats de recherche c'est lui et exclusivement lui pour le moment qui est utilisé à cette fin !

[2019-11-08 09:48] revolunet opened #1670 "[track] track click on "return to results""
see https://github.com/SocialGouv/code-du-travail-numerique/pull/1669#issuecomment-551448324

[2019-11-08 09:55] Abdessamadyssf commented on #1482
Pistes d'explorations :
- Checker unicité des slug
- Token dynamique avant le contenu : Thème parent (voir les check à faire au niveau de l'API sur ce token dynamique en fonction du type de contenu récupéré via le slug qui suit - je ne sais pas si c'est très clair)
- Modif au niveau de l'API pour avoir la nouvelles route et au niveau du front pour l'utiliser et factoriser toutes les pages avec `[s

[2019-11-08 09:59] UnbearableBear commented on #1482
J'ai modifié quelques pétouilles dans ton récap !

[2019-11-08 11:15] nkrmr commented on #1513
Si je comprends bien on va avoir plusieurs URL avec du contenu similaire entre les fiche service public ou ministère du travail et la fiche contribution qui va extraire le contenu de ces dernières.
Il y a un risque de "duplicate content" sur le référencement

[2019-11-08 13:13] ClementChapalain commented on #1513
si  il faudra qu'on vire les fiches sp et mt car elles ne serviront plus en fait après, mais on fait ça dans un deuxième temps

[2019-11-08 14:13] ClementChapalain commented on #1618
Autre possibilité évoquée durant le planning : avoir une bouton "exporter" et non "imprimer" qui créerait un PDF que l'usager pourrait ensuite imprimer.

De mon point de vue les deux sont ok, faisons le plus simple techniquement :)

[2019-11-08 14:16] ClementChapalain commented on #1308
ping @UnbearableBear la mention "modele de courrier fournis par vos services [...]" est toujours là

[2019-11-08 14:17] lionelB commented on #1513
est ce que tu peux préciser, tu parles des supprimer les d'ou ?

[2019-11-08 14:26] ClementChapalain commented on #1512
quelques retours sur la pr :
- il y a un scroll vertical dans les articles du CDT dans la description
- je pense qu'on devrait limiter le nombre de résultats de la première section à 5, là ça fait beaucoup de scroll je trouve
- pour info le dernier bouton "découvrir le droit du travail" on préfère ne pas le mettre, notamment car le contenu n'a pas été validé par la DGT encore

c'est trop cool en t

[2019-11-08 14:33] ClementChapalain commented on #1513
Si on récupère 100% de leur contenu pour la partie générique d'une page contribution, on aura plus besoin de les afficher en tant que telles. Si on continuait à les afficher ça nous ferait une page avec la fiche + les contributions en dessous, et une autre page avec uniquement la fiche.

Mais c'est pas essentiel vu que ça concerne que quelques fiches (moins de 10) et que ça ne crée pas réellement

[2019-11-08 14:41] ClementChapalain commented on #1512
autre remarque : pourquoi on a pas toujours 5 thèmes qui ressortent ? par exemple avec "démission" ou "13e mois" ou "test absurde" ?

[2019-11-08 14:42] ClementChapalain commented on #1512
aussi, les liens vers les thèmes ne fonctionnent pas mais c'est p-e lié à la version de test (j'ai un message "widget non disponible")

[2019-11-08 14:46] virginielastisneres commented on #1512
je rejoins clément sur les 2 premiers retours. Il faut limiter le nombre de résultats, quitte mettre une action "charger plus de résultats" ou quelque chose comme cela.

Il y a une chose qui me chagrine un peu c'est le placement des articles du code du travail par rapport aux autres résultats. Je ne mets pas les thèmes dedans car c'est plutôt des rebonds.
Du fait qu'il n'y a pas la même largeur po

[2019-11-08 14:48] ClementChapalain opened #1672 "Les modèles de courrier se proposent eux-mêmes en contenu annexe"
https://code.travail.gouv.fr/modeles-de-courriers/modele-demande-de-paiement-de-salaire

![image](https://user-images.githubusercontent.com/5337489/68485176-14992f00-023f-11ea-8ab4-9924a74d3900.png)

[2019-11-08 14:49] ClementChapalain commented on #1308
et la mention modèle de courrier est aussi encore visible...

![image](https://user-images.githubusercontent.com/5337489/68485252-414d4680-023f-11ea-80f3-b7e1846bc005.png)

[2019-11-08 14:50] lionelB commented on #1672
should  fixed by #1671 http://08e1bff.code-du-travail-numerique.dev.factory.social.gouv.fr/modeles-de-courriers/modele-demande-de-paiement-de-salaire

[2019-11-08 14:50] ClementChapalain commented on #1512
Je suis d'accord le design est pas parfait @virginielastisneres (je suis coupable là dessus) mais concentrons plus plutôt sur le fonctionnel sachant que ça va être rechangé bientôt avec les nouvelles maquettes si c'est ok pour toi

[2019-11-08 14:54] lionelB commented on #1512
la récupération des themes se base pour l'instant dans le titre du theme et les titre dans son fils d'ariane (ses parents)  je veux bien des exemples de theme à remonter pour voir comment orienté la recherche

[2019-11-08 14:56] virginielastisneres commented on #1512
Yes ;) Si c'est rechangé avec les nouvelles maquettes c'est good pour moi @ClementChapalain !

[2019-11-08 14:58] virginielastisneres commented on #1512
Petite question, s'il n'y a pas écrit de thème sur la fiche c'est que la fiche n'a pas été thémée ?
![image](https://user-images.githubusercontent.com/48682104/68485948-7017ec80-0240-11ea-88c8-3fcdb82c4e45.png)

[2019-11-08 14:58] lionelB commented on #1512
oui

[2019-11-08 14:59] virginielastisneres commented on #1512
thanks @lionelB (déso d'avoir dérangé avec ca :) )

[2019-11-08 15:00] ClementChapalain commented on #1512
ah ok, du coup on peut pas faire de recherche sémantique dessus ? sinon on pourrait p-e faire des recherches dans les documents de ces thèmes mais bon ça parait compliqué, donc si c'est pas possible gardons comme ça c'est déjà une grosse avancée. et on pourra voir avec les eig pour faire mieux plus tard.

[2019-11-09 00:08] renovate[bot] opened #1675 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/SocialGouv/code-du-travail-numerique).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a ch

[2019-11-12 09:21] ClementChapalain commented on #1569
Pour info ce serait vraiment bien de le faire rapidement, car google galere à explorer toutes les pages de code.travail.gouv.fr sinon j'ai l'impression. Je suis dispo si besoin de plus d'informations, ou pour en discuter si c'est trop long à faire.

[2019-11-12 09:25] lionelB commented on #1569
@ClementChapalain pas spécialement long :) je m'en occupe

[2019-11-12 09:26] ClementChapalain commented on #1569
merci beaucoup !

[2019-11-12 09:27] UnbearableBear commented on #1569
Ca va beaucoup changer avec le refacto des url, ne pas oublier de le mettre à jour après

[2019-11-12 09:53] lionelB commented on #1569
@manu_c dans l'idée, je pensais builder le sitemap.xml sur la ci est l'intégrer à l'image frontend en me basant sur la commande dump

[2019-11-12 09:57] UnbearableBear commented on #1569
Du coup le sitemap sera à l'image de la data (si je ne dis pas de bêtise) mais est-ce que ça refletera bien le "plan du site" tel que google l'attend probablement ? On ne devrait pas faire quelque chose de basé sur le dossier `pages`du front plutôt ?

[2019-11-12 11:42] lionelB commented on #1569
dans l'idée on build ca depuis le container front, et normalement à partir de data + les pages on a tout

[2019-11-12 13:32] ClementChapalain commented on #1482
Merci beaucoup pour le recap et l'estimation ! Pour estimer l'impact SEO ça va être assez compliqué donc on va p-e déprioriser cette tâche d'ici le 1er janvier

[2019-11-12 13:35] ClementChapalain opened #1686 "www.code.travail.gouv.fr ne marche pas"
devrait rediriger vers code.travail.gouv.fr

[2019-11-12 13:40] ClementChapalain opened #1687 "Proposition d'articles connexes : une page ne marche pas"
Pour reproduire, aller sur https://code.travail.gouv.fr/fiche-service-public/rupture-conventionnelle-dun-cdi et cliquer sur le premier article proposée dans la colonne de droite (Rupture conventionnelle d'un CDI) :
![image](https://user-images.githubusercontent.com/5337489/68676373-3144a800-055a-11ea-8917-78e35864b0c0.png)

Autre cas référencé par @virginielastisneres :
https://code.travail.gouv.f

[2019-11-12 13:43] ClementChapalain opened #1688 "Simulateurs : ouvrir les sources dans un nouvel onglet"
Les sources renvoient vers legifrance le plus souvent, il est donc plus logique de les ouvrir dans un nouvel onglet.

![image](https://user-images.githubusercontent.com/5337489/68676629-bd56cf80-055a-11ea-9c35-5d20ef9ac5cf.png)

[2019-11-12 14:13] UnbearableBear commented on #1688
Je suis d'accord parce que sinon il risque de perdre son résultat mais je serais plutôt d'avis de faire en sorte qu'on garde le resultat dans la sessions ou quelque chose dans le genre plutôt que d'ouvrir tous les liens dans un nouvel onglet. Ne serait-ce que sur mobile, ça peut-être assez contraignant d'avoir plusieurs onglets ouvert plutôt que de juste cliquer puis de faire retour

[2019-11-12 14:18] UnbearableBear commented on #1687
Humm le bug bien obscure, je prends.

[2019-11-12 14:38] ClementChapalain commented on #1687
sprint 30 @UnbearableBear il reste d'autres trucs dans le 29 :)

[2019-11-12 15:58] #1512 closed, assigned to lionelB

[2019-11-12 15:58] #1616 closed, assigned to lionelB

[2019-11-12 16:00] ClementChapalain opened #1690 "Thémer les fiches MT unifiées"
## sprint 29

- [x] ajouter un espace avant les 2 points dans les résultats de recherche
![image](https://user-images.githubusercontent.com/5337489/68687507-93f36f00-056d-11ea-86ed-ebd96ac0617e.png)

- [x] ajouter les contenus recommandés sur la colonne de droite

## sprint 30

- [ ] thémer les fiches unifiées (en attente d'une amélioration du data filler par @revolunet)

[2019-11-12 16:16] lionelB commented on #1688
@UnbearableBear je propose qu'on ouvre en nouvelle page, tant qu'on a pas gérer la persistance / back navigateur

[2019-11-13 14:03] UnbearableBear commented on #1618
Recap du RAF (reste à faire):

- Masquer tous les boutons et les champs de formulaires lors du print (à rajouter dans l'UI)
- Masquer la search
- Récupérer tous les `<summary>` dans "#main" qui n'ont pas l'attribut open et faire un `.click()` dessus pour les ouvrir.
- `window.print()`

[2019-11-13 14:32] ClementChapalain commented on #1617
https://docs.google.com/document/d/1gUxp449nPrH56JT83M_W0zUFYGykLEbyFtuSmca9e5Y/edit#heading=h.rbru1et2eloq

[2019-11-13 14:32] #1617 closed, assigned to revolunet, ClementChapalain

[2019-11-14 10:47] lionelB commented on #1618
il existe un prop pour ouvrir / fermer les summary
[code]

[2019-11-14 15:54] rmelisson commented on #1631
Création d'un pipeline d'update des suggestions possibles grâce aux logs d'utilisation:

depuis le fichier actuel. (insérer les titres de fiches)
deduplication/spell-check
call elastic pour éliminer les recherches sans résultats
mise à jour des weights & nouvelle entrée si ça n'existe pas
écrire quelques stats (nouvelles entrées) + url nouveau fichier.
pousser le nouveau ficher sur azure Blob.
upd

[2019-11-14 15:55] rmelisson commented on #1626
Publier métriques d'utilisation du suggester.

[2019-11-14 15:55] rmelisson commented on #1627
Publier métriques de performance de la recherche.

[2019-11-14 20:08] #1569 closed, assigned to lionelB

[2019-11-14 20:31] lionelB commented on #1624
@ArmandGiraud est ce que tu peux jeter un oeil et (dé)cocher les cases qui te paraissent ok, j'avais un doute sur certaines.

[2019-11-15 08:08] ClementChapalain commented on #1569
merci !

[2019-11-15 08:17] ClementChapalain commented on #1672
👍

[2019-11-15 09:06] ClementChapalain commented on #1308
ping @UnbearableBear

[2019-11-15 09:18] ClementChapalain commented on #1394
vu avec @revolunet, to do pour le data filler :
- [x] dans la partie contenus à thémer, on affiche les documents
- [ ] dans la partie thèmes, on (avec @jrduscher et @virginielastisneres) va repasser dessus pour faire en sorte d'afficher les urls des docs et pas des sous-docs
- [ ] dans le CDTN, on affiche dans les thèmes tous les sous-docs d'un doc avec le thème correspondant

[2019-11-15 13:31] lionelB commented on #1623
@ClementChapalain  on peut fermer puisque la PR #1549 à été mergé ?

[2019-11-15 13:34] ClementChapalain commented on #1623
oui !

[2019-11-15 13:34] #1623 closed, assigned to rmelisson

[2019-11-18 07:15] lionelB commented on #1670
closed by #1708

[2019-11-18 07:15] #1670 closed, assigned to lionelB

[2019-11-18 07:56] #1394 closed, assigned to UnbearableBear, ArmandGiraud

[2019-11-18 08:52] ClementChapalain commented on #1690
ce qu'il faut faire pour le data-filler :
https://github.com/SocialGouv/code-du-travail-numerique/issues/1394#issuecomment-554279411

[2019-11-18 11:03] nkrmr opened #1724 "Récupération des contenus MT dans les contributions"
Pour certaines contributions, la réponse générique est traitée dans une fiche service public ou ministère du travail. Dans le markdown de la réponse générique, ceci est indiqué par une balise du type <content href=""/> avec l'url du contenu sur le site correspondant (service public ou ministère du travail).

Il faut donc faire en sorte que lorsqu'on détecte cette balise dans les réponses générique

[2019-11-18 14:00] revolunet commented on #1505
(intégré dans la dernière version du datafiller)

[2019-11-18 15:10] #1624 closed, assigned to ArmandGiraud

[2019-11-18 16:33] ClementChapalain opened #1730 "Feedbacks contributions"
2 feedbacks à traiter pour les contributions :

1. Dans la contribution https://code.travail.gouv.fr/contribution/combien-de-fois-le-contrat-de-travail-peut-il-etre-renouvele le content devrait être dans le premier accordéon CDD, mais il apparait au début de la réponse

2. Dans les contributions, les content qui ont des accordéons, par exemple https://code.travail.gouv.fr/contribution/quelle-est-l

[2019-11-18 16:37] #1308 closed, assigned to UnbearableBear

[2019-11-18 16:37] #1620 closed, assigned to UnbearableBear

[2019-11-18 16:38] #1513 closed, assigned to nkrmr

[2019-11-18 16:55] rmelisson opened #1731 "[search] Datafiller : matching requête utilisateur / entrée Datafiller"
Le lien entre une requête utilisateur et une entrée dans le datafiller est pour le moment très rigide (exact match).
Ça serait utile de faire un match plus interessant :
- avec un peu de fuzzy matching
- en utilisant Elastic (more like this / phrase matching...)
- en utilisant la proximité sémantique

Ce comportement pourrait être construit de manière à être étendu aux requêtes non datafiller (voi

[2019-11-18 16:58] jrduscher opened #1732 "Suppression d'un doublon fiche SP"
https://code.travail.gouv.fr/fiche-service-public/contrat-de-travail-temporaire-interimaire
https://code.travail.gouv.fr/fiche-service-public/contrat-de-travail-temporaire-interim

Le premier renvoie à une fiche qui ne semble plus sur service-public.fr.
le premier pargraphe copié collé sur google renvoie des matchs CDTN.
Fiche à supprimer ou màj des fiches S-P à faire?

Précisions: aujourd'hui l'a

[2019-11-18 17:18] virginielastisneres opened #1733 "Bug Fiche ministère du travail lien bizarre"
**DESCRIPTION DU BUG**

Lien bizarre dans la fiche ministère du travail sur la rupture conventionnelle =>
https://code.travail.gouv.fr/fiche-ministere-travail/la-rupture-conventionnelle-du-contrat-de-travail-a-duree-indeterminee?q=puis-je%20travailler%20pendant%20une%20rupture%20conventionnelle#Un-recours-juridictionnel-est-il-possible
![image](https://user-images.githubusercontent.com/48682104/69

[2019-11-18 17:53] lionelB commented on #1732
les 2 contenus existent
- le premier renvoi sur https://www.service-public.fr/professionnels-entreprises/vosdroits/F11215
- le deuxieme sur https://www.service-public.fr/particuliers/vosdroits/F11215

il font choisir qui l'on garde (ou si l'on garde les 2)

[2019-11-19 08:35] #1665 closed, assigned to lionelB

[2019-11-19 08:42] lionelB opened #1741 "[architecture] preparation à la migration ElasticCloud"
Afin de préparer la migration sur elasticloud, nous avons besoin préalablement d'externaliser l'utilisation ES et re-architecturer le service afin de supporter le fonctionnement pour le déploiement d'environnements multiples (dev, branche, prod)
- [x] use external elastic instance #1753
- [x] allowing secret user / pasword / url  #1753
- [ ] perf monitoring using jmeter
- [ ] extract synonyms and

[2019-11-19 09:21] jrduscher opened #1742 "ajout et suppression de fiches ministère et articles"
### fiches récentes
- https://travail-emploi.gouv.fr/actualites/l-actualite-du-ministere/article/5-questions-reponses-sur-le-passage-a-temps-partiel

 cette fiche enregistrée comme article a le format des fiches ministères. En outre elle apporte une réponse explicite à une question posée en tests avec les M2, sur le refus du temps partiel par l'employeur.

- https://travail-emploi.gouv.fr/droit-du

[2019-11-19 10:00] revolunet commented on #1437
see #1731

[2019-11-19 10:00] #1437 closed, assigned to mhavel, ArmandGiraud

[2019-11-19 10:02] jrduscher opened #1744 "bugs d'affichage remontés par les M2 Droit Social"
### outil de recherche CCN.
Sur mobile: les intitulés de résultats , comme les nom des entreprises sont tronqués.  (ex : « Dassault » renvoie plusieurs occurrences « Dassault… » sans plus d’info).
Ce qui amène une difficulté pour choisir un etablissement ou trouver sa ccn sur mobile.

### - outil d'indemnité de licenciement :
 Avec Edge titres collés sur la page résultat,

### -fiches SP: affichag

[2019-11-19 11:01] revolunet commented on #1394
détail des corrections sur le datafiller : https://gist.github.com/revolunet/75adab4010ddc26a6c9951a2b7f464da

[2019-11-19 11:04] lionelB opened #1745 "Bug report : wrong sitemap url"
**Description**

sitemap urls use are not correctl. it should use `getRouteBySource(source)`

[2019-11-19 11:04] ClementChapalain opened #1746 "Sitemap : use dashes and not underscores in urls"
https://code.travail.gouv.fr/code-du-travail/l2234-4

and not

https://code.travail.gouv.fr/code_du_travail/l2234-4

[2019-11-19 11:05] lionelB commented on #1745
duplicate of #1746

[2019-11-19 11:05] #1745 closed, assigned to nobody

[2019-11-19 13:25] ClementChapalain commented on #1690
suite à notre discussion :
- [x] faire en sorte que thémer 1 sous-doc MT = thémer tous les sous-docs MT
- [x] reset les thèmes de toutes les fiches MT
- [x] passer par la partie contenus à thémer pour re-thémer toutes les fiches MT
- [x] faire une passe sur les thèmes via la partie thèmes pour s'assurer du tri et de la cohérence des thèmes

ping @revolunet @jrduscher @virginielastisneres

[2019-11-19 13:31] UnbearableBear commented on #1690
@nkrmr tu devrais suivre ça de près avant de faire la mise à jour des fiches !

[2019-11-19 13:34] ClementChapalain opened #1747 "Faute d'orthographe"
https://github.com/SocialGouv/code-du-travail-numerique/blob/57b9c399f1f5ef6e7e6344396e843181320f8408/packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js#L65

avais -> avez

[2019-11-19 13:36] jrduscher commented on #1690
+1

[2019-11-19 14:04] revolunet opened #1749 "Bug IE11 CCN picker"
Exemple dans l'outil de précarité vu sur la prod :

 - difficultés pour séléctionner la CC
 - une fois la CC séléctionnée, l'écran alterne de "pas de CC" à "réponse de la CC séléctionnée".

très bizarre 🤔

[2019-11-19 14:14] revolunet commented on #1749
Passage perfs timeline à prévoir

[2019-11-19 14:43] virginielastisneres opened #1750 "[outils] Bug affichage IE11"
**Description**
Sur IE11 dans la page résultat de l'outil de licenciement j'ai sur la même ligne "Voir le detail du calcul" et "Élements saisis :"
![image](https://user-images.githubusercontent.com/48682104/69155547-349fdc80-0ae2-11ea-8a82-e174748d0384.png)

Éléments saisis devrait apparaître en dessous de Voir le détail du calcul
Comme cela
![image](https://user-images.githubusercontent.com/48682

[2019-11-19 14:47] #1747 closed, assigned to nobody

[2019-11-19 15:17] jrduscher commented on #1750
Avec Edge également #1744

[2019-11-19 16:43] virginielastisneres opened #1751 "Changements orthographe et wording sur tout le site"
### Description
Je vous propose de centraliser dans cette tâche toutes les fautes d’orthographe repérées sur le site.
Je vous laisse le soin de modifier/éditer la tâche :)

### Home page

- [x] "Recherchez par mots clefs" à remplacer par "Recherchez par mots-clés"

- [x] "Ex : durée du préavis, indémnité de licenciement" à remplacer par "congés payés, durée du préavis..."

**Nouvelles cartes outil

[2019-11-19 17:18] jrduscher opened #1752 "Erreur dans la formule de calcul de l'indemnité de licenciement pour la chimie"
### IDCC 0044: Industries chimiques

### Base de calcul:
retenu aujourd'hui pour les non-cadres,
max(moyenne des salaire des 12 derniers mois, moyenne salaire des 3 derniers mois)
(erreur dans la spec de base)
doit être retenu, pour les cadres et les non cadres:

max(dernier mois, moyenne 12 derniers mois)

_"rémunération perçue pendant le mois précédant le départ, sauf gratifications de caractère

[2019-11-19 17:55] virginielastisneres opened #1754 "Bug "Avez-vous trouvé la réponse à votre question ?""
**Description**
Sur IE11 : il est impossible pour l'utilisateur de cliquer sur Oui ou Non...
Sur Chrome, Edge et Firefox, il est possible de cliquer sur Non. Toutefois, il n'est pas possible pour l'utilisateur de choisir autre chose que "les informations proposées ne sont pas à jour". J'ai beau cliquer ca me laisse "les informations proposées ne sont pas à jour".

![1](https://user-images.githubus

[2019-11-19 18:17] jrduscher opened #1755 "navigation par thème:"
bug d'affichage.

navigation par thème: C2P.
problème suivant:
![image](https://user-images.githubusercontent.com/37538697/69173880-fa920300-0b00-11ea-9118-77ff1933486a.png)
https://code.travail.gouv.fr/themes/623-compte-professionnel-de-prevention-c2p

[2019-11-20 13:16] jrduscher opened #1761 "Bug d'affichage fiche MT : toute la fiche est dans l'intro car pas de H3"
bug d'affichage sur une fiche MT:

Le chapeau sur la fiche d'origine contient une phrase seule:
![image](https://user-images.githubusercontent.com/37538697/69241966-30d28f80-0ba0-11ea-924f-03c23c160eaf.png)

Sur le CDTN, il englobe une partie toute une partie de la fiche:
![image](https://user-images.githubusercontent.com/37538697/69242029-4e9ff480-0ba0-11ea-8ccc-c56c09ab4642.png)

Pour voir la fi

[2019-11-20 14:06] UnbearableBear commented on #1761
C'est embêtant parce que tant que l'on n'a pas de titre, on considère que l'on est encore à l'introduction (avec la manière dont on fonctionne aujourd'hui). @jrduscher Est-ce que tu pourrais faire une passe sur plus de fiches pour regarder le diff entre la manière dont on les affiche sur le CDTN et les originales ? Il pourrait y avoir bien plus de surprises que ce que tu as repéré !

[2019-11-20 22:54] revolunet opened #1770 "Parser les fiches MT avec structure basique sans H3"
Vu à la mise à jour des thèmes :

Certaines fiches MT ne sont pas récupérées donc pas indexées car elles ont une structure très basique (pas de H3)

C'est le cas pour plusieurs de celles-ci :

- [Conventions nationales de lutte contre le travail illégal](https://travail-emploi.gouv.fr/droit-du-travail/lutte-contre-le-travail-illegal-10802/article/conventions-nationales-de-lutte-contre-le-travail-i

[2019-11-20 23:09] UnbearableBear commented on #1770
En corrélation avec #1761

[2019-11-20 23:13] revolunet commented on #1770
A discuter : doit-on indexer également la version "root" d'une fiche : par exemple quand on affiche un theme ce serait p-e mieux de n'avoir que la fiche principale plutôt que les 5 sous-categories de la même fiche

[2019-11-21 07:13] UnbearableBear commented on #1770
Ce devrait pas être top dur à régler, il suffit de prendre en compte aussi le contenu avant le premier H3 (et de ne pas en faire un accordéon).
En ce qui concerne la version "root" je ne pense pas que ce soit necessaire. @ClementChapalain Proposait d'avoir un truc à la google ou l'on aggrégerait les sous fiches dans un seul résultat qui laisse le choix à l'utilisateur si l'on a plusieurs sous fich

[2019-11-21 09:17] revolunet commented on #1746
fixed in #1769

[2019-11-21 09:17] #1746 closed, assigned to lionelB

[2019-11-21 09:17] revolunet commented on #1742
quelles suppressions @jrduscher ?

[2019-11-21 09:22] revolunet commented on #1730
ping @nkrmr pour le bug de la fiche hors de l'accordeon. a voir ce que ca va donner niveau "ux" une fiche dans un accordeon

[2019-11-21 09:24] rmelisson commented on #1731
en JS directement, on pourrait utiliser ça : https://www.npmjs.com/package/fuzzball

[2019-11-21 09:25] nkrmr commented on #1730
@revolunet  Ça marche bien il faut juste descendre la police des titres des sous-accordéons pour que ce soit plus lisible. Je suis en train de push une première version

[2019-11-21 09:26] rmelisson commented on #1731
250 queries datafiller avec +/- 10 declinaisons

[2019-11-21 09:37] revolunet commented on #1742
NB : suppression de cette fiche qui n'existe plus : https://travail-emploi.gouv.fr/formation-professionnelle/droit-a-la-formation-et-orientation-professionnelle/article/moncompteactivite-gouv-fr

[2019-11-21 09:42] revolunet commented on #1651
fixed in #1708

[2019-11-21 09:42] #1651 closed, assigned to nobody

[2019-11-21 09:49] UnbearableBear commented on #1730
Attention avec la taille de police de titre dans l'accordéon, bientôt elle ne sera plus aussi "libre" vu que l'on n'aura plus que trois niveaux de titres. Est-ce qu'un décalage vers la droite (une sorte de tabulation par niveau) pourrait avoir le même rôle ? On pourra affiner ça plus tard quoi qu'il en soit !

[2019-11-21 09:54] revolunet opened #1777 "[typo] fix trailing 0 in UI"
![Image collée à 2019-11-21 10-29](https://user-images.githubusercontent.com/124937/69327131-48b41d00-0c4d-11ea-811c-b0f84b36df1e.png)

cc @June-law

[2019-11-21 10:00] revolunet commented on #1730
aperçu ici : http://c7ebe4d.code-du-travail-numerique.dev.factory.social.gouv.fr/contribution/combien-de-fois-le-contrat-de-travail-peut-il-etre-renouvele

[2019-11-21 10:05] nkrmr commented on #1730
@UnbearableBear  Je l'ai baissé avec du styled pour le moment

[2019-11-21 10:28] rmelisson opened #1779 "[suggestion] periode d'essai"
Comportement bizarre observé dans les logs :
![Screenshot 2019-11-21 at 11 27 27](https://user-images.githubusercontent.com/752778/69329759-fa554d00-0c51-11ea-952f-a7d4febe1eea.png)
![Screenshot 2019-11-21 at 11 27 32](https://user-images.githubusercontent.com/752778/69329761-faede380-0c51-11ea-9dcb-1d3e58c1dfbf.png)

[2019-11-21 10:28] rmelisson commented on #1779
aussi la deduplication ne semble pas ok

[2019-11-21 11:23] #1777 closed, assigned to nobody

[2019-11-21 11:23] #1643 closed, assigned to nobody

[2019-11-21 11:37] revolunet commented on #1731
174 requetes déclinées en 2963 variantes

fichier dump ici : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/datafiller/prequalified.data.json

[2019-11-21 16:07] jrduscher opened #1781 "Préavis de licenciement : bug lorsque la CC n'est pas traitée"
voir aussi ma #1792 qui évoque d'autres points de disclaimer

# element bloquant: erreur juridique avec CC non traitée.

Aujourd'hui l'user d'une CC non traitée n'est en possession d'aucune donnée, et pourrait en déduire qu'aucune durée de préavis de licenciement n'est prévue dans son cas.

![image](https://user-images.githubusercontent.com/37538697/69354526-8c744a00-0c80-11ea-8748-bad7e0faa18e.pn

[2019-11-21 16:41] virginielastisneres opened #1782 "Bug responsive simulateur indemnité de licenciement"
Petit bug responsive découvert sur le simulateur de l'indemnité de licenciement, pas très urgent mais à avoir en tête.

![image](https://user-images.githubusercontent.com/48682104/69357722-e4617f80-0c85-11ea-94fc-0d2a8fb5af70.png)

[2019-11-21 16:56] rmelisson opened #1783 "Possibilité de voir plus de résultats de recherche avec une pagination"
Pour le moment, l'utilisateur n'a pas la possibilité d'aller au delà des 7 résultats proposés.
Il serait utile d'ajouter de la pagination ou un bouton `voir plus` afin de laisser la possibilité à un utilisateur d'aller voir plus loin.
C'est surtout important pour l'algo d'ordering afin de faire remonter des résultats qui seraient corrects, mais mal positionnés.

[2019-11-21 17:02] revolunet commented on #1781
cc @nkrmr

[2019-11-21 17:37] jrduscher opened #1784 "Afficher les réponses dans l'ordre chronologique dans les simulateurs"
Dans tous les simulateurs, les réponses devraient s'afficher dans l'ordre chronologique tel que défini dans l'onglet paramètre ici : https://docs.google.com/spreadsheets/d/1zd_hShEui8BHK0349GpDUZRkCcQ9syIZ9gSrkYKRdo0/edit#gid=1483052046

A priori ce n'est pas le cas dans le simulateur de préavis de licenciement (voir tous les exemples en commentaire ci-dessous). À vérifier également dans le préavi

[2019-11-22 13:36] lionelB opened #1790 "Bug sur les outils lorsque qu'on revient sur une question déjà remplie"
le changement d'une valeur parente  ne re-initialise pas correctement les valeurs précédemment saisies.
ex:  cc1090 catégorie: `ouvrier` puis remplir anciennete, echelon. Suivant.
faire précéddent puis sélectionner catégorie `cadre` puis faire suivant.

 un message d'erreur apparait

[2019-11-22 13:40] lionelB opened #1791 "outils : pouvoir ordonnancer les questions (critere) pour affiner un situation"
On souhaiterais pouvoir ordonnancer les questions posées à l'utilisateur pour affiner une situation
cc @jrduscher pour l'ordre

[2019-11-22 13:44] lionelB opened #1792 "Disclaimer outils de préavis licenciement et démission"
# préavis de licenciement

Afficher le disclaimer suivant en dessous du résultat dans la première section :

"Une durée de préavis de licenciement plus favorable au salarié peut aussi être prévue dans un accord d'entreprise, le contrat de travail ou un usage dans la localité ou la profession."

# préavis de démission

Dans le simulateur de préavis de démission, il faut bouger le bloc similaire dan

[2019-11-22 13:49] revolunet commented on #1686
On doit attendre la migration des deploiements vers azure pour ce point

[2019-11-22 13:52] lionelB commented on #1791
aéroport paris
agents payés à l'heure
catégorie professionnelle
personnel de conduite
motif de rupture
durée du travail
durée du préavis
type de rupture
conclusion du contrat de travail
période essai
logement
niveau
classe
position
groupe
coefficient
échelon
ancienneté
âge

[2019-11-22 17:58] jrduscher opened #1794 "Préavis de démission, préavis de licenciement : mettre à jour les données"
### Mise à jour des données pour les simulateurs :
durées de préavis démission
durées de préavis licenciement

- Préparation du fichier d'export. ( onglet préavis -> pravis export)
 Lien à faire avec #1791 @lionelb?
- Intégration du ficher d'export dans les outils.

### données
source
https://docs.google.com/spreadsheets/d/1zd_hShEui8BHK0349GpDUZRkCcQ9syIZ9gSrkYKRdo0/edit#gid=227376301

[2019-11-23 16:14] revolunet commented on #1398
données ccns/articles de florent : https://datafiller.num.social.gouv.fr/kinto/v1/buckets/datasets/collections/ccns/records

il faut vérifier comment c'est thémé côté backoffice

[2019-11-25 09:32] virginielastisneres commented on #1784
Affichage de la catégorie professionnelle du salarié dans la CC 29 Hospitalisation : les catégories ne sont pas affichées dans l'ordre, il faudrait les indiquer comme cela :

Non-cadres
Autres cadres
Cadres administratifs et de gestion
Biologistes
Pharmaciens
Médecins
Gestionnaires
Directeurs-adjoints
Directeurs
Directeurs généraux

[2019-11-25 09:45] jrduscher commented on #1794
Dernière màj du fichier ce matin.

[2019-11-25 09:54] UnbearableBear commented on #471
On pourrait afficher un toast quand on detecte que l'user est offline !

[2019-11-25 09:58] virginielastisneres commented on #1784
Dans CC 44 catégorie techniciens, les groupes professionnels ne sont pas affichés dans le bon ordre. Le IV doit être mis à la fin

Il faut que cela donne :
- I
- II
- III
- IV

IDEM pour l'ancienneté demandée, il faut inverser "2 ans ou plus" et "moins de 2 ans" et mettre :
- moins de 2 ans
- 2 ans ou plus

[2019-11-25 10:03] jrduscher commented on #1792
1) Ajouter **dans tous les cas** dans la page résultat: " Un accord collectif, le contrat de travail ou un usage peuvent prévoir:  une durée plus favorable pour le salarié ou des conditions d'ancienneté différentes".

2) Tester: si le choix CCN répond à une CCN existante et traitée, que le résultat n'aboutit pas: afficher "Erreur. nous ne parvenons pas  à trouver la durée de votre période de préav

[2019-11-25 10:57] revolunet commented on #1398
Je propose de créer une tâche dédiée pour le point 1 : refonte de la page CCN

 - [x] infos générales
 - [x] lister les contributions
 - [x] lister les articles référencés par Florent
 - [x] lien vers recherche beta.legifrance

[2019-11-25 11:06] virginielastisneres commented on #1784
IDEM IDCC 86 PUBLICITE : les catégories professionnelles ne sont pas dans l'ordre

Il faut que cela donne :
- Employés
- Agents de maîtrise et Techniciens
- Cadres

idem pour l'ancienneté conventionnelle => il faut indiquer :
- moins de 2 ans
- plus de 2 ans
et non l'inverse

[2019-11-25 11:12] #1742 closed, assigned to nobody

[2019-11-25 11:29] virginielastisneres commented on #1784
IDEM CC 292 Catégorie professionnelle =>
CI-dessous le bon ordre
- Collaborateurs
- Cadres

[2019-11-25 11:39] ClementChapalain commented on #1690
c'est fini ça du coup ?

[2019-11-25 11:41] virginielastisneres commented on #1690
manque juste le dernier point qui va être fini aujourd'hui ou demain !

[2019-11-25 11:42] lionelB commented on #1784
@virginie il faut faire comme pour les autres simulateurs, il faut préfixer les champs cc @ClementChapalain

[2019-11-25 11:43] lionelB commented on #1690
on peut prévoir un mise a jour des données en fin de journée si c'est ok de votre coté (et datafiller)

[2019-11-25 11:43] virginielastisneres commented on #1784
ca y est mais pas dans l'ordre dans le data-simulateur...

[2019-11-25 14:45] virginielastisneres opened #1808 "Bug report : simulateur prime de précarité"
Dans le simulateur de la prime de précarité (contrat d'intérim), il y a un petit bug, un &nsbp; qui s'affiche après une question (cf. photo ci-dessous)
![image](https://user-images.githubusercontent.com/48682104/69549889-61e50280-0f9a-11ea-9f69-f4bedb43b1e4.png)

[2019-11-25 14:58] lionelB commented on #1784
oups ! on va refaire une passe simulateur !

[2019-11-25 15:08] UnbearableBear commented on #1808
Ah c'est probablement une boulette de moi ça !

[2019-11-25 15:11] #1576 closed, assigned to lionelB

[2019-11-25 15:16] virginielastisneres opened #1809 "Bug report : page outils"
Que je sois sur le master ou sur la prod, quand je vais sur une page outil, j'ai un petit trait qui s'affiche en bas de la page... J'ai pas l'impression qu'il soit sur les autres pages...

![image](https://user-images.githubusercontent.com/48682104/69552380-aa062400-0f9e-11ea-945c-baf9db445d7c.png)

![image](https://user-images.githubusercontent.com/48682104/69552470-cd30d380-0f9e-11ea-970d-9a1115

[2019-11-25 15:27] #1688 closed, assigned to lionelB

[2019-11-25 16:44] jrduscher opened #1810 "Modèles de courrier : ajouter un disclaimer avant le bouton télécharger"
## Ajouter un disclaimer sur tous les modèles

"Attention, chaque modèle de document proposé est à personnaliser selon votre situation et est susceptible d’évoluer suite à des changements de règlementation. Assurez-vous d’avoir la dernière version mise à jour avant toute utilisation."

## Convention de nommage des documents

date du jour et pas date de mise à jour

"Titre du document - JJ.MM.AAAA"

[2019-11-26 16:57] nkrmr commented on #1618
![Screenshot 2019-11-26 at 17 37 29](https://user-images.githubusercontent.com/686395/69655064-1acc3f80-1076-11ea-81cb-ec9b81cfc53b.png)
[Calculer une indemnité de licenciement (2).pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/3893057/Calculer.une.indemnite.de.licenciement.2.pdf)

[2019-11-27 11:49] virginielastisneres commented on #1784
Parfait :D C'est très important car pour avoir pour le moment tester 30 CCs, il y a 80% des choix proposés qui sont pas dans l'ordre.

[2019-11-27 13:24] rmelisson opened #1819 "Compare Camembert vs. USEm QA using auto DCG in monolog"
- Ajouter à l'analyse de log un méchanisme pour calculer le DCG en utilisant les données du datafiller
- Comparer le score entre Camembert et le modele actuel, voir :
http://1f06025.code-du-travail-numerique.dev.factory.social.gouv.fr/
JS script actuel :
https://codesandbox.io/s/quizzical-fast-bnnp9

[2019-11-27 13:26] revolunet commented on #1397
travail bien avancé ici : https://github.com/SocialGouv/code-du-travail-backoffice/pull/765/files

[2019-11-27 14:02] jrduscher commented on #1618
Où est passé le bouton recommencer une simulation? @nkrmr cf @virginielastisneres

[2019-11-27 15:43] jrduscher opened #1820 "L'outil de contribution remonte dans les résultats des moteurs de recherche"
L'outil de contribution remonte dans les résultats des moteurs de recherche
![image](https://user-images.githubusercontent.com/37538697/69737495-c2a84280-1134-11ea-9b46-bc45c8e19e8a.png)

Il n'y a  à minima aucune utilité à ce que ce soit le cas.

[2019-11-27 15:58] revolunet commented on #1820
in progress : https://github.com/SocialGouv/code-du-travail-backoffice/pull/768

[2019-11-27 16:20] revolunet commented on #49
sujet données traité ici : https://github.com/SocialGouv/siret2idcc/

[2019-11-27 16:31] nkrmr commented on #1618
La demande était de le remplacer par l'impression car on peut cliquer sur le menu de gauche pour recommencer le process

[2019-11-27 16:37] nkrmr commented on #1618
cf: #1816

[2019-11-27 16:37] #1618 closed, assigned to nkrmr

[2019-11-27 16:37] virginielastisneres commented on #1618
Dommage que l'on ne l'ait pas traité comme le téléchargement dans les modèles de courrier via un picto d'impression.

[2019-11-27 16:38] nkrmr commented on #1618
On peut toujours télécharger dans la fenêtre de print cela fait un export en PDF

[2019-11-27 16:43] nkrmr commented on #1724
cf: #1793

[2019-11-27 16:43] #1724 closed, assigned to nkrmr

[2019-11-27 16:44] virginielastisneres commented on #1618
Oui oui je parlais plutôt du traitement de la fonction "imprimer" via un picto comme cela
![image](https://user-images.githubusercontent.com/48682104/69742708-7f9e9d00-113d-11ea-9cf4-25393cb5fa59.png)

[2019-11-27 16:49] nkrmr commented on #1618
Ah ok c'est toujours faisable surtout si l'on doit remettre le bouton pour recommencer le parcours.
À valider avec @ClementChapalain

[2019-11-28 10:23] ClementChapalain commented on #1618
Hello, on a essayé d'aller au plus simple en ne changeant pas l'UI et sans rajouter une troisième action sur la page. De mon point de vue recommencer une simulation n'est pas une action principale comme je l'expliquais dans la description de la tache :

Si on nous réclame cette possibilité on trouvera un moyen de le remettre :)

[2019-11-28 11:05] rmelisson commented on #1731
version fuzzball pour le moment

[2019-11-28 11:05] #1731 closed, assigned to rmelisson

[2019-11-28 11:07] rmelisson commented on #1625
Logstash en place :
https://github.com/SocialGouv/cdtn-elk

[2019-11-28 11:07] #1625 closed, assigned to rmelisson, ArmandGiraud

[2019-11-28 11:18] virginielastisneres commented on #1618
Je ne parle pas forcément du bouton recommencer en tant que tel mais plutôt du traitement de la fonctionnalité "impression" qui est différent de la fonctionnalité télécharger que l'on a sur les courriers via picto et également du fait qu'il n'y ait que cette option et qu'il n'y a pas l'option télécharger ou envoi par mail.
Personnellement je n'imprime pas quand je suis sur mobile mais bon comme tu

[2019-11-28 13:44] ClementChapalain commented on #1618
OK je comprends. Après je pense qu'il faut différencier le téléchargement de l'impression. Dans les modèles de courriers on télécharge car il y a forcément une modif à apporter au modèle par l'utilisateur. Dans les simulateurs on imprime car c'est pour un usage direct.

Mais je suis d'accord que sur mobile le wording "imprimer" n'est pas très cool, car personne n'imprime à partir de son mobile (ma

[2019-11-28 15:25] jrduscher opened #1826 "Aspect de la version mobile: outils et boutons"
![image](https://user-images.githubusercontent.com/37538697/69817878-d1a5f800-11fb-11ea-88ee-42861a1a11e3.png)

les boutons sortent de la page d'outils sur mon mobile.

[2019-11-28 17:09] virginielastisneres opened #1827 "Bug page introduction au droit du travail"
**Description**
Dans la page droit du travail, la version responsibe des sources du droit se présente ainsi :

![image](https://user-images.githubusercontent.com/48682104/69823585-8eeb1c80-1209-11ea-8c2e-a8f9bbbd1cee.png)

Or, cette présentation des sources n'est pas dans l'ordre.
Il faudrait qu'elles sont présentées ainsi :
- Les textes internationaux
- Les textes européens
- La Constitution fran

[2019-11-28 17:15] UnbearableBear commented on #1827
Du coup la lecture dans la version non mobile devra se faire ainsi: colonne gauche -> jusqu'en bas puis colonne droite-> jusqu'en bas. Au lieu de se faire comme ça acutuellement: colonne gauche  -> colonne droite -> un cran plus bas -> colonne gauche -> colonne droite etc. Tu vois ce que je veux dire ? Ca ira quand même ?

[2019-11-28 17:39] virginielastisneres commented on #1827
:/ je suis pas sure que ca passera... Je vais réfléchir un peu plus du coup...

[2019-11-29 09:46] ClementChapalain commented on #1564
fixé sur master et en prod

[2019-11-29 09:46] #1564 closed, assigned to nobody

[2019-11-29 10:03] ClementChapalain commented on #1732
Les deux sont identiques en termes de contenu, on vire celui qui s'affiche mal chez nous :
https://code.travail.gouv.fr/fiche-service-public/contrat-de-travail-temporaire-interimaire

[2019-11-29 10:29] ClementChapalain opened #1830 "Passer le lien "fiche entreprise" à la ligne en mobile"
En mobile très difficile de reconnaitre le nom d'une entreprise car il est tronqué par le lien "fiche entreprise" :
![image](https://user-images.githubusercontent.com/5337489/69862750-690e5800-129b-11ea-83ff-379991b15417.png)

Je propose de passer le lien "fiche entreprise" à la ligne pour avoir plus de place pour le nom de l'entreprise

[2019-11-29 10:31] ClementChapalain opened #1831 "Bug chargement du contenu sur Edge"
Le contenu des fiches ne se charge pas sur edge lorsqu'on rafraichit la page.

Pour reproduire :
- aller sur la fiche rupture conventionnelle par exemple : https://code.travail.gouv.fr/fiche-service-public/rupture-conventionnelle
- le contenu s'affiche bien
- rafraichir la page
- uniquement les titres des accordéons sont affichés, pas le contenu de la page

![image](https://user-images.githubuserc

[2019-11-29 10:32] ClementChapalain commented on #1744
je ferme et je répartis dans les issues #1830 et #1831

[2019-11-29 10:32] #1744 closed, assigned to nobody

[2019-11-29 10:43] ClementChapalain commented on #1754
Note : revoir complètement le module de feedback en passant par matomo

[2019-11-29 10:44] ClementChapalain opened #1832 "Simplification de l'outil de feedback en passant par matomo"
Nous utilisons aujourd'hui à la fois formspree et matomo pour récupérer les feedbacks sur les contenus :
![image](https://user-images.githubusercontent.com/5337489/69942593-f2fd3180-14e4-11ea-8e52-5b810fe56f93.png)

Nous souhaitons arrêter d'utiliser formspree car :
- cela nous oblige à stocker les informations dans une spreadsheet google
- nous utilisons une licence appartenant à @revolunet pour

[2019-11-29 10:44] ClementChapalain commented on #1754
du coup je close pour #1832, ces bugs seront fixés avec le revamp de la fonctionnalité

[2019-11-29 10:44] #1754 closed, assigned to nobody

[2019-11-29 10:51] ClementChapalain opened #1833 "Gestion des liens vers des outils externes"
### contexte

On souhaiterait pouvoir ajouter des liens vers les outils du ministère depuis notre site.

### fonctionnement

Il faudrait qu'ils soient visibles dans la recherche, dans les outils proposés en contenus annexes, sur la liste des outils.

Lorsqu'on clique dessus, on est directement redirigé vers l'url correspondante en ouvrant un nouvel onglet permettant de sortir du CDTN.

Dans la pag

[2019-11-29 10:52] ClementChapalain commented on #1755
Ces blocs vides correspondent aux lien externes du type https://www.compteprofessionnelprevention.fr/ qui sont data-fillés.

Je ferme cette tâche pour qqchose de plus général : la gestion des outils externes #1833

[2019-11-29 10:52] #1755 closed, assigned to nobody

[2019-11-29 10:55] virginielastisneres opened #1834 "Review wording outils"
**Description**

Les amis, il est temps de revoir un peu le wording des outils afin de sortir des outils sans faute d'orthographe et avec un wording cohérent.

A cette fin, vous trouverez ci-joint un fichier excel qui reprend :
- le nom de l'outil concerné
- l'ancien wording qui est le wording actuel qui doit être modifié
- le nouveau wording qui doit remplacer l'ancien

https://docs.google.com/sp

[2019-11-29 10:57] ClementChapalain commented on #1770
Je suis d'accord, on règle dans cette tâche le pb des fiches non-récupérées et on en profite pour traiter #1761 aussi. On verra l'affichage des fiches dans la recherche ou les thèmes dans un deuxième temps.

[2019-11-29 12:33] jrduscher opened #1835 "À propos V2"
Idées en vrac [ WIP WIP]

[2019-11-29 12:35] ClementChapalain commented on #1784
oui j'ai l'impression qu'on a bien fait les prefixes dans le data-simulateur, mais que ce n'est pas pris en compte

@nkrmr est-ce que tu avais fait en sorte que les réponses s'affichent dans le bon ordre en fonction des préfixes du style `1| bla bla bla` qu'on trouve dans les données ?

[2019-11-29 12:37] ClementChapalain opened #1836 "Ajouter la référence au CDT dans le simulateur de préavis de licenciement"
afficher systématiquement l'article du code du travail dans la page résultat : "Article L.1234-1 du code du travail", https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000006901112&cidTexte=LEGITEXT000006072050&dateTexte=20080501

[2019-11-29 12:58] ClementChapalain commented on #1792
on ne garde que la problématique du wording dans cette tâche car le reste est déjà traité dans #1790 et #1781

[2019-11-29 13:04] ClementChapalain commented on #1809
🕵️‍♀️

[2019-11-29 13:04] ClementChapalain commented on #1809
c'est fixé sur master :)

[2019-11-29 13:04] #1809 closed, assigned to nobody

[2019-11-29 13:20] ClementChapalain opened #1837 "Revoir les descriptions des modèles de document"
Max 4-5 lignes

[2019-11-29 13:24] ClementChapalain commented on #1826
solution proposée par Cécile en mobile :
![image](https://user-images.githubusercontent.com/5337489/69871773-f78ed380-12b3-11ea-9dfc-2b09fe0ec44d.png)

[2019-11-29 13:45] ClementChapalain opened #1838 "Changer l'ordre des simulateurs sur la page d'accueil"
Pour ne pas être accusé de faire que des trucs sur la rupture, on prend l'ordre suivant :
- Modèles de courriers
- Votre convention collective
- Simulateur d'embauche
- Simulateur de durée de préavis de démission
- Simulateur d'indemnités de licenciements
- Simulateur de durée de préavis de licenciement
- Simulateur de prime de précarité

[2019-11-29 13:48] ClementChapalain opened #1839 "Forcer l'affichage de la date sur les impressions"
Aujourd'hui une option navigateur permet de supprimer l'affichage de la date, et cette date est celle de l'ordinateur donc potentiellement fausse.

Il faut afficher une date + heure dont on est certain sur toutes les impressions (dans le header à côté du logo CDTN par exemple).

[2019-11-29 14:01] jrduscher commented on #1810
// en attente de validation

[2019-11-29 15:03] lionelB commented on #1839
n'importe qui peut "éditer" le html et mettre la date qui lui fait plaisir avant d'imprimer. Quel est le but d'avoir cette date ?

[2019-11-29 15:06] lionelB commented on #1792
c'est un autre bug je pense au vu du code en place

[2019-11-29 15:16] ClementChapalain commented on #1839
Dans certains navigateurs, la date n'est pas ajoutée par défaut (cf. les tests de @virginielastisneres) du coup c'est plus pour éviter ça que des potentiels tricheurs qui de toute façon trouveront toujours un moyen de changer la date

[2019-12-02 13:39] ClementChapalain opened #1848 "Màj glossaire"
@virginielastisneres prépare une mise à jour des données du glossaire, il faudra récupérer les nouvelles données dès que c'est ok niveau métier

[2019-12-02 13:48] lionelB opened #1849 "Mettre en place un pipeline de mise à jour des données"
on souhaiterai pouvoir mettre à jour les données indépendamment du code source en passant par un pipeline plus léger de mise à jour des données.
- [x] créer des packages avec les données provenants d'api externes
  - [x] kali
  - [x] legi
   - [x] contrib  #2564
   - [x]  datafiller #2571
     - [x] liste des fiche MT #2571
     - [x] liste des fiche SP #2571
   - [x] travail-emploi-data
- [x] uti

[2019-12-02 14:11] jrduscher commented on #1848
les étduaints de M1 de la Sorbonne suggèrent l'ajout:
-" harcèlement",
- harcèlement moral,
- harcèlement sexuel,
-PSE

[2019-12-02 14:20] UnbearableBear commented on #1831
A voir si ce n'est pas lié au script de polyfill qui coince parfois sous ie11

[2019-12-02 14:26] revolunet commented on #1831
Je propose qu'on extracte le polyfill pour le mettre en static, ca nous fera une dépendance en moins

[2019-12-02 14:35] ClementChapalain commented on #1733
virer le JS associé ua lien (cf. l'erreur ATTag dans sentry)

[2019-12-02 14:37] ClementChapalain commented on #1750
mettre un display:block

[2019-12-02 14:42] revolunet opened #1851 "CCN Picker crash"
Faire en sorte que le CCN picker ne crash pas si ce qu'on trouve en mémoire (localStorage) est invalide/obsolète

[2019-12-02 15:00] revolunet commented on #1838
Pour la recherche CC, histoire d'uniformiser avec les autres outils, est-ce qu'on peut rempalcer la modale par un lien classique (et donc une page vide avec l'outil dedans)

[2019-12-02 15:25] nkrmr commented on #1784
@ClementChapalain Il faut que je regarde je te dis ça

[2019-12-02 16:11] ClementChapalain commented on #1672
is not fixed :) d'ailleurs aujourd'hui on propose uniquement le modèle qui est en train d'être vu et rien d'autre

[2019-12-02 16:15] ClementChapalain commented on #1655
fixed with new design

[2019-12-02 16:15] #1655 closed, assigned to UnbearableBear

[2019-12-02 16:19] ClementChapalain commented on #1838
oui ce serait top ! comme ça on peut la partager simplement aussi ! tu peux faire ça dans cette tâche ?

[2019-12-02 16:21] revolunet opened #1854 "Theming modeles et outils"
- [ ] dans la page modèles de lettres, classer les modèles par thème puis selon l'ordre du JSON
 - [ ] créer un script update-themes pour les modèles
 - [ ] créer un script update-themes pour les outils
 - [ ] ajouter breadcrumbs aux modèles et outils

[2019-12-02 16:23] revolunet commented on #1854
Complète la #1837

[2019-12-02 16:47] ClementChapalain opened #1858 "Possibilité de changer les couleurs pour avoir un meilleur contraste"
Ajouter un lien "Accessibilité" dans le menu qui ouvre un menu déroulant :
"Contraste :
- standard
- renforcé"

Le click sur renforcé change les couleurs du site

[2019-12-02 16:49] ClementChapalain opened #1859 "Contributions : faire un lien quand le contenu est récupéré depuis SP ou MT et supprimer les fiches correspondantes"
## supprimer les fiches intégrées dans les contributions

Si elles sont intégrées dans les contributions, alors pas besoin de les avoir une deuxième fois indexée (car la question est la même).

Du coup il faudrait supprimer les fiches suivantes :
- https://www.service-public.fr/particuliers/vosdroits/F317
- https://www.service-public.fr/particuliers/vosdroits/F34414
- https://www.service-public.fr

[2019-12-02 16:50] ClementChapalain opened #1860 "Cacher les conventions collectives dans le simulateur d'indemnités de licenciement"
Après notre dernière démo, et au vu de toutes les issues remontées sur les CC dans le calculateur IDL (#1068 #1882) on préfère cacher la partie conventionnelle du calculateur d'indemnités de licenciement pour le moment.

L'idée est de s'assurer qu'on est bon sur les différentes conventions déjà traitées et de planifier le traitement des autres avant de réactiver les conventions collectives. On réa

[2019-12-02 16:52] revolunet commented on #1838
right now

[2019-12-02 17:46] UnbearableBear commented on #1672
Je prends !

[2019-12-02 18:51] lionelB opened #1865 "remove title_vector from returned playload /api/items/:source/:slug"

[2019-12-02 21:37] ClementChapalain opened #1866 "Faute d'orthographe dans la description google"
personalisée -> personnalisée

C'est ce qui est utilisé la description de google...
![image](https://user-images.githubusercontent.com/5337489/69997377-54a8b480-1554-11ea-8215-0964964e5c3b.png)

https://github.com/SocialGouv/code-du-travail-numerique/blob/238be0c8ac5278a6887a555ce5211c8b25864a09/packages/code-du-travail-frontend/pages/recherche.js#L46
https://github.com/SocialGouv/code-du-travail-

[2019-12-02 21:56] UnbearableBear commented on #1866
C'est beau :')

[2019-12-03 07:50] #1557 closed, assigned to revolunet

[2019-12-03 07:51] #1732 closed, assigned to revolunet

[2019-12-03 07:52] nkrmr commented on #1831
Je vais faire des tests et voir ce que c'est je vous tiens au courant

[2019-12-03 08:05] UnbearableBear commented on #1672
fixed

[2019-12-03 08:05] #1672 closed, assigned to UnbearableBear

[2019-12-03 08:14] UnbearableBear opened #1869 "Les outils ne sont plus proposés en outils annexes ?"
Il semblerait que les outils ne remontent jamais en contenus annexes ?

[2019-12-03 09:46] jrduscher opened #1870 "Ajout wordings et références juridiques : Outils IDL"
Il manque des infos dans la page de résultat de l'indemnité légale de licenciement, et de ce fait sur l'état imprimable de cette même page.

1) paragraphe accord, contrat en page résultat de l'indemnité légale

![image](https://user-images.githubusercontent.com/37538697/70038683-f366fc80-15b8-11ea-83ca-c20d722cef19.png)
Dans l'outil d'indemnité de licenciement,  dans la page résultat affichant le

[2019-12-03 10:03] jrduscher opened #1871 "Bugs: moteur de recherche de CCN"
### Recensement des comportements non souhaités du moteur de recherche de CCN.

- SIRET/SIREN:  44306184100047 fonctionne. 443061844 ne fonctionne pas. (la recherche par SIREN fonctionnait )

- IDCC: ne fonctionne plus

- Recherche CCN . ex: Convention collective nationale des industries chimiques et connexes du 30 décembre 1952. Étendue par arrêté du 13 novembre 1956 JONC 12 décembre 1956.
"chimi

[2019-12-03 10:53] ClementChapalain commented on #1869
bien vu

[2019-12-03 10:57] lionelB commented on #1672
par quelle PR ?

[2019-12-03 11:10] UnbearableBear commented on #1672
Ici https://github.com/SocialGouv/code-du-travail-numerique/pull/1867/files#diff-5e4ed9cb0ab57216a2de02327b83854aR45
Et là https://github.com/SocialGouv/code-du-travail-numerique/pull/1867/files#diff-5e4ed9cb0ab57216a2de02327b83854aL101

[2019-12-03 11:28] nkrmr commented on #1831
Après investigation minutieuse, il semblerait que le problème vienne de l'utilisation de l'auto-prefix
**-webkit-animation** qui fait planter l'affichage des contenus de l'accordéon.
Il est automatiquement généré pas styled-components, je vais voir comment on peut éviter de générer cet auto-prefix.

[2019-12-03 11:35] lionelB commented on #1672
ah ca devrait etre fait coté api normalement...

[2019-12-03 11:38] UnbearableBear commented on #1672
Il semblerait que c'était fait côté front mais pas complètement, j'ai juste corrigé la partie front mais si tu veux creuser côté back n'hésite pas !
Il y a une issue concernant les outils qui remontent pas, y a surement moyen de faire d'une pierre deux coups

[2019-12-03 11:55] revolunet opened #1874 "API: prevent duplicate related items"
Suite à #1672 : dans les related items renvoyés par l'API, s'assurer que le document en cours n'est pas renvoyé

[2019-12-03 11:55] revolunet commented on #1672
Du coup je fais une issue pour ne pas oublier de régler le problème à la source dans l'API : #1874

[2019-12-03 11:56] revolunet commented on #1672
Si possible 1 issue = 1 PR 🙏

[2019-12-03 13:03] #1866 closed, assigned to nobody

[2019-12-03 15:12] jrduscher commented on #1854
-> les modèles sont tous thémés dans le df ( c'était déjà le cas)

[2019-12-03 16:23] lionelB commented on #1831
GG @nkrmr

[2019-12-03 16:30] ClementChapalain commented on #1835
wip : https://docs.google.com/document/d/1-_S1gbHear-hGJsbKTbQsRI_s8wOCvk0aUPSUs0vdwo/edit#heading=h.gvodronx7jgo

[2019-12-03 16:43] jrduscher commented on #1761
https://code.travail.gouv.fr/fiche-ministere-travail/le-harcelement-sexuel?q=harc%C3%A8lement%20sexuel#Victime-ou-temoin-de-harcelement-sexuel-quel-recours : cas de figure similaire.

https://code.travail.gouv.fr/fiche-ministere-travail/hydrogene-sulfure?q=plomb#Quels-sont-les-risques: taille des titres incohérentes ( les sous titres sont plus grands que les titres)

[2019-12-03 17:44] jrduscher commented on #1837
[
 {
    "title": "Modèle : Affichage obligatoire relatif au harcèlement sexuel",
    "description": "Un affichage obligatoire est prévu en matière de lutte contre le harcèlement sexuel: dans les lieux de travail, et sur les portes ou dans les locaux où ont lieu les embauches. Cet affichage indique les sanctions applicables, les actions contentieuses civiles et pénales en matière de harcèlement se

[2019-12-03 18:04] virginielastisneres commented on #1848
**MENTION OBLIGATOIRE :**

Il faut ajouter la mention suivante sur la page du glossaire :

« Les définitions de ce glossaire, disponibles en surbrillance dans les textes des réponses, ont pour objectif d’améliorer la compréhension des termes juridiques. Elles ne se substituent pas à la définition juridique exacte de ces termes. »

Si vous savais pas où la rajouter je propose de faire comme cela, c

[2019-12-03 22:48] #1851 closed, assigned to revolunet

[2019-12-04 09:40] lionelB commented on #1848
c'est trop bo

[2019-12-04 09:46] jrduscher opened #1879 "Comportement à modifier IDL: ancienneté inf à 8 mois"
### Problème:
![image](https://user-images.githubusercontent.com/37538697/70129479-16f47a80-167f-11ea-8d35-2081b7119d36.png)

Dans ce cas de figure, une ancienneté inférieure  à celle prévue par l'IDL est bloquante. L'user ne peut pas aller plus loin. L'user n'a pas son résultat, ne peut pas l'imprimer etc.

### Comportement attendu:
Fin de parcours, mais affichage de la page résultat, imprimable:

[2019-12-04 09:52] jrduscher commented on #1879
@virginielastisneres  pour coherence avec la modif de wording

[2019-12-04 10:26] UnbearableBear commented on #1848
I take it

[2019-12-04 10:30] virginielastisneres commented on #1848
Arrive très bientôt le fichier des définitions modifiées.
A voir est ce que je dois remplacées les définitions une par une dans le datafiller ou cela peut se faire de manière automatique avec l'excel directement.

[2019-12-04 10:40] UnbearableBear commented on #1848
Je prend le nouveau design avec le wording mais pas la mise à jour des infos du glossaire par contre :o

[2019-12-04 10:41] virginielastisneres commented on #1848
ahah :D d'acc !

[2019-12-04 11:03] virginielastisneres commented on #1848
Fichier des définitions revues suite aux retours des agents de la DGT : https://docs.google.com/spreadsheets/d/1qa4UmebIg9br_-OkmDyBU13-RjN53onr/edit#gid=959426034

[2019-12-04 12:07] jrduscher opened #1880 "BUG : erreur dans le calcul du salaire de référence servant de base au calcul de l'indemnité légale de licenciement"
# 1. Bug calcul du salaire de référence

Bug soulevé par jr en décembre 2019 et de nouveau par un usager aujourd'hui.

## Ce que dit le code du travail

Le salaire de référence se calcule ainsi : _Le salaire à prendre en considération pour le calcul de l'indemnité est :_
- _le douzième de la rémunération des 12 derniers mois **précédant le licenciement**. Lorsque la durée au sein de l'entreprise e

[2019-12-04 13:31] lionelB commented on #1848
@virginielastisneres c'est possible de le mettre directement dans le datafiller ?

[2019-12-04 13:34] lionelB commented on #1880
c'est le cas vu on propose que 11mois  ?

[2019-12-04 13:41] virginielastisneres commented on #1848
@lionelB si cela vous permet de gagner du temps, je le fais :)

[2019-12-04 15:08] jrduscher opened #1882 "Bug report: IDL Ecarts entre l'outil IDL et d'autres calculateurs"
//RAS

[2019-12-04 16:45] #1882 closed, assigned to nobody

[2019-12-04 17:10] virginielastisneres commented on #1652
@jrduscher Il me semblait que l'on changeait "Besoin d'un accompagnement personnalisé ?" non ?

Je me rappelle plus qu'est ce qui est obligatoire d'indiquer ?
"Les services du ministère du Travail en région peuvent vous donner des informations juridiques générales relatives au Code du travail, aux conventions collectives, à la jurisprudence. Ils peuvent également vous conseiller et vous orienter d

[2019-12-04 18:50] #1838 closed, assigned to revolunet

[2019-12-05 10:28] jrduscher commented on #1790
Nouveau cas remonté par une OPE ou autre exemple: @lionelB @revolunet

Dans les outils de préavis de licenciement et démission:
Quand on recherche par exemple la CC 573, au moins deux users ont eu le  message suivant:

![image](https://user-images.githubusercontent.com/37538697/70227704-57252d00-1753-11ea-9e9f-195e6b6372c5.png)

[2019-12-05 12:42] nkrmr commented on #1790
@jrduscher Je vais voir ce que cela peut être

[2019-12-05 13:25] lionelB commented on #1784
donc la fonction de tri marche bien :) le pb vient des data

[2019-12-05 13:40] lionelB commented on #1790
@nkrmr le pb fixé va être fixé à la source

[2019-12-05 13:44] ClementChapalain commented on #1784
ok désolé de pas avoir bien vérifié ! je close pour #1794 du coup, qu'on pourra faire la semaine prochaine le temps qu'on recheck les param