[2019-12-05 13:44] #1784 closed, assigned to lionelB

[2019-12-05 14:27] ClementChapalain commented on #1791
c'est réorganisé dans le data simulateurs

[2019-12-05 15:56] virginielastisneres commented on #1848
READY TO DEV @lionelB
Le glossaire dans le datafiller est modifié :)

[2019-12-05 17:08] virginielastisneres commented on #1690
Désolé de pas avoir relancé la conversation... Les fiches MT sont toutes thémées. une mise à jour peut être faite @lionelB @ClementChapalain

[2019-12-05 18:19] virginielastisneres opened #1891 "Bug front dans carte résultats de recherche"
**Description**
C'est pas beau :) j'ai vu cela que dans cette carte pour le moment
https://code.travail.gouv.fr/recherche?q=ligne%20ou%20installation%20%C3%A9lectrique

![image](https://user-images.githubusercontent.com/48682104/70262088-f833d800-1793-11ea-8c14-fa352890693b.png)

[2019-12-05 18:36] virginielastisneres opened #1892 "Bug front dans page ministère lien url"
**Description**
bug un lien url s'affiche pas bien dans prod et master : http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-ministere-travail/le-salaire-fixation-et-paiement?q=salaire%20conventionnel#Comment-est-fixe-le-salaire-de-base

![image](https://user-images.githubusercontent.com/48682104/70263383-7db88780-1796-11ea-826a-015d868b9385.png)

[2019-12-05 19:45] lionelB commented on #1892
duplicate de #1733

[2019-12-05 19:45] #1892 closed, assigned to nobody

[2019-12-05 19:59] lionelB commented on #1820
closed PR SocialGouv/code-du-travail-backoffice#768 had been merged

[2019-12-05 19:59] #1820 closed, assigned to revolunet

[2019-12-05 22:51] jrduscher opened #1894 "simulateur d'embauche: message d'erreur"
page d'erreur de la démo toujours là, et en prod
https://code.travail.gouv.fr/outils/simulateur-embauche
![image](https://user-images.githubusercontent.com/37538697/70281019-26c4a980-17ba-11ea-8028-0677d0429629.png)
@lionelB

[2019-12-05 22:56] jrduscher opened #1895 "navigation outils mobile"
En mobile, au démarrage d'un simulateur ( préavis démission) depuis la page d'accueil ou la boite à outils  l'user tombe nez à nez avec le footer de la page. En mobile, on aurait l'impression que lapge ne s'est pas chargée..

[2019-12-06 09:49] ClementChapalain commented on #1835
done !

lien vers les textes :
https://docs.google.com/document/d/1-_S1gbHear-hGJsbKTbQsRI_s8wOCvk0aUPSUs0vdwo/edit#

maquette :
![à propos - clément](https://user-images.githubusercontent.com/5337489/70313473-fdd20200-1815-11ea-817d-12dda325fb90.jpg)

[2019-12-06 09:58] lionelB commented on #1835
c'est trop bô

[2019-12-06 10:05] #1791 closed, assigned to lionelB

[2019-12-06 10:05] #1794 closed, assigned to lionelB

[2019-12-06 10:06] #1832 closed, assigned to lionelB

[2019-12-06 10:07] #1894 closed, assigned to nobody

[2019-12-06 10:09] lionelB commented on #1690
je ferme

[2019-12-06 10:09] #1690 closed, assigned to revolunet, jrduscher, virginielastisneres

[2019-12-06 10:10] #1848 closed, assigned to UnbearableBear

[2019-12-06 10:15] nkrmr commented on #1790
cf: #1888

[2019-12-06 12:20] jrduscher opened #1900 "bug: animation des ascenseurs au moment de l'ouverture"
Au moment de déplier l'ascenseur, l'animation de la flèche ( rotation), la fait sortir du cadre en surbrillance bleutée.

![image](https://user-images.githubusercontent.com/37538697/70322448-662ade80-182a-11ea-950a-ccfb95c7a98e.png)

![image](https://user-images.githubusercontent.com/37538697/70322451-6925cf00-182a-11ea-9739-da843d16862b.png)

[2019-12-06 12:35] jrduscher opened #1901 "Bug : sélectionner une CCN dans les outils renvoie à un message CCN non traitée"
Des utilisateurs d'une organisation professionnelle employeur ( ils n'ont jamais testé l'outil ) nous remonte l'anomalie ci -après, qui a pu être reproduite.

ici avec la CC  transport 0016
![image](https://user-images.githubusercontent.com/37538697/70323299-ba36c280-182c-11ea-8fd1-31f6dbef1cf3.png)

en tapant l'idcc ou le nom,le parcours est bloqué ou non
![image](https://user-images.githubuserco

[2019-12-06 15:10] revolunet commented on #471
Idéalement le build statique (outils...) devrait fonctionner et les autres contenus se dégrader "progressivement". ex: home et outils fonctionnels

[2019-12-06 16:45] #1834 closed, assigned to revolunet

[2019-12-07 11:48] lionelB commented on #471
j'ai deja fait ces tests (elastic off, api off) ca renvoi des erreur 400 / 500 en fonction, on pourrait définir des code custom pour identifier les pannes  (elastic off, api off, nlp off,...)

[2019-12-09 10:04] virginielastisneres opened #1913 "Mise à jour glossaire one last time"
Une petite faute a été repérée dans le glossaire, une dernière mise à jour du datafiller avant la sortie s'impose :)
Les données du datafiller sont à jour.

[2019-12-09 10:12] virginielastisneres opened #1914 "Mise à jour Page d'introduction au droit du travail"
Suite à une relecture de la DGT de la page d'introduction au droit du travail, il faut faire une mise à jour des textes de cette page.

Ci-dessous le wording corrigé. A prendre en compte uniquement le wording et non la mise en place.

[2019-12-09 11:28] ClementChapalain commented on #1895
on arrive pas à reproduire avec @jrduscher du coup je ferme :)

[2019-12-09 11:28] #1895 closed, assigned to nobody

[2019-12-09 12:25] jrduscher commented on #1781
issue modifiée @lionelB

[2019-12-09 13:17] nkrmr commented on #1839
cf: #1904

[2019-12-09 13:17] #1839 closed, assigned to nkrmr

[2019-12-09 14:28] ClementChapalain opened #1919 "Afficher le thème des fiches MT dans les résultats de recherche"
cette fiche par exemple :
![image](https://user-images.githubusercontent.com/5337489/70443450-77792280-1a98-11ea-884d-c65276ba3b84.png)

nous n'affichons pas le thème alors qu'elle est bien thémée comme on peut le voir quand on clique dessus :
![image](https://user-images.githubusercontent.com/5337489/70443506-8d86e300-1a98-11ea-9441-6f39c57d5f02.png)

[2019-12-09 14:31] ClementChapalain commented on #1919
too quick
![image](https://user-images.githubusercontent.com/5337489/70443708-e6567b80-1a98-11ea-9fbc-b546f8e0d682.png)

[2019-12-09 14:32] UnbearableBear commented on #1919
Alors c'est pas parce que je les prends vite que je vais les faire vite par contre haha

[2019-12-09 14:33] UnbearableBear commented on #901
@nkrmr Tu peux te l'assigner elle si tu veux :)

[2019-12-09 14:53] nkrmr commented on #901
Done

[2019-12-09 15:35] ClementChapalain commented on #1652
@virginielastisneres ok c'est édité dans la description !

[2019-12-09 16:24] ClementChapalain opened #1920 "Remove beta toast 🚀"
Remove this 👇

![image](https://user-images.githubusercontent.com/5337489/70453249-bd3de700-1aa8-11ea-9d2e-d1c6d2967f5c.png)

[2019-12-09 17:22] #1781 closed, assigned to lionelB

[2019-12-09 19:37] lionelB commented on #1919
@UnbearableBear Autant la laissé dispo alors et s'assigner les issues quand on a de la bande passante pour les traiter, non ?

[2019-12-09 19:40] #1792 closed, assigned to lionelB

[2019-12-09 19:40] #1836 closed, assigned to lionelB

[2019-12-09 20:03] UnbearableBear commented on #1919
@lionelB Yes c'était une blague t'inquiète. Si je la prend c'est que ça me concerne et que je peux m'en occuper rapidement avant la fin du sprint. Ca me sert aussi pour filtrer les issues que je peux prendre de me taguer dessus. Mais je ne le ferai plus à partir du moment ou l'UI est terminée

[2019-12-09 23:15] lionelB commented on #1749
le problème vient de la lib createPersistedState() qui crée une boucle de render infini dans IE11.
j'ai fait un test "rapide" avec une version très limité qui corrige le probleme

[code]
Il faudrait faire des tests avec des lib + robuste pour gérer les cas ou le localStorage n'est pas dispo (navigation privée)

[2019-12-10 11:10] revolunet commented on #1749
Tests ok sur Firefox/Safari/Chrome en mode anonyme ou pas

[2019-12-10 13:31] jrduscher opened #1928 "Liens dans les contenus: des erreurs 404 et 500"
# Erreur 404:
https://code.travail.gouv.fr/fiche-service-public/accueil-dun-enfant-par-une-assistante-maternelle-agreee?q=assistant

![image](https://user-images.githubusercontent.com/37538697/70533284-149b9000-1b59-11ea-96e3-08d0484ae40a.png)
Le lien de la convention collective renvoie une erreur 404.

 L'URL de ce lien " https://code.travail.gouv.fr/convention-collective/KALICONT000005635807"

#

[2019-12-10 14:27] #1808 closed, assigned to lionelB

[2019-12-10 15:34] virginielastisneres commented on #1687
j'ai eu pareil sur celui ci --> cliquer sur le contenu proposé appelé "congés payés" https://code.travail.gouv.fr/fiche-service-public/indemnite-compensatrice-de-conges-payes?q=indemnit%C3%A9%20compensatrice%20de%20cong%C3%A9s%20pay%C3%A9s

[2019-12-10 15:37] virginielastisneres commented on #1687
hum hum... j'ai trouvé un truc en commun sur les deux contenus qui ne fonctionnent pas...
Les fiches SP ne sont pas à jour sur notre site...
- http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-service-public/conges-payes?q=cong%C3%A9s%20pay%C3%A9s
- https://www.service-public.fr/particuliers/vosdroits/F2258
- https://code.travail.gouv.fr/fiche-service-public/rupture-conventi

[2019-12-10 17:03] ClementChapalain commented on #1901
on a toujours le pb sur les contributions, avec par exemple cette contribution http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/contribution/quelle-est-la-duree-maximale-de-la-periode-dessai-sans-et-avec-renouvellement et la CC "commerce de gros"

[2019-12-10 18:02] UnbearableBear commented on #1672
@ClementChapalain  Du coup je revert les modifs front et on attend la modif côté back !

[2019-12-10 18:19] revolunet opened #1931 "index fiches-SP directly from fiches-vdd"
Following #1930

ES indexation should be based directly on fiches-vdd

[2019-12-11 00:30] #1901 closed, assigned to lionelB

[2019-12-11 09:46] ClementChapalain opened #1940 "Les paragraphes HDN ne s'affichent plus dans les contributions qui récupèrent du contenu MT ou SP"
par exemple ici : http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/contribution/arret-maladie-pendant-la-periode-dessai-quelles-sont-les-regles?q=arr%C3%AAt%20maladie%20p%C3%A9riode%20d%27essai

on devrait avoir la fiche SP et un § sur la hiérarchie des normes :
https://contributions.codedutravail.num.social.gouv.fr/admin/generic-answers/ccac1236-f435-4869-87a6-220bbd558076

![im

[2019-12-11 10:20] nkrmr opened #1941 "Bug on build monorepo image"
**Description**
En utilisant `docker-compose.override.dev.yml`  et en lançant la commande :

[code]
J'obtiens le message d'erreur suivant :

![Screenshot 2019-12-11 at 09 53 19](https://user-images.githubusercontent.com/686395/70612746-cbeee000-1c07-11ea-91fb-79438e41170a.png)

Il semblerait que le package git 2.22.0-r0 ne serait pas compatible avec node:10.17.0-alpine3.10 dans le Dockerfile lorsq

[2019-12-11 13:08] #1900 closed, assigned to UnbearableBear

[2019-12-11 13:08] #1751 closed, assigned to UnbearableBear

[2019-12-11 13:08] #1920 closed, assigned to UnbearableBear

[2019-12-11 16:05] #1870 closed, assigned to lionelB

[2019-12-11 16:05] #1860 closed, assigned to lionelB

[2019-12-11 16:06] #1835 closed, assigned to lionelB

[2019-12-11 22:29] lionelB opened #1949 "Ajouter un composant List / ListItem dans react-ui"
[code]
le code plus haut est dupliqué une dizaine de fois, je pense qu'on pourrait en faire un composant UI
`<List>` qui pourrai wrapper automatiquement les children avec des `<ListItem/>`
ex:
[code]
poke @UnbearableBear @nkrmr

[2019-12-12 09:07] ClementChapalain commented on #1869
en fait si : http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-service-public/percoit-on-des-indemnites-en-cas-de-licenciement-pour-inaptitude-physique?q=licenciement%20indemnit%C3%A9

[2019-12-12 09:07] #1869 closed, assigned to nobody

[2019-12-12 09:17] ClementChapalain commented on #1835
je viens de voir qu'il manque un espace avant minsitère du travail et après incubateur des ministères sociaux @lionelB :
![image](https://user-images.githubusercontent.com/5337489/70698887-91994780-1cc8-11ea-8015-bdc8fc5a7f92.png)

désolé je l'ai raté hier en relisant..

[2019-12-12 09:19] UnbearableBear commented on #1835
@ClementChapalain je prends

[2019-12-12 09:21] ClementChapalain commented on #1835
coeur avec les mains

[2019-12-12 09:52] ClementChapalain commented on #1790
le bug se répète encore sur master :
- aller sur http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/outils/preavis-demission
- sélectionner la convention "pharmacie d'officine" et le statut "cadre"
- voir le résultat
- cliquer sur précédent 2X
- changer pour la convention "télécommunications"
- page vide (alors que si on va direct sur "télécommunications" ça fonctionne bien) :
![im

[2019-12-12 09:52] ClementChapalain commented on #1790
ping @nkrmr @lionelB

[2019-12-12 11:11] lionelB commented on #1790
je m'en occupe !

[2019-12-12 12:38] #1761 closed, assigned to nobody

[2019-12-12 12:38] #1770 closed, assigned to revolunet

[2019-12-12 12:38] #1919 closed, assigned to UnbearableBear

[2019-12-12 15:13] ClementChapalain commented on #1790
merci Lionel !

[2019-12-12 15:13] #1790 closed, assigned to lionelB, nkrmr

[2019-12-12 15:36] #1749 closed, assigned to lionelB

[2019-12-13 12:37] #1398 closed, assigned to lionelB

[2019-12-13 12:37] #1871 closed, assigned to lionelB

[2019-12-13 14:16] jrduscher opened #1960 "Màj disclaimers"
- [x] Disclaimer préavis de démission
- [ ] lien préavis de démission
- [ ] Disclaimer préavis de licenciement

# Outils de préavis de démission

## Disclaimer

Le disclaimer qui s'affiche sous le résultat
![image](https://user-images.githubusercontent.com/37538697/70805482-4f036800-1db9-11ea-81ef-8a68521318bd.png)

Remplacer :
"Une durée de préavis de licenciement plus favorable au salarié peut a

[2019-12-13 14:50] jrduscher opened #1961 "Poursuite si pas de CCN : préavis de licenciement, préavis de démission"
Aujourd'hui pour ces 2 outils, le parcours utilisateur est conditionné au choix de la CC.
Un message existe pour la CC non trouvée, le parcours se poursuit mais l'user peut ne pas avoir de CC dans son entreprise ou ne pas vouloir choisir de CC.

## Fonctionnellement

### dans l'outil de préavis de démission

À la sélection de la CC, permettre la poursuite de la navigation sans avoir choisi une CC

[2019-12-13 15:49] lionelB commented on #1810
c'est quoi l'interet de mettre la date du jour du telechargement dans le nom du fichier ?

[2019-12-16 08:36] virginielastisneres commented on #1914
### DÉFINITION DU DROIT DU TRAVAIL

Le droit du travail, c’est quoi ?

Le droit du travail est l’ensemble des règles juridiques applicables aux relations entre employeurs privés et salariés, à l’occasion du travail.
Le droit du travail organise les relations professionnelles de travail entre l’employeur et le salarié individuellement et la collectivité des salariés. Il encadre de nombreux domaines

[2019-12-16 08:45] virginielastisneres commented on #1914
### ANCIEN WORDING

Les textes internationaux

Le droit du travail en France est influencé par les textes de l’Organisation internationale du travail (OIT), agence des Nations Unies pour le monde du travail. L’OIT rédige des recommandations et des conventions.
Les conventions de l’OIT sont les principaux textes qui ont un effet sur le droit du travail français. Ces conventions traitent de nombreux

[2019-12-16 08:54] virginielastisneres commented on #1914
### ANCIEN WORDING

La Constitution française

Texte le plus important du système juridique français, la Constitution du 4 octobre 1958 est le texte fondateur de la Vème République. La Constitution a pour objectif d’organiser les pouvoirs publics, de définir leur rôle et leurs relations entre eux.
Dans son préambule la Constitution de 1958 renvoie explicitement à 3 autres textes fondamentaux : la

[2019-12-16 08:55] virginielastisneres commented on #1914
### ANCIEN WORDING

Lois, ordonnances, décrets et arrêtés

La loi est votée par le Parlement et fixe les principes fondamentaux du droit du travail, du droit syndical et de la sécurité sociale.

L’ordonnance est un texte écrit par le Gouvernement après que le Parlement l’y ait autorisé. L’ordonnance a valeur de loi lorsque le Parlement l’approuve en votant une loi de ratification. Si le Parlement

[2019-12-16 08:58] virginielastisneres commented on #1914
### ANCIEN WORDING

Les usages et les engagements unilatéraux

L’usage d’entreprise est une pratique répétée de l’employeur attribuant un avantage aux salariés ou à un groupe de salariés de l’entreprise sans que la loi, la convention collective ou le contrat de travail ne lui impose.
Il existe également des usages au niveau de certaines professions ou de certaines localités.
L’engagement unilatéra

[2019-12-16 09:06] virginielastisneres commented on #1914
### ANCIEN WORDING

Le règlement intérieur de l’entreprise

Le règlement intérieur de l’entreprise est un acte écrit par l’employeur qui fixe les règles concernant l’organisation de l’entreprise, la discipline, l’hygiène et la sécurité dans l’entreprise.

### WORDING RELU

Le règlement intérieur de l’entreprise

Le règlement intérieur de l’entreprise est un acte écrit par l’employeur qui fixe les

[2019-12-16 09:10] virginielastisneres commented on #1914
### ANCIEN WORDING

Les textes internationaux et européens
Les textes situés plus bas doivent être conformes aux textes internationaux et européens.

La Constitution
Les textes situés plus bas doivent être conformes à la Constitution française ainsi qu’au bloc de constitutionnalité.

### WORDING RELU

Les textes internationaux et européens
Les textes nationaux doivent être conformes aux textes int

[2019-12-16 09:18] virginielastisneres commented on #1914
### ANCIEN WORDING

Lois, ordonnances et décrets (Code du travail)

Hiérarchie entre le Code du travail et les conventions et accords collectifs

Il n’y a pas de règle de hiérarchie unique pour tous les articles du Code du travail. Il existe 3 hiérarchies possibles :

Les conventions et accords collectifs doivent respecter le Code du travail
Il existe des règles dans le Code du travail que les con

[2019-12-16 09:20] virginielastisneres commented on #1914
### ANCIEN WORDING

Les conventions et accords collectifs
Hiérarchie entre conventions et accords collectifs de niveaux différents
La règle qui détermine quel est le texte applicable est différente en fonction du niveau des textes comparés.

Hiérarchie entre accord de branche et accord d’entreprise
Le principe est que l’accord d’entreprise s’applique en priorité par rapport à l’accord ou la conven

[2019-12-16 09:21] virginielastisneres commented on #1914
### ANCIEN WORDING => sur des garanties au moins équivalentes

Si l’accord d’entreprise assure des garanties au moins équivalentes, c’est-à-dire qu’il “fait aussi bien”, que la branche dans une des 17 matières alors il s’applique en priorité par rapport à la convention ou l’accord de branche.
Pour cela, il faut comparer par matière (exemple, égalité professionnelle) les mesures prévues par l’accor

[2019-12-16 09:22] virginielastisneres commented on #1914
### ANCIEN WORDING

Les usages et les engagements unilatéraux
Les usages et les engagements unilatéraux doivent respecter les textes situés en haut. Ils peuvent être plus avantageux pour le salarié. Dans ce cas, ce sont les textes les plus avantageux qui s’appliquent.

Le règlement intérieur de l’entreprise
Le règlement intérieur doit respecter les textes situés en haut. Il peut être plus avantage

[2019-12-16 10:06] revolunet opened #1968 "slug=text, 404 et random contenu"
Actuellement si on va sur une url qui n'existe pas, ex http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/fiche-service-public/il-etait-une-fois-une-404 on a un quand meme un contenu qui est affiché.

Ca porte à confusion, exemple avec les fiches SP:

 - prod (fiche présente) : https://code.travail.gouv.fr/fiche-service-public/recrutement-et-emploi-dun-artiste-ou-technicien-du-spec

[2019-12-16 10:07] revolunet commented on #1968
https://github.com/SocialGouv/code-du-travail-numerique/pull/1969

[2019-12-16 10:14] #1949 closed, assigned to UnbearableBear

[2019-12-16 10:17] lionelB commented on #1968
si jamais ca manque pour le datafiller on rajoutera un sous field en text

[2019-12-16 10:42] lionelB opened #1971 "fiche ministere travail sans titre"
suite à la PR #1921
certaines sections n'ont plus de titre

[2019-12-16 11:59] ClementChapalain opened #1973 "Changer la phrase d'intro de la homepage"
"Vous cherchez une information sur le droit du travail ? Vous avez besoin d’accompagnement ?
Nous vous proposons des **réponses personnalisées selon votre situation**. ⚙"

-->

"Obtenez des réponses aux questions que vous vous posez sur le droit du travail.
Les réponses personnalisables selon votre situation sont identifiées par ce symbole : ⚙"

[2019-12-16 12:11] ClementChapalain opened #1974 "Nouveaux liens dans le footer"
La liste des liens à mettre dans le footer :
travail-emploi.gouv.fr - service-public.fr - legifrance.gouv.fr -  data.gouv.fr -  gouvernement.fr – cnil.fr

2 possibilités :
- soit on fait une 4e colonne intitulée "Sites gouvernementaux"
- soit on les met dans une ligne tout en bas à la manière de service public :
![image](https://user-images.githubusercontent.com/5337489/70905953-82d2cd80-2005-11ea

[2019-12-16 12:14] ClementChapalain opened #1975 "Changer l'adresse du lien "journal des modifs""
Je pense que le lien devrait pointer vers https://github.com/SocialGouv/code-du-travail-numerique/releases et pas https://github.com/SocialGouv/code-du-travail-numerique/commits/master

C'est plus compréhensible pour un néophyte

[2019-12-16 12:16] ClementChapalain opened #1976 "Mettre le nom court de la CC et pas l'IDCC dans la recherche CC"
ici :
![image](https://user-images.githubusercontent.com/5337489/70906224-2d4af080-2006-11ea-9d8c-c99799275d45.png)

plutôt que IDCC 0044 mettre "Industries chimiques et connexes" qui est le titre court utilisé sur la page convention collective : http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/convention-collective/0044-convention-collective-nationale-des-industries-chimiques-et

[2019-12-16 12:23] UnbearableBear commented on #1976
Je le fais dans la foulée de l'issue qui demande de passer à la ligne le truc à droite sur mobile

[2019-12-16 12:55] lionelB commented on #1976
hum c'est plutot data oriented, il faudrait aussi peut être en profiter pour changer le mapping pour indexer aussi les nom courts

[2019-12-16 12:57] lionelB commented on #1975
@ClementChapalain le lien en prod c'est https://github.com/SocialGouv/code-du-travail-numerique/releases/tag/v3.8.0 qui détaille le contenu de la release actuelle  (tu as master parce que as testé sur master je pense)

[2019-12-16 12:57] #1975 closed, assigned to nobody

[2019-12-16 12:59] lionelB commented on #1974
oui legifrance (beta) et service public font de même

[2019-12-16 13:09] rmelisson opened #1977 "Mise à jour Suggestions avec nouveau contenu Datafiller"
Intégrer de nouvelles entrées dans le suggester + pondération en lien avec les nouvelles fiches du Datafiller

[2019-12-16 13:11] rmelisson opened #1978 "Essai Tensorflow 2 / Tensorflow Serve"
Test TF2 / TF Serve et check impact sur tests de montée en charge

[2019-12-16 13:12] ClementChapalain commented on #1975
merci j'avais pas bien fait attention :)

[2019-12-16 13:13] rmelisson opened #1979 "Mise à jour Monolog avec nouveau format dans Matomo"
Ajouts : algo type + selections article/themes
En lien avec #1821

[2019-12-16 13:46] virginielastisneres opened #1980 "Mise à jour requêtes datafiller + glossaire + data_simulateurs + contrib"
Des nouvelles requêtes ont été intégrées au datafiller suite aux retours des tests juridiques. Il faudrait le mettre à jour si possible en fin de semaine prochaine afin que l'on puisse effectuer de nouveaux tests si possible avant la sortie officielle.

[2019-12-16 14:47] ClementChapalain commented on #1858
pontentiellement on vire le "à propos" du header

[2019-12-16 14:51] ClementChapalain commented on #1973
Picto en bleu :)

[2019-12-16 14:56] rmelisson opened #1981 "Sauvegarde quotidienne des logs Matomo dans Azure Blob"

[2019-12-16 14:58] ClementChapalain commented on #1980
updater le glossaire aussi

mergé avec #1913

[2019-12-16 14:58] #1913 closed, assigned to nobody

[2019-12-16 14:59] revolunet opened #1982 "IE11 : search HS"
La recherche ne fonctionne plus sur IE11 :/ manque a priori un polyfill sur `string.repeat`

et les fichiers du package data qui n'est pas babelifié (template strings)

[2019-12-16 15:03] ClementChapalain commented on #1980
updater contrib et data_simulateur aussi

[2019-12-16 15:32] lionelB commented on #1982
pour @cdt/data, pourtant il est dans le transpile-modules  > transpileModules: ["@cdt/sources", "@cdt/data"]

[2019-12-16 16:36] ClementChapalain commented on #1810
L'idée c'est que si le document est stocké sur un ordinateur ou transféré à qqun d'autre, il y a une référence de la data de téléchargement

[2019-12-16 16:38] ClementChapalain commented on #1810
wording de la description validé

[2019-12-16 16:40] ClementChapalain opened #1984 "Changer la définition d'une CC dans la page CC"
on utilise la définition du glossaire :

[2019-12-16 16:50] ClementChapalain opened #1987 "Migration vers Azure"

[2019-12-16 16:57] ClementChapalain commented on #1961
Je ne vois pas bien l'amélioration par rapport à la version actuelle ? Tu proposes d'ajouter une page plutôt que de mettre les informations dans un bloc sur la page de sélection de la convention collective

[2019-12-16 17:05] lionelB commented on #1810
mais ce qui importe c'est que la date correspondent plutot au fichier qu'on a chez nous, non ?

[2019-12-16 17:05] ClementChapalain commented on #1980
et ensuite déploiement 🚀

[2019-12-16 17:15] ClementChapalain commented on #1810
oui notre réflexion c'est de dire que la date de téléchargement c'est la date à laquelle le fichier était valide donc c'est ça qui est important a priori, même si le fichier a pas été mis à jour depuis longtemps il est toujours en vigueur et valide

[2019-12-16 17:19] revolunet commented on #1982
au temps pour moi, en dev [ces packages ne sont pas transpilés](https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/next.config.js#L4)

[2019-12-16 17:19] #1982 closed, assigned to nobody

[2019-12-16 17:22] ClementChapalain commented on #1860
@lionelB il faut aussi enlever dans la page d'intro le texte suivant stp :

on peut enlever tout le paragraphe (ou bien le commenter car ce n'est que temporaire)

[2019-12-16 17:22] revolunet opened #1988 "IE11 : search et touche entrée"
L'envoi de recherche avec la touche entrée semble HS sur IE11

Le clic sur icone search ou selection de suggestion est OK

<img width="1198" alt="Capture d’écran 2019-12-16 à 18 17 01" src="https://user-images.githubusercontent.com/124937/70928299-03f38a00-2031-11ea-9d2c-fd64ed9aa502.png">

[2019-12-17 10:33] ClementChapalain opened #1995 "Finitions UI"
<details>
<summary>
done
</summary>

### General
- [x] contact services de renseignement -> #1652
- [x] dédynamiser le header (pour qu'il ne change pas quand on change de page)
- [x] ajouter les icônes sur les tuiles des thèmes
- [x] ajouter les liens dans le footer -> #1974
- [x] composant background bleu à créer

### HP
- [x] phrase d'intro -> #1973
- [x] intégrer le svg du hero banner
- [x] ajo

[2019-12-17 10:38] ClementChapalain commented on #1619
fermer pour #1995

[2019-12-17 10:38] #1619 closed, assigned to nkrmr, UnbearableBear

[2019-12-17 10:40] UnbearableBear commented on #1995
Tu peux me faire des petites checkboxes s'il te plait ? <3

[2019-12-17 10:44] ClementChapalain commented on #1830
fermé pour #1995

[2019-12-17 10:44] #1830 closed, assigned to UnbearableBear

[2019-12-17 10:44] ClementChapalain commented on #1652
fermé pour #1995

[2019-12-17 10:44] #1652 closed, assigned to UnbearableBear

[2019-12-17 10:45] ClementChapalain commented on #1973
fermé pour #1995

[2019-12-17 10:45] #1973 closed, assigned to UnbearableBear

[2019-12-17 10:47] ClementChapalain commented on #1974
fermé pour #1995

[2019-12-17 10:47] #1974 closed, assigned to nobody

[2019-12-17 11:00] lionelB commented on #1619
<img src=https://media.giphy.com/media/GStLeae4F7VIs/giphy-downsized.gif width=693>

[2019-12-17 13:07] lionelB commented on #1968
closed by #1969

[2019-12-17 13:07] #1968 closed, assigned to nobody

[2019-12-17 14:29] lionelB commented on #1976
il faudrait probablement changer les liens vers les CC aussi. Actuellement on utilise l'idcc+ le titre long , le tout tronqué a 80 caractère

[2019-12-17 14:31] #1810 closed, assigned to lionelB

[2019-12-17 14:58] ClementChapalain commented on #1976
bonne idée

[2019-12-17 15:03] ClementChapalain commented on #1960
\+  corriger la regression qui fait qu'on ne peut plus continuer sans CC : #1961

[2019-12-17 15:55] #1971 closed, assigned to lionelB

[2019-12-17 16:38] lionelB commented on #1961
note : le champ CC ne doit pas être "required" pour pouvoir traiter l'erreur et bloquer le parcours

[2019-12-17 16:44] ClementChapalain commented on #1833
icônes ajoutées @lionelB

[2019-12-17 17:28] nkrmr commented on #1940
Après investigation il faut fermer la balise *Content* il faut passer de :
[code]
à
[code]
Afin que rehype-react puisse remplacer par notre composant React

[2019-12-17 18:44] lionelB commented on #1960
pour info cette situation n'existe pas encore

[2019-12-17 18:52] lionelB commented on #1976
en pause le temps que socialgouv/siret2idcc soit mise à jour avec les shortTitle
\cc @revolunet

[2019-12-18 00:37] lionelB commented on #1783
Problème:  gestion de la pagination sur 2 collections (fulltext et sémantiques) qui sont ensuite mergées et reduites (on demande 7 resultats en fulltext, 7resultats  semantiques et on renvoi les 7 premiers resultats en supprimant les doublons

piste: demander 5 résultat de chaque collections, merger les collections et renvoyée 10elements ou moins
- avantage:
  - on peut gérer la pagination simplem

[2019-12-18 09:26] #1733 closed, assigned to lionelB

[2019-12-18 10:32] revolunet commented on #1981
espace az blob "cdtndata" container "logs"

[2019-12-18 11:11] #1960 closed, assigned to lionelB

[2019-12-18 13:49] rmelisson commented on #1978
done and merged

[2019-12-18 13:49] #1978 closed, assigned to rmelisson

[2019-12-18 14:40] #1980 closed, assigned to lionelB

[2019-12-18 15:04] #1874 closed, assigned to lionelB

[2019-12-18 16:52] lionelB commented on #1383
Je re-up l'issue
### Release depuis master
Modifier la pipeline pour seulement
- poser un tag sur le master
- déclencher le lerna release
- rajouter un except pour que le commit sur master qui bump les version de nos monorepo ne déclenche aucun job

### Production
- démarrer les job de deploy

### feature branch
- rajouter le external_pull_request
- register / deploy manuel
- suppression des image

[2019-12-18 17:10] #1833 closed, assigned to lionelB

[2019-12-18 21:15] #1858 closed, assigned to UnbearableBear

[2019-12-19 10:22] lionelB commented on #1783
@ClementChapalain voici la solution retenu.

Tant qu'on a 2 recherches sur le même corpus, les solution de paginations pour faire qu'une seule solution relève du bricolage. De plus l'impact de la mise en place de la pagination a J-7 du lancement est un peu périlleux.
Sur du plus long terme, il faudra trouver un moyen de n'utiliser plus qu'une recherche (fulltext ou sem) tout en conservant l'avanta

[2019-12-19 10:32] #1984 closed, assigned to lionelB

[2019-12-19 10:55] ClementChapalain opened #2014 "Intégrer les modèles de documents validés"
à faire avec #1837
ping @jrduscher

[2019-12-19 10:59] ClementChapalain commented on #1783
ok pas de pbs pour moi, juste une question : ça veut dire quoi "de manière progressive" ? en chargeant automatiquement des résultats quand l'utilisateur arrive en base des 10 premiers, ou avec un système de pagination cliquable ?

je suis plus pour la deuxième solution car il y a du contenu potentiellement intéressant en dessous des résultats français facile (CDT et thèmes) donc ca risque d'être d

[2019-12-19 11:16] lionelB commented on #1783
@ClementChapalain oui je pensais plutôt a un bouton "voir plus de résultats"

[2019-12-19 11:21] ClementChapalain commented on #1783
ah ok ça me va du coup, tant que le chargement des résultats supplémentaires n'est pas automatique quand on arrive en bas. il faudrait que ce bouton soit assez discret, soit un lien soit un bouton type "flat" je pense.

[2019-12-19 11:26] ClementChapalain commented on #1783
un truc comme ça ça pourrait être bien je pense :
![image](https://user-images.githubusercontent.com/5337489/71170121-c5d9ae80-225a-11ea-9da1-fbba8ae586e5.png)

[2019-12-19 11:27] lionelB commented on #1783
oki je ferais une proposition. préalablement je voulais faire un petit benchmark pour savoir l'impact sur le temps / poids des requetes

[2019-12-19 11:32] #1914 closed, assigned to lionelB

[2019-12-19 14:33] lionelB opened #2016 "Le replacement des termes du glossaire ne fonctionne que sur chrome"
la regExp du glossaire ne marche que sur chrome :( les pages sont en vrac
need bug fix urgent

[2019-12-20 09:42] revolunet opened #2032 "[bug] fiches MT et anchors encoding"
Petit souci sur certaines anchors a cause des caractères spéciaux

<img width="888" alt="Capture d’écran 2019-12-20 à 04 29 07" src="https://user-images.githubusercontent.com/124937/71245414-ebc38980-2314-11ea-8794-95467b44f458.png">

[2019-12-20 11:00] ClementChapalain commented on #1940
c'est bon @nkrmr je viens de changer, tu peux vérifier si ça marche bien stp ?

[2019-12-20 11:31] ClementChapalain opened #2033 "Changer les outils présents sur la pages d'accueil"
Liste des 4 outils à faire figurer sur la page d'accueil dans cet ordre :
- recherche CC
- préavis démission
- brut net
- modèles de courrier

[2019-12-20 11:31] ClementChapalain opened #2034 "Dans la page de listing des outils, enlever les outils du ministère"
Demande du DGT suite à la dernière démo : enlever les outils du ministère de la page https://code.travail.gouv.fr/outils **sauf** l'outil mon compte formation.

On enlève donc :
- Téléaccords
- TéléRC
- SIPSI
- Elections pro
- Index Egapro

Attention, on les enleve juste de cette page, ils restent indexés pour pouvoir apparaitre dans la recherche et / ou dans les outils proposés en annexe.

[2019-12-20 11:31] ClementChapalain opened #2035 "Retours sur la page convention collective"
Suite à la démo de la page convention collective, quelques retours mineurs de wording et de présentation.

## Première section

- [x] Enlever la définition de la convention collective et mettre uniquement quelques infos détaillées et deux liens pour voir la CC sur legifrance ou voir la définition dans le glossaire, et enlever le titre de la section pour alléger :
![image](https://user-images.githu

[2019-12-20 12:16] jrduscher commented on #2014
PR #2020

[2019-12-20 12:17] jrduscher commented on #1837
PR #2020

[2019-12-20 14:03] jrduscher opened #2036 "All tools: ajout d'une donnée d'extension des CCN en page résultat"
# Irritant

Aujourd'hui dans les outils comme pour le préavis de démission, en page résultat la donnée étendue non étendue s'affiche aujourd'hui dans le titre de la CCN.

 L'information n'est pas très visible. elle est particulièrement importante pour les  CCN qui n'ont pas été étendues. (en clair: une durée de préavis issue d'une CCN non étendue n'est pas théoriquement opposable à toutes les entr

[2019-12-20 15:20] rmelisson commented on #1981
mis en place sur la VM de logs via cron :
https://github.com/SocialGouv/cdtn-monolog/tree/master/backup-logs/

pour le long terme :
https://gitlab.factory.social.gouv.fr/SocialGouv/documentation/issues/10

[2019-12-20 15:20] rmelisson commented on #1981
à vérifier après qqs jours pour s'assurer que tous les logs sont bien présents

[2019-12-20 15:39] #1977 closed, assigned to rmelisson

[2019-12-20 15:48] rmelisson opened #2037 "feat(search) : compléter les résultats des réponses datafiller"
Parfois le datafiller retourne peu de réponses pour une requête donnée, nous devrions compléter avec les résultats du moteur de recherche.

En lien avec  #1783

[2019-12-20 16:42] lionelB commented on #2016
fixed by
- #2017
- #2026

[2019-12-20 16:42] #2016 closed, assigned to lionelB

[2019-12-20 17:30] lionelB opened #2041 "changer de convention collective sur une page contribution"
**Description**
impossible de changer de convention collective une fois une convention choisie

**Reproduction**
Etapes à suivre pour reproduire le bug
1. Go to http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/contribution/quelle-est-la-duree-maximale-de-la-periode-dessai-sans-et-avec-renouvellement
2. sélectionner une ccn
3. cliquer sur Chnager de convention collective
4. Une er

[2019-12-20 17:33] lionelB opened #2042 "Vérifier l'existence des fiches référencés depuis les contributions lors de la mise à jour des données"
**Description**
Certaine contributions réference des fiche-sp qui ne sont pas indéxées dans ES

**Reproduction**
Etapes à suivre pour reproduire le bug
1. Go to http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/contribution/quelle-peut-etre-la-duree-maximale-dun-cdd
2. See error

**Comportement attendu**
voir la fiche SP ou a minima gérer l'erreur

[2019-12-20 17:49] revolunet commented on #1931
fixed in #1993

[2019-12-20 17:49] #1931 closed, assigned to revolunet

[2019-12-23 10:48] #1976 closed, assigned to lionelB

[2019-12-23 15:11] #2033 closed, assigned to lionelB

[2019-12-23 15:11] #2034 closed, assigned to lionelB

[2019-12-24 11:06] #1741 closed, assigned to lionelB

[2019-12-24 11:07] lionelB commented on #1987
closed by #1753

[2019-12-24 11:07] #1987 closed, assigned to lionelB

[2019-12-24 12:17] lionelB opened #2059 "ci: clean old incides once feature branch are merged"
- [x] Créer les utilisateurs  pour la prod
- [ ] nettoyer les index des features branch avec un script only [master]

[2019-12-24 12:18] #2041 closed, assigned to nobody

[2019-12-24 13:46] UnbearableBear opened #2061 "Do not use getInitialProps in _app"
https://github.com/zeit/next.js/blob/master/errors/opt-out-auto-static-optimization.md

<img width="741" alt="Screenshot 2019-12-24 at 14 42 48" src="https://user-images.githubusercontent.com/705453/71415396-c9ef3d00-265b-11ea-81ad-233d29b1bca2.png">

We are probably missing some cool optimisation here

[2019-12-24 14:32] lionelB commented on #2061
It implies to handle error on pages and not in _app.

[2019-12-24 16:17] #2014 closed, assigned to lionelB, jrduscher

[2019-12-26 10:06] ClementChapalain commented on #1995
@UnbearableBear les illustrations de la home et les pictos sont validés ! hésite pas à voir avec cécile si besoin de formats spécifiques

[2019-12-26 10:07] ClementChapalain opened #2067 "Nouvelle UI page droit du travail"
L'UI de la page droit du travail doit être revue, le texte ne doit pas être changé.

**Pour retrouver le nouvel UI ===>> https://www.figma.com/file/oph7JpLS74NJAiGbzyit95/CDTN-UI-BlueFinal?node-id=0%3A1**
- frame "13 - A propos"
- frame "M5 - A propos"
- frame "kit- Basiques" pour les pictos A propos

Pour info, nouveautés UI les plus importantes :
-  New composant : carte qui s'ouvre
-  New picto

[2019-12-26 10:15] ClementChapalain commented on #1976
@lionelB on s'est mal compris je pense, l'objectif était que ce soit le nom court qui apparaisse à la place de l'IDCC :
![image](https://user-images.githubusercontent.com/5337489/71471814-f1b3e180-27d0-11ea-834c-5fa1bf4ab622.png)

Est-ce que c'est possible de changer stp ?

[2019-12-26 10:37] ClementChapalain commented on #1995
@UnbearableBear j'ai fait une update avec ce qui est prio prio prio pour le 1er janvier

[2019-12-26 10:51] ClementChapalain opened #2069 "Manque verbe d'action "consulter" sur la tuile mon compte formation"
https://master-code-travail.dev.fabrique.social.gouv.fr/outils

![image](https://user-images.githubusercontent.com/5337489/71473081-df887200-27d5-11ea-955e-47c7973b8cfe.png)

[2019-12-26 12:09] revolunet opened #2070 "useGlossary in tabs"
When glossary is applied inside tab titles, it breaks tab navigation

ex: http://127.0.0.1:3000/contribution/arret-maladie-pendant-la-periode-dessai-quelles-sont-les-regles?q=arr%C3%AAt%20maladie%20p%C3%A9riode%20d%27essai

Ex: second tab is not clickable

<img width="642" alt="Capture d’écran 2019-12-26 à 13 07 43" src="https://user-images.githubusercontent.com/124937/71475497-c3d69900-27e0-11e

[2019-12-26 12:35] revolunet commented on #1686
https://gitlab.factory.social.gouv.fr/SocialGouv/documentation/issues/16

[2019-12-26 12:45] revolunet commented on #1940
cf #2068

[2019-12-26 13:23] nkrmr commented on #1940
@ClementChapalain c'est bon pour moi, à part le bug remonté par Julien sur les tabs #2070 que je vais checker sur une autre issue

[2019-12-26 13:23] #1940 closed, assigned to revolunet, nkrmr

[2019-12-26 14:11] virginielastisneres opened #2072 "footer contact SR manque un "s""
Même si ce n'est pas une faute d'orthographe, il faudrait rajouter un "s" à information, c'est mieux.

=> "Besoin de plus d'information ?" devient "Besoin de plus d'informations ?"

![image](https://user-images.githubusercontent.com/48682104/71478791-ac53dc00-27f1-11ea-81bf-bc39a1b5ba38.png)

[2019-12-26 14:15] ClementChapalain commented on #1940
Ok super merci à vous deux !

[2019-12-26 16:31] revolunet commented on #2035
@ClementChapalain Dans "Domaines traités par la convention collective", on peut pas remplacer le select par des accordéons ?

[2019-12-26 16:45] ClementChapalain commented on #2035
C'est une possibilité oui, j'y avais pas pensé. Je veux bien discuter d'abord l'idée avec catherine et florent et laura vu qu'on a bossé la page ensemble.

[2019-12-26 16:56] revolunet commented on #2035
Voici ce que ca donne

<img width="809" alt="Capture d’écran 2019-12-26 à 17 56 33" src="https://user-images.githubusercontent.com/124937/71483644-19bf3700-2809-11ea-8f5d-97ab865c0ca7.png">

[2019-12-26 16:58] ClementChapalain commented on #2035
Merci pour la preview je te fais un feedback lundi !

[2019-12-26 17:11] #2069 closed, assigned to revolunet

[2019-12-26 18:45] ClementChapalain commented on #2069
merci !

[2019-12-27 08:20] virginielastisneres commented on #2072
+ Ajouter les 2 points ":" à la fin de "Contact téléphonie" et de "Coordonnées du service de votre département"
![image](https://user-images.githubusercontent.com/48682104/71509014-06a07b80-288a-11ea-8d71-ad998f7f1826.png)

[2019-12-27 08:40] lionelB commented on #2035
c'est pas mal 👍

[2019-12-27 08:44] lionelB commented on #2042
il faut aussi gérer coté frontend le fait qu'on puisse avoir une erreur 404 quand on demande une fiche non référencée

[2019-12-27 08:47] lionelB commented on #2070
There is a css rules to target p / li to were glossary is applied
we need to update css rules to tatget only p / li that are not interactive ( !button, !tab, !accordion)

[2019-12-27 09:33] lionelB commented on #1837
closed by #2020

[2019-12-27 09:33] #1837 closed, assigned to jrduscher

[2019-12-27 09:43] ClementChapalain commented on #2035
c'est ok pour les accordéons @revolunet :)

[2019-12-27 10:38] ClementChapalain commented on #1874
hello @revolunet @lionelB ! @virginielastisneres  a trouvé un cas où on a toujours le pb :
https://master-code-travail.dev.fabrique.social.gouv.fr/modeles-de-courriers/modele-convocation-a-un-entretien-prealable-au-licenciement-pour-motif-personnel

[2019-12-27 12:39] revolunet commented on #2070
Dans les liens aussi ca peut poser problème:

<img width="422" alt="Capture d’écran 2019-12-27 à 13 36 15" src="https://user-images.githubusercontent.com/124937/71517447-58f39380-28ae-11ea-8d3a-57f5b0467bef.png">

[2019-12-27 13:04] lionelB commented on #1874
hum c'est pas le meme probleme. le document visualisé ne remontent ne pas dans les éléments proposés, par contre, on propose 2 fois un meme contenu dans les éléments proposés

[2019-12-27 13:06] lionelB commented on #2070
c'est possible et c'est une limite du systeme actuel

[2019-12-27 13:22] ClementChapalain commented on #1874
ah oui tu as raison j'avais mal lu les 2 intitulés de docs

[2019-12-27 13:22] ClementChapalain commented on #1874
je vais faire une autre tâche sur ce pb (le contenu remonte 2 fois)

[2019-12-27 13:24] ClementChapalain opened #2078 "Un contenu est proposé 2 fois en contenu annexe"
Exemple ici, le reçu pour solde de tout compte remonte 2 fois (une fois mis en avant avec la carte et une fois dans la liste des contenus proposés :
https://master-code-travail.dev.fabrique.social.gouv.fr/modeles-de-courriers/modele-certificat-de-travail

![image](https://user-images.githubusercontent.com/5337489/71518733-82afb900-28b4-11ea-8593-5cca602cf5fd.png)

[2019-12-27 13:24] ClementChapalain commented on #1874
#2078

[2019-12-27 14:06] #2035 closed, assigned to revolunet

[2019-12-27 14:25] lionelB commented on #1874
merci pour l'issue

[2019-12-27 14:49] revolunet opened #2082 "search"
bizarrement "durée maximale de la période d'essai" renvoie moins de résultats et surtout la contribution ne ressort pas 🤔

durée maximale de la période
<img width="732" alt="Capture d’écran 2019-12-27 à 15 47 28" src="https://user-images.githubusercontent.com/124937/71521273-4eda9080-28c0-11ea-9751-c3c919efc190.png">

durée maximale de la période d'essai
<img width="748" alt="Capture d’écran 20

[2019-12-27 14:50] revolunet commented on #2082
pareil avec "renouvellement période" et "renouvellement période d'essai"

par contre "renouvellement période essayer" marche

[2019-12-27 15:17] virginielastisneres opened #2084 "Bug page "imprimer" des outils"
**Description**
Je suis sur Chrome, quand je souhaite imprimer, voilà la page qui apparaît.
[Préavis de démission le 27_12_2019 à à 16_1.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/4005623/Preavis.de.demission.le.27_12_2019.a.a.16_1.pdf)

3 problèmes :

- je n'ai toujours pas la date et l'heure qui se mettent... je dois aller dans les paramètres de l’impression et cliquer su

[2019-12-27 15:18] lionelB commented on #2082
tu peux tester sur l'api avec le param &skipSavedResults

[2019-12-30 08:12] UnbearableBear opened #2088 "Créer un package de widgets SVA"
idéalement ça mérite un package dédié @socialgouv/react-sva :)

_Originally posted by @revolunet in https://github.com/SocialGouv/code-du-travail-numerique/pull/2077#issuecomment-569286958_

Ca permettrait aussi de respecter la couleur 100% officielle sans avoir à l'avoir en dur dans le code

[2019-12-30 09:37] revolunet commented on #2082
OK c'était des liens HS dans le datafiller, cf PR #2090

[2019-12-30 09:37] #2082 closed, assigned to nobody

[2019-12-30 10:22] #2072 closed, assigned to revolunet

[2019-12-30 10:23] jrduscher opened #2093 "Ajout (réintegration) de deux modèles (rupture cdd et rupture amiable apprentissage)"
PR #2092
docx transféré à lionel

[2019-12-30 11:22] virginielastisneres opened #2095 "position invalide outil préavis de licenciement navigation sticky"
Quand j'arrive sur cette page de modèle, on me propose deux outils sur le côté dont le préavis de licenciement.
Le préavis de licenciement ne devrait pas apparaître. d'ailleurs quand je tape le modèle dans la barre de recherche, l'outil de préavis de licenciement n'apparait pas dans les résultats. Bizarre.
- page modèle : https://master-code-travail.dev.fabrique.social.gouv.fr/modeles-de-courriers

[2019-12-30 11:24] lionelB commented on #2095
duplicate #2078

[2019-12-30 11:34] jrduscher opened #2096 "Outil : CDD, estimation du délai de carence entre deux contrats à durée déterminée"
# WIP
## Irritant:
contrats successifs (CDD) sur le même poste
Un délai proportionnel à la durée du contrat s'écoule en principe entre deux CDD. Dans le code du travail et les fiches, ce délai est donné sous la forme d'une fraction.

D'autre part un délai différent ou des conditions particulières peuvent être prévus par une CCN ( exemple: pas de délai de carence dans certains cas)

## construction

[2019-12-30 11:40] revolunet commented on #2095
c'est un autre souci, non ? plutôt de pertinence de l'outil proposé

[2019-12-30 11:42] lionelB commented on #2095
ah oui pardon j'ai mal lu, je ré-ouvre

[2019-12-30 14:34] lionelB commented on #2095
Pb lié au mergeResult qui ne conserve pas l'ordre.

[2019-12-30 15:47] ClementChapalain opened #2100 "Contributions non-accessibles"
Des contributions ne sont pas accessibles et renvoient une erreur 500 :

https://master-code-travail.dev.fabrique.social.gouv.fr/contribution/quelle-peut-etre-la-duree-maximale-dun-cdd?q=dur%C3%A9e%20maximale

https://master-code-travail.dev.fabrique.social.gouv.fr/contribution/les-conges-pour-evenements-familiaux?q=les%20cong%C3%A9s%20pour%20%C3%A9v%C3%A9nements%20familiaux

[2019-12-30 15:49] ClementChapalain opened #2101 "Les contributions ne sont pas accessibles depuis la page convention collective"
https://master-code-travail.dev.fabrique.social.gouv.fr/convention-collective/1979-hotels-cafes-restaurants

Cliquer sur n'importe quelle question et ensuite sur le lien "réponse complète", une page 404 s'affiche

[2019-12-30 16:02] revolunet commented on #2100
Dans les deux cas ces contributions font référence à des fichesqu'on arrive pas à retrouver

du coup à l'ouverture de la page, lorsque l'API cherche à récupérer ces contenus pour les mettre dans la contribution :

## Cas 1 :

`error:  there is no document that match https://www.service-public.fr/professionnels-entreprises/vosdroits/F31211`. Fiche transformée en https://www.service-public.fr/partic

[2019-12-30 16:05] #2101 closed, assigned to revolunet

[2019-12-30 16:07] revolunet commented on #2100
cf https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-api/src/server/routes/items/index.js#L86

[2019-12-30 16:20] revolunet commented on #2100
Pour prévenir ce genre de bug, une solution serait, au moment de la récup des contributions, de vérifier que le contenu est bien accessible chez nous

[2019-12-30 16:23] ClementChapalain commented on #2100
modif faite sur la fiche SP, pour la fiche MT l'url ne semble pas avoir changée

[2019-12-30 16:26] revolunet commented on #2100
Donc le souci sur fiches MT c'est que les fiches "racine" ne sont pas référencées, uniquement les sous-paragraphes...

[2019-12-30 16:58] jrduscher opened #2106 "liens externes (portails, outils) dans le df (thèmes et requêtes)"
# Ajouter et afficher des liens externes

# to do WIP
- [ ] définition d'une ligne éditoriale sur les liens externes ( formulaires, outils, portails, ressources, téléprocédures)
- [ ] Gestion  et ajouts des liens externe dans le df
- [ ] affichage des ressources externes

### backup de l'existant dans le df aujourd'hui (liens externes supprimé aujourd'hui du df)
lien | thème | titre hypothétique
-

[2019-12-30 20:56] lionelB opened #2108 "Erreur dans les tests frontend"
les tests du wizard generent des erreurs
[code]
il faudrait mocker window..scrollTo dans les tests ou s'assurer que la fonction existe avant de l'appeller

[2019-12-30 21:14] #2078 closed, assigned to lionelB

[2019-12-30 21:18] lionelB commented on #2070
fix by #2087

[2019-12-30 21:18] #2070 closed, assigned to nobody

[2019-12-30 21:54] lionelB commented on #1831
il semblerait que le pb viennent plutôt d'un bug du moteur de rendu IE quand on met à jour le innerHTML.
une piste serait d'utiliser l'api DOM Node pour faire la modification du contenu du noeud plutot que de passer par innerHTML

[2019-12-30 21:57] #2093 closed, assigned to lionelB

[2019-12-30 22:34] douglasduteil opened #2111 "debt(git): Garbage Collecting"
This repo is getting bigger and bigger with a lot of commited object.
We should cleanup unnecessary files from time to time

I run it locally

[code]

[2019-12-31 08:41] virginielastisneres opened #2116 "page CC : quelques améliorations"
Dans la page CC, j'ai testé une CC avec un nom très long.
L'interligne présent dans le nom est trop grand, cela n'aide pas du tout à la comprendre du nom de la CC.
![image](https://user-images.githubusercontent.com/48682104/71615332-146b3f00-2bb1-11ea-8ce9-7ab4028b32c2.png)

Il faut réduire l'interligne comme pour un texte lambda :
![image](https://user-images.githubusercontent.com/48682104/716154

[2019-12-31 09:22] virginielastisneres opened #2117 "Outil indemnité de licenciement : quelques améliorations"
### CHANGEMENT URL

Dans l'étape 2 de l'outil de licenciement, il faut changer le lien derrière "indemnité de précarité".

![image](https://user-images.githubusercontent.com/48682104/71616590-58f9d900-2bb7-11ea-9ba4-c64fc81b3247.png)

Au lieu qu'il renvoie vers une fiche service public sur l'indemnité de précarité, il faudrait renvoyer l'usager vers l'outil de calcul de l'indemnité de précarité ht

[2019-12-31 09:28] ClementChapalain opened #2118 "Mettre l'IDCC au second plan dans la recherche CC"
L'objectif est de mettre en avant le nom court et nom l'IDCC qui est une donnée uniquement utile aux professionnels :

avant :
![image](https://user-images.githubusercontent.com/5337489/71616765-34eac780-2bb8-11ea-8694-40d0fc4b571c.png)

après :
![image](https://user-images.githubusercontent.com/5337489/71616737-11278180-2bb8-11ea-8495-3b9df4b3b1ae.png)

[2019-12-31 09:30] virginielastisneres commented on #2117
### MODIFICATION POSITIONNEMENT D UNE EXPLICATION

Il faudrait que la phrase "Prendre en compte les primes et avantages en nature." soit positionné juste en dessus de la question "Quel a été le montant du salaire mensuel brut ?*" et avant le champs à remplir.

![image](https://user-images.githubusercontent.com/48682104/71616800-65326600-2bb8-11ea-8ae9-15213e9c911c.png)

[2019-12-31 09:45] nkrmr commented on #1831
Je suis dessus en train de tester les différentes méthodes évoquée lors de notre réunion

[2019-12-31 09:50] ClementChapalain opened #2120 "Lorsque l'on se rend sur une contribution à partir d'une page CC, mettre à jour la CC sauvegardée dans le navigateur"
Par exemple quand je suis sur cette page : https://master-code-travail.dev.fabrique.social.gouv.fr/convention-collective/1979-hotels-cafes-restaurants

Et que je souhaite aller voir une contribution en cliquant sur le lien "réponse complète" dans les questions fréquentes, je tombe sur la page de la contribution avec potentiellement une autre CC sélectionnée, ce qui est déstabilisant car j'ai vu un

[2019-12-31 09:51] virginielastisneres opened #2121 "Bug version mobile outil indemnité de licenciement"
### Dans outil de licenciement version mobile, étape 3 :
- les champs à remplir ne sont pas assez grands,
- le titre "Durée en mois" n'est pas au bon endroit, il doit être au dessus du deuxième champ à remplir
- quand on remplit un champ, on ne voit pas ce que l'on a rempli...
- le bouton supprimer est très grand...

![Screenshot_20191231-104307 (1)](https://user-images.githubusercontent.com/48682

[2019-12-31 09:53] ClementChapalain commented on #1976
j'ai fait une nouvelle tâche plus claire : #2118

[2019-12-31 09:54] ClementChapalain commented on #42
je ferme, géré par le data filler aujourd'hui

[2019-12-31 09:54] #42 closed, assigned to nobody

[2019-12-31 09:55] #50 closed, assigned to nobody

[2019-12-31 10:01] ClementChapalain commented on #111
plus d'actualité

[2019-12-31 10:01] #111 closed, assigned to nobody

[2019-12-31 10:01] virginielastisneres commented on #2121
### Dans outil de licenciement version mobile, étape 4 :

- les champs sont trop petits
- le bouton supprimer sort du cadre de l'écran
- on ne voit pas quand on remplit ce que l'on a rempli
- les titres ne sont pas bien positionnés : durée en mois doit être au dessus de la 2ème colonne et rémunération au dessus de la 3ème colonne

![Screenshot_20191231-105708](https://user-images.githubusercontent

[2019-12-31 10:02] ClementChapalain commented on #112
pas reproduisible avec la version actuelle :)

[2019-12-31 10:02] #112 closed, assigned to nobody

[2019-12-31 10:03] virginielastisneres commented on #2121
### Dans outil de licenciement version mobile, étape 4 :

- le champ à remplir sur le salaire sort du cadre de l'écran...

![Screenshot_20191231-110148](https://user-images.githubusercontent.com/48682104/71617828-2521b200-2bbd-11ea-9136-a6991998fdcd.png)

[2019-12-31 10:05] ClementChapalain commented on #154
lié à #87

[2019-12-31 10:05] revolunet commented on #1928
@ClementChapalain je te laisse close si fixé

[2019-12-31 10:06] #170 closed, assigned to nobody

[2019-12-31 10:06] virginielastisneres commented on #2116
version mobile ...
![Screenshot_20191231-110527](https://user-images.githubusercontent.com/48682104/71617903-9bbeaf80-2bbd-11ea-8704-c7aa0e979c97.png)

[2019-12-31 10:07] ClementChapalain commented on #210
lié à #106

[2019-12-31 10:08] ClementChapalain commented on #265
done avec http://master.code-du-travail-numerique.dev.factory.social.gouv.fr/convention-collective/recherche

[2019-12-31 10:08] #265 closed, assigned to nobody

[2019-12-31 10:10] ClementChapalain commented on #274
done de ce que je peux voir sur master

[2019-12-31 10:10] #274 closed, assigned to lionelB

[2019-12-31 10:10] ClementChapalain commented on #275
tests unitaires gérés via le data filler désormais

[2019-12-31 10:10] #275 closed, assigned to nobody

[2019-12-31 10:11] ClementChapalain commented on #308
plus d'actualité

[2019-12-31 10:11] #308 closed, assigned to nobody

[2019-12-31 10:13] ClementChapalain commented on #368
done avec les nouvelles versions des modèles de courier validés par la DGT

[2019-12-31 10:13] #368 closed, assigned to lionelB

[2019-12-31 10:13] ClementChapalain commented on #369
done avec les modèles de courrier intégrés et valiés par la DGT

[2019-12-31 10:13] #369 closed, assigned to nobody

[2019-12-31 10:14] ClementChapalain commented on #385
@revolunet toujours d'actualité ?

[2019-12-31 10:15] ClementChapalain commented on #406
possible via le datafiller aujourd'hui

[2019-12-31 10:15] #406 closed, assigned to nobody

[2019-12-31 10:17] ClementChapalain commented on #481
plus d'actualité, le simulateur pose désormais toutes les bonnes questions

[2019-12-31 10:17] #481 closed, assigned to jrduscher

[2019-12-31 10:17] ClementChapalain commented on #482
done

[2019-12-31 10:17] #482 closed, assigned to nobody

[2019-12-31 10:17] ClementChapalain commented on #490
done

[2019-12-31 10:17] #490 closed, assigned to jrduscher

[2019-12-31 10:19] jrduscher opened #2122 "Titre de l'outil salaire brut/net"
![image](https://user-images.githubusercontent.com/37538697/71618293-58654080-2bbf-11ea-8700-c45b66788fe4.png)

Le titre a été changé sur les tuiles de la page d'accueil mais pas sur la page de l'outil:
![image](https://user-images.githubusercontent.com/37538697/71618275-4be0e800-2bbf-11ea-812a-c700a858d9e3.png)

- Simulateur d'embauche = >Salaire brut net

[2019-12-31 10:20] ClementChapalain commented on #515
outdated, liste des modèles revue récemment

[2019-12-31 10:20] #515 closed, assigned to lionelB

[2019-12-31 10:22] ClementChapalain commented on #526
le header a été revu en prenant en compte cette tâche

[2019-12-31 10:22] #526 closed, assigned to nobody

[2019-12-31 10:22] ClementChapalain commented on #531
done

[2019-12-31 10:22] #531 closed, assigned to ClementChapalain

[2019-12-31 10:24] ClementChapalain commented on #568
toujours d'actualité ?

[2019-12-31 10:24] ClementChapalain commented on #586
outdated :)

[2019-12-31 10:24] #586 closed, assigned to ClementChapalain, jrduscher, virginielastisneres

[2019-12-31 10:25] ClementChapalain commented on #679
done !

[2019-12-31 10:25] #679 closed, assigned to ClementChapalain, jrduscher, virginielastisneres

[2019-12-31 10:27] ClementChapalain commented on #703
fiche plus intégrée -> tâche outdated

[2019-12-31 10:27] #703 closed, assigned to nobody

[2019-12-31 10:29] ClementChapalain commented on #747
Fait sur les différents contenus du site

[2019-12-31 10:29] #747 closed, assigned to nobody

[2019-12-31 10:29] ClementChapalain commented on #749
je ferme car nous centralisons les modèles à créer dans le spreadsheet désormais

[2019-12-31 10:29] #749 closed, assigned to nobody

[2019-12-31 10:30] ClementChapalain commented on #851
outdated avec le nouveau système de gestion des thèmes dans le data filler

[2019-12-31 10:30] #851 closed, assigned to nobody

[2019-12-31 10:31] ClementChapalain commented on #856
on garde docx :)

[2019-12-31 10:31] #856 closed, assigned to nobody

[2019-12-31 10:35] ClementChapalain commented on #857
2/ done

[2019-12-31 10:36] ClementChapalain commented on #891
avec le nouveau header sticky je propose de fermer cette tâche

[2019-12-31 10:36] ClementChapalain commented on #901
done du coup :)

👏 👏 niko !

[2019-12-31 10:36] #901 closed, assigned to nkrmr, UnbearableBear

[2019-12-31 10:37] ClementChapalain commented on #913
outdated avec la nouvelle page convention collective

[2019-12-31 10:37] #913 closed, assigned to adipasquale

[2019-12-31 10:41] ClementChapalain commented on #952
fait pour les pages de résultat d'outil

[2019-12-31 10:49] ClementChapalain commented on #957
plus vraiment d'actualité vu qu'on souhaite changer le fonctionnement du calculateur

[2019-12-31 10:49] #957 closed, assigned to nobody

[2019-12-31 10:57] ClementChapalain commented on #1035
outdated

[2019-12-31 10:57] #1035 closed, assigned to nobody

[2019-12-31 11:02] ClementChapalain commented on #1036
outdated

[2019-12-31 11:02] #1036 closed, assigned to nobody

[2019-12-31 11:02] ClementChapalain commented on #1037
outdated

[2019-12-31 11:02] #1037 closed, assigned to nobody

[2019-12-31 11:07] ClementChapalain commented on #1040
done

[2019-12-31 11:07] #1040 closed, assigned to nobody

[2019-12-31 11:07] ClementChapalain commented on #1200
done !

[2019-12-31 11:07] #1200 closed, assigned to nobody

[2019-12-31 11:08] ClementChapalain commented on #1314
done

[2019-12-31 11:08] #1314 closed, assigned to jrduscher, virginielastisneres

[2019-12-31 11:10] ClementChapalain commented on #1374
corrigé pour moi

[2019-12-31 11:10] #1374 closed, assigned to nobody

[2019-12-31 12:12] ClementChapalain commented on #1928
yeah !

[2019-12-31 12:19] virginielastisneres opened #2124 "Bug version mobile indemnité de précarité"
### Version mobile de l'outil indemnité de précarité, étape 4

Les textes ne sont pas bien ordonnés, il faut que cela donne :

- En indiquant le montant total des rémunérations.
- En indiquant le salaire mensuel pour chaque mois.

![Screenshot_20191231-131607](https://user-images.githubusercontent.com/48682104/71621490-ec3f0880-2bcf-11ea-9ce7-69f88c903526.png)

[2019-12-31 12:23] virginielastisneres opened #2125 "Outil de l'indemnité de précarité : quelques améliorations"
### Etape 4 de l'outil de l'indemnité de précarité :

Il faut que la phrase "* Majorations, indemnités, primes et accessoires compris sauf les remboursements de frais et l’indemnité de congés payés." soit placée en dessous de la question "Quelle est la rémunération totale brute perçue durant le contrat de travail ?*" et avant le champ à remplir.

![image](https://user-images.githubusercontent.com/

[2019-12-31 12:26] virginielastisneres commented on #2125
idem pour la seconde option :

![image](https://user-images.githubusercontent.com/48682104/71621689-13e2a080-2bd1-11ea-9424-0008bc3fd0f7.png)

[2019-12-31 12:28] virginielastisneres commented on #2124
### Etape 4 la suite

 - le champ à remplir pour les rémunérations n'est pas assez grand
- on ne peut pas entrer de montant dans le champ à remplir (peut être à cause de sa taille ?)
- les deux points doivent être à coté de "montant" et non en dessous
- et le bouton supprimer est un peu trop gros

![Screenshot_20191231-132450](https://user-images.githubusercontent.com/48682104/71621711-4391a880-2b

[2019-12-31 12:32] jrduscher commented on #2125
Minuscule correction de wording à faire en passant:

Page d'introduction:
passage à modifier:
"Vous pourrez simuler simplement le montant de la prime de précarité définie par le Code du travail avec la prise en compte des particularités présentes dans certaines branches d’activité."

par
Vous pourrez simuler simplement le montant de la prime de précarité définie par le code du travail avec la pris

[2019-12-31 12:35] virginielastisneres commented on #2125
Pourrait-on avoir le symbole euros à coté du montant (quitte à mettre le montant en dessous) ?

![InkedScreenshot_20191231-133228 (1)_LI](https://user-images.githubusercontent.com/48682104/71621891-607aab80-2bd2-11ea-80d2-a1c22b309b01.jpg)

[2019-12-31 12:53] jrduscher commented on #1602
Aujourd'hui, les cas signalés ne sont pas réglés: pour les cas qui ne sont pas à déduire le wording a été changé, mais ils sont également dans la liste des cas déductibles:
![image](https://user-images.githubusercontent.com/37538697/71622084-ca478500-2bd3-11ea-8c67-f97009c255e6.png)

## 1) Retirer du menu déroulant:
- [ ]   le congé de solidarité international
- [ ] le congé de proche aidant
- [ ]

[2019-12-31 13:05] virginielastisneres opened #2128 "Bug orthographe page modèles de courriers"
Remplacer le titre "Consulter et télécharger nos modèles de documents" par "Consultez et téléchargez nos modèles de documents"
=> https://code.travail.gouv.fr/modeles-de-courriers

[2019-12-31 13:19] revolunet commented on #568
a priori non. question a reexplorer quand on fera un point sur la MAJ des datas (asap) :)

[2019-12-31 13:26] revolunet commented on #385
ui, todo :)

[2019-12-31 13:29] ylascombe opened #2129 "Dette : ne pas ajouter l'url code.travail.gouv.fr dans l'ingress systématiquement mais uniquement sur la prod"
**Description**
Suite à la PR https://github.com/SocialGouv/code-du-travail-numerique/pull/2126#pullrequestreview-337374372, nous avons ajouté l'url code.travail.gouv;fr dans la liste des hosts de l'ingress. Comme ce n'est pas conditionné, cela est fait également sur les env hors prod. Ca ne bloque pas ni fait d'erreur mais il serait tout de même intéressant d'ajouter une condition sur cette url.

[2019-12-31 13:33] ClementChapalain commented on #568
ok je te laisse fermer si tu veux :)

[2019-12-31 13:37] jrduscher opened #2130 "Cohérence entre les périodes temps plein / temps partiel et dates entrée / sortie"
## Amélioration parcours user et calcul: Alternance temps plein temps partiel
* Objectif: Aider l'utilisateur dans sa saisie et éviter les risques d'erreur
* problème constaté: L'user va rentrer ses dates d'entrée et de sortie d'un côté et le cumul des périodes temps plein temps partiel de l'autre. Si ces deux variables ne correspondent pas le résultat du  calcul sera faux.

Un exemple absurde: au

[2019-12-31 13:46] #568 closed, assigned to nobody

[2019-12-31 14:38] jrduscher opened #2133 "Glossaire: définition du CSE"
![image](https://user-images.githubusercontent.com/37538697/71624114-3086d480-2be1-11ea-8e22-c950560c5e6a.png)

La définition du glossaire  "Comité Social Economique  s’affiche aussi pour son acronyme "CSE". ( ce qui en soi est plutôt cool)
Problème, dans ce cas: A la fin de la définition, on ne sait pas quels sont les termes cachés derrière cet acronyme.

[2019-12-31 15:29] virginielastisneres commented on #2116
il y a un problème de taille de police... les sous-titres dans les questions sont beaucoup trop gros. Il faut les réduire.
![image](https://user-images.githubusercontent.com/48682104/71625909-a3487d80-2bea-11ea-970e-7521ebef5a73.png)

[2019-12-31 15:34] revolunet commented on #2100
Pour la Fiche MT, son url est toujours accessible, mais il y a une redirection vers une nouvelle fiche.

Or c'est cette nouvelle URL qu'on utilise pour référencer le contenu en interne :)

quand on met à jour les fiches MT, on met à jour les refs en interne mais pas dans les contributions

[2019-12-31 15:46] #2128 closed, assigned to nobody

[2019-12-31 16:01] ClementChapalain opened #2135 "Les fiches MT s'affichent en entier dans leur premier accordéon"
https://code.travail.gouv.fr/fiche-ministere-travail/les-conges-pour-evenements-familiaux?q=les%20cong%C3%A9s%20pour%20%C3%A9v%C3%A9nements%20familiaux

https://code.travail.gouv.fr/fiche-ministere-travail/la-demission?q=demission#Comment-presenter-une-demission

[2019-12-31 16:45] #2135 closed, assigned to nobody

[2019-12-31 16:49] lionelB commented on #1976
ahah oui j'avais pas du tout compris çà.

[2020-01-01 15:54] lionelB commented on #857
l'ideal serait de le traiter comme un outils externes et de ne plus gérer une intégration spécifique chez nous.

[2020-01-02 00:37] UnbearableBear opened #2141 "Progressive web app"
Actuellement le code du travail est utilisable meme quand l'api est down, avec uniquement les outils disponibles. Pourquoi ne pas mettre en place du offline, un manifest et carrément transformer le code du travail numérique en une PWA ?

[2020-01-02 10:23] revolunet opened #2144 "renovate: split socialgouv and nonMajor"
We should favour @socialgouv data updates over external ones

[2020-01-02 10:28] jrduscher opened #2147 "[Modèle de courrier] aperçu et affichage des tableaux et colonnes"
# Affichage et mise en page: bugs
Aujourd’hui, la mise en page des tableaux d'une part et l'affiche des colonnes dans une page ne sont pas reconnus dans les aperçus:

## Exemple 1: Tableau:
[Lien vers le modèle ](https://master-code-travail.dev.fabrique.social.gouv.fr/modeles-de-courriers/lettre-de-reclamation-des-heures-supplementaires)
- **dans le docx:**
![image](https://user-images.githubuserc

[2020-01-02 10:42] lionelB commented on #1928
need moar investigation and test
https://master-code-travail.dev.fabrique.social.gouv.fr/code-du-travail/l1243-1?q=d%C3%A9mission%20cdd

[2020-01-02 13:21] virginielastisneres opened #2150 "Bug UI Carte outil"
Il y a un bug au niveau de la carte outil Index Egapro, le titre et le picto ne sont pas centré !
Il serait bon de vérifier les autres. Je vais essayer de trouver des pages qui me les indiquent pour voir.

https://master-code-travail.dev.fabrique.social.gouv.fr/fiche-ministere-travail/index-de-legalite-professionnelle-calcul-et-questions-reponses?q=Index%20de%20l%E2%80%99%C3%A9galit%C3%A9%20profes

[2020-01-02 13:24] UnbearableBear commented on #2150
Merde,  c'est probablement du à un refacto recent :/

[2020-01-02 13:33] virginielastisneres commented on #2150
c'est facilement réparable ? et tu peux vérifier les autres cartes ou on doit les vérifier à la main ?

[2020-01-02 13:39] UnbearableBear commented on #2150
c'est probablement un peu plus compliqué que ça en a l'air. Ca devrait être un lien et c'est un bouton qui s'affiche et j'ai du mal à reproduire en local

[2020-01-02 13:41] UnbearableBear commented on #2150
D'ailleurs vu que c'est un bouton (probablement parce que le lien n'est pas correctement renseigné), il ne se passe rien quand on clique dessus

[2020-01-02 13:42] virginielastisneres opened #2152 "Bug page fiches pas de contenu proposé sur le côté"
Contrairement à toutes les autres fiches ministère(cf photo 1), il n'y a pas de contenu proposé sur le côté pour la page : https://master-code-travail.dev.fabrique.social.gouv.fr/fiche-ministere-travail/la-validation-des-acquis-de-lexperience-vae?q=bonus%20malus#Qui-peut-beneficier-de-la-VAE.

Est-ce normal ?

![image](https://user-images.githubusercontent.com/48682104/71669686-d109ff80-2d6d-11ea-

[2020-01-02 13:44] UnbearableBear commented on #2152
Ca arrive ! Si on ne trouve rien de pertinent parce que la fiche est très spécifique. A voir côté back si on peut aller récupérer malgré tout des résultats non pertinents ? @ClementChapalain

[2020-01-02 13:48] virginielastisneres commented on #2150
ah oui c'est vrai j'avais même pas cliqué dessus...

[2020-01-02 13:58] UnbearableBear commented on #2150
Ok je crois que j'ai trouvé ! Recemment il a été rajouté la possibilité d'avoir des outils externes non ? Le cas des outils externe n'est pas géré ici. On essaye de constuire le lien comme si il s'agissait d'un outil interne, et ça foire.
EDIT et non, normalement c'est géré
REEDIT: sauf que l'url n'est pas remonté donc ça ne risquait pas de fonctionner

[2020-01-02 14:06] revolunet commented on #2129
Il faudrait également ajouter une ingress pour gérer code.travail.gouv.fr en prod

[2020-01-02 14:06] virginielastisneres commented on #2152
je comprends pas pourtant il y a pleins de contenus sur la vae
https://master-code-travail.dev.fabrique.social.gouv.fr/recherche?q=La%20validation%20des%20acquis%20de%20l%E2%80%99exp%C3%A9rience%20(VAE)

[2020-01-02 14:11] jrduscher opened #2153 "Amélioration : recherche " services en région""
Amélioration de la navigation plus que bug.

![image](https://user-images.githubusercontent.com/37538697/71671037-26481000-2d72-11ea-8ab0-29dbd530621c.png)

## Irritant:

- Des erreurs sont possibles à la saisie du numéro de département: (Ex : La recherche du département de l'Ain, ne fonctionne qu'en saisissant "1". elle ne donne rien en tapant "01".)

- Le champ de saisie est particulièrement gra

[2020-01-02 14:11] virginielastisneres commented on #2150
hum hum donc c'est le problème vient du fait que c'est un outil externe ?

[2020-01-02 14:12] UnbearableBear commented on #2150
Tu peux vérifier sur d'autre outils remontés qui ne sont pas externes normalement ça devrait aller. Je fais un fix dans la foulée

[2020-01-02 14:17] virginielastisneres commented on #2150
C'est bon pour les outils internes => https://master-code-travail.dev.fabrique.social.gouv.fr/fiche-service-public/indemnite-de-licenciement-du-salarie-en-cdi

[2020-01-02 14:21] UnbearableBear commented on #2152
Je n'ai pas eu l'occasion de creuser les "more_like_this" de elastisearch. C'est le mécanisme que l'on utilise pour le moment. Il faudrait peut-etre envisager de passer par autre chose ou de le modifier pour le rendre moins selectif @lionelB

[2020-01-02 15:06] virginielastisneres opened #2156 "Bug affichage lien externe télérc et mon compte formation"
J'ai deux affichages différents de l'outil externe TéléRC en fonction de la requête que je fais. Les deux liens fonctionnent et m'amène au même endroit.
Une idée d'où cela pourrait venir @revolunet @ClementChapalain @UnbearableBear ? datafiller ?

exemple 1 datafillé :
![image](https://user-images.githubusercontent.com/48682104/71673605-81c9cc00-2d79-11ea-94c3-9d7f7732b624.png)

exemple 2 non data

[2020-01-02 15:21] virginielastisneres commented on #2156
idem pour l'outil mon compte formation : j'ai l'impression que c'est lié au datafiller car une des requêtes est datafillée et une autre non...

exemple 1 non datafillé :
![image](https://user-images.githubusercontent.com/48682104/71674544-bfc7ef80-2d7b-11ea-98bc-3b3cef4a14d7.png)

exemple 2 datafillé :
![image](https://user-images.githubusercontent.com/48682104/71674605-ef76f780-2d7b-11ea-9f2d-0c9

[2020-01-02 16:48] virginielastisneres opened #2157 "Afficher le thème des fiches MT dans les résultats"
Lorsque l'on fait une requête sur le site, les fiches MT qui sont en résultat proposé n'ont pas le thème associé alors que toutes les fiches MT sont thémées.

Exemple ci-dessous :
![image](https://user-images.githubusercontent.com/48682104/71679454-eb50d700-2d87-11ea-9b76-82b495aa8d6d.png)
lien : https://code.travail.gouv.fr/recherche?q=cong%C3%A9s%20pay%C3%A9s

[2020-01-02 17:12] jrduscher commented on #2156
Il restait des liens externes dans le datafiller (partie requete). Nettoyage fait. On avait dit qu'on les virait du df pour le moment pour mieux les réintégrer plus tard. ( #2106)

[2020-01-02 17:12] jrduscher commented on #2156
il faudra faire une màj des données du df à la prochaine mise en prod @revolunet

[2020-01-02 17:19] virginielastisneres commented on #2156
Il me semble qu'on enlevait que les liens non validés par Catherine vu que ceux validés on a la carte.

[2020-01-02 17:43] lionelB commented on #2152
c'est étrange car justement on double le more_like_this avec une recherche sémantique, ca devrait justement pas arrivé car la recherche sémantique trouve "toujours" des documents

[2020-01-03 09:17] ClementChapalain commented on #2133
Oui bien vu ! On pourrait fixer ça en mettant le titre de la définition en gras dans le glossaire genre comme ça :

On peut bien mettre tu markdown dans les définitions @revolunet ?

@virginielastisneres tu en penses quoi ?

[2020-01-03 09:20] ClementChapalain commented on #2141
![giphy](https://user-images.githubusercontent.com/5337489/71715691-94dcaa80-2e12-11ea-88ce-fcc5a450eff8.gif)

[2020-01-03 09:22] ClementChapalain commented on #2147
Pour le deuxième est-ce qu'on ne peut pas modifier le modèle pour avoir une seule colonne plutôt que deux ? J'ai l'impression que le contenu est linéaire

[2020-01-03 09:31] virginielastisneres commented on #2133
Je pense qu'il suffit de séparer les définitions.

Mettre pour CSE :
Comité Social Économique
bla bla bla

et pour Comité Social Économique
bla bla bla

Ca évite d'encombrer la définition du Comité Social Économique.

[2020-01-03 09:31] ClementChapalain commented on #2156
@virginielastisneres ce que tu vois correspond effectivement à deux types de liens différents :
- les outils externes : outils qu'on a ajouté à la main et qui sont indexés pour ressortir dans la recherche ou dans les contenus qui peuvent vous intéresser
- les liens externes datafillés : ce que JR vient d'enlever car effectivement on les affichait mal dans la recherche

L'idéal serait de pouvoir da

[2020-01-03 09:33] UnbearableBear commented on #2141
Franchement t'exagères, je suis sûr que un dev en un sprint c'est plié !
C'est le prix à payer pour être "state of the art" en ergnonomie 😄

[2020-01-03 09:38] virginielastisneres commented on #2156
Oui car moi ca me pose un sacré problème de ne pas les datafiller car s'il n'apparaissent plus c'est pire, je préfère encore les laisser dans le datafiller, ils ressortent au moins.

Quand je tape index egapro dans le datafiller j'ai un truc qui apparaît comme quoi c'est un outil externe.
![1](https://user-images.githubusercontent.com/48682104/71716434-0f0e2e80-2e15-11ea-8f15-31c95f4c2783.png)

Je

[2020-01-03 09:39] ClementChapalain commented on #2042
ça a été corrigé en changeant le lien pour le nouvel ID.

pour éviter que ça se reproduise, on pourrait imaginer une alerte quand les fiches appelées ne sont pas trouvées ?

[2020-01-03 09:42] ClementChapalain commented on #2032
ça fonctionne pour moi, quel est le bug ? le fait que le `+` n'apparaisse pas dans l'url ?

[2020-01-03 09:42] ClementChapalain commented on #1988
possible de vérifier si c'est toujours le cas @virginielastisneres @jrduscher svp ?

[2020-01-03 09:44] ClementChapalain commented on #2156
si ça fonctionne de le sélectionner comme ça dans le datafiller c'est effectivement la bonne solution je pense. @revolunet c'est ok de prendre ce lien qui apparait dans le datafiller ?

[2020-01-03 09:52] ClementChapalain commented on #2133
oui meilleure solution effectivement :) je vous laisse gérer ?

[2020-01-03 09:56] douglasduteil opened #2160 "debt(data): sub packages in data packages"
We should not have sub packages in the `@cdt/data` package.
It seems like this package is mainly use for indexing.
I would recommend that we rename and split the package so it explicitly use the sub dataset **as dependencies** (not explicit relatif path form).
The new package should be named `@cdtn/data...indexing` or `@cdtn/data___indexing` or `@socialgouv/cdtn___data___indexing` (i dunno) it hav

[2020-01-03 09:56] revolunet commented on #2133
Oui pour le markdown côté glossaire par contre ce nest pas encore géré côté front

[2020-01-03 09:59] revolunet commented on #2032
Effectivement maintenant ca fonctionne avec l'accordéon ouvert 🤔

[2020-01-03 09:59] lionelB commented on #2133
tout à fait :)
c'est géré au moment de l'extraction

[2020-01-03 10:00] revolunet commented on #2042
Toutes les erreurs nous sont remontées éventuellement via sentry mais on pourrait avoir une alerte plus tôt, par exemple au moment où on met à jour les contributions ?

[2020-01-03 10:01] lionelB commented on #2156
Les liens externes sont maintenant listés, pour être ensuite récupérér dans le datafiller. Il ne faut donc plus saisir d'url dans les données du datafiller. Pour rajouter un outil externe, on le rajoute au json, qui une fois intégré, et dispo dans le datafiller

[2020-01-03 10:02] lionelB commented on #2042
oui ca serait une bonne vérification !

[2020-01-03 10:03] ClementChapalain commented on #2032
🙌

[2020-01-03 10:03] #2032 closed, assigned to nobody

[2020-01-03 10:04] douglasduteil opened #2162 "debt(frontend): data as external endpoint"
I have mixed feeling about having so much `@cdt/data...*` dependencies in the frontend. I would argue that, in itself, the frontend --- in sense of website --- doesn't have dependencies on the data at all.
The used pattern seems to describe the frontend as a backend to where *part* of the static data ressource are embedded in the SSR of the fontend, where it could be a call to an external API.
Con

[2020-01-03 10:05] ClementChapalain commented on #2156
trop bien, du coup désolé @jrduscher je ne pensais pas que c'était possible, mais il faudrait maintenant remettre les outils avec les bons liens pris depuis l'auto-complétion, à partir du backup de #2106 j'imagine

[2020-01-03 10:06] lionelB commented on #2141
je veux bien m'occuper d'ajouter un serviceworker mais comme la majorité du site est du contenu, j'ai du mal à voir ce que ca apporte si on met de coté la partie perf

[2020-01-03 10:07] ClementChapalain commented on #2122
changer également le nom de l'outil CC

[2020-01-03 10:07] revolunet opened #2163 "CI : ministere-travail-liste-fiches.json"
Lorsque qu'une PR est faite sur le fichier `ministere-travail-liste-fiches.json`, voir si on peut trigger un job :

 - récupérer les nouvelles fiches
 - appeler updateTheme
 - Ajouter un commit à la PR avec les changes
 - Envoyer le rapport sur la PR

[2020-01-03 10:07] lionelB commented on #2163
ca serait trop bien !

[2020-01-03 10:08] lionelB commented on #2122
l'outils de recherche des convention collective ?

[2020-01-03 10:11] ClementChapalain commented on #2122
oui, dans cette page il faut qu'on change pour "Convention collective" pour être cohérent avec la homepage : https://master-code-travail.dev.fabrique.social.gouv.fr/outils

[2020-01-03 10:20] virginielastisneres commented on #1988
ca fonctionne pas de mon côté...

[2020-01-03 10:24] revolunet commented on #2141
je mets deux petits warnings sur ce sujet :

 - ce ne serait utile que pour les outils (et encore, sans le picker de ccn)
 - avant de faire de l'offline, il faut être certain de savoir gérer le cache correctement car le risque c'est d'avoir du code outdaté qui ne se met pas à jour (les SW ont été désactivés par défaut dans create-react-app suit à ce genre de problème)

[2020-01-03 10:25] virginielastisneres commented on #2133
all ready down

[2020-01-03 10:31] virginielastisneres commented on #2156
du coup les bons liens suite à  l'intégration dans le datafiller c'est celui de ma photo ? @revolunet
C'est écrit /external/index-egapro
mais j'ai une erreur 500 sur ces liens, sont-ils bons ?

[2020-01-03 10:34] revolunet opened #2164 "MAJ datafiller + CCNs"
Remplir les 50 CCNs dans le datafiller pour pouvoir continuer la classification

[2020-01-03 10:35] revolunet opened #2165 "MAJ page stats"
Mettre à jour la page /stats : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/pages/stats.js

[2020-01-03 10:38] revolunet commented on #2156
Oui en théorie c'est bon @virginielastisneres . par contre les outils n'ont pas de page dédiée donc l'url ne fonctionne pas . c'est normal.

[2020-01-03 10:40] virginielastisneres commented on #2156
SOUPERRRRR 👍 💃

[2020-01-03 10:54] virginielastisneres commented on #2152
Oui surtout que j'en vois d'autres également qui là est une fiche SP et normalement il y a quand même des fiches sur le congé de proche aidant .
- fiche : https://code.travail.gouv.fr/fiche-service-public/conge-de-proche-aidant
- résultats recherche "congé de proche aidant" : https://code.travail.gouv.fr/recherche?q=Cong%C3%A9%20de%20proche%20aidant

[2020-01-03 11:19] virginielastisneres opened #2166 "Bug affichage contenu fiche MT"
J'ai remarqué plusieurs problèmes d'affichage des sous-titres dans les fiches MT...

Exemples :

- fiche VAE : https://code.travail.gouv.fr/fiche-ministere-travail/la-validation-des-acquis-de-lexperience-vae?q=vae#Comment-est-evaluee-une-demande-de-VAE
![image](https://user-images.githubusercontent.com/48682104/71719355-64027280-2e1e-11ea-95a7-d2f495b27087.png)
le 1er sous-titre est beaucoup trop

[2020-01-03 12:14] revolunet commented on #2100
je n'ai pas de solution aujourd'hui à part :
 - maintenir des urls
 - afficher une erreur lors de l'importation de la contribution

[2020-01-03 12:56] nkrmr commented on #2122
Je m'en occupe

[2020-01-03 13:33] nkrmr commented on #2122
Closed by #2168

[2020-01-03 13:33] #2122 closed, assigned to nkrmr, ClementChapalain

[2020-01-03 13:46] jrduscher commented on #2147
### Aperçus:

L'affichage en PDF pourrait être plus simple pour tout le monde ( rédacteur, lecteur) et éliminerait le risque de différences entre le docx et l'aperçu.

Si l'affichage PDF est possible en lieu et place de l'aperçu actuel cela devrait régler les soucis d'affichage des tableaux et des colonnes. ( la présente issue ne serait plus à traiter)

[2020-01-03 14:28] #891 closed, assigned to nobody

[2020-01-03 14:31] UnbearableBear commented on #891
ok 😞

[2020-01-03 15:05] revolunet commented on #1928
Ce cas a été traité, on reopen si on en voit d'autres

[2020-01-03 15:07] revolunet commented on #1928
Exclure les codes tiers : https://master-code-travail.dev.fabrique.social.gouv.fr/code-du-travail/l1242-2

[2020-01-03 16:00] lionelB commented on #2147
personnellement la partie pdf apporte pas mal de complexité, je préférerai me baser sur des retours / tests utilisateur sur cette partie pour bien cerner les besoins

[2020-01-04 00:28] lionelB commented on #2152
__probleme identifié__
Une partie du problème vient d'un bug sur le filtrage des fiches retournée

Une autre partie vient du fait que la requete `more_like_this` ne remonte que des contenus qui proviennent de la fiche sur laquelle on se trouve (ses paragraphes, vu que la fiches est divisé en section qui correspondent aux documents)
et dans le cas des pages ministere-travail, on n'utilise pas la re

[2020-01-04 11:10] UnbearableBear commented on #2150
J'ai reglé le pb d'alignement dans le cas ou la carte est un bouton !

[2020-01-04 11:10] #2150 closed, assigned to UnbearableBear

[2020-01-06 09:15] #2095 closed, assigned to lionelB

[2020-01-06 09:15] #2152 closed, assigned to lionelB

[2020-01-06 09:45] virginielastisneres opened #2177 "Outil indemnité de précarité : disclaimer / clean données"
- [ ]  ajouter un disclaimer sur la HDN dans l'outil de l'indemnité de précarité.

**Pour les données** 3 situations sont à distinguer pour 3 disclaimers différents.
cf. la colonne Q "Disclaimer" du fichier https://docs.google.com/spreadsheets/d/1SCFHUDjsWWRdVhYP5cVz2Q3AqPa-ubOYsEc3C3kRKOA/edit#gid=1991895535**

### 1| **Disclaimer quand CC non renseignée ou non traitée et que le Code du travail o

[2020-01-06 10:09] #2118 closed, assigned to lionelB

[2020-01-06 15:52] nkrmr commented on #2157
Closed by: #2182

[2020-01-06 15:52] #2157 closed, assigned to nkrmr

[2020-01-06 16:26] jrduscher opened #2183 "bug: Préavis de démission/ page résultat"
## Préavis de démission
### Disclaimer hiérarchie des normes en page résultat:
Erreur de droit.

changer :
"Une durée de préavis de démission plus favorable au salarié peut aussi être prévue dans une convention ou un accord au niveau de l’entreprise"

par

"Si un accord d'entreprise prévoit une durée différente  pour le préavis de démission : il faudra l'appliquer, sauf si le contrat de travail pr

[2020-01-06 16:29] jrduscher opened #2184 "Bug report"
### Disclaimer en page résultat:
Erreur de droit.

changer :
"Une durée de préavis de démission plus favorable au salarié peut aussi être prévue dans une convention ou un accord au niveau de l’entreprise"

par

"Un accord collectif d'entreprise peut prévoir une durée de préavis de démission différente, qu'elle soit inférieure ou supérieure. Dans ce cas la durée de préavis de démission prévu par l'

[2020-01-06 16:29] #2184 closed, assigned to nobody

[2020-01-06 16:30] jrduscher commented on #2184
petite erreur de saisie: doublon d’issue

[2020-01-06 16:40] ClementChapalain commented on #1928
je dépriorise si c'est juste pour les articles des autres codes

[2020-01-06 16:43] ClementChapalain opened #2185 "Une contribution non publiée est visible depuis la page convention collective"
Sur la page :
https://master-code-travail.dev.fabrique.social.gouv.fr/convention-collective/1979-hotels-cafes-restaurants

Lorsque l'on cherche la question "congés pour événements familiaux" on trouve la réponse lié à la convention collective mais lorsque l'on clique sur "réponse complète" on tombe sur une 404 car la réponse générique n'est pas publiée.

Il faudrait que pour les contributions dont

[2020-01-06 16:57] lionelB commented on #2185
il faudrait pas plutot corriger le pb coté contrib en n'exposant que les conventions validées et publiées ?

[2020-01-06 22:09] nkrmr commented on #1988
@ClementChapalain Ne marche pas sur IE 11 je regarde

[2020-01-07 14:01] lionelB commented on #1961
le wording etait moins autere

[2020-01-07 14:01] ClementChapalain commented on #2116
Pour les tailles de police dans les questions, il faut changer le markdwon (ne pas mettre des titres avec des `###` dans les contributions).

[2020-01-07 14:05] ClementChapalain commented on #2100
Pour la fiche MT, Nadia l'a réécrite donc ok pour maintenant

[2020-01-07 14:05] #2100 closed, assigned to revolunet

[2020-01-07 14:19] ClementChapalain opened #2188 "Nouvelle fiche MT à intégrer"
https://travail-emploi.gouv.fr/droit-du-travail/la-remuneration/article/la-prime-exceptionnelle-de-pouvoir-d-achat

[2020-01-07 14:22] rmelisson commented on #1981
all good

[2020-01-07 14:22] #1981 closed, assigned to rmelisson

[2020-01-07 14:26] rmelisson opened #2189 "Logs : ajout des logs de themes"
Pour le moment, la navigation par theme produit des logs 'candidateResults', ce qui pose problème dans l'analyse.
Comme vu avec Lionel, renommer ces calls pour pouvoir les analyser indépendamment.

[2020-01-07 14:27] rmelisson commented on #1979
Done pour la première mise à jour.
En attente de #2189

[2020-01-07 14:33] jrduscher opened #2190 "contribution "durée de préavis de démission": réponse générale incomplète"
La réponse générique reprend les données d'une fiche.
![image](https://user-images.githubusercontent.com/37538697/71902619-bddaa380-3162-11ea-8953-0877fbef67bf.png)

Le cas général ne correspond qu'à un des 3 onglets de cette fiche. Les deux autres ne se trouvent pas dans cette réponse. Il ne s'agit pas d'une volonté de l'équipe, ces éléments sont importants:
https://www.service-public.fr/particul

[2020-01-07 14:56] jrduscher commented on #1961
### Préavis de démission:  Cas de la CCN non traitée par l'équipe:

résultat: Nous n’avons pas encore traité cette convention collective.
Hiérarchie :

Le code du travail ne prévoit pas de durée précise du préavis de démission ( en dehors de certaines professions et cas particuliers): nous vous invitons à consulter le contenu de la convention collective.

un accord collectif d’entreprise peut prév

[2020-01-07 14:59] jrduscher commented on #1961
### Préavis de licenciement: CCN non traitée

#### Pour le résultat :
C’est la durée légale qui est affichée. Quand la durée est également à 0 c’est-à-dire quand l’ancienneté du salarié est inférieure à 6 mois, il faut afficher :

« Aucun préavis. »

#### Bloc hiérarchie :

si durée du préavis légal = 0
L'existence et la durée du préavis de licenciement peut être prévue par un accord d’entreprise,

[2020-01-07 15:01] jrduscher commented on #1961
## Préavis de licenciement: CCN traitée,  Réponse CCN>0 et Réponse CDTL>=0 ( cas général)

### Pour le résultat :

pour durée de préavis conventionnel> 0,

si durée légale> 0

afficher résultat (max entre durée légale et durée conventionnelle

Si durée du préavis légal = 0, il faut afficher :
« Aucun préavis. »
"Le code du travail ne prévoit pas de durée de préavis de licenciement sauf, cas partic

[2020-01-07 16:17] nkrmr commented on #1988
Fixed by #2192

[2020-01-07 16:24] nkrmr commented on #2084
@virginielastisneres Pourrais-tu me dire sut quel navigateur tu as eu ce résultat ?

[2020-01-07 16:27] virginielastisneres commented on #2084
Sur Chrome @nkrmr :)

[2020-01-07 17:44] jrduscher commented on #1928
Les liens pointant  vers **des** articles code du travail dans le texte d'un article  du code
![image](https://user-images.githubusercontent.com/37538697/71915237-993ef580-317b-11ea-83c6-f8ce1b444295.png)
autre exemple similaire
https://master-code-travail.dev.fabrique.social.gouv.fr/code-du-travail/l1251-58-3?q=r4323-58

nb: on notera avec un plaisirs non dissimulé que les 3 liens vers des articl

[2020-01-08 08:38] ClementChapalain commented on #2165
j'avais oublié qu'on avait cette page ! faut qu'on la retravaille c'est cool :)

[2020-01-08 10:22] jrduscher opened #2194 "Fil d'ariane sur les différentes pages de contenus du site"
## bug

le fil d'ariane apparait bien pour toutes les pages des fiches comme suit:
![image](https://user-images.githubusercontent.com/37538697/71968323-f6cb5480-3204-11ea-80ab-a0ca9d11bfbc.png)

En revanche, et bien que ces contenus soient thémés, il n'apparait pas sur:
### les outils
- https://code.travail.gouv.fr/outils/indemnite-licenciement
![image](https://user-images.githubusercontent.com/37

[2020-01-08 11:36] #1988 closed, assigned to nkrmr

[2020-01-08 12:24] jrduscher commented on #1833
#2106

[2020-01-08 12:32] jrduscher opened #2195 "Page à propos: Ajout d'une info sur les exclusions dans à qui s'adresse le service"
##  Situation
https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-frontend/pages/a-propos.js

Aujourd'hui,  le paragraphe à qui s'adresse le service est le suivant
"**À qui ce service s’adresse-t-il ?**

Le Code du travail numérique s’adresse à tous les salariés et employeurs de droit privé relevant du code du travail. Les fonctionnaires et les indépendants

[2020-01-08 13:01] jrduscher opened #2196 "Recherche : une requete avec un pourcentage en "%" fait bloquer la recherche"
bug: une requête qui contient le caractère % (ce qui est clairement possible) ne peut pas se lancer.

requetes tests
ex:
 majoration de 25%
baisse de 10% du salaire

conséquences constatées
1. la requête ne se lance pas
2.
![image](https://user-images.githubusercontent.com/37538697/71979895-22f3cf00-321f-11ea-9bfe-ace2d3a4fc76.png)

[2020-01-08 14:00] UnbearableBear commented on #2196
Bien vu !!

[2020-01-08 14:58] lionelB commented on #1961
@jrduscher  pour l'outils __préavis de démission__ si on a pas de resultats, je pense qu'on peut simplement mettre un wording plutot que garder la meme page mais mettre
[code]

[2020-01-08 15:03] jrduscher opened #2198 "Outils externes: identification sur le site"
### Situation:
Aujourd'hui les outils externes sont présentés comme suit:

- page résultat: en tant que résultat

![image](https://user-images.githubusercontent.com/37538697/71988651-8b977780-3230-11ea-8072-569039ff5e73.png)

- page outils:

![image](https://user-images.githubusercontent.com/37538697/71988141-a61d2100-322f-11ea-9bed-f1018fba1994.png)

### Résolution

Design prévu dans les maquette

[2020-01-08 15:28] #1686 closed, assigned to nobody

[2020-01-08 16:20] lionelB commented on #2188
pour info certaines fiches MT sont non thémées
cf https://github.com/SocialGouv/code-du-travail-numerique/pull/2171#issuecomment-572130215
poke @virginielastisneres  @jrduscher

[2020-01-08 16:46] ClementChapalain opened #2200 "Ajout des trackers pour la campagne d'acquisition"
Nous allons faire une campagne d'acquisition de trafic payant (google, réseaux sociaux) géré par une agence externe. Pour mesurer l'efficacité de la campagne il faut que nous implémentions leurs trackers sur le CDTN.

### Trackers

Les deux trackers à implémenter sur toutes les pages sont les suivants (attention, le deuxième tracker contient un paramètre dynamique à remplir avec l'url de la page c

[2020-01-08 16:49] #2163 closed, assigned to nobody

[2020-01-08 16:49] #2188 closed, assigned to lionelB

[2020-01-08 22:06] lionelB commented on #2185
il me faudrait un cas de contribution sans réponses publié car la 50 a une réponse générique (et à l'air publié)

[2020-01-08 22:12] lionelB commented on #2185
la question 50 a été présente à un moment dans le corpus, (cf https://github.com/SocialGouv/code-du-travail-numerique/commit/3f596f6a7ed94e09c59654e5766ee07e78cc4202#diff-cef3583f4a85017132a49769dbda5549) au moment ou les donnée des page cc ont été générées.

[2020-01-08 22:44] #2116 closed, assigned to lionelB

[2020-01-09 10:25] #2185 closed, assigned to lionelB

[2020-01-09 10:25] virginielastisneres commented on #1961
### Préavis de démission: Cas Général durée CCN > 0

****Résultat****

durée conventionnelle

"Le code du travail ne prévoit pas de durée de préavis de démission sauf, cas particuliers."

****Bloc hiérarchie****
"L'existence et la durée du préavis de démission peut être aussi par un accord d’entreprise ou à défaut, par un usage dans l’entreprise."

### Préavis de démission: Cas Général durée CCN =

[2020-01-09 10:27] lionelB commented on #1961
je pense que c'est pas la peine d'afficher

[2020-01-09 10:29] virginielastisneres commented on #1961
Moi je suis plutôt favorable pour l'afficher car si j'ai pas envie de lire les 3 paragraphes qui suivent je veux juste savoir rapidement s'il y a un résultat ou pas. En une ligne je comprends que je n'ai pas de résultat du fait que je n'ai pas renseignée la convention collective.

[2020-01-09 12:47] #2120 closed, assigned to lionelB

[2020-01-09 13:48] jrduscher commented on #2183
traitée dans la 1961, et par ailleurs teneur juridique discutable.

[2020-01-09 13:48] #2183 closed, assigned to nobody

[2020-01-09 20:47] lionelB commented on #2084
Pour la date, on pourrait la mettre dans un champ dans le header qui ne serait visible qu'en impression
genre
[code]

[2020-01-09 20:48] lionelB commented on #2084
Pour les liens, c'est plutôt une bonne pratique de les mettre mais dans le cas des outils, c'est pas nécessaire je pense

[2020-01-10 09:29] ClementChapalain opened #2213 "Intégrer les contributions aux CC locales"
cf. message de nadia :

et la liste des CC :
![image](https://user-images.githubusercontent.com/5337489/72141991-15138a80-3394-11ea-98fc-43e0d6e08318.png)

[2020-01-10 09:39] revolunet commented on #2213
Ca a été intégré dans notre référentiel kali-data : https://github.com/SocialGouv/kali-data/pull/50

On teste sur CDTN

[2020-01-10 10:02] nkrmr commented on #1831
Après de nombreuses tentatives différentes pour élucider le problème je ne trouve pas de solution pour régler ce bug.

Le premier problème identifié semblait venir du fait de modifier le HTML à l'aide de l'innerHTML dans la méthode   ***useGlossary(children, html)*** ligne 74

[code]

Il semblait y avoir des problèmes identifiés sur internet de l'utilisation spécifique de ***innerHTML*** avec IE.

[2020-01-10 11:30] nkrmr commented on #2084
Effectivement les différent navigateur ne gèrent pas le titre de la même façon.
Je vais essayer avec une date dans le header directement

[2020-01-10 11:31] nkrmr commented on #2084
Il faut également cacher le Toaster lors de l'impression

[2020-01-10 13:57] lionelB opened #2215 "Verifier la récupération des références dans les contributions"
Sur 5000 références disponibles dans l'api de contrib, environ 500 sont des référence au code du travail ("category": "labor_code"), mais seulement 4 apparaissent dans notre export de contributions

cc @ivangabriele @revolunet

[2020-01-10 14:40] revolunet commented on #2215
Côté fetch des données contributions, il n'y a pas de code spécifique pour les references du `labor_code`

https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/contributions/index.js#L70

CDT refs 549
CDT refs with known answers 4

apparemment le `answer_id` de 545 references n'est pas dans les answers publiées

[2020-01-10 14:53] revolunet commented on #2164
done

[2020-01-10 14:53] #2164 closed, assigned to revolunet

[2020-01-10 17:59] #2213 closed, assigned to lionelB

[2020-01-10 21:00] #2196 closed, assigned to revolunet

[2020-01-13 09:40] #1961 closed, assigned to lionelB

[2020-01-13 10:14] revolunet opened #2222 "[SearchCCN] Recherche d'entreprise avec accent"
Ne fonctionne pas. Ex : "les échos"

[2020-01-13 10:15] revolunet opened #2223 "[SearchCCN] Prioriser résultats exacts"
Ex: je recherche "Banque", la CCN banque devrait apparaitre en 1er

<img width="630" alt="Capture d’écran 2020-01-13 à 11 15 22" src="https://user-images.githubusercontent.com/124937/72247810-02988b80-35f6-11ea-8b45-e144d6ac7e12.png">

[2020-01-13 10:19] revolunet opened #2224 "search + scroll : should reset scroll"
Actuellement si on scrolle sur une page puis lancons une recherche (soit de la home soit dune page contenu), les résultats sont affichés mais le scroll n'est pas reset.

Il faudrait que la page de résultats apparaisse sans scroll (=en haut de la liste)

[2020-01-13 10:35] virginielastisneres opened #2226 "Bug UI police accordéon fiche SP et MT"
En naviguant sur les pages contenus (fiches SP et fiches MT), je me suis rendue compte que la police des accordéons n'est pas traitée de la même manière.

Exemples :

- une fiche MT : https://master-code-travail.dev.fabrique.social.gouv.fr/fiche-ministere-travail/amenagement-du-temps-de-travail#Quelles-sont-les-obligations-d-information-de-l-employeur
![image](https://user-images.githubusercontent

[2020-01-13 10:44] virginielastisneres commented on #2226
J'ai l'impression qu'il y a aussi un problème avec les accordéons de la page qu'est ce que le droit du travail ===> https://master-code-travail.dev.fabrique.social.gouv.fr/droit-du-travail

[2020-01-13 11:01] lionelB opened #2227 "a11y: ajouter un mecanisme pour notifier le changement de page pour les lecteurs d'écran"
actuellement, l'utilsateur avec un lecteur d'ecran n'est pas au courant que la page a changer, le focus n'est pas replacé en haut de la page et aucune indication n'est donnée, une fois la navigation faite.

pistes: https://github.com/zeit/next.js/issues/7681

[2020-01-13 11:04] UnbearableBear commented on #2226
C'est une fine analyse :) Je regarde ce qu'il se passe

[2020-01-13 11:06] virginielastisneres commented on #2226
:female_detective:

[2020-01-13 12:57] jrduscher opened #2228 "bug UI: Pages articles du Code du travail et interface de feedback"
Le bloc de feedback apparait en bas de l'encart de l'article, quasiment à l'intérieur de celui ci:

![image](https://user-images.githubusercontent.com/37538697/72257185-48138380-360b-11ea-9d9d-4d562f8a5c85.png)

Le détacher dans l'esprit des pages des fiches:

![image](https://user-images.githubusercontent.com/37538697/72257632-63cb5980-360c-11ea-881e-152d822cce72.png)

[2020-01-13 13:00] UnbearableBear commented on #2228
Ah flute, je n'avais pas vu que l'on pouvait avoir un contenu aussi court. C'est embêtant pour le design :thinking:

[2020-01-13 14:50] ClementChapalain commented on #1687
nouveau cas : https://code.travail.gouv.fr/fiche-service-public/un-salarie-peut-il-refuser-de-travailler-dans-une-situation-dangereuse et cliquer sur le  premier lien `Un salarié peut-il être licencié à cause du retrait de son permis de conduire ?`

edit : les deuxième et troisième lien ne fonctionnent pas non plus sur ce contenu

[2020-01-13 14:54] revolunet opened #2231 "UI outils : alignement boutons / espace entre boutons"
<img width="965" alt="Capture d’écran 2020-01-13 à 14 26 21" src="https://user-images.githubusercontent.com/124937/72265519-efe57d00-361c-11ea-82dc-271ec1d3bc39.png">

[2020-01-13 15:13] UnbearableBear commented on #2231
Je regarde

[2020-01-13 15:24] lionelB commented on #2231
ah oui j'avais vu ca ): un align-items: flex-end marche pas mal. ca permet de laisser le margin top du bouton "précédent"

[2020-01-13 15:26] UnbearableBear commented on #2231
C'est un oubli de ma part, le margin top du bouton précédent était supposé etre là qu'en mobile :/

[2020-01-13 17:03] virginielastisneres commented on #2226
et là c'est bizarre le titre de l'accordéon est en H3 et le sous titre en H4 mais il apparait 2 fois plus grand que le H3... ===> https://code.travail.gouv.fr/fiche-ministere-travail/les-delegues-syndicaux#Quel-est-le-nombre-de-delegues-syndicaux
![image](https://user-images.githubusercontent.com/48682104/72275833-04327580-362f-11ea-92b3-e65894ca43fa.png)

[2020-01-13 17:10] UnbearableBear commented on #2226
C'est parce que j'ai forcé le rendu sur les accordéons des fiches-mt du premier niveau et laissé le rendu en fonction du niveau de titre sur tous les autres accordéons mais je vias régler !

[2020-01-13 17:16] virginielastisneres commented on #2226
d'acc :D merciii !

[2020-01-13 17:25] virginielastisneres commented on #2231
Je profite de ton issue julien pour rajouter cela :
![image](https://user-images.githubusercontent.com/48682104/72277309-fcc09b80-3631-11ea-8ed3-e0174edb51af.png)

Il y a un peu trop d'espace entre montant /le champ de remplissage/supprimer

[2020-01-13 17:27] jrduscher opened #2234 "ajout fiche ministère du travail"
https://travail-emploi.gouv.fr/formation-professionnelle/formation-des-salaries/article/projet-de-transition-professionnelle

[2020-01-14 08:48] virginielastisneres opened #2239 "ERREUR 404 lien Direction générale du travail/footer"
![image](https://user-images.githubusercontent.com/48682104/72328304-fa525600-36b2-11ea-9a32-a29a6990958a.png)

Le lien sur lequel on renvoie en bas dans le footer derrière "Direction générale du travail" n'est pas bon, j'ai une erreur 404... ==> https://travail-emploi.gouv.fr/ministere/organisation/article/dgt-direction-generale-du-travail

### Le bon lien à ajouter est le suivant ==> https://tra

[2020-01-14 08:57] virginielastisneres commented on #2239
arff aucun lien qui renvoie vers le site du ministère n'est bon...

### Dans la page _A propos_

![image](https://user-images.githubusercontent.com/48682104/72328910-1b677680-36b4-11ea-8ccf-42de8f3a8d7c.png)
Le lien derrière "Ministère du travail" n'est pas bon => https://travail.gouv.fr/

### Le bon lien à ajouter est le suivant ==> https://travail-emploi.gouv.fr/

[2020-01-14 10:35] UnbearableBear opened #2241 "Liens non désirés dans les fiches MT"
Supprimer les liens cachés dans les fiches MT

Exemple sur la fiche `/les-delegues-syndicaux`

<img width="632" alt="Screenshot 2020-01-14 at 11 34 02" src="https://user-images.githubusercontent.com/705453/72336881-e95d1100-36c1-11ea-9932-779aa762c261.png">

A faire au niveau du scrapping

[2020-01-14 10:40] lionelB commented on #2241
En utilisant textContent , ca devrait virer les balise `<a>` vides

[2020-01-14 10:40] #2239 closed, assigned to lionelB

[2020-01-14 12:51] rmelisson opened #2243 "Suggesteur : ajouts manuels"
Ajout manuel de suggestions.
Indiquer en commentaire les ajouts.

[2020-01-14 12:52] rmelisson commented on #2243
De j-r :
"réveler maternité"
"informer maternité"

[2020-01-14 13:07] ClementChapalain opened #2244 "Nouveau logo"
La direction de la communication a élaboré un nouveau logo afin de mettre le CDTN dans la charte du ministère, et notamment en cohérence avec mon compte formation :
https://drive.google.com/open?id=1KbQ78DVo3MqxZx8ETl8M66HHQArcGqZJ

L'idée est de l'intégrer :
- à la place du texte "Code du travail numérique" dans le header blanc (tout en gardant la marianne)
- sur la page d'accueil à côté de la ma

[2020-01-14 13:40] nkrmr commented on #2084
Fixed by #2217

[2020-01-14 13:40] #2084 closed, assigned to nkrmr

[2020-01-14 13:43] ClementChapalain opened #2245 "Ajout disclaimer salaire brut / net"
Suite à la démo ministre, ajout du disclaimer suivant entre le titre et le simulateur salaire brut / net :

À faire d'ici la conférence de presse de jeudi :)

[2020-01-14 13:50] ClementChapalain commented on #2244
c'est moi qui ai fait le svg avec figma si ça convient pas dites moi !

[2020-01-14 13:51] lionelB commented on #2244
nickel à part la couleur ;)

[2020-01-14 14:04] lionelB commented on #2244
![image](https://user-images.githubusercontent.com/160320/72350529-e7ee1180-36de-11ea-937a-70ace5f73f88.png)
![image](https://user-images.githubusercontent.com/160320/72350597-07853a00-36df-11ea-88a8-e45c3277e571.png)

![image](https://user-images.githubusercontent.com/160320/72350547-f0464c80-36de-11ea-8fbd-7e189a6a46b8.png)

![image](https://user-images.githubusercontent.com/160320/72350629-1835

[2020-01-14 14:21] lionelB commented on #2244
![image](https://user-images.githubusercontent.com/160320/72351923-93986100-36e1-11ea-942f-ee0e719e306c.png)

[2020-01-14 14:23] lionelB commented on #2244
![image](https://user-images.githubusercontent.com/160320/72352004-c6daf000-36e1-11ea-8add-8c99a5481b75.png)

[2020-01-14 14:39] ClementChapalain commented on #2200
du coup je recap les commentaires sur la première version :
en terme d'UX 2 remarques :
  - [x] la modale qui s'affiche au départ devrait prendre la forme d'un bandeau (idem que celui qu'on a aujourd'hui), la modale de paramétrage peut quand à elle rester avec son design standard
  -  [x] le module toujours visible en bas à droite devrait être uniquement accessible depuis la page mentions légales

[2020-01-14 14:46] ClementChapalain commented on #2244
merci je te tiens au courant rapidement !

[2020-01-14 15:15] ClementChapalain commented on #2244
@lionelB peut-on essayer avec le logo ministère dans le header mais cette version du logo ministère stp :
https://drive.google.com/open?id=1MEkjTrMCXhY9r4yPrM0fKv4HV7_qOfQE

[2020-01-14 16:02] lionelB commented on #2244
est ce qu'on pourrait avoir une vrai version svg et pas un png url-encodé ou alors le svg directement ?

[2020-01-14 16:08] jrduscher opened #2249 "Màj des données df"
A la prochaine mise en prod : une màj des données du datafiller  est nécessaire (par ex: suppression des liens externes entrées avec une url complète).@revolunet?

[2020-01-14 16:08] nkrmr commented on #1687
Ok je m'en occupe

[2020-01-14 16:17] lionelB commented on #2244
![image](https://user-images.githubusercontent.com/160320/72361367-a9158700-36f1-11ea-907a-54b09569a3e7.png)
bof :/

![image](https://user-images.githubusercontent.com/160320/72361415-c34f6500-36f1-11ea-93d1-0f691f4c5b36.png)

[2020-01-14 17:00] #1750 closed, assigned to nkrmr

[2020-01-15 06:09] lionelB commented on #2200
@ClementChapalain j'ai modifié ton commentaire pour mettre des cases à cocher

[2020-01-15 10:50] #2245 closed, assigned to lionelB

[2020-01-15 11:05] revolunet commented on #2249
https://github.com/SocialGouv/code-du-travail-numerique/pull/2251

[2020-01-15 13:40] #2244 closed, assigned to lionelB

[2020-01-16 10:05] rmelisson commented on #2189
https://github.com/SocialGouv/code-du-travail-numerique/pull/2246

[2020-01-16 10:05] #2189 closed, assigned to rmelisson

[2020-01-16 10:06] #1979 closed, assigned to rmelisson

[2020-01-16 14:21] marie38500 opened #2256 "Erreur contenu"
**Description** Sur la page
https://code.travail.gouv.fr/fiche-service-public/registres-du-personnel-obligatoires
Partie "Registre des accidents bénins"
Le texte _"En annexe, doivent y figurer les données collectives d'exposition aux facteurs de pénibilité, évalués selon les critères du compte personnel de prévention de la pénibilité (CPPP). Le défaut de transcription ou de mise à jour du document

[2020-01-16 14:26] marie38500 opened #2257 "404 NOT FOUND"
Page https://code.travail.gouv.fr/fiche-ministere-travail/cse-attributions?q=CSE
Les liens  « Questions/Réponses » sur le CSE mis en ligne sur notre site" affichent l'erreur 404 NOT FOUND

[2020-01-17 10:46] jrduscher commented on #2256
Bonjour,
Merci pour votre signalement.
Nous faisons le même constat: ces éléments concernent bien le document unique  et non le registre des accidents bénins.
Par contre ils figurent bien également dans la partie portant sur le DUERP.
Pour autant, nous transmettons votre signalement aux rédacteurs de cette fiche.

[2020-01-17 10:46] #2256 closed, assigned to jrduscher, virginielastisneres

[2020-01-17 10:57] lionelB commented on #2257
Bonjour,
La page étant toujours accessible, je me permets de fermer ce ticket.
N'hésitez pas à en ouvrir d'autres, si vous souhaitez nous signaler d'autres problèmes.

[2020-01-17 12:09] #2257 closed, assigned to nobody

[2020-01-17 14:50] lionelB commented on #2144
c'est fait, non ?

[2020-01-17 14:51] #2249 closed, assigned to nobody

[2020-01-17 14:53] lionelB commented on #2228
avec un min-height de 300px
![image](https://user-images.githubusercontent.com/160320/72621442-89749d80-3941-11ea-81ae-3d9cd44f56c6.png)

ps: @jrduscher hésite pas à mettre l'url de la page incriminée

[2020-01-17 15:02] #2133 closed, assigned to nobody

[2020-01-17 15:02] lionelB commented on #2129
done in  #2126

[2020-01-17 15:02] #2129 closed, assigned to ylascombe

[2020-01-17 15:04] lionelB commented on #2108
done in #2175

[2020-01-17 15:04] #2108 closed, assigned to nobody

[2020-01-17 15:15] lionelB commented on #1941
done in #1965

[2020-01-17 15:15] #1941 closed, assigned to nobody

[2020-01-17 15:20] lionelB commented on #1891
je ferme, le bug a été corrigé, il me semble

[2020-01-17 15:20] #1891 closed, assigned to nobody

[2020-01-17 15:24] lionelB commented on #1826
solution en place actuellement
![image](https://user-images.githubusercontent.com/160320/72623615-c80c5700-3945-11ea-85d8-a1b3c3e60cb9.png)

on ferme ?

[2020-01-17 15:29] lionelB commented on #1779
![image](https://user-images.githubusercontent.com/160320/72624144-b11a3480-3946-11ea-9a8a-2113acbd79b2.png)

[2020-01-17 15:29] #1779 closed, assigned to rmelisson

[2020-01-17 15:42] lionelB commented on #1579
should we close it since nlp container is no more exposed and @rmelisson reduced a lot of these errors

[2020-01-17 15:44] lionelB commented on #1505
done ?
![image](https://user-images.githubusercontent.com/160320/72625175-9779ec80-3948-11ea-85fb-60f8d3d37d1c.png)

[2020-01-17 15:46] lionelB commented on #1445
done by #1950

[2020-01-17 15:46] #1445 closed, assigned to nobody

[2020-01-17 15:47] revolunet commented on #1505
yep

[2020-01-17 15:47] lionelB commented on #1431
done in #2038

[2020-01-17 15:47] #1431 closed, assigned to nobody

[2020-01-17 15:48] revolunet commented on #1579
yep thanks

[2020-01-17 15:48] #1579 closed, assigned to nobody

[2020-01-17 15:54] lionelB commented on #1412
done in #1972

[2020-01-17 15:54] #1412 closed, assigned to lionelB

[2020-01-17 15:58] lionelB commented on #1292
done in #1753

[2020-01-17 15:58] #1292 closed, assigned to lionelB

[2020-01-17 15:59] lionelB commented on #1230
should be fixed by #1753 since we use alias index

[2020-01-17 15:59] #1230 closed, assigned to lionelB

[2020-01-17 16:01] #1505 closed, assigned to nobody

[2020-01-17 16:02] lionelB commented on #952
@UnbearableBear on peut fermer l'issue ou tu penses qu'il reste encore des choses à faire

[2020-01-17 16:09] UnbearableBear commented on #952
Je ne sais pas, il faudra que je fasse un tour de toutes les pages ça me donnera surement des idées

[2020-01-17 16:10] lionelB commented on #2165
on pourrait rajouter https://github.com/zeit/swr pour la récupération des données issues de l'api matomo ?

[2020-01-20 09:06] ClementChapalain commented on #1826
On peut garder ouvert mais ne pas la prioriser, comme ça on la garde en tête

[2020-01-20 09:14] virginielastisneres commented on #2222
idem pour véolia, leur nom enregistré au répertoire ne contient pas d'accent c'est pour ça...

[2020-01-20 09:20] virginielastisneres commented on #2177
- [ ]  Mettre à jour les données du fichier, nous avions un mauvais IDCC associé à une CC. De plus, j'en ai profité pour rajouter des sources dans les cas où la CC ne prévoit rien.
https://docs.google.com/spreadsheets/d/1SCFHUDjsWWRdVhYP5cVz2Q3AqPa-ubOYsEc3C3kRKOA/edit#gid=1991895535

[2020-01-20 10:06] Abdessamadyssf commented on #2200
Hello
Malheureusement pas de remontée des données dans l'adserver côté Agence.

Voici l'explication du problème :

_Malheureusement nos tests de remontées de données sont négatifs. En effet je ne remonte pas de conversions sur l’adserver suite à mes clics.

Dans le code envoyé il y a 2 parties : un global snippet + un event snipper. En regardant rapidement le code de la page je ne vois pas le glob

[2020-01-20 10:49] ClementChapalain commented on #1831
ok à reprioriser si on a beaucoup de retours sur le sujet

[2020-01-20 10:59] ClementChapalain commented on #2165
Une première liste de stats à intégrer :
- nombre de visites depuis le 1er janvier et graphique avec nombre de visites / par jour
- nombre de recherches effectuées depuis le 1er janvier et graphique avec nombre de recherches / jour
- nombre de consultations de contenus depuis le 1er janvier et graphique avec nombre de consultations / jour
- nombre de contenus référencés
- % de satisfaction, nombre

[2020-01-20 11:03] ClementChapalain commented on #2198
Ce que tu montres dans les outils, ce sont les liens externes des contenus, et non les outils externes que l'on référence nous-même

[2020-01-20 11:03] #2198 closed, assigned to nobody

[2020-01-20 11:06] ClementChapalain commented on #2227
pour le focus on a #2224

[2020-01-20 11:11] virginielastisneres commented on #2067
View version desktop de la page
![13-A Propos](https://user-images.githubusercontent.com/48682104/72721855-443caf80-3b7d-11ea-9b81-dc8c240708b5.jpg)

[2020-01-20 11:11] virginielastisneres commented on #2067
View version mobile de la page
![M5-A Propos](https://user-images.githubusercontent.com/48682104/72721926-6c2c1300-3b7d-11ea-9b49-4341c141c0be.jpg)

[2020-01-20 11:19] ClementChapalain opened #2259 "Ajouter le lien avec verbe d'action sur les outils externes"
https://code.travail.gouv.fr/recherche?q=egapro

Pour les outils externes on devrait avoir le lien avec le verbe d'action `---> Consulter` comme sur les outils internes.

(désolé @UnbearableBear ça change ce qu'on avait dit la dernière fois sur mattermost je m'étais trompté...)

[2020-01-20 12:16] lionelB commented on #2227
c'est lié ! probablement que la PR fixera les 2 :)

[2020-01-20 12:42] UnbearableBear commented on #2067
C'est beau !

[2020-01-20 13:56] lionelB commented on #2165
## chiffres clés
- [x] nb de visites depuis le 01/01/2020 › [lien](http://matomo.fabrique.social.gouv.fr/?idSite=4&format=JSON&method=VisitsSummary.getVisits&date=2020-01-01,today&module=API&period=range)
- [x] nombre de recherches effectuées › [lien](https://matomo.fabrique.social.gouv.fr/?module=API&method=Actions.get&idSite=4&period=range&date=2020-01-01,today&format=JSON)
- [x] nombre de consu

[2020-01-20 14:11] #2200 closed, assigned to lionelB

[2020-01-20 14:52] UnbearableBear commented on #1687
Hint: Si on désactive le glossaire, le lien marche à nouveau. Donc il y a probablement un conflit entre les fiches SP (et le package `react-fiche-service-public`) et le glossaire

[2020-01-20 15:37] Abdessamadyssf opened #2260 "Insérer un module d'inscription à la newsletter dans le footer"
1. Incruster un champ d'inscription à la newsletter dans le footer du site.
2. Avec création d'un contact dans une liste Sarbacane

Code proposé par Sarbacane :

Vérifiez que vos pages possèdent l'encodage suivant dans l'entête :
[code]

Insérez ce script sur la ou les pages de votre site :
[code]

Insérez ce code sur la ou les pages du site :
[code]

Ajoutez ce CSS dans votre feuille de style :
[

[2020-01-20 15:43] rmelisson opened #2261 "Évalutation / Scoring du moteur de recherche"
- Utiliser les métriques d'Armand (https://github.com/ArmandGiraud/letor_scores/blob/master/app.py)
- Évaluer l'algo en utilisant les logs (en utilisant pour chaque candidat le ratio `nb de clics / nb de requête`)
- Confirmer que cela fonctionner en utilisant un re-ording optimisé des contenu DF et s'assurer que les scores sont meilleurs.

[2020-01-20 15:47] rmelisson opened #2262 "Identifier les requêtes les plus problématiques"
En utilisant les logs, tenter d'identifier les requêtes _fréquentes_ :
- qui ne sont pas dans le Datafiller
- à l'issue desquelles aucun `result candidate` n'est visité

[2020-01-20 15:54] rmelisson opened #2263 "Datafiller - reordering"
Parfois, les logs suggèrent que certaines réponses datafiller devraient être re-ordonnées (par exemple un résultat au rang 4 est beaucoup plus souvent choisi que le premier résultat).
En s'assurant que les métriques, nous pouvons changer l'order dans le DF directement.

[2020-01-20 15:55] rmelisson commented on #2263
#2261

[2020-01-20 15:56] rmelisson commented on #1819
#2261

[2020-01-20 20:06] lionelB opened #2265 "Rendre accessible au clavier la selection de ccn dans les outils / contribution"
Actuellement la selection d'une ccn au clavier ou avec un outils comme voice over n'est pas possible car seul le lien vers la fiche entrerprise est selectionnable (au clavier)

[2020-01-20 20:10] lionelB opened #2266 "a11y - vérification des attributs aria utilisés."
Afin d'améliorer l'accessibilité générale du site, il serait utile de faire une passe globales sur toutes les pages  / composant afin de vérifier que nous utilisons les bons attributs aria.
Certains sont déjà en place, il faudrait donc completer leur utilisation.

- https://developer.mozilla.org/fr/docs/Accessibilit%C3%A9/ARIA/Techniques_ARIA
- https://www.brucelawson.co.uk/2019/checklist-to-avoid

[2020-01-21 09:27] lionelB opened #2268 "Gestion des mise en prod de patch"
Hello,
Je pense qu'il serait utile de s'aligne sur les urgences et les délais qu'on se donne pour les traiter et mettre en prod un patch qu'il soit tech ou légal.

poke @ClementChapalain @virginielastisneres, @jrduscher @revolunet @UnbearableBear @nkrmr

[2020-01-21 13:58] revolunet opened #2270 "Mise à jour données LEGI"
Suite à la diminution des quotas sur l'API DILA, les articles du code n'ont pas été récupérés correctement depuis le 20/12/2019. Une correction vient d'être faite et les dernières mises à jour sont dispos pour la prochaine MEP. (ex: article R1452-1)

Une correction doit être faite au niveau du script de récupération de legi-data pour que l'on soit bien alerté en cas de défaillance. Actuellement la

[2020-01-21 14:37] lionelB commented on #2270
😱

[2020-01-21 14:52] revolunet commented on #2270
-> https://github.com/SocialGouv/code-du-travail-numerique/pull/2272

[2020-01-21 15:05] #2270 closed, assigned to revolunet

[2020-01-21 16:17] jrduscher opened #2273 "Affichage des références juridiques dans les contributions"
Dans la page CCN: les réf jdques qui s'affichent sont précis. ( article)

![image](https://user-images.githubusercontent.com/37538697/72821672-1fc1ff80-3c71-11ea-9c6a-8be456659f0c.png)

une fois sur la page de la contribution, pour la même question il n'est fait référence qu'aux textes  seuls et plus aux articles ( ce qui génère des doublons):
![image](https://user-images.githubusercontent.com/375

[2020-01-21 16:49] jrduscher opened #2274 "Erreur à la sélection de la CCN 1090"
Depuis la page de recherche de convention collective: Erreur 500
: https://code.travail.gouv.fr/convention-collective/1090-services-de-lautomobile-commerce-et-reparation-de-lautomobile-du-cycle

Autre exemple: même souci avec la 2216.

[2020-01-21 17:02] lionelB commented on #2274
les infos de ccn sont bien généré, l'api répond bien, le problème doit venir du front

[2020-01-22 09:06] ClementChapalain commented on #2268
Hello, oui très bonne idée :) C'est lié aux problématiques de veille et administration sur lesquelles travaille @virginielastisneres

[2020-01-22 09:22] ClementChapalain commented on #2165
d'ailleurs @lionelB je viens de remarquer que la page actuelle ne se met pas à jour (les stats de visite sont très faibles par rapport au nombre réel) : https://code.travail.gouv.fr/stats

[2020-01-22 09:55] lionelB commented on #2165
oui les données sont statiques :D

[2020-01-22 11:12] UnbearableBear opened #2279 "Problème d'encodage de l'url lors de la recherche"
Si je lance un recherche sur le cdtn, l'url est mise à jour et la recherche est encodée dans celle-ci

Si je tape "démission", l'url devient: /recherche?q=d%25C3%25A9mission. Si par la suite je clique sur un résultat de recherche, l'url n'est plus encodée, ce qui est étrange mais soit.

Le problème est que si je rerentre ensuite l'url encodée sur chrome (pas testé sur les autres navigateurs), cell

[2020-01-22 11:13] lionelB commented on #2279
c'est dire tu met `d%25C3%25A9mission` dans le champ de recherche ?

[2020-01-22 13:31] UnbearableBear commented on #2279
Si tu cliques sur refresh alors que l'url est encodée plutôt ou que tu la copie colle dans un autre tab, mais ça revient au même oui

[2020-01-22 13:41] #2274 closed, assigned to nobody

[2020-01-22 15:18] lionelB opened #2281 "Page contribution non accessible depuis la recherche - IE11 + Firefox"
**Description**
sur IE11, il y a une erreur de script dans la page  contribution. Les contribution ne sont pas accessible depuis la page de resultat de recherche. Si l'on ouvre la page dans une nouvelle onglet (on en acces direct) le contenu est affichés mais non interactif (accordeon / onglet ) la  recherche cc ne marche pas non plus

**Reproduction**
Etapes à suivre pour reproduire le bug
1. Fai

[2020-01-22 15:26] ClementChapalain commented on #2281
problème reproduit sur firefox aussi

[2020-01-22 15:35] virginielastisneres commented on #2281
Problème sur firefox que sur les pages des contributions (exemple de page => https://code.travail.gouv.fr/contribution/quelle-est-la-duree-de-preavis-en-cas-de-licenciement).
Quand j'arrive sur cette page voilà ce qui apparait
![image](https://user-images.githubusercontent.com/48682104/72907665-89571200-3d34-11ea-9f07-af6543e78194.png)
Pour clément et JR c'est bon mais pas pour moi, voilà ma versi

[2020-01-22 15:41] ClementChapalain commented on #2281
IE = 9.3% des utilisateurs, je priorise pour le sprint 32

[2020-01-22 15:57] lionelB commented on #2281
seems to be related to rehype-raw (will try to add it to transpile module)

[2020-01-22 16:34] ClementChapalain commented on #2260
Je propose de mettre ça dans le footer dans la partie "contribuer" en changeant le titre de la section et en ajoutant un lien :

**Attention : mettre le lien vers la newsletter en premier dans la liste svp !**

![image](https://user-images.githubusercontent.com/48682104/73757756-00939980-476a-11ea-8609-bb3781fd3b4f.png)

**Le lien renverrait vers une modale qui charge le form indiqué par Abdess, a

[2020-01-22 16:42] lionelB opened #2283 "le formulaire de recherche force le rechargement de la page (sauf ie)"
lorsqu'on fait une recherche, la page de recherche se recharge au lieu de faire un requete ajax

[2020-01-23 09:16] #2281 closed, assigned to lionelB

[2020-01-23 09:18] alexgarel opened #2285 "Exemple de données utilisées pour le NLP"
**Fonctionnalité**

Donner un exemple des données utilisées pour le NLP, où en décrire formellement le format, pour permettre l'entraînement avec des données différentes.

**Problème**

Le chargement des données se fait depuis [une image docker](https://github.com/SocialGouv/code-du-travail-numerique/blob/v4.2.0/packages/code-du-travail-nlp/Dockerfile#L2) qui ne semble pas disponible au publique (

[2020-01-23 10:03] lionelB commented on #2285
Hello,

Merci pour ton commentaire. L'image docker en question est l'image docker principale, c'est à dire celle correspondant à ce [Dockerfile](https://github.com/SocialGouv/code-du-travail-numerique/blob/master/Dockerfile)
On peut donc créer l'image en local
[code]
Pour le modèle nlp utilisé, il faut aller voir du coté du dossier [code-du-travail-nlp](https://github.com/SocialGouv/code-du-travai

[2020-01-23 10:10] #2166 closed, assigned to UnbearableBear

[2020-01-23 10:10] #2226 closed, assigned to UnbearableBear

[2020-01-23 10:10] #2231 closed, assigned to UnbearableBear

[2020-01-23 13:57] #2165 closed, assigned to lionelB

[2020-01-23 18:15] lionelB commented on #1782
ducplicate of #2121

[2020-01-23 18:15] #1782 closed, assigned to nobody

[2020-01-24 17:21] ThomasMenant opened #2292 "Création d'une page statique "Politique de confidentialité""
**Description**
Pour se conformer aux récentes remarques sur les mentions légales du produit, il parait judicieux de créer un lien dans le footer du site intitulé "Politique de confidentialité".

Le texte proposé pour la page statique est présenté ci-après.
https://hackmd.io/@B1L7UIS9RGmBQIZVteFFjg/BkSJMi_ZU
[Politique de confidentialité.zip](https://github.com/SocialGouv/code-du-travail-numerique

[2020-01-24 17:36] ThomasMenant opened #2293 "Mise à jour de la page "Mentions légales""
**Description**
Pour tenir compte de la nouvelle page "Politique de confidentialité", il convient de mettre à jour la page "Mentions légales".

- [x] mettre à jour l'hébergeur :
Ce site est hébergé par Microsoft Azure France (région France centre) :
Microsoft France
37 Quai du Président Roosevelt
92130 ISSY-LES-MOULINEAUX

- [x] supprimer la section "modalités d'utilisation" dans son intégralité ;

[2020-01-27 10:14] #2293 closed, assigned to lionelB

[2020-01-27 10:29] lionelB opened #2295 "ES - maintenance et amélioration du cluster"
plusieurs petites taches a faire sur elasticcloud
- separer les cluster de prod et dev
- migrer en version 7.5.2
- etudier l'externalisation le fichier de synonymes
- mettre en route un APM

[2020-01-27 10:55] lionelB commented on #2292
closed by #2294

[2020-01-27 10:55] #2292 closed, assigned to lionelB

[2020-01-27 15:22] #2117 closed, assigned to nobody

[2020-01-27 15:22] #2121 closed, assigned to nobody

[2020-01-28 09:11] ClementChapalain commented on #2265
J'ai vu qu'on pouvait y accéder avec les tabs du coup est-ce prio ?

[2020-01-28 09:15] ClementChapalain commented on #2265
On a vu avec @virginielastisneres qu'en fait ça fonctionnait sur la page https://code.travail.gouv.fr/convention-collective/recherche mais pas dans les outils

[2020-01-28 09:23] ClementChapalain opened #2297 "Thème "null" dans la page CC bricolage"
Thèmes de contribution dans la page CCN: "null" dans la CCN Bricolage
![image](https://user-images.githubusercontent.com/37538697/72846282-94606280-3ca0-11ea-87b1-a103b09cb688.png)

https://code.travail.gouv.fr/convention-collective/1606-bricolage-vente-au-detail-en-libre-service

[2020-01-28 09:26] ClementChapalain commented on #2279
Oui du coup le problème utilisateur derrière c'est qu'on ne peut pas sauvegarder ou partager une url de recherche avec des caractères spéciaux.

[2020-01-28 09:28] ClementChapalain commented on #2283
Je ne vois pas trop le pb, la recherche se fait vraiment instantanément et si la page se recharge on ne s'en rend pas du tout compte

[2020-01-28 09:35] ClementChapalain commented on #1252
@lionelB j'ai créé un onglet "heure_recherche_emploi" dans le spreadsheet pour calquer le fonctionnement sur les autres simulateurs, dis moi si c'est ok !

[2020-01-28 09:37] ClementChapalain commented on #1687
hello ! @nkrmr tu as des news sur le sujet ? il faut absolument qu'on refasse le glossaire ou on peut trouver un autre fix sans changer l'implémentation actuelle du glossaire ?

[2020-01-28 09:38] ClementChapalain opened #2298 "Ajouter un lien dans le footer pour devenir ambassadeur"
wip :)

[2020-01-28 09:39] ClementChapalain opened #2299 "Page CC nouveau wording + design"
wip

[2020-01-28 09:40] ClementChapalain opened #2300 "Clarifier les options de contact (équipe CDTN vs. services de renseignement)"
## Contexte

Nous recevons aujourd'hui beaucoup de mails à l'adresse codedutravailnumerique@travail.gouv.fr (environ 5 par jour) qui sont des questions de droit du travail et non pas des questions génériques destinées à l'équipe. L'objectif est donc de clarifier les 2 options de contact : le mail dans le footer et le contact des SR.

## Mail dans le footer

Lorsque je clique sur le contact dans le

[2020-01-28 10:13] ClementChapalain opened #2301 "Tracking outils"
### Contexte

Nous manquons aujourd'hui de données afin de savoir quelle est l'utilisation réelle des outils et simulateurs.

### Tracking à mettre en place

L'idée est de mettre en place des événements de tracking dans matomo afin de savoir quelles sont les étapes vues par l'utilisateur dans un outil.

Proposition de plan de tagage :
- Envoyer un événement à matomo lorsqu'un utilisateur voit une

[2020-01-28 13:46] Abdessamadyssf commented on #2298
Mettre "Devenir ambassadeur" dans le footer au niveau de la rubrique "Aidez-nous à améliorer cet outil" et insérer le lien suivant : https://calendly.com/code-du-travail-numerique/ambassadeur-du-code-du-travail-numerique

@ClementChapalain

[2020-01-29 10:49] lionelB commented on #1252
@ClementChapalain parfait 👍

@jrduscher @virginielastisneres : j'aimerai bien étoffé les questions qui permettent de tomber sur cet outils, Est ce que vous voyez d'autre tournure / mot clé à completer ?
[code]

[2020-01-29 11:05] jrduscher commented on #1880
Modifiée ce jour.

[2020-01-29 11:09] virginielastisneres commented on #1252
Voilà ce que j'ai trouvé en cherchant un peu sur google pour voir ce que les usagers demandent

- comment prendre ses heures de recherche d'emploi
- ai-je le droit de bénéficier d'heures de recherche d'emploi
- absence recherche emploi pendant préavis
- démission recherche emploi pendant préavis syntec
- heures de recherche d'emploi en cas de licenciement
- heures de recherche d'emploi en cas de d

[2020-01-29 13:16] nkrmr commented on #1687
@ClementChapalain je suis sur une solution je reviens vers toi rapidement et je te dis ça

[2020-01-29 13:56] revolunet commented on #1397
Reste à faire :
 - ~~récupérer les derniers changes sur le datafiller (backport des commits)~~
 - trouver une solution pour https://github.com/SocialGouv/datafiller/issues/82
 - trouver une solution pour accéder aux données contributions et datafiller (suite aux restrictions d'IP prévues)

[2020-01-29 14:06] revolunet commented on #2234
@jrduscher c'est juste une fiche MT à ajouter c'est bien ça ?

[2020-01-29 14:09] revolunet commented on #2215
une petite idée là-dessus @ivangabriele ?

[2020-01-29 14:19] revolunet commented on #1602
ca a l'air d'être corrigé sur master ? https://master-code-travail.dev.fabrique.social.gouv.fr/outils/indemnite-licenciement

[2020-01-29 14:31] revolunet commented on #2177
Le disclaimer doit apparaitre apres "En savoir plus sur la prime de précarité d’un salarié en CDD" ?

<img width="1217" alt="Capture d’écran 2020-01-29 à 15 29 05" src="https://user-images.githubusercontent.com/124937/73365179-21607880-42ac-11ea-8140-caf0ebf7df5d.png">

[2020-01-29 14:33] virginielastisneres commented on #2177
nop avant le détail du calcul ...
ah et je peux en profiter pour te demander un petit truc en plus ju ?

[2020-01-29 14:39] revolunet commented on #2177
allez :)

[2020-01-29 14:42] revolunet commented on #2177
donc le texte doit etre calé entre le montant et le détail du calcul ?

[2020-01-29 14:53] virginielastisneres commented on #2177
yes et il faudrait que le détail et les sources soient indiqués comme cela, ca serait possible ?
![image](https://user-images.githubusercontent.com/48682104/73367205-7fdb2600-42af-11ea-9c77-ff46bd418d39.png)

[2020-01-29 15:10] lionelB commented on #1602
c'est ma faute, pardon, cela a était fait dans la PR #2288 et j'avais oublié de référéncer l'issue

[2020-01-29 15:10] #1602 closed, assigned to revolunet

[2020-01-29 15:59] ivangabriele commented on #2215
@lionelB @revolunet À l'heure actuelle, les références sont en effet toutes accessibles publiquement, même si les questions auxquelles elles sont rattachées ne sont pas publiées.

Limiter ce qui est public dans les références est dans ma todo list !

[2020-01-29 16:09] ClementChapalain commented on #2298
lié à l'ajout d'un autre lien au même endroit cf. https://github.com/SocialGouv/code-du-travail-numerique/issues/2260#issuecomment-577272206

[2020-01-29 16:44] #2067 closed, assigned to UnbearableBear

[2020-01-30 11:06] lionelB commented on #1252
@virginielastisneres  merci j'ai gardé
- ai-je droit à des heures de recherche d'emploi
- quel est le nombre d'heures pour rechercher un emploi
- rechercher un emploi en période de préavis
- comment prendre ses heures de recherche d'emploi
- démission recherche emploi pendant préavis
- licenciement recherche d emploi pendant préavis
- heures de recherche d'emploi en cas de licenciement
- Ai-je dro

[2020-01-30 17:22] jrduscher opened #2313 "Préavis de démission: CCN Transports"
Suite à une remontée OPE.

Il faut modifier le wording d'une question:

personnel de conduite | Le salarié fait-il partie des personnels de conduite ?
-- | --

par

personnel de conduite | Le salarié fait-il partie des conducteurs dans le transport de voyageurs ?
-- | --

[2020-01-31 12:43] #1252 closed, assigned to lionelB

[2020-01-31 13:20] ClementChapalain commented on #2215
Hello ! Est-ce que vous pouvez préciser ce qui pose problème fonctionnellement svp ? Pour qu'on puisse se mettre d'accord sur la priorisation de cette tâche ?

[2020-01-31 13:22] lionelB commented on #2215
J'ai ouvert cette issue car on a besoin de vérifier qu'on remonte bien les toutes les références associée à une contribution. c'est plus clair ?

[2020-01-31 13:39] ClementChapalain commented on #2215
OK mais du coup vous avez repéré des cas où il manque des références ? Ou c'est juste un double check ?

[2020-02-03 09:51] virginielastisneres commented on #1687
@nkrmr tu en es où au niveau de la solution ?

[2020-02-03 10:36] nkrmr commented on #1687
@virginielastisneres Je suis dessus en ce moment je reviens vers toi rapidement

[2020-02-03 13:14] revolunet commented on #2224
sauf erreur un tour de magie est en cours ici : https://github.com/SocialGouv/code-du-travail-numerique/pull/2264

[2020-02-03 13:19] revolunet commented on #2273
dans la page de contribution, reprendre le texte qui a été saisi par les expert.e.s

[2020-02-03 13:35] revolunet opened #2319 "usage SearchCCN"
- utilisation de l'outil depuis quelle page
 - nb de recherches
 - l'usager a-t-il trouvé sa CC ? (clic sur CC)

[2020-02-03 13:52] revolunet commented on #2273
NB : à partir de la page contributions, une fois la CC choisie, il n'est plus possible d'aller vers la CCN complète, je ne sais pas si c'est normal ?

<img width="624" alt="Capture d’écran 2020-02-03 à 14 52 30" src="https://user-images.githubusercontent.com/124937/73658561-d4f2af80-4694-11ea-85de-fa0489a9f2a3.png">

[2020-02-03 13:57] virginielastisneres commented on #2299
La Page CC va être revue un peu à la fois au niveau du design que du wording.

**Ci-joint le lien vers le figma => https://www.figma.com/file/K9mtdecQeq5CGglxGsWSFB/Convention-collective?node-id=0%3A1**

page ancienne => https://code.travail.gouv.fr/convention-collective/2120-banque

### Globalement

- [x] on traite le contenu comme le autres contenus (fiches SP, contributions etc...), c'est à dir

[2020-02-03 14:26] virginielastisneres commented on #2260
@ThomasMenant voir Thomas concernant le RGPD

[2020-02-03 14:30] virginielastisneres commented on #2298
@ThomasMenant à voir avec Thomas également si nous avons des problématiques de RGPD ou pas

[2020-02-03 14:31] virginielastisneres commented on #1783
@lionelB est ce que tu as une proposition à faire ?

[2020-02-04 08:29] #2273 closed, assigned to revolunet

[2020-02-04 08:36] revolunet commented on #2313
@jrduscher comme la definition des questions est partagée entre 3 simulateurs, ce changement affectera également le wording dans preavis licenciement et heures de recherche d'emploi (si cette question à du sens). ok pour toi ?

[2020-02-04 08:54] rmelisson commented on #1631
ok pour maintenant, la prochaine étape étant de rendre ce process automatique

[2020-02-04 08:54] #1631 closed, assigned to rmelisson, ArmandGiraud

[2020-02-04 09:19] #2313 closed, assigned to revolunet

[2020-02-04 09:20] #2234 closed, assigned to revolunet

[2020-02-04 10:19] #2222 closed, assigned to revolunet

[2020-02-04 10:37] #1995 closed, assigned to lionelB, nkrmr, UnbearableBear

[2020-02-04 10:37] #2259 closed, assigned to UnbearableBear

[2020-02-04 10:51] ClementChapalain commented on #1995
wouhouuuuuuuuuu 🚀

[2020-02-04 10:52] UnbearableBear commented on #1995
Il faudrait refaire une passe à mon avis il en reste qu'on a raté :)

[2020-02-04 14:46] #2228 closed, assigned to UnbearableBear

[2020-02-04 15:34] ClementChapalain commented on #1995
🙈

[2020-02-04 15:39] #1783 closed, assigned to revolunet

[2020-02-04 15:40] jrduscher commented on #2313
@revolunet, à priori la question ne se pose que pour le dernier simulateur.

[2020-02-04 15:45] revolunet commented on #2215
RAS de notre côté; @ivangabriele va créer une nouvelle vue côté API contributions pour nous fournir directement les données sans besoin de traitement de notre côté : https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/contributions/index.js#L25

[2020-02-04 16:07] UnbearableBear commented on #2298
done here https://github.com/SocialGouv/code-du-travail-numerique/pull/2328

[2020-02-04 16:07] #2298 closed, assigned to UnbearableBear

[2020-02-04 16:20] ClementChapalain commented on #1783
@revolunet petit bug repéré : quand je clique sur "plus de résultats" sur une première recherche puis que je lance une deuxième recherche, j'ai dès le début une liste de résultats avec plus de résultats que prévu comme si j'avais déjà appuyé sur "plus de résultats" pour cette deuxième recherche. Lorsque je refresh la page j'ai bien le bon nombre de résultats. Si c'est pas clair dis- moi :) Je peux

[2020-02-04 16:28] UnbearableBear commented on #1783
@ClementChapalain ça implique de changer l'emplacement du state (le placer plus haut dans la hierarchie) pour pouvoir le "rafraichir" au clic sur une nouvelle recherche ou d'autres cas si necessaire, je veux bien un tâche à part perso

[2020-02-04 16:47] ClementChapalain opened #2329 "Pagination : résultats supplémentaires restes chargés quand je change de recherche"
Quand je clique sur "plus de résultats" sur une première recherche puis que je lance une deuxième recherche, j'ai dès le début une liste de résultats avec plus de résultats que prévu comme si j'avais déjà appuyé sur "plus de résultats" pour cette deuxième recherche. Lorsque je refresh la page j'ai bien le bon nombre de résultats.

[2020-02-04 16:48] ClementChapalain commented on #1783
#2329

[2020-02-05 08:53] virginielastisneres opened #2332 "Ajout de nouvelles données dans l'outil heures pour recherche d'emploi"
Sont actuellement présentes les heures pour recherche d'emploi pendant le préavis en cas de démission ou de licenciement.
Certaines CC prévoient également des heures pour rechercher un emploi pendant le délai de prévenance en cas de rupture de la période d'essai.

Nous souhaiterions donc rajouter ces données assez rapidement afin d'avoir un outil complet.

Cf; le tableau suivant pour les nouvelles

[2020-02-05 08:55] virginielastisneres opened #2333 "UI again : dernière passe !"
L'UI étant intégrée, il est temps de faire une dernière passe sur des éléments qui ne vont pas, des rectifications, modifications, ajustement à apporter :)

Ci-dessous une liste to do : WIF

- [ ] "Les articles pouvant vous intéresser :" sur le côté n'est pas à la bonne taille

- [ ] Dans les pages contenu (fiches SP, MT, Contributions) : la header 2 n'est pas aligné avec le header 3

- [ ] "Texte

[2020-02-05 09:11] #2329 closed, assigned to nobody

[2020-02-05 09:22] jrduscher opened #2335 "Proposer le téléchargement des fiches en pdf"
Remontée d'un user:
_Pouvez-vous mettre les dossiers en PDF pour nous permettre de les télécharger ? Cela nous évite de consulter le site toute la journée._

Sur chaque contenu "fiches":

- Générer l'enregistrement PDF du contenu:  Proposer à l'usager exactement le  contenu d'une en gardant sa mise en forme ( comme pour les impressions et en ajoutant les dates ( dans le document, comme pour une im

[2020-02-05 12:37] revolunet opened #2337 "[SearchCCN]: entreprises avec un point dans la nom"
J'ai testé :

 - E. Leclerc
 - E.P. Finance
 - B.B Invest
 - C. Mendes

et je ne retrouve pas l'entreprise... Par contre si j'enlève le "." et que je mets un espace à la place je trouve le nom alors qu'il y a bien un "." dans le nom...

[2020-02-05 12:40] revolunet commented on #2337
fonctionne sur master en fait  ¯\\_(ツ)_/¯

[2020-02-05 12:40] #2337 closed, assigned to nobody

[2020-02-05 12:43] revolunet opened #2338 "[SearchCCN]: trop de CCs renvoyées"
Selon la recherche, par exemple "invest", on renvoie trop de résultats ES éloignés

ex: https://api-master-code-travail.dev.fabrique.social.gouv.fr/api/v1/idcc?q=Invest

Visiblement `Invest` renvoie les résultats `Industrie`

On affiche les 94 CCs trouvées puis les entreprises tout en bas. il faudrait p-e limiter le nombre de CCs affichées ou réduire la fuzzyness de la recherche

[2020-02-05 13:21] revolunet commented on #2335
Fichier, imprimer puis "imprimer au format PDF" ?

[2020-02-05 14:53] jrduscher commented on #2335
+1, mais tous les usagers ont il bien connaissance de la manip? Et comment on fait avec un mobile?

[2020-02-06 10:51] virginielastisneres opened #2341 "Bug : page CC il manque des contributions"
Dans la page CC, il manque des contributions alors que ces dernières sont bien présentes dans la contribution générique sur le site.
Cela n'a pas l'air d'être un problème de données mais plutôt d'affichage dans la page CC.

Exemple : IDCC 176 --> contribution sur la durée maximale de la période d'essai

- page CC : la contribution n'y es pas --> https://5e88a33-code-travail.dev.fabrique.social.gou

[2020-02-06 17:18] revolunet commented on #2341
Analyse en cours

 - les contributions sont bien récupérées via dataset/contributions
 - Or c'est le script de récup des données du datafiller qui crée l'index des conventions utilisé dans la page CC

devrait être dispo dans quelques minutes ici :

https://5e88a33-code-travail.dev.fabrique.social.gouv.fr/convention-collective/176-industrie-pharmaceutique

[2020-02-06 18:19] revolunet commented on #2341
Ça apparait bien maintenant

Donc actuellement pour que la contribution apparaisse dans la page de la CC il faut aussi mettre a jour les données issues du datafiller

[2020-02-07 08:25] revolunet commented on #2295
MAJ

 - création d'un cluster `cdtn-prod` en 7.4.2 avec APM + monitoring
 - création d'un cluster `cdtn-dev` en 7.5.2 avec APM + monitoring

[2020-02-07 08:50] revolunet commented on #2341
NB : ce serait peut-être plus cohérent de générer ce fichier `agreements.data.json` depuis `dataset/contributions` plutôt que `dataset/datafiller`

[2020-02-07 09:03] revolunet commented on #2297
Cette contribution, comme quelques autres n'a pas de thème défini.

J'imagine que c'est dû au fait qu'on a pas de vision, dans le DF, des contributions non thémées ?

Liste  des contributions non thémées :

 - Convention collective nationale des entreprises de prévention et de sécurité du 15 février 1985.  Etendue par arrêté du 25 juillet 1985 (JO du 30 juillet 1985): Dans le cadre d’un contrat de

[2020-02-07 09:03] revolunet commented on #2297
Est-ce qu'on peut déjà afficher "Autres" au lieu de "null" ?

[2020-02-07 11:16] nkrmr commented on #1687
@virginielastisneres @ClementChapalain Le fixe est en PR j'attends qu'il soit validé.

[2020-02-07 13:09] #1687 closed, assigned to nkrmr

[2020-02-07 14:44] #2301 closed, assigned to nkrmr

[2020-02-07 16:40] #2241 closed, assigned to UnbearableBear

[2020-02-07 16:41] #2297 closed, assigned to revolunet, UnbearableBear

[2020-02-10 09:03] lionelB commented on #2335
je suis pas sur que télécharger un pdf depuis le mobile soit un usage important
il faudrait surtout valider le fait qu'on puisse imprimer l'intégralité de la page  (contenu des accordéons / tab) qui sont souvent cachés parce que généré les 14000 contenu, ca va être pénible à mettre en place à priori.

[2020-02-10 10:07] jrduscher opened #2349 "Tracking contacter les services de renseignement"
**Contexte**

Nous n'avons pas de données concernant l'utilisation par les usagers du bouton "contacter nos services en région" présent sur chaque page.

**Tracking à mettre en place**

L'idée est de mettre en place des événements de tracking dans matomo afin de savoir quelles sont les actions de l'utilisateur dans "contacter nos services en région".

Proposition de plan de tagage :

Envoyer un év

[2020-02-10 13:30] #2224 closed, assigned to lionelB

[2020-02-10 16:58] virginielastisneres opened #2351 "Bug outil "heures pour recherche d'emploi" données manquantes"
Hello,

Dans l'outil d'heures pour recherche d'emploi il y a 3 colonnes pour le résultat :
- résultat 1 : le nombre d'heures
- résultat 2 : la rémunération des heures
- résultat 3 : les modalités d'utilisation des heures

https://docs.google.com/spreadsheets/d/1zd_hShEui8BHK0349GpDUZRkCcQ9syIZ9gSrkYKRdo0/edit#gid=1448216742

_Exemple pour la CC idcc 16 - Employés (ligne 5) :_
- _nombre d'heures :

[2020-02-11 16:46] lionelB opened #2355 "ci: remove create-namespace on prod stage"
the create_namespace job is not mandatory when running prod pipeline

[2020-02-11 16:53] lionelB commented on #2295
l'externalisation des synonymes sera realisée plus tard (support elasticcloud)

[2020-02-11 16:53] #2295 closed, assigned to lionelB

[2020-02-14 09:33] jrduscher opened #2361 "Moteur de recherche: recherche par référence juridique, résultats erronés"
### Description:

Un user nous fait part par mail d'une recherche décevante.
Elle tape " L1321-4", qui correspond à un article du code du travail sur le règlement intérieur. ( le bon article s'affiche correctement de son côté en bas de page d'ailleurs plutôt bien accompagné d'autres articles sur le même thème).

La majorité des réponses proposées (fiches...) ont trait au licenciement, aucune au rè

[2020-02-17 08:32] lionelB commented on #2215
je propose de fermé et de faire un issue lorsqu'on mettra à jour la récupération des contributions + refacto des data des ccn dans contributions

[2020-02-17 08:32] #2215 closed, assigned to nobody

[2020-02-17 09:02] lionelB commented on #1859
je vois plusieurs soucis pour l'instant.
- Les références du texte original (fiche SP, fiche Mt) sont présente dans le texte mais pas de manière formatée.
- Dans le cas d'une fiche MT pour laquelle on indexe chaque paragraphe, il faudrait supprimer toute la fiche ou seulement le paragraphe ?

cas intéressant: la recherche https://code.travail.gouv.fr/recherche?q=les%20cong%C3%A9s%20pour%20%C3%A9v%

[2020-02-17 09:14] ClementChapalain commented on #1859
je ne comprends pas ça :

pour ça :

On a qu'une seule fiche MT utilisée dans les contributions, et on utilise toute la fiche, donc je pense qu'on peut supprimer tous les paragraphes

[2020-02-17 09:50] lionelB commented on #1859
Au sujet des données, les références sont faite dans le markdown, il faut donc les extraires en parsant le contenu du champ markdown pour pouvoir les ensuite les utiliser

Au sujet de la fiche MT je ne la trouve pas, c'est quelle contribution ?

[2020-02-17 10:23] ClementChapalain commented on #1859
ok !
c'est celle là :
- la fiche MT : https://travail-emploi.gouv.fr/droit-du-travail/les-absences-pour-maladie-et-conges-pour-evenements-familiaux/article/les-conges-pour-evenements-familiaux
- la fiche MT chez nous https://code.travail.gouv.fr/fiche-ministere-travail/les-conges-pour-evenements-familiaux
- la contrib https://code.travail.gouv.fr/contribution/les-conges-pour-evenements-familiaux

[2020-02-17 10:28] #2300 closed, assigned to nkrmr

[2020-02-17 10:31] virginielastisneres opened #2365 "[veille] Récupérer les références juridiques associées aux fiches du Ministère du travail"
Aujourd'hui nous récupérons les références juridiques des fiches SP mais pas celles des fiches MT.
exemple : https://travail-emploi.gouv.fr/dialogue-social/le-comite-social-et-economique/article/cse-definition-cadre-et-calendrier-de-mise-en-place
![image](https://user-images.githubusercontent.com/48682104/74645811-e5b52200-5178-11ea-87df-aade182da9cd.png)
Il faudrait pouvoir récupérer les référenc

[2020-02-17 11:11] virginielastisneres opened #2366 "Bug tuiles des contributions dans page résultat"
Dans la page résultat, pour les contributions apparaît le mot "contributions".
Or, normalement devrait apparaître le thème de la contribution comme pour les fiches SP et MT.
![image](https://user-images.githubusercontent.com/48682104/74648810-aa1d5680-517e-11ea-9b4c-7b2f56f548d5.png)

Il faut donc remplacer le mot contributions par le thème de la contribution.

[2020-02-17 11:46] revolunet commented on #2365
a reconfirmer mais de mémoire la dicom nous avait dit qu'il valait mieux se baser sur les articles cités **dans le texte** plutôt que cette colonne

[2020-02-17 12:02] lionelB commented on #2366
ca fait pas deja la 3e issue la dessus ?

[2020-02-17 12:04] lionelB commented on #2366
fausse manip, et apriori pas de doublons... je vais aller me coucher je crois :)

[2020-02-17 13:00] ClementChapalain commented on #1859
En fait la fiche sur les congés pour événement familiaux a été réécrite donc elle n'est plus récupérée depuis MT donc plus besoin de l'enlever, désolé pour le contretemps !

[2020-02-17 14:02] virginielastisneres opened #2368 "tracking de l'étape d'introduction des simulateurs"
Dans le tracking des outils on voit toutes les étapes sauf l'étape introduction.
Il faut donc rajouter l'étape introduction.

[2020-02-17 15:37] virginielastisneres commented on #2338
**Solution proposée**

Revoir un peu l'UX et l'UI des résultats affichés :
figma ici =>> https://www.figma.com/file/wQgXKpQJFfN7tN9lRqiC0m/Untitled?node-id=76%3A503

- [ ] on ne présente que 4 résultats par catégories "Conventions collectives" et "Entreprises" ;

- [ ] on rajoute un "voir plus" pour chacune des catégories

- [ ] on sépare un peu les deux catégories pour bien les différencier

- [

[2020-02-17 16:52] virginielastisneres commented on #2319
**Contexte**

Nous n'avons pas de données concernant l'utilisation et l'accessibilité de notre moteur de recherche des conventions collectives présent à la fois comme outil seul, intégré dans des outils et dans les contributions.
![image](https://user-images.githubusercontent.com/48682104/74672356-642bb700-51ad-11ea-9c8a-d8037caee84a.png)

**Tracking à mettre en place**

L'idée est de mettre en pl

[2020-02-17 17:22] lionelB commented on #2366
a priori le pb vient du fait que certaine contribution ne sont pas encore dans le datafiller, ou ne sont pas thémée (https://code.travail.gouv.fr/recherche?q=interim%20%20fin%20de%20contrat)

[2020-02-18 09:41] lionelB opened #2370 "Récupérer la date dans les articles du cdt"
on ne récupère plus la date dans les articles du code du travail, la clef a changée de nom

[code]
il faut aussi modifié le format d'affichage dans le frontend qui differe des autre contenu
[code]

[2020-02-18 14:14] #2177 closed, assigned to lionelB

[2020-02-18 14:27] lionelB commented on #2355
closed by #2353

[2020-02-18 14:27] #2355 closed, assigned to lionelB

[2020-02-18 15:23] virginielastisneres opened #2373 "Balise Meta title & Meta Description : Home page"
### Meta title

Le titre de la home page dans les résultats de recherche est "code du travail numérique".

Etant donné qu'on n'est pas explicite dans la meta description, cela serait bien de rajouter dans le Meta title "Ministère du travail" à côté de code du travail numérique. Cela permet d'afficher directement que le site est un site du ministère du travail, cela donne plus de confiance à l'util

[2020-02-18 15:44] lionelB commented on #2373
je trouve que ca risque d'induire en erreur l'utilisateur qui va penser que c'est un contenu du site ministere du travail alors que pas du tout.

[2020-02-18 16:02] virginielastisneres commented on #2373
Je comprends ce que tu veux dire après je ne suis pas sure que ca ait cet effet. A l'inverse ne rien mettre alors qu'en dessous tu as ministère du travail ca inspire moins confiance je trouve, j'ai plutôt envie de cliquer sur le second lien car je veux des informations en droit du travail données par le ministère du travail. Je suis pas sure qu'en voyant Ministère du travail les gens pensent direc

[2020-02-19 10:03] lionelB opened #2376 "Separate request / limit ressource between prod and dev"
to avoid requesting more ressource than necessary, we need to separate dev and prod request and limit in pod settings

[2020-02-19 10:23] #2351 closed, assigned to lionelB

[2020-02-19 10:23] #2332 closed, assigned to lionelB

[2020-02-19 11:28] rmelisson commented on #2365
Par rapport à la discussion que l’on a eu pendant le planning, voici ce que je comprends du problème et la façon dont je l’approcherais :

- Nous avons besoin d’identifier dans le texte (free text) des fiches SP et MT les références aux articles, décrets, ordonnances qui constituent le code du travail.
- Ça ressemble à un excercice d’extraction d’entités (https://en.wikipedia.org/wiki/Named-entity

[2020-02-19 12:31] #2243 closed, assigned to rmelisson

[2020-02-19 12:33] rmelisson commented on #2243
https://github.com/SocialGouv/code-du-travail-numerique/pull/2309

[2020-02-19 12:35] #1627 closed, assigned to rmelisson

[2020-02-19 12:35] #1626 closed, assigned to rmelisson, ArmandGiraud

[2020-02-19 12:36] rmelisson commented on #1819
no longer relevant

[2020-02-19 12:36] #1819 closed, assigned to rmelisson

[2020-02-19 12:55] lionelB commented on #1819
@rmelisson should we close the camembert Pr ?

[2020-02-19 12:58] lionelB commented on #2059
Pour l'instant, une suppression automatique des index de plus de 15jours a été mis en place. si cette approche est suffisante pour garder un nombre constant d'index. Dans le cas contraire, le script de nettoyage sera mis en place

[2020-02-19 12:58] #2059 closed, assigned to lionelB

[2020-02-19 13:52] rmelisson commented on #1819
yep, je la ferme aussi, Camembert sera pê interessant pour d'autre usages mais pas pour remplacer le QA

[2020-02-19 14:27] revolunet commented on #2365
je repose là au cas où un petit travail fait à l'époque en se basant sur les données LEGI :

https://github.com/SocialGouv/legi-detect

1) detection de quelques patterns de base
2) validation (avec base LEGI) et creation du lien vers legifrance

ca pourrait être utilisé via une API dédiée

[2020-02-19 14:38] lionelB commented on #2365
https://excalidraw.com/#json=5648039146422272,KWd71jChaOeSVl5V-TVKMg

[2020-02-19 16:31] #1859 closed, assigned to lionelB

[2020-02-19 17:04] #499 closed, assigned to lionelB

[2020-02-19 17:26] rmelisson commented on #2263
Ici les deux fichiers contenant les rapport d'utilisation des contenus Datafiller :

https://hackmd.io/@Aj3f6lyPRFut1ME1UVYEdg/ryPXnyoQ8/edit

https://hackmd.io/@Aj3f6lyPRFut1ME1UVYEdg/rylH0JoQ8/edit

[2020-02-19 17:28] #2368 closed, assigned to lionelB

[2020-02-19 17:29] rmelisson commented on #2263
Deux actions à faire pour chaque entrée :

- [x]  vérifier que les variantes sont ok (requêtes utilisateur qui match une entrée DF)

- [ ]  re-ordonner les entrées DF pour qu'elles correspondent à l'ordre idéal constaté dans les logs (ordonné par _count_)

[2020-02-19 18:03] lionelB commented on #2376
fixed by #2378

[2020-02-19 18:03] #2376 closed, assigned to nobody

[2020-02-19 18:05] lionelB commented on #2370
closed by #2384

[2020-02-19 18:05] #2370 closed, assigned to nobody

[2020-02-20 09:43] #2265 closed, assigned to lionelB

[2020-02-20 10:19] virginielastisneres opened #2389 "[Veille] Général : changements articles du cdt et CCs VS contenus impactés"
### **Contexte & Problème**
Aujourd'hui, il y a aucun mécanisme qui alerte les experts métiers des changements intervenus sur les articles du code du travail et les articles des conventions collectives. Ils ne peuvent donc pas faire de veille sur nos contenus.  Cela vaut également pour les fiches Service-Public.fr, les experts ne sont pas alertés lors d'une modification, d'une suppression ou d'un

[2020-02-20 10:29] virginielastisneres commented on #2365
**Pour les références juridiques que l'on souhaiterait ça serait bien d'avoir à la fois celles présentes dans le contenu juridique et celles qui sont sur le côté de la fiche.**
Il n'y a pas toujours toutes les références juridiques dans le contenu et vice versa.

[2020-02-20 10:30] lionelB commented on #2389
Hello
Pour les 3 premiers points vous pouvez deja vous abonnez aux dépots
- https://github.com/SocialGouv/kali-data ( texte de base des conventions collectives )
- https://github.com/SocialGouv/legi-data (code du travail)
- https://github.com/SocialGouv/fiche-vdd (fiche service publics)

pour avoir un rapport de tout les changements,

[2020-02-20 14:30] UnbearableBear commented on #2389
Et ce qui concerne les fiche du ministère du travail, il n'y a pas besoin d'avoir an rapport sur celles qui ont été modifiée / supprimées / ajoutées ?

[2020-02-20 14:40] virginielastisneres commented on #2389
normalement c'est la dicom qui doit nous prévenir de ces changements.

[2020-02-20 15:00] #2299 closed, assigned to UnbearableBear

[2020-02-20 15:42] virginielastisneres opened #2391 "Résultats des requêtes Datafiller : ajouter une option qui permet de réordonnancer plus facilement"
**Contexte**
Aujourd'hui dans les requêtes du datafiller, si je veux modifier l'ordre dans lequel les résultats d'une requête apparaît je dois supprimer les résultats et les remettre tous dans l'ordre souhaité.
![image](https://user-images.githubusercontent.com/48682104/74950368-46ee2700-53ff-11ea-8bbf-ca45da454630.png)
Changer l'ordre des résultats de 100 requêtes va prendre du temps.

**Solution

[2020-02-20 16:27] #2349 closed, assigned to lionelB

[2020-02-20 16:44] UnbearableBear commented on #2279
Already fixed by @revolunet who removed the extra URI encoding already done by the router package

[2020-02-20 16:44] #2279 closed, assigned to UnbearableBear

[2020-02-20 18:34] #2319 closed, assigned to lionelB

[2020-02-21 14:18] revolunet commented on #2391
@rmelisson @ArmandGiraud @lionelB

Ici on voudrait remplacer, dans les "requetes" du datafiller la "note" de 1 à 5 par un "order", comme c'est le cas dans les thèmes. du coup ca va remplace lesr "scores" des entrées actuelles avec un nombre de 1 à n selon leur ordre visuel et non plus la "note".

aussi, sauf erreur, actuellement, SCORE=5 très pertinent alors SCORE=1 = pas terrible
Avec l'ordering

[2020-02-21 14:20] revolunet commented on #2391
Sinon pour faire la modif côté DF concrètement il faudrait :

 - corriger l'UI pour gérer l'ordering manuel et supprimer la note
 - faire un script qui corrige tous les scores actuels
 - dans CDTN, modifier [l'import du datafiller](https://github.com/SocialGouv/code-du-travail-numerique/blob/master/packages/code-du-travail-data/dataset/datafiller/fetch-requetes.js#L83) pour gérer ce nouvel orderin

[2020-02-21 14:22] virginielastisneres commented on #2391
@revolunet à voir avec ce que disent rémi, armand et lionel. Rémi me disait qu'il utilisait pas le scoring apparemment...

[2020-02-21 17:28] revolunet commented on #2389
un exemple de ce qu'on peut extraire a chaque modif côté DILA : https://hackmd.io/KKdxD-wFRvq_Eao9kJGFSg?view

[2020-02-21 17:29] revolunet commented on #2389
c'est un "diff" entre deux versions du code

[2020-02-21 17:40] revolunet commented on #2389
cf https://github.com/SocialGouv/legi-data/pull/40

[2020-02-24 08:39] rmelisson commented on #2391
J'avais cru comprendre qu'on utilisait l'ordre tel quel, pas forcément en fonction de scores. Je regarde de plus près demain.

[2020-02-24 09:11] ArmandGiraud commented on #2391
Ce score de pertinence permet l'évaluation (à froid) de l'algorithme de recherche, par rapport à l'avis de nos experts. Est-il possible de rajouter un rang à côté  de la note de pertinence? @revolunet

[2020-02-25 13:05] jrduscher opened #2405 "Glossaire info-bulle: cas de hors sujet /faux amis"
**Description**
Un utilisateur remonte un bug dans les info-bulles qui proposent des définitions du glossaire à la détection des termes liés dans les contenus du CDTN.

 Le mot "disposition" ici est hors sujet dans le contexte:  La définition proposée n'a pas de sens dans cette phrase.

**Comportement attendu**
Ne pas proposer la définition liée au terme "disposition" pour " à disposition" et "à l

[2020-02-25 14:11] rmelisson commented on #2391
Après discussion avec Virginie, on pense que le plus simple serait de rajouter plus d'options de scoring (de 1 à 10 par exemple). Ça devrait nous permettre d'ordonner les résultats comme on le souhaite, avec un minimum de dev.

Est-ce que ça serait possible comme feature niveau data filler ?

[2020-02-25 14:35] revolunet commented on #2391
on peut passer le scoring de 1 à 10 ou mettre un ordre, les deux sont aussi simples. l'ordre est déjà géré dans les thèmes donc c'est facile à mettre en place.

[2020-02-25 15:05] rmelisson commented on #2391
Ok, je pense que le scoring 1-10 est mieux car au moins c'est explicite.
Après ça peut être utile d'avoir l'ordre en terme d'UX.

[2020-02-25 15:12] revolunet commented on #2391
je pense que si on rajoute un scoring mais que c'est pas orderable c'est illisible donc je propose de faire l'ordering avec une notre de 1 à n qui représente la position. ca irait ?

[2020-02-25 16:16] revolunet commented on #2391
conclusion :
 - [ ] mettre l'ordering des résultats dans les requêtes comme dans les thèmes
 - [ ] remapper les scores de la DB de 5 à 1 vers 1 à n

[2020-02-25 17:07] virginielastisneres commented on #1397
@revolunet @ivangabriele on en est où au niveau de cette tâche ?

[2020-02-26 03:02] ivangabriele commented on #1397
@virginielastisneres Il ne reste plus que 2 étapes pour que la migration soit complète :

- Pouvoir ajouter des références CDTN
- Migrer les données existantes

[2020-02-26 09:13] rmelisson commented on #2365
@lionelB on avait convenu d'ajouter les refs directement dans les fichiers data json, est-ce que je stocke ça au niveau section dans le `fiches-mt-split.json` ou alors au niveau fiche dans le `fiches-mt.json` ?

[2020-02-26 12:31] lionelB commented on #2365
je dirais `fiches-mt-split.json` car c'est ce qui est utilisé pour l'index de recherche

[2020-02-26 13:58] rmelisson commented on #2263
en attente de : #2391

[2020-02-26 16:44] revolunet opened #2410 "CCN Picker : cannot select CC in contributions"
On ne peut plus choisir de CC depuis une contribution

https://code.travail.gouv.fr/convention-collective/2395-assistants-maternels-du-particulier-employeur

(Ca fonctionne depuis la page dédiée)

[2020-02-26 16:53] revolunet commented on #2410
PEBCAK problem

[2020-02-26 16:53] #2410 closed, assigned to nobody

[2020-02-27 09:30] virginielastisneres opened #2411 "Bug affichage des formules dans les outils"
### **Contexte**
Sur GoogleChrome et sur la prod, quand je suis sur l'outil de l'indemnité de licenciement ou l'outil de l'indemnité de précarité, à la dernière page s'affiche le résultat avec le détail et la **formule de calcul**.
Exemple de formules :
![image](https://user-images.githubusercontent.com/48682104/75429890-cc675f00-594a-11ea-8647-5b3084422015.png)

### **Problème**
Lorsque j'ai fais

[2020-02-27 10:06] virginielastisneres opened #2413 "Bug sur IE : fonctionnalités non accessibles"
### **Description**
Plusieurs fonctionnalités ne sont plus accessibles sur la prod sur EI 11:

- Le bouton "suivant" des outils ne fonctionne pas. https://code.travail.gouv.fr/outils/indemnite-licenciement.
![image](https://user-images.githubusercontent.com/48682104/75432869-6204ed80-594f-11ea-9569-985b091ac34c.png)

- La marianne et le logo ne fonctionnent pas à partir d'un certain moment. Je cli

[2020-02-27 10:19] #2338 closed, assigned to UnbearableBear

[2020-02-27 10:45] UnbearableBear opened #2414 "Bug certaines références juridiques n'ont pas d'url"
Certaines références juridiques dans les contribution n'ont pas d'url de renseignéen et, à l'heure actuelle, cela casse la page concernéé

https://code.travail.gouv.fr/convention-collective/829-convention-collective-departementale-des-industries-metallurgiques-et-des-in

fix en cours

Question: doit-on afficher les références qui n'ont pas de lien ?

[2020-02-27 11:57] virginielastisneres opened #2416 "Bug : Erreur 500 sur des contributions"
**Problème détecté**
Sur la prod, il y a des contributions qui ne sont pas disponibles : Erreur 500.
Exemples :
- https://code.travail.gouv.fr/contribution/quelle-peut-etre-la-duree-maximale-dun-cdd?q=cdd
- https://code.travail.gouv.fr/contribution/faut-il-respecter-un-delai-de-carence-entre-deux-cdd-si-oui-quelle-est-sa-duree?q=d%C3%A9lai%20de%20carence

Il semblerait que cela soit lié à la PR qu

[2020-02-27 15:29] virginielastisneres commented on #2341
@revolunet du coup julien, cette issue est terminée ?

[2020-02-27 16:25] revolunet commented on #2341
oui pour moi c'est réglé

[2020-02-27 16:25] #2341 closed, assigned to nobody

[2020-02-27 17:21] virginielastisneres opened #2422 "Ajouter des tests end to end"
_WIP_

**Contexte**
Aujourd'hui nous avons 5 tests end to end.

**Solution**
Il faudrait en créer d'autres afin de couvrir au mieux toutes les fonctionnalités du code du travail numérique.
_(où les trouver & où les créer)_

Liste des tests :

- Recherche sur le site avec sélection de résultats
- Parcours outils : outil indemnité de licenciement, outil indemnité de précarité & outil préavis de démi

[2020-02-27 17:28] virginielastisneres opened #2423 "[Veille] : Prototype 1ère Page pour la veille"
_WIP_

**Contexte & Problème**
_WIP_

**Solution**
_WIP_

Cf.
[Présentation outil admin et veille.pdf](https://github.com/SocialGouv/code-du-travail-numerique/files/4263022/Presentation.outil.admin.et.veille.pdf)

[2020-02-28 08:30] #2416 closed, assigned to lionelB

[2020-02-28 08:42] #2414 closed, assigned to UnbearableBear

[2020-02-28 08:43] #2413 closed, assigned to UnbearableBear

[2020-02-28 08:59] lionelB commented on #2422
# Parcours
- [x] page d'accueil
- [x] page à propos
- [x] Recherche de convention collective
- [x] Recherche
- [ ]  page de contribution
  - [ ]   `/contribution/quelle-peut-etre-la-duree-maximale-dun-cdd`
  - [ ]   `/contribution/faut-il-respecter-un-delai-de-carence-entre-deux-cdd-si-oui-quelle-est-sa-duree`
- [ ] `page de convention collective`
- [ ]   `/convention-collective/829-convention-col

[2020-02-28 09:22] revolunet commented on #2389
Une démo un peu plus à jour de ce qu'on peut extraire avec les repos LEGI/KALI  : https://gs7sz.csb.app/

[2020-02-28 09:23] revolunet commented on #2389
resterait à faire sur cette demo :
 - faire les liens vers legifrance
 - filter uniquement sur les cc qui nous intéressent
 - ajouter le diff fiches SP

[2020-02-28 13:24] virginielastisneres opened #2426 "Cacher le lien "devenez ambassadeur""
**Contexte**
Nous avons installé il y a peu un lien dans le footer "devenez ambassadeur". ![image](https://user-images.githubusercontent.com/48682104/75551702-0f9dfc80-5a35-11ea-9964-334dabc5e136.png)

La personne qui clique dessus accède à calendly pour prendre rendre vous avec une personne de l'équipe afin d'obtenir des infos et devenir ambassadeur.

**Problème**
Or, aujourd'hui nous n'avons plu

[2020-02-28 13:46] virginielastisneres opened #2427 "[Home page] : les contenus les plus consultés"
### **Contexte**
Au moment de la construction des fonctionnalités du site Aurélie et Cécile avaient proposé d'intégrer dans la home page la fonctionnalité suivante : une liste des contenus les plus consultés.

Maintenant que nous avons des données sur les contenus et que la home est le 2ème type de page d'entrée aujourd'hui sur le CDTN, cela serait bien d'intégrer cette fonctionnalité.

### **Solu

[2020-02-28 17:11] lionelB opened #2428 "a11y: améliorations diverses"
Retour usager:
- [ ] formulaire

La logique voudrait que l’on puisse y accéder sans avoir besoin de faire cette petite opération de descente et remontée. Mais, on y arrive tout de même facilement.
- [ ] Accordeon

[2020-03-01 12:34] ArmandGiraud commented on #2427
Pour les contenus les plus visités, on parle d'une liste statique calculée sur tout l'historique?

* on peut imaginer une fonctionnalité un peu dynamique, qui propose les contenus les plus visités sur une fenêtre temporelle définie ou choisi par l'utilisateur.
* La déviation par rapport à la popularité de long terme permettrait de proposer des résultats en lien avec l'actualité. les fiches canicul

[2020-03-02 09:41] revolunet commented on #2422
PI les sources des tests actuels : https://github.com/SocialGouv/code-du-travail-numerique/tree/master/optional/e2e/features

[2020-03-02 09:55] rmelisson commented on #2427
- oui je pense que c'est important de calculer la popularité sur une fenêtre de temps, histoire de capturer les tendances
- par contre il vaut mieux imaginer une selection manuelle (via une analyse des logs) pour le moment, car autrement, cela implique la mise en place du pool de logs, et ça risque de prendre un peu plus de temps car gros impact sur l'architecture

[2020-03-02 13:12] virginielastisneres commented on #2365
@rmelisson Est ce que tu pourrais nous faire un point sur cette tâche :)
Où en es-tu et que reste-t-il à faire ?
Thanks :)

[2020-03-02 15:54] UnbearableBear opened #2430 "Faire une passe sur les erreurs remontées par Sentry"
<img width="718" alt="Screenshot 2020-03-16 at 13 43 11" src="https://user-images.githubusercontent.com/705453/76759535-2742e800-678c-11ea-9858-72107cf0c82e.png">
<img width="710" alt="Screenshot 2020-03-16 at 13 43 17" src="https://user-images.githubusercontent.com/705453/76759538-29a54200-678c-11ea-8626-93ba95265cea.png">

Le nombre d'erreur remontées a baissé depuis la dernière mise en prod, ce

[2020-03-02 16:51] UnbearableBear commented on #2373
Por info les titre à l'heure actuelle ressemblent à ça:

Code du travail numérique - Ministère du Travail
Recherche de convention collective
Convention collective ${titre court cc}
${recherche} - Code du travail numérique
Glossaire - Code du travail numérique
Le droit du travail - Code du travail numérique
Boîte a outils - Code du travail numérique
Politique de confidentialité - Code du travail nu

[2020-03-02 17:33] virginielastisneres commented on #2427
On est d'accord sur un départ via une sélection manuelle du contenu mis en avant. Comme dit précédemment cela serait bien que cela soit un mix des tendances et des contenus les plus consultés.

Pour une sélection manuelle du contenu, serait-il possible @revolunet de partir sur le modèle du datafiller ? Avoir un onglet de plus dans le datafiller qui permettrait de sélectionner 6 contenus qui seraie

[2020-03-03 09:39] rmelisson commented on #2365
J'avais loupé ton commentaire @virginielastisneres, en gros pour le moment on a un algo qui trouve les "tokens" qui font reference à des articles.
Maintenant, faut que je refasse le point avec @lionelB pour savoir si je vais jusqu'à la resolution des "liens" Legifrance

[2020-03-03 09:53] #2373 closed, assigned to UnbearableBear

[2020-03-03 09:55] UnbearableBear commented on #2426
closed here: https://github.com/SocialGouv/code-du-travail-numerique/pull/2431

[2020-03-03 09:55] #2426 closed, assigned to UnbearableBear

[2020-03-03 10:57] UnbearableBear commented on #2427
Je tente une première approche un peu "naïve" basée sur les stats de matomo (je prends les contenus les plus consultés sur la dernière semaine), on voit ce que ça donne et on implémente la suite ?

[2020-03-03 13:27] jrduscher opened #2434 "Affichage des vignettes "outils" dans les contenus: lisibilité utilisateur"
**Problème rencontré**

Dans les contenus, lorsqu'un outil est proposé, il s'affiche comme suit:
![image](https://user-images.githubusercontent.com/37538697/75779036-3754d380-5d59-11ea-9efe-2bd4415cbd1d.png)

En page d'accueil, le même outil s'affla iche :
![image](https://user-images.githubusercontent.com/37538697/75779222-86026d80-5d59-11ea-9f95-554aaad9a757.png)

Le titre seul  de l'outil peut

[2020-03-03 13:55] ClementChapalain opened #2435 "Nouvelle convention de nommage des événements matomo"
Il va falloir qu'on change la convention de nommage des événements matomo car ce n'est pas analysable en l'état :(

Pour préciser voici le pb :
- lorsqu'on sélectionne une catégorie d'événement, soit on sélectionne l'action en deuxième dimension et on ne voit pas le détail par étape, soit on sélectionne le nom en deuxième dimension et on a les 2 types d'événements mélangés (voir une étape et reven

[2020-03-03 14:14] virginielastisneres commented on #2427
Manu pourrais-tu voir avec @revolunet la mise en place dans le datafiller ? car au final on va vraiment faire une sélection manuelle.

[2020-03-03 17:26] jrduscher opened #2436 "Page contribution: détail de mise en page"
Mettre à la ligne: ( vue à 100%)
![image](https://user-images.githubusercontent.com/37538697/75801997-5022b080-5d7c-11ea-9adc-33acc59448b4.png)

[2020-03-04 10:49] revolunet commented on #2427
@virginielastisneres tu peux déjà créer une entrée "homepage" dans les requetes et y mettre les liens qui t'interessent ?

[2020-03-04 10:55] virginielastisneres commented on #2427
yes julien :)

On est d'accord que l'on mettra "cette requête" dans une section distincte des requêtes @revolunet ? Car là si la personne tape homepage dans notre moteur elle aura les 6 résultats proposés.
Cela nécessiterait beaucoup de temps selon toi de faire une section à part ?

[2020-03-04 14:29] rmelisson commented on #2427
de mon côté, je peux calculer les contenus avec le plus fort taux de progression ("hot topics") :
par exemple :
- un contenu (ou une recherche) qui passe de 10 vues par semaine à 100 vues par semaine => taux de progression de x10
- un contenu qui enregistre 200 visites d'habitude et passe à 250 => taux de progression de x1,25

[2020-03-04 14:37] UnbearableBear commented on #2427
J'aime beaucoup cette notion de popularité basé sur le taux de progression ! De ce que je vois dans matomo je peux assez facilement faire un diff / ratio entre le nombre de consultation d'une semaine à l'autre du coup je peux assez facilement aussi faire un mix entre nombre de vues et taux de progression
Ca permettra d'éviter le faux ami de la nouvelle fiche qui a un taux de progression de 100 alo

[2020-03-04 14:39] revolunet commented on #2391
@virginielastisneres

La modif est en cours, j'ai une petite question pour la reprise des scores actuels.

dans une requete DF, lorsque plusieurs liens ont le même "score" (ex:5), on les ordonne par défaut par "source", avec ces priorités :

- outils
- contribution
- modeles-de-courriers
- fiche-service-public
- fiche-ministere-travail
- code-du-travail
- external

C'est bon pour toi ?

[2020-03-04 14:52] virginielastisneres commented on #2391
oui :) @revolunet

[2020-03-04 15:28] revolunet commented on #2391
Voici un exemple de comment cela va modifier les scores :

<img width="1885" alt="Capture d’écran 2020-03-04 à 16 20 08" src="https://user-images.githubusercontent.com/124937/75894729-f500c480-5e34-11ea-8270-ce21729fa5bc.png">

col relevance = score actuel
col position = position corrigée

[2020-03-04 15:33] virginielastisneres commented on #2391
Pour moi cela semble bon julien :) et pour toi @rmelisson ?

[2020-03-04 15:48] rmelisson commented on #2391
looks good, et du coup dans l'export on aura relevance et position ?

[2020-03-04 16:12] revolunet commented on #2391
je comptais enlever relevance vu qu'il ne sera plus modifiable... good for you ?

[2020-03-04 16:50] rmelisson commented on #2391
yep 👍

[2020-03-04 17:34] rmelisson opened #2440 "Ingest logs in Elastic"
Aujourd’hui, les logs sont conservés dans Matomo qui reçoit directement les events du front ou de l’API.

Cela pose quelques problèmes dans le cadre d’une utilisation fréquente et automatisée du contenu des logs :
- Base de données : Matomo n’est pas vraiment prévu pour recevoir des requêtes qui peuvent être franchement lourdes (aggrégations…), et nous ne voulons pas sur-solliciter Matomo, qui dev

[2020-03-04 17:35] rmelisson commented on #2440
ping @revolunet @ClementChapalain voilà, au moins maintenant y'a une issue ! ;)

[2020-03-05 09:42] ClementChapalain commented on #2440
Merci beaucoup Rémi pour la tâche très claire ! Quelques compléments de mon côté :
- Matomo n'est effectivement pas utilisable pour l'analyse, car :
  - Impossible de mettre 2 filtres ou plus sur les événements (par exemple un filtre sur la category et un filtre sur l'action, pour ensuite voir les names)
  - L'outil ne scale dès que l'on demande des données sur un temps trop long (bugs dans l'inte

[2020-03-05 09:46] UnbearableBear commented on #2440
Complètement d'accord ! Même en prod sur CDTN on consulte l'api de matomo pour les pages comme les stats et peut-être même la home avec le contenu populaire (ou pas si tout se fait via le datafiller) donc c'est un besoin qui va vraiment se faire sentir à l'avenir.
@douglasduteil pour faire suite à ce que tu me disais, avoir une base dédiée permettrait de résoudre le pb de caching à la consultation

[2020-03-05 09:59] revolunet commented on #2440
on a de la place sur le cluster ES

[2020-03-05 10:00] revolunet commented on #2440
@UnbearableBear  quel probleme de caching sur les données ?

[2020-03-05 10:06] UnbearableBear commented on #2440
@revolunet on est encore en train de voir mais pour la rubrique "contenus populaires" de la homepage, on récupèrerait la data de matomo pour avoir les tendances du mois. Mais hors de question de récupérer ça à chaque chargement de home donc un cache qui se mettrait à jour une fois par jour était envisageable ? J'ai déjà un script qui tourne et qui, en tapant dans l'api de matomo, me sort un score

[2020-03-05 10:59] jrduscher opened #2443 "Améliorer la recherche des coordonnées des SdR"
**la liste des coordonnées des SR**
Aujourd'hui, la recherche des coordonnées des SR se fait par numéro de département comme suit
![image](https://user-images.githubusercontent.com/37538697/75975464-da802700-5ed8-11ea-85a8-576a37cef432.png)

La recherche aboutit à une url:
![image](https://user-images.githubusercontent.com/37538697/75975577-09969880-5ed9-11ea-8fa9-ba59e7df7f06.png)

###  améliorer

[2020-03-08 17:45] mquandalle opened #2450 "Image qui déborde"
**Description**
Certaines images débordent de leur colonne, par exemple sur la page https://code.travail.gouv.fr/fiche-ministere-travail/oppbtp-deux-outils-digitaux-innovants-dans-laccompagnement-a-la-prevention-des-risques-professionnels-aupres-des-tpe-pme?q=btp#PreventionBTP-en-EnDirect-un-service-d-assistance-en-ligne-pour-obtenir-nbsp
Un `img { max-width: 100% }` sur `TabContent` devrait résou

[2020-03-09 07:19] revolunet commented on #2450
Merci pour le signalement 👍

[2020-03-09 07:20] #2391 closed, assigned to revolunet

[2020-03-09 07:29] revolunet commented on #2391
fixed in https://github.com/SocialGouv/datafiller/pull/102

[2020-03-09 07:41] revolunet commented on #2389
MAJ avec les contenus fiches-SP : https://review-tests-dev-cejapu-veille-git.dev.fabrique.social.gouv.fr/

Reste à faire :
 - filtrer les CCs sur celles qui nous interessent
 - idem fiche SP
 - pouvoir remonter plus en arrière

[2020-03-09 07:42] revolunet commented on #1411
closable ?

[2020-03-09 09:54] #2436 closed, assigned to nobody

[2020-03-09 16:03] jrduscher commented on #2333
Dans la modale  du lien "contact" dans le footer, mettre le point juste après "dédiés" et pas après la flèche: ![image](https://user-images.githubusercontent.com/37538697/76232798-843c1c80-6227-11ea-94e9-67bbea5026fa.png)

[2020-03-10 11:55] #2227 closed, assigned to nobody

[2020-03-10 14:56] jrduscher opened #2458 "Recherche de convention collective par le numéro SIRET: ne fonctionne plus"
**Description**

La recherche de CC applicable via le n° SIRET de l'établissement ne semble plus fonctionner.
Toutes les tentatives aboutissent à: "Aucun résultat n'a été trouvé". (master et prod)

**Reproduction**

Essais infructueux avec les numéros SIRET suivants:
- 38347481400092, (Airbus)
- 57209392000062, (AXA)
- 55214450301248, (AUTOMOBILES PEUGEOT)
- 42049517800014, (societe air france)
-

[2020-03-10 16:02] UnbearableBear opened #2459 "Warnings dans la console au niveau des formulaires"
Actuellement en local nous avons des warnings lorsque nous utilisons react-final-form:

`Cannot update a component from inside the function body of a different component`

J'ai essayé plusieurs choses pour le faire sauter mais c'est vraiment liée à la librairie en elle même. Surveiller cette issue-ci, c'est le même soucis: https://github.com/final-form/react-final-form/issues/751

Peut-etre qu'un

[2020-03-10 16:28] #2435 closed, assigned to lionelB

[2020-03-10 16:42] ClementChapalain commented on #2435
🙏

[2020-03-10 22:08] revolunet commented on #2458
- 38347481400092 : absent du fichier weez actuel
 - 57209392000062 : idcc 2357 : CC non référencée dans kali-data
 - 55214450301248 : absent du weez actuel
 - 42049517800014 : convention 256 : **devrait apparaitre**
 - 55212022200013 : convention 2120 : **devrait apparaitre**

[2020-03-10 22:19] revolunet commented on #2263
#2391 réglée

[2020-03-11 10:22] #2458 closed, assigned to nobody

[2020-03-11 10:22] revolunet commented on #2458
a tester sur master dans quelques minutes

[2020-03-12 18:25] virginielastisneres opened #2466 "Supprimer le lien "cet article" dans la page introduction de l'outil de licenciement"
Constat suite à des tests utilisateurs :

Dans l'étape 1 de l'outil de licenciement, 4/4 des personnes testées ont cliqué directement sur le lien "cet article" ouvrant une nouvelle page. Donc 4/4 sont sortis de l'outil avant même d'avoir cliqué sur commencer.
Il faut donc supprimer ce lien afin d'augmenter le taux de passage à l'étape 2.

Image du lien
![image](https://user-images.githubuserconten

[2020-03-13 09:19] virginielastisneres opened #2469 "Page CC amélioration du chargement de la page"
Sur google chrome, quand je sélectionne une convention collective dans l'outil de recherche des CCs, la page CC mets bien plus de 4 secondes à se charger. Sur la version mobile de chrome le chargement est un peu plus long 6-7 secondes.
Sur Firefox, aucun problème.
Sur IE11, chronomètre à l'appui, 59 secondes pour charge de la page CC...

Déjà 4-5 secondes de chargement c'est long mais 59 secondes

[2020-03-13 09:38] UnbearableBear commented on #2427
Done !

[2020-03-13 09:38] #2427 closed, assigned to UnbearableBear

[2020-03-13 09:41] UnbearableBear commented on #2466
Tu veux que je mette le lien dans la dernière étape, des résultats ?

[2020-03-13 09:47] virginielastisneres commented on #2466
Oui manu c'est une bonne idée pour le moment :)

[2020-03-13 09:48] lionelB commented on #2469
peut on faire les mesure avec la navigation privée ?

[2020-03-13 09:53] virginielastisneres commented on #2469
yes lionel je te fais ca et te dit :)

[2020-03-13 10:03] virginielastisneres commented on #2469
En navigation privée :
- google chrome : toujours 4 secondes pour le chargement
- firefox : aucune problème
- IE11 :  impossible pour moi de tester en navigation privée...

[2020-03-13 10:54] UnbearableBear commented on #2466
https://github.com/SocialGouv/code-du-travail-numerique/pull/2470 closed here

[2020-03-13 10:54] #2466 closed, assigned to nobody

[2020-03-13 13:08] virginielastisneres opened #2471 "Scroll recherche CC"
Actuellement si je recherche une CC dans une contribution ou dans un outil type préavis de licenciement, je scrolle dans les résultats (cf. image 1) puis que je sélectionne une CC, la page qui s'affiche maintient le scroll (cf. image 2) je me retrouve dans au niveau du footer et du "besoin de plus d'informations".
![image](https://user-images.githubusercontent.com/48682104/76623576-08e2af80-6534-1

[2020-03-13 13:28] lionelB commented on #2471
ah zut il m e semblait que la PR d'accessibilité corrigé ce point, je jetterai un oeil

[2020-03-13 17:45] virginielastisneres opened #2474 "Enlever l'icone "paramètre" dans les outils"
suite à des tests utilisateurs sur les outils, il est apparut que tous les utilisateurs ont voulu cliquer sur l'icône en haut à droite de l'outil.
![image](https://user-images.githubusercontent.com/48682104/76645823-08f5a600-655a-11ea-8b70-2eeeac4fc7c4.png)
Les utilisateurs s'attendaient à avoir des paramètres s'afficher mais rien ne se passe et ils ne comprennent donc pas pourquoi cet icone est l

[2020-03-13 18:04] virginielastisneres opened #2475 "[outils] Amélioration de la page lorsque la sélection d'une CC"
Lors de tests utilisateurs sur les outils, nous avons détecté un réel problème de compréhension de l'utilisateur lorsqu'il avait sélectionné une convention collective après une recherche dans le moteur de recherche de CC. Ils n'ont pas compris qu'ils avaient bien sélectionné une convention collective.
La page aujourd'hui qui apparaît est la suivante :
![image](https://user-images.githubusercontent

[2020-03-16 10:40] rmelisson commented on #2365
résumé du call avec Lionel :
- utiliser legi-data et unist pour le mapping ref -> id DILA
- gestion des "plages" dans une autre issue "L. 613-19 à L.613-19-2"
- enlever url
- documentation haut niveau de l'algo

commentaire Virginie :
- essayer de conserver les ref des plages

[2020-03-16 10:50] rmelisson opened #2480 "Définir une solution pour l'ingestion des logs"
première étape pour #2440

[2020-03-16 13:29] lionelB opened #2481 "[tech] utiliser nodegit / nodegit-kit"
valider techniquement l'utilisation de `node-git` vs `simple-git`

[2020-03-16 13:35] virginielastisneres opened #2482 "[veille] test et amélioration de la faisabilité et de la performance de la veille"
Suite aux avancées dans la mise en place d'une veille automatique du CDTN, il est important de tester la faisabilité et la performance de la solution proposée actuellement avant d'aller plus loin.

Cf. https://review-prerenderi-979vlz-veille-git.dev.fabrique.social.gouv.fr/veille/socialgouv/kali-data

Il faudra donc faire une validation à la fois technique et à la fois métier de cette solution.

[2020-03-16 13:48] virginielastisneres opened #2483 "[veille] nouvel ordre d'affichage des mises à jour"
### Solution actuelle
Actuellement les mises à jour sont affichées ainsi : ⚠️  changement d'adresse ~~https://review-prerenderi-979vlz-veille-git.dev.fabrique.social.gouv.fr/veille/socialgouv/kali-data/commit/9f8a7c146361ca814f8e3c6b660fa74950ec8414~~ ⚠️  https://cdtn-veille-git.fabrique.social.gouv.fr/

**Pour LEGI** : filtre des articles par "nouveaux", "modifiés" et "supprimés".

**Pour Kali**

[2020-03-16 14:47] revolunet commented on #2223
voir aussi si le champ "effectif" peut etre pertinent : https://github.com/SocialGouv/kali-data/blob/master/data/index.json

[2020-03-17 11:28] #952 closed, assigned to nobody

[2020-03-17 11:40] UnbearableBear commented on #1827
solved with new design

[2020-03-17 11:40] #1827 closed, assigned to nobody

[2020-03-17 14:14] lionelB commented on #2365
@rmelisson  pou les plages est ce que c'est possible de mettre la premiere reférence
ex: L. 613-19 à L.613-19-2 => { ref: "L613-19", id: "", ...}

[2020-03-17 14:22] rmelisson commented on #2365
yep, même les deux :
https://github.com/SocialGouv/code-du-travail-numerique/pull/2408/files#diff-4293ca9dc391217ec2b0c7e134c8f6e9R23
  ||
  ||
  V
https://github.com/SocialGouv/code-du-travail-numerique/pull/2408/files#diff-1e93b4ab62074c753769989aeae557c5R325-R364

[2020-03-17 15:06] virginielastisneres opened #2488 "Mettre un bandeau qui renvoie à la rubrique "En ce moment""
Mettre un bandeau en haut sur la homepage avec le texte suivant : "Coronavirus : informations utiles".
Il faudrait que ce texte soit souligné, devienne rouge au survol comme nos liens et renvoie à la rubrique "En ce moment".

[2020-03-17 15:11] virginielastisneres opened #2489 "Nouvelle page thème éditorialisé"
### Contexte
Nous souhaiterions avoir un nouveau type de page qui permettrait à l'usager de pouvoir sur un thème donné (autre que les thèmes statiques déjà définis) avoir sur une même page tous nos contenus en lien avec ce thème, des liens utiles et des modèles. Cela sera des thèmes éditorialisés.

Face à toutes les informations actuelles sur le coronavirus, il est difficile d'avoir sur une seule

[2020-03-17 15:57] rmelisson commented on #2480
Pour le support Elastic :

Nous collectons actuellement les logs d’utilisation de notre service sous la forme d’un fichier JSON par journée. Afin de faciliter leur analyse, nous souhaitons les stocker dans notre cluster Elastic.

Quelques questions à ce sujet, tout d’abord en terme de dimensionnement / volume :
- Nous souhaitons stocker environ 6 mois de logs dans Elastic, à raison de 200K event /

[2020-03-17 20:53] revolunet commented on #1397
Postponed

[2020-03-17 20:53] #1397 closed, assigned to revolunet, ivangabriele

[2020-03-18 17:30] #2488 closed, assigned to nobody

[2020-03-19 14:14] lionelB commented on #2469
On pourrait testé de prébuild les page CC avec les nouvelles méthodes de next pour faire des pags statique ?

[2020-03-19 15:28] revolunet commented on #2469
On peut essayer, surtout si ca fait le processing du glossaire, car a priori le problème vient de là

<img width="1339" alt="Capture d’écran 2020-03-19 à 16 27 07" src="https://user-images.githubusercontent.com/124937/77083968-96277780-69fe-11ea-90d8-79c9a6fb4c47.png">

<img width="594" alt="Capture d’écran 2020-03-19 à 16 28 00" src="https://user-images.githubusercontent.com/124937/77083995-a

[2020-03-19 15:36] revolunet commented on #2469
(ceci dit on doit pouvoir optim cette fonction)

[2020-03-19 16:27] lionelB commented on #2469
@nkrmr creuse la piste d'utiliser les webcomponent pour faire les tooltip, comme on ajouterai le html avant l'ingestion

[2020-03-20 16:01] #2489 closed, assigned to lionelB

[2020-03-23 08:30] #2474 closed, assigned to lionelB

[2020-03-23 09:31] #2471 closed, assigned to lionelB

[2020-03-23 09:31] #2475 closed, assigned to lionelB

[2020-03-23 13:10] virginielastisneres commented on #2365
Hello @rmelisson :)
Peux-tu me dire où tu en es de cette tâche notamment concernant les plages et les liens Legifrance ?
Merci :)

[2020-03-23 13:20] rmelisson commented on #2365
hello @virginielastisneres
c'est en court de review, les liens sont ok, les plages seront traitées dans une autre issue

[2020-03-23 13:23] virginielastisneres commented on #2365
Super merci @rmelisson :)

[2020-03-23 18:26] virginielastisneres opened #2519 "[coronavirus] Ajouter des liens externes"
### 1/ Modèles gouvernement

Actuellement nous intégrons directement sur notre site les modèles du ministère de l'intérieur suivants :
- Attestation sur l’honneur : déplacement dérogatoire
- Justificatif de l’employeur de déplacement professionnel

Or, ces modèles changent très régulièrement... cela implique des mep juste pour ces modèles avec un temps d'intégration pour coller à la mise en forme

[2020-03-23 18:37] virginielastisneres opened #2520 "Update dossier Coronavirus"
Suite à l'ajout des 3 contenus suivants :
- https://travail-emploi.gouv.fr/actualites/presse/communiques-de-presse/article/mesures-exceptionnelles-de-soutien-aux-intermittents-et-salaries-du-secteur
- https://travail-emploi.gouv.fr/actualites/presse/communiques-de-presse/article/covid-19-situation-des-travailleurs-frontaliers
- https://travail-emploi.gouv.fr/IMG/pdf/covid19_obligations_employeur.p

[2020-03-24 10:26] lionelB commented on #1849
Ce qui manque:
- [x] Avoir un interface pour gérer les fiches SP
- [x] Créer une interface pour gérer les fiches MT

[2020-03-24 10:36] revolunet commented on #1849
Propal :
 - extraire fiches-mt dans un repo dédié + npm
 - publier régulièrement les contribs sur repo + npm : règle le probleme de "vue" côté contrib et l'accès à l'API

[2020-03-24 11:08] rmelisson commented on #2480
![log-ingestion-proto](https://user-images.githubusercontent.com/752778/77419061-1b78a680-6dc8-11ea-87ea-5c6185ffef91.png)

[2020-03-24 11:27] revolunet commented on #2480
si je comprends bien, les données ES cloud sont basées sur les dumps azure ?

[2020-03-24 11:34] rmelisson commented on #2480
oui c'est bien ça

[2020-03-24 13:57] rmelisson opened #2524 "[veille] interpreter les plages d'articles dans les fiches MT"
Lors de l'extraction des articles cités dans les fiches MT, nous avons parfois des plages d'articles, par exemple : `L. 613-19 à L.613-19-2`
Nous devrions interpréter ces plages pour identifier chaque article référencé.

[2020-03-24 18:30] UnbearableBear commented on #2520
solved in https://github.com/SocialGouv/code-du-travail-numerique/pull/2523

[2020-03-24 18:30] #2520 closed, assigned to lionelB

[2020-03-24 18:30] UnbearableBear commented on #2519
solved in https://github.com/SocialGouv/code-du-travail-numerique/pull/2523

[2020-03-24 18:30] #2519 closed, assigned to UnbearableBear

[2020-03-25 08:38] #2223 closed, assigned to rmelisson

[2020-03-25 08:38] #2365 closed, assigned to rmelisson

[2020-03-25 10:17] revolunet commented on #1849
- publier régulièrement le datafiller sur npm

[2020-03-25 11:01] virginielastisneres opened #2528 "Récupérer les encarts "avertissement" présents dans les fiches SP"
### Problème
Le gouvernement va sortir des ordonnances qui vont notamment impacter le droit du travail. Les fiches SP anticipent déjà bien ca en mettant un encart d'alerte sur leur fiche impactée.
Exemple ici =>>> https://www.service-public.fr/particuliers/vosdroits/F3053
Malheureusement ces encarts d'alerte ne sont pas repris sur le cdtn  dans nos fiches => https://code.travail.gouv.fr/fiche-serv

[2020-03-25 14:16] UnbearableBear commented on #2528
closed with #2530

[2020-03-25 14:16] #2528 closed, assigned to UnbearableBear

[2020-03-25 16:28] rmelisson commented on #2262
Recherche dans les logs :
- Multiple feedbacks négatifs pour le même contenu
- Utilisation du "plus de résultats"
- Mauvais score NDCG
- Sélection dans les résultats additionnels (position plus de 10)
- 0 clics sur résultats "hauts"
- Pas de résultats

Ces résultats seront inclus dans le rapport d'analyse de log de la semaine prochaine.

[2020-03-25 16:29] rmelisson commented on #2480
à présenter à l'équipe lundi

[2020-03-26 14:41] virginielastisneres commented on #2450
Idem dans pour cette page :
![Screenshot_20200326-152756](https://user-images.githubusercontent.com/48682104/77659255-1f4b2b00-6f78-11ea-8a5d-ec942765387b.png)

La solution peut elle régler le problème pour toutes les images de ce type (j'ai l'impression que c'est que sur les fiches MT) ou devons-nous faire une liste de toutes les fiches MT qui ont ce problème ?

[2020-03-26 14:50] virginielastisneres opened #2533 "Améliorer le texte de la modale "contact""
Depuis une 10aine de jours nous avons une recrudescence des mails envoyés à l'adresse du cdtn qui concernent à 90% des questions de droit du travail lié au coronavirus.

Cette recrudescence suggère que notre modale Contact n'est pas assez claire concernant le fait que nous traitons pas des questions de droit du travail. Cette situation n'est vraiment pas optimale pour les usagers qui n'ont pas du

[2020-03-26 15:08] mquandalle commented on #2450
Non normalement la ligne de CSS de mon message initial permet de résoudre le problème systématiquement.